.ons-back-to-top {
    &__description {
        margin-left: 0.25rem;
    }

    &__enabled {
        background: none;
        width: fit-content;
        padding: 0.5rem 0;
    }

    &__sticky {
        bottom: -1px;
        position: fixed;
        z-index: 10;
        background: var(--ons-color-grey-15);
        width: 100%;
        height: fit-content;
        left: 0;

        > .ons-back-to-top__link {
            width: 100%;
            padding: 0.7em 0;
            position: relative;
            display: block;
            color: var(--ons-color-black);

            &:focus {
                box-shadow: none;
                text-decoration: underline solid var(--ons-color-text-link-focus) 4px;
            }
        }
    }
}
