.ons-back-to-top {

  color: var(--ons-link-color);

  &__enabled {
    background: none;
  }

  &__sticky {
    
    bottom: -1px;
    position:fixed;
    z-index: 10;
    margin: 0;

    > .ons-grid > .ons-grid__col > .ons-back-to-top__link {
      background: var(--ons-color-grey-5);
      display:block;
      left : 0;
    }

  }


  &__hidden {
    opacity: 0;
    pointer-events: none;
  }
}


