.ons-back-to-top {

  &__enabled {
    @extend .ons-container;
    background: none;
    padding-bottom: 1em;
    width: fit-content;

    > a {
      
      padding: 0;
      display: block;
      width: auto;
    }
  }

  &:focus {
    outline: none;
  }

  &__sticky {
    bottom: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: var(--ons-color-grey-15);
    left: 0;
    height: 2em;

    > a {
      @extend .ons-container;
      display: block;
      height: 90%;
      color: var(--ons-color-grey-7);
    }
  }
}
