{% from "components/icon/_macro.njk" import onsIcon %}

{% macro onsBackToTop(params) %}
    <div class="ons-back-to-top ons-js-back-to-top ons-back-to-top__enabled">
        <a href="#{{ params.anchor | default('top') }}" class="ons-back-to-top__link">
            <span>
                {{-
                    onsIcon({
                        "iconType": 'arrow-up',
                        "iconSize": 'xs'
                    })
                -}}
                <span class="ons-back-to-top__description">{{ params.description | default('Back to top') }}</span>
            </span>
        </a>
    </div>
{% endmacro %}
