{% from "components/icon/_macro.njk" import onsIcon %}

{% macro onsBackToTop() %}
    <div class="ons-back-to-top ons-js-btt ons-back-to-top__enabled">
        <div class="ons-grid--flex">
            <div class="ons-grid__col">
                <a href="#top" class="ons-back-to-top__link">
                    <span>↥</span>
                    <span>Back to top</span>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
