{% from "components/icon/_macro.njk" import onsIcon %}

{% macro onsBackToTop() %}
    <div class="ons-back-to-top">
        <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-top ons-grid--align-mid">
            <div class="ons-grid__col ons-col-auto ons-u-flex-no-grow ons-u-flex-no-shrink">
                <a href="#top" class="ons-back-to-top__link">
                    <span>↥ </span>
                    <span>Back to top</span>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
