{% from "components/button/_macro.njk" import onsButton %}
<div class="ons-btn-group">
    {{
        onsButton({
            "type": 'button',
            "text": 'Continue',
            "classes": 'ons-btn-group__btn'
        })
    }}

    {{
        onsButton({
            "type": 'button',
            "text": 'Cancel',
            "classes": 'ons-btn--secondary btn-group__btn'
        })
    }}
</div>
