{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "number",
        "type": "number",
        "width": "2",
        "autocomplete": "off",
        "attributes": {
            "min": 0
        },
        "label": {
            "text": "Number of bedrooms"
        }
    })
}}
{{
    onsInput({
        "id": "prefixed",
        "type": "number",
        "width": "6",
        "autocomplete": "off",
        "label": {
            "text": "Your annual salary before taxes"
        },
        "prefix": {
            "text": "£",
            "title": "British pounds (GBP)",
            "id": "annual-salary-gpb-prefix"
        }
    })
}}
{{
    onsInput({
        "id": "suffixed-percent",
        "type": "number",
        "width": "3",
        "autocomplete": "off",
        "label": {
            "text": "People with internet access"
        },
        "suffix": {
            "title": "per cent",
            "text": "%",
            "id": "internet-access-per-cent-suffix"
        }
    })
}}
{{
    onsInput({
        "id": "suffixed-centimetres",
        "type": "number",
        "width": "4",
        "autocomplete": "off",
        "label": {
            "text": "Length",
            "description": "For example enter 1250 for 12.5m"
        },
        "suffix": {
            "title": "centimetres",
            "text": "cm",
            "id": "length-cm-suffix"
        }
    })
}}
