{% from "components/button/_macro.njk" import onsButton %}
{{
    onsButton({
        "type": 'button',
        "text": 'Submit',
        "classes": 'ons-btn--disabled',
        "attributes": {
            "disabled": "true"
        }
    })
}}
