---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% set page = { 
    "title": "Ainm na seirbhíse",
    "language": {
        "languages": [
            {
                "url": "/patterns/language-selection/examples/many-languages",
                "ISOCode": "en-GB",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "current": false
            },
            {
                "url": "/patterns/language-selection/examples/many-languages/cy.html",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "current": false
            },
            {
                "url": "/patterns/language-selection/examples/many-languages/ga.html",
                "ISOCode": "ga",
                "text": "Gaeilge",
                "buttonAriaLabel": "Roghnóir teanga. Teanga reatha: Gaeilge",
                "chooseLanguage": "Roghnaigh teanga",
                "current": false
            },
            {
                "url": "/patterns/language-selection/examples/many-languages/sco.html",
                "ISOCode": "sco",
                "text": "Ulstèr-Scotch",
                "buttonAriaLabel": "Leid selectgor. Current leid: Ulstèr-Scotch",
                "chooseLanguage": "Wale leid",
                "current": true
            }
        ]
    },
    "footer": {
        "rows": [
            {
                "items": [
                    {
                        "text": "Cuir fios thugainn",
                        "url": "#"
                    },
                    {
                        "text": "Briosgaidean is prìobhaideachd",
                        "url": "#"
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": "Tha an t-susbaint gu lèir ri fhaighinn fo",
            "link": "cheadachas an Riaghaltais Fhosgailte v3.0",
            "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
            "post": ", ach a-mhàin far a bheil a chaochladh air a ràdh"
        }
    }
} %}

{% block content %}
{% endblock %}
