---
"theme": census
"fullWidth": true
---
{% from "components/hero/_macro.njk" import onsHero %}
{{
    onsHero({
        censusTheme: true,
        censusThemeDark: true,
        title: 'Get prepared for Census 2021',
        text: 'Census 2021 is taking place in March 2021.',
        image: {
            src: '/img/hero/',
            filename: 'hero-man.png',
            alt: 'Man in a multi-coloured setting'
        }
    })
}}
