<nav class="breadcrumb" aria-label="{{params.ariaLabel}}">
    <ol class="breadcrumb__items">
        {% for item in params.items %}
            <li class="breadcrumb__item u-fs-s{{ ' icon--breadcrumb' if loop.index < loop.length }}{{ '  breadcrumb__item--current' if item.current }}">
                {% if item.current %} 
                    {{ item.text }}
                {% else %}
                    <a href="{{ item.url }}" class="breadcrumb__link">{{ item.text }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
