---
"theme": census
"fullWidth": true
---
{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{{-
    onsCallToAction({
        "headingText": 'Ready to start your census?',
        "paragraphText": 'You’ll need the access code from the letter we sent you.',
        "button": {
            "text": 'Start census',
            "url": '#0'
        }
    })
}}
