---
"fullWidth": true
"theme": census
---

{% from "components/promotional-banner/_macro.njk" import onsPromoBanner %}

{% call
    onsPromoBanner({
        "darkTheme": true,
        "image": {
            "src": '/img/census-landscape.svg'
        }
    })
%}

<h2 class="ons-u-fs-xl">Why students should take part in the census</h2>
    
<p>The census is a survey that happens every 10 years and gives us a picture of all the people and households in England and Wales.</p>

<p>The information you give in the census makes sure your student community gets the services it needs. This includes things like university campus bus links and bike lanes, jobs and training.</p>

<p>Your answers to the census will only be used for statistical purposes and personal census information cannot be used by government.</p>

<p>Census Day is <strong>Sunday 21 March 2021</strong>.</p>

<p><a href="#0">Find out more about census</a></p>

{% endcall %}
