{% from "components/video/_macro.njk" import onsVideo %}
{{
    onsVideo({
        "videoEmbedUrl": 'https://www.youtube.com/embed/_EGJlvkgbPo',
        "coverImage": '/patternlib-img/youtube-example-cover.png',
        "title": 'Census 2021 promotional TV advert',
        "linkText": 'Watch "Census 2021 promotional TV" on Youtube'
    })
}}
