{% from "components/typeahead/_macro.njk" import onsTypeahead %}

{{ onsTypeahead({
    "id": "country-of-birth",
    "label": {
        "text": "Enter the current name of the country"
    },
    "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
    "content": {
        "aria_you_have_selected": "You have selected",
        "aria_min_chars": "Type in 2 or more characters for suggestions.",
        "aria_one_result": "There is one suggestion available.",
        "aria_n_results": "There are {n} suggestions available.",
        "aria_limited_results": "Results have been limited to 10 suggestions. Type more characters to refine your search.",
        "more_results": "Continue typing to refine suggestions",
        "results_title": "Suggestions"
    },
    "autocomplete": "off",
    "apiUrl": "https://ons-typeahead-prototypes.herokuapp.com/country-of-birth"
}) }}
