$details-caret-width: 1.1rem;

.details {
  &__summary {
    display: inline-block;
    position: relative;
    outline: none;
    pointer-events: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__heading {
    // Required for Google Tag Manager
    pointer-events: none;
  }

  &__title {
    transform: translateY(-1px);
    pointer-events: none;
  }

  &--initialised & {
    &__summary {
      padding: 0 0 0 ($details-caret-width + 0.4rem);
      color: $color-links;
      cursor: pointer;
      pointer-events: initial;

      &:hover,
      &:focus {
        color: $color-links-hover;

        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:focus {
        outline: 3px solid $color-focus;
        outline-offset: 3px;
      }

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0.25rem;
        left: 0;
        width: $details-caret-width;
        height: $details-caret-width;

        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: $details-caret-width $details-caret-width;
      }

      &:after {
        opacity: 0;
      }

      &:before {
        background-image: url(#{$static}/img/icons/icons--chevron-right-blue.svg);
      }

      &:after {
        background-image: url(#{$static}/img/icons/icons--chevron-right-blue-hover.svg);
      }
    }

    &__title {
      text-decoration: underline;
    }

    &__content {
      display: none;
    }
  }

  &--open & {
    &__summary {
      &:before,
      &:after {
        transform: rotate(90deg);
      }
    }

    &__content {
      display: block;
      margin: 1rem 0 0 0;
      padding: 0 0 0 1.3em;
      border-left: 5px solid $color-grey-3;
    }
  }

  &--accordion {
    margin: 0;
  }

  &--accordion & {
    &__summary {
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      border-top: 1px solid $color-borders;

      &:before,
      &:after {
        top: 1.1rem;
        @include mq(s) {
          top: 1.45rem;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      margin: 0 1rem 0 0;
    }

    &__btn {
      align-self: flex-start;
      width: auto;
    }
    &__content {
      margin: 0;
      border-left: 0;
      padding: 0;
    }
  }
}
