{% macro onsDetails(params) %}
    {% from "components/button/_macro.njk" import onsButton %}

    <details
        id="{{ params.id }}"
        class="details js-collapsible{% if params.isAccordion %} details--accordion{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}"
        open
        {% if params.button and params.button.close %} data-btn-close="{{ params.button.close }}"{% endif %}
        {% if params.group %} data-group="{{ params.group }}"{% endif %}
        {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
        {% if params.saveState %} data-save-state="true"{% endif %}
    >
        <summary 
            class="details__summary js-collapsible-summary"
            {% if params.summaryAttributes %}{% for attribute, value in (params.summaryAttributes.items() if params.summaryAttributes is mapping and params.summaryAttributes.items else params.summaryAttributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
        >
            {# Required to use display flex on Safari as it's not currently supported: https://bugs.webkit.org/show_bug.cgi?id=167111 #}
            <div class="details__heading">
                <span class="details__title u-fs-r--b">{{ params.title }}</span>
                {% if params.button and params.button.open and params.isAccordion %}
                    {{
                        onsButton({
                            "type": "button",
                            "text": params.button.open,
                            "classes": "details__btn btn--secondary btn--small js-collapsible-button u-d-no u-d-no@xs@s",
                            "innerClasses": "js-collapsible-button-inner",
                            "attributes": params.button.attributes
                        })
                    }}
                {% endif %}
            </div>
        </summary>
        <div id="{{ params.id }}-content" class="details__content js-collapsible-content">
            {% if params.isAccordion %}
                {{ params.content | safe }}{{ caller() if caller }}
            {% else %}
                {{ params.content | safe }}{{ caller() if caller }}
                {% if params.button and params.button.close and params.isAccordion != true %}
                    {{
                        onsButton({
                            "type": "button",
                            "text": params.button.close,
                            "buttonContext": (params.button.context | default(params.title)) + " " + params.button.contextSuffix,
                            "classes": "btn--small js-collapsible-button u-d-no " + (params.button.classes | default("btn--secondary")),
                            "innerClasses": "js-collapsible-button-inner",
                            "attributes": params.button.attributes
                        })
                    }}
                {% endif %}
            {% endif %}
        </div>
    </details>
{% endmacro %}
