
{% from "components/button/_macro.njk" import onsButton %}

<details id="{{ params.id }}" class="details js-collapsible{% if params.isAccordion %} details--accordion{% endif %}{% if params.classes %} {{ params.classes }}{% endif %}" open{%if params.buttonOpen %} data-btn-close="{{ params.closeButton }}"{% endif %}{% if params.group %} data-group="{{ params.group }}"{% endif %}{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <summary class="details__summary js-collapsible-summary" data-ga="click" data-ga-category="{% if params.isAccordion %}accordion{% else %}definition{% endif %}" data-ga-action="Open panel" data-ga-label="{{ params.title }}">
        <h2 class="details__title u-fs-r--b">{{ params.title }}</h2>
        {% if params.closeButton and params.buttonOpen and params.isAccordion %}
             {{
                onsButton({
                    "text": params.buttonOpen,
                    "classes": "details__btn btn--secondary btn--small js-collapsible-button u-d-no",
                    "attributes": {
                        "data-ga": "click",
                        "data-ga-category": "definition",
                        "data-ga-action": "Close panel",
                        "data-ga-label": params.title
                    }
                })
            }}
        {% endif %}
    </summary>
    <div id="{{ params.id }}-content" class="details__content js-collapsible-content">
        {{ params.content | safe }}{{ caller() if caller }}
        {% if params.closeButton and params.isAccordion != true %}
            {{
                onsButton({
                    "text": params.buttonOpen or params.closeButton,
                    "classes": "btn--small js-collapsible-button u-d-no " + (params.closeButtonClasses | default("btn--secondary")),
                    "attributes": {
                        "data-ga": "click",
                        "data-ga-category": "definition",
                        "data-ga-action": "Close panel",
                        "data-ga-label": params.title
                    }
                })
            }}
        {% endif %}
    </div>
</details>
