{% from "components/share/_macro.njk" import onsShareContent %}

{{
    onsShareContent({
        "title": "Share this post",
        "pageTitle": "A page to share",
        "pageURL": "https://example.com/a-page-to-share",
        "facebook": true,
        "twitter": true
    })
}}
