{% macro onsPagination(params) %}
  {% set currentPageIndex = "" %}
  {% for page in params.pages %}
      {% if page.current %}
          {% set currentPageIndex = loop.index %}
      {% endif %}
  {% endfor %}

  {% set totalPages = params.pages | length %}
  {% set position = "Page " + currentPageIndex + " of " + totalPages %}
  {% set lastPage = params.pages | last %}
  {% set firstPage = params.pages | first %}

  <nav class="ons-pagination {{ params.classes }}{% if params.hideRangeIndicator %} ons-pagination--no-indicator{% endif %}" aria-label="Pagination ({{ position }})">
      <div class="ons-pagination__position">{{ position }}</div>
      <ul class="ons-pagination__items">
          {% if currentPageIndex != 1 %}
              {% set prevPageIndex = currentPageIndex - 2 %}
              <li class="ons-pagination__item ons-pagination__item--previous">
                  <a href="{{ params.pages[prevPageIndex].url }}" class="ons-pagination__link" rel="prev" aria-label="Go to the previous page (Page {{ currentPageIndex - 1 }})">{{ params.previous }}</a>
              </li>
          {% endif %}
          {% if currentPageIndex > 2 %}
            <li class="ons-pagination__item{% if firstPage.current == true %} ons-pagination__item--current{% endif %}">
                <a href="{{ firstPage.url }}" class="ons-pagination__link" aria-label="Go to the first page (Page 1)">1</a>
            </li>
          {% endif %}
          {% if currentPageIndex > 4 %}
              <li class="ons-pagination__item ons-pagination__item--gap">&hellip;</li>
          {% endif %}
          {% for page in params.pages %}
              {% set showPage = false %}
              {# Show the current, next and previous page
              Show page 2 if the current page index is within the first 4 pages
              Show the penultimate page if the current page index is within the last 4 pages  #}
              {% if (loop.index == currentPageIndex) or (loop.index == currentPageIndex + 1) or (loop.index == currentPageIndex - 1) or (loop.index == 2 and currentPageIndex <= 4) or ((loop.index == totalPages - 1) and (currentPageIndex > totalPages - 4)) %}
                {% set showPage = true %}                    
              {% endif %}
              {% if showPage == true %}
                  <li class="ons-pagination__item{% if page.current == true %} ons-pagination__item--current{% endif %}">
                      <a href="{{ page.url }}" class="ons-pagination__link"
                          {%- if page.current -%}
                              aria-current="true" aria-label="Current page ({{ position }})"
                          {%- else -%}
                              aria-label="Go to page {{ loop.index }}"
                          {%- endif -%}
                          {%- if loop.index == currentPageIndex - 1 -%}
                              rel="prev"
                          {%- endif -%}
                          {%- if loop.index == currentPageIndex + 1 -%}
                              rel="next"
                          {%- endif -%}
                      >{{ loop.index }}</a>
                  </li>
              {% endif %}
          {% endfor %}
          {% if currentPageIndex < totalPages - 3 %}
              <li class="ons-pagination__item ons-pagination__item--gap">&hellip;</li>
          {% endif %}
          {% if currentPageIndex < totalPages - 1 %}
            <li class="ons-pagination__item{% if lastPage.current == true %} ons-pagination__item--current{% endif %}">
                <a href="{{ lastPage.url }}" class="ons-pagination__link" aria-label="Go to the last page (Page {{ totalPages }})">{{ totalPages }}</a>
            </li>
          {% endif %}
          {% if totalPages > 1 and totalPages != currentPageIndex %}
              <li class="ons-pagination__item ons-pagination__item--next">
                  <a href="{{ params.pages[currentPageIndex].url }}" class="ons-pagination__link" rel="next" aria-label="Go to the next page (Page {{ currentPageIndex + 1 }})">{{ params.next }}</a>
              </li>
          {% endif %}
      </ul>
  </nav>
{% endmacro %}
