{% from "components/pagination/_macro.njk" import onsPagination %}

{{
    onsPagination({
        "previous": "Previous",
        "next": "Next",
        "currentPageNumber": 5,
        "pages": [
            {
                "url": "#1"
            },
            {
                "url": "#2"
            },
            {
                "url": "#3"
            },
            {
                "url": "#4"
            },
            {
                "url": "#5"
            },
            {
                "url": "#6"
            },
            {
                "url": "#7"
            },
            {
                "url": "#8"
            },
            {
                "url": "#9"
            },
            {
                "url": "#10"
            },
            {
                "url": "#11"
            },
            {
                "url": "#12"
            },
            {
                "url": "#13"
            },
            {
                "url": "#14"
            },
            {
                "url": "#15"
            },
            {
                "url": "#16"
            },
            {
                "url": "#17"
            },
            {
                "url": "#18"
            },
            {
                "url": "#19"
            },
            {
                "url": "#20"
            },
            {
                "url": "#21"
            },
            {
                "url": "#22"
            },
            {
                "url": "#23"
            },
            {
                "url": "#24"
            },
            {
                "url": "#25"
            },
            {
                "url": "#26"
            },
            {
                "url": "#27"
            },
            {
                "url": "#28"
            },
            {
                "url": "#29"
            },
            {
                "url": "#30"
            },
            {
                "url": "#31"
            },
            {
                "url": "#32"
            },
            {
                "url": "#33"
            },
            {
                "url": "#34"
            },
            {
                "url": "#35"
            }
        ]
    })
}}
