---
title: Pagination
synonyms: Pager, Next, Previous
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Pagination is used to navigate a series of pages in a linear or semi-linear manner, allowing you to display a portion of information and avoid overwhelming the user with too much information.

## Variants

### Long pagination
{{
    patternlibExample({"path": "components/pagination/examples/pagination/index.njk"})
}}

### Long pagination (no range indicator)

The range indicator will be hidden on desktop, however it will still show on mobile as the page numbers don't show.
{{
    patternlibExample({"path": "components/pagination/examples/pagination-no-range-indicator/index.njk"})
}}

### Pager
{{
    patternlibExample({"path": "components/content-pagination/examples/content-pagination/index.njk"})
}}

## When to use this component

Pagination helps users to navigate between a large number of items that are distributed across multiple pages whenever there are too many items to show at once. This will be most useful in contexts such as table listings of data, search results, and directories.

What constitutes ‘too many’ for a user can be influenced by factors like:
{{
    onsList({
        "itemsList": [
            {
                "text": 'amount of data in each entry (consider and test cognitive load for users)'
            },
            {
                "text": 'system load times'
            },
            {
                "text": 'screen space'
            }
        ]
    })
}}

When the number of pages exceeds the maximum display limit, ellipsis (…) are used to truncate the remaining pages.

## How to use this component
If the pagination component sits inline with other content on the page, then the pagination should be left aligned.

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1384",
        "linkText": "Discuss the ‘Pagination’ component on GitHub"
    })
}}
