{% macro onsPanel(params) %}
    
    {% if params is defined and params and params.classes is defined and params.classes %}
        {% set classes  = ' ' + params.classes %}
    {% endif %}

    {% if params is not defined or params.title is not defined and params.type != "bare" %}
        {% set noTitleClass = ' panel--no-title' %}
    {% endif %}

    {% if params is defined and params and params.type is defined and params.type %}
        {% set typeClass = ' panel--' + params.type %}
        {% if isPatternLib is defined and isPatternLib %}
            {% set errorJsClass = ' js-error-panel' %}
        {% endif %}
    {% else %}
        {% set typeClass = ' panel--info' %}
    {% endif %}

    {% if params is defined and params and params.spacious is defined and params.spacious %}
        {% set spaciousClass = ' panel--spacious' %}
    {% endif %}

    {% if params is defined and params and params.type == "warn-branded" %}
    <div class="census-warning">
        <div class="container">
    {% endif %}

        <div class="panel{{ typeClass }}{{ iconClass }}{{ noTitleClass }}{{ spaciousClass }}{{ errorJsClass }}{{ classes }}"{% if params is defined and params and params.attributes is defined and params.attributes %}{% for attribute, value in (params.attributes.items() if params is defined and params and params.attributes is mapping and params.attributes.items is defined and params.attributes.items else params.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}{% if params is defined and params and params.id is defined and params.id %} id="{{params.id}}"{% endif %}>
            
            {% if params is defined and params and params.type == "warn" or params.type == "warn-branded" %}
                <span class="panel__icon" aria-hidden="true">!</span>
            {% endif %}

            {% if params is defined and params and params.title is defined and params.title %}
                {% set titleTag = params.titleTag | default("div") %}
                <div class="panel__header">
                    <{{ titleTag }} {% if params is defined and params and params.type is defined and params.type %}data-qa="{{ params.type }}-header"{% endif %} class="panel__title u-fs-r--b">{{ params.title | safe }}</{{ titleTag }}>
                </div>
            {% endif %}

            {% if params is defined and params and params.icon is defined and params.icon %}
                {% from "components/icons/_macro.njk" import onsIcon %}
                <span class= "panel__icon u-fs-{{ params.iconSize }}">
                    {{
                        onsIcon({
                            "icon": params.icon,
                            "iconSize": params.iconSize
                        })
                    }}
                </span>
            {% endif %}

            <div class="panel__body{% if params is defined and params and params.iconSize is defined and params.iconSize %} svg-icon-margin--{{ params.iconSize }}{% endif %}" {% if params is defined and params and params.attributes is defined and params.attributes %}{% for attribute, value in (params.attributes.items() if params is defined and params and params.attributes is mapping and params.attributes.items is defined and params.attributes.items else params.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}>{{ (params.body if params else "") | safe }}
                {{ caller() if caller }}
            </div>
            
        </div>

    {% if params is defined and params and params.type == "warn-branded" %}
        </div>
    </div>
    {% endif %}

{% endmacro %}
