@mixin panel_type($name, $color, $color-bg) {
  .panel--#{$name} {
    background: $color-bg;
    .panel__header {
      background: $color;
    }
  }
  .panel--simple {
    &.panel--#{$name} {
      border-color: $color;
    }
    .panel__header {
      color: $color-black;
    }
  }
}

.panel {
  border-radius: 0;

  /* Removes inherited bottom margin to make whitespace inside panel equal */
  > *:last-child {
    margin-bottom: 0;
  }
}

.panel__header {
  color: $color-white;
  margin: 0;
  padding: 0.75rem 1rem;
  border-radius: 0;
}

.panel__title {
  margin: 0;
}

.panel__body {
  padding: 1rem;
  /* Removes inherited bottom margin to make whitespace inside panel equal */
  > *:last-child {
    margin-bottom: 0;
  }
}

@include panel_type(error, $color-errors, $color-errors-tint);
@include panel_type(success, $color-success, $color-success-tint);
@include panel_type(info, $color-info, $color-info-tint);

.panel--simple {
  border: none;
  border-left: 8px solid transparent;
  color: $color-black;
  padding: 1rem;
  .panel__header {
    background: none;
    padding: 0 0 1rem;
  }
  .panel__body {
    background: none;
    padding: 0;
  }
}

.panel--spacious {
  padding: 1rem;
  @include mq(m) {
    padding: 2rem;
  }
}
