@mixin panel-type($name, $color, $color-bg) {
  .panel {
    &--#{$name} {
      border-color: $color;
      background: $color-bg;
    }

    &--#{$name} & {
      &__header {
        background: $color;
      }
    }
  }
}

.census-warning {
  background: $color-branded-tertiary;
}

.announcement {
  background-color: $color-black;
}

.panel {
  position: relative;
  border-radius: 0;

  // Removes inherited bottom margin to make whitespace inside panel equal
  > *:last-child {
    margin-bottom: 0;
  }

  & .field {
    margin-bottom: 0;
  }

  &:focus {
    outline: 4px solid $color-focus !important;
    outline-offset: 0;
    box-shadow: none;
  }

  &__header {
    margin: 0;
    padding: 0.75rem 1rem;
    border-radius: 0;
    color: $color-white;
  }

  &__title {
    margin: 0;
  }

  &__body {
    padding: 1rem;

    // Removes inherited bottom margin to make whitespace inside panel equal
    > *:last-child,
    strong > *:last-child {
      margin-bottom: 0;
    }

    &.svg-icon-margin--xxl {
      padding-left: 3.3rem !important;
    }
    &.svg-icon-margin--xl {
      padding-left: 2.8rem !important;
    }
    &.svg-icon-margin--l {
      padding-left: 2.5rem !important;
    }
    &.svg-icon-margin--m {
      padding-left: 2.2rem !important;
    }
    &.svg-icon-margin--s {
      padding-left: 1.4rem !important;
    }
  }

  &__error {
    color: $color-errors;
  }

  &--warn {
    margin-bottom: 1rem;
    padding: 0;
    border: 0 !important;

    &--footer {
      margin-bottom: 0;
      padding: 1rem 0 !important;
      background-color: $color-grey-4 !important;
    }
  }

  &--warn-branded,
  &--announcement {
    border: 0 !important;
    margin-bottom: 0;
    color: $color-white;
    padding: 1rem 0 !important;
    a {
      color: inherit;
      text-decoration: underline solid $color-white 1px;
    }
    a:hover {
      text-decoration-thickness: 2px;
    }
  }

  &--announcement {
    a:focus {
      box-shadow: 0 -2px #fd0, 0 4px #fd0 !important; // Override focus style because the black border is not visible on a black background
    }
  }

  &--no-title {
    padding: 1rem;
    border-left: 8px solid transparent;
    .panel__body {
      padding: 0;
      background: none;
    }
    &.panel--warn {
      padding: 0;
    }
  }

  &--spacious {
    padding: 1rem;

    @include mq(m) {
      padding: 2rem;
    }
  }

  &--warn &,
  &--warn-branded & {
    &__body {
      padding: 0.222rem 0 0.222rem 2.8rem; // Alignment tweak
      min-height: 2rem; // Height of icon
      font-weight: $font-weight-bold;
    }
    &__icon {
      min-width: 2rem;
      min-height: 2rem;
      border-radius: 50%;
      background: $color-black;
      color: $color-white;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 2rem;
      text-align: center;
    }
  }

  &--announcement & {
    &__body div > *:last-child {
      margin-bottom: 0;
    }
  }

  &--warn-branded & {
    &__icon {
      background-color: $color-white;
      color: $color-branded-tertiary;
    }
  }

  &--success & {
    &__icon {
      padding-left: 1rem;
      fill: $color-success;
      .svg-icon {
        margin-top: -15% !important;
      }
    }
    &__body {
      padding-left: 1.8rem;
    }
  }

  &--bare & {
    &__icon {
      width: 1.3rem;
      height: 1.3rem;
    }
    &__body {
      padding: 0.1rem 0 0 1.5rem;
    }
  }

  &--bare,
  &--success,
  &--warn,
  &--warn-branded {
    .panel__icon {
      position: absolute;
    }
  }
  &--success {
    .panel__icon {
      left: 0;
    }
  }
}

@include panel-type(error, $color-errors, $color-errors-tint);
@include panel-type(success, $color-success, $color-success-tint);
@include panel-type(info, $color-info, $color-info-tint);
@include panel-type(branded, $color-branded, $color-branded-tint);
@include panel-type(warn, $color-white, $color-white);
@include panel-type(warn-branded, $color-branded-tertiary, $color-branded-tertiary);
@include panel-type(announcement, $color-black, $color-black);
