@mixin panel-type($name, $color, $color-bg) {
  .panel {
    &--#{$name} {
      border-color: $color;
      background: $color-bg;
    }

    &--#{$name} & {
      &__header {
        background: $color;
      }
    }
  }
}

.panel {
  border-radius: 0;

  /* Removes inherited bottom margin to make whitespace inside panel equal */
  > *:last-child {
    margin-bottom: 0;
  }

  &__header {
    margin: 0;
    padding: 0.75rem 1rem;
    border-radius: 0;
    color: $color-white;
  }

  &__title {
    margin: 0;
  }

  &__body {
    padding: 1rem;
    /* Removes inherited bottom margin to make whitespace inside panel equal */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__error {
    color: $color-errors;
  }

  &--simple {
    padding: 1rem;
    border: 0;
    border-left: 8px solid transparent;
    color: $color-black;
  }

  &--simple & {
    &__header {
      padding: 0 0 1rem;
      background: none;
    }

    &__body {
      padding: 0;
      background: none;
    }
  }

  &--spacious {
    padding: 1rem;

    @include mq(m) {
      padding: 2rem;
    }
  }

  &--warn & {
    &__icon {
      color: #fff;
      font-weight: 900;
      display: inline-block;
      position: absolute;
      left: 0;
      min-width: 35px;
      min-height: 29px;
      margin-top: -4px;
      margin-left: 0.5rem;
      border: 3px solid #0b0c0c;
      border-radius: 50%;
      color: #fff;
      background: #0b0c0c;
      font-size: 26px;
      line-height: 29px;
      text-align: center;
    }
  }
}

@include panel-type(error, $color-errors, $color-errors-tint);
@include panel-type(success, $color-success, $color-success-tint);
@include panel-type(info, $color-info, $color-info-tint);
@include panel-type(branded, $color-branded, $color-branded-tint);
@include panel-type(warn, $color-white, $color-white);
