{% from "components/panel/_macro.njk" import onsPanel %}

{%
    call onsPanel({
        "variant": 'bare',
        "iconType": 'lock'
    })
%}
    <p>Here is some text with an icon</p>
{% endcall %}
