---
title: Panel
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

Panels are used to draw information to the attention of the user.

## Variants

### Information
{{
    patternlibExample({"path": "components/panel/examples/information/index.njk"})
}}

### Warning
{{
    patternlibExample({"path": "components/panel/examples/warn/index.njk"})
}}

### Warning with countdown
{{
    patternlibExample({"path": "components/timeout-panel/examples/warn/index.njk"})
}}

### Warning branded
This example is a warning variant designed only for the census respond phase. It is to warn users that they must complete the census by law.
{{
    patternlibExample({"path": "components/panel/examples/warn-branded/index.njk"})
}}

### Announcement
This example is an important announcement.
{{
    patternlibExample({"path": "components/panel/examples/announcement/index.njk"})
}}

### Success
This example uses the `iconType` parameter to show the check icon in the panel. The size of the icon can be set to match the size of the font used in the panel.

There is specific guidance on [how to set the size of an icon](/foundations/icons#icon-size).
{{
    patternlibExample({"path": "components/panel/examples/success/index.njk"})
}}

### Error
There are two types of panel for errors:
- error summary
- error details

There is specific guidance on [how to correct errors](/patterns/correct-errors).

#### Error summary
{{
    patternlibExample({"path": "components/panel/examples/error-header/index.njk"})
}}

#### Error details
{{
    patternlibExample({"path": "components/panel/examples/error/index.njk"})
}}

### Spacious
The spacious variant can be used on all inline variants.
{{
    patternlibExample({"path": "components/panel/examples/information-spacious/index.njk"})
}}

### Branded - census
{{
    patternlibExample({"path": "components/panel/examples/branded/index.njk"})
}}

### Bare
The bare variant is used to show text next to an icon. This is used in the [access codes pattern](/patterns/access-codes).

There is specific guidance on [how to use the available set of icons](/foundations/icons).
{{
    patternlibExample({"path": "components/panel/examples/bare/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/49",
        "linkText": "Discuss the ‘Panel’ component on GitHub"
    })
}}
