---
title: Panel
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
Panels are used to draw information to the attention of the user.

## Variants

### Information
{{
    patternlibExample({"path": "components/panel/examples/information/index.njk"})
}}

### Success
{{
    patternlibExample({"path": "components/panel/examples/success/index.njk"})
}}

### Error
There are two panel types for errors; error with header and error. See the [correct error pattern](/patterns/error-validation) for further context and implementation.

#### Error with header
Used to provide feedback to the user that something is in an error state. This can range from input validation errors to server downtime. 
Content should be descriptive of the error and always direct the user towards a resolution.
{{
    patternlibExample({"path": "components/panel/examples/error-header/index.njk"})
}}

#### Error
{{
    patternlibExample({"path": "components/panel/examples/error/index.njk"})
}}

### Spacious
The spacious variant can be used on all inline variants.
{{
    patternlibExample({"path": "components/panel/examples/information-spacious/index.njk"})
}}

### Branded - census
{{
    patternlibExample({"path": "components/panel/examples/branded/index.njk"})
}}

## Research on this component
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
   <p>If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/49" target="_blank">Design System forum</a>.</p>
{% endcall %}

## Design System forum 
[Discuss 'Panel' on GitHub](https://github.com/ONSdigital/design-system/issues/49)
