---
title: Panel
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Panels are used to draw information to the attention of the user.

## Variants

### Information
{{
    patternlibExample({"path": "components/panel/examples/information/index.njk"})
}}

### Warning
{{
    patternlibExample({"path": "components/panel/examples/warn/index.njk"})
}}

### Warning branded
This example is a warning variant designed only for the census respond phase. It is to warn users that they must complete the census by law.
{{
    patternlibExample({"path": "components/panel/examples/warn-branded/index.njk"})
}}

### Announcement
This example is an important announcement.
{{
    patternlibExample({"path": "components/panel/examples/announcement/index.njk"})
}}

### Success
This example also has the icon param set to show the tick in the content of the panel.
{{
    patternlibExample({"path": "components/panel/examples/success/index.njk"})
}}

### Error
There are two panel types for errors; error with header and error. See the [correct errors](/patterns/error-validation) pattern for further context and implementation.

#### Error with header
Used to provide feedback to the user that something is in an error state. This can range from input validation errors to server downtime.
Content should be descriptive of the error and always direct the user towards a resolution.
{{
    patternlibExample({"path": "components/panel/examples/error-header/index.njk"})
}}

#### Error
{{
    patternlibExample({"path": "components/panel/examples/error/index.njk"})
}}

### Spacious
The spacious variant can be used on all inline variants.
{{
    patternlibExample({"path": "components/panel/examples/information-spacious/index.njk"})
}}

### Branded - census
{{
    patternlibExample({"path": "components/panel/examples/branded/index.njk"})
}}

### Bare
The bare variant is used to show plain text next to an icon. This is used in the access code pattern.
{{
    patternlibExample({"path": "components/panel/examples/bare/index.njk"})
}}

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/49",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/49",
        "linkText": "Discuss 'Panel' on GitHub"
    })
}}
