---
"title": Typography
---
<p class="u-fs-r--b u-mt-l">Contents</p>
{% from "styles/lists/src/_macro.njk" import onsList %}
{{ 
    onsList({
        "classes": 'list--bare',
        "items": [
            {
                "text": 'Font'
            },
            {
                "text": 'Headings'
            },
            {
                "text": 'Paragraphs'
            },
            {
                "href": '#lists',
                "text": 'Lists'
            }
        ]
    })
}}
## Lists
Use lists to break up blocks of text into concise, manageable chunks to make it easier to read.

### Bulleted list (default)
Bulleted lists should be introduced with a lead-in line, ending in a colon.

Each item in the list should start with a lowercase letter and should not end with a full stop.
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample("styles/lists/examples/list/index.njk")
}}

### Variants

#### Numbered list
Numbered lists should be displayed in place of bulleted lists when the order of items is relevant.

Each list item should be a complete sentence, therefore start with an uppercase letter, and end with a full stop.

You do not need to introduce a numbered list with a lead-in line.
{{
    patternlibExample("styles/lists/examples/list-ordered/index.njk")
}}

#### Bare list
Bare lists should be used to display a list of navigational links, for example, a group of related pages displayed in the [footer](components/footer).
{{
    patternlibExample("styles/lists/examples/list-bare/index.njk")
}}

#### Inline list
Inline lists should be used to display a horizontal row of links, for example, a list of pages displayed in the [transactional footer](components/footer#transactional).
{{
    patternlibExample("styles/lists/examples/list-inline/index.njk")
}}

#### Errors list
Used within the [error details panel](http://localhost:3010/patterns/error-validation#error-details) to display a list error messages for each erroneous field in a fieldset.
{{
    patternlibExample("styles/lists/examples/list-errors/index.njk")
}}

#### Boxed list
Used to display a code split into manageable chunks, for example, a reference code to quote during a helpdesk call.
{{
    patternlibExample("styles/lists/examples/list-boxes/index.njk")
}}
