---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}

{% set pageConfig = {
    "title": "Survey title",
    "absoluteUrl": pageInfo.url,
    "signoutButton": {
        "text": 'Save and sign out',
        "buttonStyle": 'exit'
    },
    "header": {
        "logoHref": "#0",
        "mobileLogo": 'ons-logo-stacked-en'
    },
    "breadcrumbs": {
        "ariaLabel": 'Previous',
        "itemsList": [
            {
                "url": '/',
                "id": "previous",
                "text": 'previous'
            }
        ]
    },
    "footer": {
    }
} %}
{% block main %}
    {% call onsQuestion({
        "title": "You selected “Other ethnic group”. How would you describe your ethnic group or background?",
        "classes": "u-mt-no",
        "legendIsQuestionTitle": true
    }) %}
        {{ onsAutosuggest({
            "id": "ethnicity",
            "label": {
                "text": "Other ethnic group or background",
                "description": "Enter your own answer or select from suggestions",
                "id": "ethnicity-label"
            },
            "autocomplete": "off",
            "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
            "ariaYouHaveSelected": "You have selected",
            "ariaMinChars": "Enter 3 or more characters for suggestions.",
            "ariaResultsLabel": "Ethnic suggestions",
            "ariaOneResult": "There is one suggestion available.",
            "ariaNResults": "There are {n} suggestions available.",
            "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
            "moreResults": "Continue entering to improve suggestions",
            "resultsTitle": "Suggestions",
            "autosuggestData": "https://gist.githubusercontent.com/rmccar/365c45743bb860dc2619f1bdbe32781d/raw/4353c3be5f63ea9c4fe330a24cc8ad8c97258ef7/ethnic-groups-all.json",
            "noResults": "No suggestions found. You can enter your own answer",
            "typeMore": "Continue entering to get suggestions"
        }) }}
    {% endcall %}
    {{
        onsButton({
            "text": "Save and continue",
            "classes": "u-mt-m"
        })
    }}
{% endblock %}
