---
title: Punctuation principles
sortOrder: 2
group: Content guides
---

+++
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
+++

Punctuation needs to be consistent and minimal so it does not slow users down. This is important when there are many questions for a user to answer on a survey or questionnaire.

Use the following punctuation guidance for survey content:

## When to use full stops

Use full sentences with full stops for any of the following content:
{{
    onsList({
        "itemsList": [
          {
            "text": 'interstitial, start, confirmation or submission pages on surveys'
          },
          {
              "text": 'any normal body text'
          },
          {
              "text": 'content within accordions'
          }
        ]
    })
}}

## When not to use full stops
Do not use full stops for:
{{
    onsList({
        "itemsList": [
          {
            "text": 'survey question descriptions'
          },
          {
              "text": 'panels (includes warning, padlock and thank you panels)'
          },
          {
              "text": 'question headers (all questions should only ever end in a question mark, even if multiple sentences)'
          },
          {
              "text": 'answer labels'
          },
          {
              "text": 'answer descriptions'
          },
          {
              "text": 'error messages'
          },
          {
              "text": 'error summaries'
          }
        ]
    })
}}

+++
{% call onsPanel({
    "classes": 'ons-u-mb-m'
    })
%}
    <p><strong>Exception:</strong> Do use full stops if there are multiple sentences and/or multiple paragraphs.</p>
{% endcall %}
+++

## Hyperlinks
Do not include full stops inside hyperlinks if they come at the end of a sentence.

If the hyperlink is an email address, try to put it at the end of a paragraph and do not use a full stop. This makes it easier for the user to copy and paste the email address.

Do not use a full stop if you are ending a sentence using an [external link](/foundations/typography#external-links).

There is {{
    onsExternalLink({
        "url": "https://style.ons.gov.uk/category/house-style/punctuation/",
        "linkText": "more detail about punctuation on Style.ONS"
    })
}}
