{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "icon": 'check',
        "iconSize": 'xxxl',
        "body": '<h1 class="ons-u-fs-xxxl">ons-u-fs-xxxl</h1>'
    })
}}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "icon": 'check',
        "iconSize": 'xxl',
        "body": '<h1 class="ons-u-fs-xxl">ons-u-fs-xxl</h1>'
    })
}}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "icon": 'check',
        "iconSize": 'xl',
        "body": '<h1 class="ons-u-fs-xl">ons-u-fs-xl</h1>'
    })
}}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "icon": 'check',
        "iconSize": 'l',
        "body": '<h1 class="ons-u-fs-l">ons-u-fs-l</h1>'
    })
}}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "icon": 'check',
        "iconSize": 'm',
        "body": '<h1 class="ons-u-fs-m">ons-u-fs-m</h1>'
    })
}}
{{
    onsPanel({
        "type": 'success',
        "id": 'success-id',
        "icon": 'check',
        "iconSize": 's',
        "body": '<h1 class="ons-u-fs-s">ons-u-fs-s</h1>'
    })
}}
