---
title: 'Example: Survey interstitial page'
layout: ~
---

{% extends "layout/_template.njk" %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{%
    set pageConfig = {
        "header": {
            "title": "Service name"
        },
        "footer": {
            "rows": [
                {
                    "itemsList": [
                        {
                            "text": "Accessibility",
                            "url": "#0"
                        },
                        {
                            "text": "Privacy",
                            "url": "#0"
                        }
                    ]
                }
            ]
        }
    }
%}

{% block main %}
    <div class="ons-page__body">
        <h1 class="ons-u-fs-xxl">People who live in this household at 69 Abingdon Road, Goathill</h1>

        <p>
            In this section, we are counting the people in this household at 68 Abingdon Road, Goathill on
            <strong>Sunday 21 March 2021.</strong>
        </p>

        {%
            call onsDetails({
                "id": "survey-interstitial-page-use-details",
                "classes": "ons-u-mb-s",
                "title": 'What we mean by "this household"',
                "titleTag": "h4",
                "button": {
                    "close": "Hide this"
                }
            })
        %}
            <p>Some content can be written here</p>
        {% endcall %}

        <h3>You will need to know</h3>
        {{
            onsList({
                "itemsList": [
                    {
                        "text": '<p>names of people living in this household, including anyone currently away</p>'
                    },
                    {
                        "text": '<p>names of visitors staying overnight in this household on 21 March 2021</p>'
                    }
                ]
            })
        }}
        <p>The Householder is responsible for ensuring that this questionnaire is completed and submitted.</p>

        {{
            onsButton({
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "text": 'Continue'
            })
        }}
    </div>
{% endblock %}
