{% from "components/button/_macro.njk" import onsButton %}
{{
    onsButton({
        "type": 'button',
        "text": 'Save answers as PDF',
        "buttonStyle": 'download',
        "url": '#0',
        "classes": 'btn--small'
    })
}}
