{% from "components/button/_macro.njk" import onsButton %}
{{
    onsButton({
        "text": 'Save answers as PDF',
        "url": '#0',
        "variants": ['download', 'small', 'secondary'],
        "removeDownloadAttribute": true
    })
}}
