{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "text-width",
        "classes": "ons-input--w-8",
        "autocomplete": "postal-code",
        "label": {
            "text": "Postcode"
        }
    })
}}
