---
layout: none
---
{% extends "layout/_template.njk" %}

{% set pageConfig = {
    "title": "Service name",
    "footer": {
    }
} %}

{% block main %}

    <h1>Sorry, you need to start again</h1>

    <p>You need to <a href="#0">start again</a> to request a new access code</p>

{% endblock %}
