{% from "components/content-pagination/_macro.njk" import onsContentPagination %}

{{-
  onsContentPagination({
      "ariaLabel": 'Pages in this guide',
      "contentPaginationItems": [
          {
              "rel": 'prev',
              "text": 'Previous',
              "url": '#',
              "label": 'Overview'
          },
          {
              "rel": 'next',
              "text": 'Next',
              "url": '#',
              "label": 'Who should take part and why'
          }
      ]
  }) 
}}
