@import 'vars/typography';

.ons-patternlib-swatch {
  margin: 0 0 2rem;

  &__color {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 70px;
    margin-right: 1rem;
    position: relative;
    width: 70px;
  }

  &__codes {
    margin-right: 1.5rem;
    min-width: 16rem;
  }

  &__hex {
    display: block;
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
  }

  &__char {
    font-size: 2.2rem;
    font-weight: $font-weight-bold;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__detail {
    display: block;
    font-size: 1rem;
  }

  &__info {
    margin-top: 1rem;
    padding-left: 0.8rem;
  }
}
