---
"fullWidth": true,
"theme": 'ids'
---
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'ONS Service',
        "variants": 'neutral',
        "noMasthead": true,
        "logoHref": '#0',
        "titleLogo": 'dummy-brand-logo',
        "titleLogoHref": '#0',
        "titleLogoAlt": 'Dummy brand',
        "language": {
            "languages": [
                {
                    "url": '#0',
                    "ISOCode": 'en',
                    "text": 'English',
                    "abbrText": 'EN',
                    "current": true
                },
                {
                    "url": '#0',
                    "ISOCode": 'cy',
                    "text": 'Cymraeg',
                    "abbrText": 'CY',
                    "current": false
                }
            ]
        },
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "currentPath": '#menu-item-2',
            "currentPageTitle": 'Design system',
            "itemsList": [
                {
                    "title": 'Menu item 1',
                    "url": '#0'
                },
                {
                    "title": 'Menu item 2',
                    "url": '#menu-item-2'
                },
                {
                    "title": 'Menu item 3',
                    "url": '#0'
                }
            ],
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle main menu'
            }
        }
    })
}}
