{% from "components/panel/src/_macro.njk" import onsPanel %}
{{ 
    onsPanel({
        "type": "warn",
        body: "<h2>Careful now</h2><p>You've done something a bit bad, but you can still continue.</p>"
    })
}}
