@use 'sass:math';
@use 'sass:string';
@use 'sass:map';
@use '../vars/typography' as vars;

@function ems($pxval, $base: vars.$base) {
    $em-size: math.div($pxval, $base);

    @return #{$em-size}em;
}

@function rems($pxval, $base: vars.$base) {
    $rem-size: math.div($pxval, $base);

    @return #{$rem-size}rem;
}

/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function map-set($map, $key, $value) {
    $new: (
        $key: $value,
    );

    @return map.merge($map, $new);
}

@function str-replace($string, $search, $replace: '') {
    $string: $string;
    $index: string.index($string, $search);

    @if $index {
        @return string.slice($string, 1, $index - 1) + $replace +
            str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
    }

    @return $string;
}
