<div class="grid grid--flex grid--gutterless">
    {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) -%}
        <div class="patternlib-swatch grid grid--flex grid--gutterless .grid--vertical-center grid--no-wrap">
            <div class="patternlib-swatch__color u-flex-no-shrink"
                style="{% if item.bg2 is defined and item.bg2 %}background: linear-gradient(to bottom left, {{ item.bg }} 0%, {{ item.bg2 }} 100%);{% else %}background-color:{{ item.bg }};{% endif -%}{% if item.border is defined and item.border -%} border:1px solid #707071;{% endif -%}{% if item.shadow is defined and item.shadow %}border-radius:0; -webkit-box-shadow: 0 -2px {{ item.bg }}, 0 4px {{ item.fore }};
                box-shadow: 0 -2px {{ item.bg }}, 0 4px {{ item.fore }};{% endif -%}">
            {% if item.char is defined and item.char -%}<span class="patternlib-swatch__char" style="color:{{ item.fore }}">{{ item.char }}</span>{% endif -%}
            </div>
            <div class="patternlib-swatch__codes u-flex-no-grow">
                {% if item.var is defined and item.var -%}
                    <span class="patternlib-swatch__hex">{{ item.bg }}{% if item.bg2 is defined and item.bg2 %} {{ item.bg2 }}{% endif %}</span>
                    <code class="patternlib-swatch__var">{{ item.var }}</code>
                {% endif -%}

                {% if item.fore is defined and item.fore and item.hideSwatchDetail is not defined -%}
                    <span class="patternlib-swatch__detail">Foreground: <strong>{{ item.fore }}</strong></span>
                    <span class="patternlib-swatch__detail">Background: <strong>{{ item.bg }}</strong></span>
                    {% if item.contrastRatio is defined and item.contrastRatio %}
                        <span class="patternlib-swatch__detail">Contrast ratio: <strong>{{ item.contrastRatio }}</strong></span>
                    {% endif %}
                {% endif -%}
            </div>
            {% if item.info is defined and item.info -%}
                <div class="patternlib-swatch__info grid__col u-flex-shrink">{{ item.info | safe }}</div>
            {% endif -%}
        </div>
    {% endfor -%}
</div>
