---
title: Colours
sortOrder: 1
---
{% from "styles/colours/_macro.njk" import onsColours %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

The ONS colour palette is available to services using the design system so pages and elements look consistent and coherent.

Our text and background colours are designed to make sure they meet {{
    onsExternalLink({
        "url": "https://www.w3.org/TR/WCAG21/#contrast-minimum",
        "linkText": "level AA of the Web Content Accessibility Guidelines (WCAG 2.1)"
    })
}}. You can read more about [accessibility and colour](#colour-contrast) on this page.

## Primary brand palette
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#003c57',
                'var': '$color-night-blue'
            },
            {
                'bg': '#a8bd3a',
                'var': '$color-spring-green'
            },
            {
                'bg': '#206095',
                'var': '$color-ocean-blue'
            },
            {
                'bg': '#27a0cc',
                'var': '$color-sky-blue'
            },
            {
                'bg': '#00a3a6',
                'var': '$color-aqua-teal'
            }
        ]
    })
}}

## Supporting palette
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#0f8243',
                'var': '$color-leaf-green'
            },
            {
                'bg': '#d0021b',
                'var': '$color-ruby-red'
            },
            {
                'bg': '#ff600a',
                'var': '$color-jaffa-orange'
            },
            {
                'bg': '#fbc900',
                'var': '$color-sun-yellow'
            },
            {
                'bg': '#f0f762',
                'var': '$color-neon-yellow'
            }
        ]
    })
}}

## Census 2021 theme palette
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#902082',
                'var': '$color-branded'
            },
            {
                'bg': '#df0667',
                'var': '$color-branded-secondary'
            },
            {
                'bg': '#3c388e',
                'var': '$color-branded-tertiary'
            },
            {
                'bg': '#00a3a6',
                'var': '$color-branded-supporting'
            },
            {
                'bg': '#902082',
                'bg2': '#3c388e',
                'var': '$color-census-gradient'
            }
        ]
    })
}}

## Greyscale
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#222222',
                'var': '$color-black'
            },
            {
                'bg': '#414042',
                'var': '$color-grey-100'
            },
            {
                'bg': '#707071',
                'var': '$color-grey-75'
            },
            {
                'bg': '#bcbcbd',
                'var': '$color-grey-35'
            },
            {
                'bg': '#e2e2e3',
                'var': '$color-grey-15'
            },
            {
                'bg': '#f5f5f6',
                'var': '$color-grey-5'
            },
            {
                'bg': '#ffffff',
                'var': '$color-white',
                'border': true
            }
        ]
    })
}}

## Tints
Only tints of 70%, 40% or 10% of the primary, supporting and census palette colours can be used.

To apply a tint, you can use the `tint()` function by passing in the colour, and the percentage of white you want to mix with it. For example:
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#4d7789',
                'var': 'tint($color-night-blue, 30);',
                'info': '70% tint of Night Blue'
            }
        ]
    })
}}
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#99b1bc',
                'var': 'tint($color-night-blue, 60);',
                'info': '40% tint of Night Blue'
            }
        ]
    })
}}
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#e6ecee',
                'var': 'tint($color-night-blue, 90);',
                'info': '10% tint of Night Blue'
            }
        ]
    })
}}

## Colour assignment and context

The colour palette `scss` variables shown above are assigned to a further variable to provide context which can be applied to elements across the design system. This allows for separation of colours from context.

### Text
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#222222',
                'var': '$color-text',
                'info': 'Black is the primary colour for headings and body content.'
            }
        ]
    })
}}

{{
    onsColours({
        'itemsList': [
            {
                'bg': '#707071',
                'var': '$color-text-light',
                'info': 'A secondary text colour for a title subheading.'
            }
        ]
    })
}}

### Links
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#206095',
                'var': '$color-text-link',
                'info': 'Blue is the colour for all link text elements in the body of the page. Text links should be underlined.'
            }
        ]
    })
}}
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#003c57',
                'var': '$color-text-link-hover',
                'info': 'Hover state colour for link text.'
            }
        ]
    })
}}

### Buttons
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#ffffff',
                'bg': '#0f8243',
                'char': 'A',
                'var': '$color-button',
                'info': 'Primary action buttons use green as the background colour with white text.',
                'hideSwatchDetail': true
            }
        ]
    })
}}
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#222222',
                'bg': '#e2e2e3',
                'char': 'A',
                'var': '$color-button-secondary',
                'info': 'Secondary buttons use a light grey background colour and black text colour. This prevents interference with the primary action.',
                'hideSwatchDetail': true
            }
        ]
    })
}}
### Focus
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#222222',
                'bg': '#fbc900',
                'char': 'A',
                'shadow': true,
                'var': '$color-focus',
                'info': "Black and yellow is used to provide visual affordance that an element has focus. Any focussed text <code>color</code> is changed to black, and yellow is applied as a <code>background-color</code> with an additional <code>4px</code> black offset <code>box-shadow</code>. The change to both foreground and background colours makes sure there is a consistent [accessible colour contrast ratio](#colour-contrast), regardless of the element’s initial background colour.",
                'hideSwatchDetail': true
            }
        ]
    })
}}
### Highlight
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#222222',
                'bg': '#f0f762',
                'char': 'A',
                'var': '$color-highlight',
                'info': 'Bright yellow is used to highlight text to [help users to see important information](/patterns/see-important-information).',
                'hideSwatchDetail': true
            }
        ]
    })
}}
### Borders
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#707071',
                'var': '$color-borders',
                'info': 'The grey is used for all borders that are applied on a white background.'
            }
        ]
    })
}}
### Status

Each status has a primary border colour and a background tint for use in a status [panel](/components/panel), and a vibrant hue for use in a [status](/components/status) indicator dot.

#### Information
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#003c57',
                'var': '$color-info'
            },
            {
                'bg': '#e6ecee',
                'var': '$color-info-tint',
                'info': 'A 10% tint of the primary colour'
            },
            {
                'bg': '#3076ac',
                'var': '$color-info-vibrant',
                'info': 'An increase in lightness (20%) and saturation (30%) of the primary colour'
            }
        ]
    })
}}

#### Success
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#0f8243',
                'var': '$color-success'
            },
            {
                'bg': '#e7f3ec',
                'var': '$color-success-tint',
                'info': 'A 10% tint of the primary colour'
            },
            {
                'bg': '#10ca64',
                'var': '$color-success-vibrant',
                'info': 'An increase in lightness (20%) and saturation (30%) of the primary colour'
            }
        ]
    })
}}

#### Pending
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#ff803b',
                'var': '$color-pending-vibrant'
            }
        ]
    })
}}

#### Errors
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#d0021b',
                'var': '$color-errors'
            },
            {
                'bg': '#fae6e8',
                'var': '$color-errors-tint',
                'info': 'A 10% tint of the primary colour'
            },
            {
                'bg': '#fd112d',
                'var': '$color-errors-vibrant',
                'info': 'An increase in lightness (20%) and saturation (30%) of the primary colour'
            }
        ]
    })
}}

## Colour contrast
Contrast between foreground and background colours are tested to make sure they meet {{
    onsExternalLink({
        "url": "https://www.w3.org/TR/WCAG21/#contrast-minimum",
        "linkText": "level AA of the Web Content Accessibility Guidelines (WCAG 2.1)"
    })
}}.

To meet the WCAG 2.1 level AA guideline “1.4.3 Contrast (Minimum)”, all text and background colour combinations must have a minimum contrast ratio of:
{{
    onsList({
        "itemsList": [
            {
                "text": 'Normal text, 4.5:1'
            },
            {
                "text": 'Large text (minimum 18.66px and bold, or 24px), 3:1'
            }
        ]
    })
}}

Where colour is used to draw attention to an item (e.g. [panel](/components/panel)) and insufficient contrast exists between a background colour and element colour, additional techniques may be required to provide support for users unable to perceive the colour (for example, an icon or bold text).

### Accessible text and background colour combinations
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#222222',
                'bg': '#ffffff',
                'contrastRatio': '15.91',
                'char': 'A',
                'border': true
            },
            {
                'fore': '#ffffff',
                'bg': '#222222',
                'contrastRatio': '15.91',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#e2e2e3',
                'contrastRatio': '12.29',
                'char': 'A'
            },
            {
                'fore': '#206095',
                'bg': '#f5f5f6',
                'contrastRatio': '6.08',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#206095',
                'contrastRatio': '6.63',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#0f8243',
                'contrastRatio': '4.89',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#003c57',
                'contrastRatio': '11.77',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#d0021b',
                'contrastRatio': '5.67',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#ff600a',
                'contrastRatio': '5.25',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#fbc900',
                'contrastRatio': '10.19',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#f0f762',
                'contrastRatio': '13.78',
                'char': 'A'
            }
        ]
    })
}}

### Tools to help with colour contrast checking

{{
    onsList({
        "itemsList": [
            {
                "url": "http://webaim.org/resources/contrastchecker/",
                "external": true,
                "text": "Web Aim\'s colour contrast checker"
            },
            {
                "url": "http://colororacle.org/",
                "external": true,
                "text": "Color Oracle (free colour blindness simulator)"
            }
        ]
    })
}}

Also, make sure you test colour contrast with people that have all types colour vision deficiency.

## Research on this style
{% call onsPanel() %}
    If you have conducted any user research using this style, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/1394",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1394",
        "linkText": "Discuss 'Colours' on GitHub"
    })
}}
