---
title: Colours
sortOrder: 1
---
{% from "styles/colours/_macro.njk" import onsColours %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

The ONS colour palette is available to services using the design system so pages and elements look consistent and coherent.

Our text and background colours are designed to meet accessibility needs. We aim for {{
    onsExternalLink({
        "url": "https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast",
        "linkText": "WCAG AA compliance"
    })
}} contrast as far as possible. Read more about [accessibility and colour](#colour-contrast) on this page.

## Main colour palette
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#3b7a9e',
                'var': '$color-astral-blue'
            },
            {
                'bg': '#033e58',
                'var': '$color-dark-blue'
            },
            {
                'bg': '#4263c2',
                'var': '$color-blue'
            },
            {
                'bg': '#0f8243',
                'var': '$color-green'
            },
            {
                'bg': '#ff600a',
                'var': '$color-amber'
            },
            {
                'bg': '#d0021b',
                'var': '$color-red'
            },
            {
                'bg': '#ffdd00',
                'var': '$color-yellow'
            },
            {
                'bg': '#e4f972',
                'var': '$color-bright-yellow'
            }
        ]
    })
}}

## Census theme palette
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#902082',
                'var': '$color-branded'
            },
            {
                'bg': '#3c388e',
                'var': '$color-branded-tertiary'
            },
            {
                'bg': '#00a3a6',
                'var': '$color-branded-supporting'
            },
            {
                'bg': '#df0667',
                'var': '$color-branded-secondary'
            },
            {
                'bg': '#902082',
                'bg2': '#3c388e',
                'var': '$color-census-gradient'
            }
        ]
    })
}}

## Greyscale
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#222222',
                'var': '$color-black'
            },
            {
                'bg': '#595959',
                'var': '$color-grey-1'
            },
            {
                'bg': '#888888',
                'var': '$color-grey-2'
            },
            {
                'bg': '#acacac',
                'var': '$color-grey-3'
            },
                        {
                'bg': '#d0d0d0',
                'var': '$color-grey-4'
            },
            {
                'bg': '#f0f0f0',
                'var': '$color-grey-5'
            },
            {
                'bg': '#ffffff',
                'var': '$color-white',
                'border': true
            }
        ]
    })
}}

## Colour assignment and context

The colour palette `scss` variables shown above are assigned to a further variable to provide context which can be applied to elements across the design system. This allows for separation of colours from context.

### Text
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#222222',
                'var': '$color-text',
                'info': 'Black is the primary colour for headings and body content.'
            }
        ]
    })
}}

{{
    onsColours({
        'itemsList': [
            {
                'bg': '#595959',
                'var': '$color-text-light',
                'info': 'A secondary text colour to assist with hint text.'
            }
        ]
    })
}}

### Links
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#4263c2',
                'var': '$color-links',
                'info': 'Blue is the colour for all link text elements in the body of the page. Text links should be underlined.'
            }
        ]
    })
}}
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#033e58',
                'var': '$color-links-hover',
                'info': 'Hover state colour for link text.'
            }
        ]
    })
}}

### Buttons
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#0f8243',
                'var': '$color-button',
                'info': 'Primary action buttons use green as the background colour with white text.'
            }
        ]
    })
}}
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#d0d0d0',
                'var': '$color-button-secondary',
                'info': 'Secondary buttons use a light grey background colour and blue link text colour. This prevents interference with the primary action.'
            }
        ]
    })
}}
### Focus
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#222222',
                'bg': '#ffdd00',
                'char': 'A',
                'shadow': true,
                'info': "Black and yellow is used to provide visual affordance that an element has focus. Any focussed text <code>color</code> is changed to black, and yellow is applied as a <code>background-color</code> with an additional <code>4px</code> black offset <code>box-shadow</code>. Changing both foreground and background colours ensures consistent [accessible colour contrast](#colour-contrast), regardless of the element\'s initial background colour."
            }
        ]
    })
}}
### Borders
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#888888',
                'var': '$color-grey-2',
                'info': 'The grey is used for all borders that are applied on a white background.'
            }
        ]
    })
}}
### Highlight
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#e4f972',
                'var': '$color-highlight',
                'info': 'Bright yellow is used to highlight text to emphasise keywords i.e. search results and user submitted content.'
            }
        ]
    })
}}
### Status

Each status has a primary colour and a tint for use in a status [panel](/components/panel), and a bright colour for use in a [status](/components/status) indicator dot.

#### Information
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#033e58',
                'var': '$color-info'
            },
            {
                'bg': '#eff0f9',
                'var': '$color-info-tint'
            },
            {
                'bg': '#5e7dd8',
                'var': '$color-info-dot'
            }
        ]
    })
}}

#### Success
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#0f8243',
                'var': '$color-success'
            },
            {
                'bg': '#edf4f0',
                'var': '$color-success-tint'
            },
            {
                'bg': '#12c864',
                'var': '$color-success-dot'
            }
        ]
    })
}}

#### Pending
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#fe934c',
                'var': '$color-pending-dot'
            }
        ]
    })
}}

#### Errors
{{
    onsColours({
        'itemsList': [
            {
                'bg': '#d0021b',
                'var': '$color-errors'
            },
            {
                'bg': '#fbecec',
                'var': '$color-errors-tint'
            },
            {
                'bg': '#fd112e',
                'var': '$color-errors-dot'
            }
        ]
    })
}}

## Colour contrast
Contrast between foreground and background colours are tested to ensure {{
    onsExternalLink({
        "url": "https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast",
        "linkText": "WCAG AA compliance"
    })
}}. Where colour is used to draw attention to an item (e.g. [panel](/components/panel)) and insufficient contrast exists between a background colour and element colour, additional techniques may be required to provide support for users unable to perceive the colour.

### Accessible text and background colour combinations
{{
    onsColours({
        'itemsList': [
            {
                'fore': '#222222',
                'bg': '#ffffff',
                'char': 'A',
                'border': true
            },
            {
                'fore': '#ffffff',
                'bg': '#222222',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#d0d0d0',
                'char': 'A'
            },
            {
                'fore': '#4263c2',
                'bg': '#f0f0f0',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#3b7a9e',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#0f8243',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#033e58',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#d0021b',
                'char': 'A'
            },
            {
                'fore': '#ffffff',
                'bg': '#ff600a',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#e4f972',
                'char': 'A'
            },
            {
                'fore': '#222222',
                'bg': '#ffdd00',
                'char': 'A'
            }
        ]
    })
}}

### Tools to help with colour contrast checking

{{
    onsList({
        "itemsList": [
            {
                "url": "http://webaim.org/resources/contrastchecker/",
                "external": true,
                "text": "Web Aim\'s colour contrast checker"
            },
            {
                "url": "http://colororacle.org/",
                "external": true,
                "text": "Color Oracle (free colour blindness simulator)"
            }
        ]
    })
}}

Also, ensure you test colour contrast with people of all abilities.

## Research on this style
{% call onsPanel() %}
    If you have conducted any user research using this style, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/1394",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1394",
        "linkText": "Discuss 'Colours' on GitHub"
    })
}}
