{% macro onsAutosuggest(params) %}
    {% set content = caller() %}
    <div
        id="{{ params.id }}-container"
        class="{% if not params.externalInitialiser %}js-autosuggest{% endif %} {% if not params.isEditable %}js-address-not-editable{% endif %} {% if params.mandatory is defined and params.mandatory == true %}js-address-mandatory{% endif %} autosuggest-input {{ params.classes }}"
        data-api-domain="{{ params.APIDomain }}"
        data-instructions="{{ params.instructions }}"
        data-aria-you-have-selected="{{ params.ariaYouHaveSelected }}"
        data-aria-min-chars="{{ params.ariaMinChars }}"
        data-aria-one-result="{{ params.ariaOneResult }}"
        data-aria-n-results="{{ params.ariaNResults }}"
        data-aria-limited-results="{{ params.ariaLimitedResults }}"
        data-aria-grouped-results="{{ params.ariaGroupedResults }}"
        data-group-count="{{ params.groupCount }}"
        data-more-results="{{ params.moreResults }}"
        data-results-title="{{ params.resultsTitle }}"
        data-autosuggest-data="{{ params.autosuggestData }}"
        data-no-results="{{ params.noResults }}"
        data-too-many-results="{{ params.tooManyResults }}"
        data-type-more="{{ params.typeMore }}"
        data-error-title="{{ params.errorTitle }}"
        data-error-enter="{{ params.errorMessageEnter }}"
        data-error-select="{{ params.errorMessageSelect }}"
        data-error-api="{{ params.errorMessageAPI }}"
        data-error-api-link-text="{{ params.errorMessageAPILinkText }}"
        {% if params.options is defined and params.options %}
        {% if params.options.oneYearAgo is defined and params.options.oneYearAgo %}data-options-one-year-ago="true"{% endif %}
        {% if params.options.regionCode is defined and params.options.regionCode %}data-options-region-code="{{ params.options.regionCode }}"{% endif %}
        {% if params.options.addressType is defined and params.options.addressType %}data-options-address-type="{{ params.options.addressType }}"{% endif %}
        {% endif %}
    >
        {{ content | safe }}
        <div class="autosuggest-input__results js-autosuggest-results">
            <header class="autosuggest-input__results-title u-fs-s">{{ params.resultsTitle }}</header>
            <ul class="autosuggest-input__listbox js-autosuggest-listbox" role="listbox" id="{{ params.id }}-listbox" tabindex="-1"></ul>
        </div>
        <div class="autosuggest-input__instructions u-vh js-autosuggest-instructions" id="{{ params.id }}-instructions" tabindex="-1">{{ params.instructions }}</div>
        <div class="autosuggest-input__status u-vh js-autosuggest-aria-status" aria-live="assertive" role="status" tabindex="-1"></div> 
    </div>
{% endmacro %}
