.input {
  border: $input-border-width solid $color-input;
  border-radius: $input-radius;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;
  padding: $input-padding-vertical $input-padding-horizontal;
  position: relative;
  width: 100%;
  z-index: 3;

  &::-ms-clear {
    display: none;
  }

  @include mq(501px) {
    &--text,
    &--select {
      &:not(.input--block):not([class*='input--w-']) {
        width: $input-width;
      }
    }
  }

  &--search {
    margin-bottom: 0.5rem;

    @include mq(501px) {
      margin-right: 0.5rem;
    }

    @include mq(501px) {
      margin-bottom: 0;
    }
  }

  &--text,
  &--textarea {
    // Prevent inner shadow on iOS
    appearance: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px $color-focus, inset 0 0 0 1px $color-input;
    outline: none;
  }

  &:disabled {
    border-color: $color-grey-75;
    cursor: not-allowed;
  }

  &--error:not(:focus) {
    border: 1px solid $color-ruby-red;
    box-shadow: inset 0 0 0 1px $color-ruby-red;
  }

  &--with-description {
    margin-bottom: 0.55rem;
  }
}

// Text input widths
@include input-width('input--w-{x}');

// Number input widths
@include input-width('input-number--w-{x}', 0.54rem);

.input--postcode {
  max-width: input-width-calc($chars: 5, $num-chars: 2, $spaces: 1);
  width: 100%;
}

.input__helper {
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
  margin-top: 0.2rem;
}

.input--select {
  appearance: none;
  background: $color-white url('#{$static}/img/icons--chevron-down.svg') no-repeat center right 10px;
  background-size: 1rem;
  line-height: 1.3rem;
  padding: 0.39rem 2rem 0.39rem $input-padding-horizontal;

  &::-ms-expand {
    display: none;
  }
}

.input--textarea {
  line-height: normal;
  resize: vertical;
  width: 100%;
}

.input--block {
  display: block;
  width: 100%;
}

.input--placeholder {
  background: transparent;
  &::placeholder {
    color: transparent;
  }
  &:valid:not(:placeholder-shown) {
    background: $color-white;
  }
  &:focus {
    background: $color-white;
  }
}

.input--limit-reached {
  border: $input-border-width solid $color-ruby-red;

  &:focus {
    outline: $input-border-width solid $color-ruby-red;
  }
}

.input__limit {
  display: block;

  &--reached {
    color: $color-ruby-red;
  }
}
