.input {
  z-index: 3;
  display: block;
  position: relative;
  padding: $input-padding-vertical $input-padding-horizontal;
  width: 100%;

  border: $input-border-width solid $color-input;
  border-radius: $input-radius;

  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;

  &::-ms-clear {
    display: none;
  }

  @include mq(s) {
    &--text,
    &--select {
      &:not(.input--block):not([class*='input--w-']) {
        width: $input-width;
      }
    }
  }

  &--text,
  &--textarea {
    // Prevent inner shadow on iOS
    -webkit-appearance: none;
  }

  &:focus {
    outline: 1px solid $color-input;
    outline-offset: -2px;
    box-shadow: 0 0 0 3px $color-focus;
  }
}

// Text input widths
@include input-width('input--w-{x}');

.input--postcode {
  width: 100%;
  max-width: input-width-calc($chars: 5, $num-chars: 2, $spaces: 1);
}

.input__helper {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.input--select {
  appearance: none;
  padding: 0.5rem 2rem 0.5rem $input-padding-horizontal;
  background: $color-white url('#{$static}/img/icons/icons--chevron-down.svg') no-repeat center right 10px;
  background-size: 1rem;

  &::-ms-expand {
    display: none;
  }
}

.input--textarea {
  width: 100%;
  line-height: normal;
  resize: vertical;
}

.input--block {
  display: block;
  width: 100%;
}

.input--placeholder {
  background: transparent;

  &:focus {
    background: $color-white;
  }
}

.input--limit-reached {
  border: $input-border-width solid $color-red;

  &:focus {
    border: $input-border-width solid $color-red;
    outline: none;
    box-shadow: 0 0 0 1px $color-red;
  }
}

.input__limit {
  display: block;

  &--reached {
    color: $color-red;
  }
}
