.autosuggest-input {
  position: relative;

  &__combobox {
    display: inline-block;
    border-radius: $input-radius;

    @include mq(xxs, s) {
      width: 100%;
    }
  }

  &__results {
    display: none;
    margin: 0.5rem 0 0;
    padding: 0;
    width: 100%;

    overflow: hidden;

    border: 1px solid $color-input;
    border-radius: $input-radius;
  }

  &__group {
    color: $color-links;
    text-decoration: underline;
  }

  &__results-title {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid $color-input;
    background: $color-grey-4;
  }

  &__listbox {
    margin: 0;
    padding: 0;
    list-style: none;
    background: $color-white;
    &:focus {
      outline: none;
    }
  }

  &__option {
    margin: 0;
    padding: $input-padding-horizontal;
    outline: none;

    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $color-input;
    }

    &:not(&--no-results):not(&--more-results):hover,
    &--focused:not(&--no-results) {
      border-color: $color-blue;
      background: $color-blue;
      color: $color-white;

      .autosuggest-input__group {
        color: $color-white;
      }
    }

    &:active:not(&--no-results):not(&--more-results) {
      background: $color-focus;
      color: $color-focus-text;

      .autosuggest-input__group {
        color: $color-focus-text;
      }
    }

    &--no-results,
    &--more-results {
      padding: 0.25rem 0.5rem;
      background: $color-grey-4;
      cursor: not-allowed;
    }
  }

  &__warning {
    margin: 0;
    padding-left: 0.5rem;
    background: #f0f0f0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-input;
    }
  }

  &__panel.panel--warn {
    margin: 0;
    border: 0;
    background: none;
    .panel__icon {
      top: 17px;
      margin-top: 0;
      min-width: 26px;
      min-height: 24px;
      font-size: 21px;
      line-height: 25px;
    }

    .panel__body {
      padding: 0.8rem 0.8rem 0.8rem 2rem;
      font-weight: bold;
    }
  }

  // Modifiers
  &:not(&--initialised) & {
    &__instructions,
    &__listbox,
    &__status {
      display: none;
    }
  }

  &--has-results & {
    &__results {
      display: block;
    }
  }
}
