.input {
  border: $input-border-width solid $color-input;
  border-radius: $input-radius;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;
  padding: $input-padding-vertical $input-padding-horizontal;
  position: relative;
  width: 100%;
  z-index: 3;

  &::-ms-clear {
    display: none;
  }

  @include mq(s) {
    &--text,
    &--select {
      &:not(.input--block):not([class*='input--w-']) {
        width: $input-width;
      }
    }
  }

  &--text,
  &--textarea {
    // Prevent inner shadow on iOS
    appearance: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px $color-focus, inset 0 0 0 1px $color-input;
    outline: none;
  }

  &:disabled {
    border-color: $color-grey-75;
    cursor: not-allowed;
  }

  &--error:not(:focus) {
    border: 1px solid $color-ruby-red;
    box-shadow: inset 0 0 0 1px $color-ruby-red;
  }

  &--with-description {
    margin-bottom: 0.55rem;
  }
}

// Text input widths
@include input-width('input--w-{x}');

// Number input widths
@include input-width('input-number--w-{x}', 0.54rem);

.input--postcode {
  max-width: input-width-calc($chars: 5, $num-chars: 2, $spaces: 1);
  width: 100%;
}

.input__helper {
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
  margin-top: 0.2rem;
}

.input--select {
  appearance: none;
  background: $color-white url('#{$static}/img/icons--chevron-down.svg') no-repeat center right 10px;
  background-size: 1rem;
  line-height: 1.3rem;
  padding: 0.39rem 2rem 0.39rem $input-padding-horizontal;

  &::-ms-expand {
    display: none;
  }
}

.input--textarea {
  line-height: normal;
  resize: vertical;
  width: 100%;
}

.input--block {
  display: block;
  width: 100%;
}

.input--placeholder {
  background: transparent;
  &::placeholder {
    color: transparent;
  }
  &:valid:not(:placeholder-shown) {
    background-color: $color-white;
  }
  &:focus {
    background-color: $color-white;
  }
}

.input--limit-reached:not(:focus) {
  border: $input-border-width solid $color-ruby-red;
}

.input__limit {
  display: block;

  &--reached {
    color: $color-ruby-red;
  }
}

.input--ghost {
  border: 2px solid rgba(255, 255, 255, 0.6);
  &:focus {
    border: 2px solid $color-input;
  }
}

.input-search {
  @extend .input--block;

  &--icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
    background-position: 9px 7px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding-left: 2rem;

    &:focus,
    &:active,
    &:valid:not(:placeholder-shown) {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
      background-position: 9px 7px;
    }
  }
}
