{% macro onsInput(params) %}
    {% from "components/field/_macro.njk" import onsField %}
    {% from "components/label/_macro.njk" import onsLabel %}

    {% if params.type == "number" %}
    {# Type must be "text" or Firefox and Safari will set a blank value to the server if non numeric characters are entered -
    they don't block non numeric characters: https://bugzilla.mozilla.org/show_bug.cgi?id=1398528 #}
        {% set type = "text" %}
        {% set pattern = "[0-9]*" %}
        {% set inputmode = "numeric" %}
    {% elif params.type %}
        {% set type = params.type %}
    {% else %}
        {% set type = "text" %}
    {% endif %}

    {% set exclusiveClass = " js-exclusive-group" if params.mutuallyExclusive else "" %}

    {% call onsField({
        "id": params.fieldId,
        "classes": params.fieldClasses,
        "legendClasses": params.legendClasses,
        "noField": params.noField,
        "legend": params.label.text if params.mutuallyExclusive,
        "description": params.label.description if params.mutuallyExclusive,
        "mutuallyExclusive": params.mutuallyExclusive,
        "questionMode": params.questionMode
    }) %}
        {% if params.label and not params.mutuallyExclusive %}
            {{
                onsLabel({
                    "for": params.id,
                    "id": params.label.id,
                    "text": params.label.text,
                    "classes": params.label.classes,
                    "description": params.label.description
                })
            }}
        {% endif %}

        {% if params.prefix !== undefined or params.suffix !== undefined %}
            {% if params.prefix !== undefined %}
                {% set prefixClass = " input-type--prefix" %}
            {% endif %}
            <div class="input-type{{ prefixClass }}">
                <div class="input-type__inner">
        {% endif %}
        <input
            type="{{ type }}"
            id="{{ params.id }}"
            class="input input--text input-type__input {{ params.classes }}{{ exclusiveClass }}"
            {% if params.prefix or params.suffix %}title="{{ params.prefix.title }}{{ params.suffix.title }}"{% endif %}
            {% if params.name !== undefined %}name="{{ params.name }}"{% endif %}
            {% if params.value !== undefined %}value="{{ params.value }}"{% endif %}
            {% if params.accept !== undefined %}accept="{{ params.accept }}"{% endif %}
            {% if params.min !== undefined %}min="{{ params.min }}"{% endif %}
            {% if params.max !== undefined %}max="{{ params.max }}"{% endif %}
            {% if pattern !== undefined %}pattern="{{ pattern }}"{% endif %}
            {% if inputmode != undefined %}inputmode="{{ inputmode }}"{% endif %}
            {% if params.autocomplete !== undefined %}autocomplete="{{ params.autocomplete }}"{% endif %}
            {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{ attribute }}="{{ value }}"{% endfor %}{% endif %}
        />
        {% if params.prefix !== undefined or params.suffix !== undefined %}
                    <abbr class="input-type__type" aria-hidden="true" title="{{ params.prefix.title }}{{ params.suffix.title }}">{{ params.prefix.text or params.prefix.title }}{{ params.suffix.text or params.suffix.title }}</abbr>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}
