{% macro onsTypeahead(params) %}
    {% set content = caller() %}
    <div
        id="{{ params.id }}-container"
        class="js-typeahead typeahead-input {{ params.classes }}"
        data-instructions="{{ params.instructions }}"
        data-aria-you-have-selected="{{ params.ariaYouHaveSelected }}"
        data-aria-min-chars="{{ params.ariaMinChars }}"
        data-aria-one-result="{{ params.ariaOneResult }}"
        data-aria-n-results="{{ params.ariaNResults }}"
        data-aria-limited-results="{{ params.ariaLimitedResults }}"
        data-more-results="{{ params.moreResults }}"
        data-results-title="{{ params.resultsTitle }}"
        data-typeahead-data="{{ params.typeaheadData }}"
        data-no-results="{{ params.noResults }}"
    >
        {{ content | safe }}
        <div class="typeahead-input__results js-typeahead-results">
            <header class="typeahead-input__results-title u-fs-s">{{ params.resultsTitle }}</header>
            <ul class="typeahead-input__listbox js-typeahead-listbox" role="listbox" id="{{ params.id }}-listbox" tabindex="-1"></ul>
        </div>
        <div class="typeahead-input__instructions u-vh js-typeahead-instructions" id="{{ params.id }}-instructions" tabindex="-1">{{ params.instructions }}</div>
        <div class="typeahead-input__status u-vh js-typeahead-aria-status" aria-live="polite" role="status" tabindex="-1"></div> 
    </div>
{% endmacro %}
