{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "text-example-input-with-description",
        "label": {
            "text": "Enter some text",
            "description": "Example description hint text"
        }
    })
}}
