{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": 'search-field',
        "label": {
            'text': 'Search',
            "classes": 'ons-u-pb-3xs ons-u-mb-no'
        },
        "searchButton": {
            "visuallyHideButtonText": true,
            "text": 'Search',
            "iconType": 'search'
        }
    })
}}
