{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "number-example-input-numeric-values",
        "type": "number",
        "width": "2",
        "autocomplete": "off",
        "label": {
            "text": "Number of bedrooms"
        }
    })
}}
{{
    onsInput({
        "id": "prefixed-example-input-numeric-values",
        "type": "number",
        "width": "6",
        "autocomplete": "off",
        "label": {
            "text": "Your annual salary before taxes"
        },
        "prefix": {
            "text": "£",
            "title": "British pounds (GBP)",
            "id": "annual-salary-gpb-prefix-example-input-numeric-values"
        }
    })
}}
{{
    onsInput({
        "id": "suffixed-percent-example-input-numeric-values",
        "type": "number",
        "width": "3",
        "autocomplete": "off",
        "label": {
            "text": "People with internet access"
        },
        "suffix": {
            "title": "per cent",
            "text": "%",
            "id": "internet-access-per-cent-suffix-example-input-numeric-values"
        }
    })
}}
{{
    onsInput({
        "id": "suffixed-centimetres-example-input-numeric-values",
        "type": "number",
        "width": "4",
        "autocomplete": "off",
        "label": {
            "text": "Length",
            "description": "For example enter 1250 for 12.5m"
        },
        "suffix": {
            "title": "centimetres",
            "text": "cm",
            "id": "length-cm-suffix-example-input-numeric-values"
        }
    })
}}
