{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "postcode",
        "width": "7",
        "autocomplete": "postal-code",
        "label": {
            "text": "Postcode"
        }
    })
}}
