---
title: Input
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}

The input component lets users enter alphanumeric characters for answers that are no longer than one line, using the appropriate keyboard on touch devices.
{{
    patternlibExample({"path": "components/input/examples/text/index.njk"})
}}

## When to use this component
Use the input component when you need to let users enter alphanumeric information that is no longer than one line, such as their telephone number or email address.

There is specific guidance on how to ask for:
{{
    onsList({
        "itemsList": [
            {
                "url": '/patterns/access-codes',
                "text": 'access codes'
            },
            {
                "url": '/patterns/addresses',
                "text": 'addresses'
            },
            {
                "url": '/patterns/dates',
                "text": 'dates'
            },
            {
                "url": '/patterns/durations',
                "text": 'durations'
            },
            {
                "url": '/patterns/email-addresses',
                "text": 'email addresses'
            },
            {
                "url": '/patterns/numeric-values',
                "text": 'numeric values'
            },
            {
                "url": '/patterns/phone-numbers',
                "text": 'phone numbers'
            }
        ]
    })
}}

## When not to use this component
Do not use this component if you need to let users enter information that will span more than one line.  In this case, you should use the [textarea](/components/textarea) component.

## How to use this component
All input components must have a visible [label](/components/label).

Inputs should be appropriately sized to help the user understand what they should enter by making them the right size for the content they are intended for.

By default, the input component will fill the width of its container up to 500px viewport width, then limited to 20rem.  A [width constraint](#width-constrained) class can be used to make the input smaller.

### Autocomplete
Use the `autocomplete` attribute on inputs to help the user fill out a form more quickly. This attribute lets you specify a purpose for the input so the user's browser can autofill the information for them.

You will need to use the autocomplete attribute for each applicable {{
    onsExternalLink({
        "url": "https://www.w3.org/TR/WCAG21/#input-purposes",
        "linkText": "input purpose"
    })
}} to meet AA WCAG 2.1 accessibility requirements.

## Variants

### Input with description
An optional `label__description` can be used to display a hint to help the user enter their information.
{{
    patternlibExample({"path": "components/input/examples/text-description/index.njk"})
}}

### Width constrained
Where possible, you should make the inputs the right width for the size of content they are intended for to help users understand what they should enter.  For example, UK postcodes never consist of more than 8 characters.

Inputs can have their widths constrained (but not limited) to the number of expected characters using the `input--w-<number>` or `input-number--w-<number>` classes.
`input--w-<number>` is based on the character width of a 'W' and is to be used on fields that will contain any text. `input-number--w-<number>` is based on the character width of '4' and is to be used on fields that only contain numbers.
Available widths for both classes are: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 30, 40, 50.
{{
    patternlibExample({"path": "components/input/examples/text-width-constrained/index.njk"})
}}

### Email
Setting the type to `email` will bring up the correct keypad on touch devices.
{{
    patternlibExample({"path": "components/input/examples/email/index.njk"})
}}

There is specific guidance on how to ask users for [email addresses](/patterns/email-addresses).

### Telephone
Setting the type to `tel` will bring up the correct keypad on touch devices.
{{
    patternlibExample({"path": "components/input/examples/telephone/index.njk"})
}}

There is specific guidance on how to ask users for [phone numbers](/patterns/phone-numbers).

### Number
Setting the type to `number` will bring up the correct keypad on touch devices.
{{
    patternlibExample({"path": "components/input/examples/prefixed/index.njk"})
}}

There is specific guidance on how to ask users for [numeric values](/patterns/numeric-values) including entering numbers with units, such as currencies and measurements.

### Character limit checker
Used for client side validation of an input that requires a character limit. The character limit counter is displayed when the `charCheckLimit` object is defined with params `limit`, `charCountOverLimitSingular`, `charCountOverLimitPlural` parameters.

{{
    patternlibExample({"path": "components/input/examples/text-character-limit/index.njk"})
}}

## How to check an input field
To help users enter something valid into an input field, you should:
{{
    onsList({
        "itemsList": [
            {
                "text": 'allow them to paste into the input field'
            },
            {
                "text": 'check they have entered something in the input field'
            },
            {
                "text": 'check that what they have entered is valid'
            },
            {
                "text": 'show an error message if they have not entered anything or what they have entered is not valid'
            }
        ]
    })
}}

### Error messages
Use the [correct errors pattern](/patterns/error-validation) and show the error details above the input field.
{{
    patternlibExample({"path": "pages/patterns/email-addresses/examples/email-error/index.njk"})
}}

#### If the input field is empty
Use “Enter [whatever the input is]”.\
For example, “Enter an email address”.

#### If what is entered in the input field is not in a valid format
Use “Enter [whatever the input is] in a valid format, for example, [whatever the example is]”.\
For example, “Enter an email address in a valid format, for example, name@example.com”.

{{
    onsPanel({
        "type": "warn",
        "body": "<p>Only use an example if it is appropriate. For security reasons, it may not be appropriate to give an example of an access code.</p>"
    })
}}

There is specific guidance on how to ask users for [access codes](/patterns/access-codes).

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1383",
        "linkText": "Discuss the ‘Input’ component on GitHub"
    })
}}
