---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = {
    "title": 'Service name',
    "absoluteUrl": pageInfo.url,
    "breadcrumbs": {
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '#0',
                "id": 'back',
                "text": 'Back'
            }
        ]
    },
    "footer": {}
} %}
{% block main %}

    {% call
        onsPanel({
            title: 'There are 4 problems with this page',
            type: 'error',
            "dsExample": isPatternLib
        })
    %}

    {{
        onsList({
            "element": 'ol',
            "itemsList": [
                {
                    "text": 'Select what you need help with',
                    "index": true,
                    "url": '#webform-help-error',
                    "classes": 'js-inpagelink'
                },
                {
                    "text": 'Enter more detail about what you need help with',
                    "index": true,
                    "url": '#webform-detail-error',
                    "classes": 'js-inpagelink'
                },
                {
                    "text": 'Enter your name',
                    "index": true,
                    "url": '#webform-name-error',
                    "classes": 'js-inpagelink'
                },
                {
                    "text": 'Enter your email address',
                    "index": true,
                    "url": '#webform-email-error',
                    "classes": 'js-inpagelink'
                }
            ]
        })
    }}
    
    {% endcall %}
    
    <h1 class="u-fs-xxl u-mt-l">Web form</h1>

    {{ onsRadios({
        "legend": 'What do you need help with?',
        "name": 'webform-help',
        "radios": [
           {
                "id": 'change-contact-details',
                "label": {
                    "text": 'I need to change my contact details'
                },
                "value": 'change-contact-details'
            },
            {
                "id": 'help-with-my-survey',
                "label": {
                    "text": 'I need help with my survey'
                },
                "value": 'help-with-my-survey'
            },
            {
                "id": 'complaint',
                "label": {
                    "text": 'I want to make a complaint'
                },
                "value": 'complaint'
            },
            {
                "id": 'technical-difficulties',
                "label": {
                    "text": 'I am having technical difficulties'
                },
                "value": 'technical-difficulties'
            },
            {
                "id": 'change-password',
                "label": {
                    "text": 'I need to change my password'
                },
                "value": 'change-password'
            },
            {
                "id": 'something-else',
                "label": {
                    "text": 'Something else'
                },
                "value": 'something-else'
            }
        ],
        "error": {
            "id": 'webform-help-error',
            "text": 'Select what you need help with',
            "dsExample": isPatternLib
        }
    }) }}

    {{ onsTextarea({
        "name": 'webform-detail',
        "id": 'webform-detail',
        "label": {
            "text": 'Please provide more detail'
        },
        "charCheckLimit": {
            "limit": 2000,
            "charCountSingular": 'You have {x} character remaining',
            "charCountPlural": 'You have {x} characters remaining'
        },
        "error": {
            "id": 'webform-detail-error',
            "text": 'Enter more detail about what you need help with',
            "dsExample": isPatternLib
        }
    }) }}

    <h2 class="u-mt-m">Your contact details</h2>

    {{ onsInput({
        "classes": 'input--w-30',
        "name": 'webform-name',
        "id": 'webform-name',
        "label": {
            "text": 'Name'
        },
        "error": {
            "id": 'webform-name-error',
            "text": 'Enter your name',
            "dsExample": isPatternLib
        }
    }) }}

    {{ onsInput({
        "classes": 'input--w-30',
        "name": 'webform-email',
        "id": 'webform-email',
        "type": 'email',
        "autocomplete": 'email',
        "label": {
            "text": 'Email address',
            "description": 'We will only use this to send you a reply'
        },
        "error": {
            "id": 'webform-email-error',
            "text": 'Enter your email address',
            "dsExample": isPatternLib
        }
    }) }}

    {{ onsButton({
        "classes": 'u-mb-m u-mt-l',
        "text": 'Send message'
    }) }}

    <p class="u-fs-s">Information about what we do with your personal data is available in our <a href="#0">privacy and data protection statement</a>.</p>

{% endblock %}
