---
"theme": census
---
{% from "components/feedback/_macro.njk" import onsFeedback %}
{{
    onsFeedback({
        "header": "What do you think about this service?",
        "content": "Your comments will help us make improvements",
        "radios": {
            "legend": "Select what your feedback is about",
            "name": "feedback-type",
            "radioButtons": [
                {
                    "id": "questions",
                    "label": {
                        "text": "The census questions",
                        "description": "For example, questions not clear, answer options not relevant"
                    },
                    "value": "questions"
                },
                {
                    "id": "design",
                    "label": {
                        "text": "Page design and structure"
                    },
                    "value": "design"
                },
                {
                    "id": "general",
                    "label": {
                        "text": "General feedback about this service"
                    },
                    "value": "general"
                }
            ]
        },
        "select": {
            "id": "select",
            "name": "select",
            "label": {
                "text": "Question topic"
            },
            "options": [
                {
                    "value": "",
                    "text": "Select an option",
                    "disabled": true,
                    "selected": true
                },
                {
                    "value": "general",
                    "text": "General"
                },
                {
                    "value": "people-who-live-here",
                    "text": "People who live here"
                },
                {
                    "value": "visitors",
                    "text": "Visitors"
                },
                {
                    "value": "houshold-accommodation",
                    "text": "Houshold and accommodation"
                },
                {
                    "value": "personal-details",
                    "text": "Personal details"
                },
                {
                    "value": "health",
                    "text": "Health"
                },
                {
                    "value": "qualifications",
                    "text": "Qualifications"
                },
                {
                    "value": "employment",
                    "text": "Employment"
                }
            ]
        },
        "textarea": {
            "id": "feedback-textarea",
            "name": "feedback-text",
            "classes": "input--w-30",
            "label": {
                "text": "Enter your feedback",
                "description": "Do not include confidential information, such as your contact details"
            },
            "charCheckLimit": {
                "limit": 1000,
                "charCountSingular": "You have {x} character remaining",
                "charCountPlural": "You have {x} characters remaining"
            }
        },
        "button": {
            "text": "Send feedback",
            "classes": "u-mt-m"
        }
    })
}}
