---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% set page = { 
    "title": "Service name",
    "theme": "census",
    "bodyClasses": "u-ha",
    "button": {
        "text": "Save and sign out",
        "url": "/"
    },
    "phase": {
        "badge": "BETA",
        "html": "This is a new service – your <a href=\"#feedback\" class=\"js-feedback-button\">feedback</a> will help us improve it."
    },
    "language": {
        "languages": [
             {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "ga",
                "text": "Gaeilge",
                "buttonAriaLabel": "Roghnóir teanga. Teanga reatha: Gaeilge",
                "chooseLanguage": "Roghnaigh teanga",
                "current": false
            },
            {
                "url": "#",
                "ISOCode": "sco",
                "text": "Ulstèr-Scotch",
                "buttonAriaLabel": "Leid selectgor. Current leid: Ulstèr-Scotch",
                "chooseLanguage": "Wale leid",
                "current": false
            }
        ]
    },
    "footer": {
        "poweredByONS": true,
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#'
                    },
                    {
                        "text": 'Cookies and privacy',
                        "url": '#'
                    }
                ]
            }
        ]
    },
    "feedback": {
        "id": "feedback",
        "title": "Give us feedback and help us improve this service",
        "mailto": {
            "address": "census2021.feedback@ons.gov.uk",
            "textBefore": "Tell us what you think of this website by emailing",
            "textAfter": "This email is for feedback only and we will not be able to reply, do not include any personal details."
        },
        "textarea": {
            "label": {
                "text": "Tell us what we could do better"
            },
            "maxlength": 400,
            "charCountSingular": "You have {x} character remaining",
            "charCountPlural": "You have {x} characters remaining"
        },
        "pageTitle": {
            "value": pageInfo.title
        },
        "pageURL": {
            "value": pageInfo.url
        },
        "sendButton": {
            "text": "Send feedback"
        },
        "thankYouMessage": "Thank you for your feedback.",
        "errorMessage": "There was an error sending your feedback.\n(Error code: {x})"
    }
} %}
