---
layout: layouts/example
---
{% from "components/helpers/grid.njk" import dsExampleGrid %}

{{
    dsExampleGrid({
        'container': true,
        "itemsList": [
            {
                'col': 8
            }
        ]
    })
}}
