---
layout: layouts/example
---

{% from "components/helpers/grid.njk" import patternLibExampleGrid %}

{{
    patternLibExampleGrid({
        'container': true,
        "itemsList": [
            {
                'col': 8
            }
        ]
    })
}}
