.input {
  position: relative;
  z-index: 3;
  padding: $input-padding;
  display: block;
  color: inherit;
  font-size: 1rem;
  border: $input-border-width solid $color-input;
  border-radius: $input-radius;
  width: 100%;
  transition: border-color 200ms ease-in;

  @include mq(s) {
    &--text,
    &--select {
      &:not(.input--block):not([class*='input--w-']) {
        width: $input-width;
      }
    }
  }

  &:hover {
    border-color: $color-links-hover;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $color-focus;
  }
}

// Text input widths
@include input-width('input--w-{x}');

.input--postcode {
  width: 100%;
  max-width: input-width-calc($chars: 5, $num-chars: 2, $spaces: 1);
}

.input__helper {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.input--select {
  appearance: none;
  padding: $input-padding 2rem $input-padding 0.5rem;
  background: $color-white url('#{$static}/img/icons/icons--chevron-down.svg') no-repeat center right 10px;
  background-size: 1rem;

  &::-ms-expand {
    display: none;
  }
}

.input--textarea {
  width: 100%;
  max-width: 100%; /* To avoid this escaping bounds of container on resize */
}

.input--block {
  display: block;
  width: 100%;
}

.input--has-error {
  background-color: $color-light-red;
  transition: background-color 1s ease-in-out;
}

.input--limit-reached {
  border: $input-border-width solid $color-red;

  &:focus {
    outline: none;
    border: $input-border-width solid $color-red;
    box-shadow: 0 0 0 1px $color-red;
  }
}

.input__limit--reached {
  color: $color-red;
}
