.input {
  position: relative;
  z-index: 3;
  padding: $input-padding;
  display: block;
  color: inherit;
  font-size: 1rem;
  border: $input-border-width solid $color-borders;
  border-radius: $input-radius;
  width: 100%;
  transition: border-color 200ms ease-in;

  appearance: none;

  @include mq(s) {
    &--text,
    &--select {
      &:not(.input--block):not([class*='input--w-']) {
        width: $input-width;
      }
    }
  }

  &:hover {
    border-color: $color-links-hover;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $color-focus-outline;

    @include fixed() {
      outline: 3px solid $color-focus-outline;
    }
  }
}

// Text input widths
@include input-width('input--w-{x}');

.input--postcode {
  width: 100%;
  max-width: input-width-calc($chars: 5, $num-chars: 2, $spaces: 1);
}

.input__helper {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.input--select {
  padding: $input-padding 2rem $input-padding 0.5rem;
  background: $color-white url('#{$static}/img/icons/icons--chevron-down.svg') no-repeat center right 10px;
  background-size: 1rem;

  &::-ms-expand {
    display: none;
  }
  @include fixed() {
    padding-right: 0.5rem;
  }
}

.input--textarea {
  width: 100%;
  max-width: 100%; /* To avoid this escaping bounds of container on resize */
}

.input--radio,
.input--checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #9b9b9b;
  padding: 0.5rem;
  font-size: 1rem;
  background: #eee;
  box-shadow: inset 0 0 0 3px white;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
  transition: background-color 200ms ease-in, color 200ms ease-in;

  &:focus,
  &:checked {
    border-color: $color-links-hover;
    outline: none;
  }

  @include mq(m) {
    top: 0.85rem;
  }
  @include fixed() {
    border: none;
    background: none;

    &:focus {
      outline: 2px solid $color-focus;
    }
  }

  ~ .label:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $input-radius;
    border: 1px solid transparent;
  }

  &:checked ~ .label:before {
    box-shadow: 0 0 0 2px $color-links-hover;
  }

  &:focus ~ .label:before {
    border-color: $color-links-hover;
    box-shadow: 0 0 0 3px $color-focus-outline;
  }
}

.input--radio {
  border-radius: 100px;
  box-shadow: inset 0 0 0 3px white;
  &:checked {
    background: $color-links-hover;
    box-shadow: inset 0 0 0 3px white;
  }
  &:focus {
    border-color: $color-links-hover;
    box-shadow: inset 0 0 0 3px white;
    outline: none;
    &:checked {
      border-color: $color-links-hover;
      background-color: $color-links-hover;
    }
  }
}

.input--checkbox {
  background: url('#{$static}/img/icons/icons--check.svg') no-repeat center center;
  background-size: 0;
  transition: background-size 50ms ease-out;

  &:checked {
    background-size: 14px;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

.input--block {
  display: block;
  width: 100%;
}

.input--has-error {
  background-color: $color-light-red;
  transition: background-color 1s ease-in-out;
}

.input--limit-reached {
  border: $input-border-width solid $color-red;

  &:focus {
    outline: none;
    border: $input-border-width solid $color-red;
    box-shadow: 0 0 0 1px $color-red;
    @include fixed() {
      outline: 2px solid $color-red;
    }
  }
}

.no-js {
  .input__limit {
    display: none;
  }
}

.input__limit--reached {
  color: $color-red;
}
