
{% from "components/label/src/_macro.njk" import onsLabel %}
{% if params.type == "number" %} 
    {% set type = "number" %}
    {% set pattern = "[0-9]*" %}
{% else %}
    {% set type = "text" %}
{% endif %}

{% if params.label -%}
    {{
        onsLabel({
            for: params.id,
            id: params.label.id,
            text: params.label.text,
            classes: params.label.classes,
            description: params.label.description
        })
    }}
{%- endif %}

{% if params.prefix !== undefined or params.suffix !== undefined -%}
    {%- if params.prefix !== undefined -%}
        {%- set prefixClass = " input-type--prefix" -%}
    {%- endif -%}
    <div class="input-type{{ prefixClass }}">
{%- endif %}
<input
    type="{{ type }}"
    id="{{ params.id }}"
    class="input input--text input-type__input {{ params.classes }}"
    {% if params.name !== undefined %}name="{{ params.name }}"{% endif %}
    {% if params.value !== undefined %}value="{{ params.value }}"{% endif %}
    {% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
>
{% if params.prefix !== undefined or params.suffix !== undefined -%}
        <abbr class="input-type__type" title="{{ params.prefix.title }}{{ params.suffix.title }}">{{ params.prefix.text }}{{ params.suffix.text }}</abbr>
    </div>
{%- endif %}
