{% from "components/summary/_macro.njk" import onsSummary %}

<h1>Complete survey summary</h1>

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "title": "Turnover",
                        "rows": [
                            {
                                "title": "What are the dates of the sales period you are reporting for?",
                                "rowItems": [
                                    {
                                        "valueList": [ 
                                            {
                                                "text": "01 January 2015 to 02 February 2017"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Total turnover",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£234,000.00"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                ]
            },
            {
                "groupTitle": "Company 1 Ltd",
                "groups": [
                    {
                        "title": "Turnover",
                        "rows": [
                            {
                                "title": "What are the dates of the sales period you are reporting for?",
                                "rowItems": [
                                    {
                                        "valueList": [ 
                                            {
                                                "text": "01 January 2015 to 02 February 2017"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Total turnover",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "£234,000.00"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "title": "Staff",
                        "rows": [
                            {
                                "title": "What are the dates of the sales period you are reporting for?",
                                "rowItems": [
                                    {
                                        "valueList": [ 
                                            {
                                                "text": "01 January 2015 to 02 February 2017"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Total Staff",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "50,000"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}

