---
fullWidth: true
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% set pageConfig = {
    "theme": "census",
    "header": {
        "logo": "nisra-logo-en",
        "logoAlt": "Northern Ireland Statistics and Research Agency logo",
        "logoHref": "#0",
        "mobileLogo": "nisra-logo-en",
        "customHeaderLogo": "nisra",
        "titleLogo": "census-logo-en",
        "titleLogoAlt": "Census 2021"
    },
    "navigation": {
        "id": "main-nav",
        "ariaLabel": "Main menu",
        "ariraListLabel": "Navigation menu",
        "currentPath": "/get-started",
        "itemsList": [
            {
                "title": "Home",
                "path": "#0"
            },
            {
                "title": "About the census",
                "path": "#0"
            },
            {
                "title": "Help with your census",
                "path": "#0"
            },
            {
                "title": "Contact us",
                "path": "#0"
            }
        ]
    },
    "toggleButton": {
        "text": "Menu",
        "ariaLabel": "Toggle main navigation"
    }
} %}
