---
fullWidth: true
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% set page = {
    "theme": "census",
    "header": {
        "logoHref": "#",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021"
    },
    "language": {
        "allLanguagesUrl": "#",
        "languages": [
            {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": false
            }
        ]
    },
    "navigation": {
        "id": "main-nav",
        "ariaLabel": "Main menu",
        "ariraListLabel": "Navigation menu",
        "currentPath": "/get-started",
        "itemsList": [
            {
                "title": "Home",
                "path": "#"
            },
            {
                "title": "About the census",
                "path": "#"
            },
            {
                "title": "Help with your census",
                "path": "#"
            },
            {
                "title": "Contact us",
                "path": "#"
            }
        ]
    },
    "toggleButton": {
        "text": "Menu",
        "ariaLabel": "Toggle main navigation"
    }
} %}
