.ons-message-list {
  padding-left: 0;
}

.ons-message-item {
  list-style: none;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--ons-color-borders);
  }

  &__subject {
    margin: 0 0 0.2rem;
  }

  &__metadata {
    margin: 0 0 1rem;

    &-term,
    &-value {
      margin: 0 0 0.3rem;
    }
  }
}
