---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = {
    "title": "Hub Example",
    "signoutButton": {
        "text": "Save and complete later"
    }
} %}

{% block main %}
    <h1 class="u-fs-l u-mt-m">Choose another section to complete</h1>

    {% call onsPanel() %}
        <p><strong>You must complete all sections in order to submit this survey</strong></p>
    {% endcall %}

    {{ onsSummary({
        "hub": true,
        "classes": "u-mt-m",
        "rows": [
            {
                "title": "People who live here",
                "rowItems": [
                    {
                        "icon": "check-green",
                        "valueList": [
                            {
                                "text": "Completed"
                            }
                        ],
                        "actions": [
                            {
                                "text": "View answers",
                                "ariaLabel": "View answers for People who live here",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Accomodation",
                "rowItems": [
                    {
                        "icon": "check-green",
                        "valueList": [
                            {
                                "text": "Completed"
                            }
                        ],
                        "actions": [
                            {
                                "text": "View answers",
                                "ariaLabel": "View answers for Accomodation",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Mary Smith (You)",
                "rowItems": [
                    {
                        "icon": "check-green",
                        "valueList": [
                            {
                                "text": "Completed"
                            }
                        ],
                        "actions": [
                            {
                                "text": "View answers",
                                "ariaLabel": "View answers for Mary Smith",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "John Smith",
                "rowItems": [
                    {
                        "valueList": [
                            {
                                "text": "Partially completed"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Continue with section",
                                "ariaLabel": "Continue with John Smith's section",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Billy Smith",
                "rowItems": [
                    {
                        "valueList": [
                            {
                                "text": "Not started"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Start section",
                                "ariaLabel": "Start Billy Smith's section",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Sally Smith",
                "rowItems": [
                    {
                        "valueList": [
                            {
                                "text": "Not started"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Start section",
                                "ariaLabel": "Start Sally Smith's section",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Wilhelmina Susannah Clementine-Smith (Visitor)",
                "rowItems": [
                    {
                        "valueList": [
                            {
                                "text": "Not started"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Start section",
                                "ariaLabel": "Start Wilhelmina Susannah Clementine-Smith's section",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Vera Jones (Visitor)",
                "rowItems": [
                    {
                        "valueList": [
                            {
                                "text": "Not started"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Start section",
                                "ariaLabel": "Start Vera Jones's section",
                                "url": "#"
                            }
                        ]
                    }
                ]
            }
        ]
    }) }}

    {{
        onsButton({
            "text": 'Continue',
            "classes": 'u-mb-m u-mt-l'
        })
    }}
{% endblock %}
