.figure {
  margin: 0;
  text-align: center;
  @extend .u-mb-m;

  &__image {
    display: inline-block;
    max-width: 100%;
  }

  &__caption {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 0 0;
  }
}
