
{% from "components/button/src/_macro.njk" import onsButton %}

<details id="{{ params.id }}" class="details js-collapsible{% if params.isAccordion %} details--accordion{% endif %}" open{%if params.buttonOpen %} data-btn-close="{{ params.buttonClose }}"{% endif %}{% if params.group %} data-group="{{ params.group }}"{% endif %}>
    <summary class="details__summary js-collapsible-summary" data-ga="click" data-ga-category="{% if params.isAccordion %}accordion{% else %}definition{% endif %}" data-ga-action="Open panel" data-ga-label="{{ params.title }}">
        <h2 class="details__title u-fs-r--b">{{ params.title }}</h2>
        {% if params.buttonClose and params.buttonOpen and params.isAccordion %}
             {{
                onsButton({
                    "text": params.buttonOpen,
                    "classes": "details__btn btn--secondary btn--small js-collapsible-button u-d-no",
                    "attributes": {
                        "data-ga": "click",
                        "data-ga-category": "defenition",
                        "data-ga-action": "Close panel",
                        "data-ga-label": params.title
                    }
                })
            }}
        {% endif %}
    </summary>
    <div id="{{ params.id }}-content" class="details__content js-collapsible-content">
        {{ params.content | safe }}
        {% if params.buttonClose and params.isAccordion != true %}
            {{
                onsButton({
                    "text": params.buttonOpen or params.buttonClose,
                    "classes": "btn--secondary btn--small js-collapsible-button u-d-no",
                    "attributes": {
                        "data-ga": "click",
                        "data-ga-category": "defenition",
                        "data-ga-action": "Close panel",
                        "data-ga-label": params.title
                    }
                })
            }}
        {% endif %}
    </div>
</details>
