{% from "components/list/src/_macro.njk" import onsList %}
{{ 
    onsList({
        classes: 'list--boxes',
        items: [
            {
                text: 'Item 1'
            },
            {
                text: 'Item 2'
            },
            {
                text: 'Item 3'
            }
        ]
    }) 
}}
