.ons-chart {
    margin: 0;
    &__download-title {
        @extend .ons-u-pt-l;
        @extend .ons-u-fs-r--b;
    }

    &__title {
        font-size: 26px;
        @include mq('2xs', 464px) {
            font-size: 20px;
        }
    }

    &__subtitle {
        font-size: 20.8px;
        @include mq('2xs', 464px) {
            font-size: 16px;
        }
    }

    &__caption {
        font-size: 19.2px;
        @include mq('2xs', 464px) {
            font-size: 16px;
        }

        color: var(--ons-color-grey-75);
    }
}
