{% from "components/chart/_macro.njk" import onsChart %}

{{
    onsChart({
        "chartType": "column",
        "description": "Volume sales, seasonally adjusted, Great Britain, January 2022 to January 2025",
        "theme": "primary",
        "title": "Food stores showed a strong rise on the month, while non-food stores fell",
        "subtitle": "Figure 6: Upward contribution from housing and household services (including energy) saw the annual CPIH inflation rate rise",
        "id": "uuid",
        "caption": "Source: Monthly Business Survey, Retail Sales Inquiry from the Office for National Statistics",
        "download": {
            'title': 'Download Figure 1 data',
            'itemsList': [
                {
                    "text": "Excel spreadsheet (XLSX format, 18KB)",
                    "url": "#"
                },
                {
                    "text": "Simple text file (CSV format, 25KB)",
                    "url": "#"
                },
                {
                    "text": "Image (PNG format, 25KB)",
                    "url": "#"
                }
            ]
        },
        "legend": true,
        "xAxis": {
            "categories": ["One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten"],
            "type": "linear",
            "tickIntervalMobile": 5
        },
        "yAxis": {
            "title": "Percent (%)"
        },
        "series": [
            {
                "data": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                "dataLabels": true,
                "name": "Values"
            },
            {
                "data": [
                    ["One", 6],
                    ["Two", 4],
                    ["Three", 5],
                    ["Four", 7],
                    ["Five", 2],
                    ["Six", 9],
                    ["Seven", 3],
                    ["Eight", 8],
                    ["Nine", 2],
                    ["Ten", 1]
                ],
                "dataLabels": false,
                "name": "Another test data source",
                "type": "line"
            }
        ],
        "percentageHeightDesktop": 35,
        "percentageHeightMobile": 90
    })
}}
