---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/address-output/_macro.njk" import onsAddressOutput %}

{% set pageConfig = {
    "title": 'Non-editable address confirmation example'
} %}
{% block preMain %}
    {{
        onsBreadcrumbs({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": '/patterns/addresses/examples/address-input-non-editable',
                    "id": 'back',
                    "text": 'Back'
                }
            ]
        })
    }}
{% endblock %}
{% block main %}
    {% call onsQuestion({
        "title": "Is this the correct address?",
        "legendIsQuestionTitle": true
    }) %}

    <form action="#">
        {{-
            onsAddressOutput({
                "classes": 'u-mb-m',
                "unit": 'Unit 5',
                "organisation": 'Trescos',
                "line1": 'Abingdon Road',
                "line2": 'Goathill',
                "town": 'Barry',
                "postcode": 'AB12 6UH'
            })
        }}

        {{
            onsRadios({
                "name": 'confirm-address',
                "dontWrap": true,
                "radios": [
                    {
                        "id": 'yes',
                        "label": {
                            "text": 'Yes, this is the correct address'
                        },
                        "value": 'Yes, this is the correct address'
                    },
                    {
                        "id": 'no',
                        "label": {
                            "text": 'No, search for address again'
                        },
                        "value": 'No, search for address again'
                    }
                ]
            })
        }}
        {{
            onsButton({
                "text": 'Continue',
                "classes": 'u-mt-xl'
            })
        }}
    </form>
    {% endcall %}
{% endblock %}
