---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/address/_macro.njk" import onsAddressInput %}
{% from "components/button/_macro.njk" import onsButton %}


{% set page = {
    "title": "Enghraifft Chwilio Cyfeiriadau",
    "language": {
        "languages": [
            {
                "ISOCode": "cy",
                "current": true
            }
        ]
    }
} %}

{% set form = {
    "action": "/"
} %}

{% block main %}
    {% call onsQuestion({
        "title": "Beth yw eich cyfeiriad?"
    }) %}
        {{ onsAddressInput({
            "id": "address",
            "legend": "Beth yw eich cyfeiriad?",
            "legendClasses": "u-vh",
            "line1": {
                "label": "Llinell cyfeiriad 1"
            },
            "line2": {
                "label": "Llinell cyfeiriad 2"
            },
            "town": {
                "label": "Tref neu Ddinas"
            },
            "county": {
                "label": "Sir"
            },
            "postcode": {
                "label": "Cod post"
            },
            "uprn": {},
            "typeahead": {
                "label": {
                    "text": "Rhowch eich cyfeiriad neu'ch cod post"
                },
                "instructions": "Use up and down keys to navigate addresses once you\'ve typed more than two characters. Use the enter key to select a address. Touch device users, explore by touch or with swipe gestures.",
                "content": {
                    "no_results": "No addresses found",
                    "aria_no_results": "No addresses found for the query",
                    "aria_you_have_selected": "You have selected",
                    "aria_min_chars": "Type in 5 or more characters for addresses.",
                    "aria_one_result": "There is one address available.",
                    "aria_n_results": "There are {n} addresses available.",
                    "aria_limited_results": "Results have been limited to 10 addresses. Type more characters to refine your search.",
                    "more_results": "Parhewch i deipio i fireinio cyfeiriadau",
                    "results_title": "Dewiswch gyfeiriad",
                    "lookup_error": "There was an error looking up up your address. Enter your address manually.",
                    "select_address_error": "There was an error. Select and address."
                },
                "autocomplete": "new-address",
                "or": "Or",
                "searchButton": "Chwilio am gyfeiriad",
                "manualButton": "Rhowch y cyfeiriad â llaw",
                "selectError": "Dewiswch gyfeiriad i barhau",
                "searchURL": "https://address-lookup-dummy-service.herokuapp.com/search",
                "retrieveURL": "https://address-lookup-dummy-service.herokuapp.com/retrieve"
            }
        }) }}

        {{ onsButton( {
            "text": "Cyflwyno",
            "classes": "u-mt-xl"
        }) }}
    {% endcall %}
{% endblock %}
