{% let logos = [logo1, logo2, logo3] %}

{% for logo in logos %}

    {% if params.mastheadLogoStackedArray.[logo].logoURL %} 
        <a class="ons-header__org-logo-link" href="{{ params.mastheadLogoStackedArray.[logo].logoURL }}">
    {% endif %}

    {% if params.mastheadLogoStackedArray.[logo].logoImage != "ONS Logo" %}
        {{ params.mastheadLogoStackedArray.[logo].logoImage | safe }}
    {% else %}
        {{-
            onsIcon({
                "iconType": 'ons-logo-stacked-' + currentLanguageISOCode,
                "altText": 'Office for National Statistics logo'
            })
        -}}
    {% endif %}
    
    {% if params.mastheadLogoStackedArray.[logo].logoURL %}
        </a>
    {% endif %}
{% end %}