{% from "components/input/_macro.njk" import onsInput %}
{% from "components/question/_macro.njk" import onsQuestion %}

{% block main %}
    {% call onsQuestion({
        "title": "What is your name?",
        "legendIsQuestionTitle": true,
        "submitButton": true
    }) %}
        <form action="#0">
            {{
                onsInput({
                    "id": "fullname-example-input",
                    "type": "full-name",
                    "autocomplete": "full-name",
                    "label": {
                        "text": "Full name"
                    }
                })
            }}
        </form>
    {% endcall %}
{% endblock %}
