---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% set pageConfig = {
    "title": "Service name",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block main %}
    <h1>This service is temporarily unavailable</h1>
    <p>We are undergoing planned maintenance.</p>
    <p>You will be able to use this service again from:<br><strong>9.00am on Monday 19 November 2019</strong></p>
    <p><a href="#">Contact us</a> if you need to speak to someone about your survey.</p>
{% endblock %}
