language: node_js
node_js:
- 10.18.1
cache: yarn
jobs:
  include:
  - stage: test
    script: yarn test
  - stage: test-visual
    script: yarn test-visual
  - stage: npm-bundle
    script: yarn npm-bundle && npm version $TRAVIS_BRANCH --allow-same-version -m
      "chore - release version %s [skip ci]" --allow-empty
    deploy:
    - provider: npm
      skip_cleanup: true
      email: richard.mccarthy.ons@gmail.com
      edge: true
      api_key:
        secure: FzrjP+xQauLMLhHXeswa581jmxwnuI8oyl0E/pgaP8Q/Hmoz6qBRX2aO2PiosHgzVvhqbnC+QdheabYjkwH+edzY2NCJDbDLoK643oWutqnH9N3vczKR1OnMFwGpF3JKzYkVTwvYav10yundTboHPsO1PCY3S3qwjuMNAytPOLAchK/sbyHBJMGlModdn6TVy4FEWz00AADM0D5vh7FVcnimLxIv83U06LDXLtEQCcWmhj3lA/03vvexebILucNwgEOunRtY6q8LjCh2i9fxjO36Gck5YkzN2/fysyFrX57wwlZChjNwj9JnmWcbPziswhTmRJ7JAcz8+bbQs3YS7QlA14WFU/5lH3kJNvv/bqNndb62FPMtN+QM+YYnBuXF2nM5PjJPtjzJVOxFygDiqO8NfwtlF0Vt6DF+1KST3WZoBxP1EjzhvFmuYFGD2ELacee/Fn7UBs8hOCf0pGOeABFf/J2d1PHtF3lksq8faH46Sex6ppTDNwnVlBd29x2TWyIDST13Bq4iLSbCMgWbKZI80fhvvB1ubMkHW87lWbzzQMPbzWOSL+3vyJRSnCbjWYnv3FEsGJbGdJzbLTbCXgRQ4l8FOgjIdHB+OuMsRFXWl/fbWn6IYaTtWPXobmN1JunUjNItLwq5Va9OaHYt8HRcwajoN9el+pXpU4oa8sM=
      on:
        tags: true
stages:
- name: test
  if: tag IS NOT present
- name: test-visual
  if: branch = master
- name: npm-bundle
  if: tag IS present
notifications:
  slack:
    secure: JeWUrlel8q+KMCHky37cSkrX6Le2Tcf1LVsY0aK/+4q4b7W1GgfVSq/BGe/SB43JBIM6MofZ2k8BAxHNOcqjCvZoh3h9pt5DNHCQvXmk20JOZe+YuItt/e2GAGgHX9aEDC/GqbMYSenG09U7r/7onHpB3VTfSSSg+vYajNBYUHzt8zDrn0IlDEXMV09xHDTFsBBvXQ3NZXDNDSyY974p0ELhTaETNFXjHOFyOjkix3DLhBXQS5q8MpQyw19TvMat0dSnsS5vZ9atsza1eWaDxLZzRCw6uk0QBJKSnkgxacZ8ng669F9eBOTqY5on41J6iNSlkopx5ZK/dlHUvfZMhCObpdyMX5JAeEsPDSF1bR2nPQS29xKyZWFZAsOq7jcOEuTRe9Lc5GhoPDqrjHF7FiV3mMJs2nGxW1n1PoU2XQlv6DC6lvd1F8ytSNtgQZVl4WncLl0fGKVxa9GVBW319RdTrVAGM6Shq6zYWdD/X4FT5/Wkjlejw9Lv90NkJYijkma9apdsvB+ZbhnsAr631x8R0q7b1SlFUgdRG6eK92x9dREq92+eCHQRi+uIPwvwAevLhPZI2jAyq3P8JtDIAOXt3bzpO9DM7NSc+2iup+KJ6TjDBYrEYx2w9XdzgO2hY/cDFbKnf8T/1gLKdsYQNYCev2o2Nf60OiSHtE2eal0=
