---
title: Document
synonyms: downloads, files, search result, article, publication,
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}
+++

Displays a title, metadata and optional thumbnail and description for document that can link to a downloadable file or a web page such as a news article or search result.

{{
    onsPanel({
        "body": "This component requires documentation."
    })
}}

## Variants

### Downloadable documents
Use this variant on a page when the user needs to download or view a small number of files, such as PDFs.

When a large quantity of files are available to download, use the [download resources pattern](/patterns/download-resources).

+++
{% call onsPanel({
        "type": 'warn'
    })
%}
    Always use HTML web pages to publish documents where possible. Any downloadable document must meet accessibility standards such as those described in the <a href="https://ons-design.notion.site/PDF-accessibility-guidance-2eb61f038dcd443093da181e7b99f421">brand guidance for PDFs</a>
{% endcall %}
+++

{{
    patternlibExample({"path": "components/document/examples/document-downloads/index.njk"})
}}

### Search results
{# TO DO: Link to new search page pattern #}
Use this variant to build an index of search results.
{{
    patternlibExample({"path": "components/document/examples/document-results/index.njk"})
}}

#### Featured search result
{# TO DO: Link to new search page pattern #}
A featured search result to place at the top of the search results list to add emphasis to a chosen item. The featured search result should only appear once on the first page of results.
{{
    patternlibExample({"path": "components/document/examples/document-result-featured/index.njk"})
}}

### News articles
Use this variant to build an index of articles for a [news page](/patterns/news).
{{
    patternlibExample({"path": "components/document/examples/document-articles/index.njk"})
}}

#### Featured news article
A featured article to display across the full width of the top of the [news page](/patterns/news) to add emphasis to a chosen item. The featured article should only appear once on the first page of the news index.
{{
    patternlibExample({"path": "components/document/examples/document-article-featured/index.njk"})
}}

## How to use this component

### Thumbnail images and placeholders
You need to set two versions of the image, one for standard screens and the other for retina screens.

Set a folder path for both small and large image sources using the `smallSrc` and `largeSrc` parameters.

Thumbnail images are considered decorative because they do not convey important information, so are hidden from screen readers by using an empty `alt` tag.

#### Downloadable documents thumbnail images
Image dimensions for download document thumbnails:

* standard screen is: `96px (width) × 136px (height)`
* retina screen is: `192px × 272px`

#### News article thumbnail images
Image dimensions for news article thumbnails:

* standard screen is: `136px x 96px`
* retina screen is: `272px × 192px`

Image dimensions for featured news article thumbnails:

* standard screen is: `379px × 248px`
* retina screen is: `758px × 496px`

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/716",
        "linkText": "Discuss the ‘Document’ component on GitHub"
    })
}}
