{% macro onsQuote(params) %}
    <blockquote class="quote">
        <span class="quote__text">{{ params.text }}</span>
        {% if params.ref %}<span class="quote__ref">- {{ params.ref }}</span>{% endif %}
    </blockquote>
{% endmacro %}
