.quote {
  margin: 0 0 1rem;
  padding: 0 0 0 3em;
  background-size: 2rem;

  &__text {
    display: block;
  }

  &__ref {
    @extend .u-fs-s;
    display: block;
    color: $color-text-light;
  }

  .svg-icon {
    position: absolute;
    top: 1.3rem;
    left: 1.6rem;
    width: 1.85rem;
    height: 1.85rem;
    fill: $color-grey-2;
  }
}
