.ons-quote {
  background-size: 2rem;
  margin: 0 0 1rem;
  padding: 0 0 0 3em;
  position: relative;

  &__text {
    display: block;
  }

  &__ref {
    @extend .ons-u-fs-s;

    color: var(--ons-color-text-light);
    display: block;
    margin-top: 0.5rem;
    position: relative;
  }

  .ons-svg-icon {
    fill: var(--ons-color-grey-75) !important;
    height: 1.85rem;
    left: 0;
    position: absolute;
    top: -0.125rem;
    width: 1.85rem;

    @include mq(m) {
      top: 0;
    }
  }
}
