@use '../../scss/vars';
@use '../helpers';

.ons-container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: vars.$grid-max-width;
    padding: 0 vars.$grid-gutters;
    position: relative;
    width: 100%;

    @include helpers.mq(s) {
        padding: 0 vars.$grid-gutters;
    }

    &--wide {
        max-width: vars.$grid-max-1280;
    }

    &--full-width {
        max-width: 100%;
    }
}

.ons-grid--align-bottom {
    .ons-grid__col {
        vertical-align: bottom;
    }
}

.ons-grid__col {
    font-size: 1.125rem;
}

@include helpers.bp-suffix('ons-container--gutterless', $create-between-breakpoints: true) {
    padding: 0;
}
