.ons-container {
    --ons-grid-gutter: #{$grid-gutter-mobile};
    --ons-grid-container-padding: #{$grid-container-padding-mobile};

    box-sizing: border-box;
    margin: 0 auto;
    max-width: $grid-max-width;
    padding: 0 var(--ons-grid-container-padding);
    position: relative;
    width: 100%;

    @include mq(s) {
        --ons-grid-gutter: #{$grid-gutter-standard};
        --ons-grid-container-padding: #{$grid-container-padding-standard};
    }

    &--wide,
    &--full-width {
        @include mq(s) {
            --ons-grid-gutter: #{$grid-gutter-wide};
            --ons-grid-container-padding: #{$grid-container-padding-wide};
        }
    }

    &--wide {
        max-width: $grid-max-width-wide;
    }

    &--full-width {
        max-width: 100%;
    }
}

.ons-grid--align-bottom {
    .ons-grid__col {
        vertical-align: bottom;
    }
}

.ons-grid__col {
    font-size: 1.125rem;
}

@include bp-suffix('ons-container--gutterless', $create-between-breakpoints: true) {
    padding: 0;
}
