.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.page__content {
  flex: 1 0 auto;
  position: relative;
  // NOTE: padding-bottom: 1px fixes safari scroll issue
  // Issue number #862
  padding-bottom: 1px;
  overflow-x: hidden;
}

.page__main {
  @extend .u-mt-s;
  margin-bottom: 4.5rem;
}

.page__container {
  transition: transform 200ms ease-out;
}
