.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.page__content {
  flex: 1 0 auto;
  overflow-x: hidden;
  position: relative;
  // NOTE: padding-bottom: 1px fixes safari scroll issue
  // Issue number #862
  padding-bottom: 1px;
}

.page__main {
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;
  @include mq(xxs, m) {
    margin-top: 1.5rem;
  }
}

.page__body {
  h2 {
    @extend .u-fs-xl;
  }
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }
  .panel__body,
  .collapsible {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
  }
  h2:not(:first-child) {
    margin-top: 2.5rem;
  }
}
