{% macro onsSharePage(params) %}
    {% from "components/lists/_macro.njk" import onsList %}

    {% set titleTag = params.titleTag | default("h2") %}
    <{{ titleTag }} class="u-fs-r--b u-mb-xs">{{ params.title }}</{{ titleTag }}>

    {% set list = [] %}
    {% if params.facebook is defined and params.facebook and params.facebook === true %}
        {% set facebook =
            {
                "url": 'https://www.facebook.com/sharer/sharer.php?u=' ~ params.pageURL,
                "text": 'Facebook',
                "prefixIcon": 'facebook',
                "iconSize": params.iconSize | default("xxl"),
                "rel": 'noreferrer external',
                "target": '_blank'
            }
         %}

        {% set list = (list.push(facebook), list) %}
    {% endif %}
    {% if params.twitter is defined and params.twitter and params.twitter === true %}
        {% set twitter =
            {
                "url": 'https://twitter.com/intent/tweet?original_referer&text=' ~ params.pageTitle ~ '&url=' ~ params.pageURL,
                "text": 'Twitter',
                "prefixIcon": 'twitter',
                "iconSize": params.iconSize | default("xxl"),
                "rel": 'noreferrer external',
                "target": '_blank'
            }
         %}

        {% set list = (list.push(twitter), list) %}

    {% endif %}

    {{
        onsList({
            "classes": 'list--bare list--inline list--icons',
            "itemsList": list
        })
    }}
{% endmacro %}
