---
layout: none
---
{% extends "foundations/layout/page-template/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/address-input/_macro.njk" import onsAddressInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = {
    "title": "Manual address input example"
} %}
{% block main %}
    {% call onsPanel({
            title: "There are 2 problems with your answer",
            type: "error",
            "dsExample": isPatternLib
        })
    %}
        {{
            onsList({
                "element": "ol",
                "itemsList": [
                    {
                        "text": "Enter the first line of your address",
                        "url": "#line1-error",
                        "variants": "inPageLink"
                    },
                    {
                        "text": "Enter a valid UK postcode",
                        "url": "#postcode-error",
                        "variants": "inPageLink"
                    }
                ]
            })
        }}
    {% endcall %}

    {% call onsQuestion({
        "title": "What is your address?",
        "legendIsQuestionTitle": true
    }) %}

    <form action="#0">
        {{ onsAddressInput({
            "id": "address",
            "dontWrap": true,
            "manualEntry": true,
            "label": {
                "text": "Enter address or postcode and select from results",
                "id": "address-label"
            },
            "line1": {
                "label": "Address line 1",
                "error": {
                    "id": "line1-error",
                    "text": "Enter the first line of your address",
                    "dsExample": isPatternLib
                }
            },
            "line2": {
                "label": "Address line 2"
            },
            "town": {
                "label": "Town or city",
                "value": "Goathill"
            },
            "postcode": {
                "label": "Postcode",
                "value": "A12",
                "error": {
                    "id": "postcode-error",
                    "text": "Enter a valid UK postcode",
                    "dsExample": isPatternLib
                }
            }
        }) }}
        {{
            onsButton({
                "text": 'Save and continue',
                "classes": "ons-u-mt-xl"
            })
        }}
    </form>
    {% endcall %}
{% endblock %}
