{% from "styles/grid/_macro.njk" import patternLibExampleGrid %}
{{
    patternLibExampleGrid({
        "itemsList": [
            {
            'repeat': 12,
            'col': 1
            }
        ]
    })
}}
