---
title: 'Example: Spoke – view answers summary'
layout: ~
---

{% extends "layout/_template.njk" %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}
{%
    set pageConfig = {
        "header": {
            "title": "Spoke example",
            "signoutButton": {
                "text": "Save and sign out"
            }
        },
        "breadcrumbs": {
            "itemsList": [
                {
                    "url": '/patterns/hub-and-spoke/examples/hub/',
                    "text": 'Back'
                }
            ]
        }
    }
%}

{% block main %}
    <h1 class="ons-u-mt-m">Household accommodation</h1>
    {{
        onsSummary({
            "summaries": [
                    {
                        "groups": [
                            {
                            "rows": [
                                {
                                    "title": "What type of accommodation is 68 Abingdon Road, Goathill?",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "Whole house or bungalow"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change answer",
                                                    "url": "#0"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "title": "Are all the rooms in this accommodation, including the kitchen, bathroom and toilet, behind a door that only this household can use?",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "Yes"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change answer",
                                                    "url": "#0"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "title": "How many bedrooms are available for use only by this household?",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "3"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change answer",
                                                    "url": "#0"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "title": "What type of central heating does have?",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "Mains gas"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change answer",
                                                    "url": "#0"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "title": "Does your household own or rent 68 Abingdon Road, Goathill?",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "Owns outright"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change answer",
                                                    "url": "#0"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "title": "In total, how many cars or vans are owned, or available for use, by members of this household?",
                                    "rowItems": [
                                        {
                                            "valueList": [
                                                {
                                                    "text": "2"
                                                }
                                            ],
                                            "actions": [
                                                {
                                                    "text": "Change",
                                                    "ariaLabel": "Change answer",
                                                    "url": "#0"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        })
    }}
    {{
        onsButton({
            "text": 'Continue',
            "classes": 'ons-u-mt-xl'
        })
    }}
{% endblock %}
