---
group: Pages
title: Hub and Spoke
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Documentation required

{{
    patternlibExample({"path": "patterns/hub-and-spoke/examples/hub/index.njk"})
}}

## Design System forum 
[Discuss 'Hub and Spoke' on GitHub](https://github.com/ONSdigital/design-system/issues/714)
