---
group: Pages
title: Hub and Spoke
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Documentation required

{{
    patternlibExample({"path": "components/hub/examples/hub/index.njk"})
}}
