.question {
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include mq(m) {
    margin-bottom: 2rem;
  }
}

.question__error {
  background: $color-red;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.question__legend {
  margin-bottom: 1rem;
  float: none;
}

.question__title {
  position: relative;
  clear: both;
  // NOTE: do not enable display block as it breaks any instance
  //       where this appears inside a `legend`
  // display: block;
  color: inherit;
  margin-bottom: 1rem;
  em {
    background-color: $color-emphasis;
  }
}

.question__number {
  @include mq(xl) {
    position: absolute;
    text-align: right;
    left: -100px;
    width: 100px;
    padding-right: 0.8rem;
  }
}

.question__subtitle {
  margin-top: 0.5rem;
  clear: both;
  display: block;
  color: #888;
  font-weight: 700;
  font-size: 1rem;
}

.question__description {
  margin-bottom: 1rem;
  clear: both;
}

.question__guidance {
  margin-bottom: 2rem;
  clear: both;
}

.question__actions {
  margin-top: 1rem;
  @include mq(s) {
    margin-top: 2rem;
  }
}

.question__answers {
  clear: both;
}

.question__answer {
  margin: 0 0 1rem;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
  &.is-hidden {
    opacity: 0;
  }
  &.is-removed {
    transition-duration: 500ms;
    opacity: 0.5;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.question--repeatinganswer {
  .question__answer {
    margin-bottom: 2rem;
    width: 19.5rem;
  }
  .question__guidance--bottom {
    margin: -1rem 0 0;
  }
  .answer {
    margin-bottom: 1.5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
