---
title: Understand technical terms
group: Help users to...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Some terminology used in our products may be technical or confusing, and *glossary* links can be used to provide links to definitions for these terms.

{{
    patternlibExample("patterns/glossary/examples/glossary/index.njk")
}}

## When to use this pattern

Glossary links are used to help users understand terminology, abbreviations, and complex phrases by providing a link to the definition of the term.

## How to use this pattern

The term should be wrapped in a link element (`<a>`) with a class of `glossary-link` and a `href` attribute pointing to a page with the definition. A `title` attribute describing the link should also be added.

## Research on this pattern
{% from "components/panel/src/_macro.njk" import onsPanel %}
{% call onsPanel() %}
   If you have conducted any user research using this pattern, please feed back your findings via the <a href="https://github.com/ONSdigital/pattern-library-v2/issues/38" target="_blank">Design System forum</a>.
{% endcall %}

## Design System forum 
[Discuss 'Glossary' on GitHub](https://github.com/ONSdigital/pattern-library-v2/issues/38)
