---
title: Propose a new feature
sortOrder: 1
---
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}

Follow these steps if you need to add a new feature to the design system.

## 1. Check if the feature already exists
Before you start, we need you to check that your new feature meets certain requirements.

First, check if the feature is already:
{{
    onsList({
        "itemsList": [
            {
                "text": 'in the ONS Design system'
            },
            {
                "text": 'being developed – you can check this on the <a class="external-link" target="_blank" rel="noopener" href="https://github.com/ONSdigital/design-system/projects/1">community backlog on GitHub<span class="external-link__icon">&nbsp;<svg class="svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false"><path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)"/><path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)"/></svg></span></a>'
            }
        ]
    })
}}

If not, consider if [changing an existing feature](/contribute/propose-a-change) by creating a variant would be more appropriate than creating a new feature.

If you decide to go ahead, you need to provide evidence that the new feature:
{{
    onsList({
        "itemsList": [
            {
                "text": 'meets user needs'
            },
            {
                "text": 'will help improve your site or service significantly'
            }
        ]
    })
}}
Your evidence could be from user research, usability and accessibility testing, or research into best practice. You should provide prototypes and mocked-up examples to support your proposal.

## 2. Raise an issue
First, {{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/new?assignees=&labels=New+feature+proposal&template=feature_request.md&title=Proposal%3A+%5BFEATURE+NAME%5D",
        "linkText": "create a new issue in GitHub"
    })
}}. Just replace the content in the template with details about your proposal.

## 3. Present your proposal
We will then invite you to demonstrate your proposal at a Design System Working Group meeting, and present your evidence to support it.  When you complete the issue template, you need to let us know who else to invite to the meeting.

## 4. Get approval for the proposal
The group will discuss the feature and your evidence. It will decide if the feature is needed in the design system. The working group may suggest a variant of an existing feature or reject the proposal if the evidence is not strong enough.

## 5. Add it to the backlog
If the group approves the new feature, it will add the proposal to the ONS Design System {{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/projects/1",
        "linkText": "community backlog on GitHub"
    })
}}.

## 6. Decide who will develop it
You may not be in a position to create the new feature yourself. If you want or need someone else to develop it, the working group meeting is the place to discuss this. The group can help find a suitable developer.

## Get help with your proposal
If you need further help with your proposal, or have any questions, you can {{
    onsExternalLink({
        "url": "mailto:jo.van.der.plank@ons.gov.uk;benjamin.armstrong@ons.gov.uk?subject=Help with a Design System proposal",
        "linkText": "contact the Design System Working Group"
    })
}}.
