$button-border-height: 3px;

.ons-btn {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  vertical-align: top;

  // Transparent border for IE11 High Contrast mode support due to 'border: 0' on buttons
  &::after {
    border: ems($button-border-height) solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .ons-svg-icon {
    fill: $color-text-inverse;
    height: 0.8rem;
    margin: 0 0 0.1rem 0.5rem;
    vertical-align: middle;
    width: 0.8rem;
  }

  &--search {
    .svg-icon {
      height: 21px;
      margin: 0;
      vertical-align: top;
      width: 21px;

      @include mq(s, m) {
        margin-left: -2px;
      }
    }
  }

  &__inner {
    background: $color-button;
    border-bottom: ems($button-border-height) solid rgba(0, 0, 0, 0.6);
    border-radius: $input-radius;
    color: $color-text-inverse;
    display: inherit;
    padding: 0.75em 1em;
    // Required for Google Tag Manager
    pointer-events: none;
  }

  // When preceded by another button (e.g. in a group)
  & + & {
    margin-left: 0.5rem;
  }

  // When focussed
  &:focus:not(:active):not(:hover) {
    outline: 3px solid transparent;
  }

  &:focus:not(:active):not(:hover) &__inner {
    background-color: $color-focus;
  }

  &:focus &__inner {
    color: $color-text-link-focus;
  }

  &:focus:hover &__inner {
    background: darken($color-focus, 5%);
  }

  &:not([class*='ons-btn--ghost']):not([class*='ons-btn--mobile']):focus,
  &:not([class*='ons-btn--ghost']):not([class*='ons-btn--mobile']):focus:hover {
    outline: none;
  }

  // When clicked
  &:not([class*='ons-btn--ghost']):not([class*='ons-btn--mobile']):active {
    padding-top: ems(3px);
  }

  &:not([class*='ons-btn--ghost']):not([class*='ons-btn--mobile']):active &__inner {
    border-bottom: 0;
  }

  // Modifiers
  &--small,
  &--mobile {
    font-size: 0.9rem;
  }

  &--small &,
  &--mobile & {
    &__inner {
      padding: 0.5em 0.7em;
    }
  }

  &--inline & {
    &__inner {
      padding: 0.5rem 1rem;
    }
  }

  &--secondary &,
  &--print &,
  &--download & {
    &__inner {
      background: $color-button-secondary;
      color: $color-text;
      font-weight: normal;
      .ons-svg-icon {
        fill: $color-text;
      }
    }
  }

  &--print & {
    &__inner {
      .ons-svg-icon {
        height: 1rem;
        margin: 0 0.5rem 0.1rem 0;
        width: 1rem;
      }
    }
  }

  // When hovered
  &:hover & {
    &__inner {
      background: darken($color-button, 5%);
    }
  }

  &--secondary:hover &,
  &--print:hover &,
  &--download:hover & {
    &__inner {
      background: darken($color-button-secondary, 5%);
    }
  }

  // Link button when hovered
  &--link:hover {
    text-decoration: none;
  }

  // Link button when focussed
  &--link:focus:not(:active):not(:hover) &__inner {
    background: $color-focus;
    color: $color-text-link-focus;
  }

  &--link:not(.btn--secondary):not(.btn--download) &,
  &--link:not(.btn--secondary):not(.btn--download):active &,
  &--link:not(.btn--secondary):not(.btn--download):hover & {
    &__inner {
      .ons-svg-icon {
        fill: $color-white;
      }
    }
  }

  &--link:focus:not(.btn--secondary):not(.btn--download) &,
  &--link:focus:hover:not(.btn--secondary):not(.btn--download) & {
    &__inner {
      .ons-svg-icon {
        fill: $color-black;
      }
    }
  }

  &--loader &__inner {
    position: relative;
    transition: color 0.3s ease-in-out;
    .ons-svg-icon {
      fill: $color-white;
      height: 1.5rem;
      left: 50%;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease-in-out;
      width: 1.5rem;
    }
  }

  &--loader.ons-is-loading &__inner {
    color: transparent;
    .ons-svg-icon {
      opacity: 1;
    }
  }

  // Spooky Buttons
  &--ghost &,
  &--mobile & {
    &__inner {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.6);
      color: $color-white;
      .ons-svg-icon {
        fill: $color-white;
      }
    }
  }

  &--ghost:active &,
  &--mobile:active & {
    &__inner {
      border-color: $color-white;
    }
  }

  &--ghost:active:focus {
    outline: 3px solid transparent;
  }

  &--ghost:focus:hover,
  &--mobile:focus:hover {
    outline: none;
  }

  &--ghost:hover &,
  &--mobile:hover &,
  &--ghost.active &,
  &--mobile.active & {
    &__inner {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &--ghost:focus &,
  &--mobile:focus & {
    &__inner {
      background-color: $color-focus;
      color: $color-text-link-focus;
      .ons-svg-icon {
        fill: $color-black;
      }
    }
  }

  &--mobile[aria-expanded='true'] {
    .ons-svg-icon {
      transform: rotate(270deg);
    }
  }

  &--mobile {
    .ons-svg-icon {
      transform: rotate(90deg);
    }

    @include mq(m) {
      display: none;
    }
  }

  // Disabled buttons
  &--disabled {
    &:hover {
      cursor: not-allowed;
    }
    .ons-btn__inner {
      opacity: 0.4;
    }
  }
}
