$button-shadow-size: 3px;

.ons-btn {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  vertical-align: top;
  white-space: nowrap;

  // Transparent border for IE11 High Contrast mode support due to 'border: 0' on buttons
  &::after {
    border: ems($button-shadow-size) solid transparent;
    bottom: -(ems($button-shadow-size)); // makes sure button shadow is selectable
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .ons-svg-icon {
    height: 18px;
    margin-top: -$button-shadow-size;
    vertical-align: middle;
    width: 18px;
  }

  &--search {
    .ons-svg-icon {
      @include mq(s, m) {
        margin-right: 0.5rem;
      }
    }
  }

  &__inner {
    background: $color-button;
    border-radius: $input-radius;
    box-shadow: 0 ems($button-shadow-size) 0 darken($color-button, 15%);
    color: $color-text-inverse;
    display: inherit;
    padding: 0.7em 1em 0.8em;
    // Required for Google Tag Manager
    pointer-events: none;
    position: relative;
  }

  // When preceded by another button (for example, in a group)
  & + & {
    margin-left: 0.5rem;
  }

  // When focused
  &:focus & {
    outline: 3px solid transparent;
  }

  &:focus &__inner {
    background: $color-focus;
    box-shadow: 0 ems($button-shadow-size) 0 $color-text-link-focus;
    color: $color-text-link-focus;
  }

  &:focus:hover:not(:active) &__inner {
    background: darken($color-focus, 5%);
  }

  // When down
  &:active &,
  &:active:focus & {
    &__inner {
      background: $color-button;
      box-shadow: none;
      color: $color-text-inverse;
    }
  }

  &:active {
    top: ems($button-shadow-size);
  }

  &:focus,
  &:focus:hover {
    outline: none;
  }

  // Small buttons
  &--small,
  &--mobile {
    font-size: 0.9rem;
  }

  &--small & {
    &__inner {
      padding: 0.5em 0.7em;
      .ons-svg-icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  &--small.ons-btn--ghost &,
  &--mobile & {
    &__inner {
      padding: 0.5em 0.7em;
    }
  }

  // Secondary button style
  &--secondary & {
    &__inner {
      box-shadow: 0 ems($button-shadow-size) 0 darken($color-button-secondary, 50%);
    }
  }

  &--secondary &,
  &--secondary:active &,
  &--secondary:active:focus & {
    &__inner {
      background: $color-button-secondary;
      color: $color-text;
      font-weight: normal;

      .ons-svg-icon {
        fill: $color-text;
      }
    }
  }

  // When hovered
  &:hover & {
    &__inner {
      background: darken($color-button, 5%);
    }
  }

  &--secondary:hover & {
    &__inner {
      background: darken($color-button-secondary, 5%);
    }
  }

  // Link button when hovered
  &--link:hover {
    text-decoration: none;
  }

  &--link:not(&--secondary) &,
  &--link:active:not(&--secondary) &,
  &--link:hover:not(&--secondary) & {
    &__inner {
      .ons-svg-icon {
        fill: $color-text-inverse;
      }
    }
  }

  &--link:focus:not(:active):not(&--secondary) &,
  &--link:focus:hover:not(:active):not(&--secondary) & {
    &__inner {
      .ons-svg-icon {
        fill: $color-text;
      }
    }
  }

  &--loader &__inner {
    position: relative;
    transition: color 0.3s ease-in-out;
    .ons-svg-icon {
      height: 27px;
      left: 50%;
      margin: 0;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease-in-out;
      width: 27px;
    }
  }

  &--loader.ons-btn--small {
    .ons-svg-icon {
      height: 24px;
      width: 24px;
    }
  }

  &--loader.ons-is-loading &__inner {
    color: transparent;
    .ons-svg-icon {
      fill: $color-white;
      margin-left: 0 !important;
      opacity: 1;
    }
  }

  &--text-link {
    vertical-align: baseline;
  }

  &--text-link & {
    &__inner {
      background: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: $color-text-link;
      font-weight: normal;
      padding: 0;
      .ons-svg-icon {
        fill: $color-text-link;
      }
    }
  }

  &--text-link:hover &,
  &--text-link:active &,
  &--text-link.active & {
    &__inner {
      background: none;
      color: $color-text-link-hover;
      .ons-svg-icon {
        fill: $color-text-link-hover;
      }
    }
  }

  &--text-link:focus:hover & {
    &__inner {
      color: $color-black;
    }
  }

  &--text-link:focus &,
  &--text-link.active:focus &,
  &--text-link:active:focus & {
    &__inner {
      background-color: $color-focus;
      box-shadow: 0 -2px $color-focus, 0 4px $color-text-link-focus !important;
      color: $color-text-link-focus;
      .ons-svg-icon {
        fill: $color-text-link-focus;
      }
    }
  }

  &--ghost &,
  &--mobile & {
    &__inner {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.6);
      box-shadow: none;
      color: $color-text-inverse;
      .ons-svg-icon {
        fill: $color-text-inverse;
      }
    }
  }

  &--ghost-dark & {
    @extend .ons-btn--secondary;
    &__inner {
      background: transparent;
      border: 2px solid rgba(0, 0, 0, 0.6);
      color: $color-text;
    }
  }

  &--ghost,
  &--text-link,
  &--mobile {
    &:active,
    .active {
      top: 0;
    }
  }

  &--ghost:active:focus {
    box-shadow: none;
    outline: 3px solid transparent;
  }

  &--ghost:focus:hover,
  &--text-link:focus:hover,
  &--mobile:focus:hover {
    outline: none;
  }

  &--ghost:hover &,
  &--mobile:hover & {
    &__inner {
      background: rgba(0, 0, 0, 0.1);
      border-color: $color-white;
    }
  }

  &--ghost:active &,
  &--mobile:active &,
  &--ghost:active:focus &,
  &--mobile:active:focus &,
  &--ghost.active &,
  &--mobile.active & {
    &__inner {
      background: rgba(0, 0, 0, 0.2);
      border-color: rgba(255, 255, 255, 0.6);
      color: $color-text-inverse;
      .ons-svg-icon {
        fill: $color-text-inverse;
      }
    }
  }

  &--ghost.active:focus &,
  &--mobile.active:focus & {
    &__inner {
      background: $color-focus;
      color: $color-text-link-focus;
      .ons-svg-icon {
        fill: $color-text-link-focus;
      }
    }
  }

  &--ghost:focus &,
  &--mobile:focus & {
    &__inner {
      box-shadow: none;
      .ons-svg-icon {
        fill: $color-black;
      }
    }
  }

  &--mobile[aria-expanded='true'],
  &--text-link[aria-expanded='true'] {
    .ons-svg-icon {
      transform: rotate(270deg);
    }
  }

  &--mobile,
  &--text-link {
    .ons-svg-icon {
      transform: rotate(90deg);
    }

    @include mq(m) {
      display: none;
    }
  }

  // Disabled buttons
  &--disabled {
    &:hover {
      cursor: not-allowed;
    }
    .ons-btn__inner {
      opacity: 0.4;
    }
  }
}
