$button-shadow-size: 3px;

.ons-btn {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  vertical-align: top;
  white-space: nowrap;

  // Transparent border for IE11 High Contrast mode support due to 'border: 0' on buttons
  &::after {
    border: ems($button-shadow-size) solid transparent;
    bottom: -(ems($button-shadow-size)); // makes sure button shadow is selectable
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--search {
    .ons-svg-icon {
      @include mq(s, l) {
        margin-right: 0.5rem;
      }
    }
  }

  &__inner {
    background: var(--ons-color-button);
    border-radius: $input-radius;
    box-shadow: 0 ems($button-shadow-size) 0 var(--ons-color-button-shadow);
    color: var(--ons-color-text-inverse);
    display: inherit;
    padding: 0.7em 1em 0.8em;
    // Required for Google Tag Manager
    pointer-events: none;
    position: relative;

    .ons-svg-icon {
      fill: var(--ons-color-text-inverse);
      height: 18px;
      margin-top: -$button-shadow-size;
      vertical-align: middle;
      width: 18px;
    }
  }

  // When preceded by another button (for example, in a group)
  & + & {
    margin-left: 0.5rem;
  }

  // When focused
  &:focus,
  &:focus-visible {
    // Add transparent outline because Windows High Contrast Mode doesn't show box-shadows
    outline: 3px solid transparent;
    outline-offset: 1px;
  }

  &:focus &__inner {
    background: var(--ons-color-focus);
    box-shadow: 0 ems($button-shadow-size) 0 var(--ons-color-text-link-focus);
    color: var(--ons-color-text-link-focus);

    .ons-svg-icon {
      fill: var(--ons-color-text-link-focus);
    }
  }

  &:focus:hover:not(:active) &__inner {
    background: var(--ons-color-focus-dark);
  }

  // When down
  &:active &,
  &:active:focus & {
    &__inner {
      background: var(--ons-color-button);
      box-shadow: none;
      color: var(--ons-color-text-inverse);

      .ons-svg-icon {
        fill: var(--ons-color-text-inverse);
      }
    }
  }

  &:active:not(&--disabled):not(&--loader.ons-is-loading) {
    top: ems($button-shadow-size);
  }

  // Small buttons
  &--small,
  &--mobile {
    font-size: 0.9rem;
  }

  &--small & {
    &__inner {
      padding: 0.5em 0.7em;
      .ons-svg-icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  &--small.ons-btn--ghost &,
  &--mobile & {
    &__inner {
      padding: 0.5em 0.7em;
    }
  }

  // Secondary button style
  &--secondary & {
    &__inner {
      box-shadow: 0 ems($button-shadow-size) 0 var(--ons-color-button-secondary-shadow);
    }
  }

  &--secondary &,
  &--secondary:active &,
  &--secondary:active:focus & {
    &__inner {
      background: var(--ons-color-button-secondary);
      color: var(--ons-color-text);
      font-weight: $font-weight-regular;

      .ons-svg-icon {
        fill: var(--ons-color-text);
      }
    }
  }

  // When hovered
  &:hover & {
    &__inner {
      background: var(--ons-color-button-hover);
    }
  }

  &--secondary:hover:not(&--disabled) & {
    &__inner {
      background: var(--ons-color-button-secondary-hover);
    }
  }

  &--disabled:not(&--secondary) &,
  &--loader.ons-is-loading:hover:not(&--secondary) & {
    &__inner {
      background: var(--ons-color-button);
    }
  }

  // Link button when hovered
  &--link:hover {
    text-decoration: none;
  }

  &--link:focus:not(:active):not(&--secondary) &,
  &--link:focus:hover:not(:active):not(&--secondary) & {
    outline: inherit;

    &__inner {
      .ons-svg-icon {
        fill: var(--ons-color-text);
      }
    }
  }

  &--text-link {
    vertical-align: baseline;
  }

  &--text-link & {
    &__inner {
      background: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: var(--ons-color-text-link);
      font-weight: $font-weight-regular;
      padding: 0;
      .ons-svg-icon {
        fill: var(--ons-color-text-link);
      }
    }
  }

  &--text-link-inverse & {
    &__inner {
      color: var(--ons-color-text-inverse-link);
      .ons-svg-icon {
        fill: var(--ons-color-text-inverse-link);
      }
    }
  }

  &--text-link:hover &,
  &--text-link:active &,
  &--text-link.active & {
    &__inner {
      background: none;
      color: var(--ons-color-text-link-hover);
      .ons-svg-icon {
        fill: var(--ons-color-text-link-hover);
      }
    }
  }

  &--text-link-inverse:hover &,
  &--text-link-inverse:active &,
  &--text-link-inverse.active & {
    &__inner {
      color: var(--ons-color-text-inverse-link-hover);
      .ons-svg-icon {
        fill: var(--ons-color-text-inverse-link-hover);
      }
    }
  }

  &--text-link:focus:hover & {
    &__inner {
      color: var(--ons-color-black);
    }
  }

  &--text-link:focus &,
  &--text-link.active:focus &,
  &--text-link:active:focus & {
    &__inner {
      background-color: var(--ons-color-focus);
      box-shadow: 0 -2px var(--ons-color-focus), 0 4px var(--ons-color-text-link-focus) !important;
      color: var(--ons-color-text-link-focus);
      .ons-svg-icon {
        fill: var(--ons-color-text-link-focus);
      }
    }
  }

  &--ghost & {
    &__inner {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.6);
      box-shadow: none;
      color: var(--ons-color-text-inverse);
      .ons-svg-icon {
        fill: var(--ons-color-text-inverse);
      }
    }
  }

  &--ghost-dark & {
    &__inner {
      background: transparent;
      border: 2px solid var(--ons-color-black);
      box-shadow: none;
      color: var(--ons-color-text);
      .ons-svg-icon {
        fill: var(--ons-color-text);
      }
    }
  }

  &--ghost,
  &--ghost-dark,
  &--dropdown,
  &--text-link {
    &:active,
    .active {
      top: 0;
    }
  }

  &--ghost:active:focus,
  &--ghost-dark:active:focus {
    box-shadow: none;
    outline: 3px solid transparent;
  }

  &--ghost:focus:hover,
  &--ghost-dark:focus:hover,
  &--dropdown:focus:hover,
  &--text-link:focus:hover {
    outline: none;
  }

  &--ghost-dark:focus:hover &,
  &--dropdown:focus:hover & {
    &__inner {
      color: var(--ons-color-text);
      .ons-svg-icon {
        fill: var(--ons-color-text);
      }
    }
  }

  &--ghost:hover & {
    &__inner {
      background: rgba(0, 0, 0, 0.1);
      border-color: var(--ons-color-white);
    }
  }

  &--ghost:active &,
  &--ghost:active:focus &,
  &--ghost.active & {
    &__inner {
      background: rgba(0, 0, 0, 0.2);
      border-color: rgba(255, 255, 255, 0.6);
      color: var(--ons-color-text-inverse);
      .ons-svg-icon {
        fill: var(--ons-color-text-inverse);
      }
    }
  }

  &--ghost-dark:hover &,
  &--ghost-dark:active &,
  &--ghost-dark:active:focus &,
  &--ghost-dark.active & {
    &__inner {
      background: var(--ons-color-black);
      border-color: var(--ons-color-black);
      color: var(--ons-color-white);
      .ons-svg-icon {
        fill: var(--ons-color-white);
      }
    }
  }

  &--ghost.active:focus &,
  &--ghost-dark.active:focus &,
  &--dropdown.active:focus & {
    &__inner {
      background: var(--ons-color-focus);
      color: var(--ons-color-text-link-focus);
      .ons-svg-icon {
        fill: var(--ons-color-text-link-focus);
      }
    }
  }

  &--ghost:focus &,
  &--ghost-dark:focus &,
  &--dropdown:focus & {
    &__inner {
      border-color: var(--ons-color-text-link-focus);
      box-shadow: 0 0 0 1px var(--ons-color-text-link-focus);
      .ons-svg-icon {
        fill: var(--ons-color-black);
      }
    }
  }

  &--loader & {
    &__inner {
      position: relative;
      transition: color 0.3s ease-in-out;
      .ons-svg-icon {
        height: 27px;
        left: 50%;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
        width: 27px;
      }
    }
  }

  &--loader.ons-btn--small {
    .ons-svg-icon {
      height: 24px;
      width: 24px;
    }
  }

  &--loader.ons-is-loading & {
    &__inner {
      color: transparent;
      .ons-svg-icon {
        margin-left: 0 !important;
        opacity: 1;
      }
    }
  }

  &--loader.ons-is-loading:active & {
    &__inner {
      box-shadow: 0 ems($button-shadow-size) 0 var(--ons-color-button-shadow);
    }
  }

  &--loader.ons-is-loading:hover {
    cursor: not-allowed;
  }

  &--dropdown:focus & {
    &__inner {
      box-shadow: inset 0 -4px 0 0 var(--ons-color-text-link-focus);
    }
  }

  &--mobile[aria-expanded='true'],
  &--text-link[aria-expanded='true'] {
    .ons-svg-icon {
      transform: rotate(270deg);
    }
  }

  &--mobile,
  &--text-link {
    .ons-svg-icon {
      transform: rotate(90deg);
    }

    @include mq(l) {
      display: none;
    }
  }

  // Disabled buttons
  &--disabled & {
    &__inner {
      opacity: 0.4;
    }
  }

  &--disabled:hover {
    cursor: not-allowed;
  }

  &--disabled:active & {
    &__inner {
      box-shadow: 0 ems($button-shadow-size) 0 var(--ons-color-button-shadow);
    }
  }

  &--dropdown {
    @extend .ons-btn--mobile;

    width: 100%;
  }

  &--dropdown & {
    @extend .ons-btn--mobile;

    width: 100%;

    &__inner {
      background: var(--ons-color-branded-tint);
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: var(--ons-color-branded-text);
      display: block;
      font-size: 1rem;
      font-weight: $font-weight-regular;
      padding: 0.6rem 1rem;
      text-align: left;

      .ons-svg-icon {
        fill: var(--ons-color-branded-text);
        float: right;
        margin-top: 3px;
      }
    }
  }

  &--dropdown:hover & {
    &__inner {
      background: var(--ons-color-branded-secondary);
      color: var(--ons-color-white);
      .ons-svg-icon {
        fill: var(--ons-color-white);
      }
    }
  }

  &--dropdown:active &,
  &--dropdown:active:focus & {
    &__inner {
      background: var(--ons-color-branded-secondary);
      color: var(--ons-color-white);
      .ons-svg-icon {
        fill: var(--ons-color-white);
      }
    }
  }
}

.ons-btn-group {
  @extend .ons-u-mb-m;

  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & .ons-btn,
  & a {
    margin: 0 1rem 1rem 0;
  }
}
