$button-border-height: 3px;

.btn {
  display: inline-block;
  margin: 0;
  padding: 0;

  border: 0;
  border-radius: 0;
  background: transparent;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;

  vertical-align: top;
  cursor: pointer;

  &:hover & {
    &__inner {
      background: darken($color-button, 5%);
    }
  }

  &__inner {
    display: inherit;
    padding: 0.75em 1em;

    border-bottom: ems($button-border-height) solid rgba(0, 0, 0, 0.6);
    border-radius: $input-radius;

    background: $color-button;
    color: $color-text-inverse;

    // Required for Google Tag Manager
    pointer-events: none;
  }

  // When preceded by another button (e.g. in a group)
  & + & {
    margin-left: 0.5rem;
  }

  // When focussed
  &:focus:not(:active):not(:hover) {
    outline: 3px solid transparent;
  }

  &:focus:not(:active):not(:hover) &__inner {
    background-color: $color-focus;
    color: $color-focus-text;
  }

  &:not([class*='btn--secondary']):not([class*='btn--print']):not([class*='btn--ghost-blue']):focus:hover &__inner {
    color: $color-text-inverse;
  }

  &:not([class*='btn--ghost']):not([class*='btn--mobile']):focus,
  &:not([class*='btn--ghost']):not([class*='btn--mobile']):focus:hover {
    outline: none;
  }

  // When clicked
  &:not([class*='btn--ghost']):not([class*='btn--mobile']):active {
    padding-top: ems(3px);
  }

  &:not([class*='btn--ghost']):not([class*='btn--mobile']):active &__inner {
    border-bottom: 0;
  }

  // Modifiers
  &--small,
  &--mobile {
    font-size: 0.9rem;
  }

  &--small &,
  &--mobile & {
    &__inner {
      padding: 0.5em 0.7em;
    }
  }

  &--inline & {
    &__inner {
      padding: 0.5rem 1rem;
    }
  }

  &--secondary &,
  &--print & {
    &__inner {
      background: $color-button-secondary;
      color: $color-text;
      font-weight: normal;
    }
  }

  // When hovered
  &--secondary:hover &,
  &--print:hover & {
    &__inner {
      background: darken($color-button-secondary, 5%);
    }
  }

  &--print &__inner:not([class*='icon--']) {
    &:after {
      @include icon('print');
      content: '';
      margin: 0 0 0 0.5rem;
      vertical-align: middle;
    }
  }

  &--link &__inner {
    &:after {
      content: '';
      margin: 0 0 0 0.5rem;
      vertical-align: middle;
    }
  }

  // Link button when hovered
  &--link:hover {
    text-decoration: none;
  }

  // Link button when focussed
  &--link:focus:not(:active):not(:hover) &__inner {
    background: $color-focus;
    color: $color-focus-text;
  }

  &--link:not(.btn--secondary) &,
  &--link:not(.btn--secondary):active &,
  &--link:not(.btn--secondary):hover:focus & {
    &__inner:not([class*='icon--']) {
      &:after {
        @include icon($name: 'chevron-right-white', $height: 0.8rem);
      }
    }
  }

  &--link {
    &.btn--ghost-blue,
    &.btn--ghost-blue:active,
    &.btn--ghost-blue:hover:focus {
      .btn__inner:not([class*='icon--']) {
        &:after {
          @include icon($name: 'chevron-right-blue', $height: 0.8rem);
        }
      }
    }
  }

  &--link:focus:not(.btn--secondary) &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'chevron-right-black', $height: 0.8rem);
    }
  }

  &--link.btn--small:not(.btn--secondary) &,
  &--link.btn--small:not(.btn--secondary):active &,
  &--link.btn--small:not(.btn--secondary):hover:focus & {
    &__inner:not([class*='icon--']) {
      &:after {
        @include icon($name: 'chevron-right-white', $height: 0.7rem);
      }
    }
  }

  &--link:focus.btn--small:not(.btn--secondary) &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'chevron-right-black', $height: 0.7rem);
    }
  }

  &--link.btn--secondary &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'chevron-right-black', $height: 0.8rem);
    }
  }

  &--link:focus.btn--secondary &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'chevron-right-black', $height: 0.8rem);
    }
  }

  &--link.btn--small.btn--secondary &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'chevron-right-black', $height: 0.7rem);
    }
  }

  &--link:focus.btn--small.btn--secondary &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'chevron-right-black', $height: 0.7rem);
    }
  }

  &--loader &__inner {
    position: relative;
    transition: color 0.3s ease-in-out;
    &:after {
      @include icon($name: 'loader', $height: 1.5em);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &--loader:focus &__inner:not([class*='icon--']) {
    &:after {
      @include icon($name: 'loader-black', $height: 1.5em);
    }
  }

  &--loader.is-loading &__inner {
    color: transparent;

    &:after {
      opacity: 1;
    }
  }

  &--loader.is-loading:focus &__inner {
    color: transparent !important;
  }

  // Spooky Buttons
  &--ghost &,
  &--mobile & {
    &__inner {
      border: 2px solid rgba(255, 255, 255, 0.6);

      background: transparent;
      color: $color-white;
    }
  }

  &--ghost:active &,
  &--mobile:active & {
    &__inner {
      border-color: $color-white;
    }
  }

  &--ghost:active:focus {
    outline: 3px solid transparent;
  }

  &--ghost:hover &,
  &--mobile:hover & {
    &__inner {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &--ghost:focus:not(:hover) &__inner {
    background-color: $color-focus;
    color: $color-focus-text;
  }

  &--ghost-blue & {
    &__inner {
      border: 2px solid $color-blue;

      background: transparent;
      color: $color-blue;
    }
  }

  &--ghost-blue:active & {
    &__inner {
      border-color: darken($color-blue, 10%);
      color: darken($color-blue, 10%);
    }
  }

  &--mobile {
    @include mq(m) {
      display: none;
    }
  }

  &--mobile & {
    &__inner:not([class*='icon--']) {
      padding: 0.4rem 0.5rem;
      &:after {
        @include icon($name: 'chevron-down-white', $height: 0.8rem);
        content: '';
        display: inline-block;
        margin: 0 0 0 0.5rem;
        vertical-align: middle;
      }
    }
  }

  &--mobile[aria-expanded='true'] & {
    &__inner:after {
      transform: rotate(180deg);
    }
  }

  &--mobile:focus:not(:active):not(:hover) & {
    &__inner:not([class*='icon--']) {
      &:after {
        @include icon($name: 'chevron-down-black', $height: 0.8rem);
      }
    }
  }

  &--link,
  &--link:active,
  &--link:hover:focus {
    .btn__inner.icon--external-link {
      &:after {
        @include icon($name: 'external-link-white', $height: 0.8rem);
      }
    }
  }

  &--link:focus {
    .btn__inner.icon--external-link {
      &:after {
        @include icon($name: 'external-link-black', $height: 0.8rem);
      }
    }
  }

  // Disabled buttons
  &--disabled {
    &:hover {
      cursor: not-allowed;
    }
    .btn__inner {
      opacity: 0.4;
    }
  }
}
