{% macro onsButton(params) %}
  <button
      type="{{ params.type if params.type else ('button' if params.print else 'submit') }}"
      class="btn{% if params.classes %} {{ params.classes }}{% endif %}{% if params.disabled %} btn--disabled{% endif %}{% if params.print %} btn--print u-d-no js-print-btn{% endif %}"
      {% if params.id %}id="{{ params.id }}"{% endif %}
      {% if params.value %}value="{{ params.value }}"{% endif %}
      {% if params.name %}name="{{ params.name }}"{% endif %}
      {% if params.disabled %} disabled="disabled" aria-disabled="true"{% endif %}
      {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}
      >
      <span class="btn__inner">{{- params.html | safe if params.html else params.text -}}</span>
  </button>
{% endmacro %}
