{% from "components/button/_macro.njk" import onsButton %}

{% if not isDesignSystemExample %}
    {% set chatUrl = "/design-system/patterns/send-a-web-form/example-form" %}
{% else %}
    {% set chatUrl = "/patterns/send-a-web-form/example-form" %}
{% endif %}

{{
    onsButton({
        "text": 'Web chat',
        "url": chatUrl,
        "newWindow": true,
        "newWindowDescription": 'opens in a new window',
        "attributes": {
            "onclick": "window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;"
        }
    })
}}
