{% from "components/button/_macro.njk" import onsButton %}

{{
    onsButton({
        "text": 'Web chat',
        "url": '/patterns/send-a-web-form/example-form',
        "newWindow": true,
        "newWindowDescription": 'opens in a new window',
        "attributes": {
            "onclick": "window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;"
        }
    })
}}
