---
title: Button
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    patternlibExample({"path": "components/button/examples/button/index.njk"})
}}

## When to use this component
Buttons are used to direct the user to perform a specific interaction. The copy used on the button should be clear, concise and direct.

## How it works
Write button text in sentence case, describing the action it performs. For example ‘Save and continue’ or ‘Start now’.

Align the primary action button to the left edge of your form.

There are 2 ways to use the button component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/), you can use the Nunjucks macro.

## Variations
### Small
In certain circumstances there may be the need for multiple primary actions to exist on a page. The small primary button should be used in this scenario only when each action has the same context, for example, a list containing business surveys that a user needs to complete.
{{
    patternlibExample({"path": "components/button/examples/button-small/index.njk"})
}}

### Secondary
Secondary buttons should be used for supplementary actions which users can take. Secondary buttons cannot exist without a primary button in the same context.
{{
    patternlibExample({"path": "components/button/examples/button-secondary/index.njk"})
}}

### Secondary (small)
A small secondary button should be used within the same context of a primary small button when there is an additional action available along with the primary action.
{{
    patternlibExample({"path": "components/button/examples/button-secondary-small/index.njk"})
}}

### Call to action
The call to action button should be used when a link is the primary call to action on a page.
{{
    patternlibExample({"path": "components/button/examples/button-link/index.njk"})
}}

#### Call to action opening in a new window
If a call to action button needs to open in a new window, e.g. for a web chat service, the `newWindow` parameter should be set to `true`. This will then provide a description to screen reader users to inform them the button will open a new window before they click it, as it would disable the back button in the browser.
{{
    patternlibExample({"path": "components/button/examples/button-link-new-window/index.njk"})
}}

### Group
Groups are used to group two or more buttons together and easily align them alongside eachother. This will allow for a page to have two actions available to the user such as Continue and Cancel.
{{
    patternlibExample({"path": "components/button/examples/button-group/index.njk"})
}}

### Ghost
The ghosted button style is for use in the [header](/components/header/#external-with-language-and-save-button) or [footer](/components/footer). This can be used to allow a user to save and sign out of the current context.

Setting the `buttonStyle` param to `exit` adds the appropriate icon for a 'sign out' or 'exit' button.
{{
    patternlibExample({
        "path": "components/button/examples/button-ghost/index.njk",
        "backgroundColor": "#3b7a9e"
    })
}}

### Disabled
Use `btn--disabled` with the `disabled=true` element attribute for buttons that have no event/action but need to be displayed.
{{
    patternlibExample({"path": "components/button/examples/button-disabled/index.njk"})
}}

### Loader
The loader button is used to help prevent user’s from clicking buttons multiple times when they are unsure if the action they have carried out has worked. This can lead to them submitting the form on the page twice. Setting SubmitType to `loader` will disable the button when clicked and will add a loading animation. This can be used when the button executes a process that can take some time to complete.
{{
    patternlibExample({"path": "components/button/examples/button-loader/index.njk"})
}}

### Timer
The timer button is aimed at stopping forms being submitted twice when users double click the submit button. Setting SubmitType to `timer` will disable the button for one second on click.
{{
    patternlibExample({"path": "components/button/examples/button-timer/index.njk"})
}}

### Print
The `buttonStyle` parameter can be set to `print` to render a print button. This will take care of adding iconography and classes for the `print-button.js` file to pick up. The button will not render until `print-button.js` has run, and will not be visible on printed pages.
{{
    patternlibExample({"path": "components/button/examples/button-print/index.njk"})
}}

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/issues/45",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/45",
        "linkText": "Discuss 'Button' on GitHub",
        "type": "external"
    })
}}
