{% from "components/button/_macro.njk" import onsButton %}
<form onsubmit="return false;">
    <div class="btn-group">
        {{
            onsButton({
                "text": 'Submit',
                "classes": 'btn-group__btn',
                "submitType": "timer"
            })
        }}
    </div>
</form>
