{% from "components/button/_macro.njk" import onsButton %}
    <div class="btn-group">
    {{
        onsButton({
            "text": 'Submit',
            "classes": 'btn-group__btn',
            "submitType": "timer",
            "url": "#"
        })
    }}
    </div>
