---
title: Writing page titles
sortOrder: 2
group: Guides
---
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}

Every page of a website or service needs a page `<title>`. A good page title helps users find what they want and recognise they are in the right place. 

Page titles are the first thing read out by screen readers and the link that is shown first on search results. 

Each page title needs to:
{{
    onsList({
        "itemsList": [
          {
            "text": 'describe what’s on the page'
          },
          {
              "text": 'have the most important words first'
          },
          {
              "text": 'be concise'
          },
          {
              "text": 'use clear, accessible language'
          },
          {
              "text": 'be unique'
          },
          {
              "text": 'avoid internal jargon'
          },
          {
              "text": 'use consistent language, for example, if “Start survey” is used for one page title, it would be inconsistent to use “Submit form” later in the user’s journey'
          }
        ]
    })
}}

Include a suffix to each page title of the site name so the user is clear about where they are. For example, “Introduction to people who live here - Census 2021” or “Births, deaths and marriages - Office for National Statistics”.

For the [error state](patterns/correct-errors) version of each page, add the prefix “Error:” to each page title.
