{% macro onsBrowserBanner(params) %}
    <div class="ons-browser-banner">
        <div class="ons-container{{ ' ons-container--wide' if params.wide is defined and params.wide }}">
            <p class="ons-browser-banner__content"><span class="ons-browser-banner__lead">{{ params.bannerLeadingText }}</span> {{ params.bannerText }} <a class="ons-browser-banner__link" href="{{ params.bannerLinkUrl }}">{{ params.bannerLinkText }}</a>.</p>
        </div>
    </div>
{% endmacro %}
