{% macro onsBrowserBanner(params) %}
    {% if params.lang == "cy" %}
        {% set bannerLeadingText = 'Nid yw’r wefan hon yn cefnogi eich porwr mwyach.' %}
        {% set bannerText = 'Gallwch' %}
        {% set bannerLinkText = 'ddiweddaru eich porwr i’r fersiwn ddiweddaraf' %}
        {% set bannerLinkUrl = 'https://cy.ons.gov.uk/help/browsers' %}
    {% else %}
        {% set bannerLeadingText = 'This website no longer supports your browser.' %}
        {% set bannerText = 'You can' %}
        {% set bannerLinkText = 'upgrade your browser to the latest version' %}
        {% set bannerLinkUrl = 'https://www.ons.gov.uk/help/browsers' %}
    {% endif %}

    <div class="ons-browser-banner">
        <div class="ons-container{{ ' ons-container--wide' if params.wide is defined and params.wide }}">
            <p class="ons-browser-banner__content"><span class="ons-browser-banner__lead">{{ params.bannerLeadingText | default (bannerLeadingText) }}</span> {{ params.bannerText | default(bannerText) }} <a class="ons-browser-banner__link" href="{{ params.bannerLinkUrl | default(bannerLinkUrl) }}">{{ params.bannerLinkText | default (bannerLinkText) }}</a>.</p>
        </div>
    </div>
{% endmacro %}
