---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/button/_macro.njk" import onsButton %}

{% set pageConfig = {
    "title": 'Service name',
    "absoluteUrl": pageInfo.url,
    "footer": {}
} %}
{% block main %}
    {{
        onsPanel({
            "classes": 'u-mb-m',
            "type": 'success',
            "id": 'webform-success',
            "icon": 'check',
            "iconSize": 'xl',
            "body": '<h1>Thank you for contacting us</h1><p>Your message has been sent.</p>'
        })
    }}
    <p>We will respond to you within 2 working days.</p>
    {{
        onsButton({
            "type": 'button',
            "text": 'Done',
            "classes": 'u-mt-m',
            "icon": false,
            "url": '#0'
        })
    }}
{% endblock %}
