{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% macro onsUACInput(params) %}
    {% set groupSize = params.groupSize | default(4) %}
    {% set extraSpaces = (params.maxlength | default(16) / groupSize) - 1 %}
    {% set maxlength = params.maxlength | default(16) + extraSpaces %}

    {% set content %}
        {{ onsInput({
            "id": params.id,
            "type": params.type,
            "name": params.name,
            "classes": "ons-uac__input ons-js-uac" + (" ons-u-mb-xs" if params.postTextboxLinkText else ""),
            "label": params.label,
            "attributes": {
                "maxlength": maxlength,
                "data-group-size": groupSize,
                "autocomplete": "off",
                "autocapitalize": "characters"
            },
            "fieldClasses": "ons-question__answer",
            "error": params.error,
            "postTextboxLinkText": params.postTextboxLinkText,
            "postTextboxLinkUrl": params.postTextboxLinkUrl
        }) }}
    {% endset %}

    {% if not params.error %}
        {% call onsPanel({
            "classes": "ons-u-mb-s" + (' ' + params.classes if params.classes else '')
        }) %}
            {{ content | safe }}
        {% endcall %}
    {% else %}
        {{ content | safe }}
    {% endif %}

    {% if params.securityMessage %}
        {% call onsPanel({
            "type": "bare",
            "iconType": "lock",
            "classes": "ons-u-mb-s"
        }) %}
            {{ params.securityMessage }}
        {% endcall %}
    {% endif %}
{% endmacro %}
