---
title: "Example: Access code error"
layout: ~
---
{% extends "layout/_template.njk" %}
{% from "components/access-code/_macro.njk" import onsAccessCode %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}

{% set pageConfig = {
    "title": "Study title"
} %}

{% block main %}

    <h2>If you have lost or not <strong>received</strong> an <em>access code</em>, you can.</h2>
    <p>If you have lost or not <strong>received</strong> an <em>access code</em>, you can.</p>

{% endblock %}
