---
title: Using Nunjucks
sortOrder: 3
group: Installing the ONS Design System
---

{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}

## Using Nunjucks
The ONS Design System uses {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/getting-started.html",
        "linkText": "Nunjucks"
    })
}} as its templating language. All components and templates are also compatible with applications that use {{
    onsExternalLink({
        "url": "https://jinja.palletsprojects.com/en/3.0.x/",
        "linkText": "Jinja"
    })
}}.

## How to set up Nunjucks

### npm package
We recommend installing the design system through the {{
    onsExternalLink({
        "url": "https://www.npmjs.com/package/@ons/design-system",
        "linkText": "npm package"
    })
}} we publish on each release. 

In your Nunjucks configuration you'll need to add `node_modules/@ons/design-system/components` and `node_modules/@ons/design-system/page-templates` to your search paths.

### Zip file
You can get all components and templates from a zip file that is created with each {{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/releases",
        "linkText": "design system release"
    })
}}. You need to create a script that gets the zip and unpacks the contents. For development, the script could run manually, and the folders added to a `.gitignore` file. In production, it would need to be run within a build process as part of a continuous integration task.

If you are using Jinja, your script will need to copy the `components` and `layout` folders from the unzipped download into your `templates` folder. This is where Jinja looks for templates as multiple search paths cannot be specified.

The zipped templates have already got the content delivery network (CDN) release version and paths set based on the version of the templates you have downloaded.
## How to use Nunjucks with components

Each component contains examples and any context-specific variants. You can copy the Nunjucks code directly from the examples.

{% from "views/partials/example/_macro.njk" import patternlibExample %}
{{
    patternlibExample({"path": "components/panel/examples/information/index.njk"})
}}
