---
"fullWidth": true
---
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'ONS Service',
        "variants": 'neutral',
        "orgUrl": '#0',
        "serviceLinks": {
            "id": "service-links",
            "ariaLabel": 'Services menu',
            "ariaListLabel": 'Menu',
            "toggleServicesButton": {
                "text": 'Account',
                "ariaLabel": 'Toggle services menu'
            },
            "itemsList": [
                {
                    "title": "Help",
                    "url": "#0"
                },
                {
                    "title": "My Account",
                    "url": "#0"
                },
                {
                    "title": "Sign out",
                    "url": "#0"
                }
            ]
        },
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "currentPath": '#menu-item-2',
            "currentPageTitle": 'Design system',
            "itemsList": [
                {
                    "title": 'Menu item 1',
                    "url": '#0'
                },
                {
                    "title": 'Menu item 2',
                    "url": '#menu-item-2'
                },
                {
                    "title": 'Menu item 3',
                    "url": '#0'
                }
            ],
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle main menu'
            }
        }
    })
}}
