---
title: Articles
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

The article component contains media, title, metadata and excerpt.

## Featured article
Below is a featured article placed at the top of the page to add emphasis to a chosen item. The featured article should only appear once on a page.

{{
    patternlibExample({"path": "components/articles/examples/articles-featured/index.njk"})
}}

## Single article
{{
    patternlibExample({"path": "components/articles/examples/articles-single/index.njk"})
}}

## Multiple articles
{{
    patternlibExample({"path": "components/articles/examples/articles-multiple/index.njk"})
}}

## How to use this component
We use two versions of the image, one for standard screens and the other for retina screens.

Image dimension for standard news articles:

* standard screen is: `140px × 92px`
* retina screen is: `280px × 184px`

Image dimensions for a featured news article:

* standard screen is: `379px × 248px`
* retina screen is: `758px × 496px`

We specify a folder path for both small and large images, which is defined in the macro as `smallSrc` and `largeSrc`.

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1066",
        "linkText": "Discuss the ‘Articles’ component on GitHub"
    })
}}
