{% from "components/related-content/_macro.njk" import onsRelatedContent %}

{{
     onsRelatedContent({
        "ariaLabel": 'Related links to help with the census',
        "rows": [
            {
                "id": 'related-content',
                "title": 'Related content',
                "itemsList": [
                    {
                        "text": 'Find a census support centre',
                        "url": '#0'
                    },
                    {
                        "text": 'Languages',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    }
                ]
            }
        ]

    })
}}
