---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/uac/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set pageConfig = {
  "title": "Access code example"
} %}

{% block main %}
    <h1 class="u-mt-l">Start survey</h1>

    {{ onsUACInput({
        "id": "uac",
        "name": "uac",
        "postTextboxLinkText": "Where to find your access code",
        "postTextboxLinkUrl": "#",
        "label": {
            "text": "Enter your 16-character access code",
            "description": "Keep this code safe. You will need to enter it every time you access your survey"
        },
        "securityMessage": "Your personal information is protected by law and will be kept confidential."
    }) }}

    {{ onsButton({
        "text": "Access survey",
        "classes": "u-mb-xl"
    }) }}

    <h2>If you don't have an access code</h2>
    <p>
        You can <a href="#">request a new code</a> to start a new survey if you have lost or not received an access code. This can be sent to you by text or post.
    </p>
{% endblock %}
