{% from "components/skip-to-content/_macro.njk" import onsSkipToContent %}
{% from "components/header/_macro.njk" import onsHeader %}
{% from "components/footer/_macro.njk" import onsFooter %}

{% if page and page.language and page.languages %}
    {% set currentLanguage = page.language.languages | selectattr("current") | first %}
    {% set currentLanguageISOCode = currentLanguage.ISOCode %}
{% endif %}
<!doctype html>
<html lang="{{ currentLanguageISOCode | default('en-GB') }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ '/' + data.version if data.version  }}/favicons/favicon.ico">
        <title>{{ page.title | default(data.title) }}</title>
        <link rel="stylesheet" href="{{ '/' + data.version if data.version  }}/css/responsive.css">

        {% block headIcons %}
        {% endblock %}

        {% block head %}{% endblock %}
    </head>
    <body class="{{ bodyClasses }}">
        <div class="page">
            <div class="page__content">
                {% block bodyStart %}{% endblock %}
                {% block skipLink %}
                    {{
                        onsSkipToContent({
                            "url": "#main-content",
                            "text": "Skip to main content"
                        })
                    }}
                {% endblock %}
                {% block header %}
                    {{
                        onsHeader({
                            "title": page.title,
                            "language": page.language
                        })
                    }}
                {% endblock %}
                {% block main %}
                    <div class="page__container container u-mt-s">
                        <div class="grid">
                            <div class="grid__col col-7@m">
                                <main id="main-content" role="main" class="page__main {{ mainClasses }}">
                                    {% block content %}{% endblock %}
                                </main>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            {% block footer %}
                {{
                    onsFooter({
                        "classes": "page__footer u-mt-xl u-pt-l",
                        "language": page.language,
                        "rows": page.footer.rows,
                        "OGLLink": page.footer.OGLLink
                    })
                }}
            {% endblock %}
            {% block bodyEnd %}{% endblock %}
        </div>
        <script type="module" src="{{ '/' + data.version if data.version  }}/scripts/bundle.js"></script>
        <script nomodule src="{{ '/' + data.version if data.version  }}/scripts/bundle.es5.js"></script>
        <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
        
        {% if isPatternLib %}
            <script type="module" src="/scripts/patternlib.js"></script>
            <script nomodule src="/scripts/patternlib.es5.js"></script>
        {% endif %}
        {% if devMode %}
            <script>document.write('<script src="//' + (location.hostname || 'localhost').split(':')[0] + ':35729/livereload.js" defer></' + 'script>'); </script>
        {% endif %}
    </body>
</html>
