---
title: Page template
sortOrder: 5
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Use the page template to create pages with the core components and markup required for an ONS service.

The examples below provide templates that consist of commonly used [components](/components) and [patterns](/patterns).

All template examples contain the following:

- CSS and Javascript to add styling and behaviours to components.
- a [skip to content](/components/skip-to-content) link, [header](/components/header) and [footer](/components/footer) component.
- a favicon, and other related bookmark icons.

Click on the HTML tab on each example to view the rendered HTML.

## Default page template

The example below shows the minimum requirements for an ONS page template.

{{
    patternlibExample({ "path": "styles/page-template/examples/basic/index.njk" })
}}

## Customised page template

Components can be added to the page template. The example below provides a [phase banner](/components/phase-banner), [change language](/patterns/change-language), [breadcrumbs](/components/breadcrumb), [save button](/components/button) and [footer links](/components/footer).

{{
    patternlibExample({ "path": "styles/page-template/examples/custom/index.njk" })
}}

## Census page template

The example below shows a themed census version of the ONS page template.

{{
    patternlibExample({ "path": "styles/page-template/examples/census/index.njk" })
}}

## Census page template (right-to-left)

The example below shows a themed census version of the ONS page template which sets the direction property from right-to-left.

{{
    patternlibExample({ "path": "styles/page-template/examples/rtl/index.njk" })
}}


<pre>
    <code class="patternlib-example__code javascript">
{# Need double raws to due to running nunjucks renderer twice #}
{% raw %}{% raw %}
{% extends "page-templates/_template.njk" %}
{% endraw %}{% endraw %}
    </code>
</pre>

### Changing template content

The Nunjucks template allows 2 ways to change the content: {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#set",
        "linkText": "variables"
    })
}} or {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#block",
        "linkText": "blocks"
    })
}}

The main difference between a variable and a block is that blocks can contain markup.

#### Variables

Variables can be set with:

<pre>
    <code class="patternlib-example__code javascript">
{% raw %}{% raw %}
{% set variableName = "value" %}
{% endraw %}{% endraw %}
    </code>
</pre>

{% markdown %}
| Variable Name   | Type                                | Required | Description                                                                                                                           |
| --------------- | ----------------------------------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------- |
| form            | `FormConfig` [_(ref)_](#formconfig) | false    | A object with configuration to wrap the current page in a form. If `form` variable is not set, the page will not be wrapped in a form |
| pageConfig      | `PageConfig` [_(ref)_](#pageconfig) | true     | A object with configuration for the current page                                                                                      |
| release_version | string                              | false    | What CDN version to use. This can also be configured from the `page` configuration object                                             |
{% endmarkdown %}

##### FormConfig

{% markdown %}
| Variable Name | Type   | Required | Description                                                                |
| ------------- | ------ | -------- | -------------------------------------------------------------------------- |
| classes       | string | false    | Classes to apply to the wrapping form                                      |
| attributes    | object | false    | HTML attributes (for example data attributes) to add to the button form    |
| method        | string | false    | The method the form should you, if not specified it will default to `POST` |
{% endmarkdown %}

##### PageConfig

{% markdown %}
| Variable Name | Type                                                | Required                          | Description                                                                                  |
| ------------- | --------------------------------------------------- | --------------------------------- | -------------------------------------------------------------------------------------------- |
| cdn           | string                                              | false                             | What CDN version to use                                                                      |
| assetsURL     | string                                              | false                             | The base url where to find CSS/JS/images etc. e.g. `http://localhost:3030`                   |
| theme         | string                                              | false                             | The name of the css file e.g. "census" if using a theme. Defaults to "main".                 |
| title         | string                                              | true                              | The contents for the `<title>` element                                                       |
| cspNonce      | string                                              | false                             | The Content Security Policy (CSP) nonce value                                                |
| headMeta      | `HeadMeta` [_(ref)_](#headmeta)                     | false                             | Configuration for `<meta>` information in the document `<head>`                              |
| breadcrumbs   | `Breadcrumbs` [_(ref)_](/components/breadcrumb)     | false                             | Configuration for the breadcrumbs or back link                                               |
| bodyClasses   | string                                              | false                             | Classes to add to the `<body>` element                                                       |
| header        | `PageHeader` [_(ref)_](#pageheader)                 | true                              | Configuration for the page header                                                            |
| language      | `Language` [_(ref)_](/components/language-selector) | false                             | Language configuration for the page                                                          |
| signoutButton | `Button` [_(ref)_](/components/button)              | false                             | Configuration for the save and sign out button. If not specified, the button will not render |
| toggleButton  | `HeaderToggleButton` [_(ref)_](/components/header)  | true (if `navigation` supplied)   | Configuration for the mobile navigation toggle button                                        |
| navigation    | `HeaderNavigation` [_(ref)_](/components/header)    | true (if `toggleButton` supplied) | Configuration for header navigation links                                                    |
| phase         | `PhaseBanner` [_(ref)_](/components/phase-banner)   | false                             | Settings for the Phase banner                                                                |
| serviceLinks  | `Array<Navigation>` [_(ref)_](/components/header)   | false                             | An array to render the service links list                                                    |
| footer        | `PageFooter` [_(ref)_](#pagefooter)                 | true                              | Configuration for the page footer                                                            |
| pageColNumber | string                                              | false                             | sets the number of grid columns for the page (defaults to 8)                                 |
{% endmarkdown %}

###### PageHeader

{% markdown %}
| Variable Name | Type   | Required                             | Description                                                                            |
| ------------- | ------ | ------------------------------------ | -------------------------------------------------------------------------------------- |
| title         | string | false                                | Title for the page header. If not specified this will default to `page.title`          |
| logo          | string | false                                | URL for the page header logo                                                           |
| logoAlt       | string | false                                | Alt tag for the page header logo                                                       |
| logoHref      | string | false                                | URL for the page header logo. If not specified the image will not be wrapped in a link |
| titleLogo     | string | false                                | URL for image to use instead of a title string                                         |
| titleLogoAlt  | string | false (if `titleLogo` not specified) | Alt tag for the title logo                                                             |
| titleLogoHref | string | false                                | Will wrap the title logo in a link to the specified URL                                |
{% endmarkdown %}

###### HeadMeta

{% markdown %}
| Variable Name | Type   | Required                             | Description                                                                                                      |
| ------------- | ------ | ------------------------------------ | ---------------------------------------------------------------------------------------------------------------- |
| description   | string | true                                 | Description of the current page for search engines.                                                              |
| canonicalUrl  | string | false                                | URL for the preferred page for search engines to avoid duplicate content penalties. Defaults to current page url |
| twitterSite   | string | false                                | @username for the website used in the card, for example `@census2021`                                            |
{% endmarkdown %}

###### PageFooter

{% markdown %}
| Variable Name        | Type                                                     | Required | Description                                                                                          |
| -------------------- | -------------------------------------------------------- | -------- | ---------------------------------------------------------------------------------------------------- |
| OGLLink              | `OGLLink` [_(ref)_](/components/footer)                  | false    | An object containing settings for the OGL link                                                       |
| footerWarning        | `footerWarning` [_(ref)_](/components/footer)            | false    | An object containing settings for the Footer Warning                                                 |
| copyrightDeclaration | `copyrightDeclaration` [_(ref)_](/components/footer)     | false    | An object containing settings for the Copyright Declaration                                          |
| cols                 | `Array<FooterCol>` [_(ref)_](/components/footer)         | false    | An array of `FooterCol` objects. _Maximum of 3_                                                      |
| rows                 | `Array<FooterRow>` [_(ref)_](/components/footer)         | false    | An array of `FooterRow` objects                                                                      |
| poweredBy            | boolean &#124; `PoweredBy` [_(ref)_](/components/footer) | false    | Whether to show the ONS logo, and optionally settings for the logo                                   |
| lang                 | string                                                   | false    | The current page language. Will change out the ONS logo if `poweredBy` is provided. Defaults to `en` |
| button               | `Button` [_(ref)_](/components/button)                   | false    | Settings for save and sign out using the button component                                            |
| newTabWarning        | string                                                   | false    | Text for warning of links opening in new tabs                                                        |
| crest                | boolean                                                  | false    | If set to true will add the UK coat of arms to the footer                                            |
{% endmarkdown %}

#### Blocks

Blocks can be set with:

<pre>
    <code class="patternlib-example__code javascript">
{% raw %}{% raw %}
{% block blockName %}
  HTML Here
{% endblock %}
{% endraw %}{% endraw %}
    </code>
</pre>

To change the components that are included by default, set their equivalent blocks, for example:

<pre>
    <code class="patternlib-example__code javascript">
{% raw %}{% raw %}
{% block header %}
  {{ onsHeader({
   ...
  }) }}
{% endblock %}
{% endraw %}{% endraw %}
    </code>
</pre>

{% markdown %}
| Block Name | Description                                                                         |
| ---------- | ----------------------------------------------------------------------------------- |
| headIcons  | Override the default icons used for ONS branded pages                               |
| head       | An area to add additional markup to the `<head>` element, e.g. extra CSS references |
| body       | Override the entire contents of the `<body>` element                                |
| bodyStart  | An area to add additional markup after the opening <body> element                   |
| skipLink   | Override the default [skip link](/components/skip-link)                             |
| preHeader  | An area to add content and markup before the header                                 |
| header     | Override the default [header](/components/header) component                         |
| page       | Override the default content and layout of the page                                 |
| preMain    | Content to place before the main content                                            |
| main       | Main content and markup                                                             |
| footer     | Override the default [footer](/components/footer) component                         |
| bodyEnd    | Add content just after just before the closing `</body>` element                    |
{% endmarkdown %}

##### Exploded view of the page template block areas

{{
    patternlibExample({
        "path": "styles/page-template/examples/block-areas/index.njk",
        "noTabs": true
    })
}}

## Help improve this style
Let us know how we could improve this style or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/195",
        "linkText": "Discuss ‘Page Template’ on GitHub"
    })
}}
