{% from "components/panel/src/_macro.njk" import onsPanel %}
{{ 
    onsPanel({
        type: "success",
        inline: false,
        title: "Congratulations!",
        body: "You did something correctly."
    })
}}
