---
layout: none
---
{% extends "foundations/layout/page-template/_template.njk" %}
{% set pageConfig = {
    "title": "Service name",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block main %}
    <h1>Page Title</h1>
{% endblock %}
