---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = {
    "title": "Errors Prototype"
} %}

{% set form = {
    "method": "GET",
    "attributes": {
        "action": pageInfo.url  + "/errors",
        "novalidate": ""
    }
} %}

{% block main %}
    {% call onsQuestion({
        "title": "How many employees do you pay on a monthly basis?"
    }) %}
        {{
            onsInput({
                "id": "number",
                "type": "number",
                "fieldClasses": "question__answer",
                "classes": "input--w-5",
                "attributes": {
                    "min": 0,
                    "required": true
                },
                "label": {
                    "text": "Number of employees paid monthly"
                }
            })
        }}

        {{
            onsInput({
                "id": "suffixed",
                "type": "number",
                "fieldClasses": "question__answer",
                "classes": "input--w-2",
                "value": "101",
                "attributes": {
                    "required": true
                },
                "label": {
                    "text": "Percentage of employees paid monthly"
                },
                "suffix": {
                    "title": "percent",
                    "text": "%"
                }
            })
        }}
    {% endcall%}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "u-mt-xl"
        })
    }}
{% endblock %}
