{% extends "./views/layouts/_prototype.njk" %}

{% block prototype_body %}
<div class="page">
    <div class="page__container container">
        <div class="grid">
            <div class="grid__col col-8@m">
                <div class="question">
                    <h1 class="question__title u-fs-l" data-qa="question-title">How many employees do you pay on a monthly basis?</h1>
                    {% from "components/field/src/_macro.njk" import onsField %}
                    {% call
                        onsField({
                            "legend": "How many employees do you pay on a monthly basis?",
                            "legendClasses": "u-vh"
                        })
                    %}
                    <div class="question__answers">
                        <div class="question__answer">
                            <div class="answer answer--number" id="container-test-number">
                                <div class="answer__fields">
                                {% from "components/input/src/_macro.njk" import onsInput %}
                                {{
                                    onsInput({
                                        "id": "number",
                                        "type": "number",
                                        "classes": "input--w-5",
                                        "attributes": {
                                            "min": 0,
                                            "required": true
                                        },
                                        "label": {
                                            "text": "Number of employees paid monthly"
                                        }
                                    })
                                }}
                                </div>
                            </div>
                        </div>
                        <div class="question__answer">
                            <div class="answer answer--number" id="container-test-percent">
                                <div class="answer__fields">
                                    {% from "components/input/src/_macro.njk" import onsInput %}
                                    {{
                                        onsInput({
                                            "id": "suffixed",
                                            "type": "number",
                                            "classes": "input--w-2",
                                            "value": "101",
                                            "attributes": {
                                                "required": true
                                            },
                                            "label": {
                                                "text": "Percentage of employees paid monthly"
                                            },
                                            "suffix": {
                                                "title": "percent",
                                                "text": "%"
                                            }
                                        })
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endcall %}
                </div>
                {% from "components/button/src/_macro.njk" import onsButton %}
                {{
                    onsButton({
                        "type": "button",
                        "text": "Save and continue",
                        "classes": "u-mb-m u-mt-l",
                        "href": "errors"
                    })
                }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
