{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{{
    onsCheckboxes({
        "legend": "Select your favourite topping",
        "checkboxesLabel": "Select all that apply",
        "name": "food-other",
        "checkboxes": [
            {
                "id": "bacon-other",
                "label": {
                    "text": "Bacon"
                },
                "value": "bacon"
            },
            {
                "id": "olives-other",
                "label": {
                    "text": "Olives"
                },
                "value": "olives"
            },
            {
                "id": "other-radio",
                "label": {
                    "text": "Other",
                    "description": "An answer is required"
                },
                "value": "other",
                "other": {
                    "open": true,
                    "otherType": "select",
                    "id": "other-select",
                    "name": "other-answer",
                    "label": {
                        "text": "Please specify other"
                    },
                    "options": [
                        {
                            "value": "",
                            "text": "Select an option",
                            "disabled": true,
                            "selected": true
                        },
                        {
                            "value": "bart",
                            "text": "Bart Simpson"
                        },
                        {
                            "value": "homer",
                            "text": "Homer Simpson"
                        },
                        {
                            "value": "marge",
                            "text": "Marge Simpson"
                        },
                        {
                            "value": "lisa",
                            "text": "Lisa Simpson"
                        },
                        {
                            "value": "maggie",
                            "text": "Maggie Simpson"
                        },
                        {
                            "value": "ned",
                            "text": "Ned Flanders"
                        },
                        {
                            "value": "7-dwarves",
                            "text": "The 7 Dwarves: Grumpy, Happy, Sleepy, Bashful, Sneezy, Dopey, Doc"
                        }
                    ]
                }
            }
        ]
    })
}}
