---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{ 
    onsFooter({
        "poweredByONS": true,
        "rows": [
            {
                "items": [
                    {
                        "text": "Contact us",
                        "url": "#"
                    },
                    {
                        "text": "Cookies and privacy",
                        "url": "#"
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": "All content is available under the",
            "link": "Open Government Licence v3.0",
            "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
            "post": ", except where otherwise stated"
        }
    }) 
}}
