---
title: Phone numbers
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}

How to ask users for a phone number.

{{
    patternlibExample({"path": "components/input/examples/telephone/index.njk"})
}}

## When to use this pattern
Only ask users for a phone number when there is an essential need for your service to use this information, for example, to send an access code.

## How to use this pattern
You should always explain why you need the user's phone number, letting them know if you will contact them and when.

Use an [input component](/components/input) and set the input type to `tel` to bring up the correct keypad on touch devices.

### Explain why you need the phone number

Use the `label__description` with the [input component](/components/input) to reassure users why you need a phone numbers and what it will be used for.

### Use the autocomplete attribute
Use the `autocomplete` attribute when you are asking for a phone number to help the user fill out a form more quickly.

To do this, set the autocomplete attribute on the input field to `tel`. See how to do this in the HTML and Nunjucks code tabs in the example above.

You will need to use the autocomplete attribute to meet [WCAG 2.1 AA standards for accessibility](https://www.w3.org/TR/WCAG21/#identify-input-purpose).

### Error messages
{{
    patternlibExample({"path": "patterns/phone-numbers/examples/phone-number-error/index.njk"})
}}

When validating the user’s phone number, you should follow the [error pattern guidance](/patterns/error-validation), providing specific error messages for the specific errors found.

#### If nothing is entered and the answer is required
Use: ‘Enter [the required phone number]’, e.g. ‘Enter your mobile number’.

#### If an invalid phone number is entered
Use: ‘Enter a UK mobile number in a valid format, for example, 07700 912345 or +44 7700 912345’.

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/1496",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1496",
        "linkText": "Discuss 'Numeric values' on GitHub"
    })
}}
