---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/hub/_macro.njk" import onsHub %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = {
    "title": "Hub Example",
    "signoutButton": {
        "text": "Save and complete later"
    }
} %}

{% block main %}
    <h1 class="u-mt-m">Choose another section to complete</h1>

    {% call onsPanel() %}
        <p><strong>You must complete all sections in order to submit this survey</strong></p>
    {% endcall %}

    {{ onsHub({
        "classes": "u-mt-m",
        "sections": [
            {
                "title": "People who live here",
                "ariaLabel": "View and change answers for: People who live here",
                "url": "#",
                "completed": true,
                "status": "Completed"
            },
            {
                "title": "Accommodation",
                "ariaLabel": "View and change answers for: Accommodation",
                "url": "#",
                "completed": true,
                "status": "Completed"
            },
            {
                "title": "Mary Smith (you)",
                "ariaLabel": "View and change answers for: Mary Smith",
                "url": "#",
                "completed": true,
                "status": "Completed"
            },
            {
                "title": "John Smith",
                "ariaLabel": "Continue section: John Smith",
                "url": "#",
                "completed": false,
                "status": "Partially complete"
            },
            {
                "title": "Billy Smith",
                "ariaLabel": "Start section: Billy Smith",
                "url": "#",
                "completed": false,
                "status": "Not started"
            },
            {
                "title": "Sally Smith",
                "ariaLabel": "Start section: Sally Smith",
                "url": "#",
                "completed": false,
                "status": "Not started"
            },
            {
                "title": "Wilhelmina Susannah Clementine-Smith (Visitor)",
                "ariaLabel": "Start section: Wilhelmina Susannah Clementine-Smith",
                "url": "#",
                "completed": false,
                "status": "Not started"
            }
        ]
    }) }}

    {{
        onsButton({
            "text": 'Continue',
            "classes": 'u-mb-m u-mt-l'
        })
    }}
{% endblock %}
