.metadata {
  &__term {
    font-weight: $font-weight-bold;
    float: left;
    clear: both;

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  &__value:not(:nth-child(2)) {
    @include mq(m) {
      margin-top: 0.5rem;
    }
  }

  &__value + &__value {
    @include mq(m) {
      margin-top: 0;
    }
  }

  &__value {
    margin-left: 0; /* As normalize adds a 40px left margin */
    float: right;
  }

  &__list {
    margin: 0;
  }
}
