.metadata {
  &__term {
    font-weight: $font-weight-bold;

    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    &.grid__col {
      float: left;
      clear: both;

      &:not(:first-child) {
        @include mq(m) {
          margin-top: 0;
        }
      }
    }
  }

  &__value {
    margin-left: 0; /* As normalize adds a 40px left margin */

    &.grid__col {
      @include mq(m) {
        float: right;
      }
    }
  }

  &__term,
  &__value {
    &.grid__col {
      @include mq(m) {
        margin-bottom: 0.3rem;
      }
    }
  }

  &__list {
    margin: 0;
  }
}
