.metadata {
  &__list {
    margin: 0;
  }

  &__term {
    font-weight: $font-weight-bold;
    float: left;
    clear: both;

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  &__value {
    margin-left: 0; /* As normalize adds a 40px left margin */
    float: right;

    &:not(:nth-of-type(1)) {
      @include mq(m) {
        margin-top: 0.5rem;
      }
    }

    & + &.metadata__value {
      @include mq(m) {
        margin-top: 0;
      }
    }
  }
}
