{% from "components/radios/_macro.njk" import onsRadios %}

{% macro onsRelationships(params) %}
    <div
        {% if params.id is defined and params.id %}id="{{ params.id }}"{% endif %}
        class="relationships js-relationships{% if params.classes is defined and params.classes %} {{ params.classes }}{% endif %}"
    >
        {{ onsRadios({
            "name": params.name,
            "dontWrap": params.dontWrap,
            "legendIsPageTitle": params.legendIsPageTitle,
            "radios": params.radios
        }) }}
        <p class="relationships__playback js-relationships-playback u-d-no" aria-live="polite">{{ params.playback | safe }}</p>
    </div>
{% endmacro %}
