{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}

{% macro onsRelationships(params) %}

    {% call onsQuestion({
        "title": params.question.title,
        "description": params.question.description,
        "readDescriptionFirst": true
    }) %}

        <div
            {% if params.id is defined and params.id %}id="{{ params.id }}"{% endif %}
            class="relationships js-relationships{% if params.classes is defined and params.classes %} {{ params.classes }}{% endif %}"
        >
            {{ onsRadios({
                "legend": params.legend,
                "legendClasses": "js-relationships-legend" + (" " + params.legendClasses if params.legendClasses else ""),
                "name": params.name,
                "radios": params.radios
            }) }}
            <p class="relationships__playback js-relationships-playback u-d-no" aria-live="polite">{{ params.playback | safe }}</p>
        </div>

    {% endcall %}
{% endmacro %}
