.ons-relationships {
  &__playback {
    border-bottom: 1px solid var(--ons-color-input-border);
    border-top: 1px solid var(--ons-color-input-border);
    margin: 2rem 0 0;
    padding: 1rem 0;

    @include mq('m') {
      display: inline-block;
      min-width: 20rem;
    }
  }
}
