.relationships {
  margin: 1rem 0 0;

  &__playback {
    margin: 2rem 0 0;
    padding: 1rem 0;

    border-top: 1px solid $color-input;
    border-bottom: 1px solid $color-input;

    @include mq('m') {
      display: inline-block;
      min-width: 20rem;
    }
  }
}
