{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/relationships/_macro.njk" import onsRelationships %}

{% call onsQuestion({
    "title": params.title,
    "readDescriptionFirst": true,
    "legendIsQuestionTitle": true,
    "legendTitleClasses": "js-relationships-legend"
}) %}
    {{ onsRelationships(params) }}
{% endcall %}
