---
title: 'Example: Third-person relationship question'
layout: ~
---

{% extends "layout/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/relationships/_macro.njk" import onsRelationships %}
{%
    set pageConfig = {
        "header": {
            "title": "Relationships example"
        },
        "breadcrumbs": {
            "ariaLabel": 'Breadcrumbs',
            "itemsList": [
                {
                    "url": '#0',
                    "text": 'Previous'
                }
            ]
        }
    }
%}

{% block main %}
    {%
        call onsQuestion({
            "title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>…</strong>",
            "description": "<p>Complete the sentence by selecting the appropriate relationship</p>",
            "readDescriptionFirst": true,
            "legendIsQuestionTitle": true,
            "legendTitleClasses": "ons-js-relationships-legend",
            "submitButton": true
        })
    %}
        {{
            onsRelationships({
                "playback": "Amanda Bloggs is Joe Bloggs' <strong>…</strong>",
                "name": "relationship",
                "dontWrap": true,
                "radios": [
                    {
                        "id": "husband-wife-example-relationships",
                        "value": "husband-wife",
                        "label": {
                            "text": "Husband or wife"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>husband or wife</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>husband or wife</strong>"
                        }
                    },
                    {
                        "id": "civil-partner-example-relationships",
                        "value": "civil-partner",
                        "label": {
                            "text": "Legally registered civil partner"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>legally registered civil partner</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>legally registered civil partner</strong>"
                        }
                    },
                    {
                        "id": "partner-example-relationships",
                        "value": "partner",
                        "label": {
                            "text": "Partner"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>partner</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>partner</strong>"
                        }
                    },
                    {
                        "id": "son-daughter-example-relationships",
                        "value": "son-daughter",
                        "label": {
                            "text": "Son or daughter"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>son or daughter</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>son or daughter</strong>"
                        }
                    },
                    {
                        "id": "stepchild-example-relationships",
                        "value": "stepchild",
                        "label": {
                            "text": "Stepchild"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>stepchild</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>stepchild</strong>"
                        }
                    },
                    {
                        "id": "brother-sister-example-relationships",
                        "value": "brother-sister",
                        "label": {
                            "text": "Brother or sister"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>brother or sister</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>brother or sister</strong>"
                        }
                    },
                    {
                        "id": "stepbrother-stepsister-example-relationships",
                        "value": "stepbrother-stepsister",
                        "label": {
                            "text": "Stepbrother or stepsister"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>stepbrother or sister</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>stepbrother or sister</strong>"
                        }
                    },
                    {
                        "id": "mother-father-example-relationships",
                        "value": "mother-father",
                        "label": {
                            "text": "Mother or father"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>mother or father</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>mother or father</strong>"
                        }
                    },
                    {
                        "id": "stepmother-stepfather-example-relationships",
                        "value": "stepmother-stepfather",
                        "label": {
                            "text": "Stepmother or stepfather"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>stepmother or stepfather</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>stepmother or stepfather</strong>"
                        }
                    },
                    {
                        "id": "grandchild-example-relationships",
                        "value": "grandchild",
                        "label": {
                            "text": "Grandchild"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>grandchild</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>grandchild</strong>"
                        }
                    },
                    {
                        "id": "grandparent-example-relationships",
                        "value": "grandparent",
                        "label": {
                            "text": "Grandparent"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>grandparents</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>grandparents</strong>"
                        }
                    },
                    {
                        "id": "other-relation-example-relationships",
                        "value": "other-relation",
                        "label": {
                            "text": "Other relation"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is their <strong>other relation</strong>",
                            "data-playback": "Amanda Bloggs is Joe Bloggs' <strong>other relation</strong>"
                        }
                    },
                    {
                        "id": "unrelated-example-relationships",
                        "value": "unrelated",
                        "label": {
                            "text": "Unrelated",
                            "description": "Including foster child"
                        },
                        "attributes": {
                            "data-title": "Thinking of Joe Bloggs, Amanda Bloggs is <strong>unrelated</strong> to Joe Bloggs",
                            "data-playback": "Amanda Bloggs is <strong>unrelated</strong> to Joe Bloggs"
                        }
                    }
                ]
            })
        }}
    {% endcall %}
{% endblock %}
