{% from "components/timeout-panel/_macro.njk" import onsTimeoutPanel %}
{{ onsTimeoutPanel ({
        "id": "countdownid",
        "countdown": {
            "countdownInSeconds": 120,
            "minutesTextSingular":"minute",
            "minutesTextPlural":"minutes",
            "secondsTextSingular":"second",
            "secondsTextPlural":"seconds",
            "countdownText":"For security, your answers will only be available to view for another",
            "nojsText": "For security, your answers will only be available to view for another 45 minutes",
            "countdownExpiredText":"For security, you can no longer view your answers"
        }
    })
}}
