{% from "components/panel/_macro.njk" import onsPanel %}
{% call 
    onsPanel({
        "type": "error"
    })
%}
{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "id": "container-test-number",
        "classes": "list--bare list--errors u-mb-s",
        "itemsList": [
            {
                "text": "Enter a 'period to' date later than the 'period from' date."
            }
        ]
    })
}}
{% from "components/date-input/_macro.njk" import onsDateInput %}
{{
    onsDateInput({
        "id": "date",
        "legend": "Period from:",
        "dontVisuallyHideLegend": true,
        "description": "For example, 31 3 1980",
        "day": {
            "label": {
                "text": "Day"
            },
            "name": "day"
        },
        "month": {
            "label": {
                "text": "Month"
            },
            "name": "month"
        },
        "year": {
            "label": {
                "text": "Year"
            },
            "name": "year"
        }
    })
}}
{% from "components/date-input/_macro.njk" import onsDateInput %}
{{
    onsDateInput({
        "id": "date",
        "legend": "Period to:",
        "description": "For example, 31 3 1980",
        "day": {
            "label": {
                "text": "Day"
            },
            "name": "day"
        },
        "month": {
            "label": {
                "text": "Month"
            },
            "name": "month"
        },
        "year": {
            "label": {
                "text": "Year"
            },
            "name": "year"
        }
    })
}}
{% endcall %}
