.cookies-banner {
  display: none;
  padding: 1rem 0;
  background: $cookie-banner-bg;
}
.cookies-banner__desc {
  margin-bottom: 0.3rem;
  color: $cookie-banner-text;
  word-break: break-word;
}
@media only screen and (max-width: 400px) {
  .cookie-button > .btn + .btn {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .cookie-button > .btn + .btn {
    margin-top: 0.5em;
  }
}
