.cookies-banner {
  display: none;
  padding: 1rem 0;
  background: $cookie-banner-bg;

  &__title {
    color: $cookie-banner-text;
  }

  &__desc {
    margin-bottom: 1rem;
    color: $cookie-banner-text;
    word-break: break-word;
  }

  &__btn {
    @include mq(xxs, 499px) {
      display: block;
      width: 100%;
    }
  }
}
