.ons-cookies-banner {
  background: var(--ons-color-banner-bg);
  display: none;
  padding: 1rem 0 1.5rem;

  &__title {
    color: var(--ons-color-text);
  }

  &__statement {
    color: var(--ons-color-text);
    word-break: break-word;
    p {
      margin: 0 0 0.5rem;

      @include mq(xxs, s) {
        font-size: 0.9rem;
        line-height: 1.4;
      }
    }
  }

  &__link {
    line-height: 2.1rem;
  }

  &__btn {
    margin: 0 0 0.8rem;
  }
}
