.ons-cookies-banner {
    background: var(--ons-color-banner-bg);
    display: none;
    padding: 1rem 0 1.5rem;

    &__title {
        color: var(--ons-color-text);
    }

    &__statement {
        color: var(--ons-color-text);
        word-break: break-word;
        p {
            margin: 0 0 0.5rem;

            @include mq('2xs', s) {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }

    &__link {
        line-height: 2rem;
    }

    &__btn {
        margin: 0 0 0.75rem;
    }
}
