---
"fullWidth": true
---
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'Page title',
        "logoHref": '#0',
        "mobileLogo": 'ons-logo-stacked-en',
        "titleLogoHref": '#0',
        "language": {
            "allLanguagesUrl": '#0',
            "languages": [
                {
                    "url": '#0',
                    "ISOCode": 'en',
                    "text": 'English',
                    "buttonAriaLabel": 'Language selector. Current language: English',
                    "chooseLanguage": 'Choose language',
                    "allLanguages": 'All languages',
                    "current": true
                },
                {
                    "url": '#0',
                    "ISOCode": 'cy',
                    "text": 'Cymraeg',
                    "buttonAriaLabel": 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                    "chooseLanguage": 'Dewiswch iaith',
                    "allLanguages": 'Pob iaith',
                    "current": false
                }
            ]
        },
        "serviceLinks": {
            "itemsList": [
                {
                    "title": "Help",
                    "url": "#0",
                    "showOnMobile": false
                },
                {
                    "title": "My Account",
                    "url": "#0",
                    "showOnMobile": true
                },
                {
                    "title": "Sign out",
                    "url": "#0",
                    "showOnMobile": true
                }
            ]
        }
    })
}}
