---
title: 'Example: Conformation page'
layout: ~
---

{% extends "layout/_template.njk" %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/feedback/_macro.njk" import onsFeedback %}
{%
    set pageConfig = {
        "header": {
            "title": "Online Household Study"
        },
        "footer": {
            "rows": [
                {
                    "itemsList": [
                        {
                            "text": "Accessibility",
                            "url": "#0"
                        },
                        {
                            "text": "Privacy",
                            "url": "#0"
                        }
                    ]
                }
            ]
        }
    }
%}

{% block main %}
    <div class="ons-page__body">
        {%
            call onsPanel({
                "variant": 'success',
                "id": 'success-id',
                "iconType": 'check',
                "iconSize": "l"
            })
        %}
            <h2>Thank you for completing the Online Household Study</h2>
            <p>Your answers have been submitted</p>
        {% endcall %}

        {%
            call onsPanel({
                "variant": 'bare',
                "iconType": 'lock'
            })
        %}
            <p>Your personal information is protected by law and will be kept confidential</p>
        {% endcall %}

        <div class="ons-grid ons-u-mt-l">
            <div class="ons-grid__col ons-col-8@m">
                {{
                    onsFeedback({
                        "heading": "What do you think about this service?",
                        "headingClasses": 'test',
                        "content": "Your comments will help us make improvements",
                        "url": "#0",
                        "linkText": "Give feedback"
                    })
                }}
            </div>
        </div>
    </div>
{% endblock %}
