{% from "components/images/_macro.njk" import onsImage %}
{{ 
    onsImage({
        "url": '/patternlib-img/photo-1.jpg',
        "alt": 'Siblings in the sun',
        "caption": 'Image 1 - Siblings in the sun'
    })
}}
