---
title: Textarea
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample("components/textarea/examples/textarea/index.njk")
}}


## Variants
### Character limit
{{
    patternlibExample("components/textarea/examples/textarea-character-limit/index.njk")
}}
