---
title: Textarea
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

A textarea lets users enter multiple lines of text, such as when answering an open-ended question.

{{
    patternlibExample({"path": "components/textarea/examples/textarea/index.njk"})
}}

## When to use this component

Use the textarea component when you need the user to enter text that's longer than one line, for example, to answer an open-ended question.

A good use of this component is to ask the user for feedback about your service by means of the [phase banner](/components/phase-banner).

## When not to use this component

Open-ended questions can be difficult for users to answer, so consider breaking down the question into simpler questions that can be answered using a single line [input](/components/input) or by selecting an answer using, for example, [radios](/components/radios).

## How to use this component

All textarea components must have a visible [label](/components/label), with or without a description.

Textareas should be appropriately sized to help the user understand what they should enter by making them the right size for the content they are intended for.

### Use appropriately sized textareas

Where possible, you should make the textareas proportional to the amount of text you expect users to enter.

By default, the textarea component will fill the width of its container and has a default height of 8 lines of text.

A [width constraint](/components/input#width-constrained) class can be used to make the width of textarea smaller, or the `rows` parameter can be set to make the height of the textarea larger.

### Variants

#### Character limit

The character limit counter is displayed when the `charCheckLimit` object is defined with params `limit`, `charCountSingular`, `charCountPlural` parameters.

{{
    patternlibExample({"path": "components/textarea/examples/textarea-character-limit/index.njk"})
}}

## Research on this component

{% call  onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/139",
            "linkText": "Design System Forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/139",
        "linkText": "Discuss 'Textarea' on GitHub"
    })
}}
