{% from "components/list/_macro.njk" import onsList %}
{{
    onsList({
        "variants": 'inline',
        "iconPosition": 'before',
        "iconSize": '2xl',
        "itemsList": [
            {
                "url": '#0',
                "text": 'X',
                "iconType": 'x',
                "attributes": {
                    "rel": 'noreferrer external'
                }
            },
            {
                "url": '#0',
                "text": 'Facebook',
                "iconType": 'facebook',
                "attributes": {
                    "rel": 'noreferrer external'
                }
            },
            {
                "url": '#0',
                "text": 'Instagram',
                "iconType": 'instagram',
                "attributes": {
                    "rel": 'noreferrer external'
                }
            },
            {
                "url": '#0',
                "text": 'LinkedIn',
                "iconType": 'linkedin',
                "attributes": {
                    "rel": 'noreferrer external'
                }
            }
        ]
    })
}}
