{% from "components/list/_macro.njk" import onsList %}
{{
    onsList({
        "variants": 'bare',
        "itemsList": [
            {
                "url": '#0',
                "text": 'Who we are'
            },
            {
                "url": '#0',
                "text": 'What we do'
            },
            {
                "url": 'https://goo.gl/maps/ULnVRd16zfFLZWdt7',
                "text": 'Where to find us',
                "external": true
            }
        ]
    })
}}
