// Census brand
$color-black: #222;
$color-primary-purple: #902082;
$color-primary-purple-tint: rgba(227, 77, 219, 0.15);
$color-accent-pink: #df0667;
$color-secondary-blue: #3c388e;
$color-accent-teal: #00a3a6;
$color-accent-teal-tint: rgba(#00a3a6, 0.2);
$color-census-gradient: linear-gradient(to bottom left, #902082 0%, #3c388e 100%);

// Assignment
$color-header: $color-primary-purple;
$cta-bg: $color-primary-purple-tint;
$color-tag-bg: $color-accent-teal-tint;
$color-links-hover: $color-black;
