// Census brand
$color-branded: #93328e;
$color-branded-tint: rgba(227, 77, 219, 0.15);
$color-branded-secondary: #ce0f69;
$color-branded-tertiary: #483698;

$color-supporting: #00a3a6;
$color-supporting-tint-20: rgba(#00a3a6, 0.2);

$color-header: $color-branded;
$cta-bg: $color-branded-tint;
