// IDS brand
$color-black: #222;
$color-branded: #624595;
$color-branded-text: $color-black;
$color-branded-tint: rgba(98, 69, 149, 0.1); // 10% of brand colour
$color-branded-secondary: #e06c0f;
// Assignment
$color-text-link-hover: $color-black;
