.skip {
}

.skip__link {
  display: block;
  height: 0px;
  width: 100%;
  transition: top 100ms;
  color: $color-text;
  background: $color-focus;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.1rem;
  &:focus {
    padding: 1rem;
    max-height: 20em;
    height: auto;
    top: 0;
    box-shadow: 0 3px 0 0 $color-white;
  }
}
