.skip-link {
  position: absolute;
  height: 1px;
  width: 1px;
  top: -3rem;
  margin: 0;
  overflow: hidden;
  transition: top 100ms;
  font-weight: 600;
  display: block;
  padding: 1rem;

  &:focus {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline !important;
  }
}
