---
"title": Skip to content
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

To see functionality, click into example and press `tab` key.
{{
    patternlibExample("components/skip-to-content/examples/skip-to-content/index.njk")
}}
