{% macro onsWordLimit(params) %}
    <span
        id="{{ params.id }}"
        class="ons-input__limit ons-u-fs-s--b ons-u-d-no ons-u-mt-2xs"
        data-wordcount-singular="{{ params.wordCountSingular }}"
        data-wordcount-plural="{{ params.wordCountPlural }}"
    >
    </span>
{% endmacro %}
