---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/date-input/_macro.njk" import onsDateInput %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% set pageConfig = {
    "title": "Errors Prototype"
} %}

{% block preMain %}
    {{
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": [
                {
                    "url": '/',
                    "text": 'Home'
                },
                {
                    "url": '/patterns',
                    "text": 'Patterns'
                },
                {
                    "url": '/patterns/error-validation',
                    "text": 'Correct errors'
                }
            ]
        })
    }}
{% endblock %}

{% block main %}
    {% call onsPanel({
            "title": "There are 7 problems with your answer",
            "type": "error",
            "classes": "question__errors"
        })
    %}
        {{
            onsList({
                "element": "ol",
                "itemsList": [
                    {
                        "text": "Enter a number",
                        "url": "#number-error",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Enter a number less than or equal to 100",
                        "url": "#suffixed-error",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Select an answer",
                        "url": "#radios-error",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Enter a date of birth",
                        "url": "#dates-error",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Select at least one answer",
                        "url": "#checkboxes-error",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Enter a password",
                        "url": "#password-error",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Enter an email address in a valid format, for example, name@example.com",
                        "url": "#email-error",
                        "classes": "js-inpagelink"
                    }
                ]
            })
        }}
    {% endcall %}

    {% call onsQuestion ({
        "title": "How many employees do you pay on a monthly basis?"
    }) %}
        {{
            onsInput({
                "type": "number",
                "id": "number",
                "classes": "input--w-5",
                "fieldClasses": "question__answer",
                "attributes": {
                    "min": 0,
                    "required": true
                },
                "label": {
                    "text": "Number of employees paid monthly"
                },
                "error": {
                    "id": "number-error",
                    "text": "Enter a number"
                }
            })
        }}

        {{
            onsInput({
                "type": "number",
                "id": "number-input",
                "classes": "input--w-2",
                "fieldClasses": "question__answer",
                "value": "101",
                "attributes": {
                    "required": true
                },
                "label": {
                    "text": "Percentage of employees paid monthly"
                },
                "suffix": {
                    "title": "percent",
                    "text": "%"
                },
                "error": {
                    "id": "suffixed-error",
                    "text": "Enter a number less than or equal to 100"
                }
            })
        }}

        {{
            onsRadios({
                "legend": "How many employees do you employ?",
                "name": "food",
                "id": "radios",
                "error": {
                    "text": "Select an answer",
                    "id": "radios-error"
                },
                "radios": [
                    {
                        "id": "a",
                        "label": {
                            "text": "1 - 10 employees"
                        },
                        "value": "a"
                    },
                    {
                        "id": "b",
                        "label": {
                            "text": "6 - 10 employees"
                        },
                        "value": "b"
                    },
                    {
                        "id": "c",
                        "label": {
                            "text": "More than 10 employees"
                        },
                        "value": "other",
                        "other": {
                            "open": true,
                            "id": "other-textbox",
                            "name": "other-answer",
                            "label": {
                                "text": "Please specify other"
                            }
                        }
                    }
                ]
            })
        }}

        {{
            onsDateInput({
                "legend": "Date of birth",
                "description": "For example, 31 3 1980",
                "id": "dates",
                "day": {
                    "label": {
                        "text": "Day"
                    },
                    "name": "day",
                    "attributes": {
                        "autocomplete": "bday-day"
                    }
                },
                "month": {
                    "label": {
                        "text": "Month"
                    },
                    "name": "month",
                    "attributes": {
                        "autocomplete": "bday-month"
                    }
                },
                "year": {
                    "label": {
                        "text": "Year"
                    },
                    "name": "year",
                    "attributes": {
                        "autocomplete": "bday-year"
                    }
                },
                "error": {
                    "text": "Enter a date of birth",
                    "id": "dates-error"
                }
            })
        }}
        {{
            onsCheckboxes({
                "legend": "What are your favourite pizza toppings?",
                "checkboxesLabel": "Select all that apply",
                "name": "food",
                "error": {
                    "text": "Select at least one answer",
                    "id": "checkboxes-error"
                },
                "checkboxes": [
                    {
                        "id": "bacon",
                        "label": {
                            "text": "Bacon"
                        },
                        "value": "bacon"
                    },
                    {
                        "id": "olives",
                        "label": {
                            "text": "Olives"
                        },
                        "value": "olives"
                    }
                ],
                "mutuallyExclusive": {
                    "or": "Or",
                    "deselectMessage": "Selecting this will uncheck all other checkboxes",
                    "deselectGroupAdjective": "deselected",
                    "deselectCheckboxAdjective": "deselected",
                    "checkbox": {
                        "id": "no-toppings",
                        "label": {
                            "text": "No toppings"
                        },
                        "value": "no-toppings"
                    }
                }
            })
        }}
        {{
            onsPassword({
                "id": "password",
                "label": {
                    "text": "Password"
                },
                "error": {
                    "text": "Enter password",
                    "id": "password-error"
                },
                "showPasswordText": "Show password"
            })
        }}
        {{
            onsInput({
                "id": "email",
                "type": "email",
                "value": "name.com",
                "label": {
                    "text": "Email address"
                },
                "error": {
                    "text": "Enter an email address in the correct format, such as name@example.com",
                    "id": "email-error"
                },
                "mutuallyExclusive": {
                    "or": "Or",
                    "deselectMessage": "Selecting this will clear your email address",
                    "deselectGroupAdjective": "cleared",
                    "deselectCheckboxAdjective": "deselected",
                    "checkbox": {
                        "id": "email-checkbox",
                        "name": "no-email",
                        "value": "no-email",
                        "label": {
                            "text": "I don't want to receive a confirmation email"
                        }
                    }
                }
            })
        }}
    {% endcall %}

    {{
        onsButton({
            "type": "button",
            "text": "Save and continue",
            "classes": "u-mt-xl"
        })
    }}
{% endblock %}
