---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/field/_macro.njk" import onsField %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = {
    "title": "Errors Prototype"
} %}


{% block main %}
    {% call onsPanel({
            "title": "This page has 2 errors",
            "type": "error",
            "classes": "u-mb-s"
        })
    %}
        <p>These <strong>must be corrected</strong> to continue.</p>

        {{
            onsList({
                "classes": "list--bare",
                "itemsList": [
                    {
                        "text": "Enter a number.",
                        "index": true,
                        "url": "#container-test-number",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Enter a number less than or equal to 100.",
                        "index": true,
                        "url": "#container-test-percent",
                        "classes": "js-inpagelink"
                    }
                ]
            })
        }}
    {% endcall %}

    {% call onsField ({
        "legend": "How many employees do you pay on a monthly basis?",
        "questionMode": true
    }) %}
        {% call onsPanel({
            "type": "error"
        }) %}
            {{
                onsList({
                    "classes": "list--bare list--errors u-mb-s",
                    "itemsList": [
                        {
                            "text": "Enter a number."
                        }
                    ]
                })
            }}

            {{
                onsInput({
                    "id": "number",
                    "type": "number",
                    "classes": "input--w-5",
                    "attributes": {
                        "min": 0,
                        "required": true
                    },
                    "label": {
                        "text": "Number of employees paid monthly"
                    }
                })
            }}
        {% endcall %}

        {% call
            onsPanel({
                "type": "error"
            })
        %}
            {{
                onsList({
                    "id": "container-test-percent",
                    "classes": "list--bare list--errors u-mb-s",
                    "itemsList": [
                        {
                            "text": "Enter a number less than or equal to 100."
                        }
                    ]
                })
            }}
            
            {{
                onsInput({
                    "id": "suffixed",
                    "type": "number",
                    "classes": "input--w-2",
                    "value": "101",
                    "attributes": {
                        "required": true
                    },
                    "label": {
                        "text": "Percentage of employees paid monthly"
                    },
                    "suffix": {
                        "title": "percent",
                        "text": "%"
                    }
                })
            }}
        {% endcall %}
    {% endcall %}

    {{
        onsButton({
            "type": "button",
            "text": "Save and continue",
            "classes": "u-mb-m u-mt-l"
        })
    }}
{% endblock %}
