---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page = {
    "title": "Errors Prototype"
} %}


{% block main %}
    {% call onsPanel({
            "title": "This page has 2 errors",
            "type": "error",
            "classes": "question__errors"
        })
    %}
        <p>These <strong>must be corrected</strong> to continue.</p>

        {{
            onsList({
                "classes": "list--bare",
                "itemsList": [
                    {
                        "text": "Enter a number.",
                        "index": true,
                        "url": "#container-test-number",
                        "classes": "js-inpagelink"
                    },
                    {
                        "text": "Enter a number less than or equal to 100.",
                        "index": true,
                        "url": "#container-test-percent",
                        "classes": "js-inpagelink"
                    }
                ]
            })
        }}
    {% endcall %}

    {% call onsQuestion ({
        "title": "How many employees do you pay on a monthly basis?"
    }) %}
        {{
            onsInput({
                "id": "number",
                "type": "number",
                "classes": "input--w-5",
                "fieldClasses": "question__answer",
                "attributes": {
                    "min": 0,
                    "required": true
                },
                "label": {
                    "text": "Number of employees paid monthly"
                },
                "error": {
                    "text": "Enter a number."
                }
            })
        }}

        {{
            onsInput({
                "id": "suffixed",
                "type": "number",
                "classes": "input--w-2",
                "fieldClasses": "question__answer",
                "value": "101",
                "attributes": {
                    "required": true
                },
                "label": {
                    "text": "Percentage of employees paid monthly"
                },
                "suffix": {
                    "title": "percent",
                    "text": "%"
                },
                "error": {
                    "text": "Enter a number less than or equal to 100."
                }
            })
        }}
    {% endcall %}

    {{
        onsButton({
            "type": "button",
            "text": "Save and continue",
            "classes": "u-mt-xl"
        })
    }}
{% endblock %}
