{% from "components/file-download/_macro.njk" import onsFileDownload %}
{{
    onsFileDownload({
        "fileFormat": "PDF",
        "fileName": "Annual population survey 2023",
        "supportingInformation": "Estimates of the UK population broken down by age, sex and geography, covering the period January to December 2023.",
        "url": "#0"
    })
}}
