---
layout: example
---
{% from "helpers/design-system/grid.njk" import patternLibExampleGrid %}

<style>
    .ons-pl-grid-col {
        background: var(--ons-color-grey-5);
        font-size: 0.8rem;
        margin: 0 0 1rem;
        padding: 1rem;
    }
</style>

{{
    patternLibExampleGrid({
        "itemsList": [
            {
                'repeat': 12,
                'col': 1
            },
            {
                'repeat': 6,
                'col': 2
            },
            {
                'repeat': 4,
                'col': 3
            },
            {
                'repeat': 3,
                'col': 4
            },
            {
                'repeat': 2,
                'col': 6
            }
        ]
    })
}}
