---
layout: none
---
{% extends "foundations/layout/page-template/_template.njk" %}
{% set pageConfig = {
    "title": "Social survey",
    "signoutButton": {
        "text": "Save and sign out",
        "buttonStyle": "exit"
    },
    "language": {
        "allLanguagesUrl": "#0",
        "languages": [
            {
                "url": "#0",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "current": true
            },
            {
                "url": "#0",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "current": false
            },
            {
                "url": "#0",
                "ISOCode": "ga",
                "text": "Gaeilge",
                "buttonAriaLabel": "Roghnóir teanga. Teanga reatha: Gaeilge",
                "chooseLanguage": "Roghnaigh teanga",
                "current": false
            },
            {
                "url": "#0",
                "ISOCode": "sco",
                "text": "Ulstèr-Scotch",
                "buttonAriaLabel": "Leid selectgor. Current leid: Ulstèr-Scotch",
                "chooseLanguage": "Wale leid",
                "current": false
            }
        ]
    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "url": '/',
                "text": 'Home'
            },
            {
                "url": '/components',
                "text": 'Components'
            }
        ]
    },
    "footer": {
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Cookies and privacy',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block preHeader %}
{% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
{{
    onsPhaseBanner({
        "badge": "BETA",
        "html": 'This is a new service – your <a href="#feedback">feedback</a> will help us improve it.'
    })
}}
{% endblock %}
{% block main %}
    <h1>Page Title</h1>
{% endblock %}
