{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
<form onsubmit="return false;">
    {{
        onsRadios({
            "legend": "Select your favourite topping",
            "name": "food",
            "clearRadios": {
                "text": "Clear selection",
                "ariaClearText": "You can clear your answer using the clear selection button after the radio inputs",
                "ariaClearedText": "You have cleared your answer"
            },
            "radios": [
                {
                    "id": "bacon",
                    "label": {
                        "text": "Bacon"
                    },
                    "value": "bacon"
                },
                {
                    "id": "olives",
                    "label": {
                        "text": "Olives"
                    },
                    "value": "olives"
                },
                {
                    "id": "ham",
                    "label": {
                        "text": "Ham"
                    },
                    "value": "ham"
                },
                {
                    "id": "other-checkbox",
                    "label": {
                        "text": "Other"
                    },
                    "value": "other",
                    "other": {
                        "open": true,
                        "id": "other-textbox",
                        "name": "other-answer",
                        "label": {
                            "text": "Please specify other"
                        }
                    }
                }
            ]
        })
    }}
</form>
