.ons-tabs {
  margin-bottom: 1rem;
}

// Tabs - list
.ons-tabs__list {
  border-bottom: 0;
  margin: 0 0 1rem;
  overflow: visible;
  padding: 0;

  &--row {
    border-bottom: 1px solid $color-borders;
    margin: 0;
  }
}

.ons-tab__list-item {
  box-sizing: border-box;
  display: list-item;
  list-style: none;
  margin: 0 0 0.3rem;

  &--row {
    display: inline;
  }
}

.ons-tab--row {
  background: $color-button-secondary;
  border: 1px solid $color-button-secondary;
  border-radius: 3px 3px 0 0;
  color: $color-text;
  display: inline-block;
  height: 2.5rem;
  line-height: 2.3rem;
  margin: 0 0.1rem 0 0;
  overflow: visible;
  padding: 0 1rem;
  position: relative;
  text-decoration: underline;

  &:hover {
    background-color: darken($color-button-secondary, 5%);
    border-color: darken($color-button-secondary, 5%);
    color: $color-text;
    text-decoration: underline solid $color-text 2px;
  }

  &[aria-selected='true'] {
    background-color: $color-white;
    border-color: $color-borders;
    // Tab when selected
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    text-decoration: none;

    &::after {
      background: $color-white;
      bottom: -2px;
      box-shadow: none;
      content: '';
      height: 0.09rem;
      left: 0;
      // hides the lower border of the active tab.
      position: absolute;
      right: 0;
      z-index: 3;
    }
  }

  &:focus {
    background-color: $color-focus;
    color: $color-text-link-focus;
    outline: none;
  }
}

// Tabs - Panels
.ons-tabs__panel {
  margin-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  z-index: 10;

  &--hidden {
    display: none;
  }

  &:focus {
    outline: 4px solid $color-focus;
  }
}
