.tabs {
  margin-bottom: 1rem;
}

// Tabs - list
.tabs__list {
  margin: 0 0 1rem 0;
  padding: 0;
  overflow: visible;
  border-bottom: none;

  &--row {
    margin: 0;
    border-bottom: 1px solid $color-borders;
  }
}

.tab__list-item {
  display: list-item;
  box-sizing: border-box;
  margin: 0 0 0.3rem;
  list-style: none;

  &--row {
    display: inline;
  }
}

.tab--row {
  position: relative;
  margin: 0 0.1rem 0 0;
  padding: 0.5rem 1rem;
  background: $color-button-secondary;
  border: 1px solid $color-button-secondary;
  border-radius: 3px 3px 0 0;
  overflow: visible;
  text-decoration: underline;
  color: $color-text;

  display: inline-block;
  height: 2.5rem;

  &:hover {
    background-color: darken($color-button-secondary, 5%);
    border-color: darken($color-button-secondary, 5%);
    color: $color-text;
    text-decoration: underline solid $color-text 2px;
  }

  &[aria-selected='true'] {
    // Tab when selected
    border-radius: 3px 3px 0 0;
    background-color: $color-white;
    border-color: $color-borders;
    font-weight: 700;
    text-decoration: none;

    &:after {
      // hides the lower border of the active tab.
      position: absolute;
      z-index: 3;
      bottom: -2px;
      right: 0;
      left: 0;
      height: 0.09rem;
      background: $color-white;
      box-shadow: none;
      content: '';
    }
  }

  &:focus {
    outline: none;
    background-color: $color-focus;
    color: $color-focus-text;
  }
}

// Tabs - Panels
.tabs__panel {
  z-index: 10;
  position: relative;
  margin-bottom: 1rem;
  padding-top: 1rem;

  &--hidden {
    display: none;
  }

  &:focus {
    outline: 4px solid $color-focus;
  }
}
