{% from "components/tabs/_macro.njk" import onsTabs %}

{{
    onsTabs({
        "title": 'Contents',
        "titleClasses": 'ons-u-fs-m',
        "tabs": [
            {
                "id": "ukis",
                "title": 'UKIS',
                "showTitle": true,
                "content": '<h3>Aim of this survey</h3>
                <p class="ons-u-fs-r">The aim of the UK Innovation Survey (UKIS) is to collect data from businesses about various aspects of their innovation related activities. Using this data we can measure the level, types and trends in innovation.</p>
                <h3>How we’ll use this data</h3>
                <p class="ons-u-fs-r">The UKIS data is a major source of evidence to inform government policy. It is used to promote innovation activities among businesses to boost economic growth. It is an important contribution to the European-wide Community Innovation Survey (CIS). The CIS is used for international benchmarking and comparison purposes.</p>
                <p>You can <a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/ukinnovationsurvey">find more information on the UKIS survey on the ONS website</a>.</p>'
            },
            {
                "id": "vacancy-survey",
                "title": 'Vacancy survey',
                "showTitle": true,
                "content": '<h3>Purpose</h3>
                <p class="ons-u-fs-r">The Vacancy Survey is a regular survey of businesses, which provides an accurate and comprehensive measure of the total number of vacancies across the economy and fills a gap in the information available regarding the demand for labour. Before the Vacancy Survey was introduced, the only information available nationally about vacancies was from records of vacancies notified to Job Centres by employers. This provided only a partial picture, possibly less than half of all vacancies, because employers are under no obligation to notify vacancies to Job Centres. This business based survey has a more complete coverage and is included in the monthly ONS Labour Market Statistical Bulletin.</p>
                <p>You can <a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/vacancysurvey">find more information on the Vacancy Survey on the ONS website</a>.</p>'
            },
            {
                "id": "monthly-business-survey",
                "title": 'Monthly Business Survey',
                "showTitle": true,
                "content": '<h3>Aim of this survey</h3>
                <p class="ons-u-fs-r">The Monthly Business Survey (MBS) collects monthly information on employment of businesses in Great Britain. Your response contributes to Labour Market Statistics.</p>
                <h4>What you need to know</h4>
                <p class="ons-u-fs-r">To complete the survey, you will need the following information to answer the survey questions:</p>
                <ul>
                    <li>number of full-time/part-time male employees</li>
                    <li>number of full-time/part-time female employees</li>
                    <li>total number of employees for the business</li>
                </ul>
                <p>You can <a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/monthlybusinesssurveyretailsalesindex">find more information on the Monthly Business Survey on the ONS website</a>.</p>'
            }
        ]
    })
}}
