<style>
    .example-video-block {
        border: solid 1px #707071;
    }
</style>

<div class="example-video-block">
    {% from "components/video/_macro.njk" import onsVideo %}
    {{
        onsVideo({
        "videoEmbedUrl": 'https://www.youtube.com/embed/OwYVwPPxPj4',
        "videoLinkURL": 'https://www.youtube.com/watch?v=OwYVwPPxPj4',
        "image": {
            "largeSrc": '/ds-img/youtube-example-cover.png',
            "smallSrc": '/ds-img/youtube-example-cover.png',
            "alt": "Youtube video"
        },
        "title": 'Transforming the way we produce statistics | Explaining the Dynamic Population Model | BSL',
        "videoLinkText": 'Watch “Transforming the way we produce statistics | Explaining the Dynamic Population Model | BSL“ on Youtube'
        })
    }}
    {% from "components/tabs/_macro.njk" import onsTabs %}
    {{
        onsTabs({
            "variants": ['details'],
            "noInitialActiveTab": true,
            "title": 'Contents',
            "tabs": [
                {
                    "id": "video-description",
                    "title": 'Description',
                    "hiddenSpan": 'for Transforming the way we produce statistics | Explaining the Dynamic Population Model | BSL',
                    "content": '<div class="example-video-block__details">
                        <h3 class="ons-u-d-no@s">Description</h3>
                        <p>We explain our plans to transform the ways we collect data and produce statistics that better serve everybody with our Dynamic Population Model (DPM), with British Sign Language (BSL).</p>'
                },
                {
                    "id": "video-transcript",
                    "title": 'Transcript',
                    "hiddenSpan": 'for Census 2021 promotional TV advert video',
                    "content": "<div class='example-video-block__details'>
                        <h3 class='ons-u-d-no@s'>Transcript</h3>
                        <p>at the office for National statistics we</p>
                        <p>publish statistics about the size and</p>
                        <p>structure of the population that</p>
                        <p>organizations use to make important</p>
                        <p>decisions about local services</p>
                        <p>like deciding how many school and</p>
                        <p>Hospital places an area might need or</p>
                        <p>where to put a new Supermarket to make</p>
                        <p>these decisions people need the most</p>
                        <p>up-to-date information about the</p>
                        <p>changing shape of our population to</p>
                        <p>estimate the population we start with</p>
                        <p>Census Data this is collected every 10</p>
                        <p>years every year we add birds and people</p>
                        <p>who move into the country or local area</p>
                        <p>and remove people who have died or who</p>
                        <p>have moved away we need to make sure</p>
                        <p>that data about births deaths and</p>
                        <p>migration from numerous data sources and</p>
                        <p>systems are received processed and</p>
                        <p>quality assured</p>
                        <p>when this is done the statistics are</p>
                        <p>ready for decision makers to use about a</p>
                        <p>year later but the accuracy of these</p>
                        <p>estimates declines as we move away from</p>
                        <p>the Census year and because our</p>
                        <p>population is changing more rapidly than</p>
                        <p>ever decision makers need this</p>
                        <p>information faster to meet this need</p>
                        <p>we're exploring new and innovative ways</p>
                        <p>to create population statistics which is</p>
                        <p>why we've developed the dynamic</p>
                        <p>population model or DPM the DPM still</p>
                        <p>uses information about birds deaths and</p>
                        <p>internal and international migration but</p>
                        <p>it also uses new information in</p>
                        <p>different ways to get the best from</p>
                        <p>available data</p>
                        <p>we've built the DPM to produce</p>
                        <p>statistics that are flexible and</p>
                        <p>resilient it uses a wide range of data</p>
                        <p>sources like linked administrative data</p>
                        <p>which is information that we all share</p>
                        <p>when we access Public Services like the</p>
                        <p>tax benefits and Health Systems the DPM</p>
                        <p>also uses data about births and deaths</p>
                        <p>students in schools and much more and</p>
                        <p>because it doesn't rely on a single data</p>
                        <p>source it can produce high quality</p>
                        <p>population estimates on time even when a</p>
                        <p>data source changes</p>
                        <p>we've also designed it to be accurate</p>
                        <p>And Timely</p>
                        <p>the DPM balances the count of the</p>
                        <p>population alongside local and National</p>
                        <p>migration this makes sure that our</p>
                        <p>population estimates are consistent and</p>
                        <p>accurate and means we can produce</p>
                        <p>provisional population estimates within</p>
                        <p>six months of the reference date for</p>
                        <p>example we were able to produce mid-year</p>
                        <p>population estimates for 2022 four</p>
                        <p>months ahead of the planned official</p>
                        <p>estimates</p>
                        <p>this also shows how responsive and smart</p>
                        <p>the DPM can be quickly spotting when</p>
                        <p>patterns and Trends have changed as it</p>
                        <p>did with the mid-year population</p>
                        <p>estimates for 2022 showing how the</p>
                        <p>population had moved around after the</p>
                        <p>coronavirus pandemic</p>
                        <p>to improve our population estimates it</p>
                        <p>can also tell when data are incomplete</p>
                        <p>for example it spotted changes in Health</p>
                        <p>Data we use which meant that we could</p>
                        <p>decide how best to use them</p>
                        <p>to make sure that we produce secure high</p>
                        <p>quality reliable population statistics</p>
                        <p>independent external experts have</p>
                        <p>peer-reviewed the methods we use in the</p>
                        <p>DPM our population estimates also need</p>
                        <p>to meet a quality standard that is close</p>
                        <p>to the level delivered in census years</p>
                        <p>we expect the DPM admin based population</p>
                        <p>estimates to meet this level of quality</p>
                        <p>year after year</p>
                        <p>to find out more about the dynamic</p>
                        <p>population model visit the ONS website</p>
                    </div>"
                },
                {
                    "id": "video-embed",
                    "title": 'Embed',
                    "hiddenSpan": 'code for Transforming the way we produce statistics | Explaining the Dynamic Population Model | BSL',
                    "content": '<h3 class="ons-u-d-no@s">Embed</h3>
                        <pre class="language-html"><code class="ons-u-wrap">' ~ '<iframe width="560" height="315" src="https://www.youtube.com/embed/OwYVwPPxPj4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' | e ~ '</code></pre>'
                }
            ]
        })
    }}
</div>
