{% macro patternlibSubNavigation(params) %}
    <nav class="ons-patternlib-subnav" aria-label="{{ params.ariaLabel | default("Sections menu") }}">
        <ul class="ons-patternlib-subnav__list ons-list ons-list--bare" aria-label="{{ params.ariaListLabel | default("Sections menu links") }}">
        {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) %}
            {% if not item.exclude %}
                <li class="ons-patternlib-subnav__item{{ ' ons-patternlib-subnav__item--active' if (item.url == params.currentPath) }} ons-list__item">
                    <a href="{{ item.url }}" class="ons-patternlib-subnav__link ons-list__link">{{ item.title }}</a>
                    {% if item.anchors is defined and item.anchors %}
                        <ul class="ons-patternlib-subnav__sub-items ons-list ons-list--dashed ons-u-mt-xs ons-u-mb-no">
                            {% for anchor in item.anchors %}
                                <li class="ons-patternlib-subnav__item ons-list__item">
                                    <a href="{{ anchor.url }}" class="ons-patternlib-subnav__link ons-list__link">{{ anchor.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
{% endmacro %}
