{% macro patternlibSubNavigation(params) %}
    <nav class="patternlib-subnav" aria-label="{{ params.ariaLabel | default("Sections menu") }}">
        <ul class="patternlib-subnav__list list list--bare" aria-label="{{ params.ariaListLabel | default("Sections menu links") }}">
        {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) %}
            {% if not item.exclude %}
                <li class="patternlib-subnav__item{{ ' patternlib-subnav__item--active' if (item.url == params.currentPath) }} list__item">
                    <a href="{{ item.url }}" class="patternlib-subnav__link list__link">{{ item.title }}</a>
                    {% if item.anchors is defined and item.anchors %}
                        <ul class="patternlib-subnav__sub-items list list--dashed u-mt-xs u-mb-no">
                            {% for anchor in item.anchors %}
                                <li class="patternlib-subnav__item list__item">
                                    <a href="{{ anchor.url }}" class="patternlib-subnav__link list__link">{{ anchor.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
{% endmacro %}
