.patternlib-subnav {
  &__item {
    padding-bottom: 2px;
  }

  &__item--active {
    border-left: 4px solid $color-branded;
    font-weight: $font-weight-bold;
    margin-left: -18px;
    padding-left: 14px;
  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline solid $color-text-link-hover 2px;
    }
  }

  &__sub-items {
    font-weight: $font-weight-regular;
  }
}
