.patternlib-subnav {
  &__item--active {
    font-weight: $font-weight-bold;
  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__sub-items {
    font-weight: $font-weight-regular;
  }
}
