{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}

{%
    call onsCollapsible({
        "id": "collapsible",
        "title": "Need to answer separately from your household?",
        "titleTag": "h2",
        "button": {
            "close": "Hide this",
            "contextSuffix": "content",
            "attributes": {
                "aria-hidden": "true"
            }
        }
    })
%}

    <p>If you need to answer separately from the people you live with, you can <a href="#0">request an individual access code</a> to start a separate census.</p>
    {% call onsPanel({
            type: "warn"
        })
    %}
        Someone in your household must still complete a census using a household access code
    {% endcall %}

{% endcall %}
