{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}

{%
    call onsCollapsible({
        "id": "collapsible",
        "title": "Information on deleting people",
        "titleTag": "h2",
        "button": {
            "close": "Hide this",
            "contextSuffix": "content"
        }
    })
%}

    <p>Need to answer separately from your household?</p>
    {% call onsPanel({
            type: "warn"
        })
    %}
        Someone in your household must still complete a census using a household access code
    {% endcall %}

    
{% endcall %}
