---
title: Access support in multiple languages
group: Help users to...
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

Allow users to access support in various languages.

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

{{
    patternlibExample({ "path": "pages/patterns/access-support-in-multiple-languages/examples/default/index.njk" })
}}

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1249",
        "linkText": "Discuss the ‘Access support in multiple languages’ pattern on GitHub"
    })
}}
