{% from "components/input/src/_macro.njk" import onsInput %}
{{ 
    onsInput({
        "id": "email",
        "type": "email",
        "label": {
            "text": "Enter your email address"
        }
    }) 
}}
