{% from "components/input/_macro.njk" import onsInput %}
{{ 
    onsInput({
        "id": "email",
        "type": "email",
        "autocomplete": "email",
        "label": {
            "text": "Email address"
        }
    }) 
}}
