.ons-pattern-lib-block {
  border: 2px dashed $color-grey-100;
  margin: 0 0 1rem;
  overflow: hidden;
  padding: 3rem 1rem 1rem;
  position: relative;
  width: 100%;

  &__label {
    border-bottom: 2px dashed $color-grey-100;
    border-right: 2px dashed $color-grey-100;
    left: 0;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 0;
  }
}
