{% from "components/document/_macro.njk" import onsDocument %}
{{ onsDocument({
    "documents": [
        {
            "thumbnail": {
                "smallSrc": '/patternlib-img/download-resources/img/small/census-2021-matters-to-everyone.png',
                "largeSrc": '/patternlib-img/download-resources/img/large/census-2021-matters-to-everyone.png'
            },
            "url": '/patternlib-img/download-resources/documents/Print-Ready-A4GIP1-2021-v1-0-120620.pdf',
            "title": 'Census 2021 matters to everyone',
            "metadata": {
                "file": {
                    "type": 'Booklet',
                    "fileType": 'PDF',
                    "fileSize": '3.3MB',
                    "filePages": '16 pages'
                }
            },
            "description": 'By taking part and encouraging others to do the same, you’ll make sure your community gets the services it needs.'
        }
    ]
}) }}
