{% from "components/panel/_macro.njk" import onsPanel %}
{% call 
    onsPanel({
        "type": "error"
    })
%}
{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        id: 'container-test-number',
        classes: 'list--bare list--errors u-mb-s',
        items: [
            {
                text: 'Enter a number.'
            }
        ]
    })
}}
{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "number",
        "type": "number",
        "classes": "input--w-5",
        "attributes": {
            "min": 0,
            "required": true
        },
        "label": {
            "text": "Number of employees paid monthly"
        }
    })
}}
{% endcall %}
