{% from "components/input/_macro.njk" import onsInput %}

{{
    onsInput({
        "id": "number",
        "type": "number",
        "classes": "input--w-5",
        "attributes": {
            "min": 0,
            "required": true
        },
        "label": {
            "text": "Number of employees paid monthly"
        },
        "error": {
            "text": "Enter a number",
            "dsExample": isPatternLib
        }
    })
}}
