{% from "components/document/_macro.njk" import onsDocumentList %}
{{ onsDocumentList({
    "documents": [
        {
            "thumbnail": {
                "smallSrc": '/patternlib-img/download-resources/img/small/including-everyone-in-census-2021-v2.png',
                "largeSrc": '/patternlib-img/download-resources/img/large/including-everyone-in-census-2021-v2.png'
            },
            "url": '/patternlib-img/download-resources/documents/Print-Ready-A4EB1-2021-v1-0-120620.pdf',            
            "title": 'Including everyone in Census 2021',
            "metadata": {
                "type": {
                  "text": 'Poster'
                },
                "file": {
                    "fileType": 'PDF',
                    "fileSize": '499KB',
                    "filePages": '1 page'
                }
            },
            "description": 'Empty belly poster, aimed at advertising census events.'
        },
        {
            "thumbnail": {
                "smallSrc": '/patternlib-img/download-resources/img/small/including-everyone-in-census-2021.png',
                "largeSrc": '/patternlib-img/download-resources/img/large/including-everyone-in-census-2021.png'
            },
            "url": '/patternlib-img/download-resources/documents/CHDE1-Community-Handbook-v0.6.pdf',
            "title": 'Community handbook for Census 2021',
            "metadata": {
                "type": {
                    "text": 'Booklet'
                },
                "file": {
                    "fileType": 'PDF',
                    "fileSize": '3.3MB',
                    "filePages": '16 pages'
                }
            },
            "description": 'This handbook explains what the census is, why it matters to everyone and how we can work together to spread the word within your community.'
        },
        {
            "thumbnail": true,
            "url": '/patternlib-img/download-resources/documents/Print-Ready-A4GIP1-2021-v1-0-120620.pdf',
            "title": 'Census 2021 matters to everyone',
            "metadata": {
                "type": {
                    "text": 'Poster'
                },
                "file": {
                    "fileType": 'PDF',
                    "fileSize": '866KB',
                    "filePages": '1 page'
                }
            },
            "description": 'By taking part and encouraging others to do the same, you’ll make sure your community gets the services it needs.'
        }
    ]
}) }}
