{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "classes": 'list--bare list--icons',
        "itemsList": [
            {
                "text": "birth certificate",
                "suffixIcon": "check"
            },
            {
                "text": "national insurance number",
                "suffixIcon": "check"
            },
            {
                "text": "passport",
                "suffixIcon": "check"
            }
        ]
    })
}}
