---
"fullWidth": true
---
{% from "components/hero/_macro.njk" import onsHero %}
{{
    onsHero({
        title: 'Design and build digital services for the ONS',
        text: 'Everything you need to make accessible, consistent digital products',
        button: {
            url: '#0',
            text: 'Get started'
        }
    })
}}
