{% from "components/list/_macro.njk" import onsList %}
{{
    onsList({
        "variants": 'dashed',
        "itemsList": [
            {
                "url": '#0',
                "text": 'Who we are',
                "itemsList": [
                    {
                        "url": '#0',
                        "text": 'Our Mission'
                    },
                    {
                        "url": '#0',
                        "text": 'Core Values',
                        "itemsList": [
                            {
                                "url": '#0',
                                "text": 'Integrity'
                            },
                            {
                                "url": '#0',
                                "text": 'Excellence'
                            }]
                    }]
            },
            {
                "url": '#0',
                "text": 'What we do'
            },
            {
                "url": 'https://goo.gl/maps/ULnVRd16zfFLZWdt7',
                "text": 'Where to find us',
                "external": true
            }
        ]
    })
}}
