{% from "components/list/_macro.njk" import onsList %}
{{
    onsList({
        iconPosition: 'before',
                iconSize: 'xxl',
                itemsList: [
                    { text: 'Facebook', iconType: 'facebook' },
                    { text: 'Twitter', iconType: 'twitter' },
                    { text: 'Instagram', iconType: 'instagram' },
                    { text: 'LinkedIn', iconType: 'linkedin' }
                ]
    })
}}
