{% from "components/list/_macro.njk" import onsList %}
{{
    onsList({
        "variants": ['bare', 'inline'],
        "itemsList": [
            {
                "text": 'Contact us',
                "url": '#0'
            },
            {
                "text": 'Cookies and privacy',
                "url": '#0'
            },
            {
                "text": 'Terms and conditions',
                "url": '#0'
            }
        ]
    })
}}
