{% from "components/list/_macro.njk" import onsList %}
{{
    onsList({
        "variants": "summary",
        "itemsList": [
            {
                "text": 'What are the dates of the sales period you are reporting for?'
            },
            {
                "text": 'For the period 1 January 2015 to 2 February 2017, what was the value of your total turnover, excluding VAT?'
            },
            {
                "text": 'Please indicate the reasons for any changes in the total turnover'
            }
        ]
    })
}}