{%- from "components/field/src/_macro.njk" import onsField -%}

{% call onsField({
    id: params.id,
    legend: params.legend,
    description: params.description,
    classes: params.classes
}) %}
    {% for radio in params.radios -%}
        <div class="field__item">
            <div class="radio">
                <input class="radio__input {{ radio.classes }}" name="{{ params.name }}" id="{{ radio.id }}" value="{{ radio.value }}"{% if radio.checked %} checked{% endif %} type="radio">
                <label class="radio__label {{ radio.label.classes }}" for="{{ radio.id }}">
                    {{- radio.label.text | safe -}}
                    {%- if radio.label.description -%}
                        <br>
                        <span class="radio__description u-fs-s">{{ radio.label.description }}</span>
                    {%- endif -%}
                </label>
                {%- if radio.other -%}
                    <div class="radio__other">
                        {%- from "components/input/src/_macro.njk" import onsInput -%}
                        {{
                            onsInput({
                                id: radio.other.id,
                                name: radio.other.name,
                                type: radio.other.type,
                                classes: "input--w-auto " + radio.other.classes | default(''),
                                attributes: radio.other.attributes,
                                label: {
                                    text: radio.other.label.text,
                                    classes: 'u-fs-s--b'
                                }
                            })
                        }}
                    </div>
                {%- endif -%}
            </div>
        </div>
    {% endfor %}
{% endcall %}
