{% from "components/panel/_macro.njk" import onsPanel %}

{% macro onsError(params) %}
    {% set content %}
        {% if params.text is not string %}
            <ul class="ons-list ons-list--bare">
                {% for item in params.text %}
                    <li class="ons-panel__error ons-list__item"
                        {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
                    >
                        <strong>{{ item }}</strong>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="ons-panel__error"
                {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
            >
                <strong>{{ params.text }}</strong>
            </p>
        {% endif %}
        {{ caller() }}
    {% endset %}

    {% call onsPanel({
        "type": "error",
        "id": params.id
    }) %}
        {{ content | safe }}
    {% endcall %}
{% endmacro %} 
