---
title: Error
---
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

## When to use this component

The error component is used to wrap form inputs and fieldsets to to show validation errors.

## How to use this component

Generally speaking you should not need to {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#call",
        "linkText": "call"
    })
}} `onsError` yourself as it is already called from within form input components. However if you need to create a pattern or component that requires a error you can use {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#call",
        "linkText": "nunjucks' call functionality"
    })
}} `onsError`.
{% markdown %}
| Name       | Type    | Required | Description                                                                                                         |
| ---------- | ------- | -------- | ------------------------------------------------------------------------------------------------------------------- |
| text       | string  | true     | The text that describes the error message                                                                           |
| id         | string  | true     | The id that the error link can anchor to                                                                            |
| attributes | object  | false    | HTML attributes (for example data attributes) to add to the field                                                   |
| dsExample  | boolean | false    | Defaulted to true if set in the Design System. Will not focus on error on page load - *only for use in DS examples* |
{% endmarkdown %}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1379",
        "linkText": "Discuss the ‘Error’ component on GitHub"
    })
}}
