---
title: Error
---
{% from "components/panel/_macro.njk" import onsPanel %}

## When to use this component

The error component is used to wrap form inputs and fieldsets to to show validation errors.

## How to use this component

Generally speaking you should not need to [call](https://mozilla.github.io/nunjucks/templating.html#call) `onsError` yourself as it is already called from within form input components. However if you need to create a pattern or component that requires a error you can use [nunjucks' call functionality](https://mozilla.github.io/nunjucks/templating.html#call) `onsError`.
{% md %}
| Name       | Type   | Required | Description                                                       |
| ---------- | ------ | -------- | ----------------------------------------------------------------- |
| text       | string | true     | The text that describes the error message                                       |
| id         | string | true    | The id that the error link can anchor to                          |
| attributes | object | false    | HTML attributes (for example data attributes) to add to the field |
{% endmd %}

## Research on this component

{% call onsPanel() %}
   <p>If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/534" target="_blank">Design System forum</a>.</p>
{% endcall %}

## Design System forum
[Discuss 'Error' on Github](https://github.com/ONSdigital/design-system/issues/534)
