.ons-section-nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    &:hover {
      color: $color-text-link-hover;
      text-decoration: underline solid $color-text-link-hover 2px;
    }
  }

  &__item {
    font-size: 1rem;
    margin: 0 1rem 0.7rem 0;
    padding: 0;
    &--active {
      border-left: 4px solid $color-text-link-active;
      font-weight: $font-weight-bold;
      margin-left: -18px;
      padding-left: 14px;
      a {
        color: $color-text-link-active;
      }
    }
  }

  &__sub-items {
    a {
      color: $color-text-link;
      font-weight: $font-weight-regular;
    }
  }

  &:not(&--vertical) & {
    &__item {
      border: none;
      border-bottom: 4px solid transparent;
      display: inline-block;
      text-align: center;
      &--active,
      &:hover {
        border-color: $color-text-link-active;
        margin: 0 1rem 0 0;
        padding: 0;
        a {
          color: $color-text-link-active;
        }
      }
    }

    &__link {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
