.section-nav {
  border-bottom: 1px solid $color-borders;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin: 0 1rem 0 0;
    border-bottom: 4px solid transparent;
    font-size: 1rem;
    text-align: center;
    &:hover,
    &--active {
      border-color: $color-dark-blue;
      a {
        color: $color-dark-blue;
      }
    }
    &--active {
      font-weight: 700;
    }
  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
