<nav class="section-nav" id="{{ params.id }}" aria-label="{{ params.ariaLabel }}">
    <ul class="section-nav__list" aria-label="{{ params.ariaListLabel }}" role="menubar">
       {% for item in params.items %}
            <li class="section-nav__item {{ item.classes }}{{ ' section-nav__item--active' if (item.path == params.currentPath) or (item.path in params.currentPath) }}">
                <a href="{{ item.path }}" class="section-nav__link" role="menuitem">{{ item.title }}</a>
            </li>
       {% endfor %}
    </ul>
</nav>
