---
title: Section navigation
---

{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample({"path": "components/section-navigation/examples/section-navigation/index.njk"})
}}
