{% from "components/date-field-input/_macro.njk" import onsDateFieldInput %}

{% macro onsDateInput(params) %}
    {% set exclusiveClass = " ons-js-exclusive-group-item" if params.mutuallyExclusive else "" %}
    {% set fields = [
        {
            "id": params.id + "-day", 
            "label": { "text": params.day.label.text, "description": params.day.label.description, "id": params.id + "-day-label"}, 
            "name": params.day.name, 
            "width": "2", 
            "min": 1, 
            "max": 31, 
            "maxLength": 2, 
            "attributes": params.day.attributes, 
            "value": params.day.value, 
            "error": (params.error and params.day.error) or (params.error and not params.month.error and not params.year.error),
            "classes": (" ons-input--error" if (params.error and params.day.error) or (params.error and not params.day.error and not params.month.error and not params.year.error) else "") + exclusiveClass | default("")
        },
        {
            "id": params.id + "-month", 
            "label": { "text": params.month.label.text, "description": params.month.label.description, "id": params.id + "-month-label"}, 
            "name": params.month.name, 
            "width": "2",
             "min": 1, 
             "max": 12, 
             "maxLength": 2, 
             "attributes": params.month.attributes, 
             "label": params.month.label, 
             "value": params.month.value, 
             "error": (params.error and params.month.error) or (params.error and not params.day.error and not params.year.error), 
             "classes": (" ons-input--error" if (params.error and params.month.error) or (params.error and not params.day.error and not params.month.error and not params.year.error) else "") + exclusiveClass | default("")},
        {
            "id": params.id + "-year", 
            "label": { "text": params.year.label.text, "description": params.year.label.description, "id": params.id + "-year-label"}, 
            "name": params.year.name, 
            "width": "4", 
            "min": 1000, 
            "max": 3000, 
            "maxLength": 4, 
            "attributes": params.year.attributes, 
            "value": params.year.value, 
            "error": (params.error and params.year.error) or (params.error and not params.month.error and not params.day.error), 
            "classes": (" ons-input--error" if (params.error and params.year.error) or (params.error and not params.day.error and not params.month.error and not params.year.error) else "") + exclusiveClass | default("")
        }
    ] %}
    {% set numberOfFields = fields | length %}

    {{ onsDateFieldInput({
         "id": params.id,
        "legendOrLabel": params.legendOrLabel,
        "description": params.description,
        "mutuallyExclusive": params.mutuallyExclusive,
        "fields": fields,
        "numberOfFields": numberOfFields,
        "error": params.error,
        "legend": params.legendOrLabel,
        "dontWrap": params.dontWrap,
        "legendClasses": params.legendClasses,
        "legendIsQuestionTitle": params.legendIsQuestionTitle,
        "classes": params.classes,
        "exclusiveOptions": params.mutuallyExclusive.exclusiveOptions,
        "or": params.mutuallyExclusive.or,
        "deselectMessage": params.mutuallyExclusive.deselectMessage,
        "deselectGroupAdjective": params.mutuallyExclusive.deselectGroupAdjective,
        "deselectExclusiveOptionAdjective": params.mutuallyExclusive.deselectExclusiveOptionAdjective
    }) }}
{% endmacro %}
