{% from "components/date-input/_macro.njk" import onsDateInput %}

{{
    onsDateInput({
        "id": "date-input-example",
        "legendOrLabel": "Date of birth",
        "description": "For example, 31 3 1980",
        "day": {
            "label": {
                "text": "Day"
            },
            "name": "day",
            "attributes": {
                "autocomplete": "bday-day"
            }
        },
        "month": {
            "label": {
                "text": "Month"
            },
            "name": "month",
            "attributes": {
                "autocomplete": "bday-month"
            }
        },
        "year": {
            "label": {
                "text": "Year"
            },
            "name": "year",
            "attributes": {
                "autocomplete": "bday-year"
            }
        }
    })
}}
