{% from "components/date-input/_macro.njk" import onsDateInput %}

{{
    onsDateInput({
        "id": "date-input-example",
        "legendOrLabel": "Year of birth",
        "description": "For example, 31 3 1980",
        "year": {
            "label": {
                "text": "Year"
            },
            "name": "year",
            "attributes": {
                "autocomplete": "bday-year"
            }
        }
    })
}}
