---
title: Date input
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample("components/date-input/examples/date-input/index.njk")
}}


## Variants
### Mutually Exclusive
{{
    patternlibExample("components/date-input/examples/date-input-mutually-exclusive/index.njk")
}}
