---
"fullWidth": true
"theme": census
---

{% from "components/promotional-banner/_macro.njk" import onsPromoBanner %}

{% call
    onsPromoBanner({
        "darkTheme": true
    })
%}

<h3><a href="#0">Get involved</a></h3>
    
<p>There are lots of ways that you can get involved with Census 2021. Whether you are an individual, a group or organisation we would love to hear from you.</p>

<p>By taking part and encouraging others to do the same, you’ll help make sure you and your community get the services you need.</p>

{% endcall %}
