<div class="grid grid--flex grid--column@xs@s">
    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {% from "components/card/src/_macro.njk" import onsCard %}
        {{ 
            onsCard({
                title: 'Search for a business',
                href: '#',
                text: 'A list of UK businesses for statistical use across government. '
            })
        }}
    </div>
    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {% from "components/card/src/_macro.njk" import onsCard %}
        {{ 
            onsCard({
                title: 'Search for a business',
                href: '#',
                text: 'A list of UK businesses for statistical use across government. '
            })
        }}
    </div>
    <div class="grid__col grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {% from "components/card/src/_macro.njk" import onsCard %}
        {{ 
            onsCard({
                title: 'Search for a business',
                href: '#',
                text: 'A list of UK businesses for statistical use across government. '
            })
        }}
    </div>
</div>
