// Default
.hero {
  padding: 2rem 0;
  background-color: $color-primary-purple;

  &__content {
    height: 100%;
  }
}

.hero__title {
  font-size: 2.3rem;
  line-height: 1.2;
}

// Census theme
.hero--census {
  display: flex;
  position: relative;
  margin-top: 2px;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(46deg, $color-secondary-blue 0%, $color-primary-purple 100%);

  .hero__container {
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 400px;
  }

  .hero__circle-image,
  .hero__circle-gradient,
  .hero__circle-lined,
  .hero__circle-white {
    position: absolute;
  }

  .hero__circle-image {
    z-index: 2;
    top: -117px;
    right: -8px;
    width: 382px;
    height: 382px;
    border-radius: 50%;

    img {
      display: block;
      height: 100%;
      clip-path: circle(191px at center); // Half width of circle
    }
  }

  .hero__circle-gradient {
    z-index: 3;
    display: block;
    top: 1rem;
    right: -117px; // Half with of circle
    width: 234px;
    height: 234px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, $color-primary-purple 0%, $color-primary-purple 20%, $color-secondary-blue 60%, #005489 90%);
  }

  .hero__circle-white {
    z-index: 1;
    display: block;
    top: 27px;
    left: 50%;
    margin-left: -495px; // Half of circle
    width: 990px;
    height: 990px;
    border-radius: 50%;
    background-color: $color-white;
  }

  .hero__circle-lined {
    z-index: 4;
    top: 148px;
    right: -24px;
    width: 171px;
    height: 171px;
    fill: $color-white;
    opacity: 0.4;
  }

  .hero__details {
    z-index: 5;
    position: relative;
    padding-top: 283px;
    padding-bottom: 2rem;

    &--ondark {
      color: $color-white;
    }
  }

  @include mq(m) {
    .hero__title {
      font-size: 3rem;
    }

    .hero__details {
      padding-top: 2rem;
    }

    .hero__circle-white {
      top: -288px;
      left: -331px;
      margin: auto; // Reset
    }

    .hero__container {
      align-items: center;
    }
  }

  @include mq(l) {
    .hero__details {
      padding-right: 1rem;
    }

    .hero__circle-image {
      top: -176px;
      right: 0;
      margin: auto;
      width: 558px;
      height: 558px;

      img {
        clip-path: circle(279px at center); // Half width of circle
      }
    }

    .hero__circle-gradient {
      right: -171px; // Half width of circle
      width: 342px;
      height: 342px;
    }

    .hero__circle-white {
      top: -369px;
    }

    .hero__circle-lined {
      top: 292px; // Reset
      right: 0;
      width: 243px;
      height: 243px;
    }
  }
}
