// Default
.hero {
  background-color: $color-branded;
  padding: 2rem 0;

  &__content {
    height: 100%;
  }
}

.hero__pre-title {
  margin-bottom: 0.5rem;

  @include mq(xxs, m) {
    max-width: 145px;
  }
}

.hero__title {
  font-size: 2.3rem;
  line-height: 1.2;
}

// Census theme
.hero--census {
  background-image: linear-gradient(46deg, $color-branded-tertiary 0%, $color-branded 100%);
  display: flex;
  margin-bottom: 2px;
  margin-top: 2px;
  overflow: hidden;
  padding: 0;
  position: relative;
  .hero__container {
    align-items: flex-end;
    display: flex;
    min-height: 400px;
    position: relative;
  }
  .hero__circle-image,
  .hero__circle-gradient,
  .hero__circle-lined,
  .hero__circle {
    position: absolute;
  }
  .hero__circle-image {
    background-color: $color-white;
    border-radius: 50%;
    height: 300px;
    right: -4px;
    top: -98px;
    width: 300px;
    z-index: 2;

    img {
      border-radius: 50%;
      display: block;
      height: 100%;
    }
  }
  .hero__circle-gradient {
    background-image: linear-gradient(-45deg, $color-branded 0%, $color-branded 20%, $color-branded-tertiary 60%, #005489 90%);
    border-radius: 50%;
    display: block;
    height: 182px;
    right: -91px; // Half width of circle
    top: 0.7rem;
    width: 182px;
    z-index: 3;
  }
  .hero__circle {
    background-color: $color-white;
    border-radius: 50%;
    display: block;
    height: 990px;
    left: 50%;
    margin-left: -495px; // Half of circle
    top: 27px;
    width: 990px;
    z-index: 1;
  }
  .hero__circle-lined {
    fill: $color-white;
    height: 133px;
    opacity: 0.4;
    right: -24px;
    top: 114px;
    width: 133px;
    z-index: 4;
  }
  .hero__details {
    padding-bottom: 1rem;
    padding-top: 218px;
    position: relative;
    z-index: 5;

    &--ondark {
      color: $color-white;

      a {
        color: inherit;
        text-decoration: underline solid $color-white 1px;
      }

      a:hover {
        text-decoration-thickness: 2px;
      }
    }
  }

  @include mq(m) {
    .hero__title {
      font-size: 3rem;
    }
    .hero__details {
      padding-top: 2rem;
    }
    .hero__circle-image {
      height: 382px;
      right: -8px;
      top: -117px;
      width: 382px;
    }
    .hero__circle-gradient {
      height: 234px;
      right: -117px; // Half width of circle
      top: 1rem;
      width: 234px;
    }
    .hero__circle {
      left: -331px;
      margin: auto; // Reset
      top: -288px;
    }
    .hero__circle-lined {
      height: 171px;
      right: -24px;
      top: 148px;
      width: 171px;
    }
    .hero__container {
      align-items: center;

      &--has-collapsible {
        align-items: flex-start; // Prevents undesired shift if not enough content
      }
    }
  }

  @include mq(l) {
    .hero__details {
      padding-right: 2.5rem;
    }
    .hero__circle-image {
      height: 558px;
      margin: auto;
      right: 0;
      top: -176px;
      width: 558px;
    }
    .hero__circle-gradient {
      height: 342px;
      right: -171px; // Half width of circle
      width: 342px;
    }
    .hero__circle {
      top: -369px;
    }
    .hero__circle-lined {
      height: 243px;
      right: 0;
      top: 292px; // Reset
      width: 243px;
    }
  }
}
