// Default
.ons-hero {
  background-color: $color-banner-bg;
  display: flex;
  overflow: hidden;
  padding: 0;
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    min-height: 300px;
    position: relative;

    &--has-collapsible {
      align-items: flex-start; // Prevents undesired shift if not enough content
    }
  }

  &__content {
    height: 100%;
  }

  &__pre-title {
    margin-bottom: 0.5rem;

    @include mq(xxs, m) {
      max-width: 145px;
    }
  }

  &__title {
    font-size: 2.3rem;
    line-height: 1.2;
  }

  &__details {
    padding-bottom: 3rem;
    padding-top: 2rem;
    position: relative;
    z-index: 5;
  }

  &--dark & {
    &__details {
      color: $color-text-inverse !important;

      a {
        color: inherit;
        text-decoration: underline solid $color-text-inverse-link 1px;
      }

      a:hover {
        color: $color-text-inverse-link-hover;
        text-decoration-thickness: 2px;
      }

      .ons-collapsible__heading {
        color: inherit;
      }
    }
  }
}
