// Default
.hero {
  padding: 2rem 0;
  background-color: $color-branded;
  &__content {
    height: 100%;
  }
}

.hero__pre-title {
  margin-bottom: 0.5rem;
  @include mq(xxs, m) {
    max-width: 145px;
  }
}

.hero__title {
  font-size: 2.3rem;
  line-height: 1.2;
}

// Census theme
.hero--census {
  display: flex;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(46deg, $color-branded-tertiary 0%, $color-branded 100%);
  .hero__container {
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 400px;
  }
  .hero__circle-image,
  .hero__circle-gradient,
  .hero__circle-lined,
  .hero__circle {
    position: absolute;
  }
  .hero__circle-image {
    z-index: 2;
    top: -98px;
    right: -4px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $color-grey-5;
    img {
      display: block;
      height: 100%;
      border-radius: 50%;
    }
  }
  .hero__circle-gradient {
    z-index: 3;
    display: block;
    top: 0.7rem;
    right: -91px; // Half width of circle
    width: 182px;
    height: 182px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, $color-branded 0%, $color-branded 20%, $color-branded-tertiary 60%, #005489 90%);
  }
  .hero__circle {
    background-color: $color-grey-5;
    z-index: 1;
    display: block;
    top: 27px;
    left: 50%;
    margin-left: -495px; // Half of circle
    width: 990px;
    height: 990px;
    border-radius: 50%;
  }
  .hero__circle-lined {
    z-index: 4;
    top: 114px;
    right: -24px;
    width: 133px;
    height: 133px;
    fill: $color-white;
    opacity: 0.4;
  }
  .hero__details {
    z-index: 5;
    position: relative;
    padding-top: 218px;
    padding-bottom: 1rem;
    &--ondark {
      color: $color-white;
    }
  }
  @include mq(m) {
    .hero__title {
      font-size: 3rem;
    }
    .hero__details {
      padding-top: 2rem;
    }
    .hero__circle-image {
      top: -117px;
      right: -8px;
      width: 382px;
      height: 382px;
    }
    .hero__circle-gradient {
      top: 1rem;
      right: -117px; // Half width of circle
      width: 234px;
      height: 234px;
    }
    .hero__circle {
      top: -288px;
      left: -331px;
      margin: auto; // Reset
    }
    .hero__circle-lined {
      top: 148px;
      right: -24px;
      width: 171px;
      height: 171px;
    }
    .hero__container {
      align-items: center;

      &--has-collapsible {
        align-items: flex-start; // Prevents undesired shift if not enough content
      }
    }
  }
  @include mq(l) {
    .hero__details {
      padding-right: 2.5rem;
    }
    .hero__circle-image {
      top: -176px;
      right: 0;
      margin: auto;
      width: 558px;
      height: 558px;
    }
    .hero__circle-gradient {
      right: -171px; // Half width of circle
      width: 342px;
      height: 342px;
    }
    .hero__circle {
      top: -369px;
    }
    .hero__circle-lined {
      top: 292px; // Reset
      right: 0;
      width: 243px;
      height: 243px;
    }
  }
}
