// Default
.ons-hero {
    background-color: var(--ons-color-hero-bg);
    display: flex;
    overflow: hidden;
    padding: 0;
    position: relative;

    &--dark {
        background-color: var(--ons-color-hero-bg-dark);
    }

    &--navy-blue {
        background-color: var(--ons-color-navy-blue);
        &::before {
            content: '';
            background-color: var(--ons-color-navy-blue-light);
            border-radius: 0 0 50% 50%;
            inset: 0;
            left: -40%;
            position: absolute;
            width: 150%;
            @include mq(l) {
                border-radius: 0 0 300% 150%;
                left: 0;
                width: 100%;
            }
        }
    }

    &--grey {
        background-color: var(--ons-color-pale-grey);
        &::before {
            content: '';
            background-color: var(--ons-color-banner-bg);
            border-radius: 0 0 50% 50%;
            inset: 0;
            left: -40%;
            position: absolute;
            width: 150%;
            @include mq(l) {
                border-radius: 0 0 300% 150%;
                left: 0;
                width: 100%;
            }
        }
    }
    &__badge {
        @include mq(xs, l) {
            margin-top: 2.5rem;
            margin-bottom: 1rem;
        }
    }

    &--topic {
        color: var(--ons-color-branded);
        @extend .ons-u-mb-no;
    }

    &__container {
        align-items: center;
        display: flex;
        min-height: 300px;
        position: relative;

        &--has-details {
            align-items: flex-start; // Prevents undesired shift if not enough content
        }
    }

    &__content {
        height: 100%;
    }

    &__pre-title {
        margin-bottom: 0.5rem;

        @include mq('2xs', m) {
            max-width: 145px;
        }
    }

    &__details {
        padding-bottom: 3.5rem;
        padding-top: 2rem;
        position: relative;
        z-index: 5;
    }

    &--dark & {
        &__details {
            color: var(--ons-color-text-inverse) !important;

            a {
                color: inherit;
            }

            a:hover {
                color: var(--ons-color-text-inverse-link-hover);
                text-decoration-thickness: 2px;
            }

            .ons-details__heading {
                color: inherit;
            }
        }
    }
    &--navy-blue & {
        &__details {
            color: var(--ons-color-text-inverse);
            padding: 2rem 0 6rem;
            @include mq(l) {
                padding: 4rem 0;
            }
        }

        &__circle-1 {
            @include mq(l) {
                background-color: var(--ons-color-spring-green);
                border-radius: 50%;
                height: 59px;
                position: absolute;
                right: 289px;
                top: -11px;
                width: 59px;
            }
        }

        &__circle-2 {
            @include mq(l) {
                background-color: var(--ons-color-white);
                border-radius: 50%;
                position: absolute;
                height: 30px;
                right: 193px;
                top: 11px;
                width: 30px;
            }
        }

        &__circle-3 {
            @include mq(l) {
                height: 60px;
                right: 112px;
                top: 25px;
                width: 60px;
                background-color: var(--ons-color-white);
                border-radius: 50%;
                position: absolute;
            }
        }

        &__circle-4 {
            @include mq(l) {
                background-color: var(--ons-color-white);
                border-radius: 50%;
                height: 60px;
                position: absolute;
                right: 208px;
                top: 80px;
                width: 60px;
            }

            &::before {
                @include mq(l) {
                    background-color: var(--ons-color-ocean-blue);
                    border-radius: 50%;
                    content: '';
                    height: 100%;
                    left: 0;
                    opacity: 0.4;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        &__circle-5 {
            @include mq(l) {
                background-color: var(--ons-color-white);
                border-radius: 50%;
                height: 14px;
                position: absolute;
                right: 222px;
                top: 187px;
                width: 14px;
            }

            &::before {
                @include mq(l) {
                    background-color: var(--ons-color-sky-blue);
                    border-radius: 50%;
                    content: '';
                    height: 100%;
                    left: 0;
                    opacity: 0.7;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        &__circle-6 {
            @include mq(l) {
                background-color: var(--ons-color-spring-green);
                border-radius: 50%;
                height: 15px;
                position: absolute;
                right: 135px;
                top: 188px;
                width: 15px;
            }
        }

        &__circle-7 {
            @include mq(l) {
                background-color: var(--ons-color-white);
                border-radius: 50%;
                height: 60px;
                position: absolute;
                right: 24px;
                bottom: 92px;
                width: 60px;
            }

            &::before {
                @include mq(l) {
                    background-color: var(--ons-color-night-blue);
                    border-radius: 50%;
                    content: '';
                    height: 100%;
                    left: 0;
                    opacity: 0.7;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        &__circle-8 {
            @include mq(l) {
                background-color: var(--ons-color-white);
                border-radius: 50%;
                bottom: 70px;
                height: 15px;
                position: absolute;
                right: 275px;
                width: 15px;
            }
        }

        &__circle-9 {
            background-color: var(--ons-color-spring-green);
            border-radius: 50%;
            bottom: 28px;
            position: absolute;
            right: 15px;
            width: 40px;
            height: 40px;
            @include mq(l) {
                bottom: 40px;
                height: 30px;
                position: absolute;
                right: 215px;
                width: 30px;
            }
        }

        &__circle-10 {
            @include mq(l) {
                background-color: var(--ons-color-white);
                border-radius: 50%;
                bottom: 63px;
                height: 15px;
                position: absolute;
                right: 120px;
                width: 15px;
            }

            &::before {
                @include mq(l) {
                    background-color: var(--ons-color-aqua-teal);
                    border-radius: 50%;
                    content: '';
                    height: 100%;
                    left: 0;
                    opacity: 0.4;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        &__circle-11 {
            background-color: var(--ons-color-sky-blue);
            border-radius: 50%;
            height: 14px;
            width: 14px;
            position: absolute;
            bottom: -7px;
            right: 50px;
            @include mq(l) {
                bottom: 33px;
                height: 30px;
                position: absolute;
                right: 75px;
                width: 30px;
            }
        }

        &__circle-12 {
            @include mq(l) {
                background-color: var(--ons-color-night-blue);
                border-radius: 50%;
                bottom: -35px;
                height: 59px;
                position: absolute;
                right: 125px;
                width: 59px;
            }
        }
    }

    &__title-container {
        @include mq(l) {
            display: grid;
            align-items: start;
            justify-content: space-between;

            &.ons-hero__title-badge {
                grid-template-columns: 1fr auto;
            }
        }
    }
}
