{% macro onsHero(params) %}

    {# Set number of columns used for hero content after medium breakpoint #}
    {% set detailsColumns = params.detailsColumns | default ('8') %}

    <section class="ons-hero ons-grid--gutterless{% if params.variants %}{% if params.variants is not string %}{% for variant in params.variants %} ons-hero--{{ variant }}{% endfor %}{% else %} ons-hero--{{ params.variants }}{% endif %}{% endif %}">

        <div class="ons-hero__container ons-container{{ ' ons-container--wide' if params.wide }}">

            <div class="ons-hero__details ons-grid__col ons-col-{{ detailsColumns }}@m ons-col-10@s@m">
                <header>
                    {% if params.title %}
                        <h1 class="ons-hero__title ons-u-fs-xxxl">{{ params.title }}</h1>
                    {% endif %}
                    {% if params.subtitle %}
                        <h2 class="ons-hero__subtitle ons-u-fs-r--b">{{ params.subtitle }}</h2>
                    {% endif %}
                </header>

                {% if params.text %}
                    <p class="ons-hero__text">{{ params.text | safe }}</p>
                {% endif %}

                {% if params.button %}
                    {% from "components/button/_macro.njk" import onsButton %}
                    {% set btnClasses = params.button.classes if params.button.classes else '' %}
                    {% if params.variants and 'dark' in params.variants %}
                        {% set btnClasses = btnClasses + ' ons-btn--ghost' %}
                    {% endif %}
                    {{
                        onsButton({
                            "classes": btnClasses,
                            "type": 'button',
                            "text": params.button.text,
                            "url": params.button.url
                        })
                    }}
                {% endif %}
                {% if caller %}
                    <div class="ons-hero__additional-content">
                        {{- caller() -}}
                    </div>
                {% endif %}
            </div>
            {% if params.html %}
                <div class="ons-hero__additional-html">
                    {{- params.html | safe -}}
                </div>
            {% endif %}
        </div>

    </section>
{% endmacro %}
