{% macro onsHero(params) %}

{% from "components/icons/_macro.njk" import onsIcon %}

{# style adjustments if dark or light skin #}
{% if params.censusThemeDark is defined and params.censusThemeDark %}
    {% set skinName = "dark" %}
{% else %}
    {% set skinName = "light" %}
{% endif %}

{# If hero contains a collapsible, style it differently #}
{% if params.collapsible is defined and params.collapsible %}
    {% set containerClasses = " hero__container--has-collapsible" %}
{% endif %}

{# if hero is census specific, change column usage #}
{% if params.censusTheme is defined and params.censusTheme %}
    {% set detailsColumns = "6" %}
{% else %}
    {% set detailsColumns = "8" %}
{% endif %}

{# if hero style is a dark theme, change theme #}
{% if params.censusThemeDark is defined and params.censusThemeDark %}
    {% set detailsClasses = " hero__details--ondark" %}
{% endif %}

<section class="hero grid--gutterless{% if params.censusTheme is defined and params.censusTheme %} hero--census{% endif %}">

    <div class="hero__container container{{ containerClasses }}">

        <div class="hero__details{{ detailsClasses }} grid__col col-{{ detailsColumns }}@m">

            <header>
                {% if params.preTitleImage is defined and params.preTitleImage %}
                    {% set preTitleImageWithModifier = params.preTitleImage.name|replace(r/(\.[^\.]+)$/, "--" + skinName + "$1") %}
                    <img class="hero__pre-title" src="{{ params.placeholderURL }}/img/{{ preTitleImageWithModifier }}" alt="{{ params.preTitleImage.alt }}">
                {% endif %}
                {% if params.censusTheme is defined and params.censusTheme %}
                    <h1 class="u-fs-xxxl">{{ params.title }}</h1>
                {% else %}
                    <h1 class="hero__title">{{ params.title }}</h1>
                {% endif %}
                {% if params.subtitle is defined and params.subtitle %}
                    <h2 class="u-fs-r--b">{{ params.subtitle }}</h2>
                {% endif %}
            </header>

            {% if params.text is defined and params.text %}
                <p class="hero__text">{{ params.text | safe }}</p>
            {% endif %}

            {% if params.button is defined and params.button %}
                {% from "components/button/_macro.njk" import onsButton %}
                {{
                    onsButton({
                        "classes": params.button.classes,
                        "type": 'button',
                        "text": params.button.text,
                        "url": params.button.url
                    })
                }}
            {% endif %}

            {% if params.collapsible is defined and params.collapsible %}
                {% from "components/collapsible/_macro.njk" import onsCollapsible %}
                {{
                    onsCollapsible({
                        "classes": 'u-mb-s ' + params.collapsible.classes,
                        "id": params.collapsible.id,
                        "title": params.collapsible.title,
                        "titleTag": params.collapsible.titleTag,
                        "content": params.collapsible.content,
                        "button": {
                            "close": params.collapsible.closeButtonText | default('Hide this'),
                            "contextSuffix": params.collapsible.closeButtonContextSuffix | default('content')
                        }
                    })
                }}
            {% endif %}

            {% if params.suffixText is defined and params.suffixText %}
                <p class="hero__suffixText u-fs-s u-mt-m u-mb-no">{{ params.suffixText | safe }}</p>
            {% endif %}

        </div>
        {% if params.censusTheme is defined and params.censusTheme %}

            {% if params.image is defined and params.image %}
            <div class="hero__circle-image">
                <img height="558" width="558" srcset="{{ params.image.smallSrc }} 1x, {{ params.image.largeSrc }} 2x" src="{{ params.image.smallSrc }}" alt="">
            </div>
            {% endif %}

            {{
                onsIcon({
                    "icon": 'circle-lined'
                })
            }}

            <div class="hero__circle-gradient"></div>

            {% if params.censusThemeDark is not defined or params.censusThemeDark === false %}
                <div class="hero__circle"></div>
            {% endif %}

        {% endif %}

    </div>

</section>
{% endmacro %}
