---
'fullWidth': true
---

{% from "components/hero/_macro.njk" import onsHero %}
{{
    onsHero({
        "topic": 'Topic',
        "title": 'Retail Industry',
        "text": 'Sales by retailers in Great Britain directly to end consumers, including spending on goods (in store and online)
                (Retail Sales Index) and spending on services (Index of Services). The industry as a whole is used as an indicator
                of how the wider economy is performing and the strength of consumer spending.',
        "variants": 'pale-blue'
    })
}}
