---
title: Hero
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
Documentation required

## Default
{{
    patternlibExample({"path": "components/hero/examples/default/index.njk"})
}}

## Hero with campaign image
{{
    patternlibExample({"path": "components/hero/examples/image/index.njk"})
}}

## Hero with colour theme
{{
    patternlibExample({"path": "components/hero/examples/branded/index.njk"})
}}
