---
title: Hero
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

A large promotional section, usually at the very top of the page, featuring a headline and a call to action.

## Default
{{
    patternlibExample({"path": "components/hero/examples/default/index.njk"})
}}

## Campaign engagement
This is used to inform users that the Census 2021 is coming and you need to prepare.
{{
    patternlibExample({"path": "components/hero/examples/engage/index.njk"})
}}

## Campaign happening now
This is used to inform users that Census 2021 is happening now and a clear call to action.
{{
    patternlibExample({"path": "components/hero/examples/happening/index.njk"})
}}

## Research on this component
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
   If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/876" target="_blank" rel="noopener" class="icon--external-link">Design System forum</a>
{% endcall %}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/717" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Hero' on GitHub</a>
