---
title: Hero
synonyms: Headline
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

A large promotional section, usually at the very top of the page, featuring a headline and a call to action.

{{
    onsPanel({
        "body": 'This component requires documentation'
    })
}}

## Default
{{
    patternlibExample({"path": "components/hero/examples/hero-default/index.njk"})
}}

## Dark

{{
    patternlibExample({"path": "components/hero/examples/hero-dark/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1381",
        "linkText": "Discuss the ‘Hero’ component on GitHub"
    })
}}
