@each $label, $color in (blue: $color-night-blue, green: $color-leaf-green) {
  .u-#{$label} {
    color: $color;
  }
  .u-bg-#{$label} {
    background-color: $color;
  }

  @for $tint from 1 through 10 {
    .u-#{$label}-#{$tint*10} {
      color: tint($color, $tint * 10);
    }
    .u-bg-#{$label}-#{$tint*10} {
      background-color: tint($color, $tint * 10);
    }
  }
}
