.ons-highlight {
    background-image: linear-gradient(to top, var(--ons-color-highlight) 88%, transparent 88%);
    box-shadow: 0 2px 0 0 var(--ons-color-text-link-focus);
    font-style: normal;
    padding: 0 2px;
}
