$sizes: (
    no: 0,
    4xs: 0.125rem,
    3xs: 0.25rem,
    2xs: 0.5rem,
    xs: 0.75rem,
    s: 1rem,
    m: 1.25rem,
    l: 1.5rem,
    xl: 2rem,
    2xl: 2.5rem,
    3xl: 3rem,
    4xl: 4rem,
    5xl: 5rem,
    auto: auto,
);

$margins: (
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
    m: margin,
);

@each $key, $value in $sizes {
    @each $abbr, $dec in $margins {
        @include bp-suffix(ons-u-#{$abbr}-#{$key}, $create-between-breakpoints: true) {
            #{$dec}: #{$value} !important;
        }
    }
}
