.ons-u-dib {
    display: inline-block;
}

.ons-u-di {
    display: inline;
}

.ons-u-db {
    display: block;
}

// Utility class to override the height property to 'auto'
.ons-u-ha {
    height: auto;
}

// Utility class to force non-wrapping of values
.ons-u-nowrap {
    white-space: nowrap;
}

// Utility class to force wrapping of values
.ons-u-wrap {
    white-space: normal !important;
}

// Utility class to set direction right to left
.ons-u-rtl {
    direction: rtl;
}

// Set an element's width to be auto at specified breakpoint
@include bp-suffix(ons-u-wa--) {
    width: auto !important;
}

// Utility class to restrict reading width
.ons-u-reading-width {
    .ons-container--wide &,
    .ons-container--full-width & {
        // equivalent of 6 columns in a 12 column grid at wide mode (1304px)
        // must use rems rather than a % as may be inside e.g. a grid-col-8 column
        max-width: 39.5rem; // 632px;
    }
}
