.u-hidden {
  display: none !important;
  visibility: hidden;
}

.u-visuallyhidden,
.u-vh {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  user-select: none;
}

.u-visuallyhidden.u-focusable:active,
.u-vh.u-focusable:active,
.u-visuallyhidden.u-focusable:focus,
.u-vh.u-focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

.u-invisible {
  visibility: hidden;
}

.u-ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
}

.u-ir::before {
  content: '';
  display: block;
  width: 0;
  height: 150%;
}
