---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set pageConfig = {
    "title": "Service name",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block main %}
    <h1>Your session has timed out due to inactivity</h1>

    {% call onsPanel({
        "classes": "u-mb-m"
    }) %}
        <p>To protect your information we have timed you out.</p>
    {% endcall %}

    <p>We have saved your progress and you will need to <a href="#">enter your unique code</a> to access the survey again.</p>
{% endblock %}
