{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{{
    onsCollapsible({
        "id": "collapsible",
        "title": "What is a photovoltaic system?",
        "content": "<p>A typical photovoltaic system employs solar panels, each comprising a number of solar cells, which generate electrical power. PV installations may be ground-mounted, rooftop mounted or wall mounted. The mount may be fixed, or use a solar tracker to follow the sun across the sky.</p>",
        "button": {
            "close": "Hide this",
            "contextSuffix": "content",
            "attributes": {
                "aria-hidden": "true"
            }
        }
    })
}}
