---
layout: none
---
{% extends "layout/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}

{% set pageConfig = {
  "title": "Anatomy of a question",
  "breadcrumbs": {
    "ariaLabel": 'Breadcrumbs',
    "itemsList": [
      {
        "url": '#0',
        "text": 'Previous'
      }
    ]
  }
} %}

{% set questionTitle = "On 1 May 2016, what was the number of employees for Bolt and Ratchet?" %}

{% block main %}
    {% call onsQuestion({
        "title": questionTitle,
        "description": "<p>You can interpret “trading” as “operating”.</p>
            <p>Only select “paused trading” if all trading or operations have <strong>temporarily</strong> stopped.</p>",
        "definition": {
            "title": "What we mean by “employee”",
            "content": "<p>An employee is a person that your organisation   directly pays from its payroll(s), in return for carrying out a full-time or part-time job.</p>"
        },
        "guidance": {
            "list": [
                {
                    "title": "Include:",
                    "itemsList": [
                        {
                            "text": "All employees in Great Britain (England, Scotland and Wales), both full and part-time, who received pay in the relevant period"
                        }
                    ]
                },
                {
                    "title": "Exclude:",
                    "itemsList": [
                        {
                            "text": "trainees on government schemes"
                        },
                        {
                            "text": "employees working abroad unless paid directly from this business’s GB payroll"
                        }
                    ]
                }
            ]
        },
        "justification": {
            "content": "<p>We ask this question in order to understand the size of organisations in the UK.</p>"
        },
        "submitButton": {
            "submitType": "timer"
        }
    }) %}

        {{ onsRadios({
        "id": "number-of-employees",
        "name": "number-of-employees",
        "legend": questionTitle,
        "legendClasses": "ons-u-vh",
        "radios": [
            {
                "id": "number-of-employees-1-9",
                "label": {
                    "text": "1 – 9 employees"
                },
                "value": "1-9"
            },
            {
                "id": "number-of-employees-10-49",
                "label": {
                    "text": "10 – 49 employees"
                },
                "value": "10-49"
            },
            {
                "id": "number-of-employees-50-100",
                "label": {
                    "text": "50 – 100+ employees",
                    "description": "Include multi-corporations"
                },
                "value": "50-100"
            }
        ]
        }) }}

    {% endcall %}
{% endblock %}
