{% macro onsTableOfContents(params) %}
  {% from "components/lists/_macro.njk" import onsList %}
  <aside class="toc-container" role="complementary">
    <nav class="toc" aria-label="{{ params.ariaLabel }}">
      <h2 class="toc__title u-fs-r--b u-mb-s">{{ params.title }}</h2>
      {% if params.lists %}
        {% for list in params.lists %}
          {% if list.listHeading %}
            <h3 class="u-fs-r u-mb-xs">{{ list.listHeading }}<span class="u-vh"> {{ list.listHeadingHidden }}</span>:</h3>
          {% endif %}
          {{ 
              onsList({
                  "element": 'ol',
                  "classes": 'list--dashed u-mb-m',
                  "itemsList": list.itemsList
              }) 
          }}
        {% endfor %}
      {% elif params.itemsList %}
        {{ 
            onsList({
                "element": 'ol',
                "classes": 'list--dashed u-mb-m',
                "itemsList": params.itemsList
            }) 
        }}
      {% endif %}
    </nav>
  </aside>
{% endmacro %}
