---
title: Table of contents
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Requires documentation

# Table of contents - simple
{{
    patternlibExample({"path": "components/toc/examples/toc-single/index.njk"})
}}

# Table of contents - multiple sections
{{
    patternlibExample({"path": "components/toc/examples/toc-multiple/index.njk"})
}}

## Design System forum 
[Discuss 'Table of contents' on GitHub](https://github.com/ONSdigital/design-system/issues/719)
