/* --------------------------------

Title:
Support centre

Description:
Support centre listing

-------------------------------- */

.support-centre {
  margin-bottom: 0;
  padding-left: 0;
}

.support-centre__item {
  display: block;
  margin-bottom: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

.support-centre__item:not(:first-child) {
  border-top: 1px solid #d8d8d8;
  padding-top: 32px;
}

.support-centre__item:not(:last-child) {
  padding-bottom: 32px;
}

.support-centre__distance {
  background-color: rgba(#00a3a6, 0.2);
  display: inline-block;
}

.support-centre__list-item {
  list-style-type: disc;
  margin-bottom: 0;
}
