.ons-toc {
    &-container {
        border-bottom: 1px solid var(--ons-color-grey-15);
        @extend .ons-u-mb-xl;

        padding-bottom: 1rem;
    }

    &__link-active {
        color: var(--ons-color-text-link-hover);
        text-decoration: underline solid var(--ons-color-text-link-hover) 2px;
    }
}
