---
title: Table of contents
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}
+++

The table of contents lets users navigate between pages of a guide or jump to sections on a page.


{{
    patternlibExample({"path": "components/table-of-contents/examples/table-of-contents-single/index.njk"})
}}

## When to use this component
Use this component at the top of a long page of content broken up by subheadings, or at the top of each page of a [guide](/patterns/guide).

If you're using a table of contents, you should also use the [pager component](/components/pagination/#pager) at the bottom of the page. The 2 components make up the [guide pattern](/patterns/guide/).
## When not to use this component
Do not use the [in-page variant](#table-of-contents---in---page-navigation) of this component if the height the table of contents will be greater than the height of the browser‘s viewport. The list will not scroll independently of the page content because research shows some users find this confusing. 
## Variants
### Table of contents - grouped
{{
    patternlibExample({"path": "components/table-of-contents/examples/table-of-contents-multiple/index.njk"})
}}

### Table of contents - in-page navigation

This variant should be used for linking to sections within the page. As the user scrolls, the table of contents will 'stick' to the top of the viewport. The link that is relative to the current section will show an active state. This allows the user to quickly change sections and orientate themselves.

### How to use this variant
- You must wrap the grid layout with a `<div>` using the class `.ons-js-toc-container`
- The grid column that wraps the table of contents must use the additional class `ons-grid__col--sticky@m`
- Each block of content must be wrapped in a `<section>` that contains a unique ID, for example `<section id="section1">`
- Each link in the table of contents must contain a `url` value that links to the id of the appropriate section. This uses a URI fragment, for example `#section1`
- Each `section` should contain a `<h2>` with a heading that matches it's corresponding table of contents link.

{{
    onsPanel({
        "body": 'Position the iframe of the example below at the top of the viewport or open in a new tab to ensure the behaviour can be viewed successfully.'
    })
}}

{{
    patternlibExample({
        "path": "components/table-of-contents/examples/table-of-contents-sticky/index.njk",
        "height": "800px"
    })
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1382",
        "linkText": "Discuss ‘Table of contents’ component on GitHub"
    })
}}
