---
layout: none
---
{% extends "layout/_template.njk" %}

{% from "components/button/_macro.njk" import onsButton %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/document-list/_macro.njk" import onsDocumentList %}

{% set pageConfig = {
    "title": "Service name",
    "mainCol": {
        "columns": "12"
    },
    "absoluteUrl": pageInfo.url,
    "header": {
        "logoHref": "#0"
    },
    "language": {
        "allLanguagesUrl": "#0",
        "languages": [
            {
                "url": "#0",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": true
            },
            {
                "url": "#0",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": false
            }
        ]
    },
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "url": '#0',
                "text": 'Home'
            }
        ]
    },
    "footer": {}
} %}

{% block main %}
    <h1 class="ons-u-fs-xxl">Downloadable resources</h1>
    <div class="ons-col-8@m ons-u-mb-l">
        <p>Census 2021 promotional materials and resources to help local authorities and community groups spread the word about the census and support people to complete it.</p>
    </div>

    <div class="ons-js-adv-filter">
        <div class="ons-grid ons-grid--column@xxs@s ons-u-mb-m@m">
            <div class="ons-grid__col ons-col-4@m">
                {{
                    onsButton({
                        "type": 'button',
                        "text": 'Show filters',
                        "classes": 'ons-adv-filter__trigger ons-js-adv-filter__trigger ons-btn ons-btn--secondary ons-btn--small ons-u-mb-m',
                        "attributes": {
                            "aria-label": 'Toggle filters',
                            "aria-expanded": 'false',
                            "aria-controls": 'filter-panel'
                        }
                    })
                }}
                <div class="ons-adv-filter__panel ons-js-adv-filter__panel" id="filter-panel">
                    <h2 class="ons-u-fs-l">Filters</h2>
                    <form class="ons-js-adv-filter__form" method="POST">
                        <button class="ons-adv-filter__reset ons-js-adv-filter__reset ons-btn ons-btn--secondary ons-btn--small" type="reset"><span class="ons-btn__inner">Reset all filters</span></button>

                        <!-- Audience -->
                        <div class="ons-adv-filter__item ons-js-adv-filter__item" data-default-text="All audiences" data-multi-select-text="{n} filters selected">
                            <fieldset class="ons-fieldset" aria-controls="adv-filter-gallery">
                                <legend class="ons-fieldset__legend">Audience</legend>
                                <div class="ons-adv-filter__selection">
                                    <span class="ons-u-vh">Active filters: </span>
                                    <span class="ons-u-fs-s ons-js-adv-filter__selection">All audiences</span>
                                </div>
                                {{
                                    onsCheckboxes({
                                        "dontWrap": "true",
                                        "legend": "Audience",
                                        "name": "audience",
                                        "checkboxes": [
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "local-authorities",
                                                "label": {
                                                    "text": "Local authorities"
                                                },
                                                "value": "local-authorities",
                                                "attributes": {
                                                    "data-filter": "local-authorities"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "community-groups",
                                                "label": {
                                                    "text": "Community groups"
                                                },
                                                "value": "community-groups",
                                                "attributes": {
                                                    "data-filter": "community-groups"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "general-public",
                                                "label": {
                                                    "text": "General public"
                                                },
                                                "value": "general-public",
                                                "attributes": {
                                                    "data-filter": "general-public"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "recruitment",
                                                "label": {
                                                    "text": "Recruitment"
                                                },
                                                "value": "recruitment",
                                                "attributes": {
                                                    "data-filter": "recruitment"
                                                }
                                            }
                                        ]
                                    })
                                }}
                            </fieldset>
                        </div>

                        <!-- Type -->
                        <div class="ons-adv-filter__item ons-js-adv-filter__item" data-default-text="All types" data-multi-select-text="{n} filters selected">
                            <fieldset class="ons-fieldset" aria-controls="adv-filter-gallery">
                                <legend class="ons-fieldset__legend">Type</legend>
                                <div class="ons-adv-filter__selection">
                                    <span class="ons-u-vh">Active filters: </span>
                                    <span class="ons-u-fs-s ons-js-adv-filter__selection">All types</span>
                                </div>
                                {{
                                    onsCheckboxes({
                                        "dontWrap": "true",
                                        "legend": "Audience",
                                        "name": "audience",
                                        "checkboxes": [
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "booklet",
                                                "label": {
                                                    "text": "Booklet"
                                                },
                                                "value": "booklet",
                                                "attributes": {
                                                    "data-filter": "booklet"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "logo",
                                                "label": {
                                                    "text": "Logo"
                                                },
                                                "value": "logo",
                                                "attributes": {
                                                    "data-filter": "logo"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "poster",
                                                "label": {
                                                    "text": "Poster"
                                                },
                                                "value": "poster",
                                                "attributes": {
                                                    "data-filter": "poster"
                                                }
                                            }
                                        ]
                                    })
                                }}
                            </fieldset>
                        </div>

                        <!-- Languages -->
                        <div class="ons-adv-filter__item ons-js-adv-filter__item" data-default-text="All languages" data-multi-select-text="{n} filters selected">
                            <fieldset class="ons-fieldset" aria-controls="adv-filter-gallery">
                                <legend class="ons-fieldset__legend">Language</legend>
                                <div class="ons-adv-filter__selection">
                                    <span class="ons-u-vh">Active filters: </span>
                                    <span class="ons-u-fs-s ons-js-adv-filter__selection">All languages</span>
                                </div>
                                {{
                                    onsCheckboxes({
                                        "dontWrap": "true",
                                        "legend": "Audience",
                                        "name": "audience",
                                        "checkboxes": [
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "english",
                                                "label": {
                                                    "text": "English"
                                                },
                                                "value": "english",
                                                "attributes": {
                                                    "data-filter": "english"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "welsh",
                                                "label": {
                                                    "text": "Welsh (Cymraeg)"
                                                },
                                                "value": "welsh",
                                                "attributes": {
                                                    "data-filter": "welsh"
                                                }
                                            },
                                            {
                                                "classes": "ons-checkbox--toggle",
                                                "id": "irish",
                                                "label": {
                                                    "text": "Irish (Gaeilge)"
                                                },
                                                "value": "irish",
                                                "attributes": {
                                                    "data-filter": "irish"
                                                }
                                            }
                                        ]
                                    })
                                }}
                            </fieldset>
                        </div>

                        <div class="ons-adv-filter__actions">
                            {{
                                onsButton({
                                    "type": 'button',
                                    "html": 'Show (<span class="ons-js-adv-filter__show-results">7</span> results)',
                                    "classes": 'ons-btn ons-btn--small ons-js-adv-filter__show'
                                })
                            }}
                            {{
                                onsButton({
                                    "type": 'button',
                                    "text": 'Close',
                                    "classes": 'ons-btn--small ons-btn--secondary ons-js-adv-filter__close'
                                })
                            }}
                        </div>
                    </form>
                </div>
            </div>

            <div class="ons-grid__col ons-col-8@m">
                <div class="ons-adv-filter__results-options">
                    <div class="ons-adv-filter__results-count">
                        <span class="ons-js-adv-filter__results-count">9</span> results of 150
                    </div>

                    <div class="ons-adv-filter__results-sort">
                        <label class="ons-label" for="sort">Sort by</label>
                        <select class="ons-input ons-input--select" id="sort" name="sort" aria-controls="adv-filter-gallery" data-sort="true">
                            <option value="index" data-sort-number="true">Latest</option>
                            <option value="index" data-sort-order="desc" data-sort-number="true">Oldest</option>
                        </select>
                    </div>
                </div>

                {{ onsDocumentList({
                    "id": 'adv-filter-gallery',
                    "classes": 'ons-adv-filter__gallery ons-js-adv-filter__gallery',
                    "attributes": {
                        "data-filter-animation": 'off'
                    },
                    "documents": [
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'poster english local-authorities community-groups recruitment',
                                "data-sort-index": '1'
                            },
                            "thumbnail": {
                                "smallSrc": "/patternlib-img/download-resources/img/small/census-2021-matters-to-everyone.png",
                                "largeSrc": "/patternlib-img/download-resources/img/large/census-2021-matters-to-everyone.png"
                            },
                            "url": "/patternlib-img/download-resources/documents/Print-Ready-A4GIP1-2021-v1-0-120620.pdf",
                            "title": "Census 2021 matters to everyone",
                            "metadata": {
                                "type": {
                                    "text": 'Poster'
                                },
                                "file": {
                                    "fileType": 'PDF',
                                    "fileSize": '866KB',
                                    "filePages": '1 page'
                                }
                            },
                            "description": 'Empty belly poster, aimed at advertising census events.'
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'poster english local-authorities community-groups recruitment',
                                "data-sort-index": '2'
                            },
                            "thumbnail": {
                                "smallSrc": '/patternlib-img/download-resources/img/small/including-everyone-in-census-2021-v2.png',
                                "largeSrc": '/patternlib-img/download-resources/img/large/including-everyone-in-census-2021-v2.png'
                            },
                            "url": '/patternlib-img/download-resources/documents/Print-Ready-A4EB1-2021-v1-0-120620.pdf',
                            "title": 'Including everyone in Census 2021',
                            "metadata": {
                                "type": {
                                    "text": 'Poster'
                                },
                                "file": {
                                    "fileType": 'PDF',
                                    "fileSize": '499KB',
                                    "filePages": '1 page'
                                }
                            },
                            "description": 'Empty belly poster, aimed at advertising census events.'
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'poster english local-authorities community-groups recruitment',
                                "data-sort-index": '3'
                            },
                            "thumbnail": {
                                "smallSrc": "/patternlib-img/download-resources/img/small/including-everyone-in-census-2021.png",
                                "largeSrc": "/patternlib-img/download-resources/img/large/including-everyone-in-census-2021.png"
                            },
                            "url": "/patternlib-img/download-resources/documents/A6PCA1-v1-0-Print-Ready-Pack1.pdf",
                            "title": "Census awareness poster",
                            "metadata": {
                                "type": {
                                    "text": 'Poster'
                                },
                                "file": {
                                    "fileType": "PDF",
                                    "fileSize": "499KB",
                                    "filePages": "1 page"
                                }
                            },
                            "description": "Generic poster advertising census 2021."
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'booklet english local-authorities community-groups recruitment',
                                "data-sort-index": '4'
                            },
                            "thumbnail": {
                                "smallSrc": "/patternlib-img/download-resources/img/small/census-2021-community-handbook.png",
                                "largeSrc": "/patternlib-img/download-resources/img/large/census-2021-community-handbook.png"
                            },
                            "url": "/patternlib-img/download-resources/documents/CHDE1-Community-Handbook-v0.6.pdf",
                            "title": "Community handbook for Census 2021",
                            "metadata": {
                                "type": {
                                    "text": 'Booklet'
                                },
                                "file": {
                                    "fileType": "PDF",
                                    "fileSize": "3.3MB",
                                    "filePages": "16 pages"
                                }
                            },
                            "description": "This handbook explains what the census is, why it matters to everyone and how we can work together to spread the word within your community."
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'booklet english local-authorities community-groups recruitment',
                                "data-sort-index": '5'
                            },
                            "thumbnail": {
                                "smallSrc": "/patternlib-img/download-resources/img/small/census-2021-brand-guidelines.png",
                                "largeSrc": "/patternlib-img/download-resources/img/large/census-2021-brand-guidelines.png"
                            },
                            "url": "/patternlib-img/download-resources/documents/ONS-Census-2021-Brand-Guidelines-v3-03.pdf",
                            "title": "Brand guidelines for Census 2021",
                            "metadata": {
                                "type": {
                                    "text": "Booklet"
                                },
                                "file": {
                                    "fileType": "PDF",
                                    "fileSize": "7.4MB",
                                    "filePages": "70 pages"
                                }
                            },
                            "description": "Guidelines to help produce branded communications for the census, which are clear and consistent across print and digital platforms."
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'booklet english local-authorities community-groups recruitment',
                                "data-sort-index": '6'
                            },
                            "thumbnail": {
                                "smallSrc": "/patternlib-img/download-resources/img/small/census-2021-tone-of-voice.png",
                                "largeSrc": "/patternlib-img/download-resources/img/large/census-2021-tone-of-voice.png"
                            },
                            "url": "/patternlib-img/download-resources/documents/Census-Tone-of-Voice-v4-07.pdf",
                            "title": "Tone of voice for Census 2021",
                            "metadata": {
                                "type": {
                                    "text": "Booklet"
                                },
                                "file": {
                                    "fileType": "PDF",
                                    "fileSize": "1.1MB",
                                    "filePages": "34 pages"
                                }
                            },
                            "description": "A guide to how we write and talk about the census."
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'poster english local-authorities community-groups recruitment',
                                "data-sort-index": '7'
                            },
                            "thumbnail": true,
                            "url": "#0",
                            "title": "Default awareness pop-up stand graphics for Census 2021",
                            "metadata": {
                                "type": {
                                    "text": "Poster"
                                },
                                "file": {
                                    "fileType": "ZIP",
                                    "fileSize": "12MB",
                                    "filePages": "6 files"
                                }
                            },
                            "description": "Awareness pop-up stand graphics for the initial launch engagement."
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'poster english local-authorities community-groups recruitment',
                                "data-sort-index": '8'
                            },
                            "thumbnail": true,
                            "url": "#0",
                            "title": "Field officer jobs poster for Census 2021",
                            "metadata": {
                                "type": {
                                    "text": "Poster"
                                },
                                "file": {
                                    "fileType": "ZIP",
                                    "fileSize": "12MB",
                                    "filePages": "6 files"
                                }
                            },
                            "description": "Collection of posters to advertise a field officer job for the census 2021."
                        },
                        {
                            "classes": 'ons-filter__item ons-js-filter__item',
                            "attributes": {
                                "data-filter": 'logo english local-authorities community-groups recruitment',
                                "data-sort-index": '9'
                            },
                            "thumbnail": true,
                            "url": "#0",
                            "title": "Census 2021 logos pack for print and web",
                            "metadata": {
                                "type": {
                                    "text": "Logo"
                                },
                                "file": {
                                    "fileType": "ZIP",
                                    "fileSize": "5MB",
                                    "filePages": "24 files"
                                }
                            },
                            "description": "A collection of logos suitable for print and web advertising."
                        }
                    ]
                }) }}

                <div class="ons-adv-filter__no-results" data-fallback-gallery-id="adv-filter-gallery">
                    <h2>No results found</h2>
                    <p>Try selecting different filters to get results.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
