<h1 class="u-fs-l">Do you connect an <a href="#" title="Definition of accumulator" class="glossary-link">accumulator</a> to your <a href="#" title="Definition of photovoltaic system" class="glossary-link">photovoltaic system</a> to store surplus energy?</h1>
