{% from "components/pagination/_macro.njk" import onsPagination %}

{{
    onsPagination({
        "previous": "Previous",
        "next": "Next",
        "pages": [
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": true
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": false
            },
            {
                "url": "#",
                "current": flase
            },
            {
                "url": "#",
                "current": false
            }
        ]
    })
}}
