{% from "components/header/_macro.njk" import onsHeader %}
{{ 
    onsHeader({
        "title": "Service title",
        "classes": "header--internal header--thin",
        "logo": "ons-logo-white",
        "toggleButton": {
            "text": "Menu",
            "ariaLabel": "Toggle main navigation"
        },
        "navigation": {
            "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
            "id": "main-nav",
            "ariaLabel": "Main menu",
            "ariraListLabel": "Navigation menu",
            "currentPath": "/surveys",
            "items": [
                {
                    "title": "Surveys",
                    "path": "/surveys"
                },
                {
                    "title": "Messages",
                    "path": "#"
                },
                {
                    "title": "To do",
                    "path": "#"
                },
                {
                    "title": "My account",
                    "path": "#",
                    "classes": "header-nav__item--secondary u-d-no@m"
                },
                {
                    "title": "Sign out",
                    "path": "#",
                    "classes": "u-d-no@m"
                }
            ]
        },
        "serviceLinks": {
            "classes": "header-service-nav--internal",
            "ariaLabel": "Site services menu",
            "ariaListLabel": "Navigation menu",
            "items": [
                {
                    "title": "My account",
                    "path": "#"
                },
                {
                    "title": "Sign out",
                    "path": "#"
                }
            ]
        }
    })
}}
