{% macro onsPassword(params) %}
    {% from "components/field/_macro.njk" import onsField %}
    {% from "components/label/_macro.njk" import onsLabel %}
    {% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
    {% from "components/input/_macro.njk" import onsInput %}

    {% call onsField({
        "id": params.fieldId,
        "classes": "js-password" + (" " + params.fieldClasses if params.fieldClasses else ""),
        "error": params.error
    }) %}
        {{
            onsLabel({
                "for": params.id,
                "text": params.label.text,
                "description": params.label.description,
                "classes": params.label.classes
            })
        }}
        {{
            onsCheckbox({
                "id": params.id + "-toggle",
                "classes": "js-password-toggle-wrap checkbox--toggle u-d-no",
                "inputClasses": "js-password-toggle",
                "name": "show-password",
                "label": {
                    "text": params.showPasswordText
                }
            })
        }}
        {{
            onsInput({
                "id": params.id,
                "name": params.name,
                "type": "password",
                "classes": "u-mt-xs js-password-input" + (" input--error" if params.error else ""),
                "dontWrap": true
            })
        }}
    {% endcall %}
{% endmacro %}
