---
title: Images
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Documentation required
{{
    patternlibExample({"path": "components/images/examples/image/index.njk"})
}}

## Design System forum 
[Discuss 'Images' on GitHub](https://github.com/ONSdigital/design-system/issues/713)
