---
title: Images
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

{{
    patternlibExample({"path": "components/images/examples/image/index.njk"})
}}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/713",
        "linkText": "Discuss 'Images' on GitHub"
    })
}}
