<header class="header {{ params.classes if params.classes }}">
    {% if params.beta %}
        {% from "components/beta-bar/src/_macro.njk" import onsBetaBar %}
        {{ onsBetaBar(params.beta) }}
    {% endif %}
    <div class="header__top" role="banner">
        <div class="container{{ ' container--full-width' if params.fullWidth }}">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto">
                    <div class="logo">
                        <a href="{{ params.logoHref | default('/') }}">
                             <img src="{{'/img/ons-logo-pos.svg'}}" alt="Office for National Statistics logo" class="logo__img header__logo print__hidden">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container{{ ' container--full-width' if params.fullWidth }}">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    <h1 class="header__title">{{ params.title }}</h1>
                    {% if params.desc %}
                        <p class="header__desc">{{ params.desc }}</p>
                    {% endif %}
                </div>
                {% if params.button %}
                    <div class="grid__col col-auto u-flex-no-shrink">
                        {% from "components/button/src/_macro.njk" import onsButton %}
                        {{ onsButton(params.button) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if params.navigation %}
        <div class="header__nav">
            <div class="container{{ ' container--full-width' if params.fullWidth }}">
                {% from "components/navigation/src/_macro.njk" import onsNavigation %}
                {{ onsNavigation(params.navigation) }}
            </div>
        </div>
    {% endif %}
</header>
