@use '../helpers';
@use '../vars';

@include helpers.font-face(
    OpenSans,
    '#{vars.$static}/fonts/opensans-regular',
    $weight: vars.$font-weight-regular,
    $style: null,
    $exts: woff2 woff
);
@include helpers.font-face(
    OpenSans,
    '#{vars.$static}/fonts/opensans-bold',
    $weight: vars.$font-weight-bold,
    $style: null,
    $exts: woff2 woff
);
@include helpers.font-face(
    RobotoMono,
    '#{vars.$static}/fonts/robotomono-regular',
    $weight: vars.$font-weight-regular,
    $style: null,
    $exts: woff2 woff
);
@include helpers.font-face(
    RobotoMono,
    '#{vars.$static}/fonts/robotomono-bold',
    $weight: vars.$font-weight-bold,
    $style: null,
    $exts: woff2 woff
);
