fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset {
  width: 100%;
}

input {
  box-sizing: border-box;
}

::-webkit-inner-spin-button {
  display: none;
}

input[type='text'],
input[type='number'] {
  appearance: none;
}

select {
  option[disabled][value=''] {
    display: none;
  }
}
