*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid #888;
  margin: 2rem 0 0;
}

a {
  color: $color-text-link;
  text-underline-position: under;
  &:not(.ons-u-fs-r--b):hover {
    .ons-u-fs-l &,
    h2:not(.ons-u-fs-m) & {
      text-decoration-thickness: 3px;
    }

    @include mq(m) {
      .ons-u-fs-m &,
      h2 &,
      h3 & {
        text-decoration-thickness: 3px;
      }
    }
  }
  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline solid $color-text-link-hover 2px;
  }
  &:focus:not(.ons-btn--link):not(.ons-btn--ghost):not(.ons-js-clear-btn):not(.ons-download__thumbnail--link):not(.ons-tab--row):not(.skip__link) {
    background-color: $color-focus;
    box-shadow: 0 -2px $color-focus, 0 4px $color-text-link-focus;
    color: $color-text-link-focus;
    outline: 3px solid transparent;
    text-decoration: none;
  }
}
