*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  border-top: 1px solid #888;
  margin: 2rem 0 0;
}

a {
  color: $color-links;
  &:hover {
    text-decoration: underline;
    color: $color-links-hover;
  }
  &:focus:not(.btn--link):not(.btn--ghost):not(.js-clear-btn):not(.download__thumbnail--link):not(.header__logo-link):not(.header__title-link):not(.tab--row) {
    outline: 3px solid transparent;
    color: $color-focus-text;
    background-color: $color-focus;
    box-shadow: 0 -2px $color-focus, 0 4px $color-focus-text;
    text-decoration: none;
  }
}
