*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

hr {
  margin: 2rem 0 0;
  border: 0;
  border-top: 1px solid #888;
}

a {
  color: $color-links;
  &:hover {
    color: $color-links-hover;
    text-decoration: underline solid $color-links-hover 2px;
    .u-fs-m &,
    h2 &,
    h3 & {
      text-decoration-thickness: 3px;
    }
  }
  &:focus:not(.btn--link):not(.btn--ghost):not(.js-clear-btn):not(.download__thumbnail--link):not(.header__logo-link):not(.header__title-link):not(.tab--row):not(.skip__link) {
    outline: 3px solid transparent;
    background-color: $color-focus;
    box-shadow: 0 -2px $color-focus, 0 4px $color-focus-text;
    color: $color-focus-text;
    text-decoration: none;
  }
}
