html {
    font-size: $base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

body {
    color: $color-text;
    font-family: $font-sans;
}

p {
    margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 1rem;
    & em {
        background-color: $color-highlight;
    }
}

code {
    font-size: 0.8rem;
}

ul {
    margin: 0 0 1rem;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

em {
    font-style: normal;
    font-weight: $font-weight-bold;
}
