@use '../../scss/helpers';
@use '../../scss/vars';
@use '../utilities';
@use 'sass:math';

html {
    @include helpers.font-smoothing;

    font-size: calc((100% / 16) * helpers.strip-unit(vars.$base));
}

body {
    color: var(--ons-color-text);
    font-family: vars.$font-sans;
    font-feature-settings: 'ss01';
}

p {
    margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    strong {
        @extend .ons-highlight;
    }
}

mark {
    @extend .ons-highlight;

    font-weight: vars.$font-weight-bold;
}

code {
    font-size: 0.8rem;
}

ul {
    margin: 0 0 1rem;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

em {
    font-style: normal;
    font-weight: vars.$font-weight-bold;
}
