html {
    @include font-smoothing;

    font-size: $base;
}

body {
    color: var(--ons-color-text);
    font-family: $font-sans;
    font-feature-settings: 'ss01';
}

p {
    margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    strong {
        @extend .ons-highlight;
    }
}

mark {
    @extend .ons-highlight;

    font-weight: $font-weight-bold;
}

code {
    font-size: 0.8rem;
}

ul {
    margin: 0 0 1rem;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

em {
    font-style: normal;
    font-weight: $font-weight-bold;
}
