---
title: Access codes
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

{{
    onsPanel({
        "body": "This pattern requires documentation.",
        "classes": "u-mb-m"
    })
}}

{{
    patternlibExample({"path": "components/uac/examples/uac/index.njk"})
}}

## Other examples

### Errors

{{
    patternlibExample({"path": "components/uac/examples/uac-error/index.njk"})
}}

### Census

{{
    patternlibExample({"path": "components/uac/examples/uac-census/index.njk"})
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/issues/414",
            "linkText": "Design System forum",
            "type": "external"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/414",
        "linkText": "Discuss 'Access codes' on GitHub",
        "type": "external"
    })
}}
