{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}
{% from "components/input/_macro.njk" import onsInput %}

{% macro onsAddressInput(params) %}
   {% set fields %}
        <div id="address" class="ons-field ons-address-input {% if not params.manualEntry %}ons-address-input--search ons-js-address-autosuggest{% endif %}">
            {% if params.isEditable == true or params.manualEntry %}
                {% if not params.manualEntry %}<div class="ons-js-address-input__manual ons-u-db-no-js_enabled">{% endif %}
                    {% if params.organisation %}
                        {{
                            onsInput({
                                "id": params.id + "-organisation",
                                "value": params.organisation.value,
                                "label": {
                                    "text": params.organisation.label
                                },
                                "classes": "ons-js-address-organisation",
                                "width": "20@m",
                                "name": params.id + "-organisation",
                                "error": params.organisation.error
                            })
                        }}
                    {% endif %}
                    {% if params.line1 %}
                        {{
                            onsInput({
                                "id": params.id + "-line1",
                                "value": params.line1.value,
                                "label": {
                                    "text": params.line1.label
                                },
                                "classes": "ons-js-address-line1",
                                "width": "20@m",
                                "name": params.id + "-line1",
                                "error": params.line1.error
                            })
                        }}
                    {% endif %}
                    {% if params.line2 %}
                        {{
                            onsInput({
                                "id": params.id + "-line2",
                                "value": params.line2.value,
                                "label": {
                                    "text": params.line2.label
                                },
                                "classes": "ons-js-address-line2",
                                "width": "20@m",
                                "name": params.id + "-line2",
                                "error": params.line2.error
                            })
                        }}
                    {% endif %}
                    {% if params.town %}
                        {{
                            onsInput({
                                "id": params.id + "-town",
                                "value": params.town.value,
                                "label": {
                                    "text": params.town.label
                                },
                                "classes": "ons-js-address-town",
                                "name": params.id + "-town",
                                "error": params.town.error
                            })
                        }}
                    {% endif %}
                    {% if params.postcode %}
                        {{
                            onsInput({
                                "id": params.id + "-postcode",
                                "value": params.postcode.value,
                                "label": {
                                    "text": params.postcode.label
                                },
                                "classes": "ons-js-address-postcode",
                                "width": "7",
                                "name": params.id + "-postcode",
                                "error": params.postcode.error
                            })
                        }}
                    {% endif %}
                {% if not params.manualEntry %}
                        <div class="ons-u-mt-s">
                            <a href="#0" class="ons-js-address-search-btn ons-u-db-no-js_disabled">{{ params.searchButton }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if params.uprn and params.uprn.value %}
                {% set uprnValue = params.uprn.value %}
            {% else %}
                {% set uprnValue = '' %}
            {% endif %}

            {{
                onsInput({
                    "id": params.id + "-uprn",
                    "classes": "ons-js-hidden-uprn ons-u-d-no",
                    "type": "hidden",
                    "name": params.id + "-uprn",
                    "value": uprnValue
                })
            }}
            {% if not params.manualEntry %}
                <div class="ons-js-address-input__search{% if params.isEditable == true %} ons-u-db-no-js_disabled{% endif %}">
                    {{
                        onsAutosuggest({
                            "id": params.id + "-autosuggest",
                            "classes": "ons-address-input__autosuggest ons-u-mb-no",
                            "width": "50",
                            "label": {
                                "text": params.label.text,
                                "id": params.label.id,
                                "classes": "ons-js-autosuggest-label"
                            },
                            "value": params.value,
                            "attributes": params.attributes,
                            "error": params.error,
                            "name": params.name,
                            "mutuallyExclusive": params.mutuallyExclusive,
                            "externalInitialiser": true,
                            "APIDomain": params.APIDomain,
                            "APIDomainBearerToken": params.APIDomainBearerToken,
                            "APIManualQueryParams": params.APIManualQueryParams,
                            "allowMultiple": params.allowMultiple,
                            "mandatory": params.mandatory,
                            "instructions": params.instructions,
                            "autocomplete": params.autocomplete,
                            "isEditable": params.isEditable,
                            "ariaYouHaveSelected": params.ariaYouHaveSelected,
                            "ariaMinChars": params.ariaMinChars,
                            "minChars": params.minChars,
                            "ariaOneResult": params.ariaOneResult,
                            "ariaNResults": params.ariaNResults,
                            "ariaLimitedResults": params.ariaLimitedResults,
                            "ariaGroupedResults": params.ariaGroupedResults,
                            "groupCount": params.groupCount,
                            "moreResults": params.moreResults,
                            "tooManyResults": params.tooManyResults,
                            "resultsTitle": params.resultsTitle,
                            "resultsTitleId": params.resultsTitleId,
                            "noResults": params.noResults,
                            "typeMore": params.typeMore,
                            "errorTitle": params.errorTitle,
                            "errorMessageEnter": params.errorMessageEnter,
                            "errorMessageSelect": params.errorMessageSelect,
                            "errorMessageAPI": params.errorMessageAPI,
                            "errorMessageAPILinkText": params.errorMessageAPILinkText,
                            "options": params.options,
                            "manualLink": params.manualLink,
                            "manualLinkText": params.manualLinkText
                        })
                    }}
                    {% if params.manualLinkText %}
                        <a href="{{ params.manualLink | default('#0') }}" class="ons-js-address-manual-btn ons-u-mt-s ons-u-dib">{{ params.manualLinkText }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endset %}

    {% if params.dontWrap %}
        {{ fields | safe }}
    {% else %}
        {% call onsFieldset({
            "id": params.id,
            "classes": params.classes,
            "legend": params.legend,
            "legendClasses": params.legendClasses
        }) %}
            {{ fields | safe }}
        {% endcall %}
    {% endif %}
{% endmacro %}
