---
title: Address input
synonyms: Address finder, address picker, address lookup, address search
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}


The address input component allows users to search for and return addresses using the ONS Address Index API or to manually enter an address. 

## When to use this component

Use the address input when you need users to find or enter and confirm an address. This could be their own or any other address that is required for the question.

There is specific guidance on how to ask for [addresses](/patterns/addresses).

## How to use this component with the ONS Address Index API

The address input extends the code base used for the [autosuggest component](/components/autosuggest). 

There are two main ways to use this component with the ONS Address Index API. Addresses can either be editable or non-editable.

### Editable addresses

Include the parameter `isEditable: true`. Note that there are other required parameters that can be viewed on the Nunjucks output of the example.

When an address has been selected, the “mode” of the component will change to show each line of the address as individual, manual inputs. This allows the user to check and change the address.

If the address is amended, the UPRN (unique ID) will be removed and not submitted.

{{
    patternlibExample({"path": "components/address-input/examples/address-input-editable/index.njk"})
}}

### Non-editable addresses

Include the parameter `isEditable: false`. When an address has been selected, the input will be populated with that address.

The UPRN for the selected address is added to a hidden input field that will be posted with the rest of the form data when it’s submitted.


{{
    patternlibExample({"path": "components/address-input/examples/address-input/index.njk"})
}}

### Using the API

The ONS Address Index API uses a JSON Web Token (JWT) to allow for the transfer of data. Contact the ONS AIMS team for requirements and to set up trusted domains.

Set the values for the parameters `APIDomain` and `APIDomainBearerToken` to allow queries to be passed to the API. Also include the parameter `"externalInitialiser": true` to bypass the default autosuggest methods.

A query is sent to the relevant API endpoint after three characters have been entered into the input. Various scenarios are catered for, such as groupings (of postcode results) and large returns of data.

### Validation

The address autosuggest provides client-side validation when the parameter `mandatory: true` is used. The validation checks that:

- there is something in the input field
- that an address has been selected
- an address has been selected and then amended (non-editable only)

You will need to include parameters for the error messages displayed which can be viewed on the nunjucks output of the examples above.

For editable addresses, after an address has been selected and manual inputs used, you need to set server-side validation on the address input fields. This checks that what the user enters in the input fields is valid and the fields are not empty. The [address pattern](/patterns/addresses) explains what to check for and how.

### If the API is down
There is a status check when the page loads and initialises the component. If the service is down when using the editable address variation, the user will be able to enter an address using manual inputs. This “mode” is also the non-JS version of the component.

If the API goes down during use of the component, the input is disabled and a warning needs to be shown under the address input field. The warning is configurable and should contain a message and a link, for example "Sorry, there is a problem. We are working to fix it. Please try again later or <a href="#0">contact us for more help</a>."

## How to use this component for manual address entry

Include the parameter `manualEntry: true`. Note that there are other required parameters that can be viewed on the Nunjucks output of the example. 

{{
    patternlibExample({"path": "components/address-input/examples/address-input-manual/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/894",
        "linkText": "Discuss the ‘address input’ component on GitHub"
    })
}}
