{% macro onsCodeHighlight(params) %}
    <pre class="ons-patternlib-example__pre">{#
        #}<code class="ons-patternlib-example__code ons-language-{{ params.language if params.language and params.language is defined else 'markup' }}">{{ params.code }}</code>{#
    #}</pre>
{% endmacro %}
