---
title: Get started
sortOrder: 2
topLevel: true
---
You can start using the latest version of the ONS Design System in your service right now. All of the styles, assets and components are production ready.

## Include the compiled CSS and JS
All of the global styles and individual component code is compiled and made available via a `CDN`.

Each release of the Design System is tagged with a version e.g. ![](https://img.shields.io/github/release/onsdigital/design-system.svg?style=flat-square) which forms part of the `url` of the compiled files for a specific release.

The following files are deployed to the `CDN` which can be referenced in a service or project:

- `main.css` - Responsive CSS file of all components.
- `main.js` - Bundled JavaScript modules.

To reference the files in your service you would use the following `url` structures (the `[VERSION]` should be replaced with the required release version e.g. ![](https://img.shields.io/github/release/onsdigital/design-system.svg?style=flat-square)):

- `https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/css/main.css`
- `https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/scripts/main.js`

Each release deployed to the `CDN` is always available. This allows services to plan upgrades to new versions.

## Favicons

Favicons have been created for Safari, Chrome and Edge/Internet Explorer for desktop and mobile. Place the following references into the `head` of all pages within your service to make use of the available favicons. The `[VERSION]` should be replaced with the required release version.

{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}
{{ onsCodeHighlight({ "code": '<meta name="msapplication-config" content="https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/favicons/browserconfig.json">
<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
<link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/favicons/favicon-16x16.png" sizes="16x16">
<link rel="mask-icon" color="#5bbad5" href="https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/favicons/safari-pinned-tab.svg">
<link rel="apple-touch-icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="https://cdn.ons.gov.uk/sdc/design-system/[VERSION]/favicons/manifest.json">'}) }}

## Using components

The [components](/components) section contains all of the available components that have been tested for accessibility and usability and are ready for production. Each component has been developed using mobile first principles and will render appropriately across all compatible viewports.

Each component contains examples and any context specific variants. You can copy the `html` directly from the example from the `html` tab. See the example below:

{% from "views/partials/example/_macro.njk" import patternlibExample %}
{{
    patternlibExample({"path": "components/panel/examples/information/index.njk"})
}}
