{% from "foundations/grid/_macro.njk" import patternLibExampleGrid %}
{{
    patternLibExampleGrid({
        'container': true,
        "itemsList": [
            {
                'col': 8
            }
        ]
    })
}}
