{% from "components/icons/_macro.njk" import onsIcon %}

{% macro onsButtonLink(params) %}
    {# Set button icon #}
    {% set iconPosition = "after" %}
    {% if params.iconType %}
        {% set iconType = params.iconType %}
        {% set iconPosition = params.iconPosition %}
    {% else %}
        {% if params.newWindow %}
            {# CTA link opening in new tab #}
            {% set iconType = "external-link" %}
        {% elif params.variants and 'download' in params.variants %}
            {# Download #}
            {% set iconType = "download" %}
            {% set iconPosition = "before" %}
            {% if not params.removeDownloadAttribute %}
                {% set variantAttributes = "download" %}
            {% endif %}
        {% else %}
        {# CTA link #}
            {% set iconType = "arrow-next" %}
        {% endif %}
    {% endif %}

    <a href="{{ params.url }}" role="button"
        class="ons-btn ons-btn--link ons-js-submit-btn{% if params.classes %} {{ params.classes }}{% endif %}{% if params.variants %}{% if params.variants is not string %}{% for variant in params.variants %} ons-btn--{{ variant }}{% endfor %}{% else %} ons-btn--{{ params.variants }}{% endif %}{% endif %}"
        {% if params.id %}id="{{ params.id }}"{% endif %}
        {% if params.newWindow %}target="_blank" rel="noopener"{% endif %}
        {{ variantAttributes }}
        {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %} {{attribute}}="{{value}}"{% endfor %}{% endif %}
        >
        <span class="ons-btn__inner{% if params.innerClasses %} {{ params.innerClasses }}{% endif %}">
            <span class="ons-btn__text ons-u-vh@xxs@s">{{- params.html | safe if params.html else params.text -}}</span>
            {{
                onsIcon({
                    "iconType": iconType,
                    "iconPosition": iconPosition,
                    "classes": 'ons-u-ml-xs'
                })
            }}
        </span>
        {% if params.newWindow %}
            <span class="ons-btn__new-window-description ons-u-vh"> ({{ params.newWindowDescription | default("opens in a new tab") }})</span>
        {% endif %}
        {% if params.buttonContext %}
            <span class="ons-btn__context ons-u-vh">{{ params.buttonContext }}</span>
        {% endif %}
    </a>
{% endmacro %}
