{% from "components/button/_macro.njk" import onsButton %}
{{
    onsButton({
        "type": 'button',
        "submitType": "timer",
        "text": 'Get started',
        "classes": 'u-mb-m',
        "url": '#'
    }) 
}}
