{% from "components/textarea/src/_macro.njk" import onsTextarea %}

{{
    onsTextarea({
        "id": "textarea",
        "name": "feedback",
        "classes": "input--w-30",
        "label": {
            "text": "Please provide some feedback",
            "description": "For example describe any difficulties you experienced in the use of this service"
        }
    })
}}
