{% from "components/panel/src/_macro.njk" import onsPanel %}
{% call 
    onsPanel({
        "type": "error"
    })
%}
<ul class="list list--bare list--errors u-mb-s" id="container-test-number">
    <li class="list__item u-fs-r--b">Enter a number.</li>
</ul>
{% from "components/input/src/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "number",
        "type": "number",
        "classes": "input--w-5",
        "attributes": {
            "min": 0,
            "required": true
        },
        "label": {
            "text": "Number of employees paid monthly"
        }
    })
}}
{% endcall %}
{% call 
    onsPanel({
        "type": "error",
        "id": "test",
        "classes": "u-mt-m u-"
    })
%}
<ul class="list list--bare list--errors u-mb-s" id="container-test-percentage">
    <li class="list__item u-fs-r--b">Enter an number less than or equal to 100.</li>
</ul>
{% from "components/input/src/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "suffixed",
        "type": "number",
        "classes": "input--w-3",
        "value": "101",
        "attributes": {
            "required": true
        },
        "label": {
            "text": "Percentage of employees paid monthly"
        },
        "suffix": {
            "title": "percent",
            "text": "%"
        }
    })
}}
{% endcall %}
