{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": "number",
        "type": "number",
        "classes": "input--w-5",
        "attributes": {
            "min": 0,
            "required": true
        },
        "label": {
            "text": "Number of employees paid monthly"
        },
        "error": {
            "text": "Enter a number",
            "DSExample": true
        }
    })
}}

{{
    onsInput({
        "id": "suffixed",
        "type": "number",
        "classes": "input--w-3",
        "value": "101",
        "attributes": {
            "required": true
        },
        "label": {
            "text": "Percentage of employees paid monthly"
        },
        "suffix": {
            "title": "percent",
            "text": "%"
        },
        "error": {
            "text": "Enter a number less than or equal to 100",
            "DSExample": true
        }
    })
}}
