---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/articles/_macro.njk" import onsArticles %}
{% from "components/related-content/_macro.njk" import onsRelatedContent %}

{% set pageConfig = {
    "title": 'Service name',
    "absoluteUrl": pageInfo.url,
    "pageColNumber": '12',
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumb',
        "itemsList": [
            {
                "url": '#0',
                "text": 'Home'
            }
        ]
    },
    "footer": {}
} %}

{% block main %}

<div class="grid">
    <div class="grid__col col-7@m">
        <h1 class="u-fs-xxl">News</h1>
        <p>The latest news, press releases and statements from the census media relations team.</p>
    </div>
</div>

{{ onsArticles({
    "articles": [
        {
            "featured": true,
            "url": '#0',
            "title": 'For the first time the ONS is using administrative data to count number of rooms',
            "date": {
                "short": '30 April 2021',
                "iso": '2021-04-30'
            },
            "category": {
                "title": 'Press releases',
                "url": '#0'
            },
            "excerpt": 'Earlier this year, we asked people who use census data what they thought of our plans for 2021 Census outputs.'
        }
    ]
}) }}

<div class="grid grid--column@xs@s">

    <div class="grid__col col-7@m">

        <div class="u-mt-m u-mb-m">

            {{ onsArticles({
                "articles": [
                    {
                        "url": '#0',
                        "title": 'Students urged to complete the census for their term-time accommodation now',
                        "date": {
                            "short": '30 April 2021',
                            "iso": '2021-04-30'
                        },
                        "category": {
                            "title": 'Press releases',
                            "url": '#0'
                        },
                        "excerpt": 'There has been a great response to Census 2021, but it is important everyone is counted and that includes students.'
                    },
                    {
                        "url": '#0',
                        "title": 'Census 2021 myth buster – 11 things you think you know about the census but you’re wrong',
                        "date": {
                            "short": '7 April 2021',
                            "iso": '2021-04-07'
                        },
                        "category": {
                            "title": 'Press releases',
                            "url": '#0'
                        },
                        "excerpt": 'The Office for National Statistics dispels some common myths around Census 2021.'
                    },
                    {
                        "url": '#0',
                        "title": 'Nine out of ten households have completed Census 2021',
                        "date": {
                            "short": '7 April 2021',
                            "iso": '2021-04-07'
                        },
                        "category": {
                            "title": 'Press releases',
                            "url": '#0'
                        },
                        "excerpt": 'There has been a fantastic response to Census 2021. Nine out of ten households across England and Wales have completed their questionnaire – but everyone must take part.'
                    },
                    {
                        "url": '#0',
                        "title": 'Don’t be eggs-cluded - fill in your census this Easter',
                        "date": {
                            "short": '7 April 2021',
                            "iso": '2021-04-01'
                        },
                        "category": {
                            "title": 'Press releases',
                            "url": '#0'
                        },
                        "excerpt": 'There has been a great response to Census 2021, but to make sure it is an Easter bunny and not a census field officer who visits this weekend, crack on and submit your questionnaire now.'
                    },
                    {
                        "url": '#0',
                        "title": 'There is still time to complete Census 2021',
                        "date": {
                            "short": '23 March 2021',
                            "iso": '2021-03-23'
                        },
                        "category": {
                            "title": 'Press releases',
                            "url": '#0'
                        },
                        "excerpt": 'Census Day was Sunday 21 March, but it is vital those who have not yet completed, do so as soon as possible.'
                    }
                ]
            }) }}

        </div>

    </div>

    <div class="grid__col col-4@m push-1@m">

        {% call onsRelatedContent({
            "ariaLabel": 'Related content',
            "rows": [
                {
                    "id": 'related-links',
                    "title": 'Categories',
                    "itemsList": [
                        {
                            "text": 'Press releases',
                            "url": '#0'
                        },
                        {
                            "text": 'Statements',
                            "url": '#0'
                        }
                    ]
                },
                {
                    "id": 'media-enquiries',
                    "title": 'Media enquiries',
                    "classes": 'list--bare u-mb-no',
                    "itemsList": [
                        {
                            "text": 'Telephone: 0845 604 1858 <br> Monday to Friday, 8:30am to 5:30pm'
                        },
                        {
                            "text": 'Out of hours: 07867 906 553'
                        },
                        {
                            "text": 'Email: <a href="#0">media.relations@ons.gov.uk</a>'
                        }
                    ]
                },
                {
                    "id": 'follow-us',
                    "title": 'Follow us',
                    "classes": 'list--social',
                    "itemsList": [
                        {
                            "url": '#0',
                            "text": 'Twitter',
                            "prefixIcon": 'twitter',
                            "iconSize": 'xxl',
                            "rel": 'noreferrer external'
                        },
                        {
                            "url": '#0',
                            "text": 'Facebook',
                            "prefixIcon": 'facebook',
                            "iconSize": 'xxl',
                            "rel": 'noreferrer external'
                        },
                        {
                            "url": '#0',
                            "text": 'Instagram',
                            "prefixIcon": 'instagram',
                            "iconSize": 'xxl',
                            "rel": 'noreferrer external'
                        },
                        {
                            "url": '#0',
                            "text": 'LinkedIn',
                            "prefixIcon": 'linkedin',
                            "iconSize": 'xxl',
                            "rel": 'noreferrer external'
                        }
                    ]
                }
            ]
        }) %}

        {% endcall %}

    </div>

</div>

{% endblock %}
