{% macro onsDateInput(params) %}
    {%- from "components/input/src/_macro.njk" import onsInput -%}
    <fieldset class="fieldgroup fieldgroup--inline" aria-describedby="{{ params.id }}-description" role="group">
        <legend class="fieldgroup__title">{{ params.legend }}</legend>
        <div id="{{ params.id }}-description" class="field__description u-fs-s--b u-fw-n">{{ params.description }}</div>
        <div class="fieldgroup__fields">
            <div class="field">
                {{
                    onsInput({
                        id: params.id + "-day",
                        classes: "input--w-2",
                        attributes: {
                            min: 1,
                            max: 31
                        },
                        label: {
                            text: params.dayLabel,
                            type: "number",
                            classes: "u-fs-r"
                        },
                        value: params.dayValue
                    })
                }}
            </div>
            <div class="field">
                {{
                    onsInput({
                        id: params.id + "-month",
                        classes: "input--w-2",
                        attributes: {
                            min: 1,
                            max: 12
                        },
                        label: {
                            text: params.monthLabel,
                            type: "number",
                            classes: "u-fs-r"
                        },
                        value: params.monthValue
                    })
                }}
            </div>
            <div class="field">
                {{
                    onsInput({
                        id: params.id + "-year",
                        classes: "input--w-4",
                        attributes: {
                            min: 1000,
                            max: 3000
                        },
                        label: {
                            text: params.yearLabel,
                            type: "number",
                            classes: "u-fs-r"
                        },
                        value: params.yearValue
                    })
                }}
            </div>
        </div>
    </fieldset>
{% endmacro %}
