---
fullWidth: true
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% set pageConfig = {
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumb',
        "itemsList": [
            {
                "url": '/',
                "text": 'Home'
            }
        ]
    }
} %}
