---
"fullWidth": true
---
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "classes": 'header--hero',
        "title": 'Survey title',
        "logoHref": '#0',
        "desc": 'This is the description or tagline'
    })
}}
