<p>This is some <em class="ons-highlight">important</em> content.</p>
<h1 class="ons-u-fs-m">What was the value of the business’s total sales of <em class="ons-highlight">food</em>?</h1>
<h1 class="ons-u-fs-m">What was the value of the business’s total sales of <em class="ons-highlight">alcohol, tobacco and confectionary</em>?</h1>
<h2>Of the <em class="ons-highlight">423</em> employees how many were part-time?</h2>
