---
fullWidth: true
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% set pageConfig = {
    "theme": "census",
    "header": {
        "logoHref": "#",
        "titleLogo": "/img/census-logo-cy.svg",
        "titleLogoAlt": "Cyfrifiad 2021"
    },
    "language": {
        "allLanguagesUrl": "#",
        "languages": [
            {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": false
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": true
            }
        ]
    }
} %}
