---
title: Foundations
sortOrder: 3
---

Foundations are the basis for creating consistent ONS products. Using them makes your pages look like ONS products. 

Create your pages using the base template and grid system. You can then style them according to the colours, typography and icons guidance.
