---
title: Foundations
sortOrder: 3
---

Foundations are the basis for creating consistent ONS products. Use them to make your product look and behave like an ONS service or website.

Create your pages using the base template and grid system. You can then style them using the range of standard ONS colours, typography and icons.
