{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Turnover",
        "rows": [
            {
                "title": "Total turnover",
                "rowItems": [
                    {
                        "values": [
                            {
                                "text": "£234,000.00"
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
