// .glossary__link goes against BEM convention and should be removed
.glossary__link,
.glossary-link {
  &:after {
    content: '';
    display: inline;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: transparent url('#{$static}/img/icons/icons--external-link.svg') no-repeat 50%;
    background-size: 1rem;
    line-height: 0;
    vertical-align: super;
    white-space: nowrap;
  }
}
