// greyscale

$color-black: #222;
$color-grey-1: #363636;
$color-grey-2: #595959;
$color-grey-3: #999;
$color-grey-4: #ccc;
$color-grey-5: #f0f0f0;
$color-white: #fff;

// brand
$color-astral-blue: #3b7a9e;
$color-green: #0f8243;
$color-light-green: #edf4f0;
$color-blue: #4263c2;
$color-light-blue: #eff0f9;
$color-dark-blue: #033e58;
$color-amber: #fe781f;
$color-light-amber: #fdf6ec;
$color-red: #d0021b;
$color-light-red: #fbecec;
$color-yellow: #f0f762;

// assignment
$color-text: $color-black;
$color-text-light: $color-grey-2;
$color-links: $color-blue;
$color-links-hover: $color-dark-blue;
$color-focus: $color-amber;
$color-button: $color-green;
$color-button-secondary: $color-grey-5;
$color-input: $color-grey-3;
$color-borders: $color-grey-4;
$color-emphasis: $color-yellow;
$color-errors: $color-red;
$color-header: $color-astral-blue;
