// greyscale
$color-black: #222;
$color-grey-1: #595959;
$color-grey-2: #999;
$color-grey-3: #ccc;
$color-grey-4: #d0d0d0;
$color-grey-5: #f0f0f0;
$color-white: #fff;

// brand
$color-astral-blue: #3b7a9e;
$color-green: #0f8243;
$color-bright-green: scale-color($color-green, $lightness: 20%, $saturation: 20%);
$color-light-green: #edf4f0;
$color-blue: #4263c2;
$color-light-blue: #eff0f9;
$color-dark-blue: #033e58;
$color-amber: #fe781f;
$color-light-amber: #fdf6ec;
$color-red: #d0021b;
$color-bright-red: scale-color($color-red, $lightness: 20%, $saturation: 20%);
$color-light-red: #fbecec;
$color-yellow: #f0f762;

// assignment
$color-header: $color-astral-blue !default;
$color-text: $color-black !default;
$color-text-light: $color-grey-1 !default;
$color-links: $color-blue !default;
$color-links-hover: $color-dark-blue !default;
$color-focus: $color-amber !default;
$color-button: $color-green !default;
$color-button-secondary: $color-grey-4 !default;
$color-input: $color-grey-2 !default;
$color-borders: $color-grey-3 !default;
$color-emphasis: $color-yellow !default;
$color-errors: $color-red !default;
$color-errors-tint: $color-light-red !default;
$color-errors-dot: $color-bright-red !default;
$color-info: $color-dark-blue !default;
$color-info-tint: $color-light-blue !default;
$color-info-dot: $color-blue !default;
$color-success: $color-green !default;
$color-success-tint: $color-light-green !default;
$color-success-dot: $color-bright-green !default;
$color-warn: $color-amber !default;
$color-warn-tint: $color-light-amber !default;
$color-dead: $color-grey-2 !default;
