// greyscale
$color-black: #222;
$color-grey-1: #595959;
$color-grey-2: #999;
$color-grey-3: #ccc;
$color-grey-4: #f0f0f0;
$color-white: #fff;

// brand
$color-astral-blue: #3b7a9e;
$color-green: #0f8243;
$color-bright-green: scale-color($color-green, $lightness: 20%, $saturation: 20%);
$color-light-green: #edf4f0;
$color-blue: #4263c2;
$color-bright-blue: scale-color($color-blue, $lightness: 20%, $saturation: 20%);
$color-light-blue: #eff0f9;
$color-dark-blue: #033e58;
$color-amber: #fe781f;
$color-light-amber: #fdf6ec;
$color-red: #d0021b;
$color-bright-red: scale-color($color-red, $lightness: 20%, $saturation: 20%);
$color-light-red: #fbecec;
$color-yellow: #f0f762;

// assignment
$color-header: $color-astral-blue;
$color-text: $color-black;
$color-text-light: $color-grey-1;
$color-links: $color-blue;
$color-links-hover: $color-dark-blue;
$color-focus: $color-amber;
$color-button: $color-green;
$color-button-secondary: $color-grey-4;
$color-input: $color-grey-2;
$color-borders: $color-grey-3;
$color-emphasis: $color-yellow;
$color-errors: $color-red;
$color-errors-tint: $color-light-red;
$color-errors-dot: $color-bright-red;
$color-info: $color-dark-blue;
$color-info-tint: $color-light-blue;
$color-info-dot: $color-bright-blue;
$color-success: $color-green;
$color-success-tint: $color-light-green;
$color-success-dot: $color-bright-green;
$color-warn: $color-amber;
$color-warn-tint: $color-light-amber;
$color-dead: $color-grey-2;
