$font-sans: 'OpenSans', 'Helvetica Neue', arial, sans-serif !default;
$font-serif: georgia, serif !default;
$font-mono: 'RobotoMono', monospace !default;

$font-weight-regular: 400;
$font-weight-bold: 700;

$base: 16px;

$type-matrix: (
    ons-u-fs-3xl: (
        small: 32px,
        large: 48px,
        weight: $font-weight-bold,
        line-height-mobile: 2.75rem,
        line-height-desktop: 3.5rem,
    ),
    ons-u-fs-2xl: (
        small: 28px,
        large: 36px,
        weight: $font-weight-bold,
        line-height-mobile: 2.5rem,
        line-height-desktop: 3rem,
    ),
    ons-u-fs-xl: (
        small: 26px,
        large: 30px,
        weight: $font-weight-bold,
        line-height-mobile: 2.25rem,
        line-height-desktop: 2.5rem,
    ),
    ons-u-fs-l: (
        small: 24px,
        large: 26px,
        weight: $font-weight-bold,
        line-height-mobile: 2rem,
        line-height-desktop: 2.25rem,
    ),
    ons-u-fs-m: (
        small: 20px,
        large: 22px,
        weight: $font-weight-bold,
        line-height-mobile: 1.75rem,
        line-height-desktop: 2rem,
    ),
    ons-u-fs-r--b: (
        small: 18px,
        large: 18px,
        weight: $font-weight-bold,
        line-height-mobile: 1.75rem,
        line-height-desktop: 1.75rem,
    ),
    ons-u-fs-r: (
        small: 18px,
        large: 18px,
        weight: $font-weight-regular,
        line-height-mobile: 1.75rem,
        line-height-desktop: 1.75rem,
    ),
    ons-u-fs-s--b: (
        small: 14px,
        large: 14px,
        weight: $font-weight-bold,
        line-height-mobile: 1.25rem,
        line-height-desktop: 1.25rem,
    ),
    ons-u-fs-s: (
        small: 14px,
        large: 14px,
        weight: $font-weight-regular,
        line-height-mobile: 1.25rem,
        line-height-desktop: 1.25rem,
    ),
);
