@import 'helpers/*.scss';
@import 'vars/*.scss';
@import 'base/*.scss';

@import '../views/partials/**/*.scss';

.patternlib-page {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &__header {
    margin: 0;
  }

  &__body {
    display: flex;
    flex: 1;
  }

  &__sub-nav,
  &__main {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__sub-nav {
    padding: $grid-gutters;
    width: 300px;
    border-right: 1px solid $color-grey;

    .nav {
      width: 100%;
    }
  }

  &__main {
    flex: 1;
  }

  &__content,
  &__example {
    padding: $grid-gutters;
  }

  &__content {
    width: 100%;
  }
}
