@import 'helpers/*.scss';
@import 'vars/*.scss';
@import 'base/*.scss';

.patternlib-page {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &__header {
    margin: 0;
  }

  &__body {
    display: flex;
    flex: 1;
  }

  &__sub-nav,
  &__main {
    display: flex;
    overflow: auto;
  }

  &__sub-nav {
    padding: $grid-gutters;
    width: 300px;
    border-right: 1px solid $color-grey;
  }

  &__content {
    padding: $grid-gutters;
  }
}
