---
group: Pages
title: Guide
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}


The guide is a collection of related pages with features that help the user understand and navigate a topic or subject.

Each of the related pages within a guide contain a [table of contents](/components/toc) that shows all pages in the guide. 

There is an additional navigation component added to a guide. The [pager](/components/pagination#pager) is displayed at the bottom of each page allowing the user to move on to the next (or previous) page.

## When to use this pattern

Use this pattern when you want to present a collection of related pages on a topic.

## How to use this pattern

View the nunjucks output below which shows the components required to create the guide pattern.

The first page of a guide serves as the "parent" to the other pages. In the table of contents it should be linked as "Overview". 
For accessibility the title `h1` should contain an additional visually hidden `span` that provides the additional "Overview" text e.g.

{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}
{{ onsCodeHighlight({ "code": '<h1 class="u-mb-l">
  <span class="u-fs-xxl u-db">About the census</span>
  <span class="u-vh">: Overview</span>
</h1>'}) }}

{{
    patternlibExample({"path": "patterns/guide/examples/guide-overview/index.njk"})
}}

Other pages in the guide (below the parent) should include the title of the parent page before the title of the current page e.g.

{{ onsCodeHighlight({ "code": '<h1 class="u-mb-l">
  <span class="u-fs-m u-db u-mb-xs u-lighter">About the census</span>
  <span class="u-vh">:</span>
  <span class="u-fs-xxl u-db">Why you should take part in the census</span>
</h1>'}) }}

{{
    patternlibExample({"path": "patterns/guide/examples/guide/index.njk"})
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/1401",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1401",
        "linkText": "Discuss 'Guide' on GitHub"
    })
}}
