---
title: Addresses
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

{{
    patternlibExample({"path": "components/autosuggest/examples/autosuggest-address/index.njk"})
}}
## When to use this pattern

This pattern should be used when you need to collect an address from a user.

## How to use this pattern

The manual address input wraps itself within a [fieldset](/components/fieldset) and legend.

{{
    patternlibExample({"path": "components/address-input/examples/address-input/index.njk"})
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/1387",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1387",
        "linkText": "Discuss 'Addresses' on GitHub"
    })
}}
