---
title: Addresses
group: Ask users for...
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    patternlibExample({"path": "components/autosuggest/examples/autosuggest-address/index.njk"})
}}
## When to use this pattern

This pattern should be used when you need to collect an address from a user.

## How to use this pattern

The manual address input wraps itself within a [fieldset](/components/fieldset) and legend.

{{
    patternlibExample({"path": "components/address/examples/address/index.njk"})
}}

## Research on this pattern

{% call onsPanel() %}
   If you have conducted any user research using this pattern, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/412" target="_blank" rel="noopener" class="icon--external-link">Design System forum</a>
{% endcall %}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/412" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Addresses' on GitHub</a>
