---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "poweredBy": {
            "logo": 'nisra-logo-black-en',
            "alt": 'NISRA - Northern Ireland Statistics and Research Agency'
        },
        "crest": true,
        "cols": [
            {
                "title": 'Get in touch',
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Media enquiries',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Working on the census',
                "itemsList": [
                    {
                        "text": 'Get involved',
                        "url": '#0'
                    },
                    {
                        "text": 'Jobs',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'About the census',
                "itemsList": [
                    {
                        "text": 'What is the census',
                        "url": '#0'
                    },
                    {
                        "text": 'Why you should take part',
                        "url": '#0'
                    }
                ]
            }
        ],
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility statement',
                        "url": '#0'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#0'
                    }
                ]
            }
        ]
    })
}}
