.ons-fieldset {
  &__legend {
    margin: 0 0 0.6rem;
  }

  &__description:not(&__description--title) {
    @extend .ons-label__description;
  }

  &__description--title {
    font-weight: normal;
  }

  > * .ons-fieldset {
    .ons-fieldset {
      &__legend {
        font-weight: normal;
      }
    }
  }
}
