.ons-fieldset {
    &__legend {
        font-weight: $font-weight-bold;
        margin: 0;
        &:not(&--with-description) {
            @extend .ons-u-mb-2xs;
        }
        &-title {
            display: block;
            margin: 0;
            padding: 0 0 1.5rem;

            strong {
                @extend .ons-highlight;
            }
        }
    }

    &__description:not(&__description--title) {
        @extend .ons-label__description;

        @extend .ons-u-mb-2xs;
    }

    &__description--title {
        font-weight: $font-weight-regular;
    }

    > * .ons-fieldset {
        .ons-fieldset {
            &__legend {
                font-weight: $font-weight-regular;
            }
        }
    }
}
