{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}

{% macro onsAddressInput(params) %}
   {% set fields %}
    <div id="address" class="field address-input js-address-autosuggest address-input--search">
            <div class="js-address-input__manual u-db-no-js_enabled">
                {% if params.organisation.label %}
                    {{
                        onsInput({
                            "id": params.id + "-organisation",
                            "label": {
                                "text": params.organisation.label
                            },
                            "classes": "input--w-20@m js-address-organisation",
                            "name": params.id + "-organisation"
                        })
                    }}
                {% endif %}
                {{
                    onsInput({
                        "id": params.id + "-line-1",
                        "label": {
                            "text": params.line1.label
                        },
                        "classes": "input--w-20@m js-address-line-1",
                        "name": params.id + "-line-1",
                        "error": params.line1.error
                    })
                }}
                {{
                    onsInput({
                        "id": params.id + "-line-2",
                        "label": {
                            "text": params.line2.label
                        },
                        "classes": "input--w-20@m js-address-line-2",
                        "name": params.id + "-line-2"
                    })
                }}
                {{
                    onsInput({
                        "id": params.id + "-town",
                        "label": {
                            "text": params.town.label
                        },
                        "classes": "js-address-town",
                        "name": params.id + "-town"
                    })
                }}
                {{
                    onsInput({
                        "id": params.id + "-postcode",
                        "label": {
                            "text": params.postcode.label
                        },
                        "classes": "input--w-5 js-address-postcode",
                        "name": params.id + "-postcode"
                    })
                }}
                <div class="u-mt-s">
                    <a href="#" class="btn--link js-address-search-btn u-db-no-js_disabled">{{ params.searchButton }}</a>
                </div>
            </div>

            <div class="js-address-input__search u-db-no-js_disabled">
                {{
                    onsInput({
                        "id": params.id + "-autosuggest",
                        "classes": "address-input__autosuggest js-autosuggest-input input--w-50",
                        "label": {
                            "text": params.autosuggest.label.text,
                            "description": params.autosuggest.label.description
                        },
                        "autosuggest": {
                            "externalInitialiser": true,
                            "APIDomain": params.autosuggest.APIDomain,
                            "instructions": params.autosuggest.instructions,
                            "autocomplete": params.autosuggest.autocomplete,
                            "isEditable": params.autosuggest.isEditable,
                            "ariaYouHaveSelected": params.autosuggest.ariaYouHaveSelected,
                            "ariaMinChars": params.autosuggest.ariaMinChars,
                            "ariaOneResult": params.autosuggest.ariaOneResult,
                            "ariaNResults": params.autosuggest.ariaNResults,
                            "ariaLimitedResults": params.autosuggest.ariaLimitedResults,
                            "moreResults": params.autosuggest.moreResults,
                            "resultsTitle": params.autosuggest.resultsTitle,
                            "noResults": params.autosuggest.noResults,
                            "typeMore": params.autosuggest.typeMore,
                            "errorTitle": params.autosuggest.errorTitle,
                            "errorMessage": params.autosuggest.errorMessage,
                            "errorMessageAPI": params.autosuggest.errorMessageAPI,
                            "errorMessageAPILinkText": params.autosuggest.errorMessageAPILinkText
                        }
                    })
                }}
                <a href="#" class="btn--link js-address-manual-btn">{{ params.manualButton }}</a>
            </div>
        </div>
    {% endset %}

    {% if params.dontWrap %}
        {{ fields | safe }}
    {% else %}
        {% call onsFieldset({
            "id": params.id,
            "classes": params.classes,
            "legend": params.legend,
            "legendClasses": params.legendClasses
        }) %}
            {{ fields | safe }}
        {% endcall %}
    {% endif %}
{% endmacro %}
