$breadcrumb-chevron-height: 0.65rem;

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0;
    white-space: nowrap; /* stop items from wrapping, break on chevron only */

    @include mq(xs, s) {
      &:not(:nth-last-child(2)) {
        display: none;
      }

      &:before {
        @include icon('chevron-left', $breadcrumb-chevron-height, $breadcrumb-chevron-height);

        content: '';
        margin: 0 0.2rem 0 0;
        vertical-align: middle;
      }
    }

    @include mq(s) {
      &:not(:last-child):after {
        @include icon('chevron-right', $breadcrumb-chevron-height, $breadcrumb-chevron-height);

        content: '';
        margin: 0 0.4rem;
        vertical-align: middle;
      }
    }

    &--current {
      color: $color-text-light;
    }
  }

  &__link {
    text-decoration: none;
  }
}
