$breadcrumb-chevron-height: 0.65rem;

.breadcrumb {
  display: flex;
  align-items: center;
  padding-top: 1rem;

  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0;
    white-space: nowrap; // Stop items from wrapping, break on chevron only

    &:not(:nth-last-child(1)) {
      //small screen not last child
      display: none;
    }

    .svg-icon {
      margin: 0 0.2rem 0;
      width: $breadcrumb-chevron-height;
      height: $breadcrumb-chevron-height;
      vertical-align: middle;
    }

    &:nth-last-child(1) {
      // small screen last child
      direction: rtl;
      .svg-icon {
        transform: rotate(180deg);
        margin-left: -0.13rem;
      }
    }

    @include mq(s) {
      //big screen
      &:not(:nth-last-child(1)) {
        //not last child
        display: inline-block;
      }

      &:nth-last-child(1) {
        // last child
        direction: ltr;
        .svg-icon {
          display: none;
        }
      }

      &:first-child:nth-last-child(1) {
        //first and last child
        direction: rtl;
        .svg-icon {
          display: inline-block;
          vertical-align: middle;
        }
      }

      &:not(:last-child).svg-icon {
        //not last child
        margin: 0;

        // We have to override the icon settings so it renders correctly in ie11
        background-position: center center;
        vertical-align: middle;
      }
    }
  }

  &__link {
    color: $color-text;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
