$breadcrumb-chevron-height: 0.65rem;

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0;
    white-space: nowrap; // Stop items from wrapping, break on chevron only

    &:not(:nth-last-child(1)) {
      display: none;
    }

    &:before {
      @include icon('chevron-left', $breadcrumb-chevron-height, $breadcrumb-chevron-height);
      content: '';
      margin: 0 0.2rem 0 0;
      vertical-align: middle;
    }

    @include mq(s) {
      &:before {
        content: none;
      }

      &:not(:nth-last-child(1)) {
        display: inline-block;
      }

      &:not(:last-child):after {
        @include icon('chevron-right', $breadcrumb-chevron-height, $breadcrumb-chevron-height);
        content: '';
        margin: 0;
        width: 1.25rem;

        // We have to override the icon settings so it renders correctly in ie11
        background-position: center center;
        vertical-align: middle;
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}
