---
title: Breadcrumbs
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}

A breadcrumb trail consists of a list of links to the parent pages of the current page in hierarchical order. It helps users find their place within a website or web application. This should be placed before a page’s main content.

{{
    patternlibExample({"path": "components/breadcrumb/examples/breadcrumb/index.njk"})
}}

## When to use this component
Use the breadcrumbs component when you need to help users understand and move between the multiple levels of a website.

## When not to use this component
Don’t use the breadcrumbs component on websites with a flat structure, or to show progress through a linear journey or transaction.

If you’re using other navigational elements on the page, such as a sidebar, consider whether your users need the additional support of breadcrumbs.

## How it works
{{
    onsList({
        "itemsList": [
            {
                "text": 'The set of links is structured using an <strong>ordered</strong> list to provide semantic structure'
            },
            {
                "text": 'A <code>nav</code> element labeled <code>Breadcrumb</code> identifies the structure as a breadcrumb trail and makes it a navigation landmark so that it is easy to locate'
            },
            {
                "text": 'To prevent screen reader announcing the visual separators between links, they are added via CSS'
            },
            {
                "text": 'The separators are part of the visual presentation that signifies the breadcrumb trail. This is already semantically represented by the <code>nav</code> element with its <code>aria-label</code> of Breadcrumb. Therefore using a display technique that is not used by screen readers prevents redundant and potentially distracting verbosity'
            }
        ]
    })
}}

## Variants

### Single breadcrumb

When the component only has a single breadcrumb it will display like this.

{{
    patternlibExample({"path": "components/breadcrumb/examples/breadcrumb-single/index.njk"})
}}

## Research on this component
Based uppon [W3 principles](https://w3c.github.io/aria-practices/examples/breadcrumb/index.html)

{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
    <p>If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/43" target="_blank" rel="noopener" class="icon--external-link">Design System forum</a></p>
{% endcall %}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/43" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Breadcrumbs' on GitHub</a>
