.label {
  display: block;
  margin-bottom: 0.4rem;
  color: inherit;
  font-weight: $font-weight-bold;

  &__description {
    @extend .u-fs-s;
    display: inline-block;
    margin-top: 6px;
    line-height: 1.4;
  }

  &--with-description {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &--placeholder {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 1rem;
    font-weight: $font-weight-regular;
  }
}
