.label {
  color: inherit;
  display: block;
  font-weight: $font-weight-bold;
  margin-bottom: 0.4rem;

  &__description {
    @extend .u-fs-s;

    display: block;
    line-height: 1.4;
  }

  &--with-description {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &--placeholder {
    font-size: 1rem;
    font-weight: $font-weight-regular;
    left: 8px;
    position: absolute;
    top: -3px;
  }

  &--white {
    color: $color-white;
  }

  .svg-icon {
    vertical-align: middle;
  }
}
