.label {
  display: block;
  margin-bottom: 0.4rem;
  color: inherit;
  font-weight: 600;

  &__description {
    @extend .u-fs-s;
    display: inline-block;
    line-height: 1.4;
  }

  &--placeholder {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 1rem;
    font-weight: normal;
  }
}
