---
title: Label
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

## When to use this component
Labels are paired with [inputs](/components/input), [textareas](/components/textarea), [radios](/components/radios), [checkboxes](/components/checkboxes), and [selects](/components/select) to describe a form input.

{{
    patternlibExample({"path": "components/label/examples/label/index.njk"})
}}

## How to use this component
Generally speaking you should not need to implement a label yourself as the form inputs have them imported in their respective templates.

All [input](/components/input) and [textarea](/components/textarea) components must have a visible label.

Do:
{{
    onsList({
        "itemsList": [
            {
                "text": 'make sure the label is short, direct and written in sentence case'
            },
            {
                "text": 'left-align the label above the input'
            }
        ]
    })
}}

Do not:
{{
    onsList({
        "itemsList": [
            {
                "text": 'use placeholder text to display a label because it will not be visible when the user clicks on the input'
            },
            {
                "text": 'place a colon at the end of the label'
            }
        ]
    })
}}

## Variants
### With description
Use the optional `label__description` to show hint text to help the majority of users, like how to enter their information, where to find it, or how it will be used.
{{
    patternlibExample({"path": "components/label/examples/label-description/index.njk"})
}}

### To label checkboxes or radios
Labels and descriptions are also used to label radios and checkboxes.
To use it for radios or checkboxes `inputType` needs to be set to `radio` or `checkbox` which will style the component correctly, otherwise it will default to be styled as above for a text input.
{{
    patternlibExample({"path": "components/radios/examples/radios-descriptions/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/40",
        "linkText": "Discuss the ‘Label’ component on GitHub"
    })
}}
