{% from "components/field/_macro.njk" import onsField %}

{% set exclusiveClass = " js-exclusive-group" if params.mutuallyExclusive else "" %}

{% call onsField({
    "id": params.fieldId,
    "legend": params.label.text if params.mutuallyExclusive,
    "description": params.label.description if params.mutuallyExclusive,
    "mutuallyExclusive": params.mutuallyExclusive,
    "classes": params.fieldClases,
    "legendClasses": params.legendClasses,
    "questionMode": params.questionMode
}) %}
    {% if params.label and not params.mutuallyExclusive %}
        {% from "components/label/_macro.njk" import onsLabel %}
        {{
            onsLabel({
                "for": params.id,
                "text": params.label.text,
                "description": params.label.description,
                "classes": params.label.classes
            })
        }}
    {% endif %}
    <select
        id="{{ params.id }}"
        name="{{ params.name }}" 
        class="input input--select {{ params.classes }}{{ exclusiveClass }}"
        {% if params.value %} value="{{ params.value}}" {% endif %}
        {% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
        {% for option in params.options %}
        <option value="{{ option.value | default(option.text) }}"
            {% if option.selected %} selected {% endif %}
            {% if option.disabled %} disabled {% endif %}
            {% for attribute, value in option.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>   
            {{ option.text }}
        </option>   
        {% endfor %}
    </select>
{% endcall %}
