{% from "components/select/_macro.njk" import onsSelect %}
{{
    onsSelect({
        "id": "select-example-with-inline-label",
        "name": "select",
        "classes": "ons-u-wa--@2xs",
        "label": {
            "text": "Sort by",
            "inline": true
        },
        "options": [
            {
                "value": "best-match",
                "text": "Best match",
                "selected": true
            },
            {
                "value": "latest",
                "text": "Latest"
            }
        ]
    })
}}
