---
"fullWidth": true
---
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'Design system',
        "logoHref": '#0',
        "mobileLogo": 'ons-logo-stacked-en',
        "titleLogoHref": '#0',
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "ariaListLabel": 'Navigation menu',
            "currentPath": '#design-system',
            "currentPageTitle": 'Design system',
            "itemsList": [
                {
                    "title": 'Service standard',
                    "url": '#0'
                },
                {
                    "title": 'Design system',
                    "url": '#design-system'
                },
                {
                    "title": 'Accessibility',
                    "url": '#0'
                },
                {
                    "title": 'Brand guidelines',
                    "url": '#0'
                },
                {
                    "title": 'Content style guide',
                    "url": '#0'
                }
            ],
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle main menu'
            },
            "subNavigation": {
                "id": 'sub-nav',
                "overviewURL": '#0',
                "overviewText": 'Overview',
                "ariaLabel": 'Section menu',
                "ariaListLabel": 'Navigation menu',
                "currentPath": '#guidance',
                "itemsList": [
                    {
                        "title": 'Guidance',
                        "url": '#guidance',
                        "children": [
                            {
                                "title": 'Browser testing',
                                "url": '#guidance'
                            },
                            {
                                "title": 'Install with npm',
                                "url": '#0'
                            },
                            {
                                "title": 'Prototyping in Sketch',
                                "url": '#0'
                            },
                            {
                                "title": 'Exporting SVGs',
                                "url": '#0'
                            },
                            {
                                "title": 'Using the CSS, JS and assets',
                                "url": '#0'
                            },
                            {
                                "title": 'Using Nunjucks',
                                "url": '#0'
                            },
                            {
                                "title": 'Compiled HTML',
                                "url": '#0'
                            }
                        ]
                    },
                    {
                        "title": 'Foundations',
                        "url": '#0'
                    },
                    {
                        "title": 'Components',
                        "url": '#0'
                    },
                    {
                        "title": 'Patterns',
                        "url": '#0'
                    }
                ]
            }
        }
    })
}}
