{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/duration/_macro.njk" import onsDuration %}

{% call onsQuestion({
    "title": "How long did it take you complete this survey?",
    "legendIsPageTitle": true
}) %}
    {{ onsDuration({
        "id": "address-duration",
        "dontWrap": true,
        "error": {
            "text": "Enter a number that is less that 60",
            "id": "duration-error"
        },
        "field1": {
            "id": "address-duration-hours",
            "name": "address-duration-hours",
            "label": "Hours",
            "value": "2"
        },
        "field2": {
            "id": "address-duration-minutes",
            "name": "address-duration-minutes",
            "label": "Minutes",
            "value": "60",
            "error": true
        }
    }) }}
{% endcall %}
