.list {
  margin: 0;
  padding: 0 0 0 1.5rem;

  &__item {
    &:last-child {
      margin: 0;
    }
  }

  &--bare {
    padding-left: 0;
    list-style: none;
  }

  &--dashed {
    @extend .list--bare;
    .list__item {
      position: relative;
      margin-left: 25px;
      &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        margin-left: -25px;
        width: 15px;
        border-top: 1px solid $color-black;
      }
    }
  }

  &__prefix {
    @extend .list--bare;
    float: left;
    margin: 0 0.5rem 0 0;
    font-family: $font-sans-mono;
  }

  &__link {
    display: inline-block;
    margin-right: 1rem;
    overflow: hidden;
    vertical-align: top;
    white-space: normal;
  }

  &--icons {
    margin-bottom: -0.5rem !important;
    .list__item {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem !important;
    }
  }
}

@include bp-suffix('list--inline') {
  &:not(.list--icons) {
    margin: 0 1rem;
    .list__item {
      display: inline-block;
      margin: 0 1rem;
      vertical-align: top;
    }
  }

  &.list--icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
