.list {
  margin: 0 0 1rem;
  padding: 0 0 0 1.5rem;

  &__item {
    &:last-child {
      margin: 0;
    }
  }

  &--bare {
    padding-left: 0;
    list-style: none;
  }

  &--spacious {
    .list__item {
      margin: 0 0 1.5rem;
    }
  }

  &--dashed {
    @extend .list--bare;
    .list__item {
      position: relative;
      margin-left: 25px;
      &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        margin-left: -25px;
        width: 15px;
        border-top: 1px solid $color-black;
      }
    }
  }

  &__prefix {
    @extend .list--bare;
    float: left;
    margin: 0 0.5rem 0 0;
    font-family: $font-sans-mono;
  }

  &__link {
    display: inline-block;
    margin-right: 1rem;
    overflow: hidden;
    vertical-align: top;
    white-space: normal;
  }
}

$list-inline-spacing: 2rem;

@include bp-suffix('list--inline') {
  margin: 0 $list-inline-spacing / -2;

  .list__item {
    display: inline-block;
    margin: 0 $list-inline-spacing / 2;
    vertical-align: top;
  }
}
