{% macro onsList(params) %}
    {% if params.element is defined %}
        {% set listEl = params.element | lower %}
    {% else %}
        {% set listEl = 'ul' %}
    {% endif %}

    <{{listEl}} {% if params.id is defined %}id="{{ params.id }}"{% endif %} class="list {{ params.classes }}">
        {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) %}
            <li class="list__item {{ item.listclass }}" {% if item.current is defined %}aria-current="true"{% endif %}>
                {% if item.url is defined and item.current != true %}
                    {% if item.index is defined or item.prefix is defined %}
                        <span class="list__prefix" aria-hidden="true">
                        {% if item.prefix is defined %}
                            {{- item.prefix -}}
                        {% elif item.index is defined %}
                            {{- loop.index -}}
                        {% endif %}. </span>
                    {% endif %}
                    <a href="{{ item.url }}" class="list__link {{ item.classes }}" {% if item.index is defined %}data-qa="list-item-{{ loop.index }}"{% endif %} {% if item.target is defined %} target="{{ item.target }}"{% endif %} {% if item.name is defined %} name="{{ item.name }}"{% endif %}>
                        {% if item.prefix is defined %}<span class="u-vh">{{- item.prefix -}}</span>{% endif %} {{- item.text | safe -}}
                    </a>
                {%- else -%}
                    {{- item.text | safe -}}
                {%- endif -%}
            </li>
        {%- endfor -%}
    </{{listEl}}>
{% endmacro %}
