{% macro onsList(params) %}
  {% if params.element %}
      {% set listEl = params.element | lower %}
  {% else %}
      {% set listEl = 'ul' %}
  {% endif %}

  <{{listEl}} {% if params.id %}id="{{ params.id }}"{% endif %} class="list {{ params.classes }}">
      {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) %}
          <li class="list__item {{ item.listclass }}">
              {% if item.url %}
                  {% if item.index %}{{ loop.index }}) {% endif %} <a href="{{ item.url }}"{% if item.classes %} class="{{ item.classes }}"{% endif %}{% if item.target %} target="{{ item.target }}"{% endif %}>
                      {{ item.text | safe }}
                  </a>
              {% else %}
                  {{ item.text | safe }}
              {% endif %}
          </li>
      {% endfor %}
  </{{listEl}}>
{% endmacro %}
