---
title: 'Example: Send a web form'
layout: ~
---

{% extends "layout/_template.njk" %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{%
    set pageConfig = {
        "header": {
            "title": 'Service name'
        },
        "breadcrumbs": {
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": '#0',
                    "id": 'back-link-for-web-form',
                    "text": 'Back'
                }
            ]
        },
        "footer": {}
    }
%}
{% block main %}
    <h1 class="ons-u-fs-xxl ons-u-mt-l">Web form</h1>

    {{
        onsRadios({
            "legend": 'What do you need help with?',
            "name": 'webform-help',
            "radios": [
                {
                    "id": 'change-contact-details-example-form',
                    "label": {
                        "text": 'I need to change my contact details'
                    },
                    "value": 'change-contact-details'
                },
                {
                    "id": 'help-with-my-survey-example-form',
                    "label": {
                        "text": 'I need help with my survey'
                    },
                    "value": 'help-with-my-survey'
                },
                {
                    "id": 'complaint-example-form',
                    "label": {
                        "text": 'I want to make a complaint'
                    },
                    "value": 'complaint'
                },
                {
                    "id": 'technical-difficulties-example-form',
                    "label": {
                        "text": 'I am having technical difficulties'
                    },
                    "value": 'technical-difficulties'
                },
                {
                    "id": 'change-password-example-form',
                    "label": {
                        "text": 'I need to change my password'
                    },
                    "value": 'change-password'
                },
                {
                    "id": 'something-else-example-form',
                    "label": {
                        "text": 'Something else'
                    },
                    "value": 'something-else'
                }
            ]
        })
    }}

    {{
        onsTextarea({
            "id": 'webform-detail-example-form',
            "name": 'webform-detail',
            "label": {
                "text": 'Please provide more detail'
            },
            "charCheckLimit": {
                "limit": 2000,
                "charCountSingular": 'You have {x} character remaining',
                "charCountPlural": 'You have {x} characters remaining'
            }
        })
    }}

    <h2 class="ons-u-mt-m">Your contact details</h2>

    {{
        onsInput({
            "width": '30',
            "id": 'webform-name-example-form',
            "name": 'webform-name',
            "label": {
                "text": 'Name'
            }
        })
    }}

    {{
        onsInput({
            "width": '30',
            "id": 'webform-email-example-form',
            "name": 'webform-email',
            "type": 'email',
            "autocomplete": 'email',
            "label": {
                "text": 'Email address',
                "description": 'We will only use this to send you a reply'
            }
        })
    }}

    {{
        onsButton({
            "classes": 'ons-u-mb-m ons-u-mt-l',
            "text": 'Send message'
        })
    }}

    <p class="ons-u-fs-s">
        Information about what we do with your personal data is available in our <a href="#0">privacy and data protection statement</a>.
    </p>
{% endblock %}
