---
title: Durations
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

## When to use this pattern

This pattern should be used when you need to collect a duration from a user such as asking how long someone has lived at an address.

## How to use this pattern

Duration inputs can be created by using the duration component. For example:

{{
    patternlibExample({"path": "components/duration/examples/duration-address/index.njk"})
}}

{{
    patternlibExample({"path": "components/duration/examples/duration-time/index.njk"})
}}

###Errors

Errors work slightly differently for durations from regualar input fields.
The error object needs to be passed in as a param to the durations component just as in input fields
but also because there is two independent fields the error param for that specific field needs to be set to true.

{{
    patternlibExample({"path": "components/duration/examples/duration-error/index.njk"})
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/19",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/19",
        "linkText": "Discuss 'Durations' on GitHub"
    })
}}
