---
title: Durations
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}

## When to use this pattern

This pattern should be used when you need to collect a duration from a user such as asking how long someone has lived at an address.

## How to use this pattern

Duration inputs can be created by using the duration component. For example:

{{
    patternlibExample({"path": "components/duration/examples/duration-address/index.njk"})
}}

{{
    patternlibExample({"path": "components/duration/examples/duration-time/index.njk"})
}}

## Research on this pattern

{% call onsPanel() %}
   If you have conducted any user research using this pattern, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/19" target="_blank">Design System forum</a>.
{% endcall %}

## Design System forum

[Discuss 'Durations' on Github](https://github.com/ONSdigital/design-system/issues/19)
