{%- from "components/field/src/_macro.njk" import onsField -%}

{% call onsField({
    "legend": params.label.text if params.mutuallyExclusive,
    "description": params.label.description if params.mutuallyExclusive,
    "mutuallyExclusive": params.mutuallyExclusive
}) %}
    {% if params.mutuallyExclusive  %} 
        {% set textareaExlusiveClass = " js-exclusive-group" %}
    {% else %}
        {%- from "components/label/src/_macro.njk" import onsLabel -%}
        {{-
            onsLabel({
                "for": params.id,
                "text": params.label.text,
                "description": params.label.description,
                "classes": params.label.classes
            })
        -}}
    {% endif %}
    <textarea
        id="{{ params.id }}"
        class="input input--textarea {%- if params.maxlength %} js-charlimit-input{%- endif %}{{ textareaExlusiveClass }} {{ params.classes }}"
        name="{{ params.name }}"
        cols="{{ params.cols | default(60) }}"
        rows="{{ params.rows | default(8) }}"
        {% if params.maxlength -%}
        maxlength="{{ params.maxlength }}"
        data-char-limit-ref="{{ params.id }}-lim-remaining"
        {%- endif %}
        {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{%- endfor -%}></textarea>
    {%- if params.maxlength -%}
        <div
            id="{{ params.id }}-lim-remaining"
            class="input__limit u-mt-xs u-fs-s--b"
            aria-live="polite"
            data-charcount-singular="{{ params.charCountSingular }}"
            data-charcount-plural="{{ params.charCountPlural }}">
        </div>
    {%- endif -%}
{% endcall %}
