{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Summary - Section Title",
        "items": [
            {
                "title": "Please enter test values",
                "questions": [
                    {
                        "question": "Currency test",
                        "answer": "£1,000.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    },
                    {
                        "question": "Question with textarea",
                        "answer": "This is textarea output with a longer piece of text to demonstrate how it appears on the summary page.",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    },
                    {
                        "question": "Decimal test to 2 decimal places",
                        "answer": "11.33",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            }
        ]
    })
}}
