{% from "components/input/_macro.njk" import onsInput %}
{{ 
    onsInput({
        "id": "number",
        "type": "number",
        "attributes": {
            "min": 0
        },
        "label": {
            "text": "Enter a number"
        }
    }) 
}}
