{% macro onsSummary(params) %}
    {% set className = "ons-summary" %}
    {% set titleSize = "2" %}

    {% if params.classes %}
         {% set className = className + " " + params.classes %}
    {% endif %}

    {% if params.hub %}
        {% set className = className + " ons-summary--hub" %}
    {% endif %}
    <div class="{{ className }}">
        {% for summary in params.summaries %}
            {% if summary.summaryTitle %}
                <h2 class="ons-summary__title ons-u-mb-m">{{ summary.summaryTitle }}</h2>
                {% set titleSize = "3" %}
            {% endif %}
            {% for group in summary.groups %}
                <div {% if group.id %}id="{{ group.id }}" {% endif %} class="ons-summary__group">
                    {% if group.groupTitle %}
                        <h{{ titleSize }} class="ons-summary__group-title">{{ group.groupTitle }}</h{{ titleSize }}>
                    {% endif %}
                    {% if group.rows %}
                        <div class="ons-summary__items">

                            {% for row in (group.rows if group.rows is iterable else group.rows.items()) %}
                                {% set itemClass = "" %}
                                {% if row.error %} {% set itemClass = " ons-summary__item--error" %}{% endif %}
                                {% if row.total %} {% set itemClass = itemClass + " ons-summary__item--total" %}{% endif %}

                                <div {% if row.id %}id="{{ row.id }}" {% endif %}class="ons-summary__item{{ itemClass }}">
                                    {% if row.errorMessage %}
                                        <div class="ons-summary__row-title--error ons-u-fs-r">{{ row.errorMessage }}</div>
                                    {% endif %}
                                    {% if row.rowItems | length > 1 and row.rowTitle %}
                                        <div class="ons-summary__row-title ons-summary__row-title--no-group-title ons-u-fs-r">{{ row.rowTitle }}</div>
                                    {% endif %}

                                    {% for rowItem in row.rowItems %}
                                        <dl class="ons-summary__row{{ " ons-summary__row--has-values" if rowItem.valueList else "" }}"{% if rowItem.id %} id="{{ rowItem.id }}"{% endif %}>
                                            <dt class="ons-summary__item-title"
                                                {% if rowItem.rowTitleAttributes %}{% for attribute, value in (rowItem.rowTitleAttributes.items() if rowItem.rowTitleAttributes is mapping and rowItem.rowTitleAttributes.items else rowItem.rowTitleAttributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}
                                            >
                                                {% if rowItem.iconType %}
                                                    {% from "components/icons/_macro.njk" import onsIcon %}
                                                    <span class="ons-summary__item-title-icon{% if rowItem.iconType == 'check' %} ons-summary__item-title-icon--check{% endif %}">
                                                        {{
                                                            onsIcon({
                                                                "iconType": rowItem.iconType
                                                            })
                                                        }}
                                                    </span>
                                                {% endif %}

                                                <div class="ons-summary__item--text{{ ' ons-summary__item-title--text' if rowItem.iconType else "" }}">
                                                    {{- rowItem.rowTitle | default(row.rowTitle) | safe -}}
                                                </div>

                                                {# Render section status for mobile if is hub #}
                                                {% if params.hub and rowItem.valueList %}
                                                    <span class="ons-u-d-no@m ons-u-fs-r"> — {{ rowItem.valueList[0].text | safe }}</span>
                                                {% endif %}
                                            </dt>
                                            {% if rowItem.valueList %}
                                                <dd
                                                    class="ons-summary__values{% if not rowItem.actions %} ons-summary__values--2{% endif %}"
                                                    {% if rowItem.attributes %}{% for attribute, value in (rowItem.attributes.items() if rowItem.attributes is mapping and rowItem.attributes.items else rowItem.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}
                                                >
                                                    {% if rowItem.valueList | length == 1 %}
                                                        <span class="ons-summary__text">{{ rowItem.valueList[0].text | safe }}</span>
                                                        {% if rowItem.valueList[0].other or rowItem.valueList[0].other == 0 %}
                                                            <ul class="ons-u-mb-no">
                                                                <li>{{ rowItem.valueList[0].other | safe }}</li>
                                                            </ul>
                                                        {% endif %}
                                                    {% else %}
                                                        <ul class="ons-u-mb-no">
                                                            {% for value in (rowItem.valueList if rowItem.valueList is iterable else rowItem.valueList.items()) %}
                                                                <li>
                                                                    <span class="ons-summary__text">{{ value.text | safe }}</span>
                                                                    {% if value.other or value.other == 0 %}
                                                                        <ul class="ons-u-mb-no">
                                                                            <li>{{ value.other | safe }}</li>
                                                                        </ul>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </dd>
                                            {% endif %}
                                            {% if rowItem.actions %}
                                                <dd class="ons-summary__actions">
                                                    {% for action in (rowItem.actions if rowItem.actions is iterable else rowItem.actions.items()) %}
                                                        {% if loop.index > 1 %}<span class="ons-summary__spacer"></span>{% endif %}
                                                        <a
                                                            href="{{ action.url }}"
                                                            class="ons-summary__button"
                                                            {% if action.ariaLabel %} aria-label="{{ action.ariaLabel }}"{% endif %}
                                                            {% if action.attributes %}{% for attribute, value in (action.attributes.items() if action.attributes is mapping and action.attributes.items else action.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}
                                                        >{{ action.text }}</a>
                                                    {% endfor %}
                                                </dd>
                                            {% endif %}
                                        </dl>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% elif group.placeholderText %}
                        <span class="ons-summary__placeholder">{{ group.placeholderText }}</span>
                    {% endif %}

                    {% if group.summaryLink %}
                        <div class="ons-summary__link{% if group.placeholderText or group.rows %} ons-u-pt-s{% endif %}{% if group.placeholderText is not defined and group.rows | length > 1 %} ons-u-bt{% endif %}{% if not group.last %} ons-u-mb-xl{% endif %}">
                            <a {% if group.summaryLink.attributes %}{% for attribute, value in (group.summaryLink.attributes.items() if group.summaryLink.attributes is mapping and group.summaryLink.attributes.items else group.summaryLink.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %} href="{{ group.summaryLink.url }}">{{ group.summaryLink.text }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}
