$summary-col-spacing: 1rem;

.summary {
  &__items {
    margin-bottom: 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  &__row {
    margin-left: -$summary-col-spacing;
  }

  &__item-title,
  &__question,
  &__answer,
  &__action {
    border-bottom: 0;
    line-height: 1.4;
  }

  &__answer,
  &__action {
    padding-left: $summary-col-spacing;
  }

  &__answer {
    flex: 1 1 auto;
  }

  &__action {
    flex: 0 0 auto;
    align-self: flex-start;
  }

  &__item--error & {
    &__item-title,
    &__question,
    &__answer,
    &__action {
      background: $color-errors-tint;
    }

    &__item-title {
      padding-right: $summary-col-spacing;
      padding-left: $summary-col-spacing;
      color: $color-errors;
      font-weight: bold;
    }

    &__question {
      padding-left: $summary-col-spacing;
    }

    &__action {
      padding-right: $summary-col-spacing;
    }
  }

  &__item--total & {
    &__question,
    &__answer {
      @extend .u-fs-m;
    }
  }

  @include mq(xs, m, $to-operator: '<') {
    &__items,
    &__item,
    &__item-title,
    &__question,
    &__answer,
    &__action {
      display: block;
    }

    &__item {
      padding: 0.5rem 0;
      border-top: 1px solid $color-grey-2;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
    }

    &__item-title,
    &__question {
      padding-left: $summary-col-spacing;
      width: 100%;
    }

    &__question,
    &__answer,
    &__action {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &__item--error {
      border-left: 8px solid $color-errors;
      background: $color-errors-tint;
    }

    &__item--error & {
      &__row {
        margin-left: 0;
      }

      &__question {
        padding-right: $summary-col-spacing;
      }

      &__answer {
        padding-left: $summary-col-spacing;
      }
    }

    &__item--total {
      border-top-width: 2px;
    }
  }

  @include mq(m) {
    &__item &__row:first-of-type > & {
      &__item-title,
      &__question,
      &__answer,
      &__action {
        border-top: 1px solid $color-grey-2;
      }
    }

    &__question,
    &__answer,
    &__action {
      vertical-align: top;
    }

    &__question:not([colspan]) {
      padding-right: $summary-col-spacing;
    }

    &__answer {
      width: 50%;
    }

    &__action {
      text-align: right;
    }

    &__item--error & {
      &__item-title,
      &__question {
        border-left: 8px solid $color-errors;
      }
    }

    &__item--total &__row:first-of-type > & {
      &__item-title,
      &__question,
      &__answer,
      &__action {
        border-top-width: 2px;
      }
    }
  }

  @include mq(xs, 320px) {
    &__answer {
      display: block;
      padding-bottom: 0;
      width: 100%;

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}
