<div class="summary">
    {% if params.title %}
        <h2 class="u-fs-m">{{ params.title }}</h2>
    {% endif %}
    <table class="summary__items">
        {% for item in params.items %}
            {% set itemClass = "" %}
            {% if item.error %} {% set itemClass = " summary__item--error" %}{% endif %}
            {% if item.total %} {% set itemClass = itemClass + " summary__item--total" %}{% endif %}
            <tbody class="summary__item{{ itemClass }}">
                {% if item.title %}
                    <tr class="summary__row">
                        <th colspan="3" class="summary__item-title u-fs-r">{{ item.title }}</th>
                    </tr>
                {% endif %}
                {% for question in item.questions %}
                    <tr class="summary__row">
                        <td class="summary__question">{{ question.question }}</td>
                        <td {% if question.action == null %}colspan="2" {% endif %}class="summary__answer u-fs-r--b">{{ question.answer | safe }}</td>
                        {% if question.action %}
                            <td class="summary__action">
                                <a href="{{ question.action.url }}" class="summary__button"{% if question.action.ariaLabel %} aria-label="{{ question.action.ariaLabel }}"{% endif %}>{{ question.action.text }}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>
</div>
