{% from "components/summary/_macro.njk" import onsSummary %}

{{
    onsSummary({
        "variant": "hub",
        "summaries": [
                {
                    "groups": [
                        {
                        "rows": [
                            {
                                "title": "People who live here",
                                "items": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "visuallyHiddenText": "View answers for People who live here",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Accommodation",
                                "items": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "visuallyHiddenText": "View answers for Accommodation",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Mary Smith (You)",
                                "items": [
                                    {
                                        "iconType": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "visuallyHiddenText": "View answers for Mary Smith",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "John Smith",
                                "items": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Partially completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Continue with section",
                                                "visuallyHiddenText": "Continue with John Smith's section",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Billy Smith",
                                "items": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "visuallyHiddenText": "Start Billy Smith's section",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Sally Smith",
                                "items": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "visuallyHiddenText": "Start Sally Smith's section",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Wilhelmina Susannah Clementine-Smith (Visitor)",
                                "items": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "visuallyHiddenText": "Start Wilhelmina Susannah Clementine-Smith's section",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Vera Jones (Visitor)",
                                "items": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "visuallyHiddenText": "Start Vera Jones's section",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
