{% from "components/summary/_macro.njk" import onsSummary %}

<h1>Your answers</h1>

{{
    onsSummary({
        "summaries": [
            {
                "title": 'summary title',
                "groups": [
                    {
                        "id": 'group-id-1',
                        "title": 'group title',
                        "rows": [
                            {
                                "itemsList": [
                                    {
                                        "title": 'row item 1',
                                        "valueList": [
                                            {
                                                "text": 'list item 1'
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": 'Change',
                                                "visuallyHiddenText": 'change list item',
                                                "url": '#0'
                                            },
                                            {
                                                "text": 'Remove',
                                                "visuallyHiddenText": 'remove list item',
                                                "url": '#0'
                                            }
                                        ]
                                    },
                                    {
                                        "title": 'row item 2',
                                        "valueList": [
                                            {
                                                "text": 'list item 2'
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": 'Change',
                                                "visuallyHiddenText": 'change list item',
                                                "url": '#0'
                                            }
                                        ]
                                    },
                                    {
                                        "title": 'row item 3',
                                        "valueList": [
                                            {
                                                "text": 'list item 3'
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": 'Change',
                                                "visuallyHiddenText": 'change list item',
                                                "url": '#0'
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "itemsList": [
                                    {
                                        "title": 'row item 4'
                                    },
                                    {
                                        "title": 'row item 5',
                                        "actions": [
                                            {
                                                "text": 'Change',
                                                "visuallyHiddenText": 'change list item',
                                                "url": '#0'
                                            }
                                        ]
                                    },
                                    {
                                        "title": 'row item 6',
                                        "valueList": [
                                            {
                                                "text": 'list item 6'
                                            }
                                        ]
                                    },
                                    {
                                        "title": 'row item 7',
                                        "valueList": [
                                            {
                                                "text": 'list item 7'
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": 'Change',
                                                "visuallyHiddenText": 'change list item',
                                                "url": '#0'
                                            }
                                        ]
                                    }
                                ]
                            }
                        ],
                        "summaryLink": {
                            "text": 'Summary link',
                            "url": '#0'
                        }
                    }
                ]
            }
        ]
    })
}}
