{% from "components/summary/_macro.njk" import onsSummary %}

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "placeholderText": 'test',
                        "id": "turnover",
                        "groupTitle": "Turnover",
                        "rows": [
                            {
                                "id": "sales-dates-row",
                                "rowTitle": "What are the dates of the sales period you are reporting for?",
                                "rowItems": [
                                    {
                                    }
                                ]
                            },
                            {
                                "rowTitle": "For the period 1 January 2015 to 2 February 2017, what was the value of your total turnover, excluding VAT?",
                                "id": "sales-value-row",
                                "rowItems": [
                                    {
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "rowTitle": "Please indicate the reasons for any changes in the total turnover",
                                "rowItems": [
                                    {
                                    }
                                ]
                            },
                            {
                                "id": "sales-detail-row",
                                "rowTitle": "Please describe the changes in total turnover in more detail",
                                "rowItems": [
                                    {
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}

{% from "components/list/_macro.njk" import onsList %}
{% set listItemClasses = "ons-u-pt-s ons-u-pb-s ons-u-m-no ons-u-bb" %}
{% set lastlistItemClasses = "ons-u-pt-s ons-u-pb-s ons-u-m-no" %}
{{
    onsList({
        "variants": 'bare',
        "itemsList": [
            {
                "text": 'What are the dates of the sales period you are reporting for?',
                "listClasses": listItemClasses
            },
            {
                "text": 'For the period 1 January 2015 to 2 February 2017, what was the value of your total turnover, excluding VAT?',
                "listClasses": listItemClasses
            },
            {
                "text": 'Please indicate the reasons for any changes in the total turnover',
                "listClasses": lastlistItemClasses
            }
        ]
    })
}} 
