{% from "components/summary/_macro.njk" import onsSummary %}

{{ onsSummary({
    "hub": true,
    "summaries": [
            {
                "groups": [
                    {
                    "rows": [
                        {
                            "rowTitle": "People who live here",
                            "rowItems": [
                                {
                                    "iconType": "check",
                                    "valueList": [
                                        {
                                            "text": "Completed"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "View answers",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Accommodation",
                            "rowItems": [
                                {
                                    "iconType": "check",
                                    "valueList": [
                                        {
                                            "text": "Completed"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "View answers",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Mary Smith (You)",
                            "rowItems": [
                                {
                                    "iconType": "check",
                                    "valueList": [
                                        {
                                            "text": "Completed"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "View answers",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "John Smith",
                            "rowItems": [
                                {
                                    "valueList": [
                                        {
                                            "text": "Partially completed"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "Continue with section",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Billy Smith",
                            "rowItems": [
                                {
                                    "valueList": [
                                        {
                                            "text": "Not started"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "Start section",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Sally Smith",
                            "rowItems": [
                                {
                                    "valueList": [
                                        {
                                            "text": "Not started"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "Start section",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Wilhelmina Susannah Clementine-Smith (Visitor)",
                            "rowItems": [
                                {
                                    "valueList": [
                                        {
                                            "text": "Not started"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "Start section",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "rowTitle": "Vera Jones (Visitor)",
                            "rowItems": [
                                {
                                    "valueList": [
                                        {
                                            "text": "Not started"
                                        }
                                    ],
                                    "actions": [
                                        {
                                            "text": "Start section",
                                            "url": "#0"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}) }}
