{% from "components/summary/_macro.njk" import onsSummary %}

{{
    onsSummary({
        "summaries": [
            {
                "groups": [
                    {
                        "placeholderText": 'test',
                        "id": "turnover",
                        "title": "Turnover",
                        "rows": [
                            {
                                "id": "sales-dates-row",
                                "title": "What are the dates of the sales period you are reporting for?",
                                "itemsList": [
                                    {
                                        "id": "sales-dates",
                                        "valueList": [
                                            {
                                                "text": "1 January 2015 to 2 February 2017"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "For the period 1 January 2015 to 2 February 2017, what was the value of your total turnover, excluding VAT?",
                                "id": "sales-value-row",
                                "itemsList": [
                                    {
                                        "id": "sales-value",
                                        "valueList": [
                                            {
                                                "text": "£180,440"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-reasons-row",
                                "title": "Please indicate the reasons for any changes in the total turnover",
                                "itemsList": [
                                    {
                                        "id": "sales-reasons",
                                        "valueList": [
                                            {
                                                "text": "Change in level of business activity"
                                            },
                                            {
                                                "text": "Special/calendar events",
                                                "other": "Some other value"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "id": "sales-detail-row",
                                "title": "Please describe the changes in total turnover in more detail",
                                "itemsList": [
                                    {
                                        "id": "sales-detail",
                                        "valueList": [
                                            {
                                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Change",
                                                "visuallyHiddenText": "Change answer",
                                                "url": "#0"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
