---
title: Summary
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

A summary presents a clear summarised output of values to the user.
{{
    patternlibExample({"path": "components/summary/examples/summary/index.njk"})
}}

## When to use this component
Display a summary on a page after the user completes a section or full questionnaire, to let them [check and confirm their answers](/patterns/playback).

## How to use this component
The summary should provide users with a direct link back to the question(s) they have answered, allowing them to change their answer, then return to the summary to complete or continue their questionnaire.

The summary can contain multiple question and answer types, and will adapt it's layout depending on the length of the strings.

The component contains a `summaries` key  which can contain multiple summary `groups`. This allows for multipe summaries to be displayed. Each group in `groups` can have an optional `groupTitle` which provides a heading for the `rows` and renders a `h2`.
This provides flexibility to allow for simple and complex summaries to be created within one instance of the `onsSummary` macro.

### Accessibility
The summary component is made accessible by using the following `aria` attributes which are attached on `domready` via JavaScript:
{{
    onsTable({
        "ths": [
            {
                "value": "Element"
            },
            {
                "value": "ARIA attribute"
            },
            {
                "value": "Description"
            }
        ],
        "trs": [
            {
                "tds": [
                    {
                        "value": "<code>summary__button</code>"
                    },
                    {
                        "value": '<code>aria-label="{ariaLabel}"</code>'
                    },
                    {
                        "value": "Increases verbosity of the element's label"
                    }
                ]
            }
        ]
    })
}}

### Variants
#### Summary without action
A summary of an answer the user cannot directly change, due to it being automatically calculated.
{{
    patternlibExample({"path": "components/summary/examples/summary-no-action/index.njk"})
}}

#### Grouped
A summary of the answers to multiple questions in a section that are grouped.
In this sceanrio we can create another heading level for `groups` using the `summaryTitle` key which renders a `h2` and renders the `groupTitle` as a `h3`.

{{
    patternlibExample({"path": "components/summary/examples/summary-grouped/index.njk"})
}}

#### Multiple
A summary of multiple answers to a single question.

{{
    patternlibExample({"path": "components/summary/examples/summary-multiple/index.njk"})
}}

#### Validation across multiple pages
{{
    patternlibExample({"path": "components/summary/examples/summary-grouped-validation/index.njk"})
}}

#### Total
{{
    patternlibExample({"path": "components/summary/examples/summary-grouped-total/index.njk"})
}}

#### Household
{{
    patternlibExample({"path": "components/summary/examples/summary-household/index.njk"})
}}

#### Household no rows

If there are no rows returned the summary will render placholder text
{{
    patternlibExample({"path": "components/summary/examples/summary-household-no-rows/index.njk"})
}}

#### Hub
{{
    patternlibExample({"path": "components/summary/examples/hub/index.njk"})
}}

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/issues/84",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/84",
        "linkText": "Discuss 'Summary' on GitHub"
    })
}}
