---
title: Summary
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample({"path": "components/summary/examples/summary/index.njk"})
}}


## Variants
### Summary without action
{{
    patternlibExample({"path": "components/summary/examples/summary-no-action/index.njk"})
}}

### Grouped
{{
    patternlibExample({"path": "components/summary/examples/summary-grouped/index.njk"})
}}

### Multiple
{{
    patternlibExample({"path": "components/summary/examples/summary-multiple/index.njk"})
}}

### Multiple textarea
{{
    patternlibExample({"path": "components/summary/examples/summary-multiple-textarea/index.njk"})
}}

### Validation accross multiple pages
{{
    patternlibExample({"path": "components/summary/examples/summary-grouped-validation/index.njk"})
}}

### Total
{{
    patternlibExample({"path": "components/summary/examples/summary-grouped-total/index.njk"})
}}
