---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/address/_macro.njk" import onsManualAddressInput %}

{% set page = {
    "title": "Manual Address Input Example"
} %}
{% block main %}
    {% call onsQuestion({
        "title": "What is your address?",
        "useFieldset": true
    }) %}
        {{ onsManualAddressInput({
            "id": "address",
            "line1": {
                "label": "Building and street"
            },
            "line2": {
                "label": "Line 2"
            },
            "town": {
                "label": "Town or City"
            },
            "county": {
                "label": "County"
            },
            "postcode": {
                "label": "Postcode"
            }
        }) }}
    {% endcall %}
{% endblock %}
