.beta-bar {
  padding: 0.5rem 0;
  background: $color-lighter-grey;

  &__badge {
    margin: 0 0.5rem 0 0;
    padding: 0.4rem;

    font-size: 0.85rem;
    line-height: 1em;
    text-transform: uppercase;

    background: $color-almost-black;
    color: $color-white;
  }
}
