{% macro onsPhaseBanner(params) %}
    <div class="ons-phase-banner">
        <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
            <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-top ons-grid--no-wrap">
                {% if not params.hideBadge %}
                <div class="ons-grid__col ons-col-auto ons-u-flex-no-grow ons-u-flex-no-shrink">
                    <h3 class="ons-phase-banner__badge">{{ params.badge | default("Beta") }}</h3>
                </div>
                {% endif %}
                <div class="ons-grid__col ons-col-auto ons-u-flex-shrink">
                    <p class="ons-phase-banner__desc ons-u-fs-s ons-u-mb-no">{{ params.html | safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
