.ons-phase-banner {
  background: var(--ons-color-grey-5);
  padding: 0.5rem 0;

  &__badge {
    background: var(--ons-color-black);
    color: var(--ons-color-white);
    font-size: 0.85rem;
    line-height: 1em;
    margin: 0 0.5rem 0 0;
    outline: 2px solid transparent; // Add transparent outline because Windows High Contrast Mode doesn't show background
    padding: 0.4rem;
    text-transform: uppercase;
  }

  &__desc {
    margin-top: 0.3rem;
  }
}
