---
title: Phase banner
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

The Phase banner lets users know the service is new and still being worked on, and encourages the user to provide feedback to help improve it.

{{
    patternlibExample({"path": "components/phase-banner/examples/phase-banner-alpha/index.njk"})
}}

{{
    patternlibExample({"path": "components/phase-banner/examples/phase-banner-beta/index.njk"})
}}

## When to use this component
You must use the Phase banner when your service is in the alpha or beta phase and still being developed.

## How to use this component
The Phase banner must be placed directly above the ONS [header](/components/header) at the very top of the page.

### Feedback link
The feedback link should direct users to a form to collect page feedback on the service like the example in the [feedback](/patterns/feedback) pattern.

Ensure you always provide the user with a route back to the page they were on when they clicked the link.

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/8",
        "linkText": "Discuss the ‘Phase banner’ component on GitHub"
    })
}}
