{% from "components/address-output/_macro.njk" import onsAddressOutput %}
{{
    onsAddressOutput({
        "unit": 'Unit 5',
        "organisation": 'Trescos',
        "line1": 'Abingdon Road',
        "line2": 'Goathill',
        "town": 'Barry',
        "postcode": 'AB12 6UH'
    })
}}
