{% from "components/announcement-banner/_macro.njk" import onsAnnouncementBanner %}

{{
    onsAnnouncementBanner({
        "title": 'His Royal Highness Henry VIII',
        "description": '1491 to 1547',
        "link": {
            "text": 'Find out more',
            "url": '#0'
        }
    })
}}
