{% from "components/announcement-banner/_macro.njk" import onsAnnouncementBanner %}

{{
    onsAnnouncementBanner({
        "variant": 'teal',
        "title": 'This is a teal banner',
        "description": 'This is a description for the teal banner',
        "link": {
            "text": 'Find out more',
            "url": '#0'
        }
    })
}}
