---
title: Control cookies
group: Help users to...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{{ 
    onsPanel({
        "body": "This pattern requires documentation."
    }) 
}}

## Cookie banner
{{
    patternlibExample({ "path": "components/cookies-banner/examples/cookies-banner/index.njk" })
}}

## Cookie settings page
{{
    patternlibExample({ "path": "patterns/cookie-settings/examples/cookie-settings-page/index.njk" })
}}

## Design System forum 
[Discuss 'Control cookies' on GitHub](https://github.com/ONSdigital/design-system/issues/715)
