{%- macro onsFooterWarning(params) -%}
    {% from "components/panel/_macro.njk" import onsPanel %}
    <div class="footer-warning">
        <div class="container">
            <div class="grid">
                <div class="grid__col">
                    {% call onsPanel({
                            "type": "warn",
                            "classes": "panel--warn--footer"
                        })
                    %}
                        {{ params.pre }} <a href="{{ params.url }}">{{ params.link }}</a> {{ params.post }}
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
{%- endmacro -%}
