{% from "components/panel/src/_macro.njk" import onsPanel %}
{{
    onsPanel({
        title: "This page has 2 errors",
        type: "error",
        body: "<p class='mars'>These <strong>must be corrected</strong> to continue.</p>
                <ul class='list list--bare'>
                    <li class='list__item mars'>
                    1) <a class='js-inpagelink' href='#container-test-number'>Enter a number.</a>
                    </li>
                    <li class='list__item mars'>
                    2) <a class='js-inpagelink' href='#container-test-percent'>Enter an answer less than or equal to 100.</a>
                    </li>
                </ul>"
    })
}}
