.ons-patternlib-example {
  $c: &;

  border: 1px solid $color-borders;
  margin: 0 0 2rem;
  position: relative;
  width: 100%;

  &__frame {
    background: $color-borders;
  }

  &__header {
    border-bottom: 1px solid $color-borders;
    padding: 0.5rem 1rem 0.7rem;
    width: 100%;
  }

  &__iframe {
    display: block;
    max-width: 100%;
    min-height: 60px;
    min-width: 320px;
    position: relative;
    resize: both;
    width: 100%;
  }

  &__radio {
    display: none;
  }

  &__tabs {
    border-top: 1px solid $color-borders;
  }

  &__link,
  &__tab {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    color: $color-text-link;
    cursor: pointer;
    display: inline-block;
    margin-right: 0;
    padding: 1rem;
    position: relative;
    text-decoration: underline;
    text-underline-position: under;
    &:hover {
      background-color: darken($color-white, 5%);
      text-decoration-thickness: 2px;
    }

    @include mq(xxs, l) {
      width: 100%;
    }
  }

  &__panel {
    border-top: 1px solid $color-borders;
    display: none;
    padding: 1rem;
  }

  @for $i from 1 through 5 {
    &__radio:nth-of-type(#{$i}):checked ~ {
      #{$c}__tabs > #{$c}__tab:nth-of-type(#{$i}) {
        background: $color-white;
        border-left: 1px solid $color-borders;
        border-right: 1px solid $color-borders;
        color: $color-text;
        text-decoration: none;
        &::after {
          background: #fff;
          bottom: -1px;
          box-shadow: none;
          content: '';
          height: 0.09rem;
          left: 0;
          position: absolute;
          right: 0;
          z-index: 3;
        }

        @include mq(xxs, l) {
          background-color: $color-button-secondary;
          border-left: 0;
          border-right: 0;
          &::after {
            background: none;
            content: none;
          }
        }
      }

      #{$c}__tabs > #{$c}__tab:nth-of-type(1) {
        border-left: 0;

        @include mq(xxs, l) {
          border-top: 0;
        }
      }

      #{$c}__tabs > #{$c}__tab:last-of-type {
        @include mq(xxs, l) {
          border-bottom: 0;
        }
      }

      #{$c}__panels > #{$c}__panel:nth-of-type(#{$i}) {
        display: block;
      }
    }
  }

  &__code {
    font-family: monospace !important;
    white-space: pre;
  }

  &__pre {
    font-size: 0.8rem !important;
    margin: 0;
    white-space: normal;

    + p {
      margin-top: 1rem;
    }
  }
}

.ons-macro-options {
  &__content {
    padding: 0.5rem 0;
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}
