@import '~highlight.js/styles/vs2015';

.patternlib-example {
  $c: &;

  position: relative;
  margin: 0 0 2rem;
  width: 100%;
  border: 1px solid $color-borders;

  &__link {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    line-height: 1.3rem;
    background: #fff;
  }

  &__frame {
    background: $color-borders;
    border-top: 1px solid $color-borders;
  }

  &__iframe {
    resize: both;
    display: block;
    position: relative;
    min-height: 60px;
    width: 100%;
    min-width: 320px;
    max-width: 100%;
  }

  &__radio {
    display: none;
  }

  &__tabs {
    border-top: 1px solid $color-borders;
  }

  &__tab {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $color-blue;
    cursor: pointer;
  }

  &__panel {
    display: none;
    padding: 1rem;
    border-top: 1px solid $color-borders;
  }

  @for $i from 1 through 4 {
    &__radio:nth-of-type(#{$i}):checked ~ {
      #{$c}__tabs > #{$c}__tab:nth-of-type(#{$i}) {
        background: $color-grey-4;
      }

      #{$c}__panels > #{$c}__panel:nth-of-type(#{$i}) {
        display: block;
      }
    }
  }

  &__code {
    white-space: pre;
  }

  &__pre {
    margin: 0;
    white-space: normal;
  }
}

.macro-options {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  background: $color-grey-4;

  &__summary {
    outline: none;
    color: $color-blue;
    cursor: pointer;
  }

  &__content {
    padding: 0.5rem 0;

    table {
      margin: 0;
      border-spacing: 0;
      border-collapse: collapse;
    }

    th {
      position: sticky;
      top: 0;

      border-bottom: 2px solid $color-grey-3;
      background: $color-grey-4;
    }

    th,
    td {
      padding: 0.5rem 0.25rem;
    }

    td {
      border-bottom: 1px solid $color-grey-3;
      background: transparent;
    }

    code {
      background: $color-white !important;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}
