@import '../../node_modules/highlight.js/styles/vs2015.css';

.patternlib-example {
  $c: &;

  position: relative;
  width: 100%;
  margin: 0 0 2rem;
  border: 1px solid $color-grey;

  &__link {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    line-height: 1.3rem;
    background: $color-light-grey;
  }

  &__rendered {
    position: relative;
    overflow: hidden;
    padding: 2rem;
  }

  &__radio {
    display: none;
  }

  &__tabs {
    border-top: 1px solid $color-grey;
  }

  &__tab {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: $color-blue;
  }

  &__panel {
    display: none;
    padding: 1rem;
    border-top: 1px solid $color-grey;
  }

  @for $i from 1 through 4 {
    &__radio:nth-of-type(#{$i}):checked ~ {
      #{$c}__tabs > #{$c}__tab:nth-of-type(#{$i}) {
        background: $color-light-grey;
      }

      #{$c}__panels > #{$c}__panel:nth-of-type(#{$i}) {
        display: block;
      }
    }
  }

  &__pre {
    margin: 0;
    white-space: normal;
  }

  &__code {
    white-space: pre;
  }
}

.macro-options {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  background: $color-lighter-grey;

  &__summary {
    color: $color-blue;
    outline: none;
    cursor: pointer;
  }

  &__content {
    padding: 0.5rem 0;

    table {
      margin: 0;
    }

    th {
      top: 0;
      position: sticky;
      background: $color-light-grey;
    }

    th,
    td {
      padding: 0.5rem 0.25rem;
    }

    code {
      background: $color-white !important;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}
