{% macro patternlibExample(params) %}
    {% set params = helpers.generateExampleParams(params) %}
    <div class="ons-patternlib-example ons-js-example">
        <div class="ons-patternlib-example__header">
            {% from "components/external-link/_macro.njk" import onsExternalLink %}
            {{
                onsExternalLink({
                    "url": params.link,
                    "classes": "ons-patternlib-example__header-link ons-external-link ons-u-fs-s",
                    "linkText": "Open this example in a new tab"
                })
            }}
        </div>
        <div class="ons-patternlib-example__frame">
            <iframe class="ons-patternlib-example__iframe{% if not params.height is defined and not params.height %} ons-patternlib-example__iframe--resize{% endif %}" {% if params.height is defined and params.height %}height="{{ params.height }}"{% endif %} frameborder="0" src="{{ params.link }}" style="background-color: {{ params.backgroundColor | default ('#fff') }}"></iframe>
        </div>
        <div class="ons-patternlib-example__source">
            <input id="{{ params.name }}-html" type="radio" class="ons-patternlib-example__radio ons-js-example-radio" name="{{ params.name }}-example" {% if params.openTab == "html" %} checked {% endif %}>
            {% if params.raw is defined and params.raw %}
                <input id="{{ params.name }}-nunjucks" type="radio" class="ons-patternlib-example__radio ons-js-example-radio" name="{{ params.name }}-example" {% if params.openTab == "nunjucks" %} checked {% endif %}>
            {% endif %}
            {% if params.options is defined and params.options %}
                <input id="{{ params.name }}-options" type="radio" class="ons-patternlib-example__radio ons-js-example-radio" name="{{ params.name }}-example" {% if params.openTab == "options" %} checked {% endif %}>
            {% endif %}
            {% if params.template is defined and params.template %}
                <input id="{{ params.name }}-template" type="radio" class="ons-patternlib-example__radio ons-js-example-radio" name="{{ params.name }}-example" {% if params.openTab == "template" %} checked {% endif %}>
            {% endif %}
            {% if params.scss is defined and params.scss %}
                <input id="{{ params.name }}-scss" type="radio" class="ons-patternlib-example__radio ons-js-example-radio" name="{{ params.name }}-example" {% if params.openTab == "scss" %} checked {% endif %}>
            {% endif %}
            {% if params.noTabs is not defined %}
                <div class="ons-patternlib-example__tabs">
                    {%- if params.noHTMLTab is not defined -%}
                        <label class="ons-patternlib-example__tab ons-u-fs-r ons-js-example-tab" for="{{ params.name }}-html">HTML</label>
                    {%- endif -%}
                    {%- if params.raw is defined and params.raw and not params.noRawTab -%}
                        <label class="ons-patternlib-example__tab ons-u-fs-r ons-js-example-tab" for="{{ params.name }}-nunjucks">Nunjucks</label>
                    {%- endif -%}
                    {%- if params.options is defined and params.options -%}
                        <label class="ons-patternlib-example__tab ons-u-fs-r ons-js-example-tab" for="{{ params.name }}-options">Nunjucks macro options</label>
                    {%- endif -%}
                    {%- if params.template is defined and params.template and not params.noTemplateTab -%}
                        <label class="ons-patternlib-example__tab ons-u-fs-r ons-js-example-tab" for="{{ params.name }}-template">Nunjucks Template</label>
                    {%- endif -%}
                    {%- if params.scss is defined and params.scss and not params.noScssTab -%}
                        <label class="ons-patternlib-example__tab ons-u-fs-r ons-js-example-tab" for="{{ params.name }}-scss">SCSS</label>
                    {%- endif -%}
                </div>
            {% endif %}
            {% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}
            <div class="ons-patternlib-example__panels">
                <div class="ons-patternlib-example__panel">
                    {{ onsCodeHighlight({ "code": params.html }) }}
                </div>
                {%- if params.raw is defined and params.raw -%}
                    <div class="ons-patternlib-example__panel">
                        {{ onsCodeHighlight({ "code": params.raw, "language": "JavaScript" }) }}
                    </div>
                    {%- if params.options is defined and params.options -%}
                        <div class="ons-patternlib-example__panel">
                            <div class="ons-macro-options">
                                <div class="ons-macro-options__content">
                                    {{ params.options | safe }}
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endif -%}
                {%- if params.template is defined and params.template -%}
                    <div class="ons-patternlib-example__panel">
                        {{ onsCodeHighlight({ "code": params.template }) }}
                    </div>
                {%- endif -%}
                {%- if params.scss is defined and params.scss -%}
                    <div class="ons-patternlib-example__panel">
                        {{ onsCodeHighlight({ "code": params.scss, "language": "css" }) }}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{% endmacro %}
