{% macro patternlibExample(path, backgroundColor, useIframe, iframeHeight) %}
  {% set params = helpers.generateExampleParams(path, helpers.addDependency) %}
  {% include "./_template.njk" %}
{% endmacro %}
