---
title: "Example: Change language from Welsh to English"
layout: ~
---

+++
{% extends "layout/_template.njk" %}

{% set pageConfig = {
    "header": {
        "title": "Enw'r gwasanaeth",
        "language": {
            "languages": [
                {
                    "url": "/patterns/change-language/example-change-language-english",
                    "isoCode": "en",
                    "text": "English",
                    "current": false
                },
                {
                    "url": "#0",
                    "isoCode": "cy",
                    "text": "Cymraeg",
                    "current": true
                }
            ]
        }
    },
    "footer": {
        "rows": [
            {
                "itemsList": [
                    {
                        "text": "Cysylltu &acirc; ni",
                        "url": "#0"
                    },
                    {
                        "text": "Cwcis ac preifatrwydd",
                        "url": "#0"
                    }
                ]
            }
        ],
        "oglLink": {
            "pre": "Mae'r holl gynnwys ar gael o dan y",
            "link": "Drwydded Llywodraeth Leol v3.0",
            "url": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/",
            "post": ", oni bai y nodir fel arall"
        }
    }
} %}

{% block main %}
{% endblock %}

+++
