---
title: Compiled HTML
sortOrder: 4
group: Installing the design system
---

This approach is not recommended in production. We recommend you use [Nunjucks](/guidance/using-nunjucks) instead. By using Nunjucks, you can easily keep up to date with the latest versions of the design system. If you use compiled HTML for your service, upgrading to new versions will require careful, manual amendments to your code.

If you have to use compiled HTML, each component example has an HTML tab that shows the rendered HTML output. You can copy and paste the code into templates in your project.

You need to [reference the CSS and JS files from the CDN](/guidance/using-css-js-and-assets#cdn) to bring in the styles and interactivity for the components being used. 
