{% from "components/input/_macro.njk" import onsInput %}
{{
    onsInput({
        "id": 'postal-code',
        "label": {
            "text": 'Enter your postcode'
        },
        "value": 'A12',
        "autocomplete": 'postal-code',
        "classes": 'input--w-5',
        "required": true,
        "error": {
            "id": 'postal-code-error',
            "text": 'Enter a valid UK postcode, for example, BB13 7HG',
            "dsExample": isPatternLib
        }
    })
}}
