.ons-card {
    margin: 0 0 2rem;
    width: 100%;

    &--feature {
        background-color: var(--ons-color-banner-bg);
        padding: 2rem;
        outline: 1px solid transparent;
    }

    &__link {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: fit-content;

        > .ons-card__title {
            margin-bottom: 0;
        }
    }

    &__link:hover {
        text-decoration-thickness: 3px;
    }

    @include mq(m) {
        margin: 0;
        .ons-grid__col & {
            padding-right: 1rem;
        }
    }
}
