{%- macro onsCard(params) -%}
  {% from "components/lists/_macro.njk" import onsList %}
  <div class="card" aria-labelledBy="{{ params.id }}" aria-describedBy="{{ params.textId }}" role="navigation" aria-label="{{ params.ariaBy }}">  
    {%- if params.image -%}
      <a href="{{ params.url }}" class="u-db">
          <img class="card__image u-mb-s" alt="{{ params.image.alt }}" src="{{ params.image.src }}">
        <h2 class="{{ params.titleClasses | default('u-fs-m')}}" id="{{ params.id }}">
          {{ params.title }}
        </h2>
      </a>
    {%- else -%}
      <h2 class="{{ params.titleClasses | default('u-fs-m')}}" id="{{ params.id }}">
        <a href="{{ params.url }}">
          {{ params.title }}
        </a>
      </h2>
    {%- endif -%}

    <p id="{{ params.textId }}">{{ params.text }}</p>
    {% if params.itemsList -%}
      {{ 
          onsList({
              "element": 'ul',
              "classes": 'list--dashed',
              "itemsList": params.itemsList
          }) 
      }}
    {% endif %}
  </div>
{%- endmacro -%}
