{% from "components/card/_macro.njk" import onsCard %}
<div class="ons-container">
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-4@m">
            {{
                onsCard({
                    "title": {
                        "id": 'card-set-1',
                        "text": 'About the census',
                        "url": '#0'
                    },
                    "body":{
                        "id": 'text1',
                        "text": 'The census is a survey that gives us information about all the households in England and Wales.'
                    }
                })
            }}
        </div>

        <div class="ons-grid__col ons-col-4@m">
            {{
                onsCard({
                    "title": {
                        "id": 'card-set-2',
                        "text": 'Working on the census',
                        "url": '#0'
                    },
                    "body":{
                        "id": 'text2',
                        "text": 'For Census 2021, we’ll be hiring at least 30,000 field staff across England and Wales.'
                    }
                })
            }}
        </div>

        <div class="ons-grid__col ons-col-4@m">
            {{
                onsCard({
                    "title": {
                        "id": 'card-set-3',
                        "text": 'Your data and security',
                        "url": '#0'
                    },
                    "body":{
                        "id": 'text3',
                        "text": 'How we keep your data safe and what happens to your personal information.'
                    }
                })
            }}
        </div>
    </div>
</div>
