// High Contrast Mode
@media screen and (-ms-high-contrast: active), (forced-colors: active) {
  // Brightness makes all images black, except transparent parts, which remain transparent
  // Then, invert(1) makes the black parts white
  .ons-footer__ogl-img,
  .ons-quote .ons-svg-icon,
  .ons-collapsible__icon .ons-svg-icon,
  .ons-footer img {
    filter: brightness(0) invert(1);
  }

  // Adds a border to container error warning panel
  .ons-panel--error {
    border: 1px solid currentColor;
    border-left-width: 8px;

    .ons-panel__header {
      border-bottom: 1px solid currentColor;
    }
  }

  // Adds some style adjustments to the focused item to make it obvious something is selected
  .ons-autosuggest-input {
    &__results {
      outline: 1px solid Highlight !important;
    }

    .ons-autosuggest-input__option {
      &:focus,
      &:hover,
      &:hover .ons-autosuggest-input__category,
      &--focused,
      &--focused .ons-autosuggest-input__category {
        background: Highlight !important;
        color: HighlightText !important;
        forced-color-adjust: none;
      }
    }
  }

  // Had to do this without messing with the existing SVG
  .ons-input--select {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iY2hldnJvbi1kb3duIiBjbGFzcz0ic3ZnLWljb24iIHZpZXdCb3g9IjAgMCAxMiA4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMS4yIDBMNiA1LjQgMTAuOCAwIDEyIDEuMyA2IDggMCAxLjN6Ii8+Cjwvc3ZnPgo=');
    background-size: 12px 8px;
  }

  // I would have approached the mark differently, but without changing the existing approach this fixes it
  .ons-timeline__item::before {
    border: 2px solid currentColor;
  }

  // Element icons – matches icon with the link colour
  .ons-collapsible__icon,
  .ons-breadcrumb__item,
  .ons-panel,
  .ons-btn__inner,
  .ons-external-link {
    & .ons-svg-icon {
      fill: currentColor !important;
      forced-color-adjust: auto;
    }
  }

  // Logos
  .ons-header__org-logo,
  .ons-header__title-logo {
    & .ons-svg-logo {
      fill: currentColor !important;
      forced-color-adjust: auto;
    }
  }

  // Hero pre title
  .ons-hero__pre-title {
    filter: brightness(0) invert(1);
  }

  // Buttons - Overrides adjustment to make button shadow selectable
  .ons-btn {
    &::after {
      bottom: 0 !important;
    }
  }

  .ons-input,
  .ons-btn .ons-btn__inner,
  .ons-tab--row {
    &:focus,
    &:focus-visible {
      // Focus states – To better match the focus states of native controls
      outline-color: Highlight;
    }
  }

  // Tabs – prevent tab border colour change
  .ons-tabs__list--row::after {
    bottom: 1px;
    forced-color-adjust: none;
  }

  .ons-tab--row[aria-selected='true'] {
    border-color: ButtonText !important;
    color: ButtonText;
  }

  // Navigation and section nav – item border
  .ons-section-nav:not(.ons-section-nav--vertical) .ons-section-nav__item,
  .ons-navigation__item {
    border-color: canvas;
  }

  .ons-section-nav:not(.ons-section-nav--vertical) .ons-section-nav__item--active,
  .ons-navigation__item--active {
    border-color: ButtonText !important;
    color: ButtonText;
  }

  // Add borders to divide banners
  .ons-skip-link,
  .ons-browser-banner,
  .ons-cookies-banner,
  .ons-header,
  .ons-header__top,
  .ons-phase-banner {
    border-bottom: 1px solid currentColor;
  }

  .ons-navigation--sub {
    border-top: 1px solid currentColor;
  }

  // Search – override focus state background image
  .ons-input-search--icon:focus,
  .ons-input-search--icon:active,
  .ons-input-search--icon:valid:not(:placeholder-shown) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='%23ffffff'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11.86 10.23 8.62 6.99a4.63 4.63 0 1 0-6.34 1.64 4.55 4.55 0 0 0 2.36.64 4.65 4.65 0 0 0 2.33-.65l3.24 3.23a.46.46 0 0 0 .65 0l1-1a.48.48 0 0 0 0-.62Zm-5-3.32a3.28 3.28 0 0 1-2.31.93 3.22 3.22 0 1 1 2.35-.93Z'/%3E%3C/svg%3E");
  }
}
