// High Contrast Mode
@media screen and (-ms-high-contrast: active), (forced-colors: active) {
  // Brightness makes all images black, except transparent parts, which remain transparent
  // Then, invert(1) makes the black parts white
  .ons-header__logo,
  .ons-footer__ogl-img,
  .ons-quote .ons-svg-icon,
  .ons-collapsible__icon .ons-svg-icon,
  .ons-footer img {
    filter: brightness(0) invert(1);
  }

  // Adds a border to container error warning panel
  .ons-panel--error {
    border: 1px solid currentColor;
    border-left-width: 8px;

    .ons-panel__header {
      border-bottom: 1px solid currentColor;
    }
  }

  // Adds some style adjustments to the focused item to make it obvious something is selected
  .ons-js-autosuggest .ons-autosuggest-input__option--focused {
    padding-left: 1.5rem;
    text-decoration: underline;
  }

  // Had to do this without messing with the existing SVG
  .ons-input--select {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iY2hldnJvbi1kb3duIiBjbGFzcz0ic3ZnLWljb24iIHZpZXdCb3g9IjAgMCAxMiA4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMS4yIDBMNiA1LjQgMTAuOCAwIDEyIDEuMyA2IDggMCAxLjN6Ii8+Cjwvc3ZnPgo=');
    background-size: 12px 8px;
  }

  // I would have approached the mark differently, but without changing the existing approach this fixes it
  .ons-timeline__item::before {
    border: 2px solid currentColor;
  }

  // Element icons – matches icon with the link colour
  .ons-collapsible__icon,
  .ons-breadcrumb__item,
  .ons-panel,
  .ons-btn__inner,
  .ons-external-link {
    & .ons-svg-icon {
      fill: currentColor !important;
      forced-color-adjust: auto;
    }
  }

  // Hero pre title
  .ons-hero__pre-title {
    filter: brightness(0) invert(1);
  }
}
