{% from "components/list/src/_macro.njk" import onsList %}
{{ 
    onsList({
        classes: 'list--bare',
        items: [
            {
                href: '#',
                text: 'Item 1'
            },
            {
                href: '#',
                text: 'Item 2'
            },
            {
                href: '#',
                text: 'Item 3',
                target: '_blank'
            }
        ]
    }) 
}}
