{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/duration/_macro.njk" import onsDuration %}

{% call onsQuestion({
    "title": "How long have you lived at this address?",
    "description": "<p>If you have lived at this address for less than a year then enter 0 into the year input.</p>",
    "legendIsPageTitle": true
}) %}
    {{ onsDuration({
        "id": "address-duration",
        "dontWrap": true,
        "field1": {
            "id": "address-duration-years",
            "name": "address-duration-years",
            "label": "Years"
        },
        "field2": {
            "id": "address-duration-months",
            "name": "address-duration-months",
            "label": "Months"
        }
    }) }}
{% endcall %}
