---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% set pageConfig = {
    "title": "Service name",
    "footer": {
        "OGLLink": {
            "pre": ' the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}
{% block main %}
    <h1>Page not found</h1>
    <p>If you entered a web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the whole address.</p>
    <p>If the web address is correct or you selected a link or button, <a href="#">contact us</a> for more help.</p>
{% endblock %}
