{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{{
    onsCheckboxes({
        "checkboxesLabel": "All types",
        "legend": "Select type",
        "name": "types",
        "borderless": true,
        "checkboxes": [
            {
                "id": "booklet",
                "label": {
                    "text": "Booklet"
                },
                "value": "booklet"
            },
            {
                "id": "logo",
                "label": {
                    "text": "Logo"
                },
                "value": "logo"
            },
            {
                "id": "poster",
                "label": {
                    "text": "Poster"
                },
                "value": "poster"
            }
        ]
    })
}}
