---
title: Compiled HTML
sortOrder: 4
group: Installing the Design System
---

{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}

This approach is not recommended as upgrading to new versions will require careful, manual amendments to your code. 

Each component example has an `HTML` tab that shows the rendered HTML output for the component. You can copy and paste the code into templates in your project.

You would need to [reference the CSS and JS files from the CDN](/css-js-assets#cdn) to bring in the styles and interactivity for the components being used. 