{% from "components/card/_macro.njk" import onsCard %}
{{
    onsCard({
        "ariaBy": 'Section highlight',
        "id": 'title',
        "textId": 'text',
        "titleSize": '3',
        "title": 'Search for a business',
        "url": '#0',
        "text": 'A list of UK businesses for statistical use across government.'
    })
}}
