{% from "components/articles/_macro.njk" import onsArticles %}
{{ onsArticles({
    "articles": [
        {
            "thumbnail": {
                "smallSrc": '/img/small/',
                "largeSrc": '/img/large/',
                "filename": 'placeholder-news.png',
                "alt": 'Census 2021 placeholer'
            },
            "url": '#0',
            "title": 'Find out what users told us about our plans for 2021 Census Outputs',
            "date": {
                "short": '20 May 2020',
                "Iso": '2020-05-20'
            },
            "category": {
                "title": 'Press releases',
                "url": '#0'
            },
            "excerpt": 'Earlier this year, we asked people who use census data what they thought of our plans for 2021 Census outputs.'
        },
        {
            "thumbnail": {
                "smallSrc": '/img/small/',
                "largeSrc": '/img/large/',
                "filename": 'placeholder-news.png',
                "alt": 'Census 2021 placeholer'
            },
            "url": '#0',
            "title": 'Help us design the outputs',
            "date": {
                "short": '20 May 2020',
                "Iso": '2020-05-20'
            },
            "category": {
                "title": 'Press releases',
                "url": '#0'
            },
            "excerpt": 'As ONS continues to develop its recommendations for questions in the 2021 Census, work has also started on how to best present the answers.'
        }
    ]
}) }}
