{% from "components/corrections-and-notices/_macro.njk" import onsCorrectionsAndNotices %}

{{
    onsCorrectionsAndNotices({
        "id":"corrections-notices",
        "open": true,
        "corrections":[{
            "date": '22nd Janauary 2025,4:30PM',
            "text": 'The Non-Financial Business Economy publication uses estimates from the Annual Business Survey (ABS). A weighting error means these data have now been revised, with the overall impact being minimal.',
            "url": '#0'
        },
        {
            "date": '2021-02-21',
            "text": 'This is the summary of correction and notice',
            "url": '#0'
        }
        ],
        "notices": [{
            "date": '22nd Janauary 2025,4:30PM',
            "text": 'The Non-Financial Business Economy publication uses estimates from the Annual Business Survey (ABS). A weighting error means these data have now been revised, with the overall impact being minimal.'
        }]
    })
}}
