.nav--vertical-bare {
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    margin: 0;
    padding: 0.25rem 0;

    &--active {
      font-weight: 700;
    }
  }

  .nav__link {
    text-decoration: none;
  }
}
