// <nav> element
.nav {
  display: block;
  padding: 0;
  margin: 0;
  &--progress {
    border-left: 1px solid $color-borders;
    padding: 0.5rem 0 0.5rem 2rem;
  }
  &--page {
    border-bottom: 1px solid $color-borders;
  }
}

.nav__title {
  margin-bottom: 0.5rem;
}

// <ul> element
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// <li> element
.nav__item {
  .nav--progress & {
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 2rem;
    position: relative;
    margin-left: -2.5rem;
    border-left: 0.5rem solid transparent;
    &--completed {
      &::before {
        z-index: 2;
        content: '';
        @include icon('check-green');
        background-size: contain;
        position: absolute;
        left: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
        bottom: 0;
        top: 0;
        margin: auto;
      }
    }
    &--current {
      background-color: $color-light-blue;
      border-left: 0.5rem $color-dark-blue solid;
      &.nav__item--completed {
        &::before {
          left: 0.5rem;
        }
      }
    }
  }

  .nav--inline & {
    font-size: 1rem;
    display: inline-block;
    margin: 0 0 0 1rem;
    position: relative;
    text-align: center;
    &:first-child {
      margin-left: 0;
    }
    @include mq(m) {
      margin: 0 0 0 1rem;
    }
  }
}

// <a> element
.nav__link {
  .nav--page & {
    text-decoration: none;
    padding: 0 0 0.3rem;
    &:hover,
    &--current {
      color: $color-links-hover;
      border-bottom: 4px solid $color-dark-blue;
    }
  }

  &--current {
    font-weight: bold;
  }

  .nav--progress & {
    @include mq(m) {
      font-size: 1rem;
    }
  }

  .nav--inline & {
    display: inline-block;
    text-align: center;
  }

  .nav--vertical-bare & {
    text-decoration: none;
  }
}
