{% from "foundations/layout/grid/_macro.njk" import patternLibExampleGrid %}
{{
    patternLibExampleGrid({
        'container': true,
        "itemsList": [
            {
                'col': 7
            },
            {
                'classes': 'ons-push-1@m',
                'col': 4
            }
        ]
    })
}}
