---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/uac/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set pageConfig = {
    "title": "Census 2021",
    "theme": "census",
    "absoluteUrl": pageInfo.url,
    "headMeta": {
        "description": "Census 2021 is a UK wide population survey."
    },
    "header": {
        "logoHref": "#",
        "titleLogo": "census-logo-en",
        "titleLogoHref": "#",
        "titleLogoAlt": "Census 2021"
    },
    "language": {
        "allLanguagesUrl": "#",
        "languages": [
            {
                "url": "#",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": false
            }
        ]
    }
} %}

{% block preMain %}

    {{
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": [
                {
                    "url": '/',
                    "text": 'Home'
                },
                {
                    "url": '/#',
                    "text": 'Start census',
                    "current": true
                }
            ]
        })
    }}

{% endblock %}

{% block main %}
    <h1 class="u-mt-xs">Start census</h1>

    {{ onsUACInput({
        "id": "uac",
        "name": "uac",
        "postTextboxLinkText": "Where to find your access code",
        "postTextboxLinkUrl": "#",
        "label": {
            "text": "Enter your 16-character access code",
            "description": "Keep this code safe. You will need to enter it every time you access your survey"
        },
        "securityMessage": "Your personal information is protected by law and will be kept confidential."
    }) }}

    {{ onsButton({
        "text": "Access census",
        "classes": "u-mb-xl"
    }) }}

    <h2>If you don't have an access code</h2>
    <p>
        You can <a href="#">request a new code</a> to start a new survey if you have lost or not received an access code. This can be sent to you by text or post.
    </p>

    {% set content %}
        <p>If you need to answer separately from the people you live with, you can <a href='#'>request an individual access code</a> to start a separate census.</p>
        {% call onsPanel({
                type: "warn",
                classes: "u-mt-l u-mb-l"
            })
        %}
        <p><strong>Someone in your household must still complete a census using a household access code</strong></p>
        {% endcall %}
    {% endset %}

    {% call onsCollapsible({
            id: "collapsible",
            title: "Need to answer separately from your household?",
            titleTag: "h2",
            button: {
                "close": "Hide this",
                "contextSuffix": "content"
            }
        })
    %}
        {{ content | safe }}
    {% endcall %}

{% endblock %}
