.input--upload {
  border: 1px solid $color-text;
  border-radius: $input-radius;
  font-size: 1rem;
  padding: 0;
  background: $color-white;
  width: 100%;
  &::-webkit-file-upload-button {
    font-size: 1rem;
    border: none;
    border-right: 1px solid $color-black;
    padding: 0.5rem 1rem;
    background: $color-button-secondary;
    color: $color-text;
    transition: border-color 200ms ease-in;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
  }
  &:hover {
    cursor: pointer;
    &::-webkit-file-upload-button {
      border-right-color: $color-links-hover;
      cursor: pointer;
    }
  }

  @include mq(m) {
    width: 80%;
  }
  @include mq(l) {
    width: 70%;
  }
}
