{% from "components/upload/_macro.njk" import onsUpload %}

{{
    onsUpload({
        "id": "file-example-upload-error",
        "accept": ".xls,.xlsx,.pdf",
        "label": {
            "description": "File types accepted are XLS and XLSX or PDF",
            "text": "Upload a file"
        },
        "error": {
            "id": "file-error",
            "text": "Select a file that is an XLS, XLSX or PDF"
        }
    })
}}
