{% from "components/upload/_macro.njk" import onsUpload %}

{{
    onsUpload({
        "id": "file-example-upload",
        "accept": ".xls,.xlsx,.pdf",
        "label": {
            "description": "File types accepted are XLS and XLSX or PDF",
            "text": "Upload a file"
        }
    })
}}
