---
title: Upload
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/icon-link/_macro.njk" import onsIconLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

A file upload input allows a user to select a file from their computer's file system.
{{
    patternlibExample({"path":"components/upload/examples/upload/index.njk"})
}}

## When to use this component

Use this component when there is a requirement for a user to select and submit a local file as part of their task.

## How to use this component

The `<input>` value is set to `type="file"`. A file upload input also takes the attribute `accepts=` which take a comma seperated list of file extensions with the `.` prefix for example: `accept=".xls,.xlsx,.pdf"`.

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsIconLink({
            "url": "https://github.com/ONSdigital/design-system/issues/97",
            "linkText": "Design System forum",
            "type": "external"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsIconLink({
        "url": "https://github.com/ONSdigital/design-system/issues/97",
        "linkText": "Discuss 'Upload' on GitHub",
        "type": "external"
    })
}}
