{% from "components/checkboxes/src/_macro.njk" import onsCheckboxes %}
{{ 
    onsCheckboxes({
        "legend": "Select all that apply",
        "name": "food-other",
        "checkboxes": [
            {
                "id": "bacon-other",
                "label": {
                    "text": "Bacon"
                },
                "value": "bacon"
            },
            {
                "id": "olives-other",
                "label": {
                    "text": "Olives"
                },
                "value": "olives"
            },
            {
                "id": "other-checkbox",
                "label": {
                    "text": "Other",
                    "description": "An answer is required"
                },
                "value": "other",
                "other": {
                    "id": "other-textbox",
                    "name": "other-answer",
                    "label": {
                        "text": "Please specify other"
                    }
                }
            }
        ]
    }) 
}}
