---
"theme": census
"fullWidth": true
---
{% from "components/hero/_macro.njk" import onsHero %}
{{
    onsHero({
        censusTheme: true,
        censusThemeDark: true,
        title: 'Get ready for Census 2021',
        text: 'Census Day will be <strong>Sunday 21 March 2021</strong>',
        image: {
            smallSrc: '/img/small/woman-in-purple-dress-shirt.jpg',
            largeSrc: '/img/large/woman-in-purple-dress-shirt.jpg'
        }
    })
}}
