---
title: Feedback
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

## When to use this pattern
Follow this pattern whenever you need to prompt your users to give feedback.

## How to use this pattern
Place the feedback call to action on a page where you want to ask the user for feedback. The link in this call to action should open another page with your feeback form on it.

When the user has submitted the feedback form, you should display a success panel, thanking the user for their feedback, at the top of the page they launched the feedback form from, or on it's own page.

## Feedback call to action component
This will prompt users to give feedback. Which will then link to the form.
{{
    patternlibExample({"path": "components/feedback/examples/feedback/index.njk"})
}}

## Feedback form pattern
This pattern will allow users to then submit their feedback.
{{
    patternlibExample({ "path": "patterns/feedback/examples/feedback-form/index.njk" })
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/issues/1076",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/1076",
        "linkText": "Discuss 'Feedback' on GitHub"
    })
}}
