---
title: Feedback
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

## When to use this component

## How to use this pattern

## Research on this pattern
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
   If you have conducted any user research using this pattern, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/236" target="_blank">Design System forum</a>.
{% endcall %}

## Design System forum

[Discuss 'Feedback' on Github](https://github.com/ONSdigital/design-system/issues/236)
