{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Summary - Section Title",
        "rows": [
            {
                "title": "What are your monthly household expenses?",
                "rowItems": [
                    {
                        "title": "Food",
                        "values": [
                            {
                                "text": "£50.00"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Change",
                                "ariaLabel": "Change answer",
                                "url": "#"
                            }
                        ]
                    },
                    {
                        "title": "Utilities",
                        "values": [
                            {
                                "text": "£65.00"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Change",
                                "ariaLabel": "Change answer",
                                "url": "#"
                            }
                        ]
                    },
                    {
                        "title": "Transport",
                        "values": [
                            {
                                "text": "£70.00"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Change",
                                "ariaLabel": "Change answer",
                                "url": "#"
                            }
                        ]
                    },
                    {
                        "title": "Other",
                        "values": [
                            {
                                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                            }
                        ],
                        "actions": [
                            {
                                "text": "Change",
                                "ariaLabel": "Change answer",
                                "url": "#"
                            }
                    ]
                    }
                ]
            }
        ]
    })
}}
