---
group: Pages
title: Hub and Spoke
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

{{
    patternlibExample({ "path": "pages/patterns/hub-and-spoke/examples/hub/index.njk"})
}}

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/714",
        "linkText": "Discuss the ‘Hub and spoke’ pattern on GitHub"
    })
}}
