---
title: Change language
group: Help users to...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

## When to use this pattern

This pattern should be used if your service is available in multiple languages.

## How to use this pattern

Language selection is achieved by rendering a language selector in the header element, and a list of available languages in the footer. The header language selector is for viewports larger than mobile, and the footer language selector is for viewports smaller than tablet.

## Examples

### 3 Available languages
{{
    patternlibExample({ "path": "pages/patterns/change-language/examples/english-ireland/index.njk" })
}}

### 2 Available languages
{{
    patternlibExample({ "path": "pages/patterns/change-language/examples/cymraeg/index.njk" })
}}

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1391",
        "linkText": "Discuss the ‘Change language’ pattern on GitHub"
    })
}}
