{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "classes": 'list--bare list--inline',
        "itemsList": [
            {
                "url": '#0',
                "text": 'Twitter',
                "prefixIcon": 'twitter',
                "iconSize": 'xxl',
                "rel": 'noreferrer external'
            },
            {
                "url": '#0',
                "text": 'Facebook',
                "prefixIcon": 'facebook',
                "iconSize": 'xxl',
                "rel": 'noreferrer external'
            },
            {
                "url": '#0',
                "text": 'Instagram',
                "prefixIcon": 'instagram',
                "iconSize": 'xxl',
                "rel": 'noreferrer external'
            }
        ]
    })
}}
