---
title: Home
layout: home
sortOrder: 1
---

+++
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

{{
    onsHero({
        "wide": true,
        "title": 'Design and build digital products for the ONS',
        "text": 'Everything you need to make accessible and consistent digital products.',
        "button": {
            "url": '/guidance/install-with-npm',
            "text": 'Get started'
        }
    })
}}
<div class="ons-container ons-container--wide">
    <div class="ons-grid ons-grid--column@xxs@s ons-u-mt-l ons-u-mb-l@m">
        <div class="ons-grid__col ons-col-4@m">
            {{-
                onsCard({
                    "title": 'Foundations',
                    "url": '/foundations',
                    "text": 'Set up the ONS templates and styles to start building consistent digital products.'
                })
            -}}
        </div>
        <div class="ons-grid__col ons-col-4@m">
            {{-
                onsCard({
                    "title": 'Components',
                    "url": '/components',
                    "text": 'Select the components you need to build your digital product.'
                })
            -}}
        </div>
        <div class="ons-grid__col ons-col-4@m">
            {{-
                onsCard({
                    "title": 'Patterns',
                    "url": '/patterns',
                    "text": 'Combine components to help users carry out common tasks.'
                })
            -}}
        </div>
    </div>
    <hr class="ons-u-mt-no">
    <div class="ons-grid ons-grid--gutterless ons-u-mt-l ons-u-mb-l">
        <div class="ons-grid__col ons-col-6@m">
            <h3 class="ons-u-fs-l">Our community</h3>
            <p>The ONS Design System is available for anyone to use. It brings together the latest research, design and development from across the organisation.</p>
            <p>You are welcome to <a href="{{ pageInfo.rootPath }}/contribute">contribute to the design system</a> if you want to propose a new pattern or component, or want to make a change to an existing feature. </p>
        </div>
    </div>
    <hr class="ons-u-mt-no">
    <div class="ons-grid ons-grid--gutterless ons-u-mt-l ons-u-mb-l">
        <div class="ons-grid__col ons-col-6@m">
            <h3 class="ons-u-fs-l">Support</h3>
            <p>If you need any help with the design system or need to ask a question, you can <a href="{{ pageInfo.rootPath }}/contribute/support">get in touch with our community</a>.</p>
        </div>
    </div>
</div>
+++
