{% macro onsPromoBanner(params) %}

    <section class="ons-promo-banner{{ ' ' + 'ons-promo-banner--dark-theme' if params.darkTheme }}{{ ' ' + 'ons-promo-banner--has-image' if params.image }}">

        <div class="ons-container">

            <div class="ons-grid ons-grid--gutterless">

            {% if params.image is defined %}

                <div class="ons-grid__col ons-col-7@s">

                    <div class="ons-promo-banner__content">
                        {{ params.content | safe }}{{ caller() if caller }}
                    </div>

                </div>

                <div class="ons-grid__col ons-col-4@s ons-push-1@s ons-u-d-no@xxs@s">

                    <div class="ons-promo-banner__image">
                        {% if params.image.smallSrc is defined and params.image.smallSrc %}
                            <img srcset="{{ params.image.smallSrc }} 1x, {{ params.image.largeSrc }} 2x" src="{{ params.image.smallSrc }}" alt="{{ params.image.alt }}">
                        {% else %}
                            <img src="{{ params.image.src }}" alt="{{ params.image.alt }}">
                        {% endif %}
                    </div>

                </div>

            {% else %}

                <div class="ons-grid__col ons-col-7@m">

                    <div class="ons-promo-banner__content">
                        {{ params.content | safe }}{{ caller() if caller }}
                    </div>

                </div>

            {% endif %}

            </div>

        </div>

    </section>

{% endmacro %}
