---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% set page = { 
    "title": "Service name",
        "breadcrumbs": {
        "itemsList": [
            {
                "url": '/prototypes/census-website/',
                "text": 'Home'
            },
            {
                "url": '/prototypes/census-website/about-the-census/',
                "text": 'About the census',
                "current": true
            }
        ]
    },
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block main %}
    <h1>Page Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper, velit a blandit mattis, velit felis hendrerit est, at tristique nulla lectus a felis. Quisque pharetra quam non metus lobortis tempor. Aenean quis ullamcorper ante, nec dapibus dolor. In lobortis mollis augue, at posuere felis iaculis vitae. </p>
{% endblock %}
