---
title: Change language
group: Help users to...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/icon-link/_macro.njk" import onsIconLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

## When to use this pattern

This pattern should be used if your service is available in multiple languages.

## How to use this pattern

Language selection is achieved by rendering a language selector in the header element, and a list of available languages in the footer. The header language selector is for viewports larger than mobile, and the footer language selector is for viewports smaller than tablet.

## Examples

### 3 Available languages
{{
    patternlibExample({ "path": "patterns/language-selection/examples/english-ireland/index.njk" })
}}

### 2 Available languages
{{
    patternlibExample({ "path": "patterns/language-selection/examples/cymraeg/index.njk" })
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsIconLink({
            "url": "https://github.com/ONSdigital/design-system/issues/109",
            "linkText": "Design System forum",
            "type": "external"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsIconLink({
        "url": "https://github.com/ONSdigital/design-system/issues/109",
        "linkText": "Discuss 'Language selection' on GitHub",
        "type": "external"
    })
}}
