---
title: Language preference
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample({ "path": "patterns/language-selection/examples/english-ireland/index.njk", "useIframe": true, "iframeHeight": 600 })
}}

{{
    patternlibExample({ "path": "patterns/language-selection/examples/cymraeg/index.njk", "useIframe": true, "iframeHeight": 600 })
}}
