{% from "components/panel/src/_macro.njk" import onsPanel %}
{{ 
    onsPanel({
        "type": "error",
        body: "<h2>Dear oh dear oh dear oh dear</h2><p>Oh dear Barry. Oh dear Paul.</p>"
    })
}}
