{% from "components/downloads/_macro.njk" import onsDownloads %}
{{ onsDownloads({
    "classes": "u-mt-m",
    "downloads": [
        {
            "url": "#",
            "thumbnail": "/patternlib-img/poster.jpg",
            "title": "Census awareness poster",
            "type": "Portable Document Format",
            "typeAbbr": "PDF",
            "fileSize": "890KB",
            "pages": "1 page",
            "accessibilityMessage": "This file may not be suitable for users of assistive technology.",
            "accessibilityURL": "#",
            "accessibilityLinkText": "Request an accessible format"
        }
    ]
}) }}    
