{% from "components/card/_macro.njk" import onsCard %}
<div class="grid grid--flex grid--loose grid--column@xs@s">
    <div class="grid__col grid__col--loose grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {{-
            onsCard({
                "ariaBy": 'Section highlight',
                "id": 'title1',
                "textId": 'text1',
                "title": 'Search for a business',
                "url": '#0',
                "text": 'A list of UK businesses for statistical use across government.',
                "image": {
                    "src": '/img/card-placeholder.svg',
                    "alt": 'Placeholder text'
                }
            })
        }}
    </div>
    <div class="grid__col grid__col--loose grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {{-
            onsCard({
                "ariaBy": 'Section highlight',
                "id": 'title2',
                "textId": 'text2',
                "title": 'Record management',
                "url": '#0',
                "text": 'Edit, create new records and view the editing history of businesses.',
                "image": {
                    "src": '/img/card-placeholder.svg',
                    "alt": 'Placeholder text'
                }
            })
        }}
    </div>
    <div class="grid__col grid__col--loose grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {{-
            onsCard({
                "ariaBy": 'Section highlight',
                "id": 'title3',
                "textId": 'text3',
                "title": 'Address index',
                "url": '#0',
                "text": 'The most accurate and geographical dataset of addresses and properties in the UK.',
                "image": {
                    "src": '/img/card-placeholder.svg',
                    "alt": 'Placeholder text'
                }
            })
        }}
    </div>
</div>
