$collapsible-caret-width: 1.5rem;

.collapsible {
  &--initialised & {
    &__heading {
      display: inline-block;
      position: relative;
      padding: 0 0 0 $collapsible-caret-width;
      outline: none;
      color: $color-links;
      cursor: pointer;
      pointer-events: initial;

      &::-webkit-details-marker {
        display: none;
      }

      &:focus {
        & .collapsible__title {
          @extend a:focus;
          // extend collapsible focus background behind caret
          margin-left: -$collapsible-caret-width;
          padding-left: $collapsible-caret-width;
        }
      }

      &:hover {
        color: $color-links-hover;
        .collapsible__icon {
          fill: $color-links-hover;
        }
        & .collapsible__title {
          text-decoration: none;
        }
      }
      &:focus {
        .collapsible__icon {
          fill: $color-black;
        }
      }
    }

    &__icon {
      display: inline-block;
      position: absolute;
      top: -0.25rem;
      left: -0.2rem;
      width: $collapsible-caret-width;
      height: $collapsible-caret-width;
      fill: $color-links;
    }

    &__title {
      transform: translateY(-1px);
      margin-bottom: 0;
      font-size: 1rem;
      text-decoration: underline;
    }

    &__content {
      display: none;
    }
  }

  &__icon {
    display: none;
  }

  &--open & {
    &__icon {
      top: 0.1rem;
      left: -0.1rem;
      transform: rotate(90deg);
    }

    &__content {
      display: block;
      margin: 1rem 0 0 0;
      padding: 0 0 0 1.3em;
      border-left: 5px solid $color-grey-4;
    }
  }

  &--accordion {
    margin: 0;
    &.collapsible--open {
      .svg-icon {
        position: absolute;
        top: 0.25rem;
        left: 0.4rem;
      }
    }
  }

  &--accordion & {
    &__heading {
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      border-top: 1px solid $color-borders;

      &:focus {
        outline: none;
      }
    }

    &__title {
      margin: 0 1rem 0 0;
    }

    &__icon {
      top: 0.8rem;
      @include mq(s) {
        top: 1.15rem;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__btn {
      align-self: flex-start;
      width: auto;
    }

    &__content {
      margin: 0;
      padding: 0;
      border-left: 0;
    }
  }
}
