$collapsible-caret-width: 1.1rem;
$collapsible-caret-right-spacing: 0.4rem;

.collapsible {
  &__heading {
    display: inline-block;
    position: relative;
    outline: none;
    pointer-events: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    transform: translateY(-1px);
  }

  &--initialised & {
    &__heading {
      padding: 0 0 0 ($collapsible-caret-width + $collapsible-caret-right-spacing);
      color: $color-links;
      cursor: pointer;
      pointer-events: initial;

      &:hover,
      &:focus {
        color: $color-links-hover;
        svg {
          fill: $color-links-hover;
          &:focus:not(:hover) {
            fill: $color-black;
          }
        }
      }

      &:focus {
        & .collapsible__title {
          @extend a:focus;
          // extend collapsible focus background behind caret
          margin-left: -($collapsible-caret-right-spacing + $collapsible-caret-width);
          padding-left: $collapsible-caret-right-spacing + $collapsible-caret-width;
        }
      }

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0.1rem;
        left: 0;
        width: $collapsible-caret-width;
        height: $collapsible-caret-width;

        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: $collapsible-caret-width $collapsible-caret-width;
      }

      &:after {
        opacity: 0;
      }

      svg {
        width: $collapsible-caret-width;
        height: $collapsible-caret-width;
        fill: $color-blue;
        &:focus:not(:hover) {
          fill: $color-black;
        }
        &:hover {
          fill: $color-links-hover;
        }
      }
    }

    &__title {
      margin-bottom: 0;
      text-decoration: underline;
    }

    &__content {
      display: none;
    }
  }

  &--open & {
    &__heading {
      &:before,
      &:after {
        transform: rotate(90deg);
      }
    }

    &__content {
      display: block;
      margin: 1rem 0 0 0;
      padding: 0 0 0 1.3em;
      border-left: 5px solid $color-grey-3;
    }
  }

  &--accordion {
    margin: 0;
  }

  &--accordion & {
    &__heading {
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      border-top: 1px solid $color-borders;

      &:before,
      &:after {
        top: 1.1rem;
        @include mq(s) {
          top: 1.45rem;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      margin: 0 1rem 0 0;
    }

    &__btn {
      align-self: flex-start;
      width: auto;
    }

    &__content {
      margin: 0;
      padding: 0;
      border-left: 0;
    }
  }
}
