$collapsible-caret-width: 1.1rem;
$collapsible-caret-right-spacing: 0.4rem;

.collapsible {
  &__heading {
    display: inline-block;
    position: relative;
    outline: none;
    pointer-events: none;
    padding: 0 0 0 ($collapsible-caret-width + $collapsible-caret-right-spacing);
    color: $color-links;
    cursor: pointer;
    pointer-events: initial;

    &::-webkit-details-marker {
      display: none;
    }

    &__title {
      transform: translateY(-1px);
    }

    &:focus {
      & .collapsible__heading__title {
        @extend a:focus;
        // extend collapsible focus background behind caret
        margin-left: -($collapsible-caret-right-spacing + $collapsible-caret-width);
        padding-left: $collapsible-caret-right-spacing + $collapsible-caret-width;
      }
    }

    &__icon {
      display: inline-block;
      position: absolute;
      top: -0.3rem;
      left: 0.2rem;
      width: $collapsible-caret-width;
      height: $collapsible-caret-width;
      fill: $color-links;
    }

    &__title {
      margin-bottom: 0;
      text-decoration: underline;
    }

    &:hover {
      color: $color-links-hover;
      .collapsible__heading__icon {
        fill: $color-links-hover;
      }
    }
    &:focus {
      .collapsible__heading__icon {
        fill: $color-black;
      }
    }
  }

  &__content {
    display: none;
  }

  &--open & {
    &__heading {
      &__icon {
        top: 0.1em;
        left: 0.4em;
        transform: rotate(90deg);
      }
    }

    &__content {
      display: block;
      margin: 1rem 0 0 0;
      padding: 0 0 0 1.3em;
      border-left: 5px solid $color-grey-3;
    }
  }

  &--accordion {
    margin: 0;
    &.collapsible--open {
      .svg-icon {
        position: absolute;
        top: 0.25em;
        left: 0.4em;
      }
    }
  }

  &--accordion & {
    &__heading {
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      border-top: 1px solid $color-borders;

      &:focus {
        outline: none;
      }

      &__title {
        margin: 0 1rem 0 0;
      }

      &__icon {
        @include mq(s) {
          top: 1.1rem;
        }
        top: 0.8rem;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__btn {
      align-self: flex-start;
      width: auto;
    }

    &__content {
      margin: 0;
      padding: 0;
      border-left: 0;
    }
  }
}
