{# OnsCollapsible has been superceded by onsDetails and will be deprecated in due course. Please upgrade to use onsDetails. Configuration is unchanged, only the component name and classes have changed name. #}
{% macro onsCollapsible(params) %}
    {% from "components/details/_macro.njk" import onsDetails %}

    {% set content = caller() if caller else params.content | safe %}

    {{
        onsDetails({
            "id": params.id,
            "classes": params.classes,
            "attributes": params.attributes,
            "headingAttributes": params.headingAttributes,
            "contentAttributes": params.contentAttributes,
            "title": params.title,
            "titleTag": params.titleTag,
            "content": content,
            "saveState": params.saveState,
            "open": params.open
        })
    }}
    
{% endmacro %}
