---
title: Collapsible
synonyms: Accordion, details, twisty, expandable
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

The collapsible component is used to simplify a page by allowing the user to reveal certain content only if they need it.

{{
    patternlibExample({"path": "components/collapsible/examples/collapsible/index.njk"})
}}

## When to use this component
Use the collapsible component to make a page easier to read by condensing information that is only needed by some users.

The collapsible can be used to condense a single block of content into a single selectable heading, allowing the user to reveal it if and when they need it.
It also includes a hide button to close the collapsible when needed. We recommend adding `aria-hidden="true"` to the button in order so that screen reading software will not pick this up.

Good uses of the collapsible component are:
{{
    onsList({
        "itemsList": [
            {
                "text": 'to reveal additional help at the point where a user may need it, for example, to help answer a question'
            },
            {
                "text": 'to show the definition of a term that may not be well understood'
            }
        ]
    })
}}

## When not to use this component
Don’t use the collapsible component to hide information that the majority of your users will need to progress with their task.

### Alternative components
[Accordions](/components/accordion), [tabs](/components/tabs) and collapsible all hide sections of content which a user can show or hide.

## Variants
Use the collapsible component instead of [tabs](/components/tabs) or [accordions](/components/accordion) if there is only one section of content that needs to be condensed.
### Collapsible with save state enabled
{{
    patternlibExample({"path": "components/collapsible/examples/collapsible-with-save/index.njk"})
}}

### Collapsible with warning panel
{{
    patternlibExample({"path": "components/collapsible/examples/collapsible-with-warning/index.njk"})
}}

## How to use this component
The collapsible component uses JavaScript so when it's turned off, the section of content is expanded and displayed as a standard heading and paragraph.

Use an appropriate heading tag (h2, h3 etc) for the `ons-collapsible__title` to provide the correct semantic hierarchy to the document with the rest of the page.

### Use a clear label
The collapsible component hides content so make sure your heading is clear so the user doesn't need to work hard to understand if they need to click on it.

### Accessibility
The collapsible component is made accessible by using the following `aria` attributes which are attached on `domready` via Javascript:
{{
    onsTable({
        "ths": [
            {
                "value": "Element"
            },
            {
                "value": "ARIA attribute"
            },
            {
                "value": "Description"
            }
        ],
        "trs": [
            {
                "tds": [
                    {
                        "value": "<code>.ons-collapsible</code>"
                    },
                    {
                        "value": '<code>aria-expanded="true/false"</code>'
                    },
                    {
                        "value": "Indicates the state of the associated <code>.ons-collapsible__heading</code>"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": ""
                    },
                    {
                        "value": '<code>aria-selected="true/false"</code>'
                    },
                    {
                        "value": "Indicates the selected state of the focussed <code>.ons-collapsible</code> element"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "<code>.collapsible__heading</code>"
                    },
                    {
                        "value": '<code>aria-controls="{ID}-content"</code>'
                    },
                    {
                        "value": "Indicates the <code>id</code> of the display controller element for the associated <code>.collapsible__content</code> block."
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "<code>button</code>"
                    },
                    {
                        "value": '<code>aria-controls="{ID}-content"</code>'
                    },
                    {
                        "value": "Indicates the <code>id</code> of the display controller element for the associated <code>.ons-collapsible__content</code> block."
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "<code>.ons-collapsible__content</code>"
                    },
                    {
                        "value": '<code>aria-hidden="true/false"</code>'
                    },
                    {
                        "value": "Indicates the visibility of the element and all of its descendants."
                    }
                ]
            }
        ]
    })
}}

### Google analytics
Optionally pass event tracking `data` attributes for Google Analytics using `data-ga="click"`, `data-ga-category="definition"`, `data-ga-action="Open/Close panel"`, `data-ga-label="{TITLE}"`

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/148",
        "linkText": "Discuss the ‘Collapsible’ component on GitHub"
    })
}}
