{% macro onsCheckbox(params) %}
    <div class="checkbox {{ params.classes }}">
        <input
            class="checkbox__input {{ params.inputClasses }}"
            name="{{ params.name }}"
            id="{{ params.id }}"
            value="{{ params.value }}"
            aria-labeledby="{{ params.id }}-label"
            {% if params.checked %}checked{% endif %}
            type="checkbox"
            {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
        >
        {# aria-hidden is used to prevent screen readers from being able to focus the individual elements within a label, and combined with aria-labeledby on the input to ensure the label is still read #}
        <label id="{{ params.id }}-label" aria-hidden="true" class="checkbox__label {{ params.label.classes }}" for="{{ params.id }}">
            {{ params.label.text | safe }}
            {% if params.label.description %}
                <br>
                <span class="checkbox__description u-fs-s">{{ params.label.description }}</span>
            {% endif %}
        </label>
        {% if params.other.id %}
            <div class="checkbox__other">
                {% from "components/input/_macro.njk" import onsInput %}
                {{
                    onsInput({
                        "id": params.other.id,
                        "name": params.other.name,
                        "type": params.other.type,
                        "classes": "input--w-auto " + params.other.classes | default(''),
                        "attributes": params.other.attributes,
                        "label": {
                            "text": params.other.label.text,
                            "classes": 'u-fs-s--b'
                        }
                    })
                }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
