{% macro onsCheckbox(params) %}
    {% from "components/label/_macro.njk" import onsLabel %}
    {% from "components/icons/_macro.njk" import onsIcon %}
    
    <span class="checkbox {{ params.classes }}">
        <input
            type="checkbox"
            id="{{ params.id }}"
            class="checkbox__input js-checkbox {{ params.inputClasses }}"
            value="{{ params.value }}"
            {% if params.name is defined %} name="{{ params.name }}"{% endif %}
            {% if params.checked is defined and params.checked %} checked{% endif %}
            {% if params.other is defined and not params.other.open %} aria-controls="{{ params.id }}-other-wrap" aria-haspopup="true"{% endif %}
            {% if params.attributes is defined %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %} {{ attribute }}{% if value is defined %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
        >

        {% call onsLabel({
            "id": params.id + "-label",
            "for": params.id,
            "inputType": "checkbox",
            "text": params.label.text,
            "classes": "checkbox__label " + params.label.classes | default(''),
            "description": params.label.description
        }) %}
            {{
                onsIcon({
                    "icon": "check"
                })
            }}
        {% endcall %}

        {% if params.other is defined %}
            <span class="checkbox__other {{ 'checkbox__other--open' if params.other.open }}" id="{{ params.id }}-other-wrap">
                {% from "components/input/_macro.njk" import onsInput %}
                {{
                    onsInput({
                        "id": params.other.id,
                        "name": params.other.name,
                        "type": params.other.type,
                        "classes": "input--w-auto " + params.other.classes | default(''),
                        "attributes": params.other.attributes,
                        "label": {
                            "id": params.other.id + "-label",
                            "text": params.other.label.text,
                            "classes": 'u-fs-s--b'
                        },
                        "dontWrap": true,
                        "value": params.other.value
                    })
                }}
            </span>
        {% endif %}
    </span>
{% endmacro %}
