$checkbox-input-width: 1.25em;
$checkbox-padding: 0.6em;
$checkbox-label-vertical-padding: 0.75em;

.checkbox {
  z-index: 1;
  display: inline-block;
  position: relative;
  width: 100%;

  &__input {
    z-index: 1;
    box-sizing: border-box;
    appearance: none;

    position: absolute;
    top: $checkbox-padding + 0.15em;
    left: $checkbox-padding;

    width: $checkbox-input-width;
    height: $checkbox-input-width;

    border: 2px solid $color-input;
    border-radius: 0.2em;

    background: url(#{$static}/img/icons/icons--check.svg) no-repeat center center;
    background-size: 0px;

    &:focus,
    &:checked {
      outline: none;
    }

    &:checked {
      background-size: 14px;
    }
  }

  &__label {
    display: block;
    padding: $checkbox-padding 1em $checkbox-padding ($checkbox-padding * 2 + $checkbox-input-width);
    width: 100%;
    cursor: pointer;

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border: 1px solid $color-input;
      border-radius: 3px;

      background: $color-white;
    }

    * {
      pointer-events: none;
    }
  }

  &__description {
    display: block;
    margin-top: 0.25em;
    margin-left: -($checkbox-input-width + $checkbox-padding);
  }

  &__other {
    display: block;
    padding: 0 $checkbox-padding $checkbox-padding;
  }

  &__input:checked + &__label:before {
    background: $color-grey-5;
    box-shadow: 0 0 0 1px $color-input;
  }

  &__input:focus + &__label:before {
    @extend .input:focus;
  }

  &__input:not(:checked) ~ &__other {
    display: none;
  }

  &__input:not(:checked) ~ &__other--open {
    display: block;
  }

  &--toggle & {
    &__input {
      top: 0.1em;
      left: 0;

      &:focus {
        box-shadow: 0 0 0 3px $color-focus;
      }
    }

    &__label {
      padding: 0 0 0 ($checkbox-input-width + $checkbox-padding);

      &:before {
        border: 0;
        background: none;
      }
    }

    &__input:checked + .checkbox__label:before,
    &__input:focus + .checkbox__label:before {
      background: transparent;
      box-shadow: none;
    }

    &__input:focus + .checkbox__label:before {
      border: none;
      outline: none;
    }
  }
}
