$checkbox-input-width: 22px;
$checkbox-padding: 11px;

.ons-checkbox {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 1;

  &__input {
    appearance: none;
    background: url(#{$static}/img/icons--check.svg) no-repeat center center;
    background-color: $color-white;
    background-size: 0;
    border: 2px solid $color-input;
    border-radius: 0.2rem;
    box-sizing: border-box;
    height: $checkbox-input-width;
    left: $checkbox-padding;
    position: absolute;
    top: $checkbox-padding + 3px;
    width: $checkbox-input-width;
    z-index: 1;

    &:focus,
    &:checked {
      outline: none;
    }

    &:checked {
      background-size: 14px;
    }
  }

  &--no-border {
    & > .ons-checkbox__label {
      padding: 0 0 0 1.85rem;

      &::before {
        background: none;
        border: none;
        box-shadow: none;
      }

      & > .ons-checkbox__label--with-description {
        padding: 0;
      }
    }

    & > .ons-checkbox__input {
      left: 0.05rem;
      top: 0.15rem;

      &:checked,
      &:focus {
        background-color: initial;

        & + .ons-checkbox__label::before {
          background: none;
          border: none;
          box-shadow: none;
        }
      }

      &:focus {
        box-shadow: 0 0 0 3px $color-focus;
      }
    }

    & .ons-checkbox__other {
      margin: 0.5rem 0 0.5rem 0.5rem;
    }
  }

  &__label {
    cursor: pointer;
    display: block;
    padding: $checkbox-padding 1rem $checkbox-padding ($checkbox-padding * 2 + $checkbox-input-width);
    width: 100%;

    &--with-description {
      padding: 0 1rem $checkbox-padding 0;
    }

    &::before {
      background: $color-white;
      border: 1px solid $color-input;
      border-radius: 3px;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    * {
      pointer-events: none;
    }
  }

  &__description {
    display: block;
    margin-top: 0.25rem;
  }

  &__other {
    border-left: 4px solid $color-borders-indent;
    display: block;
    margin: 0 1rem 0.5rem 1.1rem;
    padding: 0 $checkbox-padding $checkbox-padding $checkbox-padding * 2 - 1;
  }

  &__input:checked + &__label::before {
    background: $color-grey-5;
    box-shadow: 0 0 0 1px $color-input;
  }

  .ons-panel--error .ons-radio__input:checked ~ &__other > .ons-input--text:required:not(:focus) {
    border: 1px solid $color-ruby-red;
    outline: 1px solid $color-ruby-red;
    outline-offset: -2px;
  }

  &__input:focus + &__label::before {
    @extend %ons-input-focus;
  }

  &__input:not(:checked) ~ &__other {
    display: none;
  }

  &__input:not(:checked) ~ &__other--open {
    display: block;
  }

  &--toggle & {
    &__input {
      left: 0;
      top: 0.1rem;

      &:focus {
        box-shadow: 0 0 0 3px $color-focus;
      }
    }

    &__label {
      padding: 0 0 0 ($checkbox-input-width + $checkbox-padding);

      &::before {
        background: none;
        border: 0;
      }
    }

    &__input:checked + .ons-checkbox__label::before,
    &__input:focus + .ons-checkbox__label::before {
      background: transparent;
      box-shadow: none;
    }

    &__input:focus + .ons-checkbox__label::before {
      border: 0;
      outline: none;
    }
  }
}
