.ons-checkboxes {
    &__label {
        display: block;
        margin: 0 0 0.5rem;
    }

    &__items {
        display: block;

        @include mq(s) {
            max-width: max-content;
        }
    }

    &__item {
        display: inline-block;
        margin: 0 0 0.5rem;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        @include mq(s) {
            min-width: 20rem;
            :has(select):first-child {
                min-width: 25rem;
            }

            &--no-border {
                min-width: 0;
            }
        }
    }

    &--mutually-exclusive__item {
        @extend .ons-checkboxes__item;

        margin-bottom: 0;

        @include mq(s) {
            max-width: max-content;
        }
    }
}
