{% macro onsCheckboxes(params) %}
    {% from "components/field/_macro.njk" import onsField %}
    {% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}

    {% call onsField({
        "id": params.id,
        "description": params.description,
        "classes": params.classes,
        "mutuallyExclusive": params.mutuallyExclusive,
        "legendClasses": params.legendClasses,
        "noField": params.noField
    }) %}
        <span class="field__label">{{ params.checkboxesLabel }}</span>
        <span class="field__items">
            {% for checkbox in params.checkboxes %}
                {% set labelHTML = checkbox.label.text %}
                {% if params.mutuallyExclusive %}  
                    {% set exclusiveClass = ' js-exclusive-group' %}
                {% endif %}
                <p class="field__item">
                    {% set config = {
                        "id": checkbox.id,
                        "name": checkbox.name,
                        "value": checkbox.value,
                        "checked": checkbox.checked,
                        "classes": checkbox.classes,
                        "inputClasses": exclusiveClass,
                        "label": {
                            "for": checkbox.id,
                            "text": labelHTML,
                            "description": checkbox.label.description,
                            "classes": checkbox.label.classes | default('') 
                        },
                        "attributes": checkbox.attributes
                    } %}

                    {% if checkbox.other %}
                        {% set config = config | setAttributes({
                            "other": {
                                "id": checkbox.other.id,
                                "name": checkbox.other.name,
                                "type": checkbox.other.type,
                                "classes": checkbox.other.classes | default('') + exclusiveClass | default(''),
                                "attributes": checkbox.other.attributes,
                                "label": {
                                    "text": checkbox.other.label.text
                                }
                            }
                        }) %}
                    {% endif %}
                    {{ onsCheckbox(config) }}
                </p>
                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </span>
    {% endcall %}
{% endmacro %}
