{% macro onsCheckboxes(params) %}
    {% from "components/fieldset/_macro.njk" import onsFieldset %}
    {% from "components/mutually-exclusive/_macro.njk" import onsMutuallyExclusive %}
    {% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
    {% from "components/button/_macro.njk" import onsButton %}

    {% set fields %}
        <p class="ons-checkboxes__label{{ " " + params.checkboxesLabelClasses if params.checkboxesLabelClasses }}">{{ params.checkboxesLabel }}</p>
        {% set hasOther = false %}
        {% for checkbox in params.checkboxes %}
            {% if checkbox.other %}
                {% set hasOther = true %}
            {% endif %}
        {% endfor %}
        {% if hasOther == false and params.autoSelect and params.autoSelect.selectAllText %}
            {% set btnClasses = ['small', 'secondary'] %}
            {% if params.borderlessParent == false %}
                {% set btnClasses = ['small', 'secondary', 'ghost-dark'] %}
            {% endif %}
            {{
                onsButton({
                    "html": '<span class="ons-js-button-text">' + params.autoSelect.selectAllText + '</span>' + '<span class="ons-u-vh"> ' + params.autoSelect.context + '</span>',
                    "variants": btnClasses,
                    "classes": 'ons-u-mb-s ons-js-auto-selector',
                    "attributes": {
                        "data-unselect-all": params.autoSelect.unselectAllText,
                        "data-select-all": params.autoSelect.selectAllText
                    }
                })
            }}
        {% endif %}
        <div class="ons-checkboxes__items">
            {% for checkbox in params.checkboxes %}
                {% set childIsChecked = false %}
                {% set labelHTML = checkbox.label.text %}
                {% if params.mutuallyExclusive %}
                    {% set exclusiveClass = ' ons-js-exclusive-group-item' %}
                {% endif %}
                {% if params.borderless %}
                    {% set borderless = " ons-checkbox--no-border" %}
                {% endif %}
                {% if checkbox.other %}
                    {% set otherClass = " ons-js-other" %}
                    {% if checkbox.other.selectAllChildren == true %}
                        {% set otherClass = otherClass + " ons-js-select-all-children" %}
                    {% endif %}
                    {% for otherCheckbox in checkbox.other.checkboxes %}
                        {% if otherCheckbox.checked %}
                            {% set childIsChecked = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <span class="ons-checkboxes__item{{ " ons-checkboxes__item--no-border" if params.borderless }}">
                    {% set config = {
                        "id": checkbox.id,
                        "name": checkbox.name,
                        "value": checkbox.value,
                        "checked": childIsChecked if childIsChecked == true else checkbox.checked,
                        "disabled": checkbox.disabled,
                        "borderless": params.borderless,
                        "classes": checkbox.classes | default('') + borderless | default(''),
                        "inputClasses": exclusiveClass | default('') + otherClass | default(''),
                        "label": {
                            "for": checkbox.id,
                            "text": labelHTML,
                            "description": checkbox.label.description,
                            "classes": checkbox.label.classes | default('')
                        },
                        "attributes": checkbox.attributes
                    } %}

                    {% if checkbox.other %}
                        {% set config = config | setAttributes({
                            "other": {
                                "open": checkbox.other.open | default(false),
                                "id": checkbox.other.id,
                                "name": checkbox.other.name,
                                "type": checkbox.other.type,
                                "otherType": checkbox.other.otherType,
                                "options": checkbox.other.options,
                                "width": checkbox.other.width,
                                "classes": ("ons-input--error" if params.error and checkbox.checked else "") + checkbox.other.classes | default('') + exclusiveClass | default(''),
                                "attributes": checkbox.other.attributes,
                                "label": {
                                    "text": checkbox.other.label.text
                                },
                                "legend": checkbox.other.legend,
                                "legendClasses": checkbox.other.legendClasses,
                                "value": checkbox.other.value,
                                "autoSelect": checkbox.other.autoSelect,
                                "selectAllChildren": checkbox.other.selectAllChildren,
                                "checkboxes": checkbox.other.checkboxes,
                                "radios": checkbox.other.radios
                            }
                        }) %}
                    {% endif %}
                    {{ onsCheckbox(config) }}
                </span>
                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    {% endset %}

    {% if params.mutuallyExclusive %}
        {% call onsMutuallyExclusive({
            "id": params.id,
            "classes": params.classes,
            "legend": params.legend,
            "legendClasses": params.legendClasses,
            "description": params.description,
            "attributes": params.attributes,
            "dontWrap": params.dontWrap,
            "legendIsQuestionTitle": params.legendIsQuestionTitle,
            "exclusiveOptions": params.mutuallyExclusive.exclusiveOptions,
            "or": params.mutuallyExclusive.or,
            "deselectMessage": params.mutuallyExclusive.deselectMessage,
            "deselectGroupAdjective": params.mutuallyExclusive.deselectGroupAdjective,
            "deselectExclusiveOptionAdjective": params.mutuallyExclusive.deselectExclusiveOptionAdjective,
            "error": params.error
        }) %}
            {{ fields | safe }}
        {% endcall %}
    {% else %}
        {% call onsFieldset({
            "id": params.id,
            "classes": params.classes,
            "legend": params.legend,
            "legendClasses": params.legendClasses,
            "legendIsQuestionTitle": params.legendIsQuestionTitle,
            "description": params.description,
            "attributes": params.attributes,
            "dontWrap": params.dontWrap,
            "error": params.error
        }) %}
            {{ fields | safe }}
        {% endcall %}
    {% endif %}
{% endmacro %}
