{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/question/_macro.njk" import onsQuestion %}

{%
    call onsQuestion({
        "title": "What type of central heating does your accommodation have?",
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true
    })
%}
    {{
        onsCheckboxes({
            "checkboxesLabel": "Select all that apply",
            "dontWrap": true,
            "name": "central-heating",
            "checkboxes": [
                {
                    "id": "none-checkbox-with-description",
                    "label": {
                        "text": "No central heating"
                    },
                    "name": "none"
                },
                {
                    "id": "mains-gas-checkbox-with-description",
                    "label": {
                        "text": "Gas",
                        "description": "Including tank or bottled gas"
                    },
                    "name": "mains-gas"
                },
                {
                    "id": "electric-checkbox-with-description",
                    "label": {
                        "text": "Electric",
                        "description": "Including storage headers"
                    },
                    "name": "electric"
                },
                {
                    "id": "oil-checkbox-with-description",
                    "label": {
                        "text": "Oil"
                    },
                    "name": "oil"
                },
                {
                    "id": "wood-checkbox-with-description",
                    "label": {
                        "text": "Wood",
                        "description": "For example, logs, waste wood or pellets"
                    },
                    "name": "wood"
                },
                {
                    "id": "solid-fuel-checkbox-with-description",
                    "label": {
                        "text": "Solid fuel",
                        "description": "For example, coal"
                    },
                    "name": "solid-fuel"
                },
                {
                    "id": "renewable-checkbox-with-description",
                    "label": {
                        "text": "Renewable energy",
                        "description": "For example, solar thermal or heat pumps"
                    },
                    "name": "renewable"
                }
            ]
        })
    }}
{% endcall %}
