---
title: Checkboxes
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/icon-link/_macro.njk" import onsIconLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Checkboxes let the user select one or more options from a list.

{{
    patternlibExample({"path": "components/checkboxes/examples/checkboxes/index.njk"})
}}

## When to use this component
Use the checkboxes component when you need to help users select multiple options from a list.

## When not to use this component
Do not use the checkboxes component if users can only choose one option from a list. In this case, use the [radios](/components/radios) component.

## How to use this component
Checkboxes are grouped within a [fieldset](/components/fieldset) which starts with a `<legend>` which lets the user know what they need to do.

## Variants

### Other
This variant lets the user provide an answer other to the options in the list, or to provide supplemental information required to describe the nature of their answer.

The checkbox label must be directly followed by the `checkbox__description` to let the user know they will need to provide an answer if they select this option.

Use this varation by wrapping the text field in a div with class `checkbox__other`, added directly after the checkbox label. CSS hides this field until the checkbox is `:checked`.

{{
    patternlibExample({"path": "components/checkboxes/examples/checkboxes-other/index.njk"})
}}

### Other - visible input
This variant of the 'Other' checkbox input type shows the input instead of waiting for the checkbox to be `:checked`. This variant does not require the `checkbox__description` to be present.

{{
    patternlibExample({"path": "components/checkboxes/examples/checkboxes-other-open/index.njk"})
}}

### Other - select
This variant of the 'Other' checkboxes input type uses a select instead of an input.

{{
    patternlibExample({"path": "components/checkboxes/examples/checkboxes-select/index.njk"})
}}


## Research on this components
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsIconLink({
            "url": "https://github.com/ONSdigital/design-system/issues/13",
            "linkText": "Design System Forum",
            "type": "external"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsIconLink({
        "url": "https://github.com/ONSdigital/design-system/issues/13",
        "linkText": "Discuss 'Checkboxes' on GitHub",
        "type": "external"
    })
}}
