{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Turnover",
        "questions": [
            {
                "title": "What are the dates of the sales period you are reporting for?",
                "answers": [
                    {
                        "answer": "01 January 2015 to 02 February 2017",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            }
        ]
    })
}}
