{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Turnover",
        "rows": [
            {
                "title": "What are the dates of the sales period you are reporting for?",
                "rowItems": [
                    {
                        "valueList": [ 
                            {
                                "text": "01 January 2015 to 02 February 2017"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Change",
                                "ariaLabel": "Change answer for: What are the dates of the sales period you are reporting for?",
                                "url": "#"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Total turnover",
                "rowItems": [
                    {
                        "valueList": [
                            {
                                "text": "£234,000.00"
                            }
                        ],
                        "actions": [
                            {
                                "text": "Change",
                                "ariaLabel": "Change answer for: Total turnover",
                                "url": "#"
                            }
                        ]
                    }
                ]
            }
        ]
    })
}}
