<div class="grid">
    {% for item in params.items -%}
        {% for i in range(0, item.repeat | default(1)  ) -%}
            <div class="grid__col col-{{ item.col }}@m">
                <div class="grid__helper">{{ item.col }} col</div>
            </div>
        {%- endfor %}
    {%- endfor %}
</div>