---
"theme": census
---
{% from "components/panel/_macro.njk" import onsPanel %}

{% call onsPanel({
        "type": 'warn-branded'
    })
%}

<p class="u-mb-no">You must complete the census by law or you could be fined up to £1,000</p>
<p class="u-fs-r">Some questions are labelled as voluntary. It is not an offence if you do not answer these.</p>

{% endcall %}
