{% macro onsModal(params) %}    
    {% set modalID = params.id | default('dialog') %}
    <dialog class="ons-modal ons-js-modal {{ params.classes }}"
        id="{{ modalID }}"
        role="dialog"
        aria-labelledby="ons-modal-title"
        {% if params.attributes is defined and params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %} {{attribute}}="{{value}}"{% endfor %}{% endif %}
    >
        <h1 id="ons-modal-title" class="ons-modal__title">
            {{ params.title }}
        </h1>
        <div class="ons-modal__body">
            {{ (params.body if params else "") | safe }}{{ caller() if caller }}
        </div>
        {% if params.btnText %}
            {% from "components/button/_macro.njk" import onsButton %}
            {{ onsButton({
                "text": params.btnText,
                "classes": "ons-js-modal-btn ons-u-mt-s"
            }) }}
        {% endif %}
    </dialog>
{% endmacro %}
