{% from "components/button/_macro.njk" import onsButton %}
{% macro onsModal(params) %}
    <dialog class="ons-modal ons-js-modal"
        id="dialog"
        role="dialog"
        aria-labelledby="ons-modal-title"
        {% if params.options is defined and params.options %}{{ params.options }}{% endif %}
    >
        <h1 id="ons-modal-title" class="ons-modal__title">
            {{ params.title }}
        </h1>
        <div class="ons-modal__body">
            {{ (params.body if params else "") | safe }}{{ caller() if caller }}
        </div>
        {% if params.btnText %}
            {{ onsButton({
                "text": params.btnText,
                "classes": "ons-js-close-modal ons-u-mt-s"
            }) }}
        {% endif %}
    </dialog>
{% endmacro %}
