$backdrop-colour: rgba(0, 0, 0, 0.8);

.ons-modal {
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 0 7px 0 #000;
  display: none;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 500px;
  padding: 2rem;
  position: relative;
  width: auto;

  &-ie11 & {
    background: $color-white;
    bottom: 0;
    height: 350px;
    left: 0;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  @media screen and (min-width: 600px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &::backdrop {
    backdrop-filter: blur(3px);
    background: $backdrop-colour;
  }

  & + .backdrop {
    background: $backdrop-colour;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.ons-modal-overlay {
  overflow: hidden;
}
