---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "poweredBy": true,
        "cols": [
            {
                "title": 'Legal information',
                "itemsList": [
                    {
                        "text": 'Cookies and privacy',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'About ONS',
                "itemsList": [
                    {
                        "text": 'What we do',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Statistics',
                "itemsList": [
                    {
                        "text": 'UK Statistics Authority',
                        "url": '#0'
                    },
                    {
                        "text": 'Release calendar',
                        "url": '#0'
                    },
                    {
                        "text": 'News',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    })
}}
