.adv-filter {
  &__gallery {
    margin-left: 0;
    padding-left: 0;
    border-top: 1px solid $color-grey-4;
  }

  &__item {
    margin-top: 1.5rem;

    &:first-of-type {
      margin-top: 1.5rem;
    }
  }

  &__selection {
    margin-bottom: 0.5rem;
    color: $color-grey-1;
  }

  &__results-options {
    margin-bottom: 1.5rem;
  }

  &__results-sort {
    margin-top: 0.5rem;
  }

  &__reset {
    padding: 0;
    border: 0 none;
    background-color: transparent;
    color: $color-grey-1;
    font-family: inherit;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $color-black;
    }

    &:focus {
      outline: 3px solid transparent;
      background-color: $color-yellow;
      box-shadow: 0 -2px $color-yellow, 0 4px $color-black;
      color: $color-black;
      text-decoration: none;
    }
  }

  &__results-sort {
    display: flex;
    align-items: center;

    .label {
      margin-right: 0.5rem;
      margin-bottom: 0;
      font-weight: normal;
    }

    .input--select {
      width: auto !important;
    }
  }

  &__panel {
    display: none;
  }

  &__panel--is-visible {
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: calc(100% - 76px); // Height of action buttons
    overflow-y: scroll;
    background-color: $color-white;
  }

  &__actions {
    z-index: 11;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 0 5px 0 rgba($color-black, 0.5), 0 -1px 0 0 rgba($color-grey-1, 0.5);

    .btn:first-of-type {
      flex-grow: 1;
    }

    .btn + .btn {
      margin-left: 1rem;
    }
  }

  @include mq(s) {
    &__results-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__results-sort {
      margin-top: 0; // Reset
    }
  }

  @include mq(m) {
    &__actions {
      display: none;
    }

    &__trigger {
      display: none;
    }

    &__panel {
      display: block;
    }

    .no-scroll {
      overflow: auto;
    }
  }
}

// No JavaScript
body:not(.js-enabled) {
  .adv-filter {
    &__actions {
      display: none;
    }

    &__panel {
      display: block;
    }

    &__trigger {
      display: none;
    }

    &__no-results {
      display: none;
    }

    &__selection {
      display: none;
    }
  }
}

.filter__item {
  display: block; // Accessible way of removing bullets (don’t use list-style-type: none; https://github.com/jensimmons/cssremedy/issues/15#issuecomment-462174177)
  margin-bottom: 0; // Reset default margin bottom on list items
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $color-grey-4;
}

// Prevent scrollbars on body
.no-scroll {
  overflow-y: hidden;
}
