.ons-adv-filter {
  &__gallery {
    border-top: 1px solid $color-grey-15;
    margin-left: 0;
    padding-left: 0;
  }

  &__item {
    margin-top: 1.5rem;

    &:first-of-type {
      margin-top: 1.5rem;
    }

    .ons-checkboxes__item {
      min-width: auto;
    }
  }

  &__selection {
    color: $color-grey-100;
    margin-bottom: 0.5rem;
  }

  &__results-options {
    margin-bottom: 1.5rem;
  }

  &__results-sort {
    align-items: center;
    display: flex;
    margin-top: 0.5rem;

    .ons-label {
      font-weight: normal;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    .ons-input--select {
      width: auto !important;
    }
  }

  &__panel {
    display: none;
  }

  &__panel--is-visible {
    background-color: $color-white;
    bottom: 0;
    display: block;
    height: calc(100% - 76px); // Height of action buttons
    left: 0;
    overflow-y: scroll;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  &__actions {
    background-color: $color-white;
    bottom: 0;
    box-shadow: 0 0 5px 0 rgba($color-black, 0.5), 0 -1px 0 0 rgba($color-grey-100, 0.5);
    display: flex;
    left: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 11;

    .ons-btn:first-of-type {
      flex-grow: 1;
    }

    .ons-btn + .ons-btn {
      margin-left: 1rem;
    }
  }

  @include mq(s) {
    &__results-options {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__results-sort {
      margin-top: 0; // Reset
    }
  }

  @include mq(m) {
    &__actions {
      display: none;
    }

    &__trigger {
      display: none;
    }

    &__panel {
      display: block;
    }

    .ons-no-scroll {
      overflow: auto;
    }
  }
}

// No JavaScript
body:not(.ons-js-enabled) {
  .ons-adv-filter {
    &__actions {
      display: none;
    }

    &__panel {
      display: block;
    }

    &__trigger {
      display: none;
    }

    &__no-results {
      display: none;
    }

    &__selection {
      display: none;
    }
  }
}

.ons-filter__item {
  border-bottom: 1px solid $color-grey-15;
  display: block; // Accessible way of removing bullets (don’t use list-style-type: none; https://github.com/jensimmons/cssremedy/issues/15#issuecomment-462174177)
  margin-bottom: 0; // Reset default margin bottom on list items
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

// Prevent scrollbars on body
.ons-no-scroll {
  overflow-y: hidden;
}
