{% macro onsContentPagination(params) %}
  <nav class="ons-content-pagination" aria-label="{{ params.ariaLabel | default("Guide pagination") }}">
    <ul class="ons-content-pagination__list">
      {% for contentPaginationItem in params.contentPaginationItems %}
        <li class="ons-content-pagination__item">
          <a href="{{ contentPaginationItem.url }}" class="ons-content-pagination__link" rel="{{ contentPaginationItem.rel }}">
            <span class="ons-content-pagination__link-title">
                {% if contentPaginationItem.rel == 'prev' %}
                  {% from "components/icons/_macro.njk" import onsIcon %}
                  {{
                      onsIcon({
                          "iconType": 'arrow-previous',
                          "iconSize": 'm'
                      })
                  }}
                {% else %}
                  {% from "components/icons/_macro.njk" import onsIcon %}
                  {{
                      onsIcon({
                          "iconType": 'arrow-next',
                          "iconSize": 'm'
                      })
                  }}
                {% endif %}
              <span class="ons-content-pagination__link-text">
                {{ contentPaginationItem.text }}
              </span>
            </span>
            <span class="ons-content-pagination__link-divider ons-u-vh">{{ contentPaginationItem.bridgingText | default("page in this guide is:") }}</span>
            <span class="ons-content-pagination__link-label">{{ contentPaginationItem.label }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
