{% from "components/summary/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Summary - Section Title",
        "questions": [
            {
                "title": "Total value of acquisitions for transport assets and equipment",
                "answers": [
                    {
                        
                        "answer": "£9,000.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            },
            {
                "title": "Total value of acquisitions for computers and peripheral devices (hardware)",
                "answers": [
                    {
                        
                        "answer": "£234,000.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            },
            {
                "title": "Grand total for value of acquisitions",
                "total": true,
                "answers": [
                    {
                        "answer": "£234,000.00"
                    }
                ]
            }
        ]
    })
}}
