{% from "components/panel/_macro.njk" import onsPanel %}
{{
    onsPanel({
        "type": "success",
        "id": "success-id",
        "icon": "check-green",
        body: "Information has been successfully submitted."
    })
}}
