{% from "components/panel/_macro.njk" import onsPanel %}
{{
    onsPanel({
        "type": "success",
        "id": "success-id",
        "icon": "check-green",
        body: "<p>Information has been successfully submitted.</p>"
    })
}}
