.download {
  display: flex;

  & + & {
    margin: 1.5rem 0 0;
    padding: 1.5em 0 0;
    border-top: 1px solid $color-grey-2;
  }

  &__image {
    flex: 0 0 auto;
    margin-right: 1.5rem;
    width: 96px;
  }

  &__image-link {
    display: block;
    box-sizing: content-box;
    width: 100%;
    border: 2px solid $color-grey-4;

    &:focus {
      border-color: $color-document-border-focus;
      box-shadow: none;
      outline: 4px solid $color-focus !important;
      outline-offset: 0;
    }
  }

  &__meta {
    display: block;
    color: $color-grey-1;
  }

  &__excerpt {
    margin-bottom: 0;
    max-width: 660px; // Equivalent to 8 Columns
  }
}
