{% macro onsDownloads(params) %}
    <div class="downloads{{ ' ' + params.classes if params.classes else '' }}"> 
        {% for download in (params.downloads if params.downloads is iterable else params.downloads.items()) %}
            <section class="download">
                <div class="download__thumbnail" aria-hidden="true">
                    <a href="{{ download.url }}" class="download__thumbnail-link">
                        <img src="{{ download.thumbnail }}" />
                    </a>
                </div>
                <div class="download__details">
                    <h2 class="download__title">
                        <a href="{{ download.url }}">{{ download.title }} <span class="u-vh">, {{ download.typeAbbr }} {{ download.accessibilityText }}{% if download.fileSize %}, {{ download.fileSize }}{% endif %}{% if download.pages %}, {{ download.pages }}{% endif %}</span></a>
                    </h2>
                    <p class="download__metadata u-fs-s">
                        <abbr class="download__file-type" title="{{ download.type }}">{{ download.typeAbbr }}</abbr>{% if download.fileSize %}, {{ download.fileSize }}{% endif %}{% if download.pages %}, {{ download.pages }}{% endif %}
                    </p>
                    {% if download.accessibilityMessage and download.accessibilityURL and download.accessibilityLinkText %}
                        <p class="download__accessibility">
                            {{ download.accessibilityMessage }}
                            <br><a href="{{ download.accessibilityURL }}">{{ download.accessibilityLinkText }}</a>
                        </p>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endmacro %}
