---
title: Downloads
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}

Displays a link to download an attachment and metadata about the file.

## Single download
{{
    patternlibExample({"path": "components/downloads/examples/downloads-single/index.njk"})
}}

## Multiple downloads
{{
    patternlibExample({"path": "components/downloads/examples/downloads-multiple/index.njk"})
}}

## Research on this component
{%call onsPanel() %}
    <p>If you have conducted any user research using this component, please feed back your findings via the <a href='https://github.com/ONSdigital/design-system/issues/716'>Design System Forum</a></p>
{% endcall %}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/716" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Downloads' on GitHub</a>
