---
title: Downloads
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Displays a link to download an attachment and metadata about the file.

{{	
    onsPanel({	
        "body": "This component requires documentation."	
    })	
}}

## Single download
{{
    patternlibExample({"path": "components/downloads/examples/downloads-single/index.njk"})
}}

## Single download (no image)
In situations an image is not used, we require a fallback image to prevent a broken link.
{{
    patternlibExample({"path": "components/downloads/examples/downloads-single-noimage/index.njk"})
}}

## Multiple downloads
{{
    patternlibExample({"path": "components/downloads/examples/downloads-multiple/index.njk"})
}}

## How to use this component
We use two versions of the image, one for standard screens and the other for retina screens.

Image dimension for:

* standard screen is: `96px × 136px`
* retina screen is: `192px × 272px`

We specify a folder path for both small and large images, which is defined in the macro as `smallSrc` and `largeSrc`. The filename is expected to be the same for both.

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/issues/716",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/716",
        "linkText": "Discuss 'Downloads' on GitHub",
        "type": "external"
    })
}}
