---
title: Downloads
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Requires documentation

{{
    patternlibExample({"path": "components/downloads/examples/downloads-single/index.njk"})
}}
