{% from "components/timeout-modal/_macro.njk" import onsTimeoutModal %}

<div style="min-height:20rem;">
    {{
        onsTimeoutModal({
            "showModalTimeInSeconds": 60,
            "redirectUrl": "#!",
            "title": "You will be signed out soon",
            "textFirstLine": "It appears you have been inactive for a while.",
            "countdownText": "To protect your information, your progress will be saved and you will be signed out in",
            "countdownExpiredText": "You are being signed out.",
            "btnText": "Continue survey",
            "minutesTextSingular": "minute",
            "minutesTextPlural": "minutes",
            "secondsTextSingular": "second",
            "secondsTextPlural": "seconds",
            "endWithFullStop": true
        })
    }}
</div>
