.field-group {
    font-size: 0;

    .field {
        display: inline-block;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
        vertical-align: top;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
