.field-group {
  font-size: 0;

  .field {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
