.field {
  background: none;

  &__legend {
    @extend .label;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__description {
    @extend .label__description;
  }

  &__group {
    @extend .u-cf;
    margin-top: -1rem;
  }

  &__item {
    display: inline-block;
    position: relative;
  }

  & > &,
  &__items > & {
    &__item {
      margin: 0 0 0.5rem;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      @include mq(m) {
        &:not([class*='field__item--w-']) {
          width: auto;
          min-width: 20rem;
        }
      }
    }
  }

  &__group > &__item {
    float: left;
    margin: 1rem 1rem 0 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__other {
    display: none;
    clear: both;
    padding: 0 0.5rem 0.5rem;
    background-color: $color-grey-5;

    input:checked ~ & {
      display: block;
    }
  }

  // Modifiers
  &--question & {
    &__legend h1 {
      display: inline-block;
      margin-bottom: 0;
    }

    &__description {
      @extend .u-fs-r;
      @extend .u-mb-m;
    }
  }

  &--date & {
    &__legend {
      @extend .u-fs-m;
    }
  }
}

@include input-width('field__item--w-{x}');
