.field {
  background: none;
}

.field__legend {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: $font-weight-bold;
}

.field__label {
  margin-bottom: 0.5rem;
}

.field__description {
  margin-bottom: 0.5em;
  color: $color-very-dark-grey;
}

.field__group {
  @extend .u-cf;
}

.field__item {
  display: table;
  position: relative;

  .field > & {
    margin: 0 0.5rem 0.5rem 0;
    width: 100%;

    @include mq(m) {
      &:not([class*='field__item--w-']) {
        width: auto;
        min-width: 20rem;
      }
    }
  }

  .field__group > & {
    float: left;
    margin: 0 1rem 1rem 0;
  }

  .field__group > &:last-of-type {
    margin-right: 0;
  }
}

@include input-width('field__item--w-{x}');

.field:not(.field--cols) {
  .field__item:last-of-type {
    margin-bottom: 0;
  }
}

.field__other {
  display: none;
  clear: both;
  background-color: $color-lighter-grey;
  padding: 0 0.5rem 0.5rem;
  @include fixed {
    display: block;
  }
}

input:checked ~ .field__other {
  display: block;
}
.field--radio,
.field--checkbox {
  font-size: 0;

  .field__item {
    display: table;
    font-size: 1rem;
    background: white;
    border: 1px solid #999;
    border-radius: 0.2rem;
    cursor: pointer;
    position: relative;
    transition: background-color 200ms ease-in, color 200ms ease-in, border-color 200ms ease-in;
    &:hover {
      border-color: $color-links-hover;
      box-shadow: none;
    }
  }

  &.field--cols {
    @include mq(s) {
      display: flex;
      flex-wrap: wrap;
      .field__item {
        min-width: 0;
        width: calc(50% - 1rem);
      }
      .label {
        width: 100%;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// .fieldgroup {
//   display: block;

//   &--inline &__fields {
//     margin: 0 0 $input-padding * -2;

//     .field {
//       display: flex;
//       flex: 0 0 auto;
//       flex-direction: column;
//       justify-content: flex-end;
//       margin: 0 $input-padding * 2 $input-padding * 2 0;
//     }
//   }

//   &--inline & {
//     &__title {
//       display: inline-block;
//       font-weight: 700;
//       margin: 0 0 0.5rem;
//       width: 100%;
//     }

//     &__fields {
//       display: flex;
//       flex-wrap: wrap;
//       width: 100%;
//     }
//   }
// }
