.field {
    position: relative;

    &__other {
        background-color: $color-grey-5;
        clear: both;
        display: none;
        padding: 0 0.5rem 0.5rem;

        input:checked ~ & {
            display: block;
        }
    }
}

@include input-width('field__item--w-{x}');
