{% macro onsField(params) %}
    <p 
        {% if params.id %}id="{{ params.id }}"{% endif %}
        class="field"
        {% if params.attributes %}{% for attribute, value in (params.attributes.items() if params.attributes is mapping and params.attributes.items else params.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
    >
        {{ caller() }}
    </p>
{% endmacro %}
