---
title: Field
---
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

## When to use this component
The field component is used to wrap form input components to provide layout.

## How to use this component
Generally speaking you should not need to {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#call",
        "linkText": "call"
    })
}} `onsField` yourself as it is already called from within form input components. However if you need to create a pattern or component that requires a field you can use {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#call",
        "linkText": "nunjucks' call functionality"
    })
}} `onsField`.

The field will render as a `<div>` with the class `field`.

### Configuration
{% markdown %}
| Name       | Type                                 | Required | Description                                                       |
| ---------- | ------------------------------------ | -------- | ----------------------------------------------------------------- |
| id         | string                               | true     | The id of the field                                               |
| classes    | string                               | false    | Classes to apply to the field                                     |
| attributes | object                               | false    | HTML attributes (for example data attributes) to add to the field |
| error      | `Error` [_(ref)_](/components/error) | false    | Configuration for validation errors                               |
{% endmarkdown %}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/35",
        "linkText": "Discuss the ‘Field’ component on GitHub"
    })
}}
