---
title: Field
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

## When to use this component
The field component is used to wrap form input components to provide layout.

## How to use this component
Generally speaking you should not need to [call](https://mozilla.github.io/nunjucks/templating.html#call) `onsField` yourself as it is already called from within form input components. However if you need to create a pattern or component that requires a field you can use [nunjucks' call functionality](https://mozilla.github.io/nunjucks/templating.html#call) `onsField`.

The field will render as a `<div>` with the class `field`.

### Configuration
{% md %}
| Name       | Type                                 | Required | Description                                                       |
| ---------- | ------------------------------------ | -------- | ----------------------------------------------------------------- |
| id         | string                               | true     | The id of the field                                               |
| classes    | string                               | false    | Classes to apply to the field                                     |
| attributes | object                               | false    | HTML attributes (for example data attributes) to add to the field |
| error      | `Error` [_(ref)_](/components/error) | false    | Configuration for validation errors                               |
{% endmd %}


## Research on this component
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
   <p>If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/35" target="_blank" rel="noopener" class="icon--external-link">Design System forum</a></p>
{% endcall %}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/35" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Field' on GitHub</a>
