---
title: Confirmation
group: Pages
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}

A confirmation page lets the user know they have completed a transaction or survey.

{{
    patternlibExample({"path": "patterns/confirmation/examples/confirmation-basic/index.njk"})
}}

## When to use this pattern

Use this pattern at the end of a survey or transaction when the user has completed their task.

## How to use this pattern

A confirmation page...

When using this pattern you should:
{{
    onsList({
        "itemsList": [
            {
                "text": 'abc'
            }
        ]
    })
}}

When using this pattern you could also include:
{{
    onsList({
        "itemsList": [
            {
                "text": 'confirmation email form'
            },
            {
                "text": 'feedback form'
            }
        ]
    })
}}

## Confirmation page with optional confirmation email and feedback forms

{{
    patternlibExample({"path": "patterns/confirmation/examples/confirmation-with-email-and-feedback/index.njk"})
}}

## Research on this pattern

{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/1470",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1470",
        "linkText": "Discuss 'Email addresses' on GitHub"
    })
}}
