.uac {
  &__field {
    display: inline-block;
    position: relative;
    padding: 1rem;
    border: 8px solid $color-dark-blue;
  }

  &__input {
    max-width: 12.6em;
    // Used to fix clipped lowercase g and y
    height: 100%;
    font-family: $font-mono;
    font-weight: bold;

    @media all and (min-width: 375px) {
      font-size: 22px;
      letter-spacing: 0.01em;
    }

    @include mq('s') {
      width: 14.9em !important;
      max-width: 14.9em;
      font-size: 24px;
      letter-spacing: 0.14em;
    }
  }

  &__security {
    display: flex;
  }
}
