.uac {
  &__input {
    max-width: 12.6em;
    // Used to fix clipped lowercase g and y
    height: 100%;
    font-family: $font-mono;
    font-weight: bold;
    text-transform: uppercase;

    @media all and (min-width: 375px) {
      font-size: 22px;
      letter-spacing: 0.01em;
    }

    @include mq('s') {
      width: 14.9em !important;
      max-width: 14.9em;
      font-size: 24px;
      letter-spacing: 0.14em;
    }

    &--margin {
      margin-bottom: 9px;
    }
  }

  &__security {
    display: flex;
  }
}
