---
title: "Example: Service unavailable error"
layout: ~
---
{% extends "layout/_template.njk" %}
{% set pageConfig = {
    "header": {
        "title": "Service name"
    },
    "footer": {
    }
} %}
{% block main %}
    <h1>Sorry, there is a problem with the service</h1>
    <p>Try again later.</p>
    <p>If you have started a survey, your answers have been saved.</p>
    <p>If you need to speak to someone about your survey, <a href="#0">contact us</a>.</p>
{% endblock %}
