---
title: Error and status pages
group: Pages
anchorLinks: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

Error and status pages tell the user there is a problem with the page they are trying to view.

## How to use this pattern

All error and status pages should:

{{
    onsList({
        "itemsList": [
            {
                "text": "summarise the problem in the <code>h1</code> heading"
            },
            {
                "text": "be clear and concise, and not blame the user"
            }
        ]
    })
}}

All error pages should not:

{{
    onsList({
        "itemsList": [
            {
                "text": "have breadcrumbs"
            },
            {
                "text": "display vague terms or jargon like '500', '404', 'bad request' or ‘we are experiencing technical difficulties’"
            },
            {
                "text": "use red text to warn people"
            }
        ]
    })
}}

Contact information should either:

{{
    onsList({
        "itemsList": [
            {
                "text": "be a link to a specific page that includes numbers and opening times, or"
            },
            {
                "text": "include all numbers and opening times"
            }
        ]
    })
}}

## 404 error

Use a 404 error page if the user has tried to view a page that does not exist. This could happen if someone:

{{
    onsList({
        "itemsList": [
            {
                "text": "enters a URL incorrectly"
            },
            {
                "text": "enters a URL for a page that does not exist"
            },
            {
                "text": "selects a link or button that takes them to a page that does not exist"
            }
        ]
    })
}}

The page should have:

{{
    onsList({
        "itemsList": [
            {
                "text": "‘Page not found – [service name] – Office for National Statistics’ as the page <code>title</code>"
            }
        ]
    })
}}

{{
    patternlibExample({ "path": "patterns/error-status-pages/examples/404-error/index.njk" })
}}

### 404 error with reference code

Use an [error panel](/components/panel#error) to display any reference code your service’s customer support staff may require the user to quote during a call.

{{
    patternlibExample({ "path": "patterns/error-status-pages/examples/404-error-with-code/index.njk" })
}}

### 401/403 error

Use a 401 or 403 error page when the user is denied access to a service.

{{
    patternlibExample({ "path": "patterns/error-status-pages/examples/401-403-error/index.njk" })
}}

## 500 Server errors

Use a server error page when there is any kind of unexpected problem with the service.

All errors should be logged and fixed as soon as possible.  Only display this page for a short period of time.  If the errors cannot be fixed quickly, then disable the service and display a [maintenance notice](#maintenance-notice) page instead.

The page should have:
{{
    onsList({
        "itemsList": [
            {
                "text": "‘An error has occurred – [service name] – Office for National Statistics’ as the page <code>title</code>"
            },
            {
                "text": "a link to an alternative service that may help the user continue their task (if available)"
            }
        ]
    })
}}

{{
    patternlibExample({ "path": "patterns/error-status-pages/examples/500-error/index.njk" })
}}

### Maintenance notice (503)

Use a maintenance notice page when the service needs to be disabled in order to fix problems or deploy upgrades.  As soon as you know when the service will be available again, update the page to let the user know.

The page should have:
{{
    onsList({
        "itemsList": [
            {
                "text": "‘This service is temporarily unavailable – [service name] – Office for National Statistics’ as the page <code>title</code>"
            },
            {
                "text": "the date and time the service will be available (if known)"
            },
            {
                "text": "contact information (if it exists) that will help meet a user need"
            },
            {
                "text": "a link to an alternative service that may help the user continue their task (if available)"
            }
        ]
    })
}}

{{
    patternlibExample({ "path": "patterns/error-status-pages/examples/503-error/index.njk" })
}}

## Session timed out error

Use a timeout error if you need to store the user's information in a browser session with an expiry time to protect their information. When the session expires, use the timeout error message.

Timeout could be needed because a user has been inactive, or because they have followed a link to the middle of a process where the required session data is missing.

The page should:
{{
    onsList({
        "itemsList": [
            {
                "text": "explain in the header what has happened, for example, “Sorry, you need to sign in again”"
            },
            {
                "text": "give information about why the timeout occurred"
            },
            {
                "text": "inform the user their progress has been saved if this is relevant"
            },
            {
                "text": "have a link for the user to sign in again"
            }
        ]
    })
}}

### Timeout error when user is not signed in

A user may not be signed in but still need to be timed out. For example, if they are carrying out a transaction or request and we need to collect information from them such as an address. Because they are not signed in, the heading and call to action will need to change to reflect what they are doing. For example, “Sorry, you need to start again” and “You need to start again to request a new access code”.

{{
    patternlibExample({ "path": "patterns/error-status-pages/examples/timeout-error/index.njk" })
}}

## Research on this pattern
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/237",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/237",
        "linkText": "Discuss 'Error and status pages' on GitHub"
    })
}}
