// Block
.header {
  display: block;
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & &__svg-logo {
    display: block;
    width: 100%;
    height: auto;
    fill: $color-white;
  }

  // Elements
  &__top {
    width: 100%;
    background: $color-white;
  }

  &__grid-top {
    height: 54px;

    @include mq(s) {
      height: 46px;
    }
  }

  &__grid-top-nisra {
    height: 76px;
  }

  &__logo {
    &:focus {
      outline: 3px solid transparent;
      background-color: $color-focus;
      box-shadow: 0 -2px $color-focus, 0 4px $color-focus-text;
      color: $color-focus-text;
    }
  }

  &__logo {
    margin-bottom: 2px;
  }

  &__main {
    padding: 0.56rem 0;
    background: $color-header;

    @include mq(m) {
      padding: 1.1rem 0;
    }

    &--border {
      padding: 0.934rem 0;
      border-top: 3px solid $color-header;
      border-bottom: 3px solid $color-header;
    }
  }

  &__title {
    @extend .u-fs-r--b;
    @extend .u-fs-xl\@m;

    margin: 0;
    color: $color-white;

    &-link {
      &:focus {
        outline: 4px solid $color-focus;
      }
    }

    &--nav-adj {
      @include mq(s) {
        padding-top: 0.2rem;
      }
    }
  }

  &__desc {
    @extend .u-fs-s;
    @extend .u-fs-r\@m;

    margin: 0;
    color: $color-white;
  }

  // Modifier - Hero variant
  &--hero {
    .header {
      &__title {
        @extend .u-fs-m;
        @extend .u-fs-xxl\@m;
      }
    }
  }

  &--internal & {
    &__top {
      background: $color-dark-blue;
      a {
        color: $color-white;
      }
    }

    &__logo-link:focus {
      outline: 3px solid $color-focus;
      background-color: transparent;
      box-shadow: none;
    }

    &__grid-top {
      min-height: 36px;
    }
  }

  &__bottom {
    background: $color-header;
  }
}
