// Block
.header {
  display: block;
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & &__svg-logo {
    display: block;
    fill: $color-white;

    @include mq(m) {
      margin: 0.84rem 0;
    }

    @include mq(xxs, 399px) {
      max-width: 160px;
    }
  }

  // Elements
  &__top {
    width: 100%;
    background: $color-white;
  }

  &__grid-top {
    height: 54px;

    @include mq(xs) {
      height: 46px;
    }
  }

  &__grid-top-nisra {
    @include mq(xs) {
      height: 76px;
    }
  }

  &__logo {
    &:focus {
      outline: 3px solid transparent;
      background-color: $color-focus;
      box-shadow: 0 -2px $color-focus, 0 4px $color-focus-text;
      color: $color-focus-text;
    }
  }

  @include mq(xs) {
    &__logo {
      margin-bottom: 2px;
    }
  }

  &__main {
    padding: 0.56rem 0;
    background: $color-header;

    &--border {
      padding: 0.934rem 0;
      border-top: 3px solid $color-header;
      border-bottom: 3px solid $color-header;
    }
  }

  &__title {
    @extend .u-fs-r--b;
    @extend .u-fs-xl\@xxs;
    margin: 0;
    color: $color-white;

    &--with-description {
      line-height: 1.7 !important;
    }

    &:not(&--with-description) {
      line-height: 2.5 !important;
    }

    @include mq(xs, m) {
      line-height: 1.75 !important;
    }

    @include mq(xxs, xs) {
      line-height: 1.7 !important;
    }

    &-link {
      display: block;

      &:focus {
        .header__svg-logo {
          fill: $color-black !important;
        }
      }
    }

    &--nav-adj {
      @include mq(399px) {
        padding-top: 0.2rem;
      }
    }
  }

  &__desc {
    @extend .u-fs-s;
    @extend .u-fs-r\@s;
    margin: 0;
    @include mq(m) {
      margin: 0 0 1rem;
    }
    color: $color-white;
  }

  // Modifier - Hero variant
  &--hero {
    .header {
      &__title {
        @extend .u-fs-m;
        @extend .u-fs-xxl\@m;
      }
    }
  }

  &--internal & {
    &__top {
      background: $color-dark-blue;
      a {
        color: $color-white;
      }
    }

    &__logo-link:focus {
      outline: 3px solid $color-focus;
      background-color: transparent;
      box-shadow: none;
    }

    &__grid-top {
      min-height: 36px;
    }
  }

  &__bottom {
    background: $color-header;
  }
}
