// Block
.ons-header {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;

  & &__title--svg-logo {
    display: block;
    fill: $color-white;

    @include mq(m) {
      margin: 0.84rem 0;
    }

    @include mq(xxs, 399px) {
      max-width: 160px;
    }
  }
  // Elements
  &__top {
    background: $color-header-top;
    width: 100%;
  }
  &__grid-top {
    height: 54px;

    @include mq(xs) {
      height: 46px;
    }
  }
  &__grid-top-tall {
    @include mq(xs) {
      height: 76px;
    }
  }
  &__main {
    background: $color-header;
    padding: 0.56rem 0;

    &--border {
      border-bottom: 3px solid $color-header;
      border-top: 3px solid $color-header;
      padding: 0.934rem 0;
    }
    &--with-description {
      height: auto;
    }
  }
  &__title {
    @extend .ons-u-fs-r--b;
    @extend .ons-u-fs-xl\@xxs;

    color: $color-white;

    @include mq(m) {
      margin-bottom: 1rem;
      margin-top: 0.8rem;
    }

    &--with-description {
      @include mq(m) {
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }

    //to allow for differences in size between welsh and english logos
    &-census-logo-en {
      @include mq(xxs) {
        margin: 0.19rem 0 0.2rem;
        padding: 0.25rem 0;
      }
    }
    &-link {
      display: block;
      text-decoration: none;
      &:focus {
        .ons-header__title--svg-logo {
          fill: $color-text-link-focus;
        }
        .ons-header__title {
          color: $color-text-link-focus;
        }
      }
      &:hover {
        text-decoration: underline solid $color-text-inverse-link 2px;
      }
    }
    &--nav-adj {
      @include mq(399px) {
        padding-top: 0.2rem;
      }
    }
  }
  &__desc {
    @extend .ons-u-fs-s;
    @extend .ons-u-fs-r\@s;

    color: $color-white;
    margin: 0;

    @include mq(m) {
      margin: 0 0 1.1rem;
    }
  }
  // Modifier - Hero variant
  &--hero {
    .ons-header {
      &__title {
        @extend .ons-u-fs-m;
        @extend .ons-u-fs-xxl\@m;
      }
    }
  }
  &--internal & {
    &__top {
      background: $color-header-top-internal;
      .ons-svg-logo {
        display: block;
        .ons-svg-logo__group--text,
        .ons-svg-logo__group--primary {
          fill: $color-white;
        }
      }
    }
    &__logo-link:focus {
      background-color: transparent;
      box-shadow: none;
      outline: 3px solid $color-focus;
      .ons-svg-logo {
        fill: $color-text-link-focus;
      }
    }
    &__grid-top {
      min-height: 36px;
    }
    &-service-nav__link {
      color: $color-white;
      &:hover {
        text-decoration: underline solid $color-white 3px;
      }
    }
  }

  .ons-svg-logo {
    display: block;
  }

  &__logo-link:focus {
    .ons-svg-logo {
      .ons-svg-logo__group {
        fill: $color-black !important;
      }
    }
  }

  .ons-header__logo--large {
    @include mq(xxs, 399px) {
      display: none;
    }
  }

  .ons-header__logo--small {
    @include mq(400px) {
      display: none;
    }
  }

  &__logo-link,
  &__logo-link:hover {
    font-size: 0;
    text-decoration: none;
  }

  &__logo-link {
    display: block;
  }

  &-service-nav {
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      display: inline-block;
      margin: 0 0 0 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
