// Block
.header {
  display: block;
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Elements

  &__top {
    width: 100%;

    background: $color-white;
  }

  &--internal & {
    &__top {
      background: $color-dark-blue;
    }
  }

  &:not(&--internal) & {
    &__grid-top {
      min-height: 54px;
    }
  }

  &__logo {
    display: block;
    width: 200px;
  }

  &__main {
    padding: 0.56rem 0;
    background: $color-header;

    @include mq(m) {
      padding: 1.1rem 0;
    }

    &--border {
      padding: 0.934rem 0;
      border-top: 3px solid $color-header;
      border-bottom: 3px solid $color-header;
    }
  }

  &__title {
    @extend .u-fs-r--b;
    @extend .u-fs-l\@m;

    margin: 0;
    color: $color-white;

    &--nav-adj {
      @include mq(s) {
        padding-top: 0.2rem;
      }
    }
  }

  &__desc {
    @extend .u-fs-s;
    @extend .u-fs-r\@m;

    margin: 0;
    color: $color-white;
  }

  // Modifier - Hero variant
  &--hero {
    .header {
      &__title {
        @extend .u-fs-m;
        @extend .u-fs-xl\@m;
      }
    }
  }

  // Modifier - Thin variant
  &--thin & {
    &__main {
      padding: 0.5rem 0;

      @include mq(m) {
        padding: 0.8rem 0;
      }
    }
  }

  &__bottom {
    background: $color-header;
  }
}
