{% macro onsHeader(params) %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/icon/_macro.njk" import onsIcon %}
    {% from "components/navigation/_macro.njk" import onsNavigation %}
    {% from "components/browser-banner/_macro.njk" import onsBrowserBanner %}
    {% set titleTag = "h1" if params.titleAsH1 else "div" %}
    {% set openingTag = "<" + titleTag %}
    {% set closingTag = "</" + titleTag + ">" %}
    {% set currentLanguageIsoCode = "en" %}
    {% set logoAltText = params.mastheadLogoAltText or params.mastheadLogo.altText %}

    {% if params.language and params.language.languages %}
        {% set currentLanguage = params.language.languages | selectattr("current") | first %}
        {% set currentLanguageIsoCode = currentLanguage.isoCode %}
    {% endif %}

    <header
        class="ons-header{{ ' '+ params.classes if params.classes }}{% if params.variants is not string %}{% for variant in params.variants %}{{ ' ' }}ons-header--{{ variant }}{% endfor %}{% else %}{{ ' ' }}ons-header--{{ params.variants }}{% endif %}"
    >
        {{
            onsBrowserBanner({
                "lang": currentLanguageIsoCode,
                "wide": params.wide,
                "fullWidth": params.fullWidth
            })
        }}
        {% if params.phase %}
            {% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
            {{
                onsPhaseBanner({
                    "fullWidth": params.fullWidth,
                    "wide": params.wide,
                    "hideBadge": params.phase.hideBadge,
                    "badge": params.phase.badge,
                    "html": params.phase.html
                })
            }}
        {% endif %}
        <div class="ons-header__top">
            <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div
                    class="ons-header__grid-top ons-grid ons-grid-flex ons-grid-flex--between ons-grid-flex--vertical-center{{ ' '+ params.mastheadLogo.classes if params.mastheadLogo.classes }}{{ ' ons-grid-flex--no-wrap ons-grid--gutterless' if not params.mastheadLogo.multipleLogos }}"
                >
                    <div class="ons-grid__col ons-col-auto">
                        {%- if not params.mastheadLogo.multipleLogos -%}
                            {% set mastheadLogo %}
                                <div class="ons-header__org-logo ons-header__org-logo--large">
                                    {% if params.mastheadLogo.large %}
                                        {{ params.mastheadLogo.large | safe }}
                                    {% else %}
                                        {{-
                                            onsIcon({
                                                "iconType": 'ons-logo-' + currentLanguageIsoCode,
                                                "altText": logoAltText | default('Office for National Statistics logo')
                                            })
                                        -}}
                                    {% endif %}
                                </div>
                                <div class="ons-header__org-logo ons-header__org-logo--small">
                                    {% if params.mastheadLogo.small %}
                                        {{ params.mastheadLogo.small | safe }}
                                    {% elif params.mastheadLogo.large %}
                                        {{ params.mastheadLogo.large | safe }}
                                    {% else %}
                                        {{-
                                            onsIcon({
                                                "iconType": 'ons-logo-stacked-' + currentLanguageIsoCode,
                                                "altText": logoAltText | default('Office for National Statistics logo')
                                            })
                                        -}}
                                    {% endif %}
                                </div>
                            {% endset %}

                            {%- if params.mastheadLogoUrl -%}
                                <a class="ons-header__org-logo-link" href="{{ params.mastheadLogoUrl }}">{{ mastheadLogo | safe }}</a>
                            {% else %}
                                {{ mastheadLogo | safe }}
                            {% endif %}
                        {% else %}
                            <div class="ons-header__org-logo ons-header__org-logo--multi">
                                {% set logos = [params.mastheadLogo.multipleLogos.logo1, params.mastheadLogo.multipleLogos.logo2, params.mastheadLogo.multipleLogos.logo3] %}
                                {% for logo in logos %}
                                    {% set mastheadLogo %}
                                        {% if logo.image != "ONS Logo" %}
                                            {{ logo.image | safe }}
                                        {% else %}
                                            {{-
                                                onsIcon({
                                                    "iconType": 'ons-logo-stacked-' + currentLanguageIsoCode,
                                                    "altText": logoAltText | default('Office for National Statistics logo')
                                                })
                                            -}}
                                        {% endif %}
                                    {% endset %}
                                    {% if logo.url %}
                                        <a class="ons-header__org-logo-link" href="{{ logo.url }}">{{ mastheadLogo | safe }}</a>
                                    {% else %}
                                        {{ mastheadLogo | safe }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {%- endif -%}
                    </div>

                    {% if params.variants == "basic" %}
                        <div class="ons-grid__col ons-col-auto ons-header__menu-links ons-u-ml-auto">
                            {% if params.menuLinks %}
                                <div class="ons-header__links ons-grid__col">
                                    {{
                                        onsButton({
                                            "text": params.menuLinks.toggleMenuButton.text | default("Menu"),
                                            "classes": "ons-u-fs-s--b ons-js-toggle-nav-menu button-nav active disabled",
                                            "type": "button",
                                            "variants": "menu",
                                            "iconType": "chevron",
                                            "iconPosition": "before",
                                            "attributes": {
                                                "aria-label": params.menuLinks.toggleMenuButton.ariaLabel | default("Toggle menu"),
                                                "aria-controls": params.menuLinks.id,
                                                "aria-expanded": "true",
                                                "aria-disabled": "true"
                                            }
                                        })
                                    }}
                                </div>
                            {% endif %}

                            {% if params.language %}
                                <div class="ons-grid__col ons-col-auto{{ ' ons-u-mr-s ons-u-d-no@2xs@xs' if params.serviceLinks }}">
                                    <div class="ons-header__language">
                                        {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                                        {{ onsLanguageSelector(params.language) }}
                                    </div>
                                </div>
                            {% endif %}

                            {% if params.variants == "basic" and params.menuLinks %}
                                <nav
                                    class="ons-js-nav-menu ons-header-nav-menu ons-u-pt-2xl"
                                    id="{{ params.menuLinks.id }}"
                                    aria-label="{{ params.menuLinks.ariaLabel | default("Menu navigation") }}"
                                    aria-hidden="false"
                                >
                                    {% if params.menuLinks.keyLinks %}
                                        <div class="ons-container">
                                            <ul class="ons-grid ons-header-nav-menu__key-list">
                                                {% for keyLink in params.menuLinks.keyLinks %}
                                                    {% if keyLink.heading %}
                                                        <li class="ons-grid__col ons-col-4@m ons-header-nav-menu__col">
                                                            <h2 class="ons-u-fs-s--b ons-u-mb-no ons-header-nav-menu__heading">
                                                                {% if keyLink.url %}
                                                                    <a href="{{ keyLink.url }}" class="ons-header-nav-menu__link"
                                                                        >{{ keyLink.heading }}</a
                                                                    >
                                                                {% else %}
                                                                    {{ keyLink.heading }}
                                                                {% endif %}
                                                            </h2>
                                                            {% if keyLink.description %}
                                                                <p class="ons-u-fs-s ons-u-mb-no ons-header-nav-menu__description">
                                                                    {{ keyLink.description }}
                                                                </p>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if params.menuLinks.columns %}
                                        <div class="ons-container">
                                            <ul class="ons-grid ons-list ons-list--bare">
                                                {% for column in params.menuLinks.columns %}
                                                    <li class="ons-grid__col ons-col-4@m ons-u-mb-no ons-header-nav-menu__col">
                                                        {% for group in column.groups %}
                                                            {% if group.heading %}
                                                                <h2 class="ons-u-fs-s--b ons-header-nav-menu__heading">
                                                                    {% if group.url %}
                                                                        <a href="{{ group.url }}" class="ons-header-nav-menu__link"
                                                                            >{{ group.heading }}</a
                                                                        >
                                                                    {% else %}
                                                                        {{ group.heading }}
                                                                    {% endif %}
                                                                </h2>
                                                            {% endif %}
                                                            {% if group.groupItems %}
                                                                <ul class="ons-list ons-list--bare ons-header-nav-menu__groupItem-list">
                                                                    {% for groupItem in group.groupItems %}
                                                                        {% if groupItem.text %}
                                                                            <li class="ons-u-mb-no">
                                                                                <p class="ons-u-fs-s ons-header-nav-menu_text">
                                                                                    {% if groupItem.url %}
                                                                                        <a
                                                                                            href="{{ groupItem.url }}"
                                                                                            class="ons-header-nav-menu__link"
                                                                                        >
                                                                                            {{ groupItem.text }}
                                                                                        </a>
                                                                                    {% else %}
                                                                                        {{ groupItem.text }}
                                                                                    {% endif %}
                                                                                </p>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </nav>
                            {% endif %}

                            {% if params.searchLinks %}
                                <div class="ons-header__links ons-grid__col ons-header__menu-link">
                                    {{
                                        onsButton({
                                            "classes": "ons-u-fs-s--b ons-js-toggle-header-search ons-btn--close ons-btn--search-icon active disabled",
                                            "type": "button",
                                            "variants": "search",
                                            "iconType": "search",
                                            "attributes": {
                                                "aria-label": params.searchLinks.searchButtonAriaLabel | default("Toggle search"),
                                                "aria-controls": params.searchLinks.id,
                                                "aria-expanded": "true",
                                                "aria-disabled": "true"
                                            }
                                        })
                                    }}
                                </div>
                            {% endif %}

                            {% if params.variants == "basic" and params.searchLinks %}
                                <nav
                                    class="ons-js-header-search ons-header-nav-search {{ params.searchLinks.classes }}"
                                    id="{{ params.searchLinks.id }}"
                                    aria-label="{{ params.searchLinks.searchNavigationAriaLabel | default('Search navigation') }}"
                                    aria-hidden="false"
                                >
                                    <div class="ons-container">
                                        <div class="ons-header-nav-search__input">
                                            {% from "components/input/_macro.njk" import onsInput %}
                                            {{
                                                onsInput({
                                                    "id": 'search-field',
                                                    "width": 'full',
                                                    "label": {
                                                        "text": params.searchLinks.searchNavigationInputLabel | default('Search the ONS'),
                                                        "id": "header-search-input-label"
                                                    },
                                                    "searchButton": {
                                                        "visuallyHideButtonText": true,
                                                        "text": params.searchLinks.searchNavigationButtonText | default('Search'),
                                                        "iconType": 'search',
                                                        'variant': 'header'
                                                    }
                                                })
                                            }}
                                        </div>
                                    </div>
                                    {% if params.searchLinks %}
                                        <div class="ons-container">
                                            <h2 class="ons-u-fs-r--b ons-u-mb-s ons-header-nav-search__heading">
                                                {{ params.searchLinks.heading }}
                                            </h2>
                                            <ul class="ons-list ons-list--bare ons-list--inline">
                                                {% for item in params.searchLinks.itemsList %}
                                                    {# Limiting the popular searches to 5 #}
                                                    {% if loop.index <= 5 %}
                                                        <li class="ons-list__item">
                                                            {% if item.text %}
                                                                {% if item.url %}
                                                                    <a href="{{ item.url }}" class="ons-u-fs-r ons-header-nav-search__text"
                                                                        >{{ item.text }}
                                                                    </a>
                                                                {% else %}
                                                                    <p class="ons-u-fs-r ons-header-nav-search__text">{{ item.text }}</p>
                                                                {% endif %}
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if params.language or params.serviceLinks %}
                        <div
                            class="ons-header__links ons-grid__col{{ ' ons-u-ml-auto' if not params.searchLinks and not params.menuLinks }}"
                        >
                            {% if params.language %}
                                <div class="ons-grid__col ons-col-auto{{ ' ons-u-mr-s ons-u-d-no@2xs@xs' if params.serviceLinks }}">
                                    <div class="ons-header__language">
                                        {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                                        {{ onsLanguageSelector(params.language) }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if params.serviceLinks %}
                                {% if params.serviceLinks.itemsList | length == 1 and params.language %}
                                    {% set breakpoint = 'xs' %}
                                    {% set controlVisibility = true %}
                                {% elif params.serviceLinks.itemsList | length > 1 %}
                                    {% set breakpoint = 'm' %}
                                    {% set controlVisibility = true %}
                                {% else %}
                                    {% set controlVisibility = false %}
                                {% endif %}
                                <div
                                    class="ons-grid__col ons-col-auto{% if controlVisibility == true %}{{ ' ' }}ons-u-d-no@2xs@{{ breakpoint }}{% endif %}"
                                >
                                    <nav
                                        class="ons-header-service-nav ons-header-service-nav--main{{ ' ' + params.serviceLinks.classes if params.serviceLinks.classes else '' }}"
                                        aria-label="{{ params.serviceLinks.ariaLabel | default('Service links navigation') }}"
                                    >
                                        <ul class="ons-header-service-nav__list">
                                            {% for item in params.serviceLinks.itemsList %}
                                                <li class="ons-header-service-nav__item">
                                                    {% if item.iconType %}
                                                        {{-
                                                            onsIcon({
                                                                "iconType": item.iconType
                                                            })
                                                        -}}
                                                    {% endif %}
                                                    {% if item.url %}
                                                        <a
                                                            href="{{ item.url }}"
                                                            class="ons-header-service-nav__link"
                                                            {% if item.id %}id="{{ item.id }}"{% endif %}
                                                            >{% if item.title %}{{ item.title }}{% elif item.text %}{{ item.text }}{% endif %}</a
                                                        >
                                                    {% else %}
                                                        {% if item.title %}{{ item.title }}{% elif item.text %}{{ item.text }}{% endif %}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                                {% if params.serviceLinks.itemsList | length > 1 or params.language %}
                                    {% if params.variants == 'internal' %}
                                        {% set buttonVariant = ["mobile", "text-link", "text-link-inverse"] %}
                                    {% elif params.variants == 'neutral' %}
                                        {% set buttonVariant = ["mobile", "neutral"] %}
                                    {% else %}
                                        {% set buttonVariant = ["mobile", "text-link"] %}
                                    {% endif %}
                                    <div class="ons-grid__col ons-col-auto ons-u-d-no@{{ breakpoint }}">
                                        {{
                                            onsButton({
                                                "text": params.serviceLinks.toggleServicesButton.text | default("Account"),
                                                "classes": "ons-u-d-no ons-js-toggle-services",
                                                "type": "button",
                                                "variants": buttonVariant,
                                                "attributes": {
                                                    "aria-label": params.serviceLinks.toggleServicesButton.ariaLabel | default("Toggle menu"),
                                                    "aria-controls": params.serviceLinks.id,
                                                    "aria-expanded": "false"
                                                }
                                            })
                                        }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if params.serviceLinks %}
                <nav
                    class="ons-header-service-nav ons-header-service-nav--mobile ons-u-d-no ons-js-services-mobile-nav"
                    id="{{ params.serviceLinks.id }}"
                    aria-label="{{ params.serviceLinks.ariaLabel | default("Service links navigation") }}"
                >
                    <ul class="ons-header-service-nav__list">
                        {% for item in params.serviceLinks.itemsList %}
                            <li class="ons-header-service-nav__item ons-header-service-nav__item--mobile">
                                {% if item.iconType %}
                                    {{-
                                        onsIcon({
                                            "iconType": item.iconType
                                        })
                                    -}}
                                {% endif %}
                                {% if item.url %}
                                    <a
                                        href="{{ item.url }}"
                                        class="ons-header-service-nav__link"
                                        {% if item.id %}id="{{ item.id }}"{% endif %}
                                        >{% if item.title %}{{ item.title }}{% elif item.text %}{{ item.text }}{% endif %}</a
                                    >
                                {% else %}
                                    {% if item.title %}{{ item.title }}{% elif item.text %}{{ item.text }}{% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if params.language %}
                        <div class="ons-header__language">
                            {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                            {{ onsLanguageSelector(params.language) }}
                        </div>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
        {% if params.variants != "basic" %}
            <div class="ons-header__main">
                <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                    <div
                        class="ons-grid ons-grid-flex ons-grid-flex--between ons-grid-flex--vertical-center ons-grid-flex--no-wrap{{ ' ons-grid--gutterless' if not params.button }}"
                    >
                        <div class="ons-grid__col ons-col-auto ons-u-flex-shrink">
                            {% if params.titleLogo.large %}

                                {% set title %}
                                    <div
                                        class="ons-header__title-logo ons-header__title-logo--large{{ ' ' + params.titleLogo.classes if params.titleLogo.classes else '' }}{{ ' ons-u-d-no@2xs@s' if params.titleLogo.small }}"
                                    >
                                        {{ params.titleLogo.large | safe }}
                                    </div>
                                    {% if params.titleLogo.small %}
                                        <div
                                            class="ons-header__title-logo ons-header__title-logo--small ons-u-d-no@s{{ ' ' + params.titleLogo.classes if params.titleLogo.classes else '' }}"
                                        >
                                            {{ params.titleLogo.small | safe }}
                                        </div>
                                    {% endif %}
                                {% endset %}

                                {% if params.titleUrl %}
                                    <a class="ons-header__title-logo-link" href="{{ params.titleUrl }}">{{ title | safe }}</a>
                                {% else %}
                                    {{ title | safe }}
                                {% endif %}
                            {% else %}

                                {% set title %}
                                    {{ openingTag | safe }}
                                    class="ons-header__title">{{ params.title }}{{ closingTag | safe }}
                                {% endset %}

                                {% if params.titleUrl %}
                                    <a class="ons-header__title-link" href="{{ params.titleUrl }}">{{ title | safe }}</a>
                                {% else %}
                                    {{ title | safe }}
                                {% endif %}
                            {% endif %}
                            {% if params.description %}
                                <p class="ons-header__description">{{ params.description }}</p>
                            {% endif %}
                        </div>

                        {% if params.button %}
                            <div class="ons-grid__col ons-col-auto ons-u-flex-no-shrink">
                                {{
                                    onsButton({
                                        "text": params.button.text,
                                        "classes": "ons-u-d-no@2xs@l" if params.navigation else "ons-u-d-no@2xs@m",
                                        "variants": "ghost",
                                        "name": params.button.name,
                                        "attributes": params.button.attributes,
                                        "url": params.button.url,
                                        "iconType": "exit",
                                        "iconPosition": "after"
                                    })
                                }}
                            </div>
                        {% endif %}
                        {% if params.navigation or params.siteSearchAutosuggest %}
                            <div class="ons-grid__col ons-col-auto ons-u-flex-no-shrink ons-u-d-no@l">
                                {% if params.siteSearchAutosuggest %}
                                    <span class="ons-grid ons-u-ml-no ons-u-d-no@2xs@xs">
                                        {{
                                            onsButton({
                                                "text": params.searchLinks.searchNavigationButtonText | default('Search'),
                                                "classes": "ons-btn--search ons-u-ml-2xs ons-u-d-no ons-js-toggle-search",
                                                "variants": ["small", "ghost"],
                                                "iconType": "search",
                                                "iconPosition": "only",
                                                "attributes": {
                                                    "aria-label": params.searchLinks.searchNavigationButtonAriaLabel | default('Toggle search'),
                                                    "aria-controls": "ons-site-search",
                                                    "aria-expanded": "false"
                                                }
                                            })
                                        }}
                                    </span>
                                {% endif %}
                                {% if params.navigation.toggleNavigationButton %}
                                    {{
                                        onsButton({
                                            "text": params.navigation.toggleNavigationButton.text,
                                            "classes": "ons-u-ml-2xs ons-u-d-no ons-js-navigation-button ons-u-d-no@l",
                                            "variants": ["mobile", "ghost"],
                                            "attributes": {
                                                "aria-label": params.navigation.toggleNavigationButton.ariaLabel | default("Toggle main menu") ,
                                                "aria-controls": params.navigation.id,
                                                "aria-expanded": "false"
                                            }
                                        })
                                    }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if params.navigation %}
            {{ onsNavigation(params) }}
        {% endif %}
    </header>
{% endmacro %}
