{% macro onsHeader(params) %}
  {% from "components/button/_macro.njk" import onsButton %}

  {% set title_tag = "h1" if params.tilteAsH1 else "div" %}

  {% set currentLanguageISOCode = "en" %}

  {% if params.language and params.language.languages %}
    {% set currentLanguage = params.language.languages | selectattr("current") | first %}
    {% set currentLanguageISOCode = currentLanguage.ISOCode %}
  {% endif %}

  <header class="header {{ params.classes if params.classes }}">
      {% if params.phase %}
          {% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
          {{ onsPhaseBanner(params.phase) }}
      {% endif %}
      <div class="header__top" role="banner">
          <div class="container{{ ' container--full-width' if params.fullWidth }}{{ ' container--wide' if params.wide }}">
              <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                  <div class="grid__col col-auto">
                        {% if params.logoHref %}<a class="header__logo-link" href="{{ params.logoHref }}">{% endif %}
                            <img class="header__logo" src="{{ params.assetsURL if params.assetsURL }}/img/{{ params.logo | default('ons-logo-pos-' + currentLanguageISOCode ) }}.svg" alt="{{ params.logoAlt | default('Office for National Statistics logo') }}">
                        {% if params.logoHref %}</a>{% endif %}
                  </div>
                  {% if params.language or params.serviceLinks %}
                      <div class="header__links grid__col col-auto">
                          {% if params.language %}
                              <div class="grid__col col-auto u-d-no@xs@m {{ 'u-mr-s@m' if params.serviceLinks }}">
                                  {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                                  {{
                                      onsLanguageSelector(params.language)
                                  }}
                              </div>
                          {% endif %}
                          {% if params.serviceLinks %}
                              <div class="grid__col col-auto u-d-no@xs@m">
                                  <nav class="header-service-nav {{ params.serviceLinks.classes }}" aria-label="{{ params.serviceLinks.ariaLabel }}">
                                      <ul class="header-service-nav__list" aria-label="{{ params.serviceLinks.ariaListLabel }}">
                                          {% for item in (params.serviceLinks.itemsList if params.serviceLinks.itemsList is iterable else params.serviceLinks.itemsList.items()) %}
                                              <li class="header-service-nav__item">
                                                  <a
                                                    href="{{ item.url }}"
                                                    class="header-service-nav__link"
                                                    {% if item.id %} id="{{ item.id }}"{% endif %}
                                                >{{ item.text }}</a>
                                              </li>
                                          {% endfor %}
                                      </ul>
                                  </nav>
                              </div>
                          {% endif %}
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="header__main">
          <div class="container{{ ' container--full-width' if params.fullWidth }}{{ ' container--wide' if params.wide }}">
              <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                  <div class="grid__col col-auto u-flex-shrink">
                      {% if params.titleLogoHref %}<a class="header__title-link" href="{{ params.titleLogoHref }}">{% endif %}
                      {% if params.titleLogo and params.titleLogoAlt %}
                        <img class="header__title-logo" src="{{ params.assetsURL if params.assetsURL }}{{ params.titleLogo }}" alt="{{ params.titleLogoAlt }}">
                      {% else %}
                        <{{ title_tag }} class="header__title">{{ params.title }}</{{ title_tag }}>
                      {% endif %}
                      {% if params.titleLogoHref %}</a>{% endif %}
                      {% if params.desc %}
                          <p class="header__desc">{{ params.desc }}</p>
                      {% endif %}
                  </div>
                  {% if params.button %}
                      <div class="grid__col col-auto u-flex-no-shrink u-d-no@xs@m">
                          {{ onsButton({
                              "text": params.button.text,
                              "classes": "btn--ghost u-d-no@xs@m",
                              "name": params.button.name,
                              "attributes": params.button.attributes,
                              "url": params.button.url
                          }) }}
                      </div>
                  {% endif %}
                  {% if params.toggleButton %}
                      <div class="grid__col col-auto u-flex-no-shrink u-d-no@m">
                            {{ onsButton({
                                "text": params.toggleButton.text,
                                "classes": "btn--mobile u-ml-s u-d-no js-toggle-main",
                                "attributes": {
                                        "aria-label": params.toggleButton.ariaLabel,
                                        "aria-controls": params.navigation.id,
                                        "aria-haspopup": "true",
                                        "aria-expanded": "false"
                                }
                            }) }}
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
      {% if params.navigation %}
          <div class="header__bottom">
              <div class="container container--gutterless@xs@m{{ ' container--full-width' if params.fullWidth }}{{ ' container--wide' if params.wide }}">
                  <nav class="header-nav js-header-nav" id="{{ params.navigation.id }}" aria-label="{{ params.navigation.ariaLabel }}" data-analytics="header-navigation">
                      <ul class="header-nav__list" aria-label="{{ params.navigation.ariaListLabel }}" role="menubar">
                          {% for item in (params.navigation.itemsList if params.navigation.itemsList is iterable else params.navigation.itemsList.items()) %}
                              <li class="header-nav__item {{ item.classes }}{{ ' header-nav__item--active' if (item.url == params.navigation.currentPath) or (item.url != (params.navigation.siteBasePath | default('/')) and item.url in params.navigation.currentPath) }}">
                                  <a href="{{ item.url }}" {% if item.id %}id="{{ item.id }}" {% endif %} class="header-nav__link" role="menuitem">{{ item.title }}</a>
                              </li>
                          {% endfor %}
                      </ul>
                  </nav>
              </div>
          </div>
      {% endif %}
  </header>
{% endmacro %}
