{% macro onsHeader(params) %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/icons/_macro.njk" import onsIcon %}
    {% from "components/navigation/_macro.njk" import onsNavigation %}
    {% from "components/browser-banner/_macro.njk" import onsBrowserBanner %}

    {% set title_tag = "h1" if params.titleAsH1 else "div" %}
    {% set currentLanguageISOCode = "en" %}

    {% if params.language and params.language.languages %}
        {% set currentLanguage = params.language.languages | selectattr("current") | first %}
        {% set currentLanguageISOCode = currentLanguage.ISOCode %}
    {% endif %}

    <header class="ons-header {% if params.classes %} {{ params.classes }}{% endif %}{% if params.variants is not string %}{% for variant in params.variants %} ons-header--{{ variant }}{% endfor %}{% else %} ons-header--{{ params.variants }}{% endif %}" role="banner">
        {{
            onsBrowserBanner({
                "lang": currentLanguageISOCode,
                "wide": params.wide,
                "fullWidth": params.fullWidth
            })
        }}
        {% if params.phase %}
            {% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
            {{ onsPhaseBanner({
                "fullWidth": params.fullWidth,
                "wide": params.wide,
                "hideBadge": params.phase.hideBadge,
                "badge": params.phase.badge,
                "html": params.phase.html
            }) }}
        {% endif %}
        <div class="ons-header__top">
            <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div class="ons-header__grid-top ons-grid ons-grid--gutterless ons-grid--flex ons-grid--between ons-grid--vertical-center ons-grid--no-wrap{% if params.mastheadLogo.classes %} {{ params.mastheadLogo.classes }}{% endif %}">
                    <div class="ons-grid__col ons-col-auto">
                        {%-if params.mastheadLogoUrl %}
                            <a class="ons-header__org-logo-link" href="{{ params.mastheadLogoUrl }}">
                        {% endif -%}
                        <div class="ons-header__org-logo ons-header__org-logo--large">
                            {% if params.mastheadLogo.large %}
                                {{ params.mastheadLogo.large | safe }}
                            {% else %}
                                {{
                                    onsIcon({
                                        "iconType": 'ons-logo-' + currentLanguageISOCode,
                                        "altText": 'Office for National Statistics logo'
                                    })
                                }}
                            {% endif %}
                        </div>
                        <div class="ons-header__org-logo ons-header__org-logo--small">
                            {% if params.mastheadLogo.small %}
                                {{ params.mastheadLogo.small | safe }}
                            {% elif params.mastheadLogo.large %}
                                {{ params.mastheadLogo.large | safe }}
                            {% else %}
                                {{
                                    onsIcon({
                                        "iconType": 'ons-logo-stacked-' + currentLanguageISOCode,
                                        "altText": 'Office for National Statistics logo'
                                    })
                                }}
                            {% endif %}
                        </div>
                        {% if params.mastheadLogoUrl %}
                            </a>
                        {% endif %}
                    </div>
                    {% if params.language or params.serviceLinks %}
                        <div class="ons-header__links ons-grid__col ons-col-auto">
                            {% if params.language %}
                                <div class="ons-grid__col ons-col-auto {{ ' ons-u-mr-s ons-u-d-no@xxs@xs' if params.serviceLinks else '' }}">
                                    {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                                    {{ onsLanguageSelector(params.language) }}
                                </div>
                            {% endif %}
                            {% if params.serviceLinks %}
                                {% if params.serviceLinks.itemsList | length == 1 and params.language %}
                                    {% set breakpoint = 'xs' %}
                                    {% set controlVisibility = true %}
                                {% elif params.serviceLinks.itemsList | length > 1 %}
                                    {% set breakpoint = 'm' %}
                                    {% set controlVisibility = true %}
                                {% else %}
                                    {% set controlVisibility = false %}
                                {% endif %}
                                <div class="ons-grid__col ons-col-auto{% if controlVisibility == true %} ons-u-d-no@xxs@{{ breakpoint }}{% endif %}">
                                    <nav class="ons-header-service-nav ons-header-service-nav--main {{ params.serviceLinks.classes }}" aria-label="{{ params.serviceLinks.ariaLabel | default("Service links navigation") }}">
                                        <ul class="ons-header-service-nav__list">
                                            {% for item in (params.serviceLinks.itemsList if params.serviceLinks.itemsList is iterable else params.serviceLinks.itemsList.items()) %}                                                
                                                <li class="ons-header-service-nav__item">
                                                {% if item.iconType %}
                                                    {{
                                                        onsIcon({
                                                            "iconType": item.iconType
                                                        })
                                                    }}
                                                {% endif %}
                                                {% if item.url %}
                                                    <a
                                                        href="{{ item.url }}"
                                                        class="ons-header-service-nav__link"
                                                        {% if item.id %} id="{{ item.id }}"{% endif %}
                                                    >{{ item.title }}</a>
                                                {% else %}
                                                    {{ item.title }}
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                                {% if params.serviceLinks.itemsList | length > 1 or params.language %}
                                    {% if params.variants == 'internal' or params.variants == 'neutral' %}
                                        {% set buttonVariant = ["mobile", "text-link", "text-link-inverse"] %}
                                    {% else %}
                                        {% set buttonVariant = ["mobile", "text-link"] %}
                                    {% endif %}
                                    <div class="ons-grid__col ons-col-auto ons-u-d-no@{{ breakpoint }}">
                                        {{ onsButton({
                                            "text": params.serviceLinks.toggleServicesButton.text | default("Account"),
                                            "classes": "ons-u-d-no ons-js-toggle-services",
                                            "type": "button",
                                            "variants": buttonVariant,
                                            "attributes": {
                                                "aria-label": params.serviceLinks.toggleServicesButton.ariaLabel | default("Toggle menu"),
                                                "aria-controls": params.serviceLinks.id,
                                                "aria-expanded": "false"
                                            }
                                        }) }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if params.serviceLinks %}
                <nav class="ons-header-service-nav ons-header-service-nav--mobile ons-u-d-no ons-js-services-mobile-nav" id="{{ params.serviceLinks.id }}" aria-label="{{ params.serviceLinks.ariaLabel | default("Service links navigation") }}">
                    <ul class="ons-header-service-nav__list">
                        {% for item in (params.serviceLinks.itemsList if params.serviceLinks.itemsList is iterable else params.serviceLinks.itemsList.items()) %}                                                
                            <li class="ons-header-service-nav__item ons-header-service-nav__item--mobile">
                            {% if item.iconType %}
                                {{
                                    onsIcon({
                                        "iconType": item.iconType
                                    })
                                }}
                            {% endif %}
                            {% if item.url %}
                                <a
                                    href="{{ item.url }}"
                                    class="ons-header-service-nav__link"
                                    {% if item.id %} id="{{ item.id }}"{% endif %}
                                >{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if params.language %}
                        {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                        {{ onsLanguageSelector(params.language) }}
                    {% endif %}
                </nav>
            {% endif %}
        </div>
        <div class="ons-header__main">
            <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div class="ons-grid ons-grid--gutterless ons-grid--flex ons-grid--between ons-grid--vertical-center ons-grid--no-wrap">
                    <div class="ons-grid__col ons-col-auto ons-u-flex-shrink">
                        {% if params.titleLogo.large %}
                            {% if params.titleUrl %}
                                <a class="ons-header__title-logo-link" href="{{ params.titleUrl }}">
                            {% endif %}
                            <div class="ons-header__title-logo ons-header__title-logo--large {% if params.titleLogo.classes %} {{ params.titleLogo.classes }} {% endif %}{% if params.titleLogo.small %}ons-u-d-no@xxs@s{% endif %}">
                                {{ params.titleLogo.large | safe }}
                            </div>
                            {% if params.titleLogo.small %}
                                <div class="ons-header__title-logo ons-header__title-logo--small ons-u-d-no@s{% if params.titleLogo.classes %} {{ params.titleLogo.classes }}{% endif %}">
                                    {{ params.titleLogo.small | safe}}
                                </div>
                            {% endif %}
                            {% if params.titleUrl %}
                                </a>
                            {% endif %}
                        {% else %}
                            {% if params.titleUrl %}
                                <a class="ons-header__title-link" href="{{ params.titleUrl }}">
                            {% endif %}
                                <{{ title_tag }} class="ons-header__title">{{ params.title }}</{{ title_tag }}>
                            {% if params.titleUrl %}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if params.description %}
                            <p class="ons-header__description">{{ params.description }}</p>
                        {% endif %}
                    </div>

                    {% if params.button %}
                        {% if params.variants == 'neutral' %}
                            {% set buttonVariant = "ghost-dark" %}
                        {% else %}
                            {% set buttonVariant = "ghost" %}
                        {% endif %}
                        <div class="ons-grid__col ons-col-auto ons-u-flex-no-shrink">
                            {{ onsButton({
                                "text": params.button.text,
                                "classes": "ons-u-d-no@xxs@l" if params.navigation else "ons-u-d-no@xxs@m",
                                "variants": buttonVariant,
                                "name": params.button.name,
                                "attributes": params.button.attributes,
                                "url": params.button.url,
                                "iconType": "exit",
                                "iconPosition": "after"
                            }) }}
                        </div>
                    {% endif %}
                    {% if params.navigation or params.siteSearchAutosuggest %}
                        <div class="ons-grid__col ons-col-auto ons-u-flex-no-shrink">
                            {% if params.siteSearchAutosuggest %}
                                {% if params.variants == 'neutral' %}
                                    {% set buttonVariant = ["small", "ghost-dark"] %}
                                {% else %}
                                    {% set buttonVariant = ["small", "ghost"] %}
                                {% endif %}
                                <span class="ons-grid ons-u-d-no@xxs@xs ons-u-ml-no ons-u-d-no@l">
                                    {{ onsButton({
                                        "text": "Search",
                                        "classes": "ons-btn--search ons-u-ml-xs ons-u-d-no ons-js-toggle-search",
                                        "variants": buttonVariant,
                                        "iconType": "search",
                                        "iconPosition": "only",
                                        "attributes": {
                                            "aria-label": "Toggle search" ,
                                            "aria-controls": "ons-site-search",
                                            "aria-expanded": "false"
                                        }
                                    }) }}
                                </span>
                            {% endif %}
                            {% if params.navigation.toggleNavigationButton %}
                                {% if params.variants == 'neutral' %}
                                    {% set buttonVariant = ["mobile", "ghost-dark"] %}
                                {% else %}
                                    {% set buttonVariant = ["mobile", "ghost"] %}
                                {% endif %}
                                {{ onsButton({
                                    "text": params.navigation.toggleNavigationButton.text,
                                    "classes": "ons-u-ml-xs ons-u-d-no ons-js-navigation-button ons-u-d-no@l",
                                    "variants": buttonVariant,
                                    "attributes": {
                                        "aria-label": params.navigation.toggleNavigationButton.ariaLabel | default("Toggle main menu") ,
                                        "aria-controls": params.navigation.id,
                                        "aria-expanded": "false"
                                    }
                                }) }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if params.navigation %}
            {{ onsNavigation(params) }}
        {% endif %}
    </header>
{% endmacro %}
