<header class="header {{ params.classes if params.classes }}">
    {% if params.beta %}
        {% from "components/beta-bar/_macro.njk" import onsBetaBar %}
        {{ onsBetaBar(params.beta) }}
    {% endif %}
    <div class="header__top" role="banner">
        <div class=" container{{ ' container--full-width' if params.fullWidth }}">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto">
                    <div class="logo">
                        <a href="{{ params.logoHref | default('/') }}">
                            <img src="{{ '/' + data.version if data.version  }}/img/ons-logo-pos.svg" alt="Office for National Statistics logo" class="logo__img header__logo print__hidden">
                        </a>
                    </div>
                </div>
                {% if params.language %}
                    <div class="header__language grid__col col-auto">
                        {% from "components/language-selector/_macro.njk" import onsLanguageSelector %}
                        {{
                            onsLanguageSelector(params.language)
                        }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container{{ ' container--full-width' if params.fullWidth }}">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    <h1 class="header__title">{{ params.title }}</h1>
                    {% if params.desc %}
                        <p class="header__desc">{{ params.desc }}</p>
                    {% endif %}
                </div>
                {% if params.button %}
                    <div class="grid__col col-auto u-flex-no-shrink">
                        {% from "components/button/_macro.njk" import onsButton %}
                        {{ onsButton({
                            "text": params.button.text,
                            "html": params.button.html,
                            "type": params.button.submit,
                            "name": params.button.name,
                            "value": params.button.value,
                            "element": params.button.element,
                            "id": params.button.id,
                            "classes": "btn--ghost u-d-no@xs@s" + params.button.classes | default(""),
                            "attributes": params.button.attributes,
                            "url": params.button.url
                        }) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if params.navigation %}
        <div class="header__nav">
            <div class="container{{ ' container--full-width' if params.fullWidth }}">
                {% from "components/navigation/_macro.njk" import onsNavigation %}
                {{ onsNavigation(params.navigation) }}
            </div>
        </div>
    {% endif %}
</header>
