---
'fullWidth': true
---

{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'Service title',
        "mastheadLogoUrl": '#0',
        "variants": 'internal',
        "titleUrl": '#0',
        "serviceLinks": {
            "id": "service-links-internal",
            "ariaLabel": 'Services menu',
            "ariaListLabel": 'Menu',
            "toggleServicesButton": {
                "text": 'Account',
                "ariaLabel": 'Toggle services menu'
            },
            "itemsList": [
                {
                    "text": "Jacky Turner",
                    "iconType": 'person'
                },
                {
                    "text": "Sign out",
                    "url": "#0"
                }
            ]
        }
    })
}}
