---
'fullWidth': true
---

{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "variants": 'basic',
        "mastheadLogoUrl": '#0',
        "language": {
            "languages": [
                {
                    "url": '#0',
                    "isoCode": 'en',
                    "text": 'English',
                    "current": false
                },
                {
                    "url": '#0',
                    "isoCode": 'cy',
                    "text": 'Cymraeg',
                    "current": true
                }
            ]
        },

        "menuLinks": {
            "id": "menu-links",
            "toggleMenuButton": {
                "text": "Dewislen"
            },
            "keyLinks": [
                {
                    'heading': 'Cymrud rhan mewn arolwg?',
                    'url': '#0',
                    'description': 'Nid yw erioed wedi bod yn bwysicach'
                },
                {
                    'heading': 'Calendr datganiadau',
                    'url': '#0',
                    'description': 'Gweld ein datganiadau diweddaraf a rhai sydd ar ddod'
                },
                {
                    'heading': 'Methodoleg',
                    'url': '#0',
                    'description': 'Gwybodaeth am ein dulliau'
                }
            ],
            "columns": [
                {
                    "groups": [
                        {
                            "heading": "Pobl, poblogaeth a chymuned",
                            'url': '#0',
                            "groupItems": [
                                {
                                    "text": "Armed forces community",
                                    "url": "#0"
                                },
                                {
                                    "text": "Genedigaethau, marwolaethau a phriodasau",
                                    'url': '#0'
                                },
                                {
                                    "text": "Trosedd a chyfiawnder",
                                    'url': '#0'
                                },
                                {
                                    "text": "Hunaniaeth ddiwylliannol",
                                    'url': '#0'
                                },
                                {
                                    "text": "Addysg a gofal plant",
                                    'url': '#0'
                                },
                                {
                                    "text": "Etholiadau",
                                    'url': '#0'
                                },
                                {
                                    "text": "Iechyd a gofal cymdeithasol",
                                    'url': '#0'
                                },
                                {
                                    "text": "Nodweddion aelwydydd",
                                    'url': '#0'
                                },
                                {
                                    "text": "Tai",
                                    'url': '#0'
                                },
                                {
                                    "text": "Hamdden a thwristiaeth",
                                    'url': '#0'
                                },
                                {
                                    "text": "Cyllid personol ac chyllid aelwydydd",
                                    'url': '#0'
                                },
                                {
                                    "text": "poplogaeth ac ymfudo",
                                    'url': '#0'
                                },
                                {
                                    "text": "Lles",
                                    'url': '#0'
                                }
                            ]
                        }
                    ]
                },
                {
                    "groups": [
                        {
                            "heading": "Busnes, diwydiant a masnach",
                            'url': '#0',
                            "groupItems": [
                                {
                                    "text": "Busnes",
                                    'url': '#0'
                                },
                                {
                                    "text": "Newidiadau i fusnesau",
                                    'url': '#0'
                                },
                                {
                                    "text": "Diwydiant adeiladu",
                                    'url': '#0'
                                },
                                {
                                    "text": "Masnach rhyngwladol",
                                    'url': '#0'
                                },
                                {
                                    "text": "Y diwydiant TG a'r rhyngrhwydd",
                                    'url': '#0'
                                },
                                {
                                    "text": "Y diwydiant gweithgynhyrchu a chynhyrchu",
                                    'url': '#0'
                                },
                                {
                                    "text": "Y diwydiant manwerthu",
                                    "url": "#0"
                                },
                                {
                                    "text": "Y diwydiant twristiaeth",
                                    'url': '#0'
                                }
                            ]
                        },
                        {
                            "heading": "Cyflogaeth a marchnad lafur",
                            "url": "#0",
                            "groupItems":
                            [
                                {
                                    "text": "Pobl mewn gwaith",
                                    'url': '#0'
                                },
                                {
                                    "text": "Pobl nad ydynt mewn gwaith",
                                    'url': '#0'
                                }
                            ]

                        }
                    ]
                },
                {
                    "groups": [
                        {
                            "heading": "Yr economi",
                            'url': '#0',
                            "groupItems": [
                                {
                                    "text": "Allgynnyrch economaidd a chynhyrchiant",
                                    'url': '#0'
                                },
                                {
                                    "text": "Llywodraeth, y sector cyhoeddus a threthi",
                                    'url': '#0'
                                },
                                {
                                    "text": "Gwerth Ychwanegol Gros",
                                    'url': '#0'
                                },
                                {
                                    "text": "Buddsoddiadau, pensiynau ac ymddiriedolaethau",
                                    'url': '#0'
                                },
                                {
                                    "text": "Cyfrifon rhanbarthol",
                                    'url': '#0'
                                },
                                {
                                    "text": "Cyfrifon amgylcheddol",
                                    'url': '#0'
                                },
                                {
                                    "text": "Cynnyrch Domestig Gros (CDG)",
                                    'url': '#0'
                                },
                                {
                                    "text": "Mynegeion chwyddiant and phrisiau",
                                    'url': '#0'
                                },
                                {
                                    "text": "Cyfrifon gwladol",
                                    'url': '#0'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        "search": {
            "id": "search",
            "navAriaLabel": 'Nav Search',
            "toggleAriaLabel": 'Toggle search',
            "form": {
                "action":  "https://www.ons.gov.uk/search" ,
                "inputName": "q",
                "inputLabel": "Chwiliwch y SYG",
                "buttonText": "Search",
                "buttonAriaLabel": "Submit search"
             }
        }
    })
}}
