---
'fullWidth': true
---

{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "variants": 'basic',
        "mastheadLogoUrl": '#0',
        "language": {
            "languages": [
                {
                    "url": '#0',
                    "isoCode": 'en',
                    "text": 'English',
                    "current": true
                },
                {
                    "url": '#0',
                    "isoCode": 'cy',
                    "text": 'Cymraeg',
                    "current": false
                }
            ]
        },

        "menuLinks": {
            "id": "menu-links",
            "keyLinks": [
                {
                    'heading': 'Taking part in a survey?',
                    'url': '#0',
                    'description': 'It’s never been more important.'
                },
                {
                    'heading': 'Release calendar',
                    'url': '#0',
                    'description': 'View our latest and upcoming releases.'
                },
                {
                    'heading': 'Explore local statistics',
                    'url': '#0',
                    'description': 'Explore statistics across the UK.'
                }
            ],
            "columns": [
                {
                    "groups": [
                        {
                            "heading": "People, population and community",
                            'url': '#0',
                            "groupItems": [
                                {
                                    "text": "Armed forces community",
                                    'url': '#0'
                                },
                                {
                                    "text": "Births, deaths and marriages",
                                    'url': '#0'
                                },
                                {
                                    "text": "Crime and justice",
                                    'url': '#0'
                                },
                                {
                                    "text": "Cultural identity",
                                    'url': '#0'
                                },
                                {
                                    "text": "Education and childcare",
                                    'url': '#0'
                                },
                                {
                                    "text": "Elections",
                                    'url': '#0'
                                },
                                {
                                    "text": "Health and social care",
                                    'url': '#0'
                                },
                                {
                                    "text": "Household characteristics",
                                    'url': '#0'
                                },
                                {
                                    "text": "Housing",
                                    'url': '#0'
                                },
                                {
                                    "text": "Leisure and tourism",
                                    'url': '#0'
                                },
                                {
                                    "text": "Personal and household finances",
                                    'url': '#0'
                                },
                                {
                                    "text": "Population and migration",
                                    'url': '#0'
                                },
                                {
                                    "text": "Well-being",
                                    'url': '#0'
                                }
                            ]
                        }
                    ]
                },
                {
                    "groups": [
                        {
                            "heading": "Business, industry and trade",
                            'url': '#0',
                            "groupItems": [
                                {
                                    "text": "Business",
                                    'url': '#0'
                                },
                                {
                                    "text": "Changes to business",
                                    'url': '#0'
                                },
                                {
                                    "text": "Construction industry",
                                    'url': '#0'
                                },
                                {
                                    "text": "International trade",
                                    'url': '#0'
                                },
                                {
                                    "text": "IT and internet industry",
                                    'url': '#0'
                                },
                                {
                                    "text": "Manufacturing and production industry",
                                    'url': '#0'
                                },
                                {
                                    "text": "Retail industry",
                                    "url": "#0"
                                },
                                {
                                    "text": "Tourism industry",
                                    'url': '#0'
                                }
                            ]
                        },
                        {
                            "heading": "Employment and labour market",
                            "url": "#0",
                            "groupItems":
                            [
                                {
                                    "text": "People in work",
                                    'url': '#0'
                                },
                                {
                                    "text": "People not in work",
                                    'url': '#0'
                                }
                            ]

                        }
                    ]
                },
                {
                    "groups": [
                        {
                            "heading": "Economy",
                            'url': '#0',
                            "groupItems": [
                                {
                                    "text": "Economic output and productivity",
                                    'url': '#0'
                                },
                                {
                                    "text": "Government, public sector and taxes",
                                    'url': '#0'
                                },
                                {
                                    "text": "Gross Value Added (GVA)",
                                    'url': '#0'
                                },
                                {
                                    "text": "Investments, pensions and trusts",
                                    'url': '#0'
                                },
                                {
                                    "text": "Regional accounts",
                                    'url': '#0'
                                },
                                {
                                    "text": "Environmental accounts",
                                    'url': '#0'
                                },
                                {
                                    "text": "Gross Domestic Product (GDP)",
                                    'url': '#0'
                                },
                                {
                                    "text": "Inflation and price indices",
                                    'url': '#0'
                                },
                                {
                                    "text": "National accounts",
                                    'url': '#0'
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        "search": {
            "id": "search",
            "navAriaLabel": 'Nav Search',
            "toggleAriaLabel": 'Toggle search',
            "form": {
                "action":  "https://www.ons.gov.uk/search" ,
                "inputName": "q",
                "inputLabel": "Search the ONS",
                "buttonText": "Search",
                "buttonAriaLabel": "Submit search"
             }
        }
    })
}}
