---
'fullWidth': true
---

{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'Service manual',
        "mastheadLogoUrl": '#0',
        "titleUrl": '#0',
        "navigation": {
            "id": 'main-nav',
            "ariaLabel": 'Main menu',
            "currentPath": [ '#design-system', '#patterns', '#access-codes' ],
            "currentPageTitle": 'Design system',
            "itemsList": [
                {
                    "text": 'Service standard',
                    "url": '#0'
                },
                {
                    "text": 'Design system',
                    "url": '#design-system'
                },
                {
                    "text": 'Accessibility',
                    "url": '#0'
                },
                {
                    "text": 'Brand guidelines',
                    "url": '#0'
                },
                {
                    "text": 'Content style guide',
                    "url": '#0'
                }
            ],
            "toggleNavigationButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle menu'
            },
            "subNavigation": {
                "id": 'sub-nav',
                "overviewUrl": '#design-system',
                "overviewText": 'Overview',
                "ariaLabel": 'Section menu',
                "currentPath": '#access-codes',
                "removeHorizontalSubNav": true,
                "itemsList": [
                    {
                        "text": 'Guidance',
                        "url": '#0'
                    },
                    {
                        "text": 'Foundations',
                        "url": '#0'
                    },
                    {
                        "text": 'Components',
                        "url": '#0'
                    },
                    {
                        "text": 'Patterns',
                        "url": '#patterns'
                    }
                ]
            }
        }
    })
}}
