---
fullWidth: true
---

{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": 'Gwasanaeth Cymraeg',
        "titleUrl": '#0',
        "mastheadLogoUrl": '#0',
        "language": {
            "languages": [
                {
                    "url": '#0',
                    "isoCode": 'en',
                    "text": 'English',
                    "current": false
                },
                {
                    "url": '#0',
                    "isoCode": 'cy',
                    "text": 'Cymraeg',
                    "current": true
                }
            ]
        }
    })
}}
