---
title: Header
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

The ONS header shows users which ONS service they are on.

{{
    patternlibExample({ "path": "components/header/examples/external-basic/index.njk" })
}}

## When to use this component

You should use the ONS header at the top of any ONS service.

## How to use this component

### Internal
{{
    patternlibExample({ "path": "components/header/examples/internal-basic/index.njk" })
}}
The internal service variant of the header. Use the modifier `header--internal` when implementing for an internal service. 

### External survey with sign out button and language toggle 

The [ghost button](/components/button/#header-style) in the header moves to the [footer](/components/footer) when the page width is under the medium breakpoint (less than 740px).

The external header with language selector and save button, should be used across public facing services.
{{
    patternlibExample({ "path": "components/header/examples/external-lang/index.njk" })
}}

### External survey with description

Allows for text to be added below the title by adding the `header--hero` modifier class to the header element. This should be used when the service would benefit from a description which informs users of what the service provides.
{{
    patternlibExample({ "path": "components/header/examples/external-hero/index.njk" })
}}

### External with navigation
{{
    patternlibExample({ "path": "components/header/examples/external-navigation/index.njk" })
}}

For services that require a main navigation. For mobile users, a menu button is shown which allows the navigation menu to be open and closed using javascript.

### External with Welsh logo
{{
    patternlibExample({ "path": "components/header/examples/external-welsh/index.njk" })
}}

## External with Census branding

### Census
{{
    patternlibExample({ "path": "components/header/examples/census/index.njk" })
}}

### Census Welsh
{{
    patternlibExample({ "path": "components/header/examples/census-cy/index.njk" })
}}

### Census NISRA
{{
    patternlibExample({ "path": "components/header/examples/census-nisra/index.njk" })
}}


## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/160",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/160",
        "linkText": "Discuss 'Header' on GitHub"
    })
}}
