---
title: Header
synonyms: Menu, Main navigation, masthead
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

The ONS header shows users which ONS service they are on.

{{
    patternlibExample({ "path": "components/header/examples/header-default/index.njk" })
}}

## When to use this component

You should use the ONS header at the top of any ONS service.

## Variants

### Internal

For internal services for ONS staff. Set the `variant` parameter with the value “internal”.
{{
    patternlibExample({ "path": "components/header/examples/header-internal/index.njk" })
}}

### External survey with sign out button and language toggle

The external header for public-facing surveys provides a button to [save and sign out](/patterns/save-and-sign-out) of a survey. Translated surveys also use a persistent language toggle to allow users to [change language](/patterns/change-language).

When using the [base page template](/foundations/page-template) the `signoutButton` is removed from the header and displayed in the footer when the width of the viewport is below the medium breakpoint (less than 740px).
{{
    patternlibExample({ "path": "components/header/examples/header-external-for-surveys/index.njk" })
}}


### External with main navigation

For services that require a main navigation. For mobile users, the navigation will be hidden and a menu button is shown which allows the navigation menu to be open and closed.
{{
    patternlibExample({ "path": "components/header/examples/header-external-with-navigation/index.njk" })
}}

### External with service links

Displays links in the masthead. For mobile users, if more than one service link is used, the links will be hidden and a menu button is shown which allows the menu to be open and closed. 
{{
    patternlibExample({ "path": "components/header/examples/header-external-with-service-links/index.njk" })
}}


### External survey with description

Allows for text to be added below the title by adding the parameter `description` to the header configuration. This should be used when the service would benefit from a description which informs users of what the service provides.
{{
    patternlibExample({ "path": "components/header/examples/header-external-for-survey-with-description/index.njk" })
}}

### External with sub-navigation

For services that require multiple levels of navigation. When the viewport is below 980px, a menu button is shown which allows the sub navigation menu to be open and closed. 

An additional third level can also be displayed in the mobile menu. The third level would be navigation that is presented in the left hand column of a page in desktop view but hidden on small viewports. 
{{
    patternlibExample({ "path": "components/header/examples/header-external-with-sub-navigation/index.njk" })
}}

### External with Welsh logo

For services translated in Welsh
{{
    patternlibExample({ "path": "components/header/examples/header-external-welsh/index.njk" })
}}


#### Neutral header for multi-coloured brand logo

A colourless variant for services with a multi-coloured primary brand logo
{{
    patternlibExample({ "path": "components/header/examples/header-neutral-for-multicoloured-logo/index.njk" })
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/160",
        "linkText": "Discuss the ‘Header’ component on GitHub"
    })
}}
