{% from "components/header/src/_macro.njk" import onsHeader %}
{{ 
    onsHeader({
        "title": "Service title",
        "classes": "header--internal header--thin",
        "logo": "ons-logo-white"
    })
}}
