---
"fullWidth": true
---
{% from "components/header/_macro.njk" import onsHeader %}

{{
    onsHeader({
        "title": "Service title",
        "logoHref": "#",
        "classes": "header--internal",
        "logo": "ons-logo-white"
    })
}}
