.ons-details-panel {
    $root: &;

    background-color: var(--ons-color-info-tint);

    &__info-icon {
        background: var(--ons-color-white);
        border-radius: 50%;
        color: var(--ons-color-ocean-blue);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        height: 2rem;
        width: 2rem;
        text-align: center;
    }

    &__banner {
        list-style: none;
        background-color: var(--ons-color-ocean-blue);
        color: var(--ons-color-white);
        cursor: pointer;
        border: 1px solid var(--ons-color-ocean-blue);
    }

    &__banner-contents {
        display: flex;
    }

    &__banner-detail {
        width: fit-content;

        &__banner-detail-title {
            text-decoration: none;
        }

        &:focus {
            background: var(--ons-color-focus);
            box-shadow: 0 ems($button-shadow-size) 0 var(--ons-color-text-link-focus);
            color: var(--ons-color-text-link-focus);
        }
    }

    &__banner-detail-icon {
        .ons-icon {
            width: 1rem;
            height: 1rem;
            transform: rotate(90deg);
        }
        #{$root}[open] & {
            .ons-icon {
                transform: rotate(270deg);
            }
        }
    }

    &__banner-details {
        display: none;

        @include mq('l') {
            display: block;
            margin-left: 0.625rem;
        }
    }

    &__content {
        #{$root}[open] & {
            display: block;
        }
        .ons-details--initialised & {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-left: 0.625rem;
        border-bottom: 1px solid var(--ons-color-borders);
        margin-bottom: 1.5rem;

        @include mq('m') {
            flex-direction: row;
            column-gap: 2.5rem;
        }

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__content-meta {
        margin-bottom: 1.5rem;

        @include mq('m') {
            flex-basis: 25%;
            min-width: 265px;
            margin-bottom: 0;
        }
    }

    &__content-heading {
        color: var(--ons-color-black);
        margin-bottom: 0;
    }
}
