{% macro onsDetailsPanel(params) %}
    <div id="{{ params.id }}" class="ons-details-panel ons-js-details" {% if params.open %}{{ ' ' }}data-open="true"{% endif %}>
        <div class="ons-details-panel__banner ons-u-pt-s ons-u-pb-s">
            <div class="ons-container ons-details-panel__banner-contents">
                <span class="ons-details-panel__info-icon ons-u-mr-2xs" aria-hidden="true">i</span>
                <div class="ons-details-panel__banner-body">
                    {% if params.groups | length == 1 %}
                        {% set group = params.groups[0] %}
                        <h3 class="ons-details-panel__banner-title ons-u-mb-2xs">
                            {{ group.title + 's' if group.groupItems | length > 1 else group.title }}
                        </h3>
                    {% else %}
                        <h3 class="ons-details-panel__banner-title ons-u-mb-2xs">{{ params.title }}</h3>
                    {% endif %}
                    <div class="ons-details-panel__banner-detail ons-js-details-heading">
                        <span class="ons-details-panel__banner-detail-title ons-js-corrections-details-title ons-u-mr-3xs"
                            >Show detail</span
                        >
                        <span class="ons-details-panel__banner-detail-icon">
                            {% from "components/icon/_macro.njk" import onsIcon %}
                            {{
                                onsIcon({
                                    "iconType": "chevron"
                                })
                            }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ons-container ons-details-panel__content ons-js-details-content ons-u-pt-xl ons-u-pb-3xl">
            {% for group in params.groups %}
                <div class="ons-details-panel__item ons-u-pb-xl ons-u-mb-l">
                    <div class="ons-details-panel__content-meta">
                        <h3 class="ons-u-fs-r--b ons-details-panel__content-heading">{{ group.text }}</h3>
                        <time class="ons-details-panel__content-date" datetime="{{ group.date.iso }}">{{ group.date.short }}</time>
                    </div>
                    <div class="ons-details-panel__content-description">
                        <div class="ons-details-panel__content-text ons-u-mb-s">{{ group.description | safe }}</div>
                        {% if group.url or group.text == 'Content' %}
                            <a class="ons-details-panel__content-url" href="{{ group.url }}"> View superseded version</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
