{% macro onsDetailsPanel(params) %}
    <div class="ons-details-panel ons-js-details" {% if params.open %}{{ ' ' }}data-open="true"{% endif %}>
        <div class="ons-details-panel__banner ons-u-pt-s ons-u-pb-s">
            <div class="ons-container ons-details-panel__banner-contents">
                <span class="ons-details-panel__info-icon ons-u-mr-2xs" aria-hidden="true">i</span>
                <div class="ons-details-panel__banner-body">
                    {% set titleTag = params.headingLevel | default(2) %}
                    {% set openingTag = "<h" ~ titleTag %}
                    {% set closingTag = "</h" ~ titleTag ~ ">" %}
                    {{ openingTag | safe }}
                    class="ons-details-panel__banner-title ons-u-fs-m ons-u-mb-2xs">{{ params.title }}{{ closingTag | safe }}
                    <div class="ons-details-panel__banner-detail ons-js-details-heading">
                        <span class="ons-details-panel__banner-detail-title ons-js-corrections-details-title ons-u-mr-3xs"
                            >Show detail</span
                        >
                        <span class="ons-details-panel__banner-detail-icon">
                            {% from "components/icon/_macro.njk" import onsIcon %}
                            {{
                                onsIcon({
                                    "iconType": "chevron"
                                })
                            }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ons-container ons-details-panel__content ons-js-details-content ons-u-pt-xl ons-u-pb-3xl">
            {% for item in params.detailsItems %}
                <div class="ons-details-panel__item">
                    <div class="ons-details-panel__content-meta ons-u-mb-l@2xs@m">
                        <h3 class="ons-details-panel__content-heading">{{ item.text }}</h3>
                        <time class="ons-details-panel__content-date" datetime="{{ item.date.iso }}">{{ item.date.short }}</time>
                    </div>
                    <div class="ons-details-panel__content-description">
                        <div class="ons-details-panel__content-text ons-u-mb-s">{{ item.description | safe }}</div>
                        {% if item.url or item.text == 'Content' %}
                            <a class="ons-details-panel__content-url" href="{{ item.url }}"> View superseded version</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
