{% from "components/details-panel/_macro.njk" import onsDetailsPanel %}

{{
    onsDetailsPanel({
        "id":"corrections-notices",
        "open": true,
        "title": "Corrections and Notice",
        "groups":[
        {
            "text": 'Correction',
            "date":{
                "iso": '2025-01-22T16:30Z',
                "short": '22nd January 2025, 4:30PM'
                },
            "description": 'The Non-Financial Business Economy publication uses estimates from the Annual Business Survey (ABS). A weighting error means these data have now been revised, with the overall impact being minimal.',
            "url": '#0'
        },
        {
            "text": 'Correction',
            "date":{
                "iso": '2025-01-22',
                "short": '22nd January 2025'
            },
            "description": 'he Non-Financial Business Economy publication uses estimates from the Annual Business Survey (ABS). A weighting error means these data have now been revised, with the overall impact being minimal.',
            "url": '#0'
        },
        {
            "text": 'Notice',
            "date":{
                "iso": '2025-01-22T16:30Z',
                "short": '22nd January 2025, 4:30PM'
            },
            "description": 'The Non-Financial Business Economy publication uses estimates from the Annual Business Survey (ABS). A weighting error means these data have now been revised, with the overall impact being minimal.'
        }
        ]
    })
}}
