---
title: Components
sortOrder: 4
---
Components are reusable parts of the user interface that have been made to support a variety of applications.

Individual components can be used in multiple different [patterns](/patterns) and contexts. For example, the [text input](/components/input) component can be used to ask for an [email](/components/input#email) address, annual salary, or someone’s name.
