---
title: Components
sortOrder: 4
---

Components are the building blocks for any user interface.

Individual components can be used for various patterns and contexts. For example, the input component can be used to ask for an email address, a date or a name.

Each component has guidance on:
- when to use it
- how to use it
- variations you can use
- how to check it for errors
- user research done on it

You are welcome to [contribute a new component or a change to an existing component](/contribute).
