---
title: Question
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/text-indent/_macro.njk" import onsTextIndent %}
+++

Question pages are the most frequently used parts of a survey or questionnaire. They ask for a response from the user but they do not have to be mandatory; this will depend on the survey and what data is essential. 

## When to use this pattern
Use this pattern when you need a user to give you some information.

## When not to use this pattern
Do not use this pattern for any pages that are not asking for information. For example, use start pages and interstitial pages to give the user information they need to complete the questions.

## How to use this pattern
{{ patternlibExample({
    "path": "patterns/pages/question/examples/question-anatomy/index.njk",
    "noTabs": true
}) }}

Use the [basic content principles](/guidance/basic-content-principles) to make sure the content on your question pages is clearly written and accessible. Keep your content short so users do not have too much to read and can continue their journey without interruption. Each part of the page should follow the specific content guidance.

### Question headings
Most question headings are questions that end with a question mark. If they are a statement, do not include a full stop at the end. For example:
{{-
    onsTextIndent({
        text: '<p><strong>How has your turnover changed in the 12 months?</strong><br>
        and<br>
        <strong>Please describe any changes to your turnover in more detail</strong></p>'
    })
-}}

Other things to remember for headings are:
{{
    onsList({
        "itemsList": [
            {
                "text": 'front-load them with the most important information'
            },
            {
                "text": 'use sentence case – only the first letter is upper case unless there are proper nouns'
            },
            {
                "text": 'only use <a href="/patterns/see-important-information">highlighting</a> where there has been a change to a question that is either the same as, or very similar to, previous ones – for example, the time period changes'
            },
            {
                "text": 'only state a reporting period in the questions once per section of a survey if possible'
            }
        ]
    })
}}

### Question descriptions (optional)
A question description adds context to a survey question. It could be an instruction on how to answer it. It should not be used unless there is evidence that users need it to help them answer.

Question descriptions should be relevant to that question and not refer to any previous or upcoming questions.

You can use bold for important words and short phrases in the question description. Do not overuse bold text as this will reduce its impact.

A question description should have a full stop at the end only if there is more than one sentence.

### Question definition (optional)
Use a question definition to define a word or acronym that is in the question.

A question definition is collapsible so that it does not disrupt the flow of the page for users who do not need the definition.

Write them as statements rather than questions, for example:
{{-
    onsTextIndent({
        text: '<p><strong>What we mean by “employee”</strong><br>
        rather than<br>
        <strong>What does “employee” mean?</strong></p>'
    })
-}}

Only use one question description on a page.

### Question guidance (optional)
Question guidance panels are for extra information that a user needs to know to answer a question. Use them to explain what they should include or not include in their answer.

Format using bold for the Include and Exclude labels. If there is a single exclude or include, format this as a single line without the bold:
{{
    patternlibExample({"path": "components/panel/examples/information/index.njk"})
}}

### Answers and answer descriptions
Follow the [basic content principles](guidance/basic-content-principles) of answers and descriptions. Keeping both of them short is important to avoid the user getting overwhelmed by the choices.

Do not use full stops on answers or answer descriptions (unless the description is more than one sentence).

### Question justification (optional)
Use a question justification to explain why a question is being asked if there is evidence that users want to know this.

A question justification is collapsible and positioned at the bottom of the page so it does not disrupt the flow of the page for users.

Like the question definition, write them as statements rather than questions, for example:
{{-
    onsTextIndent({
        text: '<p><strong>Why we ask this question</strong><br>
        rather than<br>
        <strong>Why do we ask this question?</strong></p>'
    })
-}}

## Accessibility

The question heading should always be an `<h1>`.

### When the answer fields should be wrapped in a fieldset with legend

In the following scenarios, the answer fields should be wrapped with the [fieldset](/components/fieldset) macro, with a legend that matches the question title. This provides context to screen readers about what is being asked when a user focuses on an input element for an answer.

Answers should be wrapped in a fieldset when:
{{
    onsList({
        "itemsList": [
            {
                "text": 'the question type is <a href="/components/mutually-exclusive">mutually exclusive</a>'
            },
            {
                "text": 'there are multiple answers (except when the question type is a date range)'
            },
            {
                "text": 'if any of the answers to the questions are <a href="/components/checkboxes">checkboxes</a>'
            },
            {
                "text": 'if any of the answers to the questions are <a href="/components/radios">radios</a>'
            },
            {
                "text": 'if one of the answers to the question is a <a href="/patterns/dates">date</a>'
            },
            {
                "text": 'if any of the answers to the question are a <a href="/patterns/durations">duration</a>'
            }
        ]
    })
}}

When wrapping the radios in a fieldset for the [relationships pattern](/patterns/relationships), you should add `"readDescriptionFirst" :true` so screen readers announce the description before the question heading.

### Legend as question heading

When the question page contains a fieldset, it is quite possible that the question heading (`<h1>`) is the same as what the legend needs to be.

To avoid the visual repetition of text you should wrap the `<h1>` inside the `<legend>`. Add the parameter `"legendIsQuestionTitle": true` inside the `onsQuestion` configuration. You also need to include `"dontWrap": true` in the configuration of the component you are using for the answer.

+++
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel({
        "type": 'warn'
    })
%}
    Do not use a utility class to visually hide the repetitive legend because this does not avoid the repetition for screen reader users
{% endcall %}
+++

## Examples

### Question as a fieldset

{{ patternlibExample({
    "path": "components/question/examples/question-fieldset/index.njk"
}) }}

### Question without a fieldset

{{ patternlibExample({
    "path": "components/question/examples/question-no-fieldset/index.njk"
}) }}

### Question with an interviewer instruction

{{ patternlibExample({
    "path": "components/question/examples/question-ccs/index.njk"
}) }}

### Interstitial with an interviewer instruction

{{ patternlibExample({
    "path": "components/question/examples/question-interviewer-note/index.njk"
}) }}

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1393",
        "linkText": "Discuss the ‘Question’ pattern on GitHub"
    })
}}
