{% from "components/field/_macro.njk" import onsField %}
{% from "components/input/_macro.njk" import onsInput %}

{% call onsField({
    "id": "address-duration",
    "legend": "How long have you lived at this address?",
    "description": "If you have lived at this address for less than a year then enter 0 into the year input.",
    "mutuallyExclusive": {
        "or": "Or",
        "deselectMessage": "Selecting this will clear the date if one has been inputted",
        "deselectGroupAdjective": "cleared",
        "deselectCheckboxAdjective": "deselected",
        "checkbox": {
            "id": "duration-exclusive-checkbox",
            "name": "no-duration",
            "value": "no-duration",
            "label": {
                "text": "I have not moved in to this address yet"
            }
        }
    }
}) %}
    <div class="field__group">
        <p class="field__item">
            {{ 
                onsInput({
                    "id": "address-duration-years",
                    "type": "number",
                    "name": "address-duration-years",
                    "classes": "input--w-2 js-exclusive-group",
                    "attributes": {
                        "min": 0,
                        "max": 100
                    },
                    "suffix": {
                        "title": "Years"
                    },
                    "noField": true
                })
            }}
        </p>
        <p class="field__item">
            {{ 
                onsInput({
                    "id": "address-duration-months",
                    "type": "number",
                    "name": "address-duration-months",
                    "classes": "input--w-2 js-exclusive-group",
                    "attributes": {
                        "min": 0,
                        "max": 11
                    },
                    "suffix": {
                        "title": "Months"
                    },
                    "noField": true
                })
            }}
        </p>
    </div>
{% endcall %}
