{% from "components/document-list/_macro.njk" import onsDocumentList %}
{{
    onsDocumentList({
        "documents": [
            {
                "thumbnail": true,
                "title": {
                    "text": 'Including everyone in Census 2021',
                    "url": '#0'
                },
                "metadata": {
                    "object": {
                      "text": 'Poster'
                    },
                    "file": {
                        "fileType": 'PDF',
                        "fileSize": '499KB',
                        "filePages": '1 page'
                    }
                },
                "description": 'Empty belly poster, aimed at advertising census events.'
            },
            {
                "thumbnail": true,
                "title": {
                    "text": 'Community handbook for Census 2021',
                    "url": '#0'
                },
                "metadata": {
                    "object": {
                        "text": 'Booklet'
                    },
                    "file": {
                        "fileType": 'PDF',
                        "fileSize": '3.3MB',
                        "filePages": '16 pages'
                    }
                },
                "description": 'This handbook explains what the census is, why it matters to everyone and how we can work together to spread the word within your community.'
            },
            {
                "thumbnail": true,
                "title": {
                    "text": 'Census 2021 matters to everyone',
                    "url": '#0'
                },
                "metadata": {
                    "object": {
                        "text": 'Poster'
                    },
                    "file": {
                        "fileType": 'PDF',
                        "fileSize": '866KB',
                        "filePages": '1 page'
                    }
                },
                "description": 'By taking part and encouraging others to do the same, you’ll make sure your community gets the services it needs.'
            }
        ]
    })
}}
