---
layout: none
---
{% extends "layout/_template.njk" %}

{% set pageConfig = {
    "title": "Non-editable address input example",
    "breadcrumbs": {
        "ariaLabel": 'Back',
        "itemsList": [
            {
                "url": '/patterns/addresses/examples/address-input-non-editable',
                "id": 'back',
                "text": 'Back'
            }
        ]
    }
} %}
{% block main %}
    <h1>Register an address</h1>
    <p>If you can’t find your address, it may not be registered on our system.</p>
    <p>To register your address, we need you to get in touch. You can call us free on 0800 141 2021 or <a href="#0">choose another way to contact us</a>.</p>
{% endblock %}
