---
title: Guidance
sortOrder: 2
---

+++
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

Everything you need to get set up on the design system, and guidance on how to use&nbsp;it.

Start your set-up by [installing with npm](/guidance/install-with-npm) to get the most up-to-date version of the design system. Then [import the files and assets](/guidance/using-css-js-and-assets) you need.

The content and design guides will help you write and design for accessibility and consistency. They will also guide you on how to apply [ONS house style](https://style.ons.gov.uk/category/house-style/) correctly.

If you need further help, or have any questions, you can email the Design System working group at {{
onsExternalLink({
    "url": "mailto:ONS.Design.System@ons.gov.uk?subject=Query about the Design System working group",
    "linkText": "ONS.Design.System@ons.gov.uk"
    })
}}
