.external-link {
  &__icon {
    white-space: nowrap;
  }
  .svg-icon {
    fill: $color-grey-100;
    margin: 0 0 0 0.25rem;
    padding-bottom: 0.1rem;
  }
  &:focus {
    .svg-icon {
      fill: $color-black;
    }
  }
  &:hover {
    .svg-icon {
      fill: $color-text-link-hover;
      .footer & {
        fill: $color-black;
      }
    }
  }
}
