.external-link {
  .svg-icon {
    fill: $color-grey-1;
    margin: 0 0 0 0.25rem;
    padding-bottom: 0.1rem;
  }
  &:focus {
    .svg-icon {
      fill: $color-black;
    }
  }
  &:hover {
    .svg-icon {
      fill: $color-links-hover;
      .footer & {
        fill: $color-black;
      }
    }
  }
}
