.ons-external-link {
  &__icon {
    visibility: hidden;
    white-space: nowrap;
  }
  .ons-svg-icon {
    fill: var(--ons-color-grey-100);
    margin: 0 0 0 0.25rem;
    padding-bottom: 0.1rem;
    visibility: visible;
  }
  &:focus {
    .ons-svg-icon {
      fill: var(--ons-color-black);
    }
  }
  &:hover {
    .ons-svg-icon {
      fill: var(--ons-color-text-link-hover);
      .ons-footer & {
        fill: var(--ons-color-black);
      }
    }
  }
}
