{% macro onsExternalLink(params) %}
    <a href="{{- params.url -}}" target="_blank" rel="noopener">{{- params.linkText -}}
        <svg><use xlink:href="../../../img/icons/icons--external-link.svg#external-link"></use></svg>
    </a>
{% endmacro %}
