{% macro onsRelatedContent(params) %}

  {% if params.classes %}
    {% set classes = ' ' + params.classes %}
  {% endif %}

  <aside class="ons-related-content{{ classes }}" aria-label="{{ params.ariaLabel | default("Related content") }}">
    {% if params.rows %}
      {% for row in params.rows %}
        {% from "components/related-content/_section-macro.njk" import onsRelatedContentSection %}
        {% call onsRelatedContentSection(
          {
            "title": row.title,
            "id": row.id
          }
        ) %}            
          <nav class="ons-related-content__navigation" aria-labelledby="{{ row.id }}">
            {% from "components/lists/_macro.njk" import onsList %}
            {{
              onsList({
                "variants": 'bare',
                "iconType": row.iconType,
                "iconPosition": row.iconPosition,
                "iconSize": row.iconSize,
                "itemsList": row.itemsList
              })
            }}
          </nav>
        {% endcall %}
      {% endfor %}
    {% else %}
      {{ caller() if caller }}
    {% endif %}
  </aside>

{% endmacro %}
