{% from "components/related-content/_macro.njk" import onsRelatedContent %}

{{
    onsRelatedContent({
        "ariaLabel": 'Social media links',
        "rows": [
            {
                "id": 'follow-us',
                "title": 'Follow us',
                "iconPosition": 'before',
                "iconSize": '2xl',
                "itemsList": [
                    {
                        "url": '#0',
                        "text": 'X',
                        "iconType": 'x',
                        "rel": 'noreferrer external'
                    },
                    {
                        "url": '#0',
                        "text": 'Facebook',
                        "iconType": 'facebook',
                        "rel": 'noreferrer external'
                    },
                    {
                        "url": '#0',
                        "text": 'Instagram',
                        "iconType": 'instagram',
                        "rel": 'noreferrer external'
                    },
                    {
                        "url": '#0',
                        "text": 'LinkedIn',
                        "iconType": 'linkedin',
                        "rel": 'noreferrer external'
                    }
                ]
            }
        ]
    })
}}
