---
title: Related content
synonyms: Side bar, useful links
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

Related content is used to provide additional information for the user.

## Related links example

{{
    patternlibExample({"path": "components/related-content/examples/related-links-multiple-rows/index.njk"})
}}

## Social media links example

{{
    patternlibExample({"path": "components/related-content/examples/related-links-social-media/index.njk"})
}}

## Flexible content example

The component allows for any content or component to be used. You will need to use an additional secondary 'inner' component called `onsRelatedContentSection()`. This can be used multiple times to allow complete flexibility over the content you need to show while maintining the correct spacing and styling.

To use this approach you need to implement `onsRelatedContent()` using `call()`. You should then nest `onsRelatedContentSection()` inside using `call()`. See the `Nunjucks` tab output to see how it works.

{{
    patternlibExample({"path": "components/related-content/examples/related-content-general/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1283",
        "linkText": "Discuss ‘Related content’ component on GitHub"
    })
}}
