{% macro onsTimeline(params) %}

    {% from "components/lists/_macro.njk" import onsList %}

    <div class="ons-timeline{{ ' ' + params.classes if params.classes else '' }}">

        {% for item in params.items %}
        <div class="ons-timeline__item">

            <h2 class="ons-timeline__heading">{{ item.heading }}</h2>

            {% if item.itemsList %}

                {{
                    onsList({
                        "variants": 'bare',
                        "itemsList": item.itemsList
                    })
                }}

            {% else %}

                {{ item.content | safe }}

            {% endif %}

        </div>
        {% endfor %}

    </div>

{% endmacro %}
