.ons-timeline {
  padding-left: 1.5rem;
  position: relative;

  &::before {
    border-left: 4px solid var(--ons-color-black);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 10px;
  }
}

.ons-timeline__item {
  margin-bottom: 1.5rem;
  position: relative;

  &::before {
    background-color: var(--ons-color-black);
    content: '';
    height: 4px;
    left: -1.5rem;
    position: absolute;
    top: 10px;
    width: 12px;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.ons-timeline__heading {
  font-size: 1rem !important;
  margin-bottom: 0.5rem;
}
