---
title: Timeline
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Use the Timeline component to show a linear record of what’s happening.

# Example
{{
    patternlibExample({"path": "components/timeline/examples/timeline/index.njk"})
}}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/871",
        "linkText": "Discuss 'Discuss 'Timeline' on GitHub"
    })
}}
