{% from "components/upload/_macro.njk" import onsUpload %}

{{
    onsUpload({
        "id": "file",
        "accept": ".pdf,.xls,.xlsx",
        "label": {
            "description": "File types accepted are PDF, XLS and XLSX",
            "text": "Upload a file"
        },
        "error": {
            "id": "file-error",
            "text": "Select a file that is either a PDF, XLS or XLSX",
            "dsExample": isPatternLib
        }
    })
}}
