---
title: Browser testing
sortOrder: 1
---

+++
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

The design system must be universally accessible. This means components and patterns must work on every browser and device that users access our services on.

## Test for compatibility

Services don’t have to look perfect in every browser but users must be able to access and use all the information and features they need, regardless of which browser they use.

Use {{
    onsExternalLink({
        "url": "https://www.gov.uk/service-manual/technology/using-progressive-enhancement",
        "linkText": "progressive enhancement"
    })
}} to give your service the best possible chance of working for the majority of your users.

## Browsers to test in

You should test your service in the browser shown in {{
    onsExternalLink({
        "url": "https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices",
        "linkText": "the supported browsers table in the GOV.UK Service Manual"
    })
}}

The table shows the minimum browser requirements you should be testing with, based on usage statistics for GOV.UK. If your service’s analytics data shows at least 2% of your users are using a different browser or version, then you will still need to support it.

### Microsoft Internet Explorer
In June 2022, {{
    onsExternalLink({
        "url": "https://docs.microsoft.com/en-us/lifecycle/announcements/internet-explorer-11-end-of-support",
        "linkText": "Microsoft ended support for Internet Explorer"
    })
}}, so the Design System will no longer support this browser.

A branch supporting Internet Explorer will be maintained with security updates and major bug fixes until June 2023, to allow services to continue supporting the browser while they plan to migrate to the latest version.

The [base page template](/foundations/page-template/) in the latest version of the Design System contains a banner which, by default, will display in Internet Explorer only, to help users upgrade their browser.

### Testing with assistive technologies

You’ll also need to {{
    onsExternalLink({
        "url": "https://www.gov.uk/service-manual/helping-people-to-use-your-service/testing-for-accessibility",
        "linkText": "make sure your component or pattern works with assistive technologies"
    })
}}

## Design for your audience

When designing your component or pattern, you should analyse your users’ choice of:

- operating systems
- browsers
- browser versions
- screen size/resolutions
- choice of mobile device

If evidence shows that your users have specific needs or extra support requirements, you can use this to make a case for not meeting these browser requirements.

For example, components and patterns used exclusively in products that internal teams use may not need to be tailored to work on smaller viewports, as it is likely that these users will only be using the product on a desktop browser.
