---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "lang": 'cy',
        "crest": true,
        "cols": [
            {
                "title": 'Cysylltwch',
                "itemsList": [
                    {
                        "text": 'Ymholiadau gan y cyfryngau',
                        "url": '#0'
                    },
                    {
                        "text": 'Cysylltwch â ni',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Gweithio ar y cyfrifiad',
                "itemsList": [
                    {
                        "text": 'Awdurdodau lleol',
                        "url": '#0'
                    },
                    {
                        "text": 'Grwpiau cymunedol',
                        "url": '#0'
                    },
                    {
                        "text": 'Ymgyrchoedd ysgolion',
                        "url": '#0'
                    },
                    {
                        "text": 'swyddi',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Ynglŷn â’r cyfrifiad',
                "itemsList": [
                    {
                        "text": 'Beth yw’r cyfrifiad',
                        "url": '#0'
                    },
                    {
                        "text": 'Pam ddylech chi gymryd rhan',
                        "url": '#0'
                    },
                    {
                        "text": 'Straeon y cyfrifiad',
                        "url": '#0'
                    }
                ]
            }
        ],
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Cwcis',
                        "url": '#0'
                    },
                    {
                        "text": 'Datganiad hygyrchedd',
                        "url": '#0'
                    },
                    {
                        "text": 'Preifatrwydd a diogelu data',
                        "url": '#0'
                    }
                ]
            }
        ]
    })
}}
