---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "lang": 'cy',
        "crest": true,
        "cols": [
            {
                "title": 'Cysylltwch',
                "itemsList": [
                    {
                        "text": 'Ymholiadau gan y cyfryngau',
                        "url": '#0'
                    },
                    {
                        "text": 'Cysylltwch â ni',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Gweithio ar y cyfrifiad',
                "itemsList": [
                    {
                        "text": 'Swyddi',
                        "url": '#0'
                    },
                    {
                        "text": 'Y cyfryngau ac ymgyrchoedd',
                        "url": '#0'
                    },
                    {
                        "text": 'Ein partneriaid',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Ynglŷn â’r cyfrifiad',
                "itemsList": [
                    {
                        "text": 'Cyfrifiad 2021',
                        "url": '#0'
                    },
                    {
                        "text": 'Pam ddylech chi gymryd rhan',
                        "url": '#0'
                    }
                ]
            }
        ],
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Cwcis',
                        "url": '#0'
                    },
                    {
                        "text": 'Hygyrchedd',
                        "url": '#0'
                    },
                    {
                        "text": 'Preifatrwydd a diogelu data',
                        "url": '#0'
                    }
                ]
            }
        ]
    })
}}
