{% macro onsFeedback(params) %}
    {% from "components/textarea/_macro.njk" import onsTextarea %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/radios/_macro.njk" import onsRadios %}
    {% from "components/select/_macro.njk" import onsSelect %}

    <div class="feedback {{ params.classes }}">
        <div class="feedback__body">
            <h2>What do you think about this service?</h2>
            <p>Your comments will help us make improvements</p>
            {{
                onsRadios({
                    "legend": "Select what your feedback is about",
                    "name": "feedback-type",
                    "radios": [
                        {
                            "id": "questions",
                            "label": {
                                "text": "The census questions",
                                "description": "For example, questions not clear, answer options not relevant"
                            },
                            "value": "questions"
                        },
                        {
                            "id": "design",
                            "label": {
                                "text": "Page design and structure"
                            },
                            "value": "design"
                        },
                        {
                            "id": "general",
                            "label": {
                                "text": "General feedback about this service"
                            },
                            "value": "general"
                        }
                    ]
                })
            }}
            {{
                onsSelect({
                    "id": "select",
                    "name": "select",
                    "label": {
                        "text": "Question topic"
                    },
                    "options": [
                        {
                            "value": "",
                            "text": "Select an option",
                            "disabled": true,
                            "selected": true
                        },
                        {
                            "value": "general",
                            "text": "General"
                        },
                        {
                            "value": "people-who-live-here",
                            "text": "People who live here"
                        },
                        {
                            "value": "visitors",
                            "text": "Visitors"
                        },
                        {
                            "value": "houshold-accommodation",
                            "text": "Houshold and accommodation"
                        },
                        {
                            "value": "personal-details",
                            "text": "Personal details"
                        },
                        {
                            "value": "health",
                            "text": "Health"
                        },
                        {
                            "value": "qualifications",
                            "text": "Qualifications"
                        },
                        {
                            "value": "employment",
                            "text": "Employment"
                        }
                    ]
                })
            }}
            {{
                onsTextarea({
                    "id": "feedback-textarea",
                    "name": "feedback-text",
                    "classes": "input--w-30",
                    "label": {
                        "text": "Enter your feedback",
                        "description": "Do not include confidential information, such as your contact details"
                    },
                    "charCheckLimit": {
                        "limit": 1000,
                        "charCountSingular": "You have {x} character remaining",
                        "charCountPlural": "You have {x} characters remaining"
                    }
                })
            }}
            {{
                onsButton({
                    "text": "Send feedback",
                    "classes": "u-mt-m"
                })
            }}
        </div>
        <div class="feedback__footer">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.26 25.28">
                <polyline points="25.26 0 21 0 21 0 3 18 3 0 0 0 0 25.28" style="fill:#902082"></polyline>
                <polygon points="3 0 21 0 3 18 3 0" style="fill:#fff"></polygon>
            </svg>
        </div>
    </div>
{% endmacro %}
