{% from "components/feedback/_macro.njk" import onsFeedback %}

{{
    onsFeedback({
        "id": "feedback",
        "title": "Give feedback and help us improve this service",
        "closeButton": "I don't want to provide feedback",
        "textarea": {
            "label": {
                "text": "How can we improve this survey"
            },
            "maxlength": 2000,
            "charCountSingular": "You have {x} character remaining",
            "charCountPlural": "You have {x} characters remaining"
        },
        "name": {
            "label": {
                "text": "Name (optional)",
                "description": "Please include your name and email address if you’re interested in taking part in further research to improve this survey"
            }
        },
        "email": {
            "label": {
                "text": "Email address (optional)"
            }
        },
        "sendButton": "Send feedback",
        "thankYouMessage": "Thank you for your feedback.",
        "errorMessage": "There was an error sending your feedback.\n(Error code: {x})"
    })
}}
