---
"fullWidth": true
---
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{{
    onsCookiesBanner({
        "statementTitle": 'Tell us whether you accept cookies',
        "statementText": 'We use <a href="#0">cookies to collect information</a> about how you use census.gov.uk. We use this information to make the website work as well as possible and improve our services.',
        "acceptedText": 'You’ve accepted all additional cookies.',
        "rejectedText": 'You’ve rejected all additional cookies.',
        "preferencesText": 'You can <a href="#0">change your cookie preferences</a> at any time.'
    })
}}
