---
"fullWidth": true
---
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{{
    onsCookiesBanner()
}}

{% from "components/video/_macro.njk" import onsVideo %}
{{
    onsVideo({
        "videoEmbedUrl": "https://www.youtube.com/embed/_EGJlvkgbPo",
        "coverImage": "/patternlib-img/youtube-example-cover.png",
        "title": "Census 2021 promotional TV advert"
    })
}}