---
"fullWidth": true
---
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{{
    onsCookiesBanner({
        "statementTitle": 'Cookies on census.gov.uk',
        "statementText": '<p>Cookies are small files that we put on your device. Some cookies are essential to make the site work.<p>
                          <p>You can allow additional cookies that remember your settings and help us improve our services by understanding how you use the site.</p>',
        "acceptedText": 'You’ve accepted all additional cookies.',
        "rejectedText": 'You’ve rejected all additional cookies.',
        "preferencesText": 'You can <a href="#0">change your cookie preferences</a> at any time.'
    })
}}
