.promo-banner {
  padding: 2rem 0;
  background: $color-primary-purple;
  &--gradient {
    background: radial-gradient(at bottom left, $color-accent-pink, $color-primary-purple, $color-secondary-blue);
  }

  &__image {
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }

  &--dark-theme {
    h1,
    h2,
    li,
    p,
    a {
      color: $color-white;
    }
    a {
      &:focus,
      &:hover {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
