---
title: Promotional banner
---
Documentation required

## Census promotional banner
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{{
    patternlibExample({"path": "components/promo-banner/examples/census-promo-banner/index.njk"})
}}

## Research on this component
{% from "components/panel/_macro.njk" import onsPanel %}
{{
    onsPanel({
        "body": "If you have conducted any user research using this pattern, please feed back your findings via the <a href='#design-system-forum'>Design System Forum.</a>"
    })
}}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/730" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Promotional banner' on GitHub</a>
