{%- macro onsVideo(params) -%}
    <div class="ons-video">
        {% if params.youtubeUrl is defined and params.youtubeUrl %}
            <iframe title="{{ params.title }}" class="ons-video__iframe" src="{{ params.youtubeUrl }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
    </div>
{%- endmacro -%}
