{% from "components/video/_macro.njk" import onsVideo %}
{{
    onsVideo({
        "videoEmbedUrl": 'https://www.youtube.com/embed/OwYVwPPxPj4',
        "videoLinkUrl": 'https://www.youtube.com/watch?v=OwYVwPPxPj4',
        "image": {
            "largeSrc": '/ds-img/youtube-example-cover.png',
            "smallSrc": '/ds-img/youtube-example-cover.png',
            "alt": "Youtube video"
        },
        "title": 'Transforming the way we produce statistics | Explaining the Dynamic Population Model | BSL',
        "videoLinkText": 'Watch “Transforming the way we produce statistics | Explaining the Dynamic Population Model | BSL“ on Youtube'
    })
}}
