---
title: Video
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

## YouTube video
{{
    patternlibExample({"path": "components/video/examples/video/index.njk"})
}}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/720" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Video' on GitHub</a>
