---
title: Video
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

Requires documentation

## YouTube video
{{
    patternlibExample({"path": "components/video/examples/video/index.njk"})
}}

## Design System forum 
[Discuss 'Video' on GitHub](https://github.com/ONSdigital/design-system/issues/720)
