---
fullWidth: true
---
{% from "components/button-link/_macro.njk" import onsButtonLink %}
<div style="padding: 1.5rem; background: #206095">
{{
    onsButtonLink({
            "text": 'Save and sign out',
            "url": '#0',
            "variants": 'ghost',
            "iconType": "exit",
            "iconPosition": "after"
        })
    }}
</div>
