---
layout: none
---
{% extends "styles/page-template/_template.njk" %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}

{% set pageConfig = {
    "title": "Hub Example",
    "signoutButton": {
        "text": "Save and sign out",
        "buttonStyle": "exit"
    }
} %}

{% block main %}
    <h1 class="u-mt-m">Choose another section to complete</h1>

    {% call onsPanel() %}
        <p><strong>You must complete all sections in order to submit this survey</strong></p>
    {% endcall %}

    {{ onsSummary({
        "hub": true,
        "classes": "u-mt-m",
        "summaries": [
            {
                "groups": [
                    {
                        "rows": [
                            {
                                "rowTitle": "People who live here",
                                "rowItems": [
                                    {
                                        "icon": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for People who live here",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Accomodation",
                                "rowItems": [
                                    {
                                        "icon": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for Accomodation",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Mary Smith (You)",
                                "rowItems": [
                                    {
                                        "icon": "check",
                                        "valueList": [
                                            {
                                                "text": "Completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "View answers",
                                                "ariaLabel": "View answers for Mary Smith",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "John Smith",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Partially completed"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Continue with section",
                                                "ariaLabel": "Continue with John Smith's section",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Billy Smith",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "ariaLabel": "Start Billy Smith's section",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Sally Smith",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "ariaLabel": "Start Sally Smith's section",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Wilhelmina Susannah Clementine-Smith (Visitor)",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "ariaLabel": "Start Wilhelmina Susannah Clementine-Smith's section",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "rowTitle": "Vera Jones (Visitor)",
                                "rowItems": [
                                    {
                                        "valueList": [
                                            {
                                                "text": "Not started"
                                            }
                                        ],
                                        "actions": [
                                            {
                                                "text": "Start section",
                                                "ariaLabel": "Start Vera Jones's section",
                                                "url": "#"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    }) }}

    {{
        onsButton({
            "text": 'Continue',
            "classes": 'u-mb-m u-mt-l'
        })
    }}
{% endblock %}
