{% from "components/input/_macro.njk" import onsInput %}

{{
    onsInput({
        "id": 'number',
        "type": 'number',
        "width": '5',
        "attributes": {
            "min": 0
        },
        "label": {
            "text": 'Number of employees paid monthly'
        },
        "error": {
            "text": 'Enter a number'
        }
    })
}}
