{% from "components/description-list/_macro.njk" import onsDescriptionList %}

{% macro onsMetadata(params) %}
{{
    onsDescriptionList({
        "id": params.id,
        "classes": params.classes,
        "descriptionLabel": params.metadataLabel,
        "termCol": "2",
        "descriptionCol": "10",
        "itemsList": params.itemsList
    })
}}
{% endmacro %}
