{% macro onsMetadata(params) %}
  <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-l"{% if params.id %} id="{{ params.id }}" {% endif %}{% if params.metadataLabel %} title="{{ params.metadataLabel }}" aria-label="{{ params.metadataLabel }}"{% endif %}>
    {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) %}
      {% if item.term | length %}
          <dt class="metadata__term grid__col col-{{ params.termCol }}@m">{{ item.term }}</dt>
      {% endif %}
        {% for description in item.descriptions %}
          {% if description.description | length %}
            <dd {% if description.id %}id="{{ description.id }}" {% endif %}class="metadata__value grid__col col-{{ params.descriptionCol }}@m">{{ description.description }}</dd>
          {% endif %}
        {% endfor %}
    {% endfor %}
  </dl>
{% endmacro %}
