.ons-metadata {
  &__list {
    margin: 0 0 2rem;
  }

  &__term {
    clear: both;
    float: left;
    font-weight: $font-weight-bold;

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  &__value {
    float: right;
    margin-left: 0; /* As normalize adds a 40px left margin */

    &:not(:nth-of-type(1)) {
      @include mq(m) {
        margin-top: 0.5rem;
      }
    }

    & + & {
      @include mq(m) {
        margin-top: 0;
      }
    }
  }
}
