---
title: Metadata
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

The metadata component is a way to organise and explain a block of key-value pairs of related information.
{{
    patternlibExample({"path": "components/metadata/examples/metadata/index.njk"})
}}

## When to use this component
Use the metadata component when you need to display a group of properties and their associated values for an object, product or system.  For example, a product's specification.

## How to use this component
A description list `<dl>` is used to divide the metadata information into terms `<dt>` and descriptions `<dd>`.

Use [the grid](/styles/grid) to build the layout of two columns of metadata, setting the number of columns (`col-<n>@m`) to ensure the terms display on a single line where possible.

Use the `metadataLabel` to succinctly describe the description list.

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/91",
        "linkText": "Discuss the ‘Metadata’ component on GitHub"
    })
}}
