{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "classes": 'list--bare list--inline',
        "itemsList": [
            {
                "text": 'Contact us',
                "url": '#'
            },
            {
                "text": 'Cookies and privacy',
                "url": '#'
            },
            {
                "text": 'Terms and conditions',
                "url": '#'
            }
        ]
    })
}}
