.pl-question-anatomy {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: $grid-max-width;

  &__row {
    &:not(:last-child) {
      border-bottom: 1px dashed $color-grey-15;
    }
  }

  &__component {
    padding: 1rem 1rem 1rem 0;
    vertical-align: top;
  }

  &__description {
    padding: 1rem 0 1rem 1rem;
    text-align: left;

    strong {
      color: $color-errors;
    }
  }
}
