---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "lang": 'cy',
        "poweredBy": true,
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Cysyllwch a ni',
                        "url": '#0'
                    },
                    {
                        "text": 'Cwcis ac preifatrwydd',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'Mae’r holl gynnwys ar gael o dan y',
            "link": 'Drwydded Llywodraeth Leol v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', oni bai y nodir fel arall'
        }
    })
}}
