{% macro onsStatus(params) %}
    {% if params.variant %}
        {% set typeClass = ' ons-status--' + params.variant %}
    {% else %}
        {% set typeClass = ' ons-status--info' %}
    {% endif %}

    {% if params.size == 'small' %}
        {% set sizeClass = ' ons-status--small' %}
    {% endif %}

    <span class="ons-status{{ typeClass }}{{ sizeClass }}">{{ params.label }}</span>
{% endmacro %}
