---
title: Status
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

## When to use this component
Use status indicators when you need to present a system, page or element status to the user.

## How to use this component
Unless the context of the status indicator makes its use clear and obvious to sighted users, it should be displayed alongside a relevant and consistent label.

For example, a 'Info/neutral' status indicator could be displayed on its own alongside unread messages in a list, to indicate their 'unread' status.

A status type class `status--<type>` sets the color of the status indicator.

## Success
A 'success' status lets the user know when something is either live, complete or successful.
{{
    patternlibExample({"path":"components/status/examples/success/index.njk"})
}}

## Pending
A 'pending' status lets the user know when something is not yet ready and is waiting for a process or action to be completed.
{{
    patternlibExample({"path":"components/status/examples/pending/index.njk"})
}}


## Dead
A 'dead' status lets the user know when something is inactive, has not been started or is dead.
{{
    patternlibExample({"path":"components/status/examples/dead/index.njk"})
}}

## Error
An 'error' status lets the user know when something is wrong, refused or has an error.
{{
    patternlibExample({"path":"components/status/examples/error/index.njk"})
}}

## Info/neutral
A 'info/neutral' status lets the user know when something is new, ready or unread.
{{
    patternlibExample({"path":"components/status/examples/info/index.njk"})
}}

## Variants

### Small
Each status 'dot' has a small variant which is applied by adding a `<status type>--small` class to the `<span>`.
{{
    patternlibExample({"path":"components/status/examples/success-small/index.njk"})
}}

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/77",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/77",
        "linkText": "Discuss 'Status' on GitHub"
    })
}}
