---
title: Typography
sortOrder: 2
anchorLinks: true
---
{% from "components/lists/_macro.njk" import onsList %}
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

## Font
Text is the primary way that users digest information and accomplish tasks, so it’s important to use good typographic principles to establish a clear visual hierarchy and to maximize legibility.

### Open Sans
The primary font used in SDC is {{
    onsExternalLink({
        "url": "https://fonts.google.com/specimen/Open+Sans",
        "linkText": "Open Sans"
    })
}} , defaulting to stylistic set 2 (for open g's).

Open Sans, with its broad range of weights and extensive unicode support was chosen to provide a good balance between legibility, personality and readability. As the majority of our User Interface (UI) is text-based, we use weight and size to denote hierarchy and separation between content. Open Sans' letterforms also provide a good level of contrast which aid readability on poorer quality displays and for users with visual impairment.

Font stack: <span style='font-family: OpenSans;'>"Open Sans"</span>, <span style='font-family: "Helvetica Neue";'>“Helvetica Neue”</span>, <span style='font-family: Helvetica;'>Helvetica</span>, <span style='font-family: Arial;'>Arial</span>, <span style='font-family: sans-serif;'>sans-serif</span>

### Type scale
Using the type scale classes on text elements, the type is sized appropriately for the following breakpoints:

{% markdown %}
| Viewport < 740                                                 | Viewport >= 740                                                |
|----------------------------------------------------------------|----------------------------------------------------------------|
| <p class="u-fs-xxxl">u-fs-xxxl</p>Open Sans Bold - 1.7rem/32px | <p class="u-fs-xxxl">u-fs-xxxl</p>Open Sans Bold - 2.6rem/48px |
| <p class="u-fs-xxl">u-fs-xxl</p>Open Sans Bold - 1.5rem/28px   | <p class="u-fs-xxl">u-fs-xxl</p>Open Sans Bold - 2rem/36px     |
| <p class="u-fs-xl">u-fs-xl</p>Open Sans Bold - 1.4rem/26px     | <p class="u-fs-xl">u-fs-xl</p>Open Sans Bold - 1.6rem/30px     |
| <p class="u-fs-l">u-fs-l</p>Open Sans Bold - 1.3rem/24px       | <p class="u-fs-l">u-fs-l</p>Open Sans Bold - 1.4rem/26px       |
| <p class="u-fs-m">u-fs-m</p>Open Sans Bold - 1.1rem/20px       | <p class="u-fs-m">u-fs-m</p>Open Sans Bold - 1.2rem/22px       |
| <p class="u-fs-r--b">u-fs-r--b</p>Open Sans Bold - 1rem/18px   | <p class="u-fs-r--b">u-fs-r--b</p>Open Sans Bold - 1rem/18px   |
| <p class="u-fs-r">u-fs-r</p>Open Sans Regular - 1rem/18px      | <p class="u-fs-r">u-fs-r</p>Open Sans Regular - 1rem/18px      |
| <p class="u-fs-s--b">u-fs-s--b</p>Open Sans Bold - 0.7rem/14px | <p class="u-fs-s--b">u-fs-s--b</p>Open Sans Bold - 0.7rem/14px |
| <p class="u-fs-s">u-fs-s</p>Open Sans Regular - 0.7rem/14px    | <p class="u-fs-s">u-fs-s</p>Open Sans Regular - 0.7rem/14px    |
{% endmarkdown %}

### Font weights
{{
    onsList({
        "classes": 'list--bare',
        "itemsList": [
            {
                "text": '<b>Bold: 700</b>'
            },
            {
                "text": 'Regular: 400'
            }
        ]
    })
}}

## Headings
Heading defaults are as follows:
{{
    patternlibExample({"path": "styles/typography/headings/examples/index.njk"})
}}

### Breakpoint headings
<p>Font sizes can be triggered at certain breakpoints. Just suffix any font size class with <code>@{breakpoint}</code>, e.g. <code>u-fs-m@l</code></p>
<p class="u-fs-s@xxs u-fs-r@s u-fs-m@l u-fs-l@xl u-fs-xl@xxl">This text will change font size depending on viewport width</p>


## Paragraphs
The base font size for paragraphs is 18px.

{{
    patternlibExample({"path": "styles/typography/paragraphs/examples/index.njk"})
}}

## Quote

{{
    patternlibExample({"path": "styles/typography/quote/examples/quote/index.njk", "componentFolderPath": "components/quote"})
}}

## Text indent
Use when providing contact information.

{{
    patternlibExample({"path": "styles/typography/text-indent/examples/text-indent/index.njk", "componentFolderPath": "components/text-indent"})
}}

## Addresses
Use when providing an address.

{{
    patternlibExample({"path": "styles/typography/address-output/examples/address-output/index.njk", "componentFolderPath": "components/address-output"})
}}

## Links
Links are blue and underlined by default. If your link is at the end of a sentence or paragraph, make sure that the linked text does not include the full stop.

{{
    patternlibExample({"path": "styles/typography/links/examples/link/index.njk"})
}}

### External Links
Links that link out to external websites using the `onsExternalLink` macro will have `target="_blank"` to open websites in a new tab and will also have`rel="noopener"` added to them.
This will guard against a security vulnerability which can be exploited by malicious websites. It will also have the external link icon added as
shown in [the icons section](#link-with-external-link-icon).

## Lists
Use lists to break up blocks of text into concise, manageable chunks to make it easier to read.

### Bulleted list (default)
Bulleted lists should be introduced with a lead-in line, ending in a colon.

Each item in the list should start with a lowercase letter and should not end with a full stop.

{{
    patternlibExample({"path": "styles/typography/lists/examples/list/index.njk", "componentFolderPath": "components/lists"})
}}

### Variants

#### Numbered list
Numbered lists should be displayed in place of bulleted lists when the order of items is relevant.

Each list item should be a complete sentence, therefore start with an uppercase letter, and end with a full stop.

You do not need to introduce a numbered list with a lead-in line.

To use a numbered list when using the list macro you need to not be using a bare list and set the `element` parameter to "ol".

If there is only one item in the list when using the list macro it will render the item in `<p>` tags and not a list with no list styling added.
{{
    patternlibExample({"path": "styles/typography/lists/examples/list-ordered/index.njk", "componentFolderPath": "components/lists"})
}}

#### Bare list
Bare lists should be used to display a list of navigational links, for example, a group of related pages displayed in the [footer](/components/footer).
{{
    patternlibExample({"path": "styles/typography/lists/examples/list-bare/index.njk", "componentFolderPath": "components/lists"})
}}

#### Dashed list
Dashed lists should be used to display a list of content navigational links.
{{
    patternlibExample({"path": "styles/typography/lists/examples/list-dashed/index.njk", "componentFolderPath": "components/lists"})
}}

#### Prefixed list
The prefix list allows each list item to contain a string as a prefix to the item. The prefixed string uses our monospaced font to ensure spacing and alignment is correct.
{{
    patternlibExample({"path": "styles/typography/lists/examples/list-prefix/index.njk", "componentFolderPath": "components/lists"})
}}

#### Suffixed list
The suffix list works the same as the prefix but just comes after the list item and the full stop isn’t included.
{{
    patternlibExample({"path": "styles/typography/lists/examples/list-suffix/index.njk", "componentFolderPath": "components/lists"})
}}


#### Inline list
Inline lists should be used to display a horizontal row of links, for example, a list of pages displayed in the [transactional footer](/components/footer#transactional).
{{
    patternlibExample({"path": "styles/typography/lists/examples/list-inline/index.njk", "componentFolderPath": "components/lists"})
}}

## Icons
Icons are used to provide affordance to improve user experience. Icons shouldn't be used as decoration and implemented only if there is a user need. We only use icons with text if we have evidence to suggest that it helps the user complete their task.

__Our current icon set can be used in the following scenarios:__

### List with progress check icons prefix
{{
    patternlibExample({"path": "styles/typography/icons/examples/icons-list-prefix/index.njk", "componentFolderPath": "components/lists" })
}}

### List with progress check icons suffix
{{
    patternlibExample({"path": "styles/typography/icons/examples/icons-list-suffix/index.njk", "componentFolderPath": "components/lists" })
}}

### List with social icons
{{
    patternlibExample({"path": "styles/typography/icons/examples/icons-social-list/index.njk", "componentFolderPath": "components/lists" })
}}
__How to use:__ Set `icon` to the name of the icon you want to use on each list item.

### Link with external link icon
{{
    patternlibExample({"path": "components/external-link/examples/external-link/index.njk"})
}}

__How to use:__ Use the `onsExternalLink` macro using the `url` and `linkText` params.

### Text with secure icon
{{
    patternlibExample({"path": "components/panel/examples/bare/index.njk"})
}}
__How to use:__ Use the panel component setting `type` to "bare" and icon to the name of the icon you want to use.

### Contribute to icons
{% call onsPanel() %}
    If you have any requests for icons or research findings please feed back via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/95",
            "linkText": "GitHub discussions"
        })
    }}
{% endcall %}

## Help improve this style
Let us know how we could improve this style or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/233",
        "linkText": "Discuss the ‘Typography’ style on Github"
    })
}}
