.ons-footer {
  a {
    color: $color-text-banner-link;
    text-decoration: underline;

    &:hover {
      color: $color-text-banner-link-hover;
      text-decoration: underline solid $color-text-banner-link-hover 2px;
    }
  }

  &__button-container {
    background-clip: border-box;
    background-color: $color-header;
    padding: 1rem;
  }

  &__warning {
    background-color: $color-banner-bg-dark;
  }

  &__ogl-img {
    margin: 0 0.5rem 0.2rem 0;
    max-width: 100%;
    vertical-align: middle;
  }

  .ons-svg-logo,
  .ons-svg-logo--accent {
    fill: $color-black;
  }

  &__body {
    background-color: $color-banner-bg;
    padding: 2rem 0 4rem;

    .ons-list__link {
      margin-right: 0;
    }

    .ons-poweredbylogo {
      min-height: 1.5rem;
    }
  }
}
