{% macro onsFooter(params) %}

    {% from "components/lists/_macro.njk" import onsList %}
    {% from "components/icons/_macro.njk" import onsIcon %}

    {% if params.lang %}
        {% set lang = params.lang %}
    {% else %}
        {% set lang = 'en' %}
    {% endif %}

    {% set onsLogo %}
        {% if params.lang == 'cy' %}
            {{
                onsIcon({
                    "iconType": 'ons-logo-cy',
                    "altText": 'Swyddfa Ystadegau Gwladol',
                    "altTextId": 'ons-logo-cy-footer-alt'
                })
            }}
        {% else %}
            {{
                onsIcon({
                    "iconType": 'ons-logo-en',
                    "altText": 'Office for National Statistics',
                    "altTextId": 'ons-logo-en-footer-alt'
                })
            }}
        {% endif %}
    {% endset %}

    <footer class="ons-footer">

        {% if params.footerWarning %}
            {% from "components/panel/_macro.njk" import onsPanel %}
            <div class="ons-footer__warning">
                <div class="ons-container">
                    {% call onsPanel({
                            "type": "warn",
                            "classes": "ons-panel--warn--footer"
                        })
                    %}
                        {{ params.footerWarning | safe }}
                    {% endcall %}
                </div>
            </div>
        {% endif %}

        {% if params.button %}
            {% from "components/button/_macro.njk" import onsButton %}
            <div class="ons-footer__button-container ons-u-d-no@m">
                {{
                    onsButton({
                        "id": params.button.id,
                        "classes": params.button.classes if params.button.classes else "",
                        "variants": "ghost",
                        "text": params.button.text,
                        "name": params.button.name,
                        "attributes": params.button.attributes,
                        "url": params.button.url,
                        "iconType": "exit",
                        "iconPosition": "after"
                    })
                }}
            </div>
        {% endif %}

        <div class="ons-footer__body{{ ' ' + params.classes if params.classes else '' }}" data-analytics="footer" {% if params.attributes %}{% for attribute, value in (params.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}>
            <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div class="ons-grid">
                    {% if params.newTabWarning %}
                        <div class="ons-grid__col">
                            <p class="ons-u-fs-s ons-u-mb-m ons-footer__new-tab-warning">{{ params.newTabWarning | safe }}</p>
                        </div>
                    {% endif %}

                    {% if params.cols %}
                        {% for col in params.cols %}
                            <!-- Full footer columns -->
                            <div class="ons-grid__col ons-col-4@m{{ ' ons-u-mt-m@xxs@m' if loop.index > 1 }}">
                                {% if col.title %}
                                    <h2 class="ons-footer__heading ons-u-fs-r--b">{{ col.title }}</h2>
                                {% endif %}
                                {{
                                    onsList({
                                        "classes": 'ons-u-mb-no',
                                        "variants": 'bare',
                                        "itemsList": col.itemsList
                                    })
                                }}
                            </div>
                        {% endfor %}
                    {% elif params.rows %}
                        {% for row in params.rows %}
                            <!-- Transactional footer row -->
                            <div class="ons-grid__col">
                                {{
                                    onsList({
                                        "classes": "ons-footer--rows",
                                        "variants": ["bare", "inline"],
                                        "itemsList": row.itemsList
                                    })
                                }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if (params.cols) or (params.rows) %}
                        <div class="ons-grid__col ons-u-mb-m">
                            <hr class="ons-footer__hr">
                        </div>
                    {% endif %}
                </div>

                <div class="ons-grid ons-grid--flex ons-grid--vertical-top ons-grid--between">
                    <div class="ons-grid__col">
                        {% if params.legal %}
                            <!-- Legal -->
                            {% for legal in params.legal %}
                                {{
                                    onsList({
                                        "classes": 'ons-u-mb-s ons-footer--rows',
                                        "variants": ['bare', 'inline'],
                                        "itemsList": legal.itemsList
                                    })
                                }}
                            {% endfor %}
                        {% endif %}

                        {% if params.OGLLink %}
                            <!-- OGL -->
                            <div class="ons-footer__license ons-u-mb-m">
                                {{
                                    onsIcon({
                                        "iconType": 'ogl'
                                    })
                                }}
                                {% if params.OGLLink.HTML %}
                                    {{ params.OGLLink.HTML | safe }}
                                {% elif params.OGLLink %}
                                    {% from "components/external-link/_macro.njk" import onsExternalLink %}
                                    {% if params.lang == 'cy' %}
                                        {{ params.OGLLink.pre | default('Mae’r holl gynnwys ar gael o dan y') }} {{
                                        onsExternalLink({
                                            "url": params.OGLLink.url | default('https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'),
                                            "linkText": params.OGLLink.link | default('Drwydded Llywodraeth Leol v3.0')
                                        })
                                        }}{{ params.OGLLink.post | default(', oni bai y nodir fel arall') }}
                                    {% else %}
                                        {{ params.OGLLink.pre | default('All content is available under the') }} {{
                                            onsExternalLink({
                                                "url": params.OGLLink.url | default('https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/'),
                                                "linkText": params.OGLLink.link | default('Open Government Licence v3.0')
                                            })
                                        }}{{ params.OGLLink.post | default(', except where otherwise stated') }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if not params.poweredBy %}
                            <div class="ons-footer__poweredby ons-u-mb-m">
                                {{ onsLogo | safe }}
                            </div>
                        {% endif %}
                    </div>
                    {% if params.crest %}
                        <!-- Crest -->
                        <div class="ons-grid__col ons-footer__crest ons-u-mb-m@xxs@l">
                            {{
                                onsIcon({
                                    "iconType": 'crest'
                                })
                            }}
                        </div>
                    {% endif %}
                </div>
                {% if params.poweredBy %}
                    {{ params.poweredBy | safe }}
                {% endif %}
                {% if params.copyrightDeclaration %}
                    <!-- Copyright -->
                    <div class="ons-grid ons-grid--flex ons-grid--vertical-bottom ons-grid--between">                                
                        <div class="ons-grid__col">
                            <p class="ons-u-fs-s ons-u-mb-no ons-footer__copyright">&copy; {{ params.copyrightDeclaration.copyright }} <br> {{ params.copyrightDeclaration.text }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </footer>

{% endmacro %}
