{% macro onsFooter(params) %}
    {% from "components/lists/_macro.njk" import onsList %}

    {% if params.lang %}
        {% set lang = params.lang %}
    {% else %}
        {% set lang = 'en' %}
    {% endif %}

    {% if params.poweredBy %}
        {% if params.poweredBy.alt %}
            {% set poweredByAlt = params.poweredBy.alt %}
        {% else %}
            {% set poweredByAlt = 'Office for National Statistics' %}
        {% endif %}
    {% endif %}

    {% set poweredByLogo %}
        <img src="{{ params.assetsURL if params.assetsURL }}/img/{{ params.poweredBy.logo | default('ons-logo-black-' + lang ) }}.svg" alt="{{ poweredByAlt | default('Office for National Statistics') }}" class="footer__poweredby-img {{ params.poweredBy.classes }}">
    {% endset %}

    <footer class="footer {{ params.classes }}" data-analytics="footer" {% if params.attributes %}{% for attribute, value in (params.attributes) %}{{attribute}}="{{value}}" {% endfor %}{% endif %}>
        <div class="footer__body">
            <div class="container {{ ' container--wide' if params.wide }}">
                <div class="grid">          
                    {% if params.poweredBy %}
                        {% if params.OGLLink %}
                            <div class="grid__col u-mb-m">
                                {{ poweredByLogo | safe }}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if params.button %}
                        {% from "components/button/_macro.njk" import onsButton %}
                        <div class="grid__col u-mb-m u-d-no@m">
                            {{
                                onsButton({
                                    "id": params.button.id,
                                    "type": params.button.type,
                                    "classes": "btn--ghost-blue" + (" " + params.button.classes if params.button.classes else ""),
                                    "text": params.button.text,
                                    "html": params.button.html,
                                    "name": params.button.name,
                                    "value": params.button.value,
                                    "attributes": params.button.attributes,
                                    "url": params.button.url
                                })
                            }}
                        </div>
                    {% endif %}
                    {% if params.language %}
                            {% set currentLanguage = params.language.languages | selectattr("current") | first %}
                            <div class="grid__col u-d-no@m">
                                {% set languageItems = params.language.languages | rejectattr("current") %}
                                {% if currentLanguage.allLanguages and params.language.allLanguagesUrl %}
                                    {% set languageItems = (languageItems.push({
                                        "url": params.language.allLanguagesUrl,
                                        "text": currentLanguage.allLanguages,
                                        "lang": currentLanguage.ISOCode
                                    }), languageItems) %}
                                {% endif %}
                                {{
                                    onsList({
                                        "classes": 'list--bare list--inline@s u-mb-no',
                                        "itemsList": languageItems
                                    })
                                }}
                            </div>
                            <div class="grid__col u-d-no@m u-mb-m">
                                <hr class="footer__hr">
                            </div>
                    {% endif %}

                    {% if params.serviceLinks %}
                            <div class="grid__col u-d-no@m">
                                {{
                                    onsList({
                                        "classes": 'list--bare list--inline u-mb-no',
                                        "itemsList": params.serviceLinks.itemsList
                                    })
                                }}
                            </div>
                            <div class="grid__col u-d-no@m u-mb-m">
                                <hr class="footer__hr">
                            </div>
                    {% endif %}

                    {% if params.cols %}
                            {% for col in params.cols %}
                                <div class="grid__col col-4@m{{ " u-mt-m@xs@m" if loop.index > 1 }}">
                                    {% if col.title %}
                                        <h2 class="u-fs-r--b footer__heading">{{ col.title }}</h2>
                                    {% endif %}
                                    {{
                                        onsList({
                                            "classes": 'list--bare u-mb-no',
                                            "itemsList": col.itemsList
                                        })
                                    }}
                                </div>
                            {% endfor %}
                    {% endif %}
                    {% if params.rows %}
                        {% for row in params.rows %}
                            {% if not params.OGLLink %}
                                {% if loop.last %}
                                    </div>
                                    <div class="grid grid--flex grid--vertical-center grid--between">
                                {% endif %}
                            {% endif %}
                            <div class="grid__col {% if loop.last %} u-mb-s u-mr-m{% endif %}">
                                {{
                                    onsList({
                                        "classes": 'list--bare list--inline@s u-mb-no',
                                        "itemsList": row.itemsList
                                    })
                                }}
                            </div>
                            {% if not params.OGLLink %}
                                {% if loop.last %}
                                    <div class="grid__col grid__col--flex u-ml-s u-mb-s u-p-no">
                                        {{ poweredByLogo | safe }}
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if loop.length > 1 %}                            
                                {% if not loop.last %}
                                    <div class="grid__col u-mb-m">
                                        <hr class="footer__hr">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}  
                    {% elif not params.rows and not params.cols and not params.poweredBy and not params.OGLLink %}
                        <div class="grid__col grid__col--flex u-ml-s u-mb-s u-p-no">
                            {{ poweredByLogo | safe }}
                        </div>                    
                    {% endif %}
                    {% if params.OGLLink %}		
                        <div class="grid__col u-mb-m">
                            <hr class="footer__hr">
                        </div>
                        <div class="grid__col">
                            <div class="footer__license">
                                <img alt="OGL" class="footer__ogl-img" src="{{ params.assetsURL }}/img/UKOpenGovernmentLicence-grey.svg">
                                {% if params.OGLLink.HTML %}
                                    {{ params.OGLLink.HTML | safe }}
                                {% else %}
                                    {{ params.OGLLink.pre }} <a href="{{ params.OGLLink.url }}" class="footer__link">{{ params.OGLLink.link }}</a>{{ params.OGLLink.post }}
                                {% endif %}
                            </div>
                        </div>
                    {% elif not params.rows and (params.poweredBy or params.cols) %}
                        {% if params.cols %}
                            <div class="grid__col u-mb-m">
                                <hr class="footer__hr">
                            </div>
                        {% endif %}
                        <div class="grid__col u-mb-m">
                            {{ poweredByLogo | safe }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
{% endmacro %}
