---
'fullWidth': true
---

{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "cols": [
            {
                "title": 'Business surveys',
                "itemsList": [
                    {
                        "text": 'About our surveys',
                        "url": '#0'
                    },
                    {
                        "text": 'Lists of all surveys',
                        "url": '#0'
                    },
                    {
                        "text": 'Respondent Charter',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'About ONS',
                "itemsList": [
                    {
                        "text": 'What we do',
                        "url": '#0'
                    },
                    {
                        "text": 'Transparency and governance',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'Statistics',
                "itemsList": [
                    {
                        "text": 'UK Statistics Authority',
                        "external": true,
                        "url": '#0'
                    },
                    {
                        "text": 'Release calendar',
                        "url": '#0'
                    },
                    {
                        "text": 'News',
                        "url": '#0'
                    }
                ]
            }
        ],
        "legal": [
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility statement',
                        "url": '#0'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '#0'
                    },
                    {
                        "text": 'Terms and conditions',
                        "url": '#0'
                    }
                ]
            }
        ],
        "oglLink": true
    })
}}
