---
'fullWidth': true
---

{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "lang": 'cy',
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Help',
                        "url": '#0'
                    },
                    {
                        "text": 'Ieithoedd',
                        "url": '#0'
                    },
                    {
                        "text": 'BSL a fideos sain',
                        "url": '#0'
                    },
                    {
                        "text": 'Cysylltu â ni',
                        "url": '#0'
                    }
                ]
            }
        ],
        "legal": [
            {
                "itemsList": [
                    {
                        "text": 'Cwcis',
                        "url": '#0'
                    },
                    {
                        "text": 'Datganiad hygyrchedd',
                        "url": '#0'
                    },
                    {
                        "text": 'Preifatrwydd a diogelu data',
                        "url": '#0'
                    },
                    {
                        "text": 'Telerau ac amodau',
                        "url": '#0'
                    }
                ]
            }
        ],
        "oglLink": true
    })
}}
