---
title: Footer
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

The footer provides links to supplementary information about your service and the ONS, as well as copyright, licensing and other required legal information.

{{
    patternlibExample({"path": "components/footer/examples/footer/index.njk"})
}}

## When to use this component
You should use the appropriate ONS footer at the bottom of any ONS service.

## Variants

### No OGL
{{
    patternlibExample({"path": "components/footer/examples/footer-no-ogl/index.njk"})
}}

### Crest (no OGL)
{{
    patternlibExample({"path": "components/footer/examples/footer-no-ogl-crest/index.njk"})
}}

### Crest (no OGL - Cymraeg)
{{
    patternlibExample({"path": "components/footer/examples/footer-no-ogl-crest-cymraeg/index.njk"})
}}

### Crest (no OGL - Nisra)
{{
    patternlibExample({"path": "components/footer/examples/footer-no-ogl-crest-nisra/index.njk"})
}}

### Transactional
A reduced set of links for use within a transaction funnel such as a questionnaire.
{{
    patternlibExample({"path": "components/footer/examples/footer-transactional/index.njk"})
}}

### Powered by ONS
For badged services where ONS is providing services to external organisations.
{{
    patternlibExample({"path": "components/footer/examples/footer-powered-by-ons/index.njk"})
}}

### Transactional – Powered by ONS
For badged services where ONS is providing services to external organisations, with a reduced set of links as it is within a transaction funnel.
{{
    patternlibExample({"path": 'components/footer/examples/footer-powered-by-ons-transactional/index.njk'})
}}

### Transactional – Powered by ONS (Cymraeg)
{{
    patternlibExample({"path": 'components/footer/examples/footer-powered-by-ons-transactional-cymraeg/index.njk'})
}}

### Transactional – Two rows (no OGL)
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl/index.njk'})
}}

### Transactional – Two rows (no OGL - Cymraeg)
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl-cymraeg/index.njk'})
}}

### Transactional – Two rows (no OGL - NISRA)
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl-nisra/index.njk'})
}}

### Transactional – Two rows - Powered by ONS with Crest
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl-crest/index.njk'})
}}

### Transactional – Two rows - Powered by ONS with Crest and Copyright
Copyright information for use within a service that uses postcode lookup functionality.
For footers that have the `newTabWarning` set like here, the links that will open in a new tab also need the `target` param set to `_blank`.
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl-crest-copyright/index.njk'})
}}

### Transactional – Two rows - Powered by ONS with Crest (Cymraeg)
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl-crest-cymraeg/index.njk'})
}}

### Transactional – Two rows - Powered by NISRA with Crest
{{
    patternlibExample({"path": 'components/footer/examples/footer-transactional-no-ogl-crest-nisra/index.njk'})
}}

### Footer Warning

Use this along with an 'Exit' [ghost button](https://ons-design-system.netlify.app/components/button/#ghost) in the [header](https://ons-design-system.netlify.app/components/header/#external-with-language-and-save-button), if you need to show sensitive information on a post-submission page, such as the user's address or a response ID.

The warning link and header button should clear any `sessionStorage` and should both send the user to a page outside of the transaction.

{{
    patternlibExample({"path": "components/footer/examples/footer-warning/index.njk"})
}}

### Default
{{
    patternlibExample({"path": 'components/footer/examples/footer-no-params/index.njk'})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": 'https://github.com/ONSdigital/design-system/discussions/172',
        "linkText": 'Discuss ‘Footer’ component on GitHub'
    })
}}
