.autosuggest-input {
  position: relative;

  &__combobox {
    border-radius: $input-radius;
    display: inline-block;

    @include mq(xxs, s) {
      width: 100%;
    }
  }

  &__results {
    border: 1px solid $color-input;
    border-radius: $input-radius;
    display: none;
    margin: 0.5rem 0 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  &__group {
    color: $color-text-link;
    text-decoration: underline;
  }

  &__results-title {
    background: $color-grey-15;
    border-bottom: 1px solid $color-input;
    padding: 0.25rem 0.5rem;
  }

  &__listbox {
    background: $color-white;
    list-style: none;
    margin: 0;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  &__option {
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: $input-padding-horizontal;

    &:not(:last-child) {
      border-bottom: 1px solid $color-input;
    }

    &:not(&--no-results):not(&--more-results):hover,
    &--focused:not(&--no-results) {
      background: $color-ocean-blue;
      border-color: $color-ocean-blue;
      color: $color-white;

      .autosuggest-input__group,
      .autosuggest-input__category {
        color: $color-white;
      }
    }

    &:active:not(&--no-results):not(&--more-results) {
      background: $color-focus;
      color: $color-text-link-focus;

      .autosuggest-input__group,
      .autosuggest-input__category {
        color: $color-text-link-focus;
      }
    }

    &--no-results,
    &--more-results {
      background: $color-grey-15;
      cursor: not-allowed;
      padding: 0.25rem 0.5rem;
    }
  }

  &__warning {
    background: #f0f0f0;
    margin: 0;
    padding-left: 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $color-input;
    }
  }

  &__panel.panel--warn {
    background: none;
    border: 0;
    margin: 0;
    .panel__icon {
      font-size: 21px;
      line-height: 25px;
      margin-top: 0;
      min-height: 24px;
      min-width: 26px;
      top: 17px;
    }

    .panel__body {
      font-weight: bold;
      padding: 0.8rem 0.8rem 0.8rem 2rem;
    }
  }

  // Modifiers
  &:not(&--initialised) & {
    &__instructions,
    &__listbox,
    &__status {
      display: none;
    }
  }

  &--has-results & {
    &__results {
      display: block;
    }
  }

  &--header {
    width: 20rem;
    .autosuggest-input__results {
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }
}
