{% from "components/input/_macro.njk" import onsInput %}
{% macro onsAutosuggest(params) %}
    <div
        id="{{ params.id }}-container"
        class="{% if not params.externalInitialiser %}js-autosuggest {% endif %}{% if params.isEditable === false %}js-address-not-editable{% endif %}{% if params.mandatory is defined and params.mandatory == true %} js-address-mandatory{% endif %} autosuggest-input {{ params.classes }}"
        data-instructions="{{ params.instructions }}"
        data-aria-you-have-selected="{{ params.ariaYouHaveSelected }}"
        data-aria-min-chars="{{ params.ariaMinChars }}"
        data-aria-one-result="{{ params.ariaOneResult }}"
        data-aria-n-results="{{ params.ariaNResults }}"
        data-aria-limited-results="{{ params.ariaLimitedResults }}"
        data-more-results="{{ params.moreResults }}"
        data-results-title="{{ params.resultsTitle }}"
        data-no-results="{{ params.noResults }}"
        data-type-more="{{ params.typeMore }}"
        {% if params.APIDomain is defined and params.APIDomain %}data-api-domain="{{ params.APIDomain }}"{% endif %}
        {% if params.APIDomainBearerToken is defined and params.APIDomainBearerToken %}data-authorization-token="{{ params.APIDomainBearerToken }}"{% endif %}
        {% if params.allowMultiple is defined and params.allowMultiple %}data-allow-multiple="{{ params.allowMultiple }}"{% endif %}
        {% if params.autosuggestData is defined and params.autosuggestData %}data-autosuggest-data="{{ params.autosuggestData }}"{% endif %}
        {% if params.errorTitle is defined and params.errorTitle %}data-error-title="{{ params.errorTitle }}"{% endif %}
        {% if params.errorMessageEnter is defined and params.errorMessageEnter %}data-error-enter="{{ params.errorMessageEnter }}"{% endif %}
        {% if params.errorMessageSelect is defined and params.errorMessageSelect %}data-error-select="{{ params.errorMessageSelect }}"{% endif %}
        {% if params.ariaGroupedResults is defined and params.ariaGroupedResults %}data-aria-grouped-results="{{ params.ariaGroupedResults }}"{% endif %}
        {% if params.groupCount is defined and params.groupCount %}data-group-count="{{ params.groupCount }}"{% endif %}
        {% if params.tooManyResults is defined and params.tooManyResults %}data-too-many-results="{{ params.tooManyResults }}"{% endif %}
        {% if params.errorMessageAPI is defined and params.errorMessageAPI %}data-error-api="{{ params.errorMessageAPI }}"{% endif %}
        {% if params.errorMessageAPILinkText is defined and params.errorMessageAPILinkText %}data-error-api-link-text="{{ params.errorMessageAPILinkText }}"{% endif %}
        {% if params.options is defined and params.options %}
            {% if params.options.oneYearAgo is defined and params.options.oneYearAgo %}data-options-one-year-ago="true"{% endif %}
            {% if params.options.regionCode is defined and params.options.regionCode %}data-options-region-code="{{ params.options.regionCode }}"{% endif %}
            {% if params.options.addressType is defined and params.options.addressType %}data-options-address-type="{{ params.options.addressType }}"{% endif %}
        {% endif %}
    >

        {% set autosuggestResults %}
            <div class="autosuggest-input__results js-autosuggest-results">
                <header class="autosuggest-input__results-title u-fs-s">{{ params.resultsTitle }}</header>
                <ul class="autosuggest-input__listbox js-autosuggest-listbox" role="listbox" id="{{ params.id }}-listbox" aria-labelledby="{{ params.labelId }}" tabindex="-1"></ul>
            </div>
            <div class="autosuggest-input__instructions u-vh js-autosuggest-instructions" id="{{ params.id }}-instructions" tabindex="-1">{{ params.instructions }}</div>
            <div class="autosuggest-input__status u-vh js-autosuggest-aria-status" aria-live="assertive" role="status" tabindex="-1"></div> 
        {% endset %}

        {{ onsInput({
            "id": params.id,
            "classes": "js-autosuggest-input " + (params.classes if params.classes else ''),
            "label": {
                "text": params.label.text,
                "description": params.label.description,
                "id": params.label.id,
                "classes": params.label.classes
            },
            "legend": params.legend,
            "legendClasses": params.legendClasses,
            "value": params.value,
            "attributes": params.attributes,
            "error": params.error,
            "mutuallyExclusive": params.mutuallyExclusive,
            "name": params.name,
            "autosuggestResults": autosuggestResults
         }) }}

         {% if params.mutuallyExclusive is not defined %}
            {{ autosuggestResults | safe }}
         {% endif %}
    </div>
{% endmacro %}
