{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}

<div class="ons-grid ons-grid--gutterless">
    <div class="ons-grid__col ons-col-8@m">
        {{
            onsAutosuggest({
                "id": "country-of-birth-autosuggest-multiple",
                "input": {
                    "label": {
                        "text": "Passport",
                        "id": "country-of-birth-label-multiple",
                        "description": "Enter your own answer or select from suggestions. You can enter multiple countries if you have a passport for more than one."
                    },
                    "autocomplete": "off"
                },
                "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
                "ariaYouHaveSelected": "You have selected",
                "ariaMinChars": "Enter 3 or more characters for suggestions.",
                "ariaOneResult": "There is one suggestion available.",
                "ariaNResults": "There are {n} suggestions available.",
                "ariaLimitedResults": "Results have been limited to 10 suggestions. Type more characters to improve your search",
                "moreResults": "Continue entering to improve suggestions",
                "resultsTitle": "Suggestions",
                "resultsTitleId": "country-of-birth-suggestions",
                "allowMultiple": true,
                "autosuggestData": "/examples/data/country-of-birth.json",
                "noResults": "No suggestions found. You can enter your own answer",
                "typeMore": "Continue entering to get suggestions",
                "language": "en"
            })
        }}
    </div>
</div>
