---
title: Autosuggest
synonyms: Autocomplete, lookup, search as you type, typeahead, combo box
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}
+++

Autosuggest is used to suggest options to users as they enter something into an input field. A user can select one of the suggestions or enter their own answer.

{{
    patternlibExample({"path": "components/autosuggest/examples/autosuggest-country/index.njk"})
}}

## When to use this component
Use the autosuggest component to help users select from a list of standard responses, for example, countries, languages or nationalities. You could also create your own list for the user to pick from.
## How to use

The list needs to be made available as a `.json` file. To query the list we use a JavaScript library called {{
        onsExternalLink({
            "url": "https://fusejs.io",
            "linkText": "Fuse.js"
        })
    }}. You will need to provide the URL where the json file is stored using the `autosuggestData` parameter.


### List formatting

This code example shows how your json should be formatted. The `key` should be the language code that matches the `lang` attribute on the `<html>` element of the page.

+++
{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}
{{ onsCodeHighlight({
"code": '[
  {
    "en": "England"
  },
  {
    "en": "Wales"
  },
  {
    "en": "Scotland"
  },
  {
    "en": "Northern Ireland"
  },
]'
}) }}
+++

### Multiple suggestions

You can configure the component to allow multiple suggestions by passing in the parameter `allowMultiple: "true"`. 

{{
    patternlibExample({"path": "components/autosuggest/examples/autosuggest-country-multiple/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/894",
        "linkText": "Discuss the ‘Autosuggest’ component on GitHub"
    })
}}
