---
title: Autosuggest
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Autosuggests are used to suggest options to users as they type. The user can choose to select a suggestion from the results presented or enter their own value. 

You can search topics such as countries, languages, nationalities and job types or you can create your own.

{{
    patternlibExample({"path": "components/autosuggest/examples/autosuggest-country/index.njk"})
}}

### How to use

The list needs to be made available as a `.json` file. To query the list we use a JavaScript library called {{
        onsExternalLink({
            "url": "https://fusejs.io",
            "linkText": "Fuse.js"
        })
    }}. You will need to provide the url where the json file is stored using the `autosuggestData` parameter.


#### List formatting

The code example below shows how your json should be formatted. The `key` should be the language code that that matches the `lang` attribute on the `<html>` element of the page.

{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}
{{ onsCodeHighlight({
"code": '[
  {
    "en": "England"
  },
  {
    "en": "Wales"
  },
  {
    "en": "Scotland"
  },
  {
    "en": "Northern Ireland"
  },
]'
}) }}

#### Multiple selections

You can configure the component to allow multiple suggestions/selections by passing in the parameter `allowMultiple: "true"`. 


{{
    patternlibExample({"path": "components/autosuggest/examples/autosuggest-country-multiple/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/894",
        "linkText": "Discuss the ‘Autosuggest’ component on GitHub"
    })
}}
