---
"theme": census
"fullWidth": true
---
{% from "components/panel/_macro.njk" import onsPanel %}

{% call onsPanel({
        "type": 'announcement'
    })
%}

<h2>Coronavirus (COVID‑19)</h2>
<p>Coronavirus restrictions remain in place across the country.</p>
<p><a href="#0">Read about the rules, guidance and support</a></p>

{% endcall %}
