---
title: Call to action
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

## Default
{{
    patternlibExample({"path": "components/call-to-action/examples/call-to-action-default/index.njk"})
}}

## Census 2021
A persistent call to action to start census.
{{
    patternlibExample({"path": "components/call-to-action/examples/call-to-action-census/index.njk"})
}}

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/discussions/712",
            "linkText": "Design System forum"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/712",
        "linkText": "Discuss 'Call to action' on GitHub"
    })
}}
