---
title: Call to action
synonyms: cta
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

{{
    onsPanel({
        "body": "This component requires documentation."
    })
}}

## Default
{{
    patternlibExample({"path": "components/call-to-action/examples/call-to-action-default/index.njk"})
}}

## Census 2021
A persistent call to action to start census.
{{
    patternlibExample({"path": "components/call-to-action/examples/call-to-action-census/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/712",
        "linkText": "Discuss the ‘Call to action’ component on GitHub"
    })
}}
