{% from "components/panel/_macro.njk" import onsPanel %}
{% macro onsTimeoutPanel(params) %}
    {% call onsPanel({
            "id": params.id,
            "classes": "ons-js-panel-with-countdown",
            "type": "warn",
            "attributes": params.countdown
        })
    %}
        <noscript><p class="ons-js-nojs-text"> {{ params.countdown.nojsText }} </p></noscript>
        <p class="ons-js-timeout-timer" aria-hidden="true" aria-relevant="additions"></p>
        <p class="ons-js-timeout-timer-acc ons-u-vh" role="status" id="timeout-time-remaining"></p>
    {% endcall %}
{% endmacro %}
