{% from "components/panel/_macro.njk" import onsPanel %}
{% macro onsTimeoutPanel(params) %}
    {% call onsPanel({
            "id": params.id,
            "type": "warn"
        })
    %}
        <p>{{ params.countdown.countdownText }}</p>
        <p class="ons-js-timeout-timer" aria-hidden="true" aria-relevant="additions"></p>
        <p class="ons-js-timeout-timer-acc ons-u-vh" role="status" id="timeout-time-remaining"></p>
    {% endcall %}
{% endmacro %}
