{% macro onsSharePage(params) %}
    {% from "components/list/_macro.njk" import onsList %}

    {% if params.title %}
        {% set headingLevel = params.headingLevel | default(2) %}
        <h{{ headingLevel }} class="ons-u-fs-r--b ons-u-mb-xs">{{ params.title }}</h{{ headingLevel }}>
    {% endif %}

    {% if params.facebook and params.facebook == true %}
        {%
            set facebook =
            {
                "url": 'https://www.facebook.com/sharer/sharer.php?u=' ~ params.pageUrl|urlencode,
                "text": 'Facebook',
                "iconType": 'facebook',
                "rel": 'noreferrer external',
                "target": '_blank'
            }
        %}
    {% endif %}
    {% if params.twitter and params.twitter == true %}
        {%
            set twitter =
            {
                "url": 'https://twitter.com/intent/tweet?original_referer&text=' ~ params.pageTitle|urlencode ~ '&url=' ~ params.pageUrl|urlencode,
                "text": 'Twitter',
                "iconType": 'twitter',
                "rel": 'noreferrer external',
                "target": '_blank'
            }
        %}
    {% endif %}
    {{
        onsList({
            "variants": 'inline',
            "iconPosition": 'before',
            "iconSize": params.iconSize | default("xxl"),
            "itemsList": [facebook, twitter]
        })
    }}
{% endmacro %}
