{% macro onsSharePage(params) %}
    {% from "components/lists/_macro.njk" import onsList %}

    {% if params.title %}
        {% set titleTag = params.titleTag | default("h2") %}
        <{{ titleTag }} class="ons-u-fs-r--b ons-u-mb-xs">{{ params.title }}</{{ titleTag }}>
    {% endif %}

    {% set list = [] %}
    {% if params.facebook and params.facebook == true %}
        {% set facebook =
            {
                "url": 'https://www.facebook.com/sharer/sharer.php?u=' ~ params.pageURL|urlencode,
                "text": 'Facebook',
                "iconType": 'facebook',
                "rel": 'noreferrer external',
                "target": '_blank'
            }
         %}

        {% set list = (list.push(facebook), list) %}
    {% endif %}
    {% if params.twitter and params.twitter == true %}
        {% set twitter =
            {
                "url": 'https://twitter.com/intent/tweet?original_referer&text=' ~ params.pageTitle|urlencode ~ '&url=' ~ params.pageURL|urlencode,
                "text": 'Twitter',
                "iconType": 'twitter',
                "rel": 'noreferrer external',
                "target": '_blank'
            }
         %}

        {% set list = (list.push(twitter), list) %}

    {% endif %}

    {{
        onsList({
            "variants": 'inline',
            "iconPosition": 'before',
            "iconSize": params.iconSize | default("xxl"),
            "itemsList": list
        })
    }}
{% endmacro %}
