{% from "components/share-page/_macro.njk" import onsSharePage %}

{{
    onsSharePage({
        "title": 'Share this post',
        "pageTitle": 'A page to share',
        "pageUrl": 'https://example.com/a-page-to-share',
        "facebook": true,
        "x": true
    })
}}
