{% from "components/share-page/_macro.njk" import onsSharePage %}

{{
    onsSharePage({
        "title": 'Dont share this post',
        "pageTitle": 'A page to share',
        "pageURL": 'https://example.com/a-page-to-share',
        "facebook": true,
        "twitter": true
    })
}}
