---
title: Share page
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Use the 'Share page' component to allow site visitors to share a page on Twitter and/or Facebook.

{{
    onsPanel({
        "body": "This component requires documentation."
    })
}}

# Example
{{
    patternlibExample({"path": "components/share-page/examples/share-page/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1190",
        "linkText": "Discuss the ‘Share page’ component on GitHub"
    })
}}
