{% macro onsSearch(params) %}
    {% from "components/button/_macro.njk" import onsButton %}

    {% set content = caller() %}

    {{ content | safe }}
    {{
        onsButton({
            "type": params.searchButton.type,
            "text": params.searchButton.text,
            "id": params.searchButton.id,
            "classes": 'btn--small' + (" " + params.searchButton.classes if params.searchButton.classes else ""),
            "attribues": params.searchButton.attribues
        })
    }}

{% endmacro %}
