{% macro onsSearch(params) %}
    {% from "components/button/_macro.njk" import onsButton %}

    {% set content = caller() %}

    {{ content | safe }}
    {{
        onsButton({
            "type": params.searchButton.type,
            "text": params.searchButton.text,
            "id": params.searchButton.id,
            "classes": 'ons-btn--small ons-search__btn ons-u-mt-xs@xxs@s' + (" " + params.searchButton.classes if params.searchButton.classes else ""),
            "attributes": params.searchButton.attributes
        })
    }}

{% endmacro %}
