.ons-search {
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-top: -0.5rem;

  @include mq(s) {
    flex-flow: row nowrap !important;
  }
  &__btn,
  &__input {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}

.ons-label--placeholder {
  margin-top: 0.5rem;
}
