.search-input--custom-width {
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-top: -0.5rem;

  @include mq(s) {
    flex-flow: row nowrap !important;
  }
}

.btn,
.input {
  margin-left: 0.5rem;
}

.label,
.btn,
.input {
  margin-top: 0.5rem;
}
