.ons-search-component {
  display: flex;
  flex-flow: row wrap;

  @include mq(s) {
    flex-flow: row nowrap !important;
  }
  .ons-search__btn {
    margin-top: -3px;
  }
  .ons-search__btn {
    @include mq(s) {
      margin-left: 0.5rem;
    }
  }
}
