{% from "components/search/_macro.njk" import onsSearch %}

{{
    onsSearch({
        "inputParams": {
            "id": 'search-field',
        "label": {
            'text': 'Search',
            "classes": 'ons-u-pb-xxs ons-u-mb-no'
        },
        "searchButton": {
            "visuallyHideButtonText": true,
            "text": 'Search',
            "iconType": 'search'
        }
        }
        
    })
}}
