---
title: Search
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

The search component provides an input and button for searching a service.
{{
    patternlibExample({"path": "components/search/examples/search/index.njk"})
}}

## How to use

### Accessible placeholder

Provide `accessiblePlaceholder: true` and a `label` to create an accessible placeholder for the input.
{{
    patternlibExample({"path": "components/search/examples/search-placeholder/index.njk"})
}}

### Use appropriately sized inputs

A [width constraint](/components/input#width-constrained) class can be used to make the width of input smaller. If the search context is known, for instance a sequence of characters of a known size, the width constraint can help users.

###

### Character check

The character check counter is displayed when the `charCheckLimit` object is included with params `limit`, `charCountOverLimitSingular`, `charCountOverLimitPlural`, `charCountPlural` and `charCountSingular` parameters are defined.

The button is disabled unless the input value matches the value supplied to the `charcheck` param.

{{
    patternlibExample({"path": "components/search/examples/search-character-check/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/656",
        "linkText": "Discuss the ‘Search’ component on GitHub"
    })
}}
