.question {
    margin: 1rem 0 0;

    &__title {
        margin: 0 0 1rem;
        em,
        .highlight {
            background-color: $color-highlight;
        }
        mark,
        .instruction {
            background-color: $color-instruction;
            color: $color-text-inverse;
            margin-right: 0.5rem;
            padding: 0 0.5rem;
        }
    }
    &__instruction {
        background-color: $color-instruction-tint;
        border: 5px solid $color-instruction;
        display: block;
        font-weight: $font-weight-regular;
        padding: 1rem;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}
