.question {
  margin: 1rem 0 0;

  &__title {
    margin: 0 0 1rem;
  }

  &__title,
  &__description {
    em {
      background-color: $color-emphasis;
    }
  }

  &__description em {
    font-weight: normal;
  }
}
