.question {
  margin: 1rem 0 0;

  &__title {
    margin: 0 0 1rem;
  }

  &__title {
    em {
      background-color: $color-emphasis;
    }
  }
  &__instruction {
    background-color: $color-warn-tint;
    border: 5px solid $color-warn;
    display: block;
    font-weight: normal;
    padding: 1rem;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
