---
title: 'Example: Interstitial page with interviewer note'
layout: ~
---

{# TO DO: To be used in a new 'Interstitial' page pattern #}
{% extends "layout/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{%
    set pageConfig = {
        "header": {
            "title": "Interviewer led interstitial"
        },
        "breadcrumbs": {
            "ariaLabel": 'Breadcrumbs',
            "itemsList": [
                {
                    "url": '#0',
                    "text": 'Previous'
                }
            ]
        }
    }
%}

{% block main %}
    {%
        call onsQuestion({
            "title": "<mark>Interviewer note:</mark>Who to interview",
            "instruction": "<p>Only interview a person who was usually living at the property on <strong>Sunday 21 March 2021</strong>.</p><p>If none of those house members are available, you must save and sign out and return to the address to interview one of them at a later date.</p>",
            "submitButton": {
                "variants": "timer",
                "text": "Continue"
            }
        })
    %}
    {% endcall %}
{% endblock %}
