{% from "components/input/_macro.njk" import onsInput %}
{{ 
    onsInput({
        "id": "telephone",
        "type": "tel",
        "classes": "input--w-8",
        "label": {
            "text": "Enter your phone number"
        }
    }) 
}}
