
{% macro onsMutuallyExclusive(params) %}
    {% from "components/fieldset/_macro.njk" import onsFieldset %}
    {% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}

    {# Resolves caller issue in jijna: https://github.com/pallets/jinja/issues/371 #}
    {% set content = caller() %}

    {% call onsFieldset({
        "id": params.id,
        "classes": params.classes,
        "legend": params.legend,
        "legendClasses": params.legendClasses,
        "description": params.description,
        "attributes": params.attributes,
        "dontWrap": params.dontWrap,
        "legendIsQuestionTitle": params.legendIsQuestionTitle,
        "error": params.error
    }) %}
        <div class="js-mutually-exclusive mutually-exclusive">
            {{ content | safe }}
            {% if params.autosuggestResults is defined and params.autosuggestResults %}
                {{ params.autosuggestResults | safe }}
            {% endif %}
            <p class="checkboxes--mutually-exclusive__item u-mt-s">
                <span class="checkboxes__label u-fs-r--b" aria-hidden="true">{{ params.or }}</span>
                {{
                    onsCheckbox({
                        "id": params.checkbox.id,
                        "name": params.checkbox.name,
                        "value": params.checkbox.value,
                        "checked": params.checkbox.checked,
                        "classes": params.checkbox.classes,
                        "attributes": params.checkbox.attributes,
                        "deselectMessage": params.deselectMessage,
                        "inputClasses": "js-exclusive-checkbox",
                        "label": {
                            "text": '<span class="u-vh">' + params.or + ', </span> ' + params.checkbox.label.text,
                            "description": params.checkbox.label.description
                        }
                    })
                }}
            </p>
            <span class="js-exclusive-alert u-vh" role="alert" aria-live="polite" data-group-adjective="{{ params.deselectGroupAdjective }}" data-checkbox-adjective="{{ params.deselectCheckboxAdjective }}"></span>
        </div>
    {% endcall %}
{% endmacro %}
