
{% macro onsMutuallyExclusive(params) %}
    {% from "components/fieldset/_macro.njk" import onsFieldset %}
    {% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
    {% from "components/radios/_macro.njk" import onsRadios %}

    {# Resolves caller issue in Jinja: https://github.com/pallets/jinja/issues/371 #}
    {% set content = caller() %}
    {% set exclusiveOptionsLength = params.exclusiveOptions | length %}

    {% call onsFieldset({
        "id": params.id,
        "classes": params.classes,
        "legend": params.legend,
        "legendClasses": params.legendClasses,
        "description": params.description,
        "attributes": params.attributes,
        "dontWrap": params.dontWrap,
        "legendIsQuestionTitle": params.legendIsQuestionTitle,
        "error": params.error
    }) %}
        <div class="ons-js-mutually-exclusive ons-mutually-exclusive">
            {{ content | safe }}
            {% if params.autosuggestResults %}
                {{ params.autosuggestResults | safe }}
            {% endif %}
            {% if exclusiveOptionsLength == 1 %}
                <p class="ons-checkboxes--mutually-exclusive__item ons-u-mt-s">
                    <span class="ons-checkboxes__label ons-u-fs-r--b" aria-hidden="true">{{ params.or }}</span>
                    {{
                        onsCheckbox({
                            "id": params.exclusiveOptions[0].id,
                            "name": params.exclusiveOptions[0].name,
                            "value": params.exclusiveOptions[0].value,
                            "checked": params.exclusiveOptions[0].checked,
                            "classes": params.exclusiveOptions[0].classes,
                            "attributes": params.exclusiveOptions[0].attributes,
                            "deselectMessage": params.deselectMessage,
                            "inputClasses": "ons-js-exclusive-option",
                            "label": {
                                "text": '<span class="ons-u-vh">' + params.or + ', </span> ' + params.exclusiveOptions[0].label.text,
                                "description": params.exclusiveOptions[0].label.description
                            }
                        })
                    }}
                </p>
            {% elif exclusiveOptionsLength > 1 %}
                <p class="ons-checkboxes--mutually-exclusive__item ons-u-mt-s">
                    <span class="ons-checkboxes__label ons-u-fs-r--b" aria-hidden="true">{{ params.or }}</span>
                    {{
                        onsRadios({
                            "dontWrap": true,
                            "radios": params.exclusiveOptions,
                            "inputClasses": "ons-js-exclusive-option",
                            "name": params.exclusiveOptions[0].name | default("mutuallyExclusiveRadio"),
                            "deselectMessage": params.deselectMessage
                        })
                    }}
                </p>
            {% endif %}
            <span class="ons-js-exclusive-alert ons-u-vh" role="alert" aria-live="polite" data-group-adjective="{{ params.deselectGroupAdjective }}" data-option-adjective="{{ params.deselectExclusiveOptionAdjective }}"></span>
        </div>
    {% endcall %}
{% endmacro %}
