{% from "components/input/_macro.njk" import onsInput %}
{% from "components/question/_macro.njk" import onsQuestion %}

{%
    call onsQuestion({
        "title": "What was your annual income before tax in 2018/19?",
        "legendIsQuestionTitle": true
    })
%}
    {{
        onsInput({
            "id": "currency",
            "dontWrap": true,
            "type": "number",
            "width": "4",
            "label": {
                "text": "Gross annual income"
            },
            "prefix": {
                "title": "British pounds (GBP)",
                "text": "£",
                "id": "annual-salary-gpb-prefix"
            },
            "mutuallyExclusive": {
                "or": "Or",
                "deselectMessage": "Selecting this will clear your inputted annual income",
                "deselectGroupAdjective": "cleared",
                "deselectExclusiveOptionAdjective": "deselected",
                "exclusiveOptions": [
                    {
                        "id": "currency-checkbox",
                        "name": "no-currency",
                        "value": "no-currency",
                        "label": {
                            "text": "I prefer not to say"
                        }
                    }
                ]
            }
        })
    }}
{% endcall %}
