{% from "components/date-input/_macro.njk" import onsDateInput %}

{{
    onsDateInput({
        "id": "date-mutually-exclusive-with-error",
        "legendOrLabel": "When did you leave your last paid job?",
        "legendClasses": "ons-u-vh",
        "day": {
            "label": {
                "text": "Day"
            },
            "name": "day-exclusive"
        },
        "month": {
            "label": {
                "text": "Month"
            },
            "name": "month-exclusive"
        },
        "year": {
            "label": {
                "text": "Year"
            },
            "name": "year-exclusive"
        },
        "mutuallyExclusive": {
            "or": "Or",
            "deselectMessage": "Selecting this will clear the date if one has been inputted",
            "deselectGroupAdjective": "cleared",
            "deselectExclusiveOptionAdjective": "deselected",
            "exclusiveOptions": [
                {
                    "id": "date-exclusive-checkbox-with-error",
                    "name": "no-paid-job",
                    "value": "no-paid-job",
                    "label": {
                        "text": "I have never had a paid job"
                    }
                }
            ]
        },
        "error": {
            "id": 'date-mutually-exclusive-error',
            "text": 'Enter when you left your last paid job'
        }
    })
}}
