

{% from "components/icons/_macro.njk" import onsIcon %}

<div id="{{ params.containerId }}" class="ons-grid ons-grid--gutterless ons-grid--flex ons-u-bt ons-u-br ons-u-bl ons-u-bb ons-u-pt-s ons-u-pb-s">
    {% for item in (params.itemsList if params.itemsList is iterable else params.itemsList.items()) -%}
        <div class="ons-patternlib-icon-swatch ons-u-flex-no-grow ons-u-mb-l ons-u-mt-l">
            <div class="ons-patternlib-icon-swatch__svg ons-u-mb-s">
                {{
                    onsIcon({
                        "iconType": item.iconType,
                        "iconSize": item.iconSize | default('xxxl')
                    })
                }}
            </div>
            <div class="ons-patternlib-icon-swatch__code">
                <code class="ons-patternlib-icon-swatch__var">{{ item.iconType }}</code>
            </div>
        </div>
    {% endfor -%}
</div>
