{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}

{% macro onsAddressFinder(params) %}
   {% set fields %}
        <div id="address" class="field address-input {% if params.autosuggest is defined and params.autosuggest %}js-address-autosuggest {% endif %}address-input--search">
            {% if params.autosuggest is defined and params.autosuggest and params.autosuggest.isEditable == true or params.autosuggest is not defined %}    
                <div class="js-address-input__manual{% if params.autosuggest is defined and params.autosuggest %} u-db-no-js_enabled{% endif %}">
                    {% if params.organisation is defined and params.organisation %}
                        {{
                            onsInput({
                                "id": params.id + "-organisation",
                                "label": {
                                    "text": params.organisation.label
                                },
                                "classes": "input--w-20@m js-address-organisation",
                                "name": params.id + "-organisation"
                            })
                        }}
                    {% endif %}
                    {% if params.line1 is defined and params.line1 %}
                        {{
                            onsInput({
                                "id": params.id + "-line1",
                                "value": params.line1.value,
                                "label": {
                                    "text": params.line1.label
                                },
                                "classes": "input--w-20@m js-address-line1",
                                "name": params.id + "-line1",
                                "error": params.line1.error
                            })
                        }}
                    {% endif %}
                    {% if params.line2 is defined and params.line2 %}
                        {{
                            onsInput({
                                "id": params.id + "-line2",
                                "value": params.line2.value,
                                "label": {
                                    "text": params.line2.label
                                },
                                "classes": "input--w-20@m js-address-line2",
                                "name": params.id + "-line2"
                            })
                        }}
                    {% endif %}
                    {% if params.town is defined and params.town %}
                        {{
                            onsInput({
                                "id": params.id + "-town",
                                "value": params.town.value,
                                "label": {
                                    "text": params.town.label
                                },
                                "classes": "js-address-town",
                                "name": params.id + "-town"
                            })
                        }}
                    {% endif %}
                    {% if params.postcode is defined and params.postcode %}
                        {{
                            onsInput({
                                "id": params.id + "-postcode",
                                "value": params.postcode.value,
                                "label": {
                                    "text": params.postcode.label
                                },
                                "classes": "input--w-5 js-address-postcode",
                                "name": params.id + "-postcode"
                            })
                        }}
                    {% endif %}

                    {% if params.autosuggest is defined and params.autosuggest %}
                        <div class="u-mt-s">
                            <a href="#" class="js-address-search-btn u-db-no-js_disabled">{{ params.searchButton }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if params.autosuggest is defined and params.autosuggest %}
                {{
                    onsInput({
                        "id": params.id + "-uprn",
                        "classes": "js-hidden-uprn u-d-no",
                        "type": "hidden",
                        "name": params.id + "-uprn",
                        "value": params.uprn.value
                    })
                }}

                <div class="js-address-input__search{% if params.autosuggest.isEditable == true or params.autosuggest.isEditable is not defined %} u-db-no-js_disabled{% endif %}">
                    {{
                        onsInput({
                            "id": params.id + "-autosuggest",
                            "classes": "address-input__autosuggest js-autosuggest-input input--w-50 u-mb-no",
                            "label": {
                                "text": params.autosuggest.label.text,
                                "id": params.autosuggest.label.id,
                                "classes": "js-autosuggest-label"
                            },
                            "autosuggest": {
                                "externalInitialiser": true,
                                "APIDomain": params.autosuggest.APIDomain,
                                "APIDomainBearerToken": params.autosuggest.APIDomainBearerToken,
                                "allowMultiple": params.autosuggest.allowMultiple,
                                "mandatory": params.autosuggest.mandatory,
                                "instructions": params.autosuggest.instructions,
                                "autocomplete": params.autosuggest.autocomplete,
                                "isEditable": params.autosuggest.isEditable,
                                "ariaYouHaveSelected": params.autosuggest.ariaYouHaveSelected,
                                "ariaMinChars": params.autosuggest.ariaMinChars,
                                "ariaResultsLabel": params.autosuggest.ariaResultsLabel,
                                "ariaOneResult": params.autosuggest.ariaOneResult,
                                "ariaNResults": params.autosuggest.ariaNResults,
                                "ariaLimitedResults": params.autosuggest.ariaLimitedResults,
                                "ariaGroupedResults": params.autosuggest.ariaGroupedResults,
                                "groupCount": params.autosuggest.groupCount,
                                "moreResults": params.autosuggest.moreResults,
                                "tooManyResults": params.autosuggest.tooManyResults,
                                "resultsTitle": params.autosuggest.resultsTitle,
                                "noResults": params.autosuggest.noResults,
                                "typeMore": params.autosuggest.typeMore,
                                "errorTitle": params.autosuggest.errorTitle,
                                "errorMessageEnter": params.autosuggest.errorMessageEnter,
                                "errorMessageSelect": params.autosuggest.errorMessageSelect,
                                "errorMessageAPI": params.autosuggest.errorMessageAPI,
                                "errorMessageAPILinkText": params.autosuggest.errorMessageAPILinkText,
                                "options": params.autosuggest.options,
                                "manualLink": params.autosuggest.manualLink,
                                "manualLinkText": params.autosuggest.manualLinkText
                            }
                        })
                    }}
                    {% if params.autosuggest.manualLink %}
                        <a href="{{ params.autosuggest.manualLink }}" class="js-address-manual-btn u-mt-s u-dib">{{ params.autosuggest.manualLinkText }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endset %}

    {% if params.dontWrap is defined and params.dontWrap %}
        {{ fields | safe }} 
    {% else %}
        {% call onsFieldset({
            "id": params.id,
            "classes": params.classes,
            "legend": params.legend,
            "legendClasses": params.legendClasses
        }) %}
            {{ fields | safe }}
        {% endcall %}
    {% endif %}
{% endmacro %}
