---
title: Address finder
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}


The address finder component uses the ONS Address Index API to search UK addresses. 

### How to use

The address finder extends the code base used for the [autosuggest component](/components/autosuggest).

The ONS Address Index API which uses a JSON Web Token (JWT) to allow the transfer of data to take place. You will need to speak to the ONS AIMS team for requirements and set up trusted domains.

You will need to set the values for the parameters `APIDomain` and `APIDomainBearerToken` to allow queries to be passed to the API. 

There are many other parameters that need to be set. Look at the Nunjucks output on the example below to see how it should be configured.

The functionality available for this component can be best understood when used within a page/form. Examples of these are available on the [address pattern page](/patterns/addresses).

{{
    patternlibExample({"path": "components/address-finder/examples/address-finder/index.njk"})
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/894",
        "linkText": "Discuss the ‘Address finder’ component on GitHub"
    })
}}
