{% from "components/date-field-input/_macro.njk" import onsDateFieldInput %}

{% macro onsDuration(params) %}
    {% set fields = [
        {
            "id": params.field1.id, 
            "name": params.field1.name, 
            "attributes": params.field1.attributes, 
            "label": { "text": params.legendOrLabel if numberOfFields < 2, "description": params.description if numberOfFields < 2}, 
            "suffix": {
                "text": params.field1.suffix.text,
                "title": params.field1.suffix.title,
                "id": params.field1.suffix.id
            },
            "width": "2",
            "value": params.field1.value, 
            "error": params.error if numberOfFields < 2,
            "classes": (" ons-input--error" if (params.error and params.field1.error) or (params.error and not params.field1.error and not params.field2.error) else "") + (" ons-js-exclusive-group-item" if params.mutuallyExclusive else "")
        },
        {
            "id": params.field2.id, 
            "name": params.field2.name, 
            "attributes": params.field2.attributes,
            "width": "2",
            "label": { "text": params.legendOrLabel if numberOfFields < 2, "description": params.description if numberOfFields < 2},  
            "suffix": {
                "text": params.field2.suffix.text,
                "title": params.field2.suffix.title,
                "id": params.field2.suffix.id
            },
            "value": params.field2.value, 
            "error": params.error if numberOfFields < 2,
            "classes": (" ons-input--error" if (params.error and params.field2.error) or (params.error and not params.field1.error and not params.field2.error) else "") + (" ons-js-exclusive-group-item" if params.mutuallyExclusive else "")
        }] 
    %}
    {% set numberOfFields = fields | length %}
    {{ onsDateFieldInput({
        "id": params.id,
        "legendOrLabel": params.legendOrLabel,
        "description": params.description,
        "mutuallyExclusive": params.mutuallyExclusive,
        "numberOfFields": numberOfFields,
        "fields": fields,
        "error": params.error,
        "legend": params.legendOrLabel,
        "dontWrap": params.dontWrap,
        "classes": params.classes,
        "legendClasses": params.legendClasses,
        "legendIsQuestionTitle": params.legendIsQuestionTitle
     }) }}
{% endmacro %}
