{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/duration/_macro.njk" import onsDuration %}

{{
    onsDuration({
        "id": "address-duration",
        "legendOrLabel": 'How long have you lived at this address?',
        "legendClasses": 'ons-u-vh',
        "field1": {
            "id": "address-duration-years",
            "name": "address-duration-years",
            "suffix": {
                "text": "Years",
                "id": "address-duration-years-suffix"
            }
        },
        "field2": {
            "id": "address-duration-months",
            "name": "address-duration-months",
            "suffix": {
                "text": "Months",
                "id": "address-duration-months-suffix"
            }
        },
        "error": {
            "id": "address-duration-error",
            "text": "Enter how long you have lived at this address"
        }
    })
}}
