{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/duration/_macro.njk" import onsDuration %}

{%
    call onsQuestion({
        "title": "How long have you lived at this address?",
        "description": "<p>Enter “0” into the years field if you have lived at this address for less than a year</p>",
        "legendIsQuestionTitle": true
    })
%}
    {{
        onsDuration({
            "id": "address-duration-example",
            "dontWrap": true,
            "field1": {
                "id": "address-duration-years-example",
                "name": "address-duration-years",
                "suffix": {
                    "text": "Years",
                    "id": "address-duration-years-suffix-example"
                },
                "attributes": {
                    "autocomplete": "off"
                }
            },
            "field2": {
                "id": "address-duration-months-example",
                "name": "address-duration-months",
                "suffix": {
                    "text": "Months",
                    "id": "address-duration-months-suffix-example"
                },
                "attributes": {
                    "autocomplete": "off"
                }
            }
        })
    }}
{% endcall %}
