---
layout: none
---
{% extends "styles/page-template/src/_template.njk" %}

{% set page = { 
    "title": "Service name",
    "language": {
        "allLanguagesUrl": "#",
        "languages": [
            {
                "url": "#",
                "ISOCode": "en-GB",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": true
            },
            {
                "url": "#",
                "ISOCode": "ga",
                "text": "Gaeilge",
                "buttonAriaLabel": "Roghnóir teanga. Teanga reatha: Gaeilge",
                "chooseLanguage": "Roghnaigh teanga",
                "allLanguages": "Gach teanga",
                "current": false
            },
            {
                "url": "#",
                "ISOCode": "sco",
                "text": "Ulstèr-Scotch",
                "buttonAriaLabel": "Leid selectgor. Current leid: Ulstèr-Scotch",
                "chooseLanguage": "Wale leid",
                "allLanguages": "Ilka leid",
                "current": false
            }
        ]
    },
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        },
        "rows": [
            {
                "items": [
                    {
                        "text": 'Contact us',
                        "url": '#'
                    },
                    {
                        "text": 'Cookies and privacy',
                        "url": '#'
                    }
                ]
            }
        ]
    }
} %}

{% block content %}
{% endblock %}
