{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/radios/_macro.njk" import onsRadios %}

<table class="pl-question-anatomy">
    <tbody class="pl-question-anatomy__row">
        <tr>
            <td class="pl-question-anatomy__component">
                <h1 class="u-fs-l">On 1 May 2016, what was the number of employees for Bolt and Ratchet?</h1>
            </td>
            <th class="pl-question-anatomy__description" scope="col">
                <h3 class="u-fs-r">Question</h3>
            </th>
        </tr>
    </tbody>
    <tbody class="pl-question-anatomy__row">
        <tr>
            <td class="pl-question-anatomy__component">
                <p>On 1 May 2016, what was the number of employees for Bolt and Ratchet?</p>
            </td>
            <th class="pl-question-anatomy__description" scope="col">
                <h3 class="u-fs-r">Question description <small>(optional)</small></h3>
                <p class="u-fs-s">To provide added context to the question</p>
            </th>
        </tr>
    </tbody>
    <tbody class="pl-question-anatomy__row">
        <tr>
            <td class="pl-question-anatomy__component">
                {% call onsCollapsible({
                    "id": "question-definition",
                    "title": "Definition for employee",
                    "button": {
                        "close": "Hide this"
                    }
                }) %}
                    <p>An employee is a person employed for wages or salary, especially at non-executive level.</p>
                {% endcall %}
            </td>
            <th class="pl-question-anatomy__description" scope="col">
                <h3 class="u-fs-r">Question definition <small>(optional)</small></h3>
                <p class="u-fs-s">Only to be used to define word(s) or acronym(s) within the question.</p>
                <p class="u-fs-s"><strong>Only to be used once</strong></p>
            </th>
        </tr>
    </tbody>
    <tbody class="pl-question-anatomy__row">
        <tr>
            <td class="pl-question-anatomy__component">
                {% call onsPanel() %}
                    <strong>Include:</strong>
                    <ul>
                        <li>All employees in Great Britain (England, Scotland and Wales), both full and part-time, who received pay in the relevant period</li>
                    </ul>
                    <strong>Exclude:</strong>
                    <ul>
                        <li>Trainees on government schemes</li>
                        <li>Employees working abroad unless paid directly from this business’s GB payroll</li>
                    </ul>
                {% endcall %}
            </td>
            <th class="pl-question-anatomy__description" scope="col">
                <h3 class="u-fs-r">Question guidance <small>(optional)</small></h3>
                <p class="u-fs-s">Only to be used to state what should be included or excluded from the answer</p>
            </th>
        </tr>
    </tbody>
    <tbody class="pl-question-anatomy__row">
        <tr>
            <td class="pl-question-anatomy__component">
                {{ onsRadios({
                    "id": "number-of-employees",
                    "name": "number-of-employees",
                    "radios": [
                        {
                            "label": {
                                "text": "1 – 9 employees"
                            },
                            "value": "1-9"
                        },
                        {
                            "label": {
                                "text": "10 – 49 employees"
                            },
                            "value": "10-49"
                        },
                        {
                            "label": {
                                "text": "50 – 100+ employees",
                                "description": "Include multi-corporations"
                            },
                            "value": "50-100"
                        }
                    ]
                }) }}
            </td>
            <th class="pl-question-anatomy__description" scope="col">
                <h3 class="u-fs-r">Answer(s)</h3>
            </th>
        </tr>
    </tbody>
    <tbody class="pl-question-anatomy__row">
        <tr>
            <td class="pl-question-anatomy__component">
                {% call onsCollapsible({
                    "id": "question-justification",
                    "title": "Why do we ask this question",
                    "button": {
                        "close": "Hide this"
                    }
                }) %}
                    <p>We ask this question because we want to know things.</p>
                {% endcall %}
            </td>
            <th class="pl-question-anatomy__description" scope="col">
                <h3 class="u-fs-r">Question justification <small>(optional)</small></h3>
                <p class="u-fs-s"><strong>Not to be used as a definition</strong></p>
            </th>
        </tr>
    </tbody>
</table>
