{% from "components/summary/src/_macro.njk" import onsSummary %}
{{
    onsSummary({
        "title": "Summary - Section Title",
        "items": [
            {
                "questions": [
                    {
                        "question": "For the period 1 May 2017 to 31 May 2017, what was the total turnover of Essential Enterprise Ltd.?",
                        "answer": "£600.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            },
            {
                "title": "Change one or more of the figures so they total the sum of £600",
                "error": true,
                "questions": [
                    {
                        "question": "What was the value of the business's total sales of food?",
                        "answer": "£123.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            },
            {
                "error": true,
                "questions": [
                    {
                        "question": "What was the value of the business's total sales of alcohol, confectionery and tobacco?",
                        "answer": "£200.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            },
            {
                "error": true,
                "questions": [
                    {
                        "question": "What was the value of the business's total sales of clothing and footwear?",
                        "answer": "£50.00",
                        "action": {
                            "text": "Change",
                            "ariaLabel": "Change answer",
                            "url": "#"
                        }
                    }
                ]
            }
        ]
    })
}}
