{% from "components/message-list/_macro.njk" import onsMessageList %}

{{ 
    onsMessageList({
        "ariaLabel": "Message list for ONS Business Surveys",
        "unreadText": "New",
        "fromLabel": "From",
        "dateLabel": "Date",
        "hiddenReadLabel": "Read the message",
        "ariaLabelMetaData": "Message information",
        "ariaLabelMsg": "Message preview",
        "messages": [
            {
                "id": "message1",
                "unread": true,
                "url": "#",
                "subject": "BRES 2016 survey response query",
                "fromText": "ONS Business Surveys Team",
                "dateText": "Tue 4 Jul 2020 at 7:47",
                "body": "Hi Jacky. Thanks for that information. Your figures have allowed us to create more accurate…"
            },                        
            {
                "id": "message2",   
                "url": "#",
                "subject": "BRES 2015 Enquiry on data",
                "fromText": "Jacky Turner",
                "dateText": "Mon 1 Oct 2019 at 9:52",
                "body": "Hi Jacky, Thank you for returning the Business Register and Employment Survey (BRES) 2016…"
            }
        ]
    })
}}

