---
"fullWidth": true
---
{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        "lang": 'cy',
        "crest": true,
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Ynglŷn â’r cyfrifiad',
                        "url": '#0'
                    },
                    {
                        "text": 'Help gyda’r cyfrifiad',
                        "url": '#0'
                    },
                    {
                        "text": 'Cysylltu â ni',
                        "url": '#0'
                    }
                ]
            }
        ],
        "legal": [
            {
                "itemsList": [
                    {
                        "text": 'Cwcis',
                        "url": '#0'
                    },
                    {
                        "text": 'Datganiad hygyrchedd',
                        "url": '#0'
                    },
                    {
                        "text": 'Preifatrwydd a diogelu data',
                        "url": '#0'
                    }
                ]
            }
        ]
    })
}}
