---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = {
    "title": "Service name",
    "footer": {
    }
} %}

{% block main %}

    <h1>Sorry, you need to sign in again</h1>

    <p>This is because you’ve either:</p>

    {{
        onsList({
            "itemsList": [
                {
                    "text": 'been inactive for 45 minutes and your session has timed out to protect your information'
                },
                {
                    "text": 'followed a link to the middle of a survey'
                }
            ]
        })
    }}

    <p>You need to <a href="#0">sign back in</a> to continue your survey.</p>

{% endblock %}
