// The @include create-icon @mixin is located in the 'partials/helpers/_mixins.scss' file

@include create-icon($name: check);

@include create-icon($name: exit-white, $position: 'after', $transform: translateY(-0.08rem));

@include create-icon($name: exit-black, $position: 'after', $transform: translateY(-0.08rem));

@include create-icon($name: exit-blue, $position: 'after', $transform: translateY(-0.08rem));

@include create-icon($name: check-green, $margin: 1rem, $height: 1.112rem, $transform: translateY(-0.05rem));

@include create-icon($name: person, $margin: 1rem, $transform: translateY(-0.15rem));

@include create-icon($name: external-link, $position: 'after');

@include create-icon($name: lock, $height: 1.3rem, $transform: translateY(-0.15rem));

@include create-icon($name: chevron-right-white, $height: 0.8rem, $position: 'after');

@include create-icon($name: chevron-down-white, $height: 0.8rem, $position: 'after');

@include create-icon($name: chevron-down-black, $height: 0.8rem, $position: 'after');

svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
