---
title: Prototyping in Sketch
sortOrder: 3
group: Guides
---

+++
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

Sketch is an application used to mock up wireframes and click through prototypes. 

{{
    onsExternalLink({
        "url": 'https://www.sketchapp.com/get/',
        "linkText": 'Download Sketch here'
    })
}}

## Using the ONS Design System Sketch library

{{
    onsList({
        "element": 'ol',
        "itemsList": [
            {
                "url":'https://github.com/ONSdigital/ONS-Sketch-Library/raw/master/ONS-Sketch-Library.sketch', 
                "external": true,
                "text": 'Download the ONS Sketch Library'
            },
            {
                "text": 'Add the library to Sketch via <strong>Sketch > Preferences > Libraries</strong> by using the <strong>Add Library</strong> button.'
            },
            {
                "text": 'Access the symbols by clicking <strong>Insert</strong> and navigating to the ONS-Sketch-Library, under <strong>Symbols</strong>.'
            }
        ]
    })
}}

+++
{% call onsPanel() %}
    If you require any help, notice any issues or have any recommendations please
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/ONS-Sketch-Library/issues",
            "linkText": "raise an issue on Github"
        })
    }}
{% endcall %}
+++
