---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% set pageConfig = {
    "title": "Service name",
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated',
            "type": 'external'
        }
    }
} %}
{% block main %}
    <h1>Sorry, there is a problem with the service</h1>
    <p>Try again later.</p>
    <p>If you have started a survey, your answers have been saved.</p>
    <p><a href="#">Contact us</a> if you need to speak to someone about your survey.</p>
{% endblock %}
