---
layout: none
---
{% extends "styles/page-template/_template.njk" %}
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/relationships/_macro.njk" import onsRelationships %}

{% set page = {
    "title": "Relationships example"
} %}

{% block main %}
    {% call onsQuestion({
        "title": "Joe Bloggs is your <em>…</em>",
        "description": "<p>Complete the sentence by selecting the appropriate relationship.</p>"
    }) %}
        {{ onsRelationships({
            "legend": "Joe Bloggs is your <em>…</em>",
            "titleRelated": "Joe Bloggs is your <em>{x}</em>",
            "titleUnrelated": "Joe Bloggs is <em>unrelated</em> to you",
            "playbackRelated": "Joe Bloggs is your <em>{x}</em>",
            "playbackUnrelated": "Joe Bloggs is <em>unrelated</em> to you",
            "playback": "Joe Bloggs is your <em>…</em>",
            "name": "relationship",
            "radios": [
                {
                    "id": "husband-wife",
                    "value": "husband-wife",
                    "label": {
                        "text": "Husband or wife"
                    }
                },
                {
                    "id": "civil-partner",
                    "value": "civil-partner",
                    "label": {
                        "text": "Legally registered civil partner"
                    }
                },
                {
                    "id": "partner",
                    "value": "partner",
                    "label": {
                        "text": "Partner"
                    }
                },
                {
                    "id": "son-daughter",
                    "value": "son-daughter",
                    "label": {
                        "text": "Son or daughter"
                    }
                },
                {
                    "id": "stepchild",
                    "value": "stepchild",
                    "label": {
                        "text": "Stepchild"
                    }
                },
                {
                    "id": "brother-sister",
                    "value": "brother-sister",
                    "label": {
                        "text": "Brother or sister"
                    }
                },
                {
                    "id": "stepbrother-stepsister",
                    "value": "stepbrother-stepsister",
                    "label": {
                        "text": "Stepbrother or stepsister"
                    }
                },
                {
                    "id": "mother-father",
                    "value": "mother-father",
                    "label": {
                        "text": "Mother or father"
                    }
                },
                {
                    "id": "stepmother-stepfather",
                    "value": "stepmother-stepfather",
                    "label": {
                        "text": "Stepmother or stepfather"
                    }
                },
                {
                    "id": "grandchild",
                    "value": "grandchild",
                    "label": {
                        "text": "Grandchild"
                    }
                },
                {
                    "id": "grandparent",
                    "value": "grandparent",
                    "label": {
                        "text": "Grandparent"
                    }
                },
                {
                    "id": "other-relation",
                    "value": "other-relation",
                    "label": {
                        "text": "Other relation"
                    }
                },
                {
                    "id": "unrelated",
                    "value": "unrelated",
                    "label": {
                        "text": "Unrelated",
                        "description": "Including foster child"
                    }
                }
            ]
        }) }}
    {% endcall %}
{% endblock %}
