{% macro onsTable(params) %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% if params.scrollable %}
    <div class="table-scrollable table-scrollable--on">
        <div class="table-scrollable__content" tabindex="0" role="region" aria-label="{{ params.caption }}. {{ params.aria_label }} ">
    {% endif %}
            <table {% if params.id %}id="{{ params.id }}"{% endif %} class="table {{ params.table_class }}" {% if params.sortable %}data-aria-sort="{{ params.sort_by }}" data-aria-asc="{{ params.aria_asc }}" data-aria-desc="{{ params.aria_desc }}"{% endif %}>
                {% if params.caption %}
                <caption class="table__caption{{ " u-vh" if params.hideCaption }}">{{ params.caption }}</caption>
                {% endif %}
                <thead class="table__head">
                    <tr class="table__row">
                        {% for th in params.ths %}
                        <th scope="col" class="table__header {{ th.class }}"{% if th.aria_sort %} aria-sort="{{ th.aria_sort }}"{% endif %}>{{ th.value }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="table__body">
                    {% for tr in params.trs %}
                    <tr class="table__row{{ " table__row--highlight" if tr.highlight }}">
                        {% for td in tr.tds %}
                        <td class="table__cell {{ td.class }}" {% if td.name %} name="{{ td.name }}"{% endif %} {% if td.data %} data-th="{{ td.data }}"{% endif %} {% if td.data_sort %} data-sort-value="{{ td.data_sort }}"{% endif %}>
                            {% if td.form %}
                                <form action="{{ td.form.action }}" method="{{ td.form.method | default('POST')}}">
                                    {{
                                        onsButton({
                                            "text": td.form.button.text,
                                            "id": td.form.button.id if td.form.button.id,
                                            "classes": td.form.button.classes if td.form.button.classes,
                                            "url": td.form.button.url if td.form.button.url 
                                        })
                                    }}
                                </form>
                            {% endif %}
                            {% if td.value %}
                                {{ td.value | safe }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% if params.tfoot %}
                <tfoot class="table__foot">
                    <tr class="table__row">
                        {% for tfootCell in params.tfoot %}
                        <td class="table__cell u-fs-s">{{ tfootCell.value }}</td>
                        {% endfor %}
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        {% if params.scrollable %}
        </div>
    </div>
    {% endif %}
{% endmacro %}
