{% from "components/table/_macro.njk" import onsTable %}
{{
    onsTable({
        "caption": "Table with cells merged, multiple row headers and column headers",
        "id": "basic-table",
        "ths": [
            {
                "value": "Trade Category",
                 "valign": "center"
            },
            {
                "value": "Metrics",
                 "valign": "center"
            },
            {
                "value": "Exports",
                 "valign": "center"
            },
            {
                "value": "Imports",
                 "valign": "center"
            },
            {
                "value": "Balance",
                "valign": "center"
            }

        ],
        "trs": [
            {
                "tds": [
                    {
                        "heading": true,
                        "value": "Total trade in goods: December 2024 vs November 2024",
                        "rowspan":3,
                        "valign": "center"
                    },
                    {
                        "heading": true,
                        "value": "Value (£bn)",
                        "valign": "center"
                    },
                    {
                        "value": "28.8",
                        "valign": "center"
                    },
                    {
                        "value": "45.7",
                        "valign": "center"
                    },
                    {
                        "value": "-16.9",
                         "valign": "center"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "heading": true,
                        "value": "Change (£bn)",
                        "valign": "center"
                    },
                    {
                        "value": "0.0",
                        "valign": "center"
                    },
                    {
                        "value": "-1.2",
                        "valign": "center"
                    },
                    {
                        "value": "1.2",
                         "valign": "center"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "heading": true,
                        "value": "%Change",
                        "valign": "center"
                    },
                    {
                        "value": "0.0",
                        "valign": "center"
                    },
                    {
                        "value": "2.6",
                        "valign": "center"
                    },
                    {
                        "value": "",
                         "valign": "center"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "heading": true,
                        "value": "EU: December 2024 vs November 2024",
                        "rowspan": 3,
                         "valign": "center"
                    },
                    {
                        "value": "Value (£bn)",
                        "heading": true,
                         "valign": "center"
                    },
                    {
                        "value": "13.6",
                        "valign": "center"
                    },
                    {
                        "value": "24.9",
                        "valign": "center"
                    },
                    {
                        "value": "-11.3",
                         "valign": "center"
                    }
                ]
            },
            {
                "tds": [
                   {
                        "value": "Change (£bn)",
                        "heading": true,
                        "valign": "center"
                    },
                    {
                        "value": "-0.5",
                         "valign": "center"
                    },
                    {
                        "value": "-0.8",
                         "valign": "center"
                    },
                    {
                        "value": "0.3",
                        "valign": "center"
                    }
                ]
            },
            {
                "tds": [
                   {
                        "heading": true,
                        "value": "%Change",
                         "valign": "center"
                    },
                    {
                        "value": "3.5",
                         "valign": "center"
                    },
                    {
                        "value": "-1.8",
                         "valign": "center"
                    },
                    {
                        "value": "",
                        "valign": "center"
                    }
                ]
            }
        ]
    })
}}
