---
title: Table
synonyms: Data, grid
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

We use the table element to present tabular data in two dimensions.

### Basic table
{{
    patternlibExample({"path": "components/table/examples/table-basic/index.njk"})
}}

### Table with footer
{{
    patternlibExample({"path": "components/table/examples/table-footer/index.njk"})
}}

## When to use this component

Use the table component to let users compare information in rows and columns.

## How to use this component

The 'basic table' is the default style for a table. There are variations available, added via `class` modifiers which can improve the usability of the `table` element.

### Dense table
{{
    patternlibExample({"path": "components/table/examples/table-dense/index.njk"})
}}
- **Class** - `table--dense`
- **Output** - This reduces the `font-size` to compact the table for basic tables which have many rows but only a few columns.

### Numeric table
{{
    patternlibExample({"path": "components/table/examples/table-numeric/index.njk"})
}}
- **Class** - `table__header--numeric` + `table__cell--numeric`
- **Output** - This aligns the content to the right for tables with all numeric values for best practice.

### Responsive table
{{
    patternlibExample({"path": "components/table/examples/table-responsive/index.njk"})
}}
- **Class** - `table--responsive`
- **Output** - Stacks the rows on viewports that are `500px` and lower. Displays the corresponding header value with each cell.

### Scrollable table
{{
    patternlibExample({"path": "components/table/examples/table-scrollable/index.njk"})
}}
- **Class** - `table--scrollable` `table-scrollable--on`
- **Output** - Creates a scrollable full width table on viewports that are `740px` and lower. Optionally allows for the table to be set at 100% on all viewports (shown in the example above).

### Sortable table
{{
    patternlibExample({"path": "components/table/examples/table-sortable/index.njk"})
}}
- **Class** - `table--sortable`
- **Output** - Applies JS enhancement to allow each column to be sorted. By default it will sort alphabetically, an optional `data-sort-value=foo` can be added to each `td` to control it's position for sorting.

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/102",
        "linkText": "Discuss the ‘Table’ component on GitHub"
    })
}}
