{% from "components/modal/_macro.njk" import onsModal %}
You can view the modal by <span data-modal-id="first" tabindex="0" role="button">launching it</span>.
{{
    onsModal({
        "id": 'first',
        "title": 'Hello',
        "body": 'Hows it going?',
        "btnText": 'Close this'
    })
}}
You can view the other modal by <span data-modal-id="second" tabindex="0" role="button">launching it</span>.
{{
    onsModal({
        "id": 'second',
        "title": 'Hello again',
        "body": 'Hows it going?',
        "btnText": 'Close this'
    })
}}
