{% from "components/toc/_macro.njk" import onsTableOfContents %}

{{-
    onsTableOfContents({
        "title": 'Contents',
        "ariaLabel": 'Pages in this guide',
        "skipLink": {
            "url": "#",
            "text": "Skip to guide content"
        },
        "itemsList": [
            {
                "url": '#',
                "text": 'Overview',
                "current": true
            },
            {
                "url": '#',
                "text": 'Who should take part and why'
            },
            {
                "url": '#',
                "text": 'How your information is used'
            },
            {
                "url": '#',
                "text": 'The 2019 Census Rehearsal'
            },
            {
                "url": '#',
                "text": 'Online census'
            }
        ]
    })
}}
