{% from "components/lists/_macro.njk" import onsList %}
{{
    onsList({
        "itemsList": [
            {
                "text": "birth certificate",
                "iconType": "check",
                "iconPosition": "before"
            },
            {
                "text": "national insurance number",
                "iconType": "check",
                "iconPosition": "before"
            },
            {
                "text": "passport",
                "iconType": "check",
                "iconPosition": "before"
            }
        ]
    })
}}
