---
title: Breadcrumbs
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
+++

A breadcrumb trail consists of a list of links to the parent pages of the current page in hierarchical order. It helps users find their place within a website or web application.

{{
    patternlibExample({"path": "components/breadcrumbs/examples/breadcrumbs/index.njk"})
}}

## When to use this component
Use the breadcrumbs component when you need to help users understand and move between the multiple levels of a website.

## When not to use this component
Don’t use the breadcrumbs component on websites with a flat structure, or to show progress through a linear journey or transaction.

If you’re using other navigational elements on the page, such as a sidebar, consider whether your users need the additional support of breadcrumbs.

## How to use this component
Always place breadcrumbs before a page’s `<main>` content element.  This makes sure the [Skip to content](/components/skip-to-content) link allows the user to skip all navigation, including the breadcrumbs.
Where possible this should be set in the [base page template](/foundations/page-template) in `pageConfig` to make sure it’s placed correctly.

### How it works
{{
    onsList({
        "itemsList": [
            {
                "text": 'The set of links is structured using an <strong>ordered</strong> list to provide semantic structure'
            },
            {
                "text": 'A <code>nav</code> element labeled <code>Breadcrumbs</code> identifies the structure as a breadcrumb trail and makes it a navigation landmark so that it is easy to locate'
            },
            {
                "text": 'To prevent screen reader announcing the visual separators between links, they are added via CSS'
            },
            {
                "text": 'The separators are part of the visual presentation that signifies the breadcrumb trail. This is already semantically represented by the <code>nav</code> element with its <code>aria-label</code> of Breadcrumbs. Therefore using a display technique that is not used by screen readers prevents redundant and potentially distracting verbosity'
            }
        ]
    })
}}

## Variants

### Single breadcrumb

When the component only has a single breadcrumb it will display like this.

{{
    patternlibExample({"path": "components/breadcrumbs/examples/breadcrumbs-single/index.njk"})
}}

## Research on this component
Based upon {{
    onsExternalLink({
        "url": "https://w3c.github.io/aria-practices/examples/breadcrumb/index.html",
        "linkText": "W3 principles"
    })
}}

## Help improve this component
Let us know how we could improve this component or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/43",
        "linkText": "Discuss the ‘Breadcrumbs’ component on GitHub"
    })
}}
