{% from "components/button/_macro.njk" import onsButton %}
{{
    onsButton({
        "type": 'button',
        "text": 'Web chat',
        "classes": 'ons-u-mb-m',
        "url": '#',
        "newWindow": true
    })
}}
