.ons-description-list {
    &__items {
        margin: 0 0 2rem;
    }

    &__term {
        clear: both;
        float: left;
        font-weight: $font-weight-bold;

        &:not(:first-child) {
            @extend .ons-u-mt-2xs;
        }
    }

    &__value {
        float: right;
        @extend .ons-u-ml-no; /* As normalize adds a 40px left margin */

        &:not(:nth-of-type(1)) {
            @include mq(m) {
                margin-top: 0.5rem;
            }
        }

        & + & {
            @include mq(m) {
                margin-top: 0;
            }
        }
    }
}
