.svg-icon {
  height: 1rem;
  vertical-align: middle;
  width: 1rem;

  &--xxl {
    height: 2rem;
    width: 2rem;
  }

  &--xl {
    height: 1.6rem;
    width: 1.6rem;
  }

  &--l {
    height: 1.4rem;
    width: 1.4rem;
  }

  &--m {
    height: 1.2rem;
    width: 1.2rem;
  }

  &--s {
    height: 0.8rem;
    width: 0.8rem;
  }
}
