---
title: Basic content principles
sortOrder: 1
anchorLinks: true
group: Content guides
---

+++
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/table/_macro.njk" import onsTable %}
+++

## 1. Keep it short and simple
All content should be clearly written in plain English. Keep it as short as possible. In general, you should:
{{
    onsList({
        "itemsList": [
          {
            "text": 'limit each paragraph to one or two sentences'
          },
          {
              "text": 'use short sentences of no more than 25 words'
          },
          {
              "text": 'be clear'
          },
          {
              "text": 'avoid long, complex words and jargon'
          },
          {
              "text": 'avoid complicated sentence structures'
          },
          {
              "text": 'stick to one idea or theme per paragraph'
          },
          {
              "text": 'be consistent with your language and tone'
          },
          {
              "text": 'write for the reading comprehension of a 9-year-old or below (Grade 4 to 5 in the <a href="https://hemingwayapp.com/" class="ons-external-link" target="_blank" rel="noopener">Hemingway app</a>)'
          }
        ]
    })
}}

Structure your content with the most important words or points first. This ensures that if the user is skimming the page, they read the most important thing.

There is more {{
    onsExternalLink({
        "url": "https://style.ons.gov.uk/category/writing-for-the-web/plain-english/",
        "linkText": "guidance on writing in plain English on Style.ONS"
    })
}}

## 2. Think about the words
There is a {{
    onsExternalLink({
        "url": "https://style.ons.gov.uk/house-style/words-not-to-use/",
        "linkText": "list of words not to use on Style.ONS"
    })
}}. Also avoid the following and use the alternatives suggested:
{{
    onsTable({
        "caption": "A table of words not to use with suggested alternatives",
        "hideCaption": true,
        "ths": [
            {
                "value": "Avoid using"
            },
            {
                "value": "Suggested alternative"
            }
        ],
        "trs": [
            {
                "tds": [
                    {
                        "value": "On behalf of"
                    },
                    {
                        "value": "For"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Elsewhere"
                    },
                    {
                        "value": "Rest of the world/outside the UK (as appropriate)"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Specify"
                    },
                    {
                        "value": "Describe"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Currently"
                    },
                    {
                        "value": "Now"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Click"
                    },
                    {
                        "value": "Select"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Type"
                    },
                    {
                        "value": "Enter"
                    }
                ]
            },
            {
                "tds": [
                    {
                        "value": "Business’"
                    },
                    {
                        "value": "Business’s"
                    }
                ]
            }
        ]
    })
}}

Use high-frequency words that are more likely to be familiar to users.

Do not use Latin as it may not be familiar to users. Use “for example,” instead of “e.g”.

Follow the {{
    onsExternalLink({
        "url": "https://style.ons.gov.uk/house-style/abbreviations/",
        "linkText": "Style.ONS guidance for abbreviations"
    })
}}

## 3. Use active voice
An active sentence makes clear who is doing what by putting the subject of the sentence up front, making it easier to read and understand. The subject is doing something to the object (direct) rather than the subject being acted upon by the object.

For example, make the sentence “A trend is shown by the study” active by changing it to “The study shows a trend”.

## 4. Break up text
Use subheadings to break up large blocks of text. It is easier for users to read content if it is in smaller chunks. There are standard headings on the templates, but you can also use subheadings under these to break up the text more.

Bullet points are also a good way to break up text and make it easier for users to follow. For example, the list of bullet points on the [page titles](/guidance/writing-page-titles-and-urls) page clearly highlights the main points.

## 5. Accessibility
Breaking up text, consistency, good subheadings and concise plain English all make content accessible for users.

Other things to consider are:
{{
    onsList({
        "itemsList": [
          {
            "text": 'do not use brackets around text unless absolutely necessary'
          },
          {
              "text": 'avoid using contractions, like “don’t” or “it’s”, as they may not be understood by screen readers and can be difficult to process for some users'
          },
          {
              "text": 'do not use ampersands as they can also be misunderstood by screen readers or be difficult for users to understand'
          },
          {
              "text": 'write good link text'
          },
          {
              "text": 'provide alt text for images'
          },
          {
              "text": 'avoid directional text, like “above” or “below”, as this could be misleading for users of assistive tech'
          }
        ]
    })
}}
Style.ONS has more detail about {{
    onsExternalLink({
        "url": "https://style.ons.gov.uk/category/writing-for-the-web/web-accessibility/",
        "linkText": "web accessibility considerations"
    })
}}

## Ask for help
If you need any help writing your documentation, email {{
    onsExternalLink({
        "url": "Mailto:ONS.Design.System@ons.gov.uk?Subject=Help%20with%20content%20design",
        "linkText": "ONS.Design.System@ons.gov.uk"
    })
}} to ask a content designer.
