{% from "components/language-selector/src/_macro.njk" import onsLanguageSelector %}

{{ 
    onsLanguageSelector({
        "allLanguagesUrl": "#",
        "languages": [
            {
                "url": "#",
                "ISOCode": "en-GB",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": false
            },
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": false
            },
            {
                "url": "#",
                "ISOCode": "pl",
                "text": "Polskie",
                "buttonAriaLabel": "Wybór języka. Aktualny język: Polskie",
                "chooseLanguage": "Wybierz język",
                "allLanguages": "Wszystkie języki",
                "current": true
            }
        ]
    })
}}
