---
title: Home
layout: home
sortOrder: 1
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

{{
    onsHero({
        title: 'Design and build digital services for the ONS',
        text: 'Everything you need to make accessible, consistent digital products.',
        button: {
            url: '/get-started',
            text: 'Get started'
        }
    })
}}
<div class="container">
    <div class="grid grid--flex grid--loose grid--column@xxs@s u-mt-xl u-mb-m">
        <div class="grid__col grid__col--flex grid__col--loose u-flex-grow u-flex-no-basis@s u-mb-s col-12@xxs@s">
            {{-
                onsCard({
                    "title": 'Styles',
                    "url": '/styles',
                    "text": 'Guides for applying layout, typography and colour.'
                })
            -}}
        </div>
        <div class="grid__col grid__col--flex grid__col--loose u-flex-grow u-flex-no-basis@s u-mb-s col-12@xxs@s">
            {{-
                onsCard({
                    "title": 'Components',
                    "url": '/components',
                    "text": 'Resuable and accessible code to build the components of a page.'
                })
            -}}
        </div>
        <div class="grid__col grid__col--flex grid__col--loose u-flex-grow u-flex-no-basis@s u-mb-s col-12@xxs@s">
            {{-
                onsCard({
                    "title": 'Patterns',
                    "url": '/patterns',
                    "text": 'Patterns on common tasks and how components should work together.'
                })
            -}}
        </div>
    </div>
    <hr>
    <div class="grid grid--gutterless u-mt-l">
        <div class="grid__col col-8@m">
            <h3 class="u-fs-l">Design community</h3>
            <p>The ONS Design System is available for everyone and brings together the latest research, design and development from across the organisation to ensure our users have an accessible and consistent experience with our services.</p>
            <p>If you would like to contribute to the design system you can {{
                onsExternalLink({
                    "url": "https://github.com/ONSdigital/design-system",
                    "linkText": "Propose a new pattern or component"
                })
            }}
            </p>
        </div>
    </div>
</div>
