---
title: Home
layout: home
sortOrder: 1
---
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/card/_macro.njk" import onsCard %}
{% from "components/hero/_macro.njk" import onsHero %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

{{
    onsHero({
        "wide": true,
        "title": 'Design and build digital services for the ONS',
        "text": 'Everything you need to make accessible and consistent digital products.',
        "button": {
            "url": '/get-started',
            "text": 'Get started'
        }
    })
}}
<div class="container container--wide">
    <div class="grid grid--column@xxs@s u-mt-l u-mb-l@m">
        <div class="grid__col col-4@m">
            {{-
                onsCard({
                    "title": 'Styles',
                    "url": '/styles',
                    "text": 'Guides for applying layout, typography and colour.'
                })
            -}}
        </div>
        <div class="grid__col col-4@m">
            {{-
                onsCard({
                    "title": 'Components',
                    "url": '/components',
                    "text": 'Reusable and accessible code to build the components of a page.'
                })
            -}}
        </div>
        <div class="grid__col col-4@m">
            {{-
                onsCard({
                    "title": 'Patterns',
                    "url": '/patterns',
                    "text": 'Patterns on common tasks and how components should work together.'
                })
            -}}
        </div>
    </div>
    <hr class="u-mt-no">
    <div class="grid grid--gutterless u-mt-l u-mb-l">
        <div class="grid__col col-6@m">
            <h3 class="u-fs-l">Design community</h3>
            <p>The ONS Design System is available for anyone to use. It brings together the latest research, design and development from across the organisation. Using the design system ensures our users have an accessible and consistent experience with our services and websites.</p>
            <p>You can <a href="{{ pageInfo.rootPath }}/contribute">contribute to the design system</a> if you want to propose a new pattern or component, or want to make a change to an existing feature. </p>
        </div>
    </div>
</div>
