---
title: Correct errors
group: Help users to...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/button/_macro.njk" import onsButton %}

## When to use this pattern

Follow this pattern whenever you need to help your users enter valid and required information in a form.

Validation should occur after the user submits the form.

## How to use this pattern

You must tell the user about missing or incorrect information when they submit a form by displaying:
{{
    onsList({
        "itemsList": [
            {
                "text": 'A summary listing all the errors on the page'
            },
            {
                "text": 'Contextual detail and highlight for each erroneous field'
            }
        ]
    })
}}

### Error summary

An [error panel](/components/panel#error) must be displayed above the form when the page reloads, so it's the first element to be read.

The error `panel__header` must display the number of errors on the page if there is more than one.

The error `panel__body` must contain an anchored ordered list to each erroneous field or fieldset on the page, each describing the specific error and directing the user towards a resolution. To use an orderd list you must set `element` to "ol" when using the list macro.

Each list item `url` key should contain a value that matches the id of the `panel` that wraps the input that has an error and preceded with a hash i.e. `#email-input`. Javascript will focus the corresponding input.

Guidance on specific error messages can be found with each applicable [component](/components).

{{
    patternlibExample({"path": "patterns/error-validation/examples/error-summary/index.njk"})
}}

### Error details

You must use an [error panel](/components/error) to wrap each erroneous field or fieldset.

The inline error panel text string must describe the error and direct the user towards a resolution.

Guidance on specific error messages can be found with each applicable [component](/components).

{{
    patternlibExample({"path": "patterns/error-validation/examples/error-details/index.njk"})
}}

## Example

The prototype provides an example of form validation for missing and invalid inputs.  Attempt to submit the form as it is to see the validation in action.

{{
    onsPanel({
        body: "<strong>Note:</strong> The form in the example prototype will always fail validation."
    })
}}

<div>
    {{
        onsButton({
            "type": 'button',
            "text": 'Launch prototype',
            "classes": 'u-mt-m',
            "url": '/patterns/error-validation/examples/errors-proto/'
        })
    }}
</div>

## Research on this component
{% call onsPanel() %}
    If you have conducted any user research using this pattern, please feed back your findings via the
    {{
        onsExternalLink({
            "url": "https://github.com/ONSdigital/design-system/issues/30",
            "linkText": "Design System Forum",
            "type": "external"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/issues/30",
        "linkText": "Discuss 'Correct errors' on GitHub",
        "type": "external"
    })
}}
