:root {
    --ons-color-black: #222;
    --ons-color-white: #fff;
    --ons-color-branded: #902082;
    --ons-color-branded-tint: rgb(144 32 130 / 10%); // 10% of brand colour
    --ons-color-branded-secondary: #df0667;
    --ons-color-branded-tertiary: #3c388e;
    --ons-color-branded-supporting: #00a3a6;
    --ons-color-branded-supporting-tint: rgb(0 163 166 / 20%);
    --ons-color-census-gradient: linear-gradient(to bottom left, #902082 0%, #3c388e 100%);
}

// Overrides

// Header logo
.ons-header__title-logo {
    .ons-svg-logo {
        fill: var(--ons-color-white);
    }
    &-link:focus {
        .ons-svg-logo {
            fill: var(--ons-color-black);
        }
    }
}
