@import 'normalize';
@import 'vars/index';
@import 'helpers/index';
@import 'base/index';
@import 'objects/index';
@import '../components/access-code/uac';
@import '../components/address-output/address-output';
@import '../components/articles/articles';
@import '../components/autosuggest/autosuggest';
@import '../components/breadcrumbs/breadcrumbs';
@import '../components/button/button';
@import '../components/call-to-action/call-to-action';
@import '../components/card/card';
@import '../components/checkboxes/checkbox';
@import '../components/checkboxes/checkboxes';
@import '../components/collapsible/collapsible';
@import '../components/content-pagination/content-pagination';
@import '../components/cookies-banner/cookies-banner';
@import '../components/download-resources/download-resources';
@import '../components/downloads/downloads';
@import '../components/external-link/external-link';
@import '../components/feedback/feedback';
@import '../components/field/field-group';
@import '../components/field/field';
@import '../components/fieldset/fieldset';
@import '../components/find-a-support-centre/find-a-support-centre';
@import '../components/footer/footer';
@import '../components/header/header-nav';
@import '../components/header/header';
@import '../components/hero/hero';
@import '../components/icons/icons';
@import '../components/images/images';
@import '../components/input/input-type';
@import '../components/input/input';
@import '../components/label/label';
@import '../components/language-selector/language';
@import '../components/lists/list';
@import '../components/message-list/message-list';
@import '../components/message/message';
@import '../components/metadata/metadata';
@import '../components/pagination/pagination';
@import '../components/panel/panel';
@import '../components/phase-banner/phase-banner';
@import '../components/promotional-banner/promo-banner';
@import '../components/question/question';
@import '../components/quote/quote';
@import '../components/radios/radio';
@import '../components/radios/radios';
@import '../components/related-content/related-content';
@import '../components/related-links/related-links';
@import '../components/relationships/relationships';
@import '../components/search/search';
@import '../components/section-navigation/section-navigation';
@import '../components/skip-to-content/skip';
@import '../components/status/status';
@import '../components/summary/summary';
@import '../components/table-of-contents/toc';
@import '../components/table/table';
@import '../components/tabs/tabs';
@import '../components/text-indent/text-indent';
@import '../components/timeline/timeline';
@import '../components/upload/upload';
@import '../components/video/video';
@import '../patterns/help-users-to/see-important-information/src/_highlight';
@import '../patterns/pages/question/examples/question-anatomy/pl-question-anatomy';
@import '../foundations/layout/page-template/examples/block-areas/block-areas';
@import '../foundations/style/colours/colours';
@import '../foundations/style/icons/icon-swatch';
@import 'utilities/index';

// Right to left
@import 'overrides/rtl';

// High Contrast Mode
@import 'overrides/hcm';
