@import 'vars/index';
@import 'helpers/*.scss';
@import '../views/partials/**/*.scss';
@import '../foundations/layout/page-template/examples/block-areas/block-areas';
@import '../patterns/pages/question/examples/question-anatomy/pl-question-anatomy';
@import 'prism-tomorrow';

.ons-patternlib-page {
  height: 100vh;

  &--example {
    display: block;
    height: auto;
    padding: 1.5rem;

    .ons-page,
    .ons-page__content {
      overflow-x: visible;
    }
  }

  &__header {
    margin: 0;
  }

  &__sub-nav {
    .ons-nav {
      width: 100%;
    }
  }

  &__body {
    overflow: hidden;
  }

  &__content {
    width: 100%;
    p,
    li,
    h3,
    h4,
    h5,
    h6 {
      max-width: 40rem;
    }

    code:not(.ons-patternlib-example__code) {
      background: $color-grey-5;
      color: $color-ruby-red;
      padding: 0.05rem 0.25rem;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;
      width: 100%;
    }

    th {
      border-bottom: 2px solid $color-grey-100;
      padding: 0.5rem 0 0.5rem 1rem;
      text-align: left;
      vertical-align: top;
    }

    th,
    td {
      line-height: 1.6;
      padding: 0.5rem 0 0.5rem 1rem;
      &:first-child {
        padding-left: 0;
      }
    }

    td {
      background: transparent;
      border-bottom: 1px solid $color-borders;
    }

    tr:last-child td {
      border: 0;
    }
  }

  .ons-table-scrollable {
    position: relative;
    ::-webkit-scrollbar {
      height: 7px;
    }
    ::-webkit-scrollbar-thumb {
      background: $color-grey-75;
      border-radius: 20px;
    }
    &--on {
      th,
      td {
        white-space: nowrap;
      }
    }
    &__content {
      overflow: visible;
      overflow-x: scroll;
      width: 100%;
      &:focus {
        outline: 3px solid $color-focus;
        outline-offset: 3px;
      }
      th,
      td {
        @include mq(xxs, m) {
          white-space: nowrap;
        }
      }
      .ons-table__right-shadow,
      .ons-table__left-shadow {
        height: 100%;
        position: absolute;
        top: 0;
        width: 5px;
        z-index: 200;

        &.ons-with-transition {
          transition: box-shadow 0.4s ease-out;
        }
      }
      .ons-table__right-shadow {
        right: 0;
        &.ons-visible {
          box-shadow: inset -1px 0 0 0 #bfc1c3, inset -5px 0 0 0 rgba(191, 193, 195, 0.4);
        }
      }
      .ons-table__left-shadow {
        left: 0;
        &.ons-visible {
          box-shadow: inset 1px 0 0 0 #bfc1c3, inset -5px 0 0 0 rgba(191, 193, 195, 0.4);
        }
      }
    }
  }

  &__content,
  &__sub-nav {
    > {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:not(:first-child) {
          margin-top: 2rem;
        }
      }

      h5,
      h6 {
        font-size: 1rem;
      }

      @for $i from 1 through 6 {
        @for $c from 1 through 6 {
          h#{$i} + h#{$c}:not(:first-child) {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__content-header {
    margin-bottom: 1rem;
    position: relative;
  }

  .ons-panel + .ons-patternlib-example {
    margin-top: 2rem;
  }
}

.ons-patternlib-example__iframe {
  padding-right: 1px;
}

.ons-patternlib-hero {
  background: $color-grey-5;
  padding: 2rem 0 1rem;
  width: 100%;

  &__title {
    max-width: 30rem;
  }
}

.ons-pl-grid-col {
  background: $color-grey-5;
  font-size: 0.8rem;
  margin: 0 0 1rem;
  padding: 1rem;
}

.ons-pl-experimental-tag {
  background: $color-info;
  color: $color-text-inverse;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
}
