@import 'helpers/*.scss';
@import 'vars/*.scss';
@import 'base/*.scss';

@import '../views/partials/**/*.scss';

.patternlib-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    margin: 0;
  }

  &__body {
    display: flex;
    flex: 1;

    & {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:not(:first-child) {
          margin-top: 2rem;
        }
      }

      @for $i from 1 through 6 {
        @for $c from 1 through 6 {
          h#{$i} + h#{$c}:not(:first-child) {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__sub-nav,
  &__primary,
  &__main {
    display: flex;
    flex-direction: column;
  }

  &__sub-nav,
  &__primary {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__sub-nav {
    flex: 0 0 auto;
    padding: 1.5rem 1rem;
    width: 300px;
    border-right: 1px solid $color-borders;

    .nav {
      width: 100%;
    }
  }

  &__main {
    flex: 1 0 auto;
  }

  &__primary {
    flex: 1 1 auto;
  }

  &__example:not(&__example--full-width) {
    padding: $grid-gutters;
  }

  &__content {
    padding: 1.5rem;
    width: 100%;

    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      max-width: 50rem;
    }

    code:not(.patternlib-example__code) {
      display: inline-block;
      padding: 0.05rem 0.25rem;
      background: $color-grey-4;
      color: $color-red;
    }
  }

  &__content-header {
    margin-bottom: 1rem;
  }
}

.patternlib-hero {
  background: $color-grey-4;
  width: 100%;
  padding: 2rem 0 1rem;
  &__title {
    max-width: 30rem;
  }
}
