$color-black: #222;

.btn,
.summary__actions,
footer,
.cookies-banner,
.language-links,
.breadcrumb {
  display: none;
}

a::after {
  content: ' (' attr(href) ') ';
}

.header {
  &__main,
  &__bottom {
    background: transparent;
  }

  &__title {
    color: $color-black;
  }

  &-nav {
    display: block;
    &__item {
      display: inline-block;
    }
    &__item--active {
      border: 0;
    }
    &__link,
    &__link:hover {
      color: $color-black;
    }
  }

  & &__svg-logo {
    fill: $color-black;
  }
}

.collapsible {
  &--initialised & {
    &__icon {
      display: none;
    }

    &__title {
      margin-bottom: 1rem;
      margin-left: -1.5rem;
      color: $color-black;
      text-decoration: none;
    }

    &__content {
      display: block;
    }
  }
}

.hero {
  -webkit-print-color-adjust: exact;
}
