html {
  --ons-color-black: #222;
}

.ons-btn,
.ons-navigation-search,
.ons-summary__actions,
.ons-footer,
.ons-cookies-banner,
.ons-language-links,
.ons-breadcrumb,
.ons-u-ph {
  display: none !important;
}

a::after {
  content: ' (' attr(href) ') ';
}

.ons-header {
  &__main,
  &__bottom {
    background: transparent;
  }

  &__title {
    color: var(--ons-color-black);
  }

  & &__svg-logo {
    fill: var(--ons-color-black);
  }
}

.ons-navigation--main,
.ons-navigation--sub {
  border-top: 1px solid var(--ons-color-text-link);
  display: block !important;
  padding: 1rem 0 0.5rem;
  .ons-navigation__item {
    display: inline-block;
  }
  .ons-navigation__item--active {
    border: 0;
  }
  .ons-navigation__link,
  .ons-navigation__link:hover {
    color: var(--ons-color-text-link);
  }
}

details,
details > summary {
  display: block !important;
}

.ons-hero {
  color-adjust: exact;
}

.ons-grid__col {
  display: block; // Prevents page breaking before grid col when printing from Chrome see: https://github.com/ONSdigital/design-system/issues/2584
}
