.rtl .page__container > .grid {
  direction: rtl;

  ul {
    padding-left: 0;
    padding-right: 1.5rem;
  }

  // List
  .list {
    padding: 0 1.5rem 0 0;

    &__link {
      margin-left: 1rem;
      margin-right: 0;
    }

    &--bare {
      padding-right: 0;
    }

    &--dashed {
      padding-right: 0;

      .list__item {
        margin-left: 0;
        margin-right: 25px;

        &::before {
          left: auto;
          margin-left: 0;
          margin-right: -25px;
          right: 0;
        }
      }
    }
  }

  // Panel
  .panel {
    border-left: 0;
    border-right: 8px solid transparent;

    &--info {
      border-color: $color-info;
    }

    &--warn,
    &--warn-branded {
      .panel__body {
        padding: 0.222rem 2.8rem 0.222rem 0;
      }
    }

    &--bare {
      .panel__body {
        padding: 0.1rem 1.5rem 0 0;
      }
    }
  }

  // Buttons
  .btn {
    .svg-icon {
      margin: 0 0.5rem 0.1rem 0;
      transform: rotate(180deg);
    }
  }

  // Content pagination
  .content-pagination {
    &__list {
      padding: 0;
    }

    &__link-text {
      margin: 0 0.5rem 0 0;
    }

    &__link-label {
      margin: 0 2rem 0 0;
    }

    &__link-icon {
      transform: rotate(180deg);
    }
  }

  // Download
  .download {
    &__image {
      margin-left: 1.5rem;
      margin-right: 0;
    }
  }

  // Flip push and pull
  @each $breakpoint-min, $size in $grid-bp {
    @for $column from 1 through $grid-cols {
      $width: percentage($column / $grid-cols);

      @include mq($breakpoint-min) {
        .push-#{$column}\@#{$breakpoint-min} {
          left: -$width;
        }

        .pull-#{$column}\@#{$breakpoint-min} {
          left: $width;
        }
      }
    }

    @each $breakpoint-max, $size in $grid-bp {
      @for $column from 1 through $grid-cols {
        $width: percentage($column / $grid-cols);

        @include mq($breakpoint-min, $breakpoint-max) {
          .push-#{$column}\@#{$breakpoint-min}\@#{$breakpoint-max} {
            left: -$width;
          }

          .pull-#{$column}\@#{$breakpoint-min}\@#{$breakpoint-max} {
            left: $width;
          }
        }
      }
    }
  }
}
