---
title: Download resources
group: Help users to...
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

Allow users to filter and sort downloadable resources.

## Example
{{
    patternlibExample({ "path": "patterns/download-resources/examples/index.njk" })
}}


## Research on this component
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/888" target="_blank" rel="noopener" class="icon--external-link">Design System forum</a>
{% endcall %}

## Design System forum
<a href="https://github.com/ONSdigital/design-system/issues/888" target="_blank" rel="noopener" class="icon--external-link">Discuss 'Download resources' on GitHub</a>
