---
title: Download resources
group: Help users to...
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}

Allow users to filter and sort downloadable resources.

## Example
{{
    patternlibExample({ "path": "patterns/download-resources/examples/index.njk" })
}}
