.dialog[aria-hidden='true'] {
  display: none;
}

.dialog__title {
  padding: 0.5rem 1rem;
  &:focus {
    outline: none;
  }
}

.dialog__overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background-color 300ms ease-out 100ms;

  .dialog.is-hidden & {
    background-color: rgba(0, 0, 0, 0);
  }
}

.dialog__body {
  text-align: center;
  padding: 3rem 4rem 4rem;
  background-color: $color-white;
  max-width: 90%;
  width: 32rem;
  border-radius: 3px;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-out 100ms;
  opacity: 1;

  .dialog.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}
