.label {
  display: block;
  margin-bottom: 0.4rem;
  color: inherit;
  font-weight: 600;

  &__description {
    display: inline-block;
    line-height: 1.4;
  }

  &--small {
    font-size: 0.8rem;
  }
}
