{%- macro onsImage(params) -%}
    {% from "components/figure/_macro.njk" import onsFigure %}

    {%
        call onsFigure({
            "caption": params.caption if params.caption
        })
    %}
        <div class="ons-image">
            {% if params.image %}
                <img
                    class="ons-image__img"
                    {% if params.image.largeSrc %}srcset="{{ params.image.smallSrc }} 1x, {{ params.image.largeSrc }} 2x"{% endif %}src="{{ params.image.smallSrc }}"
                    alt="{{ params.alt if params.alt }}"
                />
            {% else %}
                <img class="ons-image__img" src="{{ params.src }}" alt="{{ params.alt }}" />
            {% endif %}
        </div>
    {% endcall %}
{%- endmacro -%}
