{%- macro onsImage(params) -%}
    <figure class="ons-figure">
        
        {% if params.image %}
            <img class="ons-figure__image" {% if params.image.largeSrc %}srcset="{{ params.image.smallSrc }} 1x, {{ params.image.largeSrc }} 2x"{% endif %}src="{{ params.image.smallSrc }}" alt="{{ params.alt if params.alt else '' }}">
        {% else %}
            <img class="ons-figure__image" src="{{ params.url }}" alt="{{ params.alt }}">
        {% endif %}

        {% if params.caption %}
            <figcaption class="ons-figure__caption">
                {{ params.caption }}
            </figcaption>
        {% endif %}
        
    </figure>
{%- endmacro -%}
