{% from "components/image/_macro.njk" import onsImage %}
{{
    onsImage({
        "src": '/img/small/woman-in-purple-dress-shirt.jpg',
        "alt": 'Woman in a purple dress shirt using a laptop',
        "caption": 'Image 1 - Woman in a purple dress shirt using a laptop'
    })
}}
