---
title: Base page template
sortOrder: 1
---

+++
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/code-highlight/_macro.njk" import onsCodeHighlight %}
+++

Use the base page template to create pages with the core components and markup required for an ONS service.

The examples below provide templates that consist of commonly used [components](/components) and [patterns](/patterns).

All template examples contain the following:

- CSS and Javascript to add styling and behaviours to components.
- a [skip to content](/components/skip-to-content) link, [header](/components/header) and [footer](/components/footer) component.
- a favicon, and other related bookmark icons.
- Open Graph meta properties 

Click on the HTML tab on each example to view the rendered HTML.

## Default base page template

The example below shows the minimum requirements for an ONS base page template.

{{
    patternlibExample({ "path": "foundations/layout/page-template/examples/basic/index.njk" })
}}

## Customised page template

Components can be added to the base page template. The example below provides a [phase banner](/components/phase-banner), [change language](/patterns/change-language), [breadcrumbs](/components/breadcrumbs), [save button](/components/button), [related content](/components/related-content), [section navigation](/components/section-navigation) and [footer links](/components/footer).

{{
    patternlibExample({ "path": "foundations/layout/page-template/examples/custom/index.njk" })
}}

### Changing template content

The Nunjucks template allows 2 ways to change the content: {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#set",
        "linkText": "variables"
    })
}} or {{
    onsExternalLink({
        "url": "https://mozilla.github.io/nunjucks/templating.html#block",
        "linkText": "blocks"
    })
}}

The main difference between a variable and a block is that blocks can contain markup.

#### Variables

Variables can be set with:

{{ onsCodeHighlight({ "code": "{% set variableName = value %}" }) }}

| Variable Name   | Type                                | Required | Description                                                                                                                           |
| --------------- | ----------------------------------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------- |
| form            | `FormConfig` [_(ref)_](#formconfig) | false    | A object with configuration to wrap the current page in a form. If `form` variable is not set, the page will not be wrapped in a form |
| pageConfig      | `PageConfig` [_(ref)_](#pageconfig) | true     | A object with configuration for the current page                                                                                      |
| release_version | string                              | false    | What CDN version to use. This can also be configured from the `page` configuration object                                             |

##### FormConfig

| Variable Name | Type   | Required | Description                                                                |
| ------------- | ------ | -------- | -------------------------------------------------------------------------- |
| classes       | string | false    | Classes to apply to the wrapping form                                      |
| attributes    | object | false    | HTML attributes (for example, data attributes) to add to the button form    |
| method        | string | false    | The method the form should you, if not specified it will default to `POST` |

##### PageConfig

| Variable Name | Type                                                | Required                          | Description                                                                                                                                   |
| ------------- | --------------------------------------------------- | --------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------- |
| cdn           | `CDN` [_(ref)_](#cdn)                               | false                             | What CDN version to use                                                                                                                       |
| assetsURL     | string                                              | false                             | The base url where to find CSS/JS/images etc., for example, `http://localhost:3030`                                                           |
| title         | string                                              | true                              | The contents for the `<title>` element                                                                                                        |
| cspNonce      | string                                              | false                             | The Content Security Policy (CSP) nonce value                                                                                                 |
| meta          | `Meta` [_(ref)_](#meta)                             | false                             | Configuration for `<meta>` information in the document `<head>`                                                                               |
| social        | `Social` [_(ref)_](#social)                         | false                             | Configuration for social media information in the document `<head>`                                                                               |
| breadcrumbs   | `Breadcrumbs` [_(ref)_](/components/breadcrumbs)    | false                             | Configuration for the breadcrumbs or back link                                                                                                |
| bodyClasses   | string                                              | false                             | Classes to add to the `<body>` element                                                                                                        |
| header        | `Header` [_(ref)_](/components/header)              | true                              | Configuration for the page header                                                                                                             |
| footer        | `Footer` [_(ref)_](/components/footer)              | true                              | Configuration for the page footer                                                                                                             |
| mainCol       | `MainColumn` [_(ref)_](#maincolumn)                 | false                             | Configuration for the main page column                                                                                                        |
| asideCol      | `AsideColumn` [_(ref)_](#asidecolumn)               | false                             | Configuration for the page aside column                                                                                                       |
| description   | string                                              | true                              | Default description of the current page for search engines if `headMeta.description` is not provided                                          |
| absoluteUrl   | string                                              | true                              | Default URL for the preferred page for search engines to avoid duplicate content penalties. Used if if headMeta.canonicalUrl is not provided. |
| wide          | boolean                                             | false                             | Set to `true` to increase the maximum width of the layout container to 1280px                                                                 |
| fullWidth     | boolean                                             | false                             | Set to “true” to increase the maximum width of the layout container to the full width of the viewport                                         |

##### CDN

| Variable Name | Type   | Required | Description           |
| ------------- | ------ | -------- | --------------------- |
| url           | string | false    | URL for the CDN       |
| version       | string | false    | DS version on the CDN |


###### Meta

| Variable Name | Type                              | Required                             | Description                                                                                                      |
| ------------- | --------------------------------- | ------------------------------------ | ---------------------------------------------------------------------------------------------------------------- |
| description   | string                            | false                                | Description of the current page for search engines.                                                              |
| canonicalUrl  | string                            | false                                | URL for the preferred page for search engines to avoid duplicate content penalties. Defaults to current page url |
| hrefLangs     | `HrefLangs` [_(ref)_](#hreflangs) | false                                | Metadata for the language links to improve SEO                                            |

##### HrefLangs

| Variable Name | Type   | Required | Description           |
| ------------- | ------ | -------- | --------------------- |
| url           | string | false    | URL for the CDN       |
| lang          | string | false    | DS version on the CDN |

###### Social

| Variable Name | Type                              | Required | Description                                                                  |
| ------------- | --------------------------------- | ---------| ---------------------------------------------------------------------------- |
| twitterSite   | string                            | false    | @username for the website used in the card, for example `@ons`               |
| twitterImage  | string                            | false    | Path to custom Twitter image. Defaults to ONS twitter image                  |
| title         | string                            | false    | Title for the Twitter post. Defaults to the page title                       |
| description   | string                            | false    | Description for the Twitter post. Defaults to the page description           |

##### MainColumn

| Variable Name | Type   | Required | Description                                                             |
| ------------- | ------ | -------- | ----------------------------------------------------------------------- |
| columns       | string | false    | Sets the number of grid columns for the main page column (defaults to 8)|
| colClasses    | string | false    | CSS classes to be added to the main page grid column                    |
| classes       | string | false    | CSS classes to be added to the `<main>` container                       |

##### AsideColumn

| Variable Name | Type   | Required | Description                                                                |
| ------------- | ------ | -------- | -------------------------------------------------------------------------- |
| position      | string | true     | Sets the position of the aside to `before` or `after` the main page column |
| colClasses    | string | false    | CSS classes to be added to the page aside grid column                      |
| classes       | string | false    | CSS classes to be added to the page`<aside>` container                     |


#### Blocks

Blocks can be set with:

+++
{{ onsCodeHighlight({ "code": "{% block blockName %}
    HTML Here
{% endblock %}" }) }}
+++

To change the components that are included by default, set their equivalent blocks, for example:

+++
{{ onsCodeHighlight({ "code": "{% block header %}
    {{ onsHeader({
        ...
    }) }}
{% endblock %}" }) }}
+++

| Block Name | Description                                                                         |
| ---------- | ----------------------------------------------------------------------------------- |
| head       | An area to add additional markup to the `<head>` element, for example, extra CSS references |
| meta       | Override the default meta information in the `<head>`                               |
| favicons   | Override the default icons in the `<head>`                                          |
| social     | Override the default twitter and Open Graph information in the `<head>`             |
| body       | Override the entire contents of the `<body>` element                                |
| bodyStart  | An area to add additional markup after the opening <body> element                   |
| skipLink   | Override the default [skip link](/components/skip-to-content)                       |
| preHeader  | An area to add content and markup before the header                                 |
| header     | Override the default [header](/components/header) component                         |
| page       | Override the default content and layout of the page                                 |
| preMain    | Content to place before the main content                                            |
| main       | Main content and markup                                                             |
| aside      | Aside content and markup                                                            |
| footer     | Override the default [footer](/components/footer) component                         |
| bodyEnd    | Add content just before the closing `</body>` element                               |
| scripts    | Add Javascript just before the closing `</body>` element                            |

##### Exploded view of the base page template block areas

{{
    patternlibExample({
        "path": "foundations/layout/page-template/examples/base-page-template-block-areas/index.njk",
        "noTabs": true
    })
}}

## Help improve this layout
Let us know how we could improve this layout or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/195",
        "linkText": "Discuss ‘Base page template’ on GitHub"
    })
}}
