{% from "components/document/_macro.njk" import onsDocument %}
{{ onsDocument({
    "documents": [
        {
            "url": '/patternlib-img/download-resources/documents/Print-Ready-A4GIP1-2021-v1-0-120620.pdf',
            "title": 'Census 2021 matters to everyone',
            "type": 'Poster',
            "metadata": {
                "fileType": 'PDF',
                "fileSize": '866KB',
                "filePages": '1 page'
            },
            "description": 'By taking part and encouraging others to do the same, you’ll make sure your community gets the services it needs.'
        }
    ]
}) }}
