---
'noTabs': true
---

<table id="basic-table" class="ons-table">
    <caption class="ons-table__caption ons-u-vh">
        Type scale classes and their corresponding styles for above and below the medium breakpoint
    </caption>
    <thead class="ons-table__head">
        <tr class="ons-table__row">
            <th scope="col" class="ons-table__header">
                <span>Viewport &lt; Medium breakpoint (m)</span>
            </th>
            <th scope="col" class="ons-table__header">
                <span>Viewport &gt;= Medium breakpoint (m)</span>
            </th>
        </tr>
    </thead>
    <tbody class="ons-table__body">
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-3xl">ons-u-fs-3xl</p>
                Open Sans Bold - 2rem/32px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-3xl">ons-u-fs-3xl</p>
                Open Sans Bold - 3rem/48px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-2xl">ons-u-fs-2xl</p>
                Open Sans Bold - 1.75rem/28px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-2xl">ons-u-fs-2xl</p>
                Open Sans Bold - 2.25rem/36px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-xl">ons-u-fs-xl</p>
                Open Sans Bold - 1.625rem/26px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-xl">ons-u-fs-xl</p>
                Open Sans Bold - 1.875rem/30px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-l">ons-u-fs-l</p>
                Open Sans Bold - 1.5rem/24px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-l">ons-u-fs-l</p>
                Open Sans Bold - 1.625rem/26px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-m">ons-u-fs-m</p>
                Open Sans Bold - 1.25rem/20px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-m">ons-u-fs-m</p>
                Open Sans Bold - 1.375rem/22px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-r--b">ons-u-fs-r--b</p>
                Open Sans Bold - 1.125rem/18px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-r--b">ons-u-fs-r--b</p>
                Open Sans Bold - 1.125rem/18px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-r">ons-u-fs-r</p>
                Open Sans Regular - 1.125rem/18px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-r">ons-u-fs-r</p>
                Open Sans Regular - 1.125rem/18px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-s--b">ons-u-fs-s--b</p>
                Open Sans Bold - 0.875rem/14px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-s--b">ons-u-fs-s--b</p>
                Open Sans Bold - 0.875rem/14px
            </td>
        </tr>
        <tr class="ons-table__row">
            <td class="ons-table__cell">
                <p class="ons-u-fs-s">ons-u-fs-s</p>
                Open Sans Regular - 0.875rem/14px
            </td>
            <td class="ons-table__cell">
                <p class="ons-u-fs-s">ons-u-fs-s</p>
                Open Sans Regular - 0.875rem/14px
            </td>
        </tr>
    </tbody>
</table>
