---
title: Find a support centre
group: Help users to...
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}

There are two parts to helping users find a support centre.

{{
    onsPanel({
        "body": "This pattern requires documentation."
    })
}}

## Find a support centre
{{
    patternlibExample({ "path": "pages/patterns/find-a-support-centre/examples/find/index.njk" })
}}

## Support centre results
{{
    patternlibExample({ "path": "pages/patterns/find-a-support-centre/examples/results/index.njk" })
}}

## How to check postcodes
Use the [correct errors pattern](/patterns/error-validation) and show the error details above the postcode field.

{{
    patternlibExample({ "path": "pages/patterns/find-a-support-centre/examples/postcode-error/index.njk" })
}}

### Error messages
#### If the postcode is missing
Use “Enter a postcode”.

#### If the postcode is not in a valid format
Use “Enter a valid UK postcode, for example, BB13 7HG”.

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/879",
        "linkText": "Discuss the ‘Find a support centre’ pattern on GitHub"
    })
}}
