<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Error: {{ error }}</title>
        <link rel="stylesheet" href="/css/error.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
