{% extends "./_master.njk" %}
{% set example = true %}

{% set pageConfig = {"lang": page.lang } %}

{% block pageContent %}
    <main class="patternlib-page__example">
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
{% endblock %}
