{% extends "./_master.njk" %}

{% block page %}
    {% from "components/header/_macro.njk" import onsHeader %}
    {% from "components/footer/_macro.njk" import onsFooter %}
    {% from "components/skip-to-content/_macro.njk" import onsSkipToContent %}

    {{
        onsSkipToContent({
            "url": "#main-content",
            "text": "Skip to main content"
        })
    }}

    {{
        onsHeader({
            "title": "Design system",
            "wide": "true",
            "classes": "patternlib-page__header",
            "toggleButton": {
                "text": "Menu",
                "ariaLabel": "Toggle main navigation"
            },
            "navigation": {
                "id": "main-nav",
                "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
                "ariaLabel": "Main menu",
                "ariraListLabel": "Navigation menu",
                "currentPath": pageInfo.url,
                "itemsList": helpers.navigationHelper({
                    "pages": pageInfo.siteMap
                })
            }
        })
    }}
    <div class="patternlib-page__body">
        <div class="patternlib-page__primary">
            <main id="main-content">
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
