{% extends "./_page.njk" %}


{% block pageContent %}
    <div class="ons-patternlib-page__body">
        <div class="ons-patternlib-page__content">
            <main id="main-content">
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
