<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageInfo.title }}</title>
        <link rel="stylesheet" href="/responsive.css">
        <link rel="stylesheet" href="/patternlib.css">
        <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
    </head>
    <body class="patternlib-page">
        {% from "components/header/_macro.njk" import onsHeader %}

        {{ 
            onsHeader({
                title: "Design system",
                fullWidth: true,
                classes: "patternlib-page__header",
                navigation: {
                    classes: "nav--horizontal nav--light nav--main nav--h-m js-main-nav",
                    ariaLabel: "Main menu",
                    ariraListLabel: "Navigation menu",
                    currentPath: pageInfo.path,
                    items: helpers.navigationHelper({ 
                        pages: pageInfo.siteMap,
                        ignorePaths: ["/"]
                    })
                }
            })
        }}

        <div class="patternlib-page__body">
            {% block master_body %}
            {% endblock %}
        </div>
        <script type="module" src="/scripts/polyfills.js"></script>
        <script type="module" src="/scripts/bundle.js"></script>
        <script nomodule src="/scripts/polyfills.es5.js"></script>
        <script nomodule src="/scripts/bundle.es5.js"></script>
        {% if devMode %}
        <script>document.write('<script src="//' + (location.hostname || 'localhost').split(':')[0] + ':35729/livereload.js" defer></' + 'script>'); </script>
        {% endif %}
    </body>
</html>
