{% extends "styles/page-template/_template.njk" %}

{% set bodyClasses = "patternlib-page" %}

{% if pageConfig == null %}
    {% set pageConfig = {} %}
{% endif %}

{% if pageConfig.lang is defined and pageConfig.lang %}
   {% set pageConfig = pageConfig | setAttributes({
       "language": {
           "languages": [
                {
                    "ISOCode": pageConfig.lang,
                    "current": true
                }
           ]
       }
   }) %}
{% endif %}

{% if example is defined and example %}
    {% set bodyClasses = bodyClasses + " patternlib-page--example" %}
    {% if page.theme is defined and page.theme %}
        {% set pageConfig = pageConfig | setAttributes({
            "theme": page.theme
        }) %}
    {% endif %}
{% endif %}

{% if page.fullWidth is defined and page.fullWidth %}
    {% set bodyClasses = bodyClasses + " u-p-no" %}
{% endif %}

{% set pageConfig = pageConfig | setAttribute("bodyClasses", bodyClasses) %}

{% block head %}
    <link rel="stylesheet" href="/css/patternlib.css">
    <meta name="description" content="{{ pageConfig.headMeta.description | default(pageConfig.description) }}">
{% endblock %}

{% block body %}
    {% block master_body %}
    {% endblock %}
{% endblock %}
