{% extends "./_master.njk" %}

{% block master_body %}
    {% if (page.hideSidebar !== true) and
        (helpers.subNavigationHelper({ pageInfo: pageInfo}).length > 0)  
    %}
        {% from "components/navigation/_macro.njk" import onsNavigation %}

        <div class="patternlib-page__sub-nav">
            {% for group in helpers.subNavigationHelper({
                pageInfo: pageInfo
            }) %}
                {% if group.title %}
                    <h2 class="u-mb-xs">{{ group.title }}</h2>
                {% endif %}
                {{
                    onsNavigation({
                        classes: "nav--vertical-bare",
                        ariaLabel: "Sub menu",
                        ariraListLabel: "Child menu",
                        currentPath: pageInfo.path,
                        items: group.items
                    })
                }}
            {% endfor %}
        </div>
    {% endif %}
    <main class="patternlib-page__main">
        <div class="patternlib-page__content">
            <h1 class="u-fs-xl">{{ pageInfo.title }}</h1>
            {% block body %}
            {% endblock %}
        </div>
    </main>
{% endblock %}
