{% extends "./_master.njk" %}

{% from "components/header/_macro.njk" import onsHeader %}
{% from "components/footer/_macro.njk" import onsFooter %}
{% from "components/skip-to-content/_macro.njk" import onsSkipToContent %}

{% block skiplink %}
    {{
        onsSkipToContent({
            "url": "#main-content",
            "text": "Skip to main content"
        })
    }}
{% endblock %}
{% block header %}
    {{
        onsHeader({
            "title": "Design system",
            "wide": true,
            "classes": "patternlib-page__header",
            "toggleButton": {
                "text": "Menu",
                "ariaLabel": "Toggle main navigation"
            },
            "navigation": {
                "id": "main-nav",
                "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
                "ariaLabel": "Main menu",
                "ariraListLabel": "Navigation menu",
                "currentPath": pageInfo.url,
                "itemsList": helpers.navigationHelper({
                    "pages": pageInfo.siteMap
                })
            }
        })
    }}
{% endblock %}
{% block pageContent %}
    <div class="patternlib-page__body">
        <div class="page__container container container--wide">
            <div class="grid">
                {% if (page.hideSidebar !== true) and
                    (helpers.subNavigationHelper({ pageInfo: pageInfo }).length > 0)
                %}
                    {% from "views/partials/sub-navigation/_macro.njk" import patternlibSubNavigation %}
                    <div class="grid__col col-3@m">
                        <div class="patternlib-page__sub-nav">
                            {% for group in helpers.subNavigationHelper({
                                pageInfo: pageInfo,
                                anchorLinks: page.anchorLinks
                            }) %}
                                {% if group.title is defined and group.title %}
                                    <h2 class="u-fs-r--b u-mb-xs">{{ group.title }}</h2>
                                {% endif %}
                                {{
                                    patternlibSubNavigation({
                                        "ariaLabel": "Sub menu",
                                        "ariraListLabel": "Child menu",
                                        "currentPath": pageInfo.url,
                                        "itemsList": group.items
                                    })
                                }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="grid__col col-9@m">
                    <div class="patternlib-page__primary">
                        <main id="main-content" class="patternlib-page__main">
                            <div class="patternlib-page__content">
                                <header class="patternlib-page__content-header">
                                    <h1 class="u-fs-xxl">{{ pageInfo.title }}</h1>
                                    {% if pageInfo.experimental %}<span class="pl-experimental-tag">Experimental</span>{% endif %}
                                </header>
                                {% block main %}
                                {% endblock %}
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
