{% extends "./_master.njk" %}

{% block skiplink %}
    {% from "components/skip-to-content/_macro.njk" import onsSkipToContent %}
    {{
        onsSkipToContent({
            "url": "#main-content",
            "text": "Skip to main content"
        })
    }}
{% endblock %}
{% block header %}
    {% from "components/header/_macro.njk" import onsHeader %}
    {{
        onsHeader({
            "title": "Design system",
            "classes": "patternlib-page__header",
            "wide": true,
            "logoHref": "https://www.ons.gov.uk/",
            "titleLogoHref": "/",
            "toggleButton": {
                "text": "Menu",
                "ariaLabel": "Toggle main navigation"
            },
            "navigation": {
                "id": "main-nav",
                "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
                "ariaLabel": "Main menu",
                "ariraListLabel": "Navigation menu",
                "currentPath": pageInfo.url,
                "itemsList": helpers.navigationHelper({
                    "pages": pageInfo.siteMap
                })
            }
        })
    }}
{% endblock %}
{% block pageContent %}
    <div class="patternlib-page__body">
        <div class="page__container container container--wide">
            <div class="grid grid--reverse">
                <div class="grid__col col-9@m">
                    <div class="patternlib-page__content">
                        {% block preMain %}
                            {% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
                            {% if pageInfo.parent[0].title === 'Home' %}
                                {{
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "classes": "u-d-no@m",
                                        "itemsList": [
                                            {
                                                "url": "/",
                                                "text": 'Home'
                                            }
                                        ]
                                    })
                                }}
                            {% else %}
                                {{
                                    onsBreadcrumb({
                                        "ariaLabel": 'Breadcrumb',
                                        "classes": "u-mb-s u-d-no@m",
                                        "itemsList": [
                                            {
                                                "url": pageInfo.parent.url + "/",
                                                "text": pageInfo.parent.title
                                            }
                                        ]
                                    })
                                }}
                            {% endif %}
                        {% endblock %}
                        <main id="main-content" class="patternlib-page__main u-mt-m@m u-mb-xl@m">
                            <div class="patternlib-page__content">
                                <header class="patternlib-page__content-header">
                                    <h1 class="u-fs-xxl">
                                        {% if pageInfo.group %}
                                            <span class="u-fs-m u-db u-mb-xs u-lighter">{{ pageInfo.group | replace("...", "") }}</span>
                                        {% endif %}
                                        {{ pageInfo.title }}
                                    </h1>
                                    {% if pageInfo.experimental %}<span class="pl-experimental-tag">Experimental</span>{% endif %}
                                </header>
                                {% block main %}
                                {% endblock %}
                            </div>
                        </main>
                    </div>
                </div>
                {% if (pageInfo.hideSidebar != true) and
                    (helpers.subNavigationHelper({ pageInfo: pageInfo }).length > 0)
                %}
                {% from "views/partials/sub-navigation/_macro.njk" import patternlibSubNavigation %}
                <div class="grid__col col-3@m">
                    <div class="patternlib-page__sub-nav u-mt-l@m u-mb-l">
                        {% if pageInfo.parent[0].title === 'Home' %}
                            <h2 class="u-fs-r--b u-mt-m@xxs@m u-d-no@m">Contents</h2>
                        {% else %}
                            <h2 class="u-fs-r--b u-bt@xxs@m u-mt-m@xxs@m u-pt-m@xxs@m u-d-no@m">More in ‘{{ pageInfo.parent.title }}’</h2>
                        {% endif %}
                        {% for group in helpers.subNavigationHelper({
                            pageInfo: pageInfo,
                            anchorLinks: pageInfo.anchorLinks
                        }) %}
                            {% if group.title is defined and group.title %}
                                <h3 class="u-fs-r--b u-mb-s">{{ group.title }}</h3>
                            {% endif %}
                            {{
                                patternlibSubNavigation({
                                    "ariaLabel": "Sub menu",
                                    "ariraListLabel": "Child menu",
                                    "currentPath": pageInfo.url,
                                    "itemsList": group.items
                                })
                            }}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
