{% extends "styles/page-template/_template.njk" %}

{% if page == null %}
    {% set page = {} %}
{% endif %}

{% set page = page | setAttribute("bodyClasses", "proto") %}

{% block page %}
    {% block prototype_body %}{% endblock %}
{% endblock %}
