{% from "components/timeout/_macro.njk" import onsTimeout %}
{{ onsTimeout({
    "displayModalSeconds": 70,
    "redirectUrl": "#",
    "title": "You will be signed out soon",
    "textFirstLine": "It appears you have been inactive for a while.",
    "textSecondLine": "To protect your information, your progress will be saved and you will be signed out in",
    "btnText": "Continue survey"
}) }}
