{% from "components/card/_macro.njk" import onsCard %}
<div class="ons-container">
    
    <div class="ons-grid ons-grid--column@xxs@s">
       
        <div class="ons-grid__col ons-col-4@m">
            {{ onsCard({
                "id": 'title1',
                "textId": 'text1',
                "title": 'About the census',
                "url": '#0',
                "text": 'The census is a survey that gives us information about all the households in England and Wales.',
                "itemsList": [
                    {
                        "url": '#0',
                        "text": 'List item 1'
                    },
                    {
                        "url": '#0',
                        "text": 'List item 2'
                    }
                ]
            }) }}
        </div>

        <div class="ons-grid__col ons-col-4@m">
            {{ onsCard({
                "id": 'title2',
                "textId": 'text2',
                "title": 'Working on the census',
                "url": '#0',
                "text": 'For Census 2021, we’ll be hiring at least 30,000 field staff across England and Wales.',
                "itemsList": [
                    {
                        "url": '#0',
                        "text": 'List item 1'
                    },
                    {
                        "url": '#0',
                        "text": 'List item 2'
                    }
                ]
            }) }}
        </div>

        <div class="ons-grid__col ons-col-4@m">
            {{ onsCard({
                "id": 'title3',
                "textId": 'text3',
                "title": 'Your data and security',
                "url": '#0',
                "text": 'How we keep your data safe and what happens to your personal information.',
                "itemsList": [
                    {
                        "url": '#0',
                        "text": 'List item 1'
                    },
                    {
                        "url": '#0',
                        "text": 'List item 2'
                    }
                ]
            }) }}
        </div>

    </div>
    
</div>
