{% from "components/card/_macro.njk" import onsCard %}
<div class="grid grid--flex grid--column@xs@s">
    <div class="grid__col grid__col--loose grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {{-
            onsCard({
                "ariaBy": 'Section highlight',
                "id": 'title1',
                "textId": 'text1',
                "title": 'Search for a business',
                "url": '#',
                "text": 'A list of UK businesses for statistical use across government.',
                "itemsList": [
                    {
                        "url": '#',
                        "text": 'Business information'
                    },
                    {
                        "url": '#',
                        "text": 'Business index'
                    }
                ]
            })
        }}
    </div>
    <div class="grid__col grid__col--loose grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {{- 
            onsCard({
                "ariaBy": 'Section highlight',
                "id": 'title2',
                "textId": 'text2',
                "title": 'Record management',
                "url": '#',
                "text": 'Edit, create new records and view the editing history of businesses.',
                "itemsList": [
                    {
                        "url": '#',
                        "text": 'Business information'
                    },
                    {
                        "url": '#',
                        "text": 'Business index'
                    }
                ]
            })
        }}
    </div>
    <div class="grid__col grid__col--loose grid__col--flex u-flex-grow u-flex-no-basis@s col-12@xs@s">
        {{-
            onsCard({
                "ariaBy": 'Section highlight',
                "id": 'title3',
                "textId": 'text3',
                "title": 'Address index',
                "url": '#',
                "text": 'The most accurate and greographical dataset of addresses and properties in the UK.',
                "itemsList": [
                    {
                        "url": '#',
                        "text": 'Business information'
                    },
                    {
                        "url": '#',
                        "text": 'Business index'
                    }
                ]
            })
        }}
    </div>
</div>
