{% from "components/accordion/_macro.njk" import onsAccordion %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set content1 %}
    {{
        onsCheckboxes({
            "checkboxesLabel": "Show only:",
            "legend": "Content type",
            "legendClasses": "ons-u-vh",
            "classes": "ons-u-mb-s",
            "borderless": true,
            "name": "dietary",
            "checkboxes": [
                {
                    "id": "data-checkbox",
                    "label": {
                        "text": "Data (309)"
                    },
                    "value": "data"
                },
                {
                    "id": "publications-checkbox",
                    "label": {
                        "text": "Publications (137)"
                    },
                    "value": "publications",
                    "other": {
                        "otherType": "checkboxes",
                        "selectAllChildren": true,
                        "legend": "Publication type",
                        "legendClasses": "ons-u-vh",
                        "name": "name",
                        "checkboxes": [
                            {
                                "id": "datasets-checkbox",
                                "label": {
                                    "text": "Datasets (100)"
                                },
                                "value": "datasets"
                            },
                            {
                                "id": "timeseries-checkbox",
                                "label": {
                                    "text": "Timeseries (20)"
                                },
                                "value": "timeseries"
                            },
                            {
                                "id": "requested-checkbox",
                                "label": {
                                    "text": "User requested data (16)"
                                },
                                "value": "requested"
                            }
                        ]
                    }
                },
                {
                    "id": "areas-checkbox",
                    "label": {
                        "text": "Areas (0)"
                    },
                    "value": "areas"
                }
            ]
        })
    }}
{% endset %}
{% set content2 %}
    {{
        onsCheckboxes({
            "checkboxesLabel": "Show only:",
            "legend": "Topic",
            "legendClasses": "ons-u-vh",
            "classes": "ons-u-mb-s",
            "borderless": true,
            "name": "dietary",
            "checkboxes": [
                {
                    "id": "crime-checkbox",
                    "label": {
                        "text": "Crime (200)"
                    },
                    "value": "crime",
                    "checked": true
                },
                {
                    "id": "education-checkbox",
                    "label": {
                        "text": "Education (55)"
                    },
                    "value": "education-checkbox"
                },
                {
                    "id": "disability-checkbox",
                    "label": {
                        "text": "Disability (67)"
                    },
                    "value": "disability"
                }
            ]
        })
    }}
{% endset %}

<div class="ons-grid">
    <div class="ons-grid__col ons-col-4@m">
        {{
            onsAccordion({
                "id": "accordion",
                "open": true,
                "itemsList": [
                    {
                        "title": "Content type",
                        "content": content1
                    },
                    {
                        "title": "Topic",
                        "content": content2
                    }
                ]
            })
        }}
    </div>
</div>
