{% macro onsRadios(params) %}
    {% from "components/fieldset/_macro.njk" import onsFieldset %}

    {% call onsFieldset({
        "id": params.id,
        "classes": params.classes,
        "legend": params.legend,
        "legendClasses": params.legendClasses,
        "description": params.description,
        "dontWrap": params.dontWrap,
        "error": params.error
    }) %}
        <div class="radios__items">
            {% for radio in params.radios %}
                {% if params.or and loop.revindex0 == 0 %}
                    <span class="radios__label u-mt-s u-fs-r--b" aria-hidden="true">{{ params.or }}, </span>
                {% endif %}
                <p class="radios__item">
                    <span class="radio">
                        <input
                            type="radio"
                            id="{{ radio.id }}"
                            class="radio__input js-radio {{ radio.classes }}"
                            value="{{ radio.value }}" 
                            name="{{ params.name }}"
                            {% if radio.checked or (params.value and params.value == radio.value) %} checked{% endif %}
                            {% if radio.other %} aria-controls="{{ radio.id }}-other-wrap" aria-haspopup="true"{% endif %}
                            {% if radio.attributes %}{% for attribute, value in (radio.attributes.items() if radio.attributes is mapping and radio.attributes.items else radio.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
                        >
                        <label class="radio__label {{ radio.label.classes }}" for="{{ radio.id }}">
                            {% if  params.or and loop.revindex0 == 0 %}
                                <span class="u-vh">{{ params.or }}</span>
                            {% endif %}
                            {{ radio.label.text | safe }}
                            {% if radio.label.description %}
                                <br>
                                <span class="radio__description u-fs-s">{{ radio.label.description }}</span>
                            {% endif %}
                        </label>
                        {% if radio.other %}
                            <span class="radio__other" id="{{ radio.id }}-other-wrap">
                                {% from "components/input/_macro.njk" import onsInput %}
                                {{
                                    onsInput({
                                        "id": radio.other.id,
                                        "name": radio.other.name,
                                        "type": radio.other.type,
                                        "classes": "input--w-auto " + radio.other.classes | default(''),
                                        "attributes": radio.other.attributes,
                                        "label": {
                                            "text": radio.other.label.text,
                                            "classes": 'u-fs-s--b'
                                        },
                                        "dontWrap": true,
                                        "value": radio.other.value
                                    })
                                }}
                            </span>
                        {% endif %}
                    </span>
                </p>
                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    {% endcall %}
    
{% endmacro %}
