{% macro onsRadios(params) %}
    {% from "components/field/_macro.njk" import onsField %}

    {% call onsField({
        "id": params.id,
        "legend": params.legend,
        "description": params.description,
        "classes": params.classes,
        "legendClasses": params.legendClasses
    }) %}
        <span class="field__items">
            {% for radio in params.radios %}
                <p class="field__item">
                    <span class="radio">
                        <input
                            type="radio"
                            id="{{ radio.id }}"
                            class="radio__input {{ radio.classes }}"
                            value="{{ radio.value }}" 
                            name="{{ params.name }}"
                            {% if radio.checked or (params.value and params.value == radio.value) %} checked{% endif %}
                            {% if radio.attributes %}{% for attribute, value in (radio.attributes.items() if radio.attributes is mapping and radio.attributes.items else radio.attributes) %}{{ attribute }}{% if value %}="{{ value }}"{% endif %} {% endfor %}{% endif %}
                        >
                        <label class="radio__label {{ radio.label.classes }}" for="{{ radio.id }}">
                            {{ radio.label.text | safe }}
                            {% if radio.label.description %}
                                <br>
                                <span class="radio__description u-fs-s">{{ radio.label.description }}</span>
                            {% endif %}
                        </label>
                        {% if radio.other %}
                            <span class="radio__other">
                                {% from "components/input/_macro.njk" import onsInput %}
                                {{
                                    onsInput({
                                        "id": radio.other.id,
                                        "name": radio.other.name,
                                        "type": radio.other.type,
                                        "classes": "input--w-auto " + radio.other.classes | default(''),
                                        "attributes": radio.other.attributes,
                                        "label": {
                                            "text": radio.other.label.text,
                                            "classes": 'u-fs-s--b'
                                        },
                                        "noField": true
                                    })
                                }}
                            </span>
                        {% endif %}
                    </span>
                </p>
                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </span>
    {% endcall %}
{% endmacro %}
