.radio {
  @extend .checkbox;

  &__input {
    @extend .checkbox__input;
    border-radius: 50%;

    &:checked {
      background: $color-input;
      background: none;

      + .checkbox__label:after {
        opacity: 1;
      }
    }
  }

  &__label {
    @extend .checkbox__label;

    &--with-description {
      @extend .checkbox__label--with-description;
    }

    &:after {
      content: '';
      border: 6px solid currentColor;
      position: absolute;
      top: 18px;
      left: 18px;
      border-radius: 50%;
      z-index: 1;
      opacity: 0;
    }
  }

  &__description {
    @extend .checkbox__description;
  }

  &__other {
    @extend .checkbox__other;
  }

  &__input:not(:checked) ~ &__other--open {
    display: block;
  }
}
