.ons-radio {
  @extend .ons-checkbox;

  &__input {
    @extend .ons-checkbox__input;

    background: $color-grey-5;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px $color-white;

    &:checked {
      background: $color-input-border;
    }
  }

  &.ons-radio--no-border {
    @extend .ons-checkbox--no-border;

    & > .ons-radio__input {
      @extend .ons-radio__input;
      &:focus,
      &:checked {
        & + .ons-radio__label::before {
          background: none;
          border: none;
          box-shadow: none;
        }
      }

      &:focus {
        box-shadow: inset 0 0 0 3px $color-input-bg, 0 0 0 $input-border-width $color-input-border, 0 0 0 4px $color-focus;
      }
    }

    .ons-radio__label--with-description {
      padding: 0;
    }
  }

  &__label {
    @extend .ons-checkbox__label;

    &--with-description {
      @extend .ons-checkbox__label--with-description;
    }
  }

  &__description {
    @extend .ons-checkbox__description;
  }

  &__other {
    @extend .ons-checkbox__other;
  }

  &__input:not(:checked) ~ &__other--open {
    display: block;
  }
}
