.radios {
  &__items {
    @extend .checkboxes__items;
  }

  &__item {
    @extend .checkboxes__item;

    &--no-border {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    @extend .checkboxes__label;
  }
}
