.radio {
  @extend .checkbox;

  &__input {
    @extend .checkbox__input;

    border-radius: 50%;
    background: $color-grey-5;

    box-shadow: inset 0 0 0 3px $color-white;

    &:checked {
      background: $color-input;
    }
  }

  &__label {
    @extend .checkbox__label;

    &--with-description {
      @extend .checkbox__label--with-description;
    }
  }

  &__description {
    @extend .checkbox__description;
  }

  &__other {
    @extend .checkbox__other;
  }

  &__input:not(:checked) ~ &__other--open {
    display: block;
  }
}
