{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}

{%
    call onsQuestion({
        "title": "How do you usually travel to work?",
        "classes": "ons-u-mt-no",
        "legendIsQuestionTitle": true
    })
%}
    {{
        onsRadios({
            "dontWrap": true,
            "name": "travel",
            "radios": [
                {
                    "id": "home-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Work mainly from home"
                    },
                    "value": "home"
                },
                {
                    "id": "car-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Car or van"
                    },
                    "value": "car"
                },
                {
                    "id": "underground-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Underground, metro, light rail or tram"
                    },
                    "value": "underground"
                },
                {
                    "id": "train-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Train"
                    },
                    "value": "train"
                },
                {
                    "id": "bus-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Bus, minibus or coach"
                    },
                    "value": "bus"
                },
                {
                    "id": "bicycle-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Bicycle"
                    },
                    "value": "bicycle"
                },
                {
                    "id": "walk-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Walk"
                    },
                    "value": "walk"
                },
                {
                    "id": "other-radio-example-radio-with-revealed-text-input",
                    "label": {
                        "text": "Other"
                    },
                    "value": "other",
                    "checked": true,
                    "other": {
                        "otherType": "textarea",
                        "id": "other-textbox-example-radio-with-revealed-text-input",
                        "name": "other-answer",
                        "label": {
                            "text": "Enter how you travel"
                        },
                        "charCheckLimit": {
                            "limit": 200,
                            "charCountSingular": "You have {x} character remaining",
                            "charCountPlural": "You have {x} characters remaining"
                        }
                    }
                }
            ]
        })
    }}
{% endcall %}
