---
"title": Radios
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample("components/radios/examples/radios/index.njk")
}}

### Other
{{
    patternlibExample("components/radios/examples/radios-other/index.njk")
}}
