---
title: Radios
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}

Radios let the user select a single option from a list.

{{
    patternlibExample({"path": "components/radios/examples/radios/index.njk"})
}}

## When to use this component
Use the radio component when you need to help users select a single option from a list.

## When not to use this component
Do not use the radios component if users can choose more than one option from a list. In this case, use the [checkboxes](/components/checkboxes) component.

## How to use this component
Radios are grouped within a [fieldset](/components/fieldset) which starts with a `<legend>` which lets the user know what they need to do.

## Variants

## Descriptons
This variant allows you to add more context to the options in the list. The description is populated by providing a `description` parameter within the radio's `label` parameter.

{{
    patternlibExample({"path": "components/radios/examples/radios-descriptions/index.njk"})
}}

### Other
This variant lets the user provide an answer other to the options in the list, or to provide supplemental information required to describe the nature of their answer.

The radio label must be directly followed by the `radio__description` to let the user know they will need to provide an answer if they select this option.

Use this varation by wrapping the text field in a div with class `radio__other`, added directly after the radio label. CSS hides this field until the radio is `:checked`.

{{
    patternlibExample({"path": "components/radios/examples/radios-other/index.njk"})
}}


## Research on this component
{%call onsPanel() %}
    <p>If you have conducted any user research using this component, please feed back your findings via the <a href='https://github.com/ONSdigital/design-system/issues/56'>Design System Forum.</a></p>
{% endcall %}

## Design System forum
[Discuss 'Radios' on GitHub](https://github.com/ONSdigital/design-system/issues/56)
