---
title: Radios
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/icon-link/_macro.njk" import onsIconLink %}

Radios let the user select a single option from a list.

{{
    patternlibExample({"path": "components/radios/examples/radios/index.njk"})
}}

## When to use this component
Use the radio component when you need to help users select a single option from a list.

## When not to use this component
Do not use the radios component if users can choose more than one option from a list. In this case, use the [checkboxes](/components/checkboxes) component.

## How to use this component
Radios are grouped within a [fieldset](/components/fieldset) which starts with a `<legend>` which lets the user know what they need to do.

## Variants

### Descriptions
This variant allows you to add more context to the options in the list. The description is populated by providing a `description` parameter within the radio's `label` parameter.

{{
    patternlibExample({"path": "components/radios/examples/radios-descriptions/index.njk"})
}}

### Other
This variant lets the user provide an answer other to the options in the list, or to provide supplemental information required to describe the nature of their answer.

The radio label must be directly followed by the `radio__description` to let the user know they will need to provide an answer if they select this option.

Use this variation by wrapping the text field in a div with class `radio__other`, added directly after the radio label. CSS hides this field until the radio is `:checked`.

{{
    patternlibExample({"path": "components/radios/examples/radios-other/index.njk"})
}}


### Other - visible input
This variant of the 'Other' radio input type shows the input instead of waiting for the radio to be `:checked`. This variant does not require the `radio__description` to be present.

{{
    patternlibExample({"path": "components/radios/examples/radios-other-open/index.njk"})
}}

### Other - select
This variant of the 'Other' radio input type uses a select instead of an input. Select "pepperoni" for select to become visible.

{{
    patternlibExample({"path": "components/radios/examples/radios-select/index.njk"})
}}

### Radios with an 'or' label
{{
    patternlibExample({"path": "components/radios/examples/radios-with-or/index.njk"})
}}

### Radios with the option to clear

This variant displays a 'Clear selection' button which allows the user to deselect/clear the fieldset so all radios are not `:checked`. The button is displayed after a radio is selected. The `aria-live` attribute is used for announcing changes in assistive technologies.

If this variant is implemented on a question page that contains a primary submit button, a hidden duplicate submit button should be added to the top of the form to ensure the default enter key behaviour actions this button, and not the clear button.
The submit button should use the `hidden` attribute and also the `u-d-no` utility class to set the button to `display:none`. This hides the button both visually and from screen readers.
{{
    patternlibExample({"path": "components/radios/examples/radios-clear/index.njk"})
}}

## Research on this component
{%call onsPanel() %}
    If you have conducted any user research using this component, please feed back your findings via the
    {{
        onsIconLink({
            "url": "https://github.com/ONSdigital/design-system/issues/56",
            "linkText": "Design System Forum",
            "type": "external"
        })
    }}
{% endcall %}

## Design System forum
{{
    onsIconLink({
        "url": "https://github.com/ONSdigital/design-system/issues/56",
        "linkText": "Discuss 'Radios' on GitHub",
        "type": "external"
    })
}}
