---
title: Email addresses
group: Ask users for...
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/lists/_macro.njk" import onsList %}

How to ask a user for an email address.

{{
    patternlibExample({"path": "components/input/examples/email/index.njk"})
}}

## When to use this pattern

Use this pattern when you need to collect an email address from the user.

## How to use this pattern

When using this pattern you should:
{{
    onsList({
        "itemsList": [
            {
                "text": 'tell users why you need an email address and what it will be used for'
            },
            {
                "text": 'make sure the field can accept all email addresses'
            },
            {
                "text": 'help users enter an email address in the correct format'
            }
        ]
    })
}}

### Explain why you need the email address

Use the `label__description` with the [input component](/components/input) to reassure users why you need an email address and what it will be used for.

### Allow all email addresses

The email address field needs to accommodate the maximum number of characters allowed.  An email address can be up to 320 characters long and include a set of special characters as detailed in the{{
    onsExternalLink({
        "url": "https://tools.ietf.org/html/rfc3696#section-3",
        "linkText": "RFC 3696 specification from the Internet Engineering Task Force"
    })
}}

### How to check email addresses

To help users enter a valid email address, you should:

{{
    onsList({
        "itemsList": [
            {
                "text": 'allow them to paste the email address'
            },
            {
                "text": 'check they have entered something in the email address field'
            },
            {
                "text": 'check that what they have entered is valid'
            },
            {
                "text": 'show an error message if they have not entered anything or what they have entered is not valid'
            },
            {
                "text": 'ask them to confirm it is correct using the <a href="/patterns/check-answers/">check answers pattern</a>'
            }
        ]
    })
}}

#### Error messages

Use the [correct errors pattern](/patterns/error-validation) and show the error details above the email address field.

{{
    patternlibExample({ "path": "pages/patterns/email-addresses/examples/email-error/index.njk"})
}}

##### If the email address field is empty
Use “Enter an email address”.

##### If the email address entered is not in a valid format
Use “Enter an email address in a valid format, for example, name@example.com”.

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/1470",
        "linkText": "Discuss the ‘Email addresses’ pattern on GitHub"
    })
}}
