---
title: Send and reply to messages
group: Help users to...
experimental: true
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "components/panel/_macro.njk" import onsPanel %}

## Messages - message list
{{
    patternlibExample({ "path": "pages/patterns/send-and-reply-to-messages/examples/message-list/index.njk"})
}}

## When to use this pattern

Use this pattern as a way to display an index list of conversations/threads between internal and external users of a service.

## Messages - conversation thread

{{
    patternlibExample({ "path": "pages/patterns/send-and-reply-to-messages/examples/conversation/index.njk"})
}}
## When to use this pattern

Use this pattern as a way to display conversations/threads between internal and external users of a service.

## How to use this pattern

This pattern consists of the following elements/components:
{% markdown %}
- Heading that displays the subject of the message thread
- Metadata that provides information about the service or survey
- A message thread
- Optional "Mark as unread" link
- Form field (textarea) to create a message
- Submit button to send a message
- Optional close button to end the conversation
{% endmarkdown %}

The heading that displays the subject should contain a visually hidden span e.g. `<span class="u-vh">Subject: </span>`. This helps to provide context to screen reader users about the page.

Each message in a thread is a seperate `message` component. Set the `type` parameter as `sent` to display the sent message correctly.
Set the `type` parameter as `received` to display the received message correctly.
You can optionally set the `unreadLink` and `unreadLinkText` parameters on the last received message to allow the user to mark the message as unread.


Each message can be stacked to display the conversation/thread.

## Help improve this pattern
Let us know how we could improve this pattern or share your user research findings.
{{
    onsExternalLink({
        "url": "https://github.com/ONSdigital/design-system/discussions/676",
        "linkText": "Discuss the ‘Send and reply to messages’ pattern on GitHub"
    })
}}
