{% from "components/related-links/_macro.njk" import onsRelatedLinks %}
{{-
    onsRelatedLinks({
        "id": 'related-links',
        "title": 'Related content',
        "itemsList": [
            {
                "url": '#',
                "text": 'About this service'
            },
            {
                "url": '#',
                "text": 'Help and support'
            },
            {
                "url": '#',
                "text": 'Contact us'
            }
        ]
    })
}}
