{%- macro onsMessage(params) -%}
  <div class="message message--{{ params.type }}">
    <div class="message__head">
      <dl class="message__metadata">
          <dt class="message__term u-fw-b">{{ params.fromLabel }}:</dt>
          <dd class="message__value u-fw-b">{{ params.fromValue }}</dd>
          <br>
          <dt class="message__term u-fs-s">{{ params.sentLabel }}:</dt>
          <dd class="message__value u-fs-s">{{ params.sentValue }}</dd>
      </dl>
    </div>
    <div class="message__body">
      {{ caller() }}
    </div>
  </div>
{%- endmacro -%}
