.message {
  border-radius: $grid-gutters / 2;
  margin-bottom: 2rem;

  &--sent {
    background: $color-info-tint;
    @include mq(m) {
      margin-left: 4rem;
    }
  }

  &--received {
    background: $color-success-tint;
    @include mq(m) {
      margin-right: 4rem;
    }
  }

  &__head {
    padding: $grid-gutters;
    border-bottom: 1px solid $color-borders;
    position: relative;
  }

  &__metadata {
    margin: 0;
  }

  &__term,
  &__value {
    display: inline-block;
    margin: 0;
  }

  &__unread-link {
    @include mq(m) {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__body {
    padding: $grid-gutters;
  }
}
