---
title: Message
---
{% from "views/partials/example/_macro.njk" import patternlibExample %}

{{
    patternlibExample({"path": "components/message/examples/sent/index.njk"})
}}

## When to use this component

### Card set
The example below shows a row of 3 cards.

{{
    patternlibExample({"path": "components/card/examples/card-set/index.njk"})
}}

### Card set with list
The example below shows a row of 3 cards with a list of links that relate to the main heading link.

{{
    patternlibExample({"path": "components/card/examples/card-lists/index.njk"})
}}

### Cards with images
The example below shows a row of 3 cards with thumbnail images.

{{
    patternlibExample({"path": "components/card/examples/card-image/index.njk"})
}}

## Research on this component
{% from "components/panel/_macro.njk" import onsPanel %}
{% call onsPanel() %}
   If you have conducted any user research using this component, please feed back your findings via the <a href="https://github.com/ONSdigital/design-system/issues/48" target="_blank">Design System forum</a>.
{% endcall %}

## Design System forum 
[Discuss 'Card' on GitHub](https://github.com/ONSdigital/design-system/issues/48)
