@mixin btn-override(
  $bg,
  $color,
  $color-hover: $color,
  $darken-hover: 10%,
  $border-color: $bg,
  $border-color-hover: darken($border-color, $darken-hover)
) {
  background-color: $bg;
  color: $color;
  border-color: $border-color;

  &:hover,
  &:focus {
    color: $color-hover;
    background-color: darken($bg, $darken-hover);
    border-color: $border-color-hover;
  }

  &:focus {
    outline: 3px solid $color-focus;
  }
}

.btn {
  background-color: $color-green;
  color: $color-white;
  border: 1px solid $color-green;
  padding: 0.75rem 1rem;

  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  border-radius: $input-radius;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  width: 100%;
  transition: background-color 200ms ease-in, color 200ms ease-in, border 200ms ease-in;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-white;
    background-color: darken($color-green, 10%);
    border-color: darken($color-green, 10%);
  }

  &:focus {
    outline-offset: 3px;
    outline: 3px solid $color-focus;
  }

  @include mq(s) {
    width: auto;
  }
}

.btn--inline {
  padding: $input-padding 1rem;
}

.btn--secondary {
  @include btn-override($bg: $color-button-secondary, $color: $color-links, $color-hover: $color-links-hover, $darken-hover: 5%);
}

.btn--ghost {
  @include btn-override(
    $bg: transparent,
    $color: $color-white,
    $border-color: rgba(255, 255, 255, 0.6),
    $border-color-hover: rgba(255, 255, 255, 1)
  );

  border-width: 2px;
  padding: 0.5rem 1rem;
}

.btn--small {
  padding: 0.4rem 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.btn--loader {
  transition: color 300ms ease-out;
  position: relative;
  &::after {
    display: block;
    content: '';
    width: 2rem;
    height: 2rem;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('../img/loader.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.5rem;
    transition: opacity 300ms ease-out 200ms;
    pointer-events: none;
  }
  &.is-loading {
    color: transparent;
    &::after {
      opacity: 1;
    }
  }
}

.btn-group {
  .btn-group__btn {
    display: inline-block;
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.btn--menu {
  @extend .btn--secondary;
  @extend .btn--small;
  @include mq(m) {
    display: none;
  }
}

.btn--mobile {
  position: relative;
  overflow: hidden;
  margin: 3px 0 0;
  padding: 0;
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  background: transparent;
  border: transparent;
  border-radius: 0;
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
  &__label {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    display: block;
    position: absolute;
    top: 12px;
    left: 0px;
    right: 0px;
    height: 3px;
    background-color: $color-white;
    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-white;
      content: '';
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
    }
    &::before {
      transition-property: top, transform;
      top: -8px;
    }
    &::after {
      transition-property: bottom, transform;
      bottom: -8px;
    }
  }
  &.active {
    .btn--mobile__label {
      background-color: transparent;
      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.no-js .btn--mobile {
  display: none;
}
