name: Lighthouse CI accessibility checks
on: [pull_request]
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
jobs:
  lhci:
    name: Lighthouse CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14.5.0
      - name: Install dependencies
        run: yarn install
      - name: Build pages
        run: yarn build
      - name: Run Lighthouse CI
        run: ./lighthouse/lighthouse.sh
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
      - name: Create Slack notification
        if: always()
        uses: edge/simple-slack-notify@master
        with:
          channel: '#pat-lib-notifications'
          status: ${{ job.status }}
          success_text: 'Lighthouse tests completed successfully'
          failure_text: 'Lighthouse tests failed'
          cancelled_text: 'Lighthouse tests was cancelled'
          fields: |
            [{ "title": "Action", "value": "${env.GITHUB_WORKFLOW} - build (${env.GITHUB_RUN_NUMBER})", "short": true },
            { "title": "Repository", "value": "${env.GITHUB_REPOSITORY}", "short": true },
            { "title": "By", "value": "${{ github.actor }}"},
            { "title": "View job", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"}]
