name: Run macro and script tests
on: [push]

env:
    SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
    run-macro-and-script-tests:
        runs-on: ubuntu-latest
        env:
            RUNNING_IN_CI: true

        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node
              uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
            - name: Install dependencies
              run: yarn install
            - name: Clear jest cache
              run: yarn test:clear-cache
            - name: Run macro and script tests
              run: yarn test
