name: Deploy to Netlify on release
on: push
env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
jobs:
  merge-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: everlytic/branch-merge@1.1.2
        with:
          github_token: ${{ github.token }}
          source_ref: ${{ github.ref }}
          target_branch: 'develop'
      - name: Create Slack notification
        if: always()
        uses: edge/simple-slack-notify@master
        with:
          channel: '#pat-lib-notifications'
          status: ${{ job.status }}
          success_text: 'Successfully deployed release to Netlify'
          failure_text: 'Failed deployed release to Netlify'
          cancelled_text: 'Deploy to Netlify was cancelled'
          fields: |
            [{ "title": "Action", "value": "${env.GITHUB_WORKFLOW} - build (${env.GITHUB_RUN_NUMBER})", "short": true },
            { "title": "Repository", "value": "${env.GITHUB_REPOSITORY}", "short": true },
            { "title": "By", "value": "${{ github.actor }}"},
            { "title": "View job", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"}]
