name: Run macro, script and visual tests
on: [push]
env:
  RUNNING_ON_CI: true
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
jobs:
  run-tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: yarn install
      - name: Run macro and script tests
        run: yarn test
      - name: Create Slack notification
        if: always()
        uses: edge/simple-slack-notify@master
        with:
          channel: '#pat-lib-notifications'
          status: ${{ job.status }}
          success_text: 'The build completed successfully'
          failure_text: 'The build failed'
          cancelled_text: 'The build was cancelled'
          fields: |
            [{ "title": "Action", "value": "${env.GITHUB_WORKFLOW} - build (${env.GITHUB_RUN_NUMBER})", "short": true },
            { "title": "Repository", "value": "${env.GITHUB_REPOSITORY}", "short": true },
            { "title": "By", "value": "${{ github.actor }}", "short": true },
            { "title": "Branch", "value": "${{ github.head_ref }}", "short": true },
            { "title": "View job", "value": "${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/actions/runs/${env.GITHUB_RUN_ID}"}]
