{% macro onsRelatedLinks(params) %}
  {% from "components/lists/_macro.njk" import onsList %}
  <div class="related-links">
    <h2 class="related-links__title u-fs-r--b u-mb-xs" id="{{ params.id }}">{{ params.title }}</h2>
    <nav class="related-links__navigation" aria-labelledby="{{ params.id }}">
      {{ 
          onsList({
              "element": 'ul',
              "classes": 'list--bare',
              "itemsList": params.itemsList
          }) 
      }}
    </nav>
  </div>
{% endmacro %}
