---
title: Related links
---
Documentation required

{% from "views/partials/example/_macro.njk" import patternlibExample %}

## Related links - default
{{
    patternlibExample({"path": "components/related-links/examples/related-links/index.njk"})
}}

## Related links - census
{{
    patternlibExample({"path": "components/related-links/examples/related-links-census/index.njk"})
}}

## Design System forum 
[Discuss 'Related links' on GitHub](https://github.com/ONSdigital/design-system/issues/718)
