input {
  &::placeholder {
    color: $color-placeholder;
    font-weight: 400;
  }
  &:focus {
    &::placeholder {
      color: darken($color-placeholder, 20%);
    }
  }
}

fieldset,
legend {
  padding: 0;
  margin: 0;
  border: none;
}

fieldset {
  width: 100%;
}

input {
  box-sizing: border-box;
}

::-webkit-inner-spin-button {
  display: none;
}

input[type='text'],
input[type='number'] {
  appearance: none;
}

select {
  option[disabled][value=''] {
    display: none;
  }
}
