table {
  width: 100%;
  margin-bottom: 20px;
}

table th {
  text-align: left;
}

table > thead {
  border-bottom: 2px solid $color-light-grey;
}

th,
td {
  padding: 15px 0;
  word-wrap: normal;
  line-height: 1;
  vertical-align: top;
  border-bottom: thin solid $color-light-grey;
}
