{% from "components/skip-to-content/_macro.njk" import onsSkipToContent %}
{% from "components/header/_macro.njk" import onsHeader %}
{% from "components/footer/_macro.njk" import onsFooter %}
{% set currentLanguageIsoCode = "en" %}

{% if pageConfig and pageConfig.header.language and pageConfig.header.language.languages %}
    {% set currentLanguage = pageConfig.header.language.languages | selectattr("current") | first %}
    {% set currentLanguageIsoCode = currentLanguage.isoCode %}
    {% set otherLanguage = pageConfig.header.language.languages | rejectattr("current") | first %}
    {% set otherLanguageIsoCode = otherLanguage.isoCode %}
{% endif %}

{% if pageConfig.cdn or release_version or designSystemVersion %}
    {# Production #}
    {% set cdnUrl = (pageConfig.cdn.url if pageConfig.cdn and pageConfig.cdn.url) or "https://cdn.ons.gov.uk/sdc/design-system" %}
    {%
        set slash = "" if cdnUrl | last == "/" else
        "/"
    %}
    {% set assetsUrl = cdnUrl + slash + ((pageConfig.cdn.version if pageConfig.cdn and pageConfig.cdn.version) or release_version or designSystemVersion) %}
{% elif pageConfig.assetsUrl %}
    {# Runner Dev #}
    {% set assetsUrl = pageConfig.assetsUrl %}
{% else %}
    {# Development #}
    {% set assetsUrl = "" %}
{% endif %}

{% if pageConfig and pageConfig.title %}
    {% set pageTitle = pageConfig.title %}
{% elif page and page.title %}
    {% set pageTitle = page.title %}
{% else %}
    {% set pageTitle = "ONS Design System" %}
{% endif %}

{# Page container #}
{% if pageConfig.fullWidth %}
    {% set containerClasses = ' ' + 'ons-container--full-width' %}
{% elif pageConfig.wide %}
    {% set containerClasses = ' ' + 'ons-container--wide' %}
{% elif pageConfig.containerClasses %}
    {% set containerClasses = ' ' + pageConfig.containerClasses %}
{% endif %}

{# Page columns #}
{% set pageColNumber = pageConfig.pageColNumber | default("12") %}
{%
    set pageColClasses = ' ' + pageConfig.pageColClasses if pageConfig.pageColClasses else
    ''
%}
{%
    set mainColClasses = ' ' + pageConfig.mainColClasses if pageConfig.mainColClasses else
    ''
%}
{%
    set themeColor = pageConfig.themeColor if pageConfig.themeColor else
    "#206095"
%}
<!doctype html>
<html lang="{{ currentLanguageIsoCode }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="{{ assetsUrl }}/css/main.css" />
        <link rel="stylesheet" media="print" href="{{ assetsUrl }}/css/print.css" />
        <meta name="theme-color" content="{{ themeColor }}" />
        {% block meta %}
            {% if pageConfig.meta %}
                {% if pageConfig.meta.description or pageConfig.description %}
                    <meta name="description" content="{{ pageConfig.meta.description | default(pageConfig.description) }}" />
                {% endif %}

                <!-- Canonical -->
                <link rel="canonical" href="{{ pageConfig.meta.canonicalUrl | default(pageConfig.absoluteUrl) }}" />

                {% if pageConfig.meta.hrefLangs %}
                    {% for item in pageConfig.meta.hrefLangs %}
                        <link rel="alternate" href="{{ item.url }}" hreflang="{{ item.lang }}" />
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block social %}
            <!-- Open Graph -->
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ pageConfig.meta.canonicalUrl | default(pageConfig.absoluteUrl) }}" />
            <meta property="og:title" content="{{ pageConfig.title }}" />
            <meta property="og:image" content="{{ assetsUrl }}/favicons/opengraph.png" />
            <meta property="og:image:type" content="image/png" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
            <meta property="og:description" content="{{ pageConfig.meta.description | default(pageConfig.description) }}" />
            <meta property="og:site_name" content="{{ pageConfig.header.title | default(pageConfig.title) }}" />
            <meta property="og:locale" content="{{ currentLanguageIsoCode }}" />

            {% if otherLanguageIsoCode %}
                <meta property="og:locale:alternate" content="{{ otherLanguageIsoCode }}" />
            {% endif %}

            {% if pageConfig.social %}
                {%
                    set xImagePath = pageConfig.social.xImage if pageConfig.social.xImage else
                    assetsUrl + '/favicons/x.png'
                %}
                <!-- X -->
                <meta name="twitter:card" content="summary" />
                <meta name="twitter:site" content="{{ pageConfig.social.xSite }}" />
                <meta name="twitter:url" content="{{ pageConfig.meta.canonicalUrl | default(pageConfig.absoluteUrl) }}" />
                <meta name="twitter:title" content="{{ pageConfig.social.title | default(pageConfig.title) }}" />
                <meta name="twitter:description" content="{{ pageConfig.social.description | default(pageConfig.description) }}" />
                <meta name="twitter:image" content="{{ xImagePath }}" />
            {% endif %}
        {% endblock %}

        {% block favicons %}
            <!-- Favicons -->
            <link rel="icon" type="image/x-icon" href="{{ assetsUrl }}/favicons/favicon.ico" />
            <link rel="icon" type="image/png" href="{{ assetsUrl }}/favicons/favicon-32x32.png" sizes="32x32" />
            <link rel="icon" type="image/png" href="{{ assetsUrl }}/favicons/favicon-16x16.png" sizes="16x16" />
            <link rel="mask-icon" href="{{ assetsUrl }}/favicons/safari-pinned-tab.svg" color="#000000" />
            <link rel="apple-touch-icon" type="image/png" href="{{ assetsUrl }}/favicons/apple-touch-icon.png" sizes="180x180" />
            <link rel="manifest" href="{{ assetsUrl }}/favicons/manifest.json" />
        {% endblock %}

        {% block head %}
        {% endblock %}
    </head>
    <body {% if pageConfig.bodyClasses %}class="{{ pageConfig.bodyClasses }}"{% endif %}>
        <!-- prettier-ignore-start -->
        <script {% if pageConfig.cspNonce %}nonce="{{ pageConfig.cspNonce }}"{% elif pageConfig.cspNonce is not defined and csp_nonce %}nonce="{{ csp_nonce() }}"{% endif %}>document.body.className = ((document.body.className) ? document.body.className + ' ons-js-enabled' : 'ons-js-enabled');</script>
        <!-- prettier-ignore-end -->
        {% block bodyStart %}{% endblock %}
        {% block body %}
            <div class="ons-page">
                <div class="ons-page__content">
                    {% block preHeader %}{% endblock %}
                    {% block skipLink %}
                        {{
                            onsSkipToContent({
                                "url": "#main-content",
                                "text": "Skip to main content"
                            })
                        }}
                    {% endblock %}
                    {% block announcementBanner %}
                        {% if pageConfig.announcementBanner %}
                            {% from "components/announcement-banner/_macro.njk" import onsAnnouncementBanner %}
                            {{
                                onsAnnouncementBanner({
                                    "variants": pageConfig.announcementBanner.variants,
                                    "title": pageConfig.announcementBanner.title,
                                    "description": pageConfig.announcementBanner.description,
                                    "link": pageConfig.announcementBanner.link
                                })
                            }}
                        {% endif %}
                    {% endblock %}
                    {% block header %}
                        {{
                            onsHeader({
                                "wide": pageConfig.wide,
                                "fullWidth": pageConfig.fullWidth,
                                "language": pageConfig.header.language,
                                "button": pageConfig.header.signoutButton,
                                "toggleNavigationButton": pageConfig.header.toggleNavigationButton,
                                "navigation": pageConfig.header.navigation,
                                "siteSearchAutosuggest": pageConfig.header.siteSearchAutosuggest,
                                "browserBanner": pageConfig.header.browserBanner,
                                "phase": pageConfig.header.phase,
                                "serviceLinks": pageConfig.header.serviceLinks,
                                "variants": pageConfig.header.variants,
                                "classes": pageConfig.header.classes,
                                "mastheadLogo": pageConfig.header.mastheadLogo,
                                "mastheadLogoUrl": pageConfig.header.mastheadLogoUrl,
                                "titleUrl": pageConfig.header.titleUrl,
                                "title": pageConfig.header.title | default(pageConfig.title),
                                "description": pageConfig.header.description,
                                "titleAsH1": pageConfig.header.titleAsH1,
                                "titleLogo": pageConfig.header.titleLogo,
                                "mastheadLogoAltText": pageConfig.header.mastheadLogoAltText,
                                "menuLinks": pageConfig.header.menuLinks,
                                "searchLinks": pageConfig.header.searchLinks
                            })
                        }}
                    {% endblock %}
                    {% block pageContent %}
                        <div class="ons-page__container ons-container{{ containerClasses }}">
                            {% block preMain %}
                                {% if pageConfig.breadcrumbs %}
                                    {% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
                                    {{
                                        onsBreadcrumbs({
                                            "id": pageConfig.breadcrumbs.id,
                                            "ariaLabel": pageConfig.breadcrumbs.ariaLabel,
                                            "itemsList": pageConfig.breadcrumbs.itemsList
                                        })
                                    }}
                                {% endif %}
                            {% endblock %}
                            <div class="ons-grid">
                                <div class="ons-grid__col ons-col-{{ pageColNumber }}@m{{ pageColClasses }}">
                                    <main id="main-content" class="ons-page__main{{ mainColClasses }}">
                                        {% block main %}{% endblock %}
                                    </main>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
                {% block preFooter %}{% endblock %}
                {% block footer %}
                    {% if pageConfig.footer %}
                        {{
                            onsFooter({
                                "wide": pageConfig.wide,
                                "fullWidth": pageConfig.fullWidth,
                                "classes": "ons-page__footer",
                                "lang": currentLanguageIsoCode,
                                "rows": pageConfig.footer.rows,
                                "cols": pageConfig.footer.cols,
                                "footerLogo": pageConfig.footer.footerLogo,
                                "crest": pageConfig.footer.crest,
                                "oglLink": pageConfig.footer.oglLink,
                                "button": pageConfig.header.signoutButton,
                                "footerWarning": pageConfig.footer.footerWarning,
                                "copyrightDeclaration": pageConfig.footer.copyrightDeclaration,
                                "newTabWarning": pageConfig.footer.newTabWarning,
                                "legal": pageConfig.footer.legal
                            })
                        }}
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block bodyEnd %}{% endblock %}

        <!-- prettier-ignore-start -->
        <script {% if pageConfig.cspNonce %}nonce="{{ pageConfig.cspNonce }}"{% elif pageConfig.cspNonce is not defined and csp_nonce %}nonce="{{ csp_nonce() }}"{% endif %}>
            (function() {
                var s = [ '{{ assetsUrl }}/scripts/main.js' ],
                c = document.createElement('script');

                if (!('noModule' in c)) {
                    for (var i = 0; i < s.length; i++) {
                        s[i] = s[i].replace('.js', '.es5.js');
                    }
                }

                for (var i = 0; i < s.length; i++) {
                    var e = document.createElement('script');

                    e.src = s[i];

                    document.body.appendChild(e);
                }
            })();
        </script>
        <!-- prettier-ignore-end -->

        {% block scripts %}
        {% endblock %}
    </body>
</html>
