{% from "styles/lists/src/_macro.njk" import onsList %}
{{ 
    onsList({
        "classes": 'list--bare',
        "items": [
            {
                "href": '#',
                "text": 'Who we are',
                target: '_blank'
            },
            {
                "href": '#',
                "text": 'What we do'
            },
            {
                "href": '#',
                "text": 'Where to find us'
            }
        ]
    }) 
}}
