{% from "components/field/src/_macro.njk" import onsField %}
{% from "components/label/src/_macro.njk" import onsLabel %}
{% from "components/checkboxes/src/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/input/src/_macro.njk" import onsInput %}

{% call onsField() %}
    {{
        onsLabel({
            "for": params.id,
            "text": params.label.text,
            "description": params.label.description,
            "classes": params.label.classes
        })
    }}
    {{
        onsCheckbox({
            "id": "show-password-toggle",
            "classes": "js-password-toggle-wrap checkbox--toggle u-d-no",
            "name": "show-password",
            "label": {
                "text": params.showPasswordText,
                "classes": "js-password-toggle"
            }
        })
    }}
    {{
        onsInput({
            "id": params.id,
            "type": "password",
            "classes": "u-mt-xs js-password",
            "noField": true
        })
    }}
{% endcall %}
