{% from "components/breadcrumb/src/_macro.njk" import onsBreadcrumb %}
{{ 
    onsBreadcrumb({
        "ariaLabel": 'Breadcrumb',
        "items": [
            {
                "url": '/',
                "text": 'Home'
            },
            {
                "url": '/components',
                "text": 'Components'
            },
            {
                "url": '/components/breadcrumbs',
                "text": 'Breadcrumbs',
                "current": true
            }
        ]
    }) 
}}
