---
"theme": census
"fullWidth": true
---
{% from "components/hero/_macro.njk" import onsHero %}
{{ 
    onsHero({
        darkTheme: true,
        title: 'We count',
        subtitle: 'Make it count. Take part in the census rehearsal.',
        text: '<a href="#">Check if you live in a rehearsal area.</a>',
        button: {
            url: '#',
            text: 'Start your census'
        }
    })
}}
