---
"fullWidth": true
"theme": ids
---
{% from "components/hero/_macro.njk" import onsHero %}
{{
    onsHero({
        "variants": ['dark'],
        "detailsColumns": '6',
        "title": 'Data at your fingertips',
        "button": {
            "text": "Start now",
            "url": "#0"
        },
        "subtitle": 'Bringing together ready-to-use data to enable faster and wider collaborative analysis for the public good'
    })
}}
